Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

feat(#1317): Smart sandbox routing Monty -> Docker -> E2B (#1580)
  src/nexus/core/nexus_fs.py
  src/nexus/sandbox/__init__.py
  src/nexus/sandbox/sandbox_manager.py
  src/nexus/sandbox/sandbox_monty_provider.py
  src/nexus/sandbox/sandbox_provider.py
  src/nexus/sandbox/sandbox_router.py
  src/nexus/sandbox/sandbox_router_metrics.py
  src/nexus/server/fastapi_server.py
  tests/e2e/test_sandbox_routing_e2e.py
  tests/e2e/test_sandbox_routing_server_e2e.py
  tests/integration/sandbox/test_sandbox_router_integration.py
  tests/unit/sandbox/test_monty_execution.py
  tests/unit/sandbox/test_sandbox_router.py
Due: check-file-size, check-type-ignore

refactor(#1459): Phase 9-10 — extract consistency modules and flatten inheritance
  src/nexus/services/permissions/consistency/__init__.py
  src/nexus/services/permissions/consistency/revision.py
  src/nexus/services/permissions/consistency/zone_manager.py
  src/nexus/services/permissions/rebac_manager_enhanced.py
  src/nexus/services/permissions/rebac_manager_zone_aware.py
  tests/unit/core/test_cross_zone_sharing.py
  tests/unit/services/permissions/consistency/__init__.py
  tests/unit/services/permissions/consistency/test_revision.py
  tests/unit/services/permissions/consistency/test_zone_manager.py
  tests/unit/services/permissions/test_rebac_manager_snapshot.py
Due: check-file-size, check-type-ignore

refactor(#1459): extract zone-aware traversal + bulk checker from Enhanced manager
  src/nexus/services/permissions/batch/__init__.py
  src/nexus/services/permissions/batch/bulk_checker.py
  src/nexus/services/permissions/graph/__init__.py
  src/nexus/services/permissions/graph/zone_traversal.py
  src/nexus/services/permissions/rebac_manager_enhanced.py
Due: check-file-size, check-type-ignore

refactor(#1459): Phases 11-14 — extract Tiger facade, directory expander, bulk evaluator
  src/nexus/services/permissions/cache/tiger/__init__.py
  src/nexus/services/permissions/cache/tiger/facade.py
  src/nexus/services/permissions/directory/__init__.py
  src/nexus/services/permissions/directory/expander.py
  src/nexus/services/permissions/graph/__init__.py
  src/nexus/services/permissions/graph/bulk_evaluator.py
  src/nexus/services/permissions/rebac_manager_enhanced.py
Due: check-file-size, check-type-ignore

feat(#1271): Agent Delegation API with NS derivation and delegated identity
  src/nexus/delegation/__init__.py
  src/nexus/delegation/derivation.py
  src/nexus/delegation/errors.py
  src/nexus/delegation/models.py
  src/nexus/delegation/service.py
  src/nexus/server/api/v2/routers/delegation.py
  src/nexus/server/api/v2/versioning.py
  src/nexus/storage/models/__init__.py
  src/nexus/storage/models/agents.py
  tests/integration/delegation/__init__.py
  tests/integration/delegation/test_delegation_e2e.py
  tests/integration/delegation/test_delegation_full_e2e.py
  tests/integration/delegation/test_delegation_lifecycle.py
  tests/unit/delegation/__init__.py
  tests/unit/delegation/test_derivation.py
  tests/unit/delegation/test_service.py
Due: check-file-size, check-type-ignore

fix(#1459): remove unused type-ignore comments in bulk_checker (mypy CI)
  src/nexus/services/permissions/batch/bulk_checker.py
Due: check-file-size, check-type-ignore

feat(#1520): Complete SearchBrickProtocol DI, over-fetch config, and test suites
  src/nexus/search/async_search.py
  src/nexus/search/daemon.py
  src/nexus/search/semantic.py
  src/nexus/search/vector_db.py
  tests/unit/search/test_async_search.py
  tests/unit/search/test_search_protocol.py
Due: check-file-size, check-type-ignore

fix(#899): add assert for mypy rebac_manager narrowing
  src/nexus/core/permissions.py
Due: check-file-size, check-type-ignore

fix(#1305): namespace-scoped FUSE operations — security hardening + comprehensive tests
  tests/unit/core/test_namespace_manager.py
Due: check-type-ignore

fix(#1271): add DelegationRecordModel to EXPECTED_MODELS manifest
  tests/unit/storage/test_model_imports.py
Due: check-type-ignore

fix(#1519): cross-mount listing, glob absolute paths, E2E test hardening
  dockerfiles/docker-compose.cross-platform-test.yml
  src/nexus/core/nexus_fs_search.py
  src/nexus/raft/zone_aware_metadata.py
  src/nexus/services/search_service.py
  tests/e2e/test_federation_e2e.py
Due: check-file-size, check-type-ignore

refactor(#1387): Replace NexusFS mixin composition with service delegation (#1559)
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_llm.py
  src/nexus/core/nexus_fs_mcp.py
  src/nexus/core/nexus_fs_mounts.py
  src/nexus/core/nexus_fs_oauth.py
  src/nexus/core/nexus_fs_search.py
  src/nexus/core/nexus_fs_share_links.py
  src/nexus/core/nexus_fs_skills.py
  src/nexus/core/nexus_fs_tasks.py
  src/nexus/services/permissions/nexus_fs_rebac.py
  tests/unit/core/test_list_dir_parallel.py
  tests/unit/core/test_nexus_fs_mounts_refactoring.py
  tests/unit/core/test_nexus_fs_oauth.py
  tests/unit/core/test_nexus_fs_oauth_mixin.py
  tests/unit/core/test_rebac.py
  tests/unit/services/permissions/test_nexus_fs_rebac_behavior.py
  tests/unit/services/test_oauth_service.py
  tests/unit/services/test_protocol_compliance.py
Due: check-file-size, check-type-ignore

feat(#1241): transactional event log — DBOS-inspired outbox pattern
  alembic/versions/add_delivered_col_oplog.py
  src/nexus/factory.py
  src/nexus/fuse/operations.py
  src/nexus/ipc/storage/postgresql_driver.py
  src/nexus/server/api/v1/routers/events.py
  src/nexus/server/api/v1/versioning.py
  src/nexus/services/event_log/__init__.py
  src/nexus/services/event_log/delivery_worker.py
  src/nexus/services/event_log/factory.py
  src/nexus/services/event_log/pg_backend.py
  src/nexus/services/event_log/protocol.py
  src/nexus/services/protocols/event_log.py
  src/nexus/storage/models/operation_log.py
  tests/integration/test_transactional_event_log.py
  tests/unit/core/test_event_log_protocol.py
  tests/unit/core/test_namespace_manager.py
  tests/unit/services/test_event_delivery_worker.py
  tests/unit/storage/test_record_store_syncer.py
Due: check-file-size, check-type-ignore

fix(#1459): use atomic INSERT OR IGNORE for SQLite version token (race condition)
  src/nexus/services/permissions/consistency/revision.py
Due: check-file-size, check-type-ignore

feat(#1271): Agent Delegation API — NS Derivation + Delegated Identity (#1583)
  src/nexus/delegation/__init__.py
  src/nexus/delegation/derivation.py
  src/nexus/delegation/errors.py
  src/nexus/delegation/models.py
  src/nexus/delegation/service.py
  src/nexus/server/api/v2/routers/delegation.py
  src/nexus/server/api/v2/versioning.py
  src/nexus/storage/models/__init__.py
  src/nexus/storage/models/agents.py
  tests/integration/delegation/__init__.py
  tests/integration/delegation/test_delegation_e2e.py
  tests/integration/delegation/test_delegation_full_e2e.py
  tests/integration/delegation/test_delegation_lifecycle.py
  tests/unit/delegation/__init__.py
  tests/unit/delegation/test_derivation.py
  tests/unit/delegation/test_service.py
  tests/unit/storage/test_model_imports.py
Due: check-file-size, check-type-ignore

chore(#1462): code hygiene — centralize URLs, remove stale TODOs, delete dead stubs
  src/nexus/a2a/agent_card.py
  src/nexus/a2a/router.py
  src/nexus/cli/commands/search.py
  src/nexus/constants.py
  src/nexus/core/agent_provisioning.py
  src/nexus/core/nexus_fs.py
  src/nexus/llm/metrics.py
  src/nexus/portability/export_service.py
  src/nexus/remote/client.py
  src/nexus/search/zoekt_client.py
  src/nexus/server/auth/auth_routes.py
  src/nexus/server/auth/database_local.py
  src/nexus/server/auth/oauth_factory.py
  src/nexus/server/auth/token_manager.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/protocol.py
  src/nexus/server/telemetry.py
  src/nexus/services/oauth_service.py
  src/nexus/services/permissions/rebac_manager.py
  src/nexus/services/protocols/oauth.py
  src/nexus/services/rebac_service.py
  src/nexus/services/skill_service.py
  tests/unit/a2a/test_a2a_brick_isolation.py
Due: check-file-size, check-type-ignore

fix(#899): resolve CI failures — missing rebac_check_bulk on mocks + root ancestor
  src/nexus/core/permissions.py
  tests/unit/core/test_list_dir_parallel.py
  tests/unit/core/test_permission_enforcer_admin_capabilities.py
  tests/unit/core/test_permission_enforcer_virtual_paths.py
  tests/unit/core/test_rebac_security.py
Due: check-file-size, check-type-ignore

feat(#1304): continuous benchmarking with per-PR regression detection
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
  pyproject.toml
  tests/benchmarks/bench_event_log_wal.py
  tests/benchmarks/conftest.py
  tests/benchmarks/test_async_permission_performance.py
  tests/benchmarks/test_core_operations.py
  tests/benchmarks/test_search_benchmarks.py
Due: check-type-ignore

fix(#997): resolve CI lint and test failures
  tests/unit/server/test_token_rotation.py
  tests/unit/storage/test_domain_models.py
  tests/unit/storage/test_model_imports.py
  tests/unit/storage/test_secrets_audit_logger.py
Due: check-type-ignore

refactor(#1459): Phases 9-14 — decompose ReBAC enhanced manager (#1561)
  src/nexus/services/permissions/batch/__init__.py
  src/nexus/services/permissions/batch/bulk_checker.py
  src/nexus/services/permissions/cache/tiger/__init__.py
  src/nexus/services/permissions/cache/tiger/facade.py
  src/nexus/services/permissions/consistency/__init__.py
  src/nexus/services/permissions/consistency/revision.py
  src/nexus/services/permissions/consistency/zone_manager.py
  src/nexus/services/permissions/directory/__init__.py
  src/nexus/services/permissions/directory/expander.py
  src/nexus/services/permissions/graph/__init__.py
  src/nexus/services/permissions/graph/bulk_evaluator.py
  src/nexus/services/permissions/graph/zone_traversal.py
  src/nexus/services/permissions/rebac_manager_enhanced.py
  src/nexus/services/permissions/rebac_manager_zone_aware.py
  tests/unit/core/test_cross_zone_sharing.py
  tests/unit/services/permissions/consistency/__init__.py
  tests/unit/services/permissions/consistency/test_revision.py
  tests/unit/services/permissions/consistency/test_zone_manager.py
  tests/unit/services/permissions/test_rebac_manager_snapshot.py
Due: check-file-size, check-type-ignore

fix(#1304): handle missing gh-pages branch in benchmark CI
  .github/workflows/benchmark.yml
Due: none

fix(#1317): review improvements — DRY wiring, thread-safety, sticky-up-only, tests
  pyproject.toml
  src/nexus/core/nexus_fs.py
  src/nexus/sandbox/sandbox_manager.py
  src/nexus/sandbox/sandbox_router.py
  src/nexus/server/fastapi_server.py
  tests/e2e/test_sandbox_routing_e2e.py
  tests/e2e/test_sandbox_routing_server_e2e.py
  tests/integration/sandbox/test_sandbox_router_integration.py
  tests/unit/sandbox/test_escalation_error_paths.py
  tests/unit/sandbox/test_sandbox_manager.py
  tests/unit/sandbox/test_sandbox_router.py
Due: check-file-size, check-type-ignore

chore(#1462): code hygiene — centralize URLs, remove stale TODOs, delete dead stubs (#1578)
  src/nexus/a2a/agent_card.py
  src/nexus/a2a/router.py
  src/nexus/cli/commands/search.py
  src/nexus/constants.py
  src/nexus/core/agent_provisioning.py
  src/nexus/core/nexus_fs.py
  src/nexus/llm/metrics.py
  src/nexus/portability/export_service.py
  src/nexus/remote/client.py
  src/nexus/search/zoekt_client.py
  src/nexus/server/auth/auth_routes.py
  src/nexus/server/auth/database_local.py
  src/nexus/server/auth/oauth_factory.py
  src/nexus/server/auth/token_manager.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/protocol.py
  src/nexus/server/telemetry.py
  src/nexus/services/oauth_service.py
  src/nexus/services/permissions/rebac_manager.py
  src/nexus/services/protocols/oauth.py
  src/nexus/services/rebac_service.py
  src/nexus/services/skill_service.py
  tests/unit/a2a/test_a2a_brick_isolation.py
Due: check-file-size, check-type-ignore

refactor(#1519): fix architecture contract violations from commit review
  .pre-commit-hooks/check_file_size.py
  src/nexus/core/filesystem.py
  src/nexus/core/nexus_fs.py
  src/nexus/sandbox/sandbox_manager.py
  src/nexus/services/memory/memory_api.py
  src/nexus/services/memory/memory_with_paging.py
  src/nexus/skills/protocols.py
  tests/e2e/test_memory_paging_e2e.py
  tests/integration/test_temporal_queries.py
  tests/unit/core/test_memory_api.py
  tests/unit/core/test_memory_append_only.py
  tests/unit/core/test_memory_importance_decay.py
  tests/unit/core/test_memory_point_in_time.py
  tests/unit/core/test_memory_versioning.py
Due: check-file-size, check-type-ignore

feat(#1241): transactional event log — DBOS-inspired outbox pattern (#1582)
  alembic/versions/add_delivered_col_oplog.py
  src/nexus/factory.py
  src/nexus/fuse/operations.py
  src/nexus/ipc/storage/postgresql_driver.py
  src/nexus/server/api/v1/routers/events.py
  src/nexus/server/api/v1/versioning.py
  src/nexus/services/event_log/__init__.py
  src/nexus/services/event_log/delivery_worker.py
  src/nexus/services/event_log/factory.py
  src/nexus/services/event_log/pg_backend.py
  src/nexus/services/event_log/protocol.py
  src/nexus/services/protocols/event_log.py
  src/nexus/storage/models/operation_log.py
  tests/integration/test_transactional_event_log.py
  tests/unit/core/test_event_log_protocol.py
  tests/unit/services/test_event_delivery_worker.py
  tests/unit/storage/test_record_store_syncer.py
Due: check-file-size, check-type-ignore

fix(#1317): isolate test providers from CI auto-discovery
  tests/unit/sandbox/test_escalation_error_paths.py
Due: check-type-ignore

feat(#1304): continuous benchmarking with per-PR regression detection (#1592)
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
  pyproject.toml
  tests/benchmarks/bench_event_log_wal.py
  tests/benchmarks/conftest.py
  tests/benchmarks/test_async_permission_performance.py
  tests/benchmarks/test_core_operations.py
  tests/benchmarks/test_search_benchmarks.py
Due: check-type-ignore

fix(#899): relax deprovision test assertion for macOS platform differences
  tests/unit/core/test_deprovision_user.py
Due: check-type-ignore

fix(#1317): Review improvements — DRY wiring, thread-safety, sticky-up-only, tests (#1593)
  pyproject.toml
  src/nexus/core/nexus_fs.py
  src/nexus/sandbox/sandbox_manager.py
  src/nexus/sandbox/sandbox_router.py
  src/nexus/server/fastapi_server.py
  tests/e2e/test_sandbox_routing_e2e.py
  tests/e2e/test_sandbox_routing_server_e2e.py
  tests/integration/sandbox/test_sandbox_router_integration.py
  tests/unit/sandbox/test_escalation_error_paths.py
  tests/unit/sandbox/test_sandbox_manager.py
  tests/unit/sandbox/test_sandbox_router.py
Due: check-file-size, check-type-ignore

fix(#899): raise batch threshold to depth > 3 to avoid macOS SQLite race
  src/nexus/core/permissions.py
  tests/unit/core/test_batch_ancestor_resolution.py
Due: check-file-size, check-type-ignore

fix(#899): simplify deprovision dir count assertion for cross-platform
  tests/unit/core/test_deprovision_user.py
Due: check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
