Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix: add runner failure context
  nexus-bench/src/runner.rs
Due: none

fix: harden nexus bench review gates
  .github/workflows/nexus-bench.yml
  nexus-bench/src/cli.rs
  nexus-bench/src/target/mount.rs
Due: none

fix: validate rename trace destination paths
  nexus-bench/src/trace.rs
Due: none

docs: design connector package isolation pilot
  docs/superpowers/specs/2026-05-05-issue-3964-connector-package-isolation-design.md
Due: none

test: pin connector package metadata discovery
  tests/extensions/test_store.py
Due: check-type-ignore

docs: plan connector package isolation pilot
  docs/superpowers/plans/2026-05-06-issue-3964-connector-package-isolation.md
Due: none

test: isolate connector metadata discovery cleanup
  tests/extensions/test_store.py
Due: check-type-ignore

test: align slack manifest deps after develop merge
  src/nexus/backends/connectors/slack/_manifest.py
  src/nexus/extensions/_index/extensions.json
  tests/extensions/test_store.py
  tests/integration/backends/test_factory_dep_check.py
Due: check-file-size, check-type-ignore

docs: align connector entry point example
  docs/superpowers/specs/2026-05-05-issue-3964-connector-package-isolation-design.md
Due: none

test: restore optional backend import state
  tests/integration/backends/test_factory_dep_check.py
Due: check-type-ignore

feat: add metadata manifest for s3 connector
  src/nexus/backends/connectors/s3/__init__.py
  src/nexus/backends/connectors/s3/_manifest.py
Due: check-file-size, check-type-ignore

feat: add metadata manifest for slack connector
  src/nexus/backends/connectors/slack/_manifest.py
  tests/extensions/test_store.py
Due: check-file-size, check-type-ignore

chore: refresh extension index for connector manifests
  src/nexus/extensions/_index/extensions.json
Due: none

test: assert slim base lacks optional connector deps
  tests/integration/slim/test_slim_install_smoke.py
Due: check-type-ignore

test: cover slim connector metadata without extras
  tests/integration/slim/test_slim_install_smoke.py
Due: check-type-ignore

test: pin connector dependency hints for s3 and slack
  tests/integration/backends/test_factory_dep_check.py
Due: check-type-ignore

docs(#3875): design Kubernetes Helm hub deployment
  docs/superpowers/specs/2026-05-04-issue-3875-helm-hub-design.md
Due: none

docs(#3875): plan Kubernetes Helm hub deployment
  docs/superpowers/plans/2026-05-04-issue-3875-helm-hub.md
Due: none

feat(#3875): add nexus-hub chart skeleton
  charts/nexus-hub/Chart.yaml
  charts/nexus-hub/templates/_helpers.tpl
  charts/nexus-hub/values.yaml
Due: none

feat(#3875): add chart postgres and redis services
  .pre-commit-config.yaml
  charts/nexus-hub/templates/postgres-secret.yaml
  charts/nexus-hub/templates/postgres-service.yaml
  charts/nexus-hub/templates/postgres-statefulset.yaml
  charts/nexus-hub/templates/redis-deployment.yaml
  charts/nexus-hub/templates/redis-service.yaml
Due: none

feat(#3875): add nexus hub workloads to chart
  charts/nexus-hub/templates/mcp-frontend-deployment.yaml
  charts/nexus-hub/templates/mcp-frontend-service.yaml
  charts/nexus-hub/templates/nexus-deployment.yaml
  charts/nexus-hub/templates/nexus-service.yaml
Due: none

feat(#3875): add ingress and monitoring chart options
  charts/nexus-hub/README.md
  charts/nexus-hub/templates/NOTES.txt
  charts/nexus-hub/templates/ingress.yaml
  charts/nexus-hub/templates/podmonitor.yaml
Due: none

docs(#3875): add Kubernetes hub deployment guide
  docs/hub-deploy-k8s.md
  mkdocs.yml
Due: none

feat(#3875): expose nexus profile env in chart workloads
  charts/nexus-hub/templates/mcp-frontend-deployment.yaml
  charts/nexus-hub/templates/nexus-deployment.yaml
Due: none

fix(#3875): use Kubernetes health probes in hub chart
  charts/nexus-hub/README.md
  charts/nexus-hub/templates/nexus-deployment.yaml
  charts/nexus-hub/values.yaml
  docs/hub-deploy-k8s.md
Due: none

fix(#3875): harden hub chart startup in Kubernetes
  charts/nexus-hub/README.md
  charts/nexus-hub/templates/nexus-deployment.yaml
  charts/nexus-hub/values.yaml
  docs/hub-deploy-k8s.md
Due: none

fix(#3875): reject persistent multi-replica hub pods
  charts/nexus-hub/README.md
  charts/nexus-hub/templates/nexus-deployment.yaml
  charts/nexus-hub/values.yaml
  docs/hub-deploy-k8s.md
Due: none

Fix Docker stack event loop stalls
  Dockerfile
  dockerfiles/compose.yaml
  nexus-stack.yml
  src/nexus/bricks/task_manager/dispatch_consumer.py
  src/nexus/cli/commands/init_cmd.py
  src/nexus/cli/commands/stack.py
  src/nexus/cli/data/nexus-stack.yml
  src/nexus/cli/port_utils.py
  src/nexus/server/debug_stacks.py
  src/nexus/server/fastapi_server.py
  src/nexus/services/event_log/delivery.py
  src/nexus/services/lifecycle/workflow_dispatch_service.py
  src/nexus/task_manager/dispatch_consumer.py
  tests/unit/bricks/search/test_skeleton_pipe_consumer.py
  tests/unit/cli/test_init_cmd.py
  tests/unit/cli/test_port_utils.py
  tests/unit/cli/test_stack.py
  tests/unit/services/test_event_delivery_worker.py
  tests/unit/services/test_workflow_dispatch.py
  tests/unit/task_manager/test_dispatch_consumer.py
Due: check-file-size, check-type-ignore

test(e2e): WAL DT_STREAM/PIPE cross-node replication smoke (task #21)
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

feat(kernel): add sys_watch to KernelAbi trait
  rust/kernel/src/abi.rs
  rust/kernel/src/core/dispatch/mod.rs
Due: none

docs: update sys_watch description after KernelAbi + FileWatchRegistry
  docs/architecture/KERNEL-ARCHITECTURE.md
  docs/architecture/syscall-design.md
Due: none

chore(cdylib): bump sudocode rev to PR#119 (sys_watch condvar)
  Cargo.lock
  rust/nexus-cdylib/Cargo.toml
Due: none

feat: add nexus io observability foundation
  docs/operations/nexus-io-observability.md
  docs/superpowers/plans/2026-05-07-issue-4062-observability-foundation.md
  docs/superpowers/specs/2026-05-07-issue-4062-observability-foundation-design.md
  nexus-fuse/benches/fuse_operations.rs
  nexus-fuse/src/cache.rs
  nexus-fuse/src/client.rs
  nexus-fuse/src/daemon.rs
  nexus-fuse/src/fs.rs
  nexus-fuse/src/lib.rs
  nexus-fuse/src/main.rs
  nexus-fuse/src/metrics.rs
  nexus-fuse/tests/error_handling_test.rs
  nexus-fuse/tests/integration_test.rs
  nexus-fuse/tests/metrics_test.rs
  nexus-fuse/tests/minimal_http_test.rs
  observability/grafana/provisioning/dashboards/nexus-io-observability.json
  src/nexus/core/nexus_fs_content.py
  src/nexus/factory/adapters.py
  src/nexus/lib/io_metrics.py
  src/nexus/services/io_metrics.py
  tests/integration/services/test_io_metrics_endpoint.py
  tests/unit/core/test_nexus_fs_content_metrics.py
  tests/unit/services/test_io_metrics.py
  tests/unit/services/test_io_metrics_docs.py
Due: check-file-size, check-type-ignore

docs: plan remote hub admin cli
  docs/superpowers/plans/2026-05-04-issue-3872-remote-hub-admin-cli.md
Due: none

feat: add remote hub admin cli
  src/nexus/__init__.py
  src/nexus/bricks/mcp/server.py
  src/nexus/cli/commands/_hub_remote.py
  src/nexus/cli/commands/hub.py
  src/nexus/hub/__init__.py
  src/nexus/hub/admin_ops.py
  src/nexus/server/_rpc_param_overrides.py
  src/nexus/server/rpc/dispatch.py
  src/nexus/server/rpc/handlers/hub_admin.py
  tests/unit/bricks/mcp/test_hub_admin_tools.py
  tests/unit/cli/test_hub_remote.py
  tests/unit/hub/test_admin_ops.py
  tests/unit/server/rpc/handlers/test_hub_admin.py
Due: check-file-size, check-type-ignore

docs: design remote hub admin cli
  docs/superpowers/specs/2026-05-04-issue-3872-remote-hub-admin-cli-design.md
Due: none

fix: support static auth remote hub admin
  src/nexus/grpc/servicer.py
  src/nexus/hub/admin_ops.py
  src/nexus/server/rpc/handlers/hub_admin.py
  tests/unit/grpc/test_servicer_error_mapping.py
  tests/unit/server/rpc/handlers/test_hub_admin.py
Due: check-file-size, check-type-ignore

fix: unblock hub admin stack validation
  nexus-stack.yml
  src/nexus/factory/adapters.py
  tests/unit/cli/test_stack.py
  tests/unit/factory/test_adapters.py
  tests/unit/server/api/core/test_health.py
Due: check-file-size, check-type-ignore

fix(ci): align workflow Python setup with 3.14
  .github/workflows/demo-memory.yml
  .github/workflows/docs.yml
  .github/workflows/test-health.yml
Due: none

fix(slim): include prometheus client dependency
  packages/nexus-fs/pyproject.toml
  tests/integration/slim/test_slim_wheel_contents.py
Due: check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
