Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix: remove double-canonicalize bug in IPC metastore integration
  rust/nexus_kernel/src/kernel.rs
Due: none

fix: simplify DLC by removing _backend_pool — resolve_backend scans mount_table
  src/nexus/core/driver_lifecycle_coordinator.py
Due: check-file-size, check-type-ignore

feat: Rust IPC registry + per-mount metastore (Phase 0-3)
  rust/nexus_kernel/src/generated_pyo3.rs
  rust/nexus_kernel/src/kernel.rs
  rust/nexus_kernel/src/pipe.rs
  rust/nexus_kernel/src/stream.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/ipc_waiter.py
  src/nexus/core/mount_table.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

fix: remove #[pyclass] from RingBufferCore/StreamBufferCore (Phase 6)
  rust/nexus_kernel/src/kernel.rs
  rust/nexus_kernel/src/lib.rs
  rust/nexus_kernel/src/pipe.rs
  rust/nexus_kernel/src/stream.rs
  src/nexus/core/kernel_exports.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

feat(Phase 4): wire Python IPC to Rust kernel + IPCWaiter blocking
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_ipc.py
Due: check-file-size, check-type-ignore

fix: add metastore + dcache integration to IPC create/destroy lifecycle
  rust/nexus_kernel/src/kernel.rs
Due: none

feat(Phase 5): kernel_mount/kernel_unmount + DLC uses kernel_unmount
  rust/nexus_kernel/src/generated_pyo3.rs
  rust/nexus_kernel/src/kernel.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/driver_lifecycle_coordinator.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

fix: migrate DedupWorkQueue to kernel IPC + rewrite tests for Rust IPC
  src/nexus/core/nexus_fs.py
  src/nexus/services/lifecycle/dedup_work_queue.py
  tests/benchmarks/bench_pipe_syscall_overhead.py
  tests/benchmarks/bench_write_observer.py
  tests/unit/core/test_pipe.py
  tests/unit/core/test_pipe_dispatch.py
  tests/unit/core/test_stream.py
  tests/unit/services/test_dedup_work_queue.py
  tests/unit/services/test_workflow_dispatch.py
Due: check-file-size, check-type-ignore

fix: delete PipeManager/StreamManager, remove double-write in sys_setattr
  src/nexus/backends/compute/openai_compatible.py
  src/nexus/bricks/task_manager/dispatch_consumer.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_ipc.py
  src/nexus/core/pipe_manager.py
  src/nexus/core/stream_manager.py
  src/nexus/factory/_system.py
  src/nexus/factory/_wired.py
  src/nexus/server/lifespan/services.py
  src/nexus/server/lifespan/services_container.py
  src/nexus/services/acp/service.py
  src/nexus/services/lifecycle/workflow_dispatch_service.py
  src/nexus/storage/piped_record_store_write_observer.py
  src/nexus/task_manager/dispatch_consumer.py
Due: check-file-size, check-type-ignore

fix: delete MemoryPipeBackend/MemoryStreamBackend + migrate DedupWorkQueue to asyncio.Queue
  src/nexus/_rust_compat.py
  src/nexus/core/pipe.py
  src/nexus/core/stream.py
  src/nexus/services/lifecycle/dedup_work_queue.py
  tests/unit/core/test_architectural_tier_placement.py
Due: check-file-size, check-type-ignore

fix: add cooperative cancellation to IPC blocking read (AtomicBool + 100ms poll)
  rust/nexus_kernel/src/kernel.rs
  rust/nexus_kernel/src/pipe_manager.rs
  rust/nexus_kernel/src/stream_manager.rs
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor(ipc): delete bind_pipe_manager + LifespanServices.pipe_manager
  src/nexus/server/lifespan/services_container.py
  src/nexus/services/acp/service.py
  tests/unit/server/lifespan/test_lifespan_services.py
  tests/unit/services/test_acp_service.py
Due: check-file-size, check-type-ignore

refactor(ipc): add Tier 2 public sync NexusFS pipe/stream methods
  src/nexus/backends/compute/openai_compatible.py
  src/nexus/contracts/types.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/remote_watcher.py
  src/nexus/services/acp/service.py
  src/nexus/services/lifecycle/dedup_work_queue.py
  src/nexus/services/lifecycle/workflow_dispatch_service.py
  src/nexus/storage/piped_record_store_write_observer.py
  src/nexus/task_manager/dispatch_consumer.py
  tests/benchmarks/bench_write_observer.py
  tests/unit/backends/test_openai_compat.py
  tests/unit/core/test_pipe_consumers.py
  tests/unit/services/test_workflow_dispatch.py
Due: check-file-size, check-type-ignore

test(ipc): update mocks for Rust kernel pipe primitives
  tests/unit/backends/test_openai_compat.py
  tests/unit/core/test_architectural_tier_placement.py
  tests/unit/core/test_pipe_consumers.py
  tests/unit/core/test_pipe_dispatch.py
  tests/unit/services/test_workflow_dispatch.py
Due: check-type-ignore

Revert "ci(temp): disable xdist + add per-test 30s timeout for debugging"
  .github/workflows/test.yml
Due: none

ci(temp): disable xdist + add per-test 30s timeout for debugging
  .github/workflows/test.yml
Due: none

Revert "fix: add cooperative cancellation to IPC blocking read (AtomicBool + 100ms poll)"
  rust/nexus_kernel/src/kernel.rs
  rust/nexus_kernel/src/pipe_manager.rs
  rust/nexus_kernel/src/stream_manager.rs
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor(ipc): delete dead PipeWakeup chain (~650 lines)
  src/nexus/bricks/ipc/__init__.py
  src/nexus/bricks/ipc/delivery.py
  src/nexus/bricks/ipc/protocols.py
  src/nexus/bricks/ipc/provisioning.py
  src/nexus/bricks/ipc/registry.py
  src/nexus/bricks/ipc/wakeup.py
  src/nexus/lib/pipe_wakeup.py
  src/nexus/server/api/v2/routers/ipc.py
  src/nexus/server/lifespan/ipc.py
  tests/e2e/self_contained/test_ipc_integration.py
  tests/unit/bricks/ipc/fakes.py
  tests/unit/bricks/ipc/test_delivery.py
  tests/unit/bricks/ipc/test_pipe_wakeup_util.py
  tests/unit/bricks/ipc/test_provisioning.py
  tests/unit/server/routers/test_ipc_router.py
Due: check-file-size, check-type-ignore

test(rpc-parity): exempt Tier 2 IPC pipe/stream sync passthroughs
  tests/unit/server/test_rpc_parity.py
Due: check-type-ignore

fix(mount): backfill pre-existing MountTable entries into Rust kernel router
  src/nexus/core/mount_table.py
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

feat(tui): TerminalGuard — 60×24 minimum size with responsive sidebar (#3501)
  packages/nexus-tui/src/app.tsx
  packages/nexus-tui/src/shared/app-keybindings.ts
  packages/nexus-tui/src/shared/components/side-nav-utils.ts
  packages/nexus-tui/src/shared/components/side-nav.tsx
  packages/nexus-tui/src/shared/components/status-bar.tsx
  packages/nexus-tui/src/shared/components/terminal-guard.tsx
  packages/nexus-tui/src/shared/terminal-dimensions.ts
  packages/nexus-tui/tests/shared/app-keybindings.test.ts
  packages/nexus-tui/tests/shared/side-nav-utils.test.ts
  packages/nexus-tui/tests/shared/terminal-dimensions.test.ts
  packages/nexus-tui/tests/shared/terminal-guard-render.test.tsx
Due: none

fix(tui): sync SideNav render tests with centralized terminal signal
  packages/nexus-tui/tests/shared/side-nav-render.test.tsx
Due: none

chore(ipc): clean up PipeManager leftovers from PR #3671
  docs/guides/user-guide.md
  src/nexus/cli/data/nexus-stack.yml
  src/nexus/core/pipe.py
  src/nexus/factory/zoekt_pipe_consumer.py
  src/nexus/server/lifespan/services.py
  src/nexus/storage/write_observer_hooks.py
  src/nexus/task_manager/dispatch_consumer.py
Due: check-file-size, check-type-ignore

fix(tui): SideNavItem reactive mode + SSE duplicate handler guard
  packages/nexus-tui/src/shared/components/side-nav.tsx
  packages/nexus-tui/src/stores/sse-bus.ts
  packages/nexus-tui/tests/stores/sse-bus.test.ts
Due: none

feat(tui): §2 Worker thread isolation — WorkerManager + WorkerFetchClient
  packages/nexus-tui/src/index.tsx
  packages/nexus-tui/src/stores/global-store.ts
  packages/nexus-tui/src/worker/protocol.ts
  packages/nexus-tui/src/worker/worker-client.ts
  packages/nexus-tui/src/worker/worker-manager.ts
  packages/nexus-tui/src/worker/worker-rpc.ts
  packages/nexus-tui/tests/stores/worker-client.test.ts
  packages/nexus-tui/tests/stores/worker-manager.test.ts
  packages/nexus-tui/tests/stores/worker-sse-integration.test.ts
Due: none

fix(api-client): walk past git worktree .git files in config discovery
  packages/nexus-api-client/src/config.ts
Due: none

ci(codegen): enforce kernel ABI codegen sync in CI + simplify pre-commit
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
Due: none

fix: disable UPX compression to improve startup speed
  pyinstaller_spec_cluster.py
Due: check-file-size, check-type-ignore

perf: switch PyInstaller to onedir mode for faster startup
  pyinstaller_spec_cluster.py
Due: check-file-size, check-type-ignore

chore(release): bump version to v0.9.29
  packages/nexus-api-client/package.json
  packages/nexus-tui/package.json
  pyproject.toml
  rust/nexus_kernel/Cargo.toml
  rust/nexus_kernel/pyproject.toml
Due: none

fix: resolve PyInstaller COLLECT path conflict in onedir mode
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: add exclude_binaries=True to EXE for correct onedir mode
  .github/workflows/pyinstaller-cluster.yml
  pyinstaller_spec_cluster.py
Due: check-file-size, check-type-ignore

refactor: adapt workflow for onedir output format
  .github/workflows/pyinstaller-cluster.yml
Due: none

rename: change binary name from nexus-cluster to nexusd
  .github/workflows/pyinstaller-cluster.yml
  pyinstaller_spec_cluster.py
Due: check-file-size, check-type-ignore

fix: address Codex review findings on batch search + save failure
  src/nexus/bricks/search/txtai_backend.py
  src/nexus/server/api/v2/routers/search.py
Due: check-file-size, check-type-ignore

feat: all-PostgreSQL txtai + batch search + SQL sanitization
  benchmarks/longmemeval/preindex_incremental.py
  benchmarks/longmemeval/run_retrieval.py
  nexus-stack.yml
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/txtai_backend.py
  src/nexus/server/api/v2/routers/search.py
Due: check-file-size, check-type-ignore

fix: txtai pgvector persistence, batching, and graph search
  .gitignore
  benchmarks/longmemeval/preindex.py
  benchmarks/longmemeval/run_retrieval.py
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/graph_search_service.py
  src/nexus/bricks/search/txtai_backend.py
Due: check-file-size, check-type-ignore

fix: serialize pgvector search with writes on shared txtai session
  src/nexus/bricks/search/txtai_backend.py
Due: check-file-size, check-type-ignore

fix(mypy): annotate batch_search backend return to silence no-any-return
  src/nexus/bricks/search/daemon.py
Due: check-file-size, check-type-ignore
