Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

feat(#2897): delegation manager (namespace editor) + enhanced permission checker
  packages/nexus-tui/src/panels/access/access-panel.tsx
  packages/nexus-tui/src/panels/access/delegation-chain-view.tsx
  packages/nexus-tui/src/panels/access/delegation-completer.tsx
  packages/nexus-tui/src/panels/access/delegation-creator.tsx
  packages/nexus-tui/src/panels/access/permission-checker.tsx
  packages/nexus-tui/src/stores/access-store.ts
  packages/nexus-tui/tests/stores/access-store.test.ts
Due: none

fix(#2897): prevent createDelegation from masking POST success on GET failure
  packages/nexus-tui/src/panels/access/delegation-creator.tsx
  packages/nexus-tui/src/stores/access-store.ts
  packages/nexus-tui/tests/stores/access-store.test.ts
Due: none

Clarify optional nexus_fast source build
  docs/guides/user-guide.md
Due: none

Tighten source build instructions for nexus_fast
  docs/guides/user-guide.md
Due: none

feat(#2897): server-side evaluation trace + namespace config endpoint
  packages/nexus-tui/src/panels/access/access-panel.tsx
  packages/nexus-tui/src/panels/access/namespace-config-view.tsx
  packages/nexus-tui/src/panels/access/permission-checker.tsx
  packages/nexus-tui/src/stores/access-store.ts
  packages/nexus-tui/tests/stores/access-store.test.ts
  src/nexus/bricks/access_manifest/evaluator.py
  src/nexus/bricks/access_manifest/service.py
  src/nexus/contracts/access_manifest_types.py
  src/nexus/server/api/v2/routers/access_manifests.py
  src/nexus/server/api/v2/routers/delegation.py
Due: check-file-size, check-type-ignore

Fix Rust packaging and release publishing
  .github/workflows/release.yml
  README.md
  docs/getting-started/quickstart.md
  pyproject.toml
  rust/nexus_pyo3/Cargo.toml
  rust/nexus_pyo3/INTEGRATION.md
  rust/nexus_pyo3/README.md
  rust/nexus_pyo3/pyproject.toml
  scripts/local-demo.sh
  src/nexus/bricks/rebac/utils/fast.py
  src/nexus/core/hash_fast.py
  tests/unit/test_packaging_metadata.py
Due: check-file-size, check-type-ignore

fix(#2897): namespace auth, trace semantics, namespace editor
  packages/nexus-tui/src/panels/access/access-panel.tsx
  packages/nexus-tui/src/panels/access/namespace-config-view.tsx
  packages/nexus-tui/src/stores/access-store.ts
  packages/nexus-tui/tests/stores/access-store.test.ts
  src/nexus/bricks/access_manifest/evaluator.py
  src/nexus/bricks/delegation/service.py
  src/nexus/server/api/v2/routers/delegation.py
Due: check-file-size, check-type-ignore

Fix nexus-fast packaging metadata
  README.md
  docs/getting-started/quickstart.md
  pyproject.toml
  rust/nexus_pyo3/INTEGRATION.md
  rust/nexus_pyo3/README.md
  src/nexus/core/hash_fast.py
  tests/unit/test_packaging_metadata.py
Due: check-file-size, check-type-ignore

fix(#2897): namespace editor materializes grants + validates prefix
  packages/nexus-tui/src/panels/access/namespace-config-view.tsx
  src/nexus/bricks/delegation/service.py
  src/nexus/server/api/v2/routers/delegation.py
Due: check-file-size, check-type-ignore

Add CLI path troubleshooting for missing commands
  docs/guides/user-guide.md
Due: none

feat(#1580): kernel auto-manages service lifecycle — four-quadrant one-click
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/core/nexus_fs.py
  src/nexus/server/lifespan/__init__.py
  src/nexus/system_services/lifecycle/service_lifecycle_coordinator.py
  tests/unit/services/test_service_lifecycle_coordinator.py
Due: check-file-size, check-type-ignore

fix(#2897): atomic namespace updates + full editor with item removal
  packages/nexus-tui/src/panels/access/namespace-config-view.tsx
  src/nexus/bricks/delegation/service.py
Due: check-file-size, check-type-ignore

fix(#2897): make tuple snapshot round-trippable for compensation
  src/nexus/bricks/delegation/service.py
  src/nexus/bricks/rebac/manager.py
Due: check-file-size, check-type-ignore

Clarify HTTP and gRPC port split for remote use
  docs/guides/user-guide.md
Due: none

fix(#2897): use safe row access in list_tuples for SQLite compat
  src/nexus/bricks/rebac/manager.py
Due: check-file-size, check-type-ignore

Fix CLI local workspace env isolation
  src/nexus/cli/utils.py
  tests/unit/cli/test_utils.py
Due: check-file-size, check-type-ignore

chore: update docstring to trigger CI
  src/nexus/system_services/lifecycle/service_lifecycle_coordinator.py
Due: check-file-size, check-type-ignore

test(#2897): raise api-client coverage from 71% to 97%
  packages/nexus-api-client/tests/fetch-client.test.ts
  packages/nexus-api-client/tests/sse-client.test.ts
Due: none

fix(ci): exclude nexus-pay E2E tests from CI coverage run
  packages/nexus-pay-ts/package.json
  packages/nexus-pay-ts/vitest.config.ts
Due: none

Speed up remote CLI startup
  src/nexus/__init__.py
  src/nexus/cli/commands/__init__.py
  src/nexus/cli/commands/directory.py
  src/nexus/cli/commands/file_ops.py
  src/nexus/cli/commands/inspect.py
  src/nexus/cli/commands/search.py
  src/nexus/cli/main.py
  src/nexus/core/router.py
  src/nexus/storage/remote_metastore.py
  tests/unit/cli/test_cli_quickstart.py
  tests/unit/core/test_router.py
  tests/unit/storage/test_remote_metastore.py
  tests/unit/test_connect_quickstart.py
Due: check-file-size, check-type-ignore

Fix lazy CLI tool export
  src/nexus/cli/export_tools.py
Due: check-file-size, check-type-ignore

fix: RemoteMetastore.list() sends path="" for root — breaks nexus ls /
  src/nexus/core/nexus_fs.py
  src/nexus/storage/remote_metastore.py
Due: check-file-size, check-type-ignore

fix(#1580): add aclose() to INTERNAL_ONLY_METHODS for RPC parity check
  tests/unit/server/test_rpc_parity.py
Due: check-type-ignore
