Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

feat(task-manager): add audit trail, unified history, SSE live updates, and LLM dispatch
  .pre-commit-hooks/check_brick_imports.py
  src/nexus/__init__.py
  src/nexus/bricks/task_manager/__init__.py
  src/nexus/bricks/task_manager/dispatch_consumer.py
  src/nexus/bricks/task_manager/events.py
  src/nexus/bricks/task_manager/service.py
  src/nexus/bricks/task_manager/write_hook.py
  src/nexus/factory/orchestrator.py
  src/nexus/server/api/v2/routers/task_manager.py
  src/nexus/server/api/v2/versioning.py
  src/nexus/server/app_state.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/lifespan/services.py
  src/nexus/server/static/task_manager.html
  tests/e2e/server/test_task_manager_e2e.py
Due: check-file-size, check-type-ignore

fix(#193): delete dead PersistentNamespaceViewModel ORM — cache belongs in CacheStore
  src/nexus/storage/models/__init__.py
  src/nexus/storage/models/persistent_namespace_view.py
  tests/unit/storage/test_model_imports.py
Due: check-file-size, check-type-ignore

fix(task-manager): rewrite dispatch to VFS syscalls, DT_STREAM SSE, cross-platform hooks
  .pre-commit-config.yaml
  src/nexus/bricks/task_manager/__init__.py
  src/nexus/bricks/task_manager/dispatch_consumer.py
  src/nexus/bricks/task_manager/events.py
  src/nexus/bricks/task_manager/service.py
  src/nexus/bricks/task_manager/write_hook.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/orchestrator.py
  src/nexus/security/secret_file.py
  src/nexus/server/api/v2/routers/task_manager.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/lifespan/services.py
Due: check-file-size, check-type-ignore

feat(#1590): fix async grep tool and write-back service await calls
  src/nexus/bricks/mcp/server.py
  src/nexus/system_services/sync/write_back_service.py
Due: check-file-size, check-type-ignore

feat(#1590): fix async test fixtures and mocks for all unit tests
  src/nexus/bricks/mcp/tool_utils.py
  tests/unit/auth/test_protocols.py
  tests/unit/bricks/mcp/test_mcp_server_tools.py
  tests/unit/bricks/mount/test_mount_core_service.py
  tests/unit/core/test_mount_permissions.py
  tests/unit/core/test_nexus_fs_mounts.py
  tests/unit/core/test_nexus_fs_mounts_optimization.py
  tests/unit/core/test_nexus_fs_mounts_refactoring.py
  tests/unit/core/test_nexus_fs_rebac_mixin.py
  tests/unit/core/test_rebac_manager_operations.py
  tests/unit/core/test_share_permission_security.py
  tests/unit/factory/test_adapters.py
  tests/unit/fuse/conftest.py
  tests/unit/fuse/test_metadata_handler.py
  tests/unit/fuse/test_rust_client.py
  tests/unit/services/test_search_service.py
  tests/unit/services/test_share_link_service.py
  tests/unit/storage/test_operation_log.py
Due: check-file-size, check-type-ignore

feat(#1590): fix E2E self-contained tests for async syscalls
  tests/e2e/self_contained/mcp/test_mcp_server_integration.py
  tests/e2e/self_contained/mcp/test_tool_namespace_integration.py
  tests/e2e/self_contained/test_dual_write_consistency.py
  tests/e2e/self_contained/test_trigram_search_integration.py
  tests/e2e/self_contained/test_write_back_integration.py
Due: check-type-ignore

feat(#1590): fix async issues in benchmark test files for pytest-benchmark compatibility
  tests/benchmarks/conftest.py
  tests/benchmarks/test_core_operations.py
  tests/benchmarks/test_service_delegation.py
Due: check-type-ignore

feat(#1590): convert CLI commands to sync def + asyncio.run() pattern
  src/nexus/cli/commands/directory.py
  src/nexus/cli/commands/file_ops.py
  src/nexus/cli/commands/search.py
  tests/unit/cli/test_commands_smoke.py
  tests/unit/cli/test_demo.py
  tests/unit/cli/test_dry_run.py
  tests/unit/cli/test_utils.py
Due: check-file-size, check-type-ignore

feat(#1590): update tool_utils docstring for async support
  src/nexus/bricks/mcp/tool_utils.py
Due: check-file-size, check-type-ignore

feat(#1590): fix remaining async test failures — mount, MCP, services, core
  src/nexus/cli/commands/init_cmd.py
  src/nexus/contracts/protocols/search.py
  tests/unit/bricks/mcp/test_discovery_namespace.py
  tests/unit/bricks/mcp/test_mcp_server.py
  tests/unit/bricks/mcp/test_mcp_server_tools.py
  tests/unit/bricks/mcp/test_tool_utils.py
  tests/unit/bricks/search/test_indexing_service.py
  tests/unit/core/test_embedded.py
  tests/unit/core/test_mount_directory_creation.py
  tests/unit/core/test_mount_permissions.py
  tests/unit/core/test_nexus_fs_core.py
  tests/unit/core/test_nexus_fs_mounts.py
  tests/unit/services/test_agent_service.py
  tests/unit/test_connect_quickstart.py
Due: check-file-size, check-type-ignore

fix(#191): migrate ReBACVersionSequenceModel to MetastoreABC
  src/nexus/bricks/rebac/cache/tiger/bitmap_cache.py
  src/nexus/bricks/rebac/consistency/metastore_version_store.py
  src/nexus/bricks/rebac/consistency/revision.py
  src/nexus/bricks/rebac/directory/expander.py
  src/nexus/bricks/rebac/manager.py
  src/nexus/factory/_system.py
  src/nexus/storage/models/__init__.py
  src/nexus/storage/models/permissions.py
  tests/unit/storage/test_model_imports.py
Due: check-file-size, check-type-ignore

feat(#1590): fix grep test calls — await async nexus_grep + AsyncMock
  tests/e2e/self_contained/mcp/test_mcp_server_integration.py
  tests/unit/bricks/mcp/test_mcp_server_tools.py
Due: check-type-ignore

fix(#189): merge WorkspaceConfigModel into PathRegistrationModel with type discriminator
  src/nexus/bricks/workspace/workspace_registry.py
  src/nexus/lib/db_base.py
  src/nexus/server/api/v2/routers/workspace.py
  src/nexus/storage/models/__init__.py
  src/nexus/storage/models/infrastructure.py
  src/nexus/storage/models/path_registration.py
  src/nexus/system_services/lifecycle/sessions.py
  tests/unit/storage/test_model_imports.py
Due: check-file-size, check-type-ignore

feat(#1615,#1611): route service registration through coordinator + EventsService HotSwappable
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/orchestrator.py
  src/nexus/factory/service_routing.py
  src/nexus/system_services/lifecycle/events_service.py
  src/nexus/system_services/lifecycle/service_lifecycle_coordinator.py
  tests/unit/core/test_stream.py
  tests/unit/factory/test_retroactive_hook_specs.py
  tests/unit/services/test_events_service.py
Due: check-file-size, check-type-ignore

fix(#191): migrate TupleRepository version tracking from raw SQL to MetastoreVersionStore
  scripts/test-revision-cache.sh
  src/nexus/bricks/rebac/manager.py
  src/nexus/bricks/rebac/tuples/repository.py
  tests/e2e/self_contained/mcp/test_tool_namespace_integration.py
  tests/e2e/self_contained/test_persistent_view_store.py
  tests/e2e/server/test_agent_registry_pg_e2e.py
  tests/e2e/server/test_agent_registry_server.py
  tests/e2e/server/test_mcp_tool_namespace_e2e.py
  tests/unit/core/test_rebac_revision_cache.py
  tests/unit/services/permissions/consistency/test_revision.py
  tests/unit/services/permissions/graph/test_traversal_edge_cases.py
  tests/unit/services/permissions/test_rebac_manager_snapshot.py
  tests/unit/services/permissions/test_tuple_repository.py
Due: check-file-size, check-type-ignore

chore: add .mailmap to unify contributor identities
  .mailmap
Due: none
