Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

debug: disable xdist (-n0) to get traceback from Ubuntu crash
  .github/workflows/test.yml
Due: none

fix: restore -n auto + revert lease test (LeaseManager is still async)
  .github/workflows/test.yml
Due: none

debug: disable mimalloc to test if global allocator causes xdist crash
  rust/kernel/Cargo.toml
Due: none

debug: enable faulthandler + restore mimalloc for Ubuntu crash analysis
  .github/workflows/test.yml
  rust/kernel/Cargo.toml
Due: none

fix: use --timeout-method=signal for xdist on Linux
  .github/workflows/test.yml
Due: none

fix: increase test timeout 30s→60s for slow CI runners
  .github/workflows/test.yml
Due: none

fix: replace slow bytes generator with fast pattern in streaming copy test
  tests/unit/fs/test_streaming_copy.py
Due: check-type-ignore

fix(ci): disable gRPC TLS in E2E container
  .github/workflows/docker-publish.yml
Due: none

feat(#3718): markdown structure index — parse on write, partial reads by section/block
  pyproject.toml
  src/nexus/bricks/mcp/server.py
  src/nexus/bricks/parsers/md_structure.py
  src/nexus/bricks/parsers/md_structure_hook.py
  src/nexus/bricks/parsers/utils.py
  src/nexus/cli/commands/file_ops.py
  src/nexus/factory/orchestrator.py
  src/nexus/server/api/v2/routers/async_files.py
  tests/e2e/self_contained/mcp/test_md_structure_e2e.py
  tests/unit/bricks/parsers/__init__.py
  tests/unit/bricks/parsers/test_md_structure.py
  tests/unit/bricks/parsers/test_md_structure_hook.py
Due: check-file-size, check-type-ignore

fix(#3718): all section selectors fail closed — no full-doc fallback
  src/nexus/bricks/mcp/server.py
  src/nexus/server/api/v2/routers/async_files.py
Due: check-file-size, check-type-ignore

fix(#3718): streamed write guard, fail-closed section reads, CLI large file path
  src/nexus/bricks/mcp/server.py
  src/nexus/bricks/parsers/md_structure_hook.py
  src/nexus/cli/commands/file_ops.py
  src/nexus/server/api/v2/routers/async_files.py
  tests/e2e/self_contained/mcp/test_md_structure_e2e.py
  tests/unit/bricks/parsers/test_md_structure_hook.py
Due: check-file-size, check-type-ignore

fix(#3718): bypass stale cache when etag unavailable (connector paths)
  src/nexus/bricks/parsers/md_structure_hook.py
  src/nexus/server/api/v2/routers/async_files.py
Due: check-file-size, check-type-ignore

fix(#3718): address adversarial review — lazy rebuild, real etag, recursive AST walk
  src/nexus/bricks/mcp/server.py
  src/nexus/bricks/parsers/md_structure.py
  src/nexus/cli/commands/file_ops.py
  src/nexus/server/api/v2/routers/async_files.py
  tests/unit/bricks/parsers/test_md_structure.py
Due: check-file-size, check-type-ignore

fix(#3718): move markdown-it-pyrs to optional[performance] — CI compile fix
  pyproject.toml
Due: none

fix(#3718): mypy errors + sync API in E2E tests
  src/nexus/bricks/mcp/server.py
  src/nexus/cli/commands/file_ops.py
  src/nexus/server/api/v2/routers/async_files.py
  tests/e2e/self_contained/mcp/test_md_structure_e2e.py
Due: check-file-size, check-type-ignore

bench(#3705): write lock contention benchmark under concurrent agents
  tests/benchmarks/bench_write_lock_contention.py
Due: check-type-ignore

fix(grpc): make NEXUS_GRPC_TLS an override, preserve data-dir fallback
  src/nexus/__init__.py
  src/nexus/cli/commands/admin.py
  src/nexus/grpc/server.py
Due: check-file-size, check-type-ignore

fix(#3719): address Codex adversarial review findings
  src/nexus/bricks/search/chunking.py
  tests/unit/bricks/search/test_chunking.py
Due: check-file-size, check-type-ignore

feat(#3719): section-aware markdown chunking with heading context prepend
  src/nexus/bricks/search/chunking.py
  src/nexus/bricks/search/indexing.py
  src/nexus/factory/_semantic_search.py
  tests/integration/bricks/search/test_indexing_pipeline.py
  tests/unit/bricks/search/test_chunking.py
Due: check-file-size, check-type-ignore

fix(#3719): flat fence state machine + heading prefix cap (Codex R3)
  src/nexus/bricks/search/chunking.py
  tests/unit/bricks/search/test_chunking.py
Due: check-file-size, check-type-ignore

fix(#3719): fence close matching + frontmatter setext exclusion (Codex R2)
  src/nexus/bricks/search/chunking.py
  tests/unit/bricks/search/test_chunking.py
Due: check-file-size, check-type-ignore

fix(#3719): validate frontmatter YAML content, not just --- delimiters (Codex R4)
  src/nexus/bricks/search/chunking.py
  tests/unit/bricks/search/test_chunking.py
Due: check-file-size, check-type-ignore

fix(#3706): zone-scope validation in _list_iter_raw + paginated batch implicit-dir
  src/nexus/core/nexus_fs.py
  src/nexus/storage/raft_metadata_store.py
Due: check-file-size, check-type-ignore

fix(#3706): revert bisect implicit-dir heuristic + dcache-safe RustMetastoreProxy.list_iter
  src/nexus/core/metastore.py
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

docs(#3706): clarify list_iter scope — dcache bypass, not true streaming
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

fix(#3706): readdir latency at scale — N+1 perm checks, unbounded list, per-entry implicit-dir
  src/nexus/bricks/search/search_service.py
  src/nexus/core/nexus_fs.py
  tests/benchmarks/bench_permission_hotpath.py
  tests/benchmarks/bench_readdir_scale.py
  tests/unit/core/test_nexus_fs_delegation.py
Due: check-file-size, check-type-ignore

test(#3706): E2E tests for readdir scale fixes — 5K entries, HERB corpus, SearchService
  tests/e2e/self_contained/test_readdir_scale_e2e.py
Due: check-type-ignore

fix(#3706): bisect-based implicit-dir detection + wire _list_iter_raw streaming
  src/nexus/core/metastore.py
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

fix(grpc): server checks NEXUS_TLS_* env + nexus env clears stale TLS
  src/nexus/cli/state.py
  src/nexus/grpc/server.py
Due: check-file-size, check-type-ignore

fix(ci): seed demo workspace + review-loop TLS fixes
  .github/workflows/docker-publish.yml
  src/nexus/__init__.py
  src/nexus/cli/commands/admin.py
  src/nexus/cli/state.py
Due: check-file-size, check-type-ignore

fix(tls): OpenSSL layout + NEXUS_TLS_* only under explicit GRPC_TLS=true
  src/nexus/__init__.py
  src/nexus/grpc/server.py
Due: check-file-size, check-type-ignore

fix(tls): validate all 3 cert files before emitting TLS env
  src/nexus/cli/state.py
Due: check-file-size, check-type-ignore

fix(tls): split OpenSSL cert detection from ZoneManager's from_data_dir
  src/nexus/__init__.py
  src/nexus/cli/commands/admin.py
  src/nexus/grpc/server.py
  src/nexus/security/tls/config.py
Due: check-file-size, check-type-ignore

fix(tls): support OpenSSL cert layout + emit GRPC_TLS for config certs
  src/nexus/cli/state.py
  src/nexus/security/tls/config.py
Due: check-file-size, check-type-ignore

fix(tls): always export config cert paths, gate GRPC_TLS on file existence
  src/nexus/cli/state.py
Due: check-file-size, check-type-ignore

fix(#3708): eliminate FTS/embedding consumer race on document_chunks
  src/nexus/bricks/search/daemon.py
  tests/benchmarks/bench_consumer_race.py
Due: check-file-size, check-type-ignore

fix(ci): create nexus.yaml before demo init in E2E container
  .github/workflows/docker-publish.yml
Due: none

fix(tls): config-driven TLS uses OpenSSL layout, admin skips stale certs
  src/nexus/__init__.py
  src/nexus/cli/commands/admin.py
Due: check-file-size, check-type-ignore

feat(#3720): grep block_type filter for markdown files
  src/nexus/bricks/mcp/server.py
  src/nexus/bricks/parsers/md_structure.py
  src/nexus/bricks/parsers/md_structure_hook.py
  src/nexus/bricks/parsers/utils.py
  src/nexus/bricks/search/search_service.py
  src/nexus/cli/commands/search.py
  src/nexus/server/api/v2/routers/search.py
  tests/integration/server/api/v2/routers/test_search_http_grep_glob.py
  tests/integration/services/test_search_service.py
  tests/unit/bricks/mcp/test_mcp_server_tools.py
  tests/unit/bricks/parsers/test_md_structure.py
  tests/unit/bricks/parsers/test_md_structure_hook.py
Due: check-file-size, check-type-ignore

fix(#3707): gate both Zoekt and BM25S on zone isolation, allow root zone
  src/nexus/bricks/search/daemon.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
