Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(raft): share_subtree_core owns its leader precondition
  rust/raft/src/zone_manager.rs
Due: none

fix(test): zone_meta_store — add missing owner_id field
  rust/raft/src/zone_meta_store.rs
Due: none

refactor(cluster): drop run_share's redundant parent leader wait
  rust/profiles/cluster/src/main.rs
Due: none

docs: add api rpc surface coverage architecture
  docs/architecture/api-rpc-surface-coverage.html
  docs/index.md
  docs/paths/architecture.md
  mkdocs.yml
Due: none

revert: remove redb Durability::Eventual (defer pending bench evaluation)
  rust/kernel/benches/syscall_bench.rs
  rust/kernel/src/core/meta_store/mod.rs
Due: none

perf(kernel): redb Durability::Eventual + FileDescriptorTable for syscall fast path
  rust/backends/src/storage/local_connector.rs
  rust/backends/src/storage/path_local.rs
  rust/kernel/benches/syscall_bench.rs
  rust/kernel/src/abc/object_store.rs
  rust/kernel/src/core/fdt.rs
  rust/kernel/src/core/meta_store/mod.rs
  rust/kernel/src/core/mod.rs
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/mod.rs
  rust/kernel/src/lib.rs
  src/nexus/core/kernel_protocols.py
Due: check-file-size, check-type-ignore

fix: adapt bench + FDT to develop's batch syscall API and gen field
  rust/backends/src/storage/path_local.rs
  rust/kernel/benches/syscall_bench.rs
  rust/kernel/src/kernel/io.rs
Due: none

bench: add Nexus VFS vs host OS syscall benchmark (cluster profile)
  Cargo.lock
  rust/kernel/Cargo.toml
  rust/kernel/benches/syscall_bench.rs
  tests/benchmarks/bench_syscall_vs_os.py
Due: check-type-ignore

fix: remove backends dev-dep from kernel (breaks Docker witness build)
  Cargo.lock
  rust/kernel/Cargo.toml
  rust/kernel/benches/syscall_bench.rs
Due: none

docs: add FileDescriptorTable to KERNEL-ARCHITECTURE.md §4
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

fix: gate FDT with #[cfg(unix)] for Windows CI compatibility
  rust/kernel/src/core/fdt.rs
Due: none

fix: move bench backends dep to target.'cfg(unix)'.dev-dependencies
  rust/kernel/Cargo.toml
Due: none

refactor(codegen): delete zero-caller trie_len from PyO3 surface
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore

refactor(codegen): delete 2 zero-caller zone revision methods from PyO3 surface
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore

refactor(codegen): delete 8 zero-caller agent mutation methods from PyO3 surface
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore

refactor(codegen): delete list_pipes + list_streams from PyO3 surface
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  stubs/nexus_runtime/__init__.pyi
  tests/benchmarks/bench_pipe_syscall_overhead.py
  tests/unit/core/test_pipe.py
  tests/unit/core/test_pipe_dispatch.py
  tests/unit/core/test_stream.py
Due: check-file-size, check-type-ignore

refactor(skeleton_pipe_consumer): migrate destroy_pipe → sys_unlink
  src/nexus/bricks/search/skeleton_pipe_consumer.py
Due: check-file-size, check-type-ignore

refactor(nexus_fs): migrate pipe lifecycle to syscalls
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor(dedup_work_queue): migrate pipe I/O to syscalls
  src/nexus/services/lifecycle/dedup_work_queue.py
Due: check-file-size, check-type-ignore

refactor(nexus_fs): migrate stream lifecycle and I/O to syscalls
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor(codegen): delete pipe primitives from PyO3 surface
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore

refactor(audit_node): migrate stream_write_nowait → sys_write
  src/nexus/services/audit_node/service.py
Due: check-file-size, check-type-ignore

refactor: migrate has_mount callers → sys_stat + DT_MOUNT check
  src/nexus/bricks/mount/mount_service.py
  src/nexus/core/driver_lifecycle_coordinator.py
  src/nexus/core/nexus_fs_metadata.py
Due: check-file-size, check-type-ignore

docs(codegen): mark trie methods as kernel-internal
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  scripts/codegen_kernel_abi.py
Due: check-file-size, check-type-ignore

refactor: migrate kernel_unmount → sys_unlink + delete mount primitives
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/core/driver_lifecycle_coordinator.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore

refactor: migrate get_mount_points callers → get_top_level_mounts
  src/nexus/bricks/search/search_service.py
  src/nexus/core/driver_lifecycle_coordinator.py
  src/nexus/fs/_helpers.py
Due: check-file-size, check-type-ignore

refactor(codegen): delete stream primitives from PyO3 surface
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore

docs(codegen): reclassify zone revision methods as Tier 2
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  scripts/codegen_kernel_abi.py
Due: check-file-size, check-type-ignore

fix(test): migrate pipe tests to syscall API, fix DLC mock, skip mount perms without Rust
  tests/unit/core/test_driver_lifecycle_coordinator.py
  tests/unit/core/test_mount_permissions.py
  tests/unit/core/test_pipe.py
  tests/unit/core/test_pipe_dispatch.py
Due: check-type-ignore

fix(test): update test mocks to use syscall API after PyKernel boundary cleanup
  tests/unit/services/test_audit_node.py
  tests/unit/services/test_dedup_work_queue.py
  tests/unit/services/test_mount_service.py
Due: check-type-ignore

fix(test): restore pipe IPC primitives on PyO3 + fix DLC mount_points
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/core/driver_lifecycle_coordinator.py
  stubs/nexus_runtime/__init__.pyi
  tests/unit/core/test_driver_lifecycle_coordinator.py
  tests/unit/core/test_pipe.py
  tests/unit/core/test_pipe_dispatch.py
Due: check-file-size, check-type-ignore

fix(test): restore stream IPC primitives on PyO3 + fix rust_compat test
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  stubs/nexus_runtime/__init__.pyi
  tests/unit/core/test_rust_compat.py
Due: check-file-size, check-type-ignore

fix: DLC mount_points() use get_top_level_mounts not get_mount_points
  src/nexus/core/driver_lifecycle_coordinator.py
  tests/unit/core/test_driver_lifecycle_coordinator.py
Due: check-file-size, check-type-ignore

fix: revert _helpers.py and search_service.py to use get_mount_points
  src/nexus/bricks/search/search_service.py
  src/nexus/fs/_helpers.py
Due: check-file-size, check-type-ignore

fix: DLC mount_points() revert to get_mount_points + extract_zone_id
  src/nexus/core/driver_lifecycle_coordinator.py
  tests/unit/core/test_driver_lifecycle_coordinator.py
Due: check-file-size, check-type-ignore

fix: guard sys_stat().get() against None return in mount checks
  src/nexus/core/nexus_fs_metadata.py
Due: check-file-size, check-type-ignore

feat(#4161): merge logic preserves human-filled fields on re-extract
  scripts/surface_coverage/merge.py
  tests/architecture/test_merge.py
Due: check-file-size, check-type-ignore

scaffold(#4161): surface_coverage package + tests/architecture skeleton
  scripts/surface_coverage/__init__.py
  scripts/surface_coverage/templates/.gitkeep
  tests/architecture/__init__.py
  tests/architecture/conftest.py
Due: check-file-size, check-type-ignore

docs(spec): #4161 arch + surface coverage design
  docs/superpowers/specs/2026-05-16-issue-4161-arch-surface-coverage-design.md
Due: none

feat(#4161): surface coverage schema dataclasses + YAML I/O
  scripts/surface_coverage/schema.py
  tests/architecture/test_schema.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
