Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: rpc-parity, version-consistency

rpc-parity:
  name: RPC Parity Check
  entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
  language: system
  pass_filenames: false

version-consistency:
  name: Version Consistency Check
  entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
  language: system
  pass_filenames: false

add sandbox and fix latency
  tests/unit/core/test_sandbox_docker_provider.py
Due: none

add sandbox and fix latency (#392)
  docker/GETTING_STARTED.md
  docker/README.md
  docker/build.sh
  docker/nexus-runtime-dev.Dockerfile
  docker/nexus-runtime.Dockerfile
  docs/design/docker-sandbox-provider.md
  examples/cli/docker_sandbox_demo.sh
  src/nexus/cli/commands/sandbox.py
  src/nexus/core/filesystem.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_search.py
  src/nexus/core/permissions_enhanced.py
  src/nexus/core/sandbox_docker_provider.py
  src/nexus/core/sandbox_manager.py
  src/nexus/fuse/operations.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  src/nexus/server/rpc_server.py
  src/nexus/skills/protocols.py
  tests/unit/core/test_sandbox_docker_provider.py
  tests/unit/fuse/test_fuse_readdir_cache.py
  tests/unit/server/test_rpc_server.py
  tests/unit/skills/test_protocol_compatibility.py
Due: rpc-parity

Fix sandbox event loop issues and optimize mount verification
  docs/api/rpc-api.md
  src/nexus/core/sandbox_e2b_provider.py
Due: none

Release v0.5.3: Sandbox RPC integration and frontend improvements
  examples/langgraph/nexus_tools.py
  examples/langgraph/pyproject.toml
  pyproject.toml
  src/nexus/__init__.py
Due: version-consistency

Fix event loop issue in sandbox RPC methods
  src/nexus/core/nexus_fs.py
Due: rpc-parity

Add comprehensive Nexus filesystem system prompt to LangGraph agent
  examples/langgraph/react_agent.py
Due: none

Update system prompt and docs to match actual implemented tools
  examples/langgraph/react_agent.py
Due: none

Simplify system prompt and update dependencies
  examples/langgraph/react_agent.py
  uv.lock
Due: none

Hot-fix: Fix 'event loop is already running' error in RPC authentication
  examples/langgraph/react_agent.py
  src/nexus/server/rpc_server.py
Due: none

Fix event loop error: Always use ThreadPoolExecutor for async auth
  src/nexus/server/rpc_server.py
Due: none

feat: Docker sandbox with data science packages and improved timeouts
  demo.sh
  docker/nexus-runtime-dev.Dockerfile
  docker/nexus-runtime.Dockerfile
  examples/langgraph/README.md
  examples/langgraph/nexus_tools.py
  examples/langgraph/pyproject.toml
  examples/langgraph/react_agent.py
  src/nexus/core/filesystem.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/sandbox_docker_provider.py
  src/nexus/core/sandbox_e2b_provider.py
  src/nexus/core/sandbox_manager.py
  src/nexus/core/sandbox_provider.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  src/nexus/skills/protocols.py
Due: rpc-parity

Add Docker Compose orchestration with sandbox support
  .env.example
  DOCKER.md
  Dockerfile
  QUICKSTART.md
  docker-compose.demo.yml
  docker-entrypoint.sh
  docker-start.sh
  examples/langgraph/Dockerfile
  src/nexus/core/nexus_fs.py
Due: rpc-parity

Update .env.example with LangSmith configuration
  .env.example
Due: none

Support custom API keys from NEXUS_API_KEY environment variable
  docker-entrypoint.sh
Due: none

Path conditions:
  rpc-parity: any of: ^src/nexus/core/nexus_fs.*\.py$
  version-consistency: any of: ^(pyproject\.toml|src/nexus/__init__\.py)$
