Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

feat(raft,server): R20.15 — cluster_status PyO3 primitive + robust catchup gate
  rust/raft/src/pyo3_bindings.rs
  src/nexus/server/rpc/services/federation_rpc.py
  tests/e2e/docker/test_federation_e2e.py
Due: check-file-size, check-type-ignore

refactor(raft): R20.15 — applied_index as state-machine-owned atomic, kill shadow
  rust/raft/src/pyo3_bindings.rs
  rust/raft/src/raft/node.rs
  rust/raft/src/raft/state_machine.rs
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

docs(arch): R20.15 — document mount-routing SSOT/DRY gap found in read-path flake
  docs/architecture/mount-routing-ssot-gap.md
Due: none

test(e2e): R20.15 — harden _wait_raft_caught_up against unloaded-zone false positive
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

refactor(kernel): R20.16.0 — Arc<dyn ObjectStore> for MountEntry.backend
  rust/kernel/src/dlc.rs
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/mount_table.rs
  scripts/codegen_kernel_abi.py
Due: check-file-size, check-type-ignore

refactor(kernel,server,fuse): R20.16.8 — delete mount-level io_profile dead knob (Issue #1413 orphan)
  rust/kernel/src/dlc.rs
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/mount_table.rs
  scripts/codegen_kernel_abi.py
  src/nexus/bricks/mount/metastore_mount_store.py
  src/nexus/bricks/mount/mount_manager.py
  src/nexus/bricks/mount/mount_persist_service.py
  src/nexus/bricks/mount/mount_service.py
  src/nexus/cli/commands/mounts.py
  src/nexus/contracts/io_profile.py
  src/nexus/contracts/protocols/mount.py
  src/nexus/core/driver_lifecycle_coordinator.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/router.py
  src/nexus/fuse/operations.py
  src/nexus/fuse/ops/_shared.py
  src/nexus/fuse/ops/io_handler.py
  src/nexus/fuse/readahead.py
  src/nexus/lib/performance_tuning.py
  src/nexus/server/_rpc_params_generated.py
  src/nexus/storage/content_cache.py
  stubs/nexus_kernel/__init__.pyi
  tests/benchmarks/bench_dispatch_rust_vs_python.py
  tests/integration/connectors/test_schema_generator.py
  tests/integration/test_mount_io_profile.py
  tests/unit/core/test_driver_lifecycle_coordinator.py
  tests/unit/core/test_io_profile.py
  tests/unit/core/test_kernel_vfs_invariants.py
  tests/unit/core/test_nexus_fs_mounts.py
  tests/unit/core/test_pipe_dispatch.py
  tests/unit/core/test_router.py
  tests/unit/fuse/test_readahead.py
  tests/unit/storage/test_io_profile_cache_integration.py
Due: check-file-size, check-type-ignore

refactor(kernel,server,cli): R20.16.9 — delete mount-level readonly + admin_only dead knobs (YAGNI)
  rust/kernel/src/dlc.rs
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/mount_table.rs
  rust/kernel/src/replication.rs
  scripts/codegen_kernel_abi.py
  src/nexus/bricks/mount/metastore_mount_store.py
  src/nexus/bricks/mount/mount_manager.py
  src/nexus/bricks/mount/mount_persist_service.py
  src/nexus/bricks/mount/mount_service.py
  src/nexus/bricks/parsers/virtual_view_resolver.py
  src/nexus/bricks/versioning/version_service.py
  src/nexus/cli/commands/mounts.py
  src/nexus/config.py
  src/nexus/contracts/protocols/mount.py
  src/nexus/contracts/protocols/mount_persist.py
  src/nexus/core/driver_lifecycle_coordinator.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/protocols/vfs_router.py
  src/nexus/core/router.py
  src/nexus/fs/_tui/__init__.py
  src/nexus/server/_rpc_params_generated.py
  src/nexus/server/api/v2/routers/connectors.py
  src/nexus/server/rpc/handlers/filesystem.py
  src/nexus/services/gateway.py
  stubs/nexus_kernel/__init__.pyi
  tests/benchmarks/bench_read_write_overhead.py
  tests/integration/connectors/test_schema_generator.py
  tests/unit/core/protocols/test_vfs_router.py
  tests/unit/core/test_driver_lifecycle_coordinator.py
  tests/unit/core/test_kernel_vfs_invariants.py
  tests/unit/core/test_nexus_fs_mounts.py
  tests/unit/core/test_permission_enforcer.py
  tests/unit/core/test_permission_enforcer_virtual_paths.py
  tests/unit/core/test_pipe_dispatch.py
  tests/unit/core/test_router.py
  tests/unit/fs/test_tui.py
  tests/unit/services/test_gateway.py
  tests/unit/services/test_mount_service.py
Due: check-file-size, check-type-ignore

feat(kernel): R20.18.4 — procfs-style /__sys__/zones/ virtual namespace
  rust/kernel/src/kernel.rs
Due: none

feat(kernel): R20.18.2 — Kernel::init_federation_from_env scaffolding
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  scripts/codegen_kernel_abi.py
Due: check-file-size, check-type-ignore

feat(raft): R20.16.2 — mount_apply_cb on FullStateMachine; delete mount_event channel
  rust/raft/src/pyo3_bindings.rs
  rust/raft/src/raft/mod.rs
  rust/raft/src/raft/mount_event.rs
  rust/raft/src/raft/node.rs
  rust/raft/src/raft/state_machine.rs
  rust/raft/src/raft/zone_registry.rs
  src/nexus/factory/_lifecycle.py
  src/nexus/raft/zone_manager.py
Due: check-file-size, check-type-ignore

feat(kernel,raft): R20.18.3 — leader-side zone-create-on-mount
  rust/kernel/src/kernel.rs
  rust/raft/src/zone_manager.rs
Due: none

refactor(raft,kernel): R20.18.1 — extract pure-Rust ZoneManager + ZoneHandle
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/raft/src/lib.rs
  rust/raft/src/pyo3_bindings.rs
  rust/raft/src/raft/node.rs
  rust/raft/src/raft/state_machine.rs
  rust/raft/src/zone_handle.rs
  rust/raft/src/zone_manager.rs
  scripts/codegen_kernel_abi.py
Due: check-file-size, check-type-ignore

debug(kernel): R20.18.5 — tracing at MountTable::add
  rust/kernel/src/mount_table.rs
Due: none

fix(router,federation_rpc,kernel): R20.18.5 — mirror mounts + route tracing
  rust/kernel/src/mount_table.rs
  src/nexus/core/router.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/rpc/services/federation_rpc.py
Due: check-file-size, check-type-ignore

refactor: R20.18.5 — Python federation cutover (deletion-dominant)
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  scripts/codegen_kernel_abi.py
  src/nexus/__init__.py
  src/nexus/_kernel_api_groups.py
  src/nexus/cli/commands/zone.py
  src/nexus/factory/_lifecycle.py
  src/nexus/raft/__init__.py
  src/nexus/raft/federation.py
  src/nexus/raft/zone_manager.py
  src/nexus/server/api/core/health.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/health/probes.py
  src/nexus/server/rpc/services/federation_rpc.py
  src/nexus/storage/raft_metadata_store.py
  stubs/nexus_kernel/__init__.pyi
  tests/e2e/self_contained/test_raft_metadata_store.py
  tests/integration/test_sandbox_boot.py
  tests/unit/raft/test_zone_manager_ctor.py
Due: check-file-size, check-type-ignore

feat(kernel,server): R20.18.5 Phase B — PyKernel zone_* accessors + rebuilt FederationRPCService
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/rpc/services/federation_rpc.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

debug(kernel): R20.18.5 — tracing for federation mount wiring
  rust/kernel/src/kernel.rs
Due: none

R20.18.5 fix unmount cleanup + links_count + DT_MOUNT overwrite
  rust/kernel/src/generated_pyo3.rs
  rust/raft/src/raft/state_machine.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/server/rpc/services/federation_rpc.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

fix(kernel): R20.18.5 — install apply-cb on zone_create + zone_join
  rust/kernel/src/generated_pyo3.rs
  scripts/codegen_kernel_abi.py
Due: check-file-size, check-type-ignore

fix(federation_rpc): R20.18.5 — zone-relative path translation for nested mounts
  src/nexus/server/rpc/services/federation_rpc.py
Due: check-file-size, check-type-ignore

fix(kernel,python): restore develop additions dropped by -X theirs rebase
  Cargo.lock
  rust/kernel/src/cas_chunking.rs
  rust/kernel/src/cas_transport.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/pipe.rs
  rust/kernel/src/replication.rs
  rust/kernel/src/shm_pipe.rs
  rust/kernel/src/volume_engine.rs
  src/nexus/__init__.py
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor(kernel): R20.16.7 — Kernel::build_metadata DRY helper
  rust/kernel/src/dcache.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/mount_table.rs
Due: none

refactor(raft,kernel): R20.18.6 delete PyZoneManager+PyZoneHandle+WalStreamBackend pyclass shells
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/lib.rs
  rust/kernel/src/wal_stream.rs
  rust/raft/src/pyo3_bindings.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/kernel_exports.py
  src/nexus/core/nexus_fs.py
  src/nexus/raft/__init__.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

fix(ci,rebac,search,versioning): align stale PathRouter.route callers with current signature
  .github/workflows/test.yml
  src/nexus/bricks/rebac/enforcer.py
  src/nexus/bricks/rebac/filter_chain.py
  src/nexus/bricks/rebac/permission_filter_chain.py
  src/nexus/bricks/search/search_service.py
  src/nexus/bricks/versioning/version_service.py
Due: check-file-size, check-type-ignore

refactor(python,proto): R20.18.7c — delete Python ReadBlob servicer + vfs.proto endpoint
  proto/nexus/grpc/vfs/vfs.proto
  src/nexus/core/nexus_fs.py
  src/nexus/grpc/server.py
  src/nexus/grpc/servicer.py
  src/nexus/grpc/vfs/vfs_pb2.py
  src/nexus/grpc/vfs/vfs_pb2_grpc.py
Due: check-file-size, check-type-ignore

feat(kernel,contracts): R20.18.7b — KernelBlobFetcher + NEXUS_ADVERTISE_ADDR as self-address SSOT
  rust/contracts/src/constants.rs
  rust/contracts/src/lib.rs
  rust/kernel/src/blob_fetcher.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/lib.rs
  rust/kernel/src/mount_table.rs
  rust/kernel/src/peer_blob_client.rs
Due: none

feat(raft,proto): R20.18.7a — ReadBlob RPC on ZoneApiService + BlobFetcher trait
  proto/nexus/raft/transport.proto
  rust/raft/src/blob_fetcher.rs
  rust/raft/src/lib.rs
  rust/raft/src/transport/server.rs
  rust/raft/src/zone_manager.rs
Due: none

fix(federation_rpc,kernel): R20.17a — align federation_share/join RPC shapes with generated params
  rust/kernel/src/generated_pyo3.rs
  scripts/codegen_kernel_abi.py
  src/nexus/server/rpc/services/federation_rpc.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

feat(raft,kernel,federation_rpc): R20.17a peer discovery — SharedZoneRegistry via root-zone raft state
  rust/contracts/src/constants.rs
  rust/contracts/src/lib.rs
  rust/kernel/src/generated_pyo3.rs
  rust/raft/src/zone_manager.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/server/rpc/services/federation_rpc.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

fix(ci): unblock CI — None-safe zone_id fallback + stale test cleanup
  src/nexus/bricks/rebac/enforcer.py
  src/nexus/bricks/rebac/filter_chain.py
  src/nexus/bricks/rebac/permission_filter_chain.py
  src/nexus/bricks/search/search_service.py
  src/nexus/bricks/versioning/version_service.py
  tests/unit/core/test_import_boundaries.py
  tests/unit/core/test_mount_directory_creation.py
  tests/unit/core/test_permission_enforcer.py
  tests/unit/core/test_permission_enforcer_virtual_paths.py
  tests/unit/rebac/test_check_rebac_pipe_route.py
  tests/unit/server/health/test_probes.py
  tests/unit/storage/test_raft_metadata_serialization.py
Due: check-file-size, check-type-ignore

fix(cli): R20.17b — accept --zone-id as alias for `nexus zone import --target-zone`
  src/nexus/cli/commands/zone.py
Due: check-file-size, check-type-ignore

fix(kernel,raft,federation_rpc): federation writes/reads/share corner cases
  rust/kernel/src/kernel.rs
  rust/kernel/src/mount_table.rs
  rust/raft/src/zone_manager.rs
  src/nexus/server/rpc/services/federation_rpc.py
Due: check-file-size, check-type-ignore

fix(kernel): bind distributed locks to root zone so every peer coordinates
  rust/kernel/src/kernel.rs
Due: none

fix(kernel): zone_remove cascade-unmounts every mount that points to it
  rust/kernel/src/generated_pyo3.rs
  scripts/codegen_kernel_abi.py
Due: check-file-size, check-type-ignore

fix(kernel): ZoneMetastore.put waits for local apply before returning
  rust/kernel/src/raft_metastore.rs
Due: none

chore(codegen): drop WalStreamBackend from ipc CAPABILITY_GROUP — R20.18.6 deleted the pyclass
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
Due: check-file-size, check-type-ignore

fix(raft): DistributedLocks.acquire waits for local apply before returning
  rust/raft/src/federation/distributed_locks.rs
Due: none

refactor(raft,kernel): extract follower apply-wait into ZoneConsensus helper (DRY)
  rust/kernel/src/raft_metastore.rs
  rust/raft/src/federation/distributed_locks.rs
  rust/raft/src/raft/node.rs
Due: none

fix(nexus_fs,portability): root zone visible from every caller + sys_read in PortabilityFSProtocol
  src/nexus/contracts/portability_types.py
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

fix(federation_rpc): federation_import_zone creates target zone idempotently
  src/nexus/server/rpc/services/federation_rpc.py
Due: check-file-size, check-type-ignore
