Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

chore(#4628): clippy 1.97 question-mark catch-up in title hydration
  rust/services/search-plugin/src/service.rs
Due: none

fix(search-plugin): adversarial round 8 — convergence-gated dirty clears, directory-durable sentinel, exact-chunk dense borrow confirmation (#4628)
  rust/services/search-plugin/src/index_manager.rs
  rust/services/search-plugin/src/service.rs
Due: none

fix(search-plugin): read-side orphan guard — drop ANN hits without FTS rows
  rust/services/search-plugin/src/service.rs
  rust/services/search-plugin/tests/index_visibility_e2e.rs
Due: none

docs(integration): correct the binary edge — nexusd-cluster, not the sudocode binary
  docs/architecture/nexus-integration-architecture.html
Due: none

test(managed_agent): prove the in-process co-host seam
  rust/services/src/managed_agent/mod.rs
Due: none

add Benchmark (pytest) benchmark result for 32f2482cdf68ce64a3f24d61468ad4142f434a46
  dev/bench-full/data.js
Due: none

fix(search): restore per-document pooling on the P12 proxy path
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_daemon_chunks_per_page.py
Due: check-file-size, check-type-ignore

fix(search-plugin): ANN index survives plugin restart — generation-named dumps recorded in the sidecar
  rust/services/search-plugin/src/ann_index.rs
Due: none

fix(search): restore vector_backend identity field in /search/stats (#4643)
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  src/nexus/bricks/search/daemon.py
  src/nexus/server/api/v2/routers/search.py
  tests/integration/services/test_search_response_contracts.py
Due: check-file-size, check-type-ignore

fix(search-plugin): thread per-hit score attribution through QueryResult (#4644)
  rust/services/proto/nexus/search/v1/search.proto
  rust/services/search-plugin/src/fusion.rs
  rust/services/search-plugin/src/query_cache.rs
  rust/services/search-plugin/src/scoring.rs
  rust/services/search-plugin/src/service.rs
  src/nexus/bricks/search/daemon.py
  src/nexus/grpc/search/v1/search_pb2.py
  src/nexus/grpc/search/v1/search_pb2.pyi
  tests/unit/bricks/search/test_daemon_transport.py
Due: check-file-size, check-type-ignore

fix(storage): operation_log.snapshot_hash TEXT + per-event flush salvage (#4645)
  alembic/versions/oplog_snapshot_hash_text.py
  src/nexus/storage/models/operation_log.py
  src/nexus/storage/operation_logger.py
  src/nexus/storage/piped_record_store_write_observer.py
  src/nexus/storage/schema_invariants.py
  tests/unit/storage/test_piped_record_store_write_observer.py
  tests/unit/storage/test_schema_invariants.py
Due: check-file-size, check-type-ignore

ci(docker-publish): provision embedder assets for the plugin-host sidecar (#4646)
  .github/workflows/docker-publish.yml
  tests/unit/test_docker_publish_smoke_config.py
Due: check-type-ignore

fix(search-plugin): title arm falls back to the basename stem for non-md docs (#4647)
  rust/services/search-plugin/src/title_index.rs
  rust/services/search-plugin/tests/title_arm_e2e.rs
Due: none

add Benchmark (pytest) benchmark result for f229e4bce6056f4dde4d9572f411cd53291d9a4e
  dev/bench-full/data.js
Due: none

search-plugin(skeleton): tantivy skeleton index over {path_tokens, title}
  rust/services/search-plugin/src/lib.rs
  rust/services/search-plugin/src/skeleton_index.rs
Due: none

search-plugin(skeleton): wire population + IndexManager cache
  rust/services/search-plugin/src/chunker.rs
  rust/services/search-plugin/src/index_manager.rs
  rust/services/search-plugin/src/service.rs
Due: none

search-plugin(fusion): rrf_multi_fusion + wire proto title_score/title_arm_disabled
  rust/services/proto/nexus/search/v1/search.proto
  rust/services/search-plugin/src/fusion.rs
  rust/services/search-plugin/src/query_cache.rs
  rust/services/search-plugin/src/scoring.rs
  rust/services/search-plugin/src/service.rs
Due: none

search-plugin(hybrid): wire title arm into do_hybrid_query + env kill-switch
  rust/services/search-plugin/src/fusion.rs
  rust/services/search-plugin/src/service.rs
Due: none

search-plugin(title-arm): E2E tests + query-cache hash fix
  rust/services/search-plugin/src/query_cache.rs
  rust/services/search-plugin/tests/title_arm_e2e.rs
Due: none

feat(nexusd): co-host the real sudocode agent runtime via SpawnTask adapter
  Cargo.lock
  rust/nexusd/Cargo.toml
  rust/nexusd/src/cohost.rs
  rust/nexusd/src/main.rs
Due: none

chore(nexusd): pin sudocode co-host deps to #392 merge commit
  Cargo.lock
  rust/nexusd/Cargo.toml
Due: none

ci(fuse-windows-e2e): install WinFsp from cached vendor .msi, drop live Chocolatey
  .github/workflows/fuse-plugin-windows-e2e.yml
Due: none

ci(fuse-windows-e2e): run the suite when the workflow itself changes
  .github/workflows/fuse-plugin-windows-e2e.yml
Due: none

add Benchmark (pytest) benchmark result for 0209ba42868b8f3b21bb75a26c0a296b397700dc
  dev/bench-full/data.js
Due: none

feat(nexusd): A2A co-host — bind the loop to a replicated /agents inbox
  Cargo.lock
  rust/nexusd/Cargo.toml
  rust/nexusd/src/cohost.rs
  rust/nexusd/src/main.rs
Due: none

chore(nexusd): bump sudocode co-host pin to b1d3e887 (transient-inbox-read fix)
  Cargo.lock
  rust/nexusd/Cargo.toml
Due: none

docs(runbook): add cloud SaaS + cross-org broker (Tencent Beijing) part; SSOT-dedup the overlay into Part 1 §1h
  docs/architecture/federation-cross-machine-runbook.html
Due: none

docs(runbook): render the cross-org architecture as a mermaid diagram
  docs/architecture/federation-cross-machine-runbook.html
Due: none

add Benchmark (pytest) benchmark result for 8f52eeee85ae3873ba77c45413024367fd6de659
  dev/bench-full/data.js
Due: none

docs(runbook): apply review comments — mermaid topology, prereqs table, trim to doc principles
  docs/architecture/federation-cross-machine-runbook.html
Due: none

chore(cohost): bump nexus-vfs c9ecc9da -> 0bdb6f64f + sudocode -> bf0ba2e4 (federation A+D)
  Cargo.lock
  Cargo.toml
  rust/nexusd/Cargo.toml
Due: none

add Benchmark (pytest) benchmark result for 1d5fc8c9f85603b129fcb9e47d3ab398fcfdabcf
  dev/bench-full/data.js
Due: none

docs(runbook): distinguish the overlay (WireGuard/machine) from the broker (mTLS/agent) trust layers
  docs/architecture/federation-cross-machine-runbook.html
Due: none

add Benchmark (pytest) benchmark result for c68b17bdcf69ed2faa89900e2bae523686d704c4
  dev/bench-full/data.js
Due: none

fix(search): route semantic_search_index through the P12 plugin when wired
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/search_service.py
  tests/unit/bricks/search/test_semantic_search_daemon_gate.py
Due: check-file-size, check-type-ignore

docs(surface-coverage): regen after semantic_search_index method-body edit
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

fix(search): index_documents (not walker) for plugin routing — HERB gate
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/search_service.py
  tests/unit/bricks/search/test_semantic_search_daemon_gate.py
Due: check-file-size, check-type-ignore

chore(search): ruff format catch-up on _collect_docs_for_plugin
  src/nexus/bricks/search/search_service.py
Due: check-file-size, check-type-ignore

chore: ruff format on test dict literal + regen surface coverage
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  tests/unit/bricks/search/test_semantic_search_daemon_gate.py
Due: check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
