Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(mypy): narrow lock union-attr + use getattr for StreamReader._transport
  src/nexus/cli/commands/locks.py
  src/nexus/services/acp/service.py
Due: check-file-size, check-type-ignore

fix: post-rebase silent-revert cleanup (is_external + stale test API migration)
  rust/kernel/src/dlc.rs
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/mount_table.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/driver_lifecycle_coordinator.py
  src/nexus/core/nexus_fs.py
  stubs/nexus_kernel/__init__.pyi
  tests/benchmarks/bench_dispatch_rust_vs_python.py
  tests/e2e/self_contained/test_batch_write_read_e2e.py
  tests/integration/test_mount_io_profile.py
  tests/unit/fs/test_fsspec.py
  tests/unit/fs/test_fsspec_conformance.py
  tests/unit/fs/test_fsspec_upstream.py
  tests/unit/fs/test_gcs_integration.py
  tests/unit/fs/test_integration.py
  tests/unit/fs/test_parity.py
  tests/unit/fs/test_s3_integration.py
  tests/unit/fs/test_slim_batch.py
  tests/unit/fs/test_streaming_copy.py
Due: check-file-size, check-type-ignore

feat(kernel): Rust CDC chunked write — FastCDCStrategy + MessageBoundaryStrategy via ChunkingStrategy DI
  Cargo.lock
  Cargo.toml
  rust/kernel/Cargo.toml
  rust/kernel/src/cas_chunking.rs
  rust/kernel/src/cas_engine.rs
  rust/kernel/src/cas_transport.rs
Due: none

fix(kernel,facade): route SlimNexusFS.stat via sys_stat + global-fallback DT_MOUNT key
  rust/kernel/src/dlc.rs
  src/nexus/fs/_facade.py
Due: check-file-size, check-type-ignore

fix(kernel): sys_setattr(DT_DIR) idempotent over existing DT_MOUNT
  rust/kernel/src/kernel.rs
Due: none

feat(kernel): R10a/R10b/R10-SG — Rust CAS query+partial surface + scatter-gather chunk fetch
  Cargo.lock
  rust/kernel/Cargo.toml
  rust/kernel/src/backend.rs
  rust/kernel/src/cas_chunking.rs
  rust/kernel/src/cas_engine.rs
  rust/kernel/src/cas_remote.rs
  rust/kernel/src/cas_transport.rs
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/lib.rs
  rust/kernel/src/peer_blob_client.rs
  scripts/codegen_kernel_abi.py
Due: check-file-size, check-type-ignore

fix(kernel): normalize trailing slash in readdir parent_path
  rust/kernel/src/kernel.rs
Due: none

feat(kernel): CASEngine.write_content_tracked — thread is_new bit for on_write_callback gating
  rust/kernel/src/cas_chunking.rs
  rust/kernel/src/cas_engine.rs
  rust/kernel/src/cas_transport.rs
Due: none

test(backends): Python integration test for Rust LLM backends (R10d.8 + PR-B A.6)
  tests/unit/backends/test_openai_compat_rust.py
Due: check-type-ignore

feat(kernel): R10d-LLM-Port + PR-B — Rust OpenAI/Anthropic LLM backends
  rust/kernel/src/anthropic_backend.rs
  rust/kernel/src/anthropic_streaming.rs
  rust/kernel/src/backend.rs
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/lib.rs
  rust/kernel/src/openai_streaming.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/backends/compute/anthropic_native.py
  src/nexus/backends/compute/llm_transport.py
  src/nexus/backends/compute/message_chunking.py
  src/nexus/backends/compute/openai_compatible.py
  src/nexus/bricks/auth/credential_pool.py
  src/nexus/cli/commands/chat.py
  src/nexus/cli/commands/llm.py
  src/nexus/core/kernel_protocols.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_wired.py
  src/nexus/services/agent_runtime/managed_loop.py
  stubs/nexus_kernel/__init__.pyi
  tests/unit/agent_runtime/test_managed_loop.py
  tests/unit/backends/test_message_chunking.py
  tests/unit/backends/test_openai_compat.py
Due: check-file-size, check-type-ignore

refactor(cas): R10f — drop Python Bloom filter + remote content fetcher
  src/nexus/backends/base/cas_addressing_engine.py
  src/nexus/backends/base/remote_content_fetcher.py
  src/nexus/backends/engines/cdc.py
  src/nexus/backends/storage/cas_local.py
  src/nexus/remote/peer_blob_client.py
  tests/e2e/self_contained/test_chunked_storage_e2e.py
  tests/unit/backends/test_remote_content_fetcher.py
Due: check-file-size, check-type-ignore

feat(kernel): R10c — PyKernel CAS surface (cas_write/read/read_range/delete/exists/size/is_chunked/write_partial)
  rust/kernel/src/backend.rs
  rust/kernel/src/cas_engine.rs
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/core/kernel_protocols.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

test(e2e): R13 preemptive fixes for pre-live validation
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

test(e2e): R13.2 — tighten causal links in 2 long-flow classes
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

refactor(contracts): MAX_GRPC_MESSAGE_BYTES + split Rust constants.rs
  rust/contracts/src/constants.rs
  rust/contracts/src/lib.rs
  rust/kernel/src/peer_blob_client.rs
  src/nexus/contracts/constants.py
  src/nexus/grpc/defaults.py
  src/nexus/grpc/server.py
Due: check-file-size, check-type-ignore

test(e2e): R13 — federation E2E coverage expansion (19 new test classes)
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

test(e2e): R11 — instrument node-1 restart for timeout diagnosis
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

test(backends): drop Bloom-filter tests made stale by R10f
  tests/unit/backends/test_cas_local_crud.py
  tests/unit/backends/test_local_cas_backend.py
Due: check-type-ignore

test(e2e): fix created_at precision mismatch (kernel stores ms)
  tests/e2e/self_contained/test_timestamp_behavior.py
Due: check-type-ignore

test(bench): stabilize signal→delivery p95 with warmup + more samples
  tests/e2e/self_contained/test_event_signal_latency_bench.py
Due: check-type-ignore

fix(metastore): KernelBackedMetastoreABC.list honors recursive=False
  src/nexus/core/metastore.py
Due: check-file-size, check-type-ignore

test(e2e): R13 refinements from live docker validation
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix(raft): R15.e — startup zone enumeration replaces step_message auto-join
  rust/raft/src/pyo3_bindings.rs
  rust/raft/src/raft/zone_registry.rs
  rust/raft/src/transport/server.rs
  scripts/federation_server.py
  src/nexus/cli/commands/zone.py
  src/nexus/raft/federation.py
  src/nexus/raft/zone_manager.py
Due: check-file-size, check-type-ignore

fix(raft): async setup_zone — respect tokio sync/async boundary
  rust/raft/src/pyo3_bindings.rs
  rust/raft/src/raft/zone_registry.rs
  rust/raft/src/transport/server.rs
  rust/raft/tests/test_grpc_cluster.rs
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix(raft): enforce RaftConfig.peers excludes self (dedup + filter)
  rust/raft/src/raft/node.rs
  rust/raft/src/raft/zone_registry.rs
Due: none

refactor(kernel,raft): R14 lock SSOT — shared Arc<Mutex<LockState>> replaces redb locks tree
  Cargo.lock
  rust/contracts/Cargo.toml
  rust/contracts/src/lib.rs
  rust/contracts/src/lock_state.rs
  rust/kernel/src/lock_manager.rs
  rust/raft/Cargo.toml
  rust/raft/src/lib.rs
  rust/raft/src/pyo3_bindings.rs
  rust/raft/src/raft/mod.rs
  rust/raft/src/raft/state_machine.rs
  rust/raft/src/raft/zone_registry.rs
  rust/raft/src/transport/mod.rs
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

test(e2e): raise docker-py client timeout to 180s for failover
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix(kernel): LockManager upgrades on ANY replicated mount (first-wins)
  rust/kernel/src/kernel.rs
  rust/kernel/src/lock_manager.rs
Due: none

chore(raft): R15.f — delete dead Python (content replication, replication policy)
  src/nexus/raft/content_replication_service.py
  src/nexus/raft/replication_policy.py
  tests/unit/raft/test_content_replication_service.py
  tests/unit/raft/test_replication_policy.py
Due: check-file-size, check-type-ignore

refactor(core): R19.1a — delete shm_stream.py / shm_pipe.py (Rust SSOT)
  src/nexus/core/pipe.py
  src/nexus/core/shm_pipe.py
  src/nexus/core/shm_stream.py
  src/nexus/core/stdio_pipe.py
  src/nexus/core/stream.py
  tests/unit/core/test_shm_pipe.py
  tests/unit/core/test_shm_stream.py
Due: check-file-size, check-type-ignore

feat(kernel): R19.1b — native Rust WalStreamBackend
  rust/kernel/src/lib.rs
  rust/kernel/src/wal_stream.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/core/kernel_exports.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

feat(kernel): R19.1c — native Rust StdioStreamBackend
  rust/kernel/src/lib.rs
  rust/kernel/src/stdio_stream.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/core/kernel_exports.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

feat(kernel): R16.1a — add target_zone_id to Rust FileMetadata for DT_MOUNT round-trip
  rust/kernel/src/dlc.rs
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/lib.rs
  rust/kernel/src/metadata_debug.rs
  rust/kernel/src/metastore.rs
  rust/kernel/src/raft_metastore.rs
  rust/kernel/src/wal_stream.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/kernel_exports.py
  tests/unit/storage/test_metadata_mapper_rust_roundtrip.py
Due: check-file-size, check-type-ignore

feat(kernel): R16.5b — native Rust federation gRPC client + test consolidation
  Cargo.lock
  rust/kernel/Cargo.toml
  rust/kernel/src/federation_client.rs
  rust/kernel/src/lib.rs
  rust/kernel/src/metastore.rs
  rust/kernel/src/raft_metastore.rs
  rust/raft/src/federation/tofu.rs
  rust/raft/src/pyo3_bindings.rs
  rust/raft/src/raft/state_machine.rs
  src/nexus/raft/federation.py
Due: check-file-size, check-type-ignore

feat(raft): R16.1b — native Rust mount/unmount on PyZoneManager
  rust/raft/src/pyo3_bindings.rs
  src/nexus/raft/zone_manager.py
Due: check-file-size, check-type-ignore

feat(raft): R16.3 — native Rust share_subtree copy/rebase core
  rust/raft/src/pyo3_bindings.rs
  src/nexus/raft/zone_manager.py
Due: check-file-size, check-type-ignore

feat(raft): R16.2 — apply-side DT_MOUNT commit hook replaces polling reconciler
  rust/raft/src/pyo3_bindings.rs
  rust/raft/src/raft/mod.rs
  rust/raft/src/raft/mount_event.rs
  rust/raft/src/raft/state_machine.rs
  rust/raft/src/raft/zone_registry.rs
  src/nexus/factory/_lifecycle.py
  src/nexus/raft/zone_manager.py
  src/nexus/server/rpc/services/federation_rpc.py
Due: check-file-size, check-type-ignore

feat(raft): R16.4 — topology bootstrap uses R16.1b mount shim
  src/nexus/raft/zone_manager.py
Due: check-file-size, check-type-ignore

feat(raft): R16.5a — native Rust TofuTrustStore replaces Python shim
  rust/raft/src/federation/mod.rs
  rust/raft/src/federation/tofu.rs
  rust/raft/src/lib.rs
  rust/raft/src/pyo3_bindings.rs
  src/nexus/cli/commands/tls.py
  src/nexus/raft/federation.py
  src/nexus/security/tls/__init__.py
  src/nexus/security/tls/trust_store.py
  tests/unit/security/test_tls.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
