Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix: add import-linter ignore for oauth_service -> bricks.auth.oauth.factory
  pyproject.toml
Due: none

fix(#2577): update test_database_key.py to use record_store= instead of session_factory=
  tests/unit/auth/test_database_key.py
Due: check-type-ignore

feat(#994): delete 6 dead service modules (882 lines)
  src/nexus/services/event_log/metrics.py
  src/nexus/services/event_subsystem/log/exporters/factory.py
  src/nexus/services/event_subsystem/log/metrics.py
  src/nexus/services/memory/memory_with_paging.py
  src/nexus/services/reputation/dispute_service.py
  src/nexus/services/snapshot/cleanup.py
Due: check-file-size, check-type-ignore

feat(#994): delete dead services/write_back_metrics.py (72 lines)
  src/nexus/services/write_back_metrics.py
Due: check-file-size, check-type-ignore

fix: strip dead backward-compat re-exports from server/auth/__init__.py
  src/nexus/server/auth/__init__.py
Due: check-file-size, check-type-ignore

fix(#843): remove stale priority/replace kwargs from mount callers post-PathRouter cleanup
  src/nexus/cli/commands/server.py
  src/nexus/services/mount/mount_persist_service.py
  src/nexus/services/mount_service.py
Due: check-file-size, check-type-ignore

feat: zone isolation, InMemoryWriteBack fallback, and zone quota fields for E2E tests
  src/nexus/cli/commands/server.py
  src/nexus/server/api/core/rpc.py
  src/nexus/server/auth/zone_routes.py
  src/nexus/server/dependencies.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/lifespan/realtime.py
  src/nexus/services/protocols/write_back.py
Due: check-file-size, check-type-ignore

fix(#2195): wire event_log + scheduler_service through SystemServices dataclass
  src/nexus/core/config.py
  src/nexus/factory/orchestrator.py
Due: check-file-size, check-type-ignore

fix(#2195): complete InMemoryScheduler response to match TaskStatusResponse
  src/nexus/services/protocols/scheduler.py
Due: check-file-size, check-type-ignore

fix(#2195): unified auth for zone API + wire EventLog/Scheduler in factory
  src/nexus/factory/_system.py
  src/nexus/server/auth/zone_routes.py
Due: check-file-size, check-type-ignore

fix(scheduler): add ON CONFLICT for idempotency key + remove ::uuid casts
  src/nexus/bricks/scheduler/queue.py
  src/nexus/services/scheduler/queue.py
Due: check-file-size, check-type-ignore

feat(#2195): auth key REST API + bug fixes for E2E auth tests
  src/nexus/server/api/core/features.py
  src/nexus/server/api/v2/dependencies.py
  src/nexus/server/api/v2/routers/auth_keys.py
  src/nexus/server/api/v2/versioning.py
  src/nexus/server/lifespan/__init__.py
  src/nexus/server/rpc/handlers/admin.py
Due: check-file-size, check-type-ignore

fix(rate-limit): enable rate-limit headers + add SlowAPIMiddleware
  src/nexus/server/api/core/debug.py
  src/nexus/server/fastapi_server.py
Due: check-file-size, check-type-ignore

fix(raft): handle CasResult variant in command_result_to_proto
  rust/nexus_raft/src/transport/server.rs
Due: rust-fmt-raft, rust-clippy-raft

feat(#844): add REMOTE/MINIMAL deployment profiles + promote InMemoryMetastore to storage driver
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/config.py
  src/nexus/contracts/deployment_profile.py
  src/nexus/core/device_capabilities.py
  src/nexus/lib/performance_tuning.py
  src/nexus/storage/in_memory_metastore.py
  tests/conftest.py
  tests/e2e/self_contained/test_dual_write_consistency.py
  tests/e2e/server/test_agent_warmup_e2e.py
  tests/e2e/server/test_async_wrappers_e2e.py
  tests/e2e/server/test_caching_wrapper_e2e.py
  tests/e2e/test_lego_decomp_e2e.py
  tests/integration/test_mount_io_profile.py
  tests/unit/backends/test_streaming.py
  tests/unit/bricks/ipc/test_factory_wiring.py
  tests/unit/core/test_kernel_vfs_invariants.py
  tests/unit/core/test_metastore_cas.py
  tests/unit/core/test_minimal_boot_mode.py
  tests/unit/core/test_router.py
  tests/unit/core/test_write_observer_calls.py
  tests/unit/ipc/test_factory_wiring.py
Due: check-file-size, check-type-ignore

feat: add network/ subsystem with WireGuard mesh CLI for federation
  src/nexus/cli/commands/__init__.py
  src/nexus/cli/commands/network.py
  src/nexus/network/__init__.py
  src/nexus/network/constants.py
  src/nexus/network/discovery/__init__.py
  src/nexus/network/wireguard.py
  src/nexus/services/rpc_transport.py
Due: check-file-size, check-type-ignore

fix(#844): fix test_deployment_profile for MINIMAL/REMOTE profiles
  tests/unit/core/test_deployment_profile.py
Due: check-type-ignore

fix: annotate load_identity return to satisfy mypy no-any-return
  src/nexus/network/wireguard.py
Due: check-file-size, check-type-ignore

feat(#844): unify Backend ABC into ObjectStoreABC — exception-based kernel contract
  src/nexus/backends/__init__.py
  src/nexus/backends/backend.py
  src/nexus/backends/caching_backend_wrapper.py
  src/nexus/backends/delegating.py
  src/nexus/backends/local.py
  src/nexus/backends/logging_wrapper.py
  src/nexus/backends/passthrough.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/object_store.py
  src/nexus/core/protocols/connector.py
  src/nexus/core/router.py
  tests/helpers/failing_backend.py
  tests/unit/backends/test_backend_contract.py
  tests/unit/backends/test_batch_operations.py
  tests/unit/backends/test_delegating_backend.py
  tests/unit/backends/test_streaming.py
  tests/unit/backends/wrapper_test_helpers.py
Due: check-file-size, check-type-ignore

refactor(#844): eliminate HandlerResponse from connectors + tests, fix nexus.constants imports
  src/nexus/backends/backend.py
  src/nexus/backends/base_blob_connector.py
  src/nexus/backends/gcs_connector.py
  src/nexus/backends/local_connector.py
  src/nexus/backends/s3_connector.py
  src/nexus/bricks/rebac/cache/tiger/write_hook.py
  src/nexus/server/api/core/rpc.py
  src/nexus/services/agents/agent_provisioning.py
  src/nexus/services/event_log/exporters/kafka_exporter.py
  src/nexus/services/event_log/exporters/nats_exporter.py
  src/nexus/services/event_log/exporters/pubsub_exporter.py
  src/nexus/services/protocols/write_back.py
  src/nexus/system_services/sync/write_back_service.py
  tests/unit/backends/test_chunked_storage.py
  tests/unit/backends/test_compressed_wrapper.py
  tests/unit/backends/test_delegating.py
  tests/unit/backends/test_encrypted_wrapper.py
  tests/unit/backends/test_get_file_info.py
  tests/unit/backends/test_local_backend.py
  tests/unit/backends/test_local_connector.py
  tests/unit/backends/test_logging_wrapper.py
  tests/unit/backends/test_passthrough.py
  tests/unit/backends/test_protocol_conformance.py
  tests/unit/backends/test_stream_range.py
  tests/unit/backends/test_wrapper_chain.py
  tests/unit/cache/test_caching_backend_wrapper.py
  tests/unit/core/test_object_store.py
Due: check-file-size, check-type-ignore
