Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

docs(integration): §7 messenger — sudocode agent tasks in sudocode-host
  docs/architecture/nexus-integration-architecture.md
Due: none

docs(integration): §2.1 /agents/{name}/ is the persistent SSOT
  docs/architecture/nexus-integration-architecture.md
Due: none

docs(integration): §8 orchestration & isolation boundary
  docs/architecture/nexus-integration-architecture.md
Due: none

docs(integration): §2.4 sudo-code state via FsBackend (Kernel/Std/NexusVfs)
  docs/architecture/nexus-integration-architecture.md
Due: none

docs(integration): §5.4 align audit auto-wire with §5.3 Mount observer
  docs/architecture/nexus-integration-architecture.md
Due: none

refactor(search): single-source the daemon search-timing ContextVar
  src/nexus/bricks/search/daemon.py
Due: check-file-size, check-type-ignore

docs(rebac): note rebac_check_bulk freshness at search-bulk call site
  src/nexus/bricks/rebac/enforcer.py
Due: check-file-size, check-type-ignore

docs(search): document PgFts page-search recall bound
  src/nexus/bricks/search/pg_fts_backend.py
Due: check-file-size, check-type-ignore

docs: rewrite root README — steering + context engineering thesis
  rust/kernel/README.md
Due: none

docs(readme): add distributed topology section — node roles + profiles
  README.md
Due: none

fix(agents): add count_by_state/list_by_priority to _AgentRegistryProxy (#4268)
  src/nexus/remote/kernel_client.py
  tests/unit/remote/test_kernel_client_hooks.py
Due: check-file-size, check-type-ignore

fix(agents): Rust-compatible eviction_priority parsing in proxy (#4268 review)
  src/nexus/remote/kernel_client.py
  tests/unit/remote/test_kernel_client_hooks.py
Due: check-file-size, check-type-ignore

fix(agents): proxy descriptors expose AgentDescriptor.to_dict (#4268 review)
  src/nexus/remote/kernel_client.py
  tests/unit/remote/test_kernel_client_hooks.py
Due: check-file-size, check-type-ignore

chore(surface): record count_by_state/list_by_priority proxy ops in API matrix (#4268)
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

chore(surface): curate count_by_state/list_by_priority surface rows (#4268)
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

test(agents): cover #4268 over-cap count_by_state path + missing updated_at_ms
  tests/unit/remote/test_kernel_client_hooks.py
Due: check-type-ignore

chore: remove conda-pack workflow + bump to v0.10.1
  .github/workflows/conda-pack.yml
  packages/nexus-api-client/package.json
  packages/nexus-tui/package.json
  pyproject.toml
  rust/kernel/Cargo.toml
  src/nexus/__init__.py
Due: check-file-size, check-type-ignore

fix(ci): make npm publish optional to not block GitHub Release
  .github/workflows/release.yml
Due: none

feat(search): add index_load_ms phase timing + opt-in index preload (#4269)
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  nexus-stack.yml
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/federated_search.py
  src/nexus/bricks/search/pg_fts_backend.py
  src/nexus/bricks/search/pg_vector_backend.py
  src/nexus/bricks/search/protocols.py
  src/nexus/bricks/search/sqlite_fts_backend.py
  src/nexus/bricks/search/sqlite_vec_backend.py
  src/nexus/server/api/v2/routers/search.py
  src/nexus/server/lifespan/search.py
  tests/unit/bricks/search/test_daemon_backend_routing.py
  tests/unit/bricks/search/test_daemon_index_preload.py
  tests/unit/server/routers/test_search_phase_timing.py
Due: check-file-size, check-type-ignore

perf(transport): offload blocking VFS handlers off the raft runtime
  rust/transport/src/grpc.rs
Due: none

fix(transport): don't force pipe reads to block on the cluster runtime
  rust/transport/src/grpc.rs
Due: none

perf(transport): offload remaining VFS-lock-bound handlers via run_blocking
  rust/transport/src/grpc.rs
Due: none

perf(transport): offload blocking stream_read_at off the raft runtime
  rust/transport/src/grpc.rs
Due: none

docs(readme): replace ASCII diagrams with mermaid + add full stack view
  README.md
Due: none

refactor(#4271): DRY — single SSOT for _BACKEND_LEG_TIMING_KEYS
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/federated_search.py
  src/nexus/server/api/v2/routers/search.py
Due: check-file-size, check-type-ignore

docs(kernel): fix §3.B.2 ObjectStoreProvider stale method signature
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

docs(kernel): fix stale module path backends::factory -> backends::provider
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

fix(kernel): use canonicalize_mount_path for remote metastore key
  Cargo.lock
  rust/kernel/src/kernel/mod.rs
Due: none

ci: fix benchmark gh-pages checkout failure (dirty uv.lock)
  .github/workflows/benchmark.yml
Due: none

test(transport): regression test for pipe read O_NONBLOCK contract
  rust/transport/src/grpc.rs
Due: none

perf(transport): offload blocking VFS handlers to spawn_blocking
  rust/transport/src/grpc.rs
Due: none

fix(transport): honor kernel read-timeout contract (timeout_ms=0 is O_NONBLOCK)
  rust/transport/src/grpc.rs
Due: none

fix(readme): mermaid syntax — quote subgraph labels with special chars
  README.md
Due: none

feat(backends): implement ObjectStoreProvider + driver gate (bridge-1, #4261)
  nexus-stack.yml
  rust/backends/src/lib.rs
  rust/backends/src/provider.rs
  rust/kernel/src/hal/object_store_provider.rs
  rust/profiles/cluster/src/main.rs
  src/nexus/cli/commands/init_cmd.py
  src/nexus/cli/data/nexus-stack.yml
Due: check-file-size, check-type-ignore

ci(cluster-binary): bump nexusd-cluster size budgets for ObjectStoreProvider (#4261)
  .github/workflows/cluster-binary-build.yml
Due: none

docs(readme): add Codex Desktop + hook-based transparent I/O interception
  README.md
Due: none

fix(readme): widen agent harness to 'any agent' — not just Node.js/Python
  README.md
Due: none

docs(readme): clarify NEXUS purpose in diagram — distributed VFS kernel
  README.md
Due: none

docs(readme): fix SudoWork link + add services/drivers details
  README.md
Due: none

docs(readme): apply doc writing principles — SSOT, no negatives, colocate
  README.md
Due: none
