Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

revert(audit): remove is_admin lock bypass — kernel policy change
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

fix(audit): DRY _tb_status_code — wallet imports from pay.constants
  src/nexus/bricks/pay/constants.py
  src/nexus/factory/wallet.py
Due: check-file-size, check-type-ignore

fix(audit): update surface matrix line ref after kernel_client cleanup
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

fix(audit): credits.py — use shared tb_status_code from constants
  src/nexus/bricks/pay/credits.py
Due: check-file-size, check-type-ignore

fix(audit): remove legacy search fallbacks in search_service.py
  src/nexus/bricks/search/search_service.py
Due: check-file-size, check-type-ignore

fix(audit): remove duplicate recursive readdir in factory/adapters.py
  src/nexus/factory/adapters.py
Due: check-file-size, check-type-ignore

fix(audit): update all surface matrix kernel_client line refs (-10 offset)
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

fix(audit): update remaining surface matrix line refs (metadata, search)
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

fix(audit): update 3 remaining search_service.py surface matrix line refs
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

fix(audit): regenerate surface coverage yaml via codegen
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

refactor(dedup-queue): destroy_pipe → sys_unlink
  src/nexus/services/lifecycle/dedup_work_queue.py
Due: check-file-size, check-type-ignore

refactor(skeleton): drop kernel primitive call — sys_unlink replaces _kernel.destroy_pipe
  src/nexus/bricks/search/skeleton_pipe_consumer.py
Due: check-file-size, check-type-ignore

refactor(dedup-queue): drop close_pipe — workers exit via Python flag
  src/nexus/services/lifecycle/dedup_work_queue.py
Due: check-file-size, check-type-ignore

refactor(dedup-queue): pipe_write_nowait → sys_write
  src/nexus/services/lifecycle/dedup_work_queue.py
Due: check-file-size, check-type-ignore

refactor(dedup-queue): pipe_read_nowait → sys_read
  src/nexus/services/lifecycle/dedup_work_queue.py
  tests/unit/services/test_dedup_work_queue.py
Due: check-file-size, check-type-ignore

refactor(dedup-queue): create_pipe → sys_setattr(DT_PIPE)
  src/nexus/services/lifecycle/dedup_work_queue.py
  tests/unit/services/test_dedup_work_queue.py
Due: check-file-size, check-type-ignore

feat(kernel): sys_readdir(details=True) returns full FileMetadata projection
  src/nexus/core/nexus_fs_metadata.py
  tests/unit/core/test_readdir_detail_projection.py
Due: check-file-size, check-type-ignore

refactor(metadata-export,context-branch): metastore_list_iter → sys_readdir
  src/nexus/services/metadata_export.py
Due: check-file-size, check-type-ignore

fix(lint): drop unused imports + workspace_mgr duplicate param
  src/nexus/bricks/search/search_service.py
  src/nexus/services/lifecycle/dedup_work_queue.py
  src/nexus/services/workspace/workspace_manager.py
  tests/unit/services/test_dedup_work_queue.py
Due: check-file-size, check-type-ignore

refactor(tiger-rename): metastore_list → sys_readdir
  src/nexus/bricks/rebac/cache/tiger/rename_hook.py
Due: check-file-size, check-type-ignore

refactor(workspace-mgr): metastore_list_paginated → sys_readdir
  src/nexus/services/workspace/workspace_manager.py
Due: check-file-size, check-type-ignore

refactor(search-list): metastore_list_paginated → sys_readdir
  src/nexus/bricks/search/search_service.py
Due: check-file-size, check-type-ignore

refactor(tiger-cache-mgr): metastore_list_iter → sys_readdir
  src/nexus/bricks/rebac/tiger_cache_manager.py
  src/nexus/factory/_boot_context.py
  src/nexus/factory/orchestrator.py
Due: check-file-size, check-type-ignore

refactor(search-paginated): metastore_list_iter → sys_readdir
  src/nexus/bricks/search/search_service.py
Due: check-file-size, check-type-ignore

feat(orchestrator): wire CasGcService for CAS root backends
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/orchestrator.py
Due: check-file-size, check-type-ignore

refactor(audit-node): stream_read_batch → sys_read offset chain
  src/nexus/services/audit_node/service.py
  src/nexus/services/lifecycle/dedup_work_queue.py
Due: check-file-size, check-type-ignore

refactor(directory-expander): metastore_list_paginated → sys_readdir
  src/nexus/bricks/rebac/directory/expander.py
  src/nexus/bricks/rebac/manager.py
  src/nexus/factory/_wired.py
  tests/e2e/server/test_directory_grants_e2e.py
Due: check-file-size, check-type-ignore

refactor(cas-gc): resurrect as CasGcService BackgroundService
  src/nexus/backends/engines/cas_gc.py
  src/nexus/backends/storage/cas_local.py
  tests/unit/backends/test_cas_gc.py
Due: check-file-size, check-type-ignore

fix(ci): YAML line drift + test_readdir_detail_projection skip
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  tests/unit/core/test_readdir_detail_projection.py
Due: check-type-ignore

fix(ci): YAML line drift in search_service + metadata_export
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

fix(ci): re-apply YAML drift after rebase onto develop
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

fix(ci): kernel_client.py YAML drift + test_readdir skip on AttributeError
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  tests/unit/core/test_readdir_detail_projection.py
Due: check-type-ignore

fix(ci): revert kernel_client.py YAML line refs to develop's values
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

fix(ci): restore untouched-file line refs to develop's YAML values
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

fix(kernel): make syscall_bench compile on Windows
  rust/kernel/benches/syscall_bench.rs
Due: none

refactor(kernel): reclassify mkdir as Tier 2 KernelConvenience
  rust/kernel/src/abi.rs
  rust/kernel/src/kernel/convenience.rs
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/mod.rs
  rust/transport/src/call_dispatch.rs
Due: none

refactor(kernel): fold setattr_pipe into the sys_setattr matrix
  rust/kernel/src/abi.rs
  rust/kernel/src/kernel/mod.rs
  rust/services/src/acp/subprocess.rs
Due: none

refactor(kernel): reclassify rmdir as Tier 2 KernelConvenience
  rust/kernel/src/kernel/convenience.rs
  rust/kernel/src/kernel/io.rs
Due: none

feat(transport): typed BatchWrite RPC (Rust side)
  proto/nexus/grpc/vfs/vfs.proto
  rust/transport/src/call_dispatch.rs
  rust/transport/src/grpc.rs
Due: none

chore(grpc): regenerate vfs stubs for Readdir RPC
  src/nexus/grpc/vfs/vfs_pb2.py
  src/nexus/grpc/vfs/vfs_pb2_grpc.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
