Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

chore(deps): bump nexus-vfs pin to ce1b1c88 (PR #99 merged on main)
  Cargo.lock
  Cargo.toml
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

test(e2e): drop flaky polling in cc-tasks-share step 2/4 — event-driven assertions
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

chore(deps): bump nexus-vfs pin to 196437ca8 (PR #101 — symmetric peer bootstrap)
  Cargo.lock
  Cargo.toml
Due: none

test(e2e) + docs(runbook): pin nexus-vfs PR #101 + update cross-machine runbook
  docs/architecture/federation-cross-machine-runbook.md
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

fix(ci): bump Dockerfile pins to 196437ca8 + reorder PR #101 E2E before joined_cluster fixture
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

revert(e2e): back out TestJoinSidecarBootstrapsRoot — needs isolated topology
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

fix(ci): auto-plugin-release — set github-actions[bot] git identity
  .github/workflows/auto-plugin-release.yml
Due: none

chore(deps): bump nexus-vfs pin to ee7e645d4 (PR #102 — sys_readdir observation)
  Cargo.lock
  Cargo.toml
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

test(e2e): pin nexus-vfs PR #102 sys_readdir observation
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

docs(runbook): add peer-shared variant enabled by nexus-vfs PR #102
  docs/architecture/federation-cross-machine-runbook.md
Due: none

chore(deps): bump nexus-vfs pin to c042117ab (PR #103) + update E2E to DT_DIR contract
  Cargo.lock
  Cargo.toml
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

chore(deps): bump nexus-vfs pin to 8a14842fd (PR #104 — observation content_id fix)
  Cargo.lock
  Cargo.toml
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

test(e2e): extend TestSysReaddirObservation for PR #104 content_id fix
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

chore(deps): bump nexus-vfs pin to 291f5fa72 (PR #105 — DT_REG size fix)
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): bump Dockerfile NEXUS_VFS_REV to 291f5fa72 (align with Cargo.{toml,lock})
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

test(e2e): descend into session dir before stat'ing DT_REG
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

chore(deps): bump nexus-vfs pin to a52f13015 (PR #106 — identity.json)
  Cargo.lock
  Cargo.toml
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

test(e2e): pin identity.json peer persistence via sidecar
  dockerfiles/docker-compose.cc-tasks-share.yml
  tests/e2e/docker/runbook_helpers.py
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

fix(docker): pre-create /app/identity in nexusd-cluster base image
  dockerfiles/Dockerfile.nexusd-cluster
Due: none

test(e2e): dump container logs when wait_healthy times out
  tests/e2e/docker/runbook_helpers.py
Due: check-type-ignore

chore(deps): bump nexus-vfs pin to 46c61f785 (PR #107 SOLO-invariant fix)
  Cargo.lock
  Cargo.toml
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

chore(deps): bump nexus-vfs pin to 1ec7f7620 (PR #108 readdir fan-out)
  Cargo.lock
  Cargo.toml
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

chore(deps): bump nexus-vfs pin to d7bb896e2 (PR #109 operator parse split)
  Cargo.lock
  Cargo.toml
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

test(e2e): switch docker E2E to bare host:port peer form (post nexus-vfs #109)
  tests/e2e/docker/runbook_helpers.py
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

docs(runbook): update federation-cross-machine for nexus-vfs #106–#109
  docs/architecture/federation-cross-machine-runbook.md
Due: none

test(e2e): match renamed 'local_node_id=' boot log line
  tests/e2e/docker/runbook_helpers.py
Due: check-type-ignore

chore(deps): bump nexus-vfs pin to 3c8e6f362 (PR #110 peer-identity surface)
  Cargo.lock
  Cargo.toml
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

docs(runbook): reflect local_node_id / peer_node_id / leader_node_id + leader_addr rename
  docs/architecture/federation-cross-machine-runbook.md
Due: none

chore(deps): bump nexus-vfs pin to e3b1f8901 (PR #111 audit closure)
  Cargo.lock
  Cargo.toml
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

test(e2e): docker-compose for peer-shared cc-tasks topology
  dockerfiles/docker-compose.cc-tasks-peer-shared.yml
Due: none

test(e2e): peer-shared merged-view + cross-node byte-exact regression pins
  tests/e2e/docker/test_cc_tasks_peer_shared_e2e.py
Due: check-type-ignore

ci: cc-tasks-peer-shared E2E workflow (Docker)
  .github/workflows/cc-tasks-peer-shared-e2e.yml
Due: none

test(e2e): S3 data_dir loss + rebuild-from-peer regression pin
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

fix(test): joined_cluster fixture uses correct run_nexusd_cluster_join signature
  tests/e2e/docker/test_cc_tasks_peer_shared_e2e.py
Due: check-type-ignore

fix(test): S3 recovery test uses sidecar rejoin path (current behavior)
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

test(e2e): skip S3 wipe-recovery pin — quorum blocker documented
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

test: register wedge_watchdog marker for kernel-fs-syscall watchdog
  tests/conftest.py
Due: check-type-ignore

test(e2e/macos): auto-apply wedge_watchdog + capture diagnostics on failure
  tests/e2e/macos/conftest.py
Due: check-type-ignore

ci(fuse-macos-nfs): pre-pytest wedge probe + reduce workflow timeout 30→12 min
  .github/workflows/fuse-plugin-macos-nfs-e2e.yml
Due: none

fix(ci): wedge probe uses scripts/wedge_probe.py (GNU timeout absent on macOS)
  .github/workflows/fuse-plugin-macos-nfs-e2e.yml
  scripts/wedge_probe.py
Due: check-file-size, check-type-ignore
