Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

docs(integration): §5.3 zone audit auto-wire via Mount observer
  docs/architecture/nexus-integration-architecture.md
Due: none

feat(kernel): fire FileEventType::Mount on sys_setattr DT_MOUNT success
  rust/kernel/src/core/dispatch/mod.rs
  rust/kernel/src/kernel/mod.rs
Due: none

feat(services::managed_agent): SpawnTask::spawn takes state observer
  rust/services/src/managed_agent/mod.rs
Due: none

docs+code: audit stream path = /__sys__/audit/traces/
  docs/architecture/nexus-integration-architecture.md
  rust/services/src/audit/mod.rs
Due: none

test(services::audit): Mount dispatch reaches ZoneAuditAutoWire observer
  rust/services/src/audit/mod.rs
Due: none

fix(kernel): expose LocalMetaStore pub for peer-crate test fixtures
  rust/kernel/src/core/meta_store/mod.rs
Due: none

test(services::audit): sys_write captured to audit stream end-to-end
  rust/services/src/audit/mod.rs
Due: none

test(services::audit): TestFederationCoordinator stub + install_root smoke
  rust/services/src/audit/mod.rs
Due: none

feat(services::audit): MutationObserver auto-wires audit for new zones
  rust/kernel/src/core/dispatch/mod.rs
  rust/services/src/audit/mod.rs
Due: none

docs(integration): honor nexus-cdylib deletion — gRPC-only architecture
  docs/architecture/nexus-integration-architecture.md
Due: none

Complete ReBAC issue 4134 coverage
  docs/architecture/api-rpc-surface-coverage.html
  docs/architecture/api-rpc-surface-coverage.yaml
  docs/guides/user-guide.md
  rust/transport/src/call_dispatch.rs
  scripts/gen_api_surface_coverage.py
  scripts/surface_coverage/taxonomy.py
  src/nexus/bricks/rebac/consistency/metastore_namespace_store.py
  src/nexus/bricks/rebac/consistency/metastore_version_store.py
  src/nexus/bricks/rebac/dynamic_viewer.py
  src/nexus/bricks/rebac/manager.py
  src/nexus/bricks/rebac/rebac_service.py
  src/nexus/bricks/rebac/share_mixin.py
  src/nexus/bricks/rebac/tuples/repository.py
  src/nexus/cli/commands/rebac.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_content.py
  src/nexus/core/nexus_fs_metadata.py
  src/nexus/factory/_wired.py
  src/nexus/remote/kernel_client.py
  src/nexus/server/_rpc_param_overrides.py
  src/nexus/server/api/core/rpc.py
  src/nexus/storage/piped_record_store_write_observer.py
  src/nexus/storage/schema_invariants.py
  tests/architecture/test_rebac_surface_story.py
  tests/benchmarks/bench_rebac_scale.py
  tests/benchmarks/conftest.py
  tests/benchmarks/test_rebac_latency.py
  tests/e2e/self_contained/test_rebac_full_story_e2e.py
  tests/unit/core/test_process_local_service_registry.py
  tests/unit/remote/test_kernel_client_hooks.py
  tests/unit/server/test_rpc_param_overrides.py
  tests/unit/services/permissions/consistency/test_metastore_store_missing_fast.py
  tests/unit/services/test_rebac_service.py
  tests/unit/storage/test_piped_record_store_write_observer.py
  tests/unit/storage/test_schema_invariants.py
Due: check-file-size, check-type-ignore

Fix ReBAC review regressions
  src/nexus/bricks/rebac/rebac_service.py
  src/nexus/cli/commands/rebac.py
  tests/e2e/self_contained/test_rebac_full_story_e2e.py
Due: check-file-size, check-type-ignore

Fix ReBAC CI regressions
  scripts/generate_rpc_params.py
  scripts/surface_coverage/schema.py
  src/nexus/server/_rpc_param_overrides.py
  src/nexus/server/_rpc_params_generated.py
  src/nexus/server/protocol.py
  tests/architecture/test_schema.py
  tests/unit/server/test_rpc_param_overrides.py
Due: check-file-size, check-type-ignore

Address sandbox write batch review findings
  rust/kernel/src/kernel/io.rs
  rust/transport/src/call_dispatch.rs
Due: none

Fix sandbox file API coverage and write batch perf
  Cargo.lock
  docs/architecture/api-rpc-surface-coverage.html
  docs/architecture/api-rpc-surface-coverage.yaml
  docs/guides/user-guide.md
  rust/transport/Cargo.toml
  rust/transport/src/call_dispatch.rs
  scripts/surface_coverage/merge.py
  src/nexus/core/nexus_fs_metadata.py
  src/nexus/daemon/main.py
  src/nexus/daemon/sandbox_bootstrap.py
  src/nexus/server/api/core/health.py
  tests/architecture/test_issue_4127_sandbox_filesystem_surface.py
  tests/architecture/test_merge.py
  tests/benchmarks/bench_read_write_overhead.py
  tests/unit/core/test_nexus_fs_metadata_mounts.py
  tests/unit/daemon/test_sandbox_bootstrap.py
  tests/unit/daemon/test_sandbox_flags.py
  tests/unit/server/api/core/test_health.py
Due: check-file-size, check-type-ignore

Fix CI checks for sandbox file API PR
  .github/workflows/cluster-binary-build.yml
  dockerfiles/Dockerfile.raft-witness
Due: none

Restore sandbox coverage annotations after rebase
  docs/architecture/api-rpc-surface-coverage.html
  docs/architecture/api-rpc-surface-coverage.yaml
Due: none

fix(factory): replace kernel type-name check with capability attribute
  src/nexus/factory/_wired.py
Due: check-file-size, check-type-ignore

fix sandbox rebac mcp coverage
  docs/architecture/api-rpc-surface-coverage.html
  docs/architecture/api-rpc-surface-coverage.yaml
  docs/guides/user-guide.md
  src/nexus/cli/commands/mcp.py
  src/nexus/core/boot_indexer.py
  src/nexus/remote/federation_handshake.py
  src/nexus/remote/kernel_client.py
  src/nexus/storage/schema_invariants.py
  tests/architecture/test_issue_4128_sandbox_rebac_mcp_boundaries.py
  tests/benchmarks/bench_permission_hotpath.py
  tests/e2e/self_contained/cli/test_sandbox_federation_e2e.py
  tests/e2e/server/test_mcp_tool_namespace_e2e.py
  tests/e2e/server/test_rebac_latency_e2e.py
  tests/unit/backends/test_remote_zone.py
  tests/unit/bricks/mcp/test_tool_namespace_middleware.py
  tests/unit/cli/test_mcp_profile_cli.py
  tests/unit/core/test_boot_indexer.py
  tests/unit/remote/test_federation_handshake.py
  tests/unit/remote/test_kernel_client_hooks.py
  tests/unit/storage/test_schema_invariants.py
Due: check-file-size, check-type-ignore

fix packaged mcp profile config
  pyproject.toml
  tests/architecture/test_issue_4128_sandbox_rebac_mcp_boundaries.py
Due: check-type-ignore

fix: move _health_state from NexusFS monkey-patch to app.state
  src/nexus/daemon/main.py
  src/nexus/server/api/core/health.py
  tests/unit/daemon/test_sandbox_flags.py
  tests/unit/server/api/core/test_health.py
Due: check-file-size, check-type-ignore

refactor(kernel): use HookIdentity::from(ctx) across all 12 sites in io.rs
  rust/kernel/src/kernel/io.rs
Due: none

refactor(kernel): add From<&OperationContext> for HookIdentity
  rust/kernel/src/core/dispatch/mod.rs
Due: none

fix: health_state always fresh dict, never read from NexusFS
  src/nexus/daemon/main.py
  tests/unit/daemon/test_sandbox_flags.py
Due: check-file-size, check-type-ignore

Fix storage model re-export coverage
  tests/unit/storage/test_model_imports.py
Due: check-type-ignore

fix(#4189): fix test isolation in test_pagination_with_special_characters
  tests/e2e/self_contained/test_list_pagination.py
Due: check-type-ignore

refactor(#4189): extract _search_fts into dialect-specific methods
  src/nexus/bricks/search/daemon.py
Due: check-file-size, check-type-ignore

fix(#4189): remove BFS readdir workaround from search brick
  src/nexus/bricks/search/search_service.py
Due: check-file-size, check-type-ignore

Address search E2E review findings
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/search_service.py
  tests/integration/services/test_search_service.py
  tests/unit/bricks/search/test_daemon_index_documents.py
Due: check-file-size, check-type-ignore

Refine search daemon FTS dialect routing
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_daemon_backend_routing.py
Due: check-file-size, check-type-ignore

Fix search surface CI regressions
  src/nexus/core/nexus_fs_metadata.py
  src/nexus/server/app_state.py
  tests/e2e/self_contained/test_search_surface_live_e2e.py
  tests/integration/services/test_search_service.py
  tests/unit/server/test_app_state.py
Due: check-file-size, check-type-ignore

fix(#4189): revert index_documents to skip-on-missing (pillar violation)
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_daemon_index_documents.py
Due: check-file-size, check-type-ignore

Add live search surface E2E coverage
  alembic/versions/add_indexed_directories.py
  docs/architecture/api-rpc-surface-coverage.html
  docs/architecture/api-rpc-surface-coverage.yaml
  docs/architecture/api-rpc-surface-gaps.yaml
  docs/guides/user-guide.md
  scripts/surface_coverage/normalize.py
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/search_service.py
  src/nexus/server/api/v2/routers/search.py
  src/nexus/server/lifespan/__init__.py
  src/nexus/server/lifespan/permissions.py
  src/nexus/storage/models/__init__.py
  src/nexus/storage/models/indexed_directory.py
  src/nexus/storage/models/path_context.py
  tests/architecture/test_normalize.py
  tests/architecture/test_search_surface_story.py
  tests/e2e/self_contained/test_search_surface_live_e2e.py
Due: check-file-size, check-type-ignore

fix: stabilize develop CI publishing
  .github/workflows/demo-memory.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs.yml
  tests/unit/ci/test_workflow_guards.py
Due: check-type-ignore

fix(search): align ReBAC filtering and delete indexing
  src/nexus/bricks/mcp/server.py
  src/nexus/bricks/search/daemon.py
  src/nexus/core/nexus_fs_metadata.py
  src/nexus/lib/rebac_filter.py
  src/nexus/server/api/v2/routers/search.py
  src/nexus/storage/piped_record_store_write_observer.py
  tests/unit/bricks/search/test_daemon_delete_notify.py
  tests/unit/core/test_nexus_fs_unlink_hooks.py
  tests/unit/server/routers/test_search_rebac_filter.py
  tests/unit/storage/test_piped_record_store_write_observer.py
Due: check-file-size, check-type-ignore

Fix issue 4129 sandbox API coverage
  dockerfiles/docker-entrypoint.sh
  docs/architecture/api-rpc-surface-coverage.html
  docs/architecture/api-rpc-surface-coverage.yaml
  docs/guides/user-guide.md
  permissions_demo_enhanced.sh
  scripts/test_build_perf_e2e.py
  src/nexus/bricks/mcp/tool_utils.py
  src/nexus/bricks/search/indexing_service.py
  src/nexus/bricks/search/search_service.py
  src/nexus/cli/commands/admin.py
  src/nexus/cli/commands/search.py
  src/nexus/core/nexus_fs_metadata.py
  src/nexus/factory/adapters.py
  src/nexus/server/_rpc_param_overrides.py
  src/nexus/server/lifespan/__init__.py
  src/nexus/server/lifespan/vfs_grpc.py
  tests/architecture/test_issue_4129_sandbox_search_surface.py
  tests/architecture/test_search_surface_story.py
  tests/e2e/self_contained/test_issue_4129_sandbox_search_e2e.py
  tests/integration/services/test_search_service.py
  tests/unit/cli/test_admin_key_cli.py
  tests/unit/core/test_rename_post_hooks.py
  tests/unit/server/test_vfs_grpc.py
Due: check-file-size, check-type-ignore

test: add real e2e coverage for issue 4136
  docs/architecture/api-rpc-surface-coverage.html
  docs/architecture/api-rpc-surface-coverage.yaml
  docs/guides/user-guide.md
  rust/transport/src/call_dispatch.rs
  src/nexus/bricks/auth/oauth/credential_service.py
  src/nexus/bricks/mcp/mcp_service.py
  src/nexus/remote/kernel_client.py
  src/nexus/server/api/v2/routers/connectors.py
  tests/architecture/test_issue_4136_full_mcp_mount_oauth_surface.py
  tests/e2e/server/test_issue_4136_api_surface_e2e.py
  tests/integration/services/test_connectors_router.py
  tests/unit/bricks/mcp/test_policy_gate_threading.py
  tests/unit/services/test_mount_service.py
  tests/unit/services/test_oauth_service.py
Due: check-file-size, check-type-ignore

fix(audit): graceful sqlite_vec fallback in search daemon backend init
  src/nexus/bricks/search/daemon.py
Due: check-file-size, check-type-ignore

fix(audit): remove _rebac_manager private attr fallback in MCP CLI
  src/nexus/cli/commands/mcp.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
