Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: rpc-parity, version-consistency

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/)

  - repo: local
    hooks:
      - id: rpc-parity
        name: RPC Parity Check
        entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
        language: system
        pass_filenames: false
        files: ^src/nexus/core/nexus_fs.*\.py$

      - id: version-consistency
        name: Version Consistency Check
        entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|src/nexus/__init__\.py)$

feat(#800): Add edit engine with search/replace for surgical file edits
  src/nexus/core/edit_engine.py
  src/nexus/core/filesystem.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/test_edit_e2e.py
  tests/unit/core/test_edit_engine.py
  uv.lock
Due: rpc-parity

style(#800): Fix ruff formatting in filesystem.py
  src/nexus/core/filesystem.py
Due: none

fix(rebac): Handle root path in trailing slash normalization
  src/nexus/core/nexus_fs_rebac.py
Due: rpc-parity

feat(#800): Add edit method to NexusFilesystem Protocol
  src/nexus/skills/protocols.py
  tests/unit/skills/test_protocol_compatibility.py
Due: none

feat(#800): Add edit engine with search/replace for surgical file edits (#1048)
  src/nexus/core/edit_engine.py
  src/nexus/core/filesystem.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  src/nexus/skills/protocols.py
  tests/e2e/__init__.py
  tests/e2e/conftest.py
  tests/e2e/test_edit_e2e.py
  tests/unit/core/test_edit_engine.py
  tests/unit/skills/test_protocol_compatibility.py
  uv.lock
Due: rpc-parity

test(#1047): Add unit tests for rebac path trailing slash normalization
  tests/unit/core/test_nexus_fs_rebac_mixin.py
Due: none

fix: Add session_factory property to DiscriminatingAuthProvider
  src/nexus/server/auth/factory.py
Due: none

fix(rebac): Normalize file paths by removing trailing slashes (#1047)
  src/nexus/core/nexus_fs_rebac.py
  src/nexus/server/auth/factory.py
Due: rpc-parity

perf: Add simple script to generate performance test data
  benchmarks/performance_test_data/generate_perf_data.py
Due: none

feat: Add workspace filtering by user and agent skill loading
  src/nexus/core/filesystem.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/scoped_filesystem.py
  src/nexus/core/workspace_registry.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  src/nexus/services/skill_service.py
  src/nexus/skills/protocols.py
Due: rpc-parity

fix(#1028): Include temporal fields in query response
  src/nexus/core/memory_api.py
Due: none

style(#1028): Apply ruff formatting
  src/nexus/core/memory_api.py
  src/nexus/core/temporal_resolver.py
Due: none

feat(#1028): Add temporal metadata extraction for date-based queries
  alembic/versions/add_temporal_metadata_to_memories.py
  src/nexus/core/memory_api.py
  src/nexus/core/memory_router.py
  src/nexus/core/temporal_resolver.py
  src/nexus/server/fastapi_server.py
  src/nexus/storage/models.py
  tests/unit/core/test_temporal_extraction.py
Due: none

fix: Add update_workspace method to RemoteNexusFS client
  src/nexus/remote/client.py
Due: none

feat(#1028): Add temporal metadata extraction for date-based queries (#1049)
  alembic/versions/add_temporal_metadata_to_memories.py
  src/nexus/core/memory_api.py
  src/nexus/core/memory_router.py
  src/nexus/core/temporal_resolver.py
  src/nexus/server/fastapi_server.py
  src/nexus/storage/models.py
  tests/unit/core/test_temporal_extraction.py
Due: none

feat: Add workspace filtering by user and agent skill loading (#1052)
  src/nexus/core/filesystem.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/scoped_filesystem.py
  src/nexus/core/workspace_registry.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  src/nexus/services/skill_service.py
  src/nexus/skills/protocols.py
Due: rpc-parity

feat(#1038): Add LLM-based relationship extraction at memory ingestion
  alembic/versions/add_relationship_extraction_to_memories.py
  src/nexus/core/memory_api.py
  src/nexus/core/memory_router.py
  src/nexus/core/relationship_extractor.py
  src/nexus/server/fastapi_server.py
  src/nexus/storage/models.py
  tests/unit/core/test_relationship_extractor.py
Due: none

style(#1038): Apply ruff formatting to models.py
  src/nexus/storage/models.py
Due: none

fix(#1038): Make deprecation warning test more robust
  tests/unit/core/test_rebac_cache.py
Due: none

style(#1038): Apply ruff formatting to test_rebac_cache.py
  tests/unit/core/test_rebac_cache.py
Due: none

feat: Add performance benchmarking scripts and migration history merge
  .pre-commit-config.yaml
  alembic/versions/eb9a31742e51_merge_migration_history_and_tenant_non_.py
  benchmarks/performance_test_data/.gitignore
  benchmarks/performance_test_data/generate_html_report.py
  benchmarks/performance_test_data/generate_perf_data.py
  benchmarks/performance_test_data/run_benchmark.sh
  benchmarks/performance_test_data/test_flat_comparison.py
  benchmarks/performance_test_data/test_grep_comparison.py
  benchmarks/performance_test_data/test_nested_comparison.py
  pyproject.toml
  src/nexus/core/nexus_fs_search.py
  src/nexus/remote/client.py
Due: rpc-parity, version-consistency

feat(#1038): Add LLM-based relationship extraction at memory ingestion (#1053)
  alembic/versions/add_relationship_extraction_to_memories.py
  src/nexus/core/memory_api.py
  src/nexus/core/memory_router.py
  src/nexus/core/relationship_extractor.py
  src/nexus/server/fastapi_server.py
  src/nexus/storage/models.py
  tests/unit/core/test_rebac_cache.py
  tests/unit/core/test_relationship_extractor.py
Due: none

feat: Enhance performance data generation with medium-sized grep files
  benchmarks/performance_test_data/generate_perf_data.py
Due: none

feat: Add Google Calendar connector with file-based CRUD operations
  configs/oauth.yaml
  scripts/oauth_gcalendar.py
  scripts/test_gcalendar_e2e.py
  src/nexus/backends/gcalendar_connector.py
  src/nexus/connectors/__init__.py
  src/nexus/connectors/base.py
  src/nexus/connectors/calendar/SKILL.md
  src/nexus/connectors/calendar/__init__.py
  src/nexus/connectors/calendar/errors.py
  src/nexus/connectors/calendar/schemas.py
  src/nexus/connectors/mount_hooks.py
  tests/integration/test_gcalendar_connector.py
  tests/unit/connectors/__init__.py
  tests/unit/connectors/test_base_mixins.py
  tests/unit/connectors/test_calendar_schemas.py
Due: none

fix: Use specific exception type in pytest.raises for lint compliance
  tests/integration/test_gcalendar_connector.py
Due: none

style: Fix import sorting in unit test files
  tests/unit/connectors/test_base_mixins.py
  tests/unit/connectors/test_calendar_schemas.py
Due: none

style: Apply ruff formatting
  src/nexus/connectors/base.py
  src/nexus/storage/models.py
Due: none
