Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix(#2435): convert cli/oauth.py bricks imports to importlib
  src/nexus/cli/commands/oauth.py
Due: check-file-size, check-type-ignore

fix(#2435): delete dead PermissionEnforcer shim from core/permissions.py
  pyproject.toml
  src/nexus/core/permissions.py
Due: check-file-size, check-type-ignore

fix(#2435): inject metadata_factory into snapshot test fixture
  tests/unit/services/snapshot/conftest.py
Due: check-type-ignore

fix(#2435): move rebac/async_bridge.py to bricks/rebac/ (canonical path)
  src/nexus/bricks/rebac/async_bridge.py
  tests/unit/core/test_async_bridge.py
  tests/unit/core/test_import_smoke.py
Due: check-file-size, check-type-ignore

fix(#2435): convert 2 system_services→bricks runtime imports to importlib
  pyproject.toml
  src/nexus/system_services/lifecycle/events_service.py
  src/nexus/system_services/sync/sync_service.py
Due: check-file-size, check-type-ignore

fix(#2435): rewrite FUSE event imports from services to core tier
  src/nexus/fuse/operations.py
  src/nexus/fuse/ops/_events.py
  src/nexus/fuse/ops/attr_handler.py
  src/nexus/fuse/ops/io_handler.py
  src/nexus/fuse/ops/mutation_handler.py
Due: check-file-size, check-type-ignore

fix(#2435): convert storage/fuse → bricks runtime imports to importlib
  src/nexus/fuse/ops/_shared.py
  src/nexus/storage/repositories/sandbox.py
  src/nexus/storage/repositories/spending_policy.py
Due: check-file-size, check-type-ignore

fix(#2435): use == instead of is for DelegationMode enum comparison
  src/nexus/bricks/delegation/derivation.py
Due: check-file-size, check-type-ignore

fix(#2435): remove 1 stale + 1 duplicate import-linter ratchet entry
  pyproject.toml
Due: none

chore(#2435): delete empty stale bricks/sandbox/sandbox_rpc_service.py
  src/nexus/bricks/sandbox/sandbox_rpc_service.py
Due: check-file-size, check-type-ignore

fix(#2435): restore portability ratchet entry (not stale — import nexus at l.94)
  pyproject.toml
Due: none

add Benchmark (pytest) benchmark result for 30da0deb31d64dfd10a9b51fdf2bfde3653bd087
  dev/bench/data.js
Due: none

feat(#917): replace hardcoded "root" zone_id with ROOT_ZONE_ID constant in core/ (#2476)
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_bulk.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/vfs_hook_impls.py
Due: check-file-size, check-type-ignore

fix(#932): remove 11 dead `if TYPE_CHECKING: pass` blocks and unused imports (#2486)
  src/nexus/bricks/context_manifest/executors/snapshot_lookup_db.py
  src/nexus/bricks/rebac/cache/boundary.py
  src/nexus/core/vfs_hook_impls.py
  src/nexus/fuse/ops/metadata_handler.py
  src/nexus/lib/response.py
  src/nexus/server/api/v2/routers/pay.py
  src/nexus/server/api/v2/routers/x402.py
  src/nexus/services/ace/affinity.py
  src/nexus/services/rpc_transport.py
  src/nexus/storage/models/memory.py
  src/nexus/utils/edit_engine.py
Due: check-file-size, check-type-ignore

fix(#919): remove 32 stale import-linter ignore_imports entries
  pyproject.toml
Due: none

fix(#929): delete dead api_key_ops re-export shim
  pyproject.toml
  src/nexus/bricks/identity/api_key_ops.py
Due: check-file-size, check-type-ignore

fix(#927): delete dead memory service deprecation shim
  pyproject.toml
Due: none

fix(#928): remove 2 stale governance import-linter entries
  pyproject.toml
Due: none

fix(#930): remove 23 stale import-linter entries for deleted modules
  pyproject.toml
Due: none

fix(#935): replace hardcoded zone_id != "root" with ROOT_ZONE_ID in raft_metadata_store
  src/nexus/storage/raft_metadata_store.py
Due: check-file-size, check-type-ignore

fix: revert ROOT_ZONE_ID regressions and pyproject.toml drift
  pyproject.toml
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_bulk.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/vfs_hook_impls.py
Due: check-file-size, check-type-ignore

fix(#938): replace or "root" fallbacks with ROOT_ZONE_ID in storage + factory
  src/nexus/factory/_bricks.py
  src/nexus/factory/_system.py
  src/nexus/storage/auth_stores/sqlalchemy_api_key_store.py
  src/nexus/storage/write_buffer.py
Due: check-file-size, check-type-ignore

fix(#940): replace or "root" fallbacks with ROOT_ZONE_ID in bricks + services
  src/nexus/bricks/delegation/service.py
  src/nexus/bricks/memory/memory_with_paging.py
  src/nexus/bricks/memory/service.py
  src/nexus/bricks/portability/import_service.py
  src/nexus/services/agents/agent_rpc_service.py
  src/nexus/services/descendant_access.py
Due: check-file-size, check-type-ignore

fix(#942): replace default zone_id="root" params with ROOT_ZONE_ID constant
  src/nexus/bricks/access_manifest/service.py
  src/nexus/bricks/ipc/discovery.py
  src/nexus/bricks/ipc/provisioning.py
  src/nexus/bricks/ipc/sweep.py
  src/nexus/bricks/memory/memory_paging/archival_store.py
  src/nexus/bricks/memory/memory_paging/pager.py
  src/nexus/bricks/memory/memory_paging/recall_store.py
  src/nexus/bricks/search/graph_store.py
  src/nexus/remote/domain/admin.py
  src/nexus/services/workspace_rpc_service.py
  src/nexus/storage/exchange_audit_logger.py
  src/nexus/storage/secrets_audit_logger.py
Due: check-file-size, check-type-ignore
