Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix: resolve pre-existing CI failures (ruff format + frozen dataclass test)
  tests/unit/core/test_agent_record.py
Due: check-type-ignore

fix: use develop's test_is_frozen approach (try/except + fallback)
  tests/unit/core/test_agent_record.py
Due: check-type-ignore

feat(#1772): migrate 3 pipe services from PipeManager to sys_write/sys_read
  src/nexus/bricks/task_manager/dispatch_consumer.py
  src/nexus/factory/orchestrator.py
  src/nexus/factory/zoekt_pipe_consumer.py
  src/nexus/server/lifespan/services.py
  src/nexus/storage/piped_record_store_write_observer.py
  src/nexus/storage/write_observer_hooks.py
  tests/unit/storage/test_piped_write_observer_flush.py
Due: check-file-size, check-type-ignore

feat(#1589): message-boundary CDC for LLM KV cache optimization
  docs/architecture/llm-cas-kv-cache.md
  src/nexus/backends/compute/message_chunking.py
  tests/unit/backends/test_message_chunking.py
Due: check-file-size, check-type-ignore

refactor(#1802): content_id as write param + version in WriteResult
  src/nexus/backends/base/backend.py
  src/nexus/backends/base/cas_addressing_engine.py
  src/nexus/backends/base/path_addressing_engine.py
  src/nexus/backends/connectors/calendar/connector.py
  src/nexus/backends/connectors/gdrive/connector.py
  src/nexus/backends/connectors/gmail/connector.py
  src/nexus/backends/connectors/slack/connector.py
  src/nexus/backends/connectors/x/connector.py
  src/nexus/backends/storage/delegating.py
  src/nexus/backends/storage/local_connector.py
  src/nexus/backends/storage/remote.py
  src/nexus/backends/wrappers/caching.py
  src/nexus/backends/wrappers/logging.py
  src/nexus/bricks/sandbox/isolation/backend.py
  src/nexus/contracts/types.py
  src/nexus/core/object_store.py
  src/nexus/core/protocols/connector.py
  src/nexus/raft/content_replication_service.py
  tests/benchmarks/bench_isolation.py
  tests/benchmarks/test_adapter_overhead.py
  tests/e2e/self_contained/isolation_helpers.py
  tests/e2e/self_contained/test_context_branch_lifecycle.py
  tests/e2e/self_contained/test_isolation_boundary.py
  tests/e2e/test_context_branch_e2e.py
  tests/helpers/failing_backend.py
  tests/unit/backends/test_backend_contract.py
  tests/unit/backends/test_batch_operations.py
  tests/unit/backends/test_delegating.py
  tests/unit/backends/test_delegating_backend.py
  tests/unit/backends/test_path_backend.py
  tests/unit/backends/test_protocol_conformance.py
  tests/unit/backends/test_registry.py
  tests/unit/backends/test_streaming.py
  tests/unit/backends/wrapper_test_helpers.py
  tests/unit/core/test_object_store.py
  tests/unit/services/test_context_branch_merge.py
Due: check-file-size, check-type-ignore

fix(#1802): fix missed write_content signatures in path_s3, path_gcs, hn connector
  src/nexus/backends/connectors/hn/connector.py
  src/nexus/backends/storage/path_gcs.py
  src/nexus/backends/storage/path_s3.py
Due: check-file-size, check-type-ignore

fix: pre-existing test failures on Python 3.13
  tests/unit/core/test_embedded.py
  tests/unit/core/test_embedded_cas.py
  tests/unit/core/test_pipe_consumers.py
Due: check-type-ignore

feat(#3147): Cross-zone federated search — full implementation
  proto/nexus/raft/transport.proto
  rust/nexus_raft/src/pyo3_bindings.rs
  rust/nexus_raft/src/raft/mod.rs
  rust/nexus_raft/src/raft/zone_registry.rs
  rust/nexus_raft/src/transport/server.rs
  scripts/test_federated_search_e2e.py
  src/nexus/bricks/rebac/rebac_service.py
  src/nexus/bricks/search/federated_search.py
  src/nexus/bricks/search/fusion.py
  src/nexus/bricks/search/results.py
  src/nexus/bricks/search/zone_registry.py
  src/nexus/contracts/search_delegation.py
  src/nexus/grpc/servicer.py
  src/nexus/remote/rpc_transport.py
  src/nexus/server/api/v2/routers/search.py
  src/nexus/server/lifespan/search.py
  tests/unit/bricks/search/test_federated_search.py
  tests/unit/bricks/search/test_fusion.py
  tests/unit/bricks/search/test_search_delegation.py
  tests/unit/bricks/search/test_zone_registry.py
  tests/unit/services/test_rebac_zone_discovery.py
  tests/unit/services/test_search_router.py
Due: check-file-size, check-type-ignore, rust-fmt-raft, rust-clippy-raft

perf(rebac): leverage kernel primitives across ReBAC caching stack (#3192)
  .pre-commit-hooks/check_file_size.py
  pyproject.toml
  src/nexus/bricks/mount/metastore_mount_store.py
  src/nexus/bricks/rebac/batch/bulk_checker.py
  src/nexus/bricks/rebac/cache/boundary.py
  src/nexus/bricks/rebac/cache/coordinator.py
  src/nexus/bricks/rebac/cache/invalidation_stream.py
  src/nexus/bricks/rebac/cache/iterator.py
  src/nexus/bricks/rebac/cache/leopard.py
  src/nexus/bricks/rebac/cache/path_trie.py
  src/nexus/bricks/rebac/cache/pubsub_invalidation.py
  src/nexus/bricks/rebac/cache/result_cache.py
  src/nexus/bricks/rebac/cache/shared_ring_buffer.py
  src/nexus/bricks/rebac/cache/tiger/bitmap_cache.py
  src/nexus/bricks/rebac/cache/utils.py
  src/nexus/bricks/rebac/cache/visibility.py
  src/nexus/bricks/rebac/consistency/metastore_namespace_store.py
  src/nexus/bricks/rebac/deferred_permission_buffer.py
  src/nexus/bricks/rebac/filter_chain.py
  src/nexus/bricks/rebac/hotspot_detector.py
  src/nexus/bricks/rebac/manager.py
  src/nexus/bricks/rebac/zone_graph_loader.py
  src/nexus/grpc/server.py
  src/nexus/raft/federated_metadata_proxy.py
  src/nexus/system_services/namespace/descendant_access.py
  tests/unit/core/test_cache_concurrency.py
  tests/unit/core/test_cache_coordinator.py
  tests/unit/core/test_deferred_buffer_deadletter.py
  tests/unit/core/test_tiger_cache_fallback.py
Due: check-file-size, check-type-ignore

refactor(#1792): AgentRegistry → kernel-owned primitive + fix audit pipe permissions
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/core/agent_registry.py
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_system.py
  src/nexus/factory/_wired.py
  src/nexus/factory/orchestrator.py
  src/nexus/server/lifespan/services_container.py
  src/nexus/storage/write_observer_hooks.py
  tests/unit/core/test_agent_record.py
  tests/unit/core/test_embedded.py
  tests/unit/core/test_embedded_cas.py
  tests/unit/core/test_factory_boot.py
  tests/unit/core/test_kernel_config.py
  tests/unit/core/test_pipe_consumers.py
  tests/unit/factory/test_retroactive_hook_specs.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

fix: version_service RPC discovery via _brick_services fallback
  src/nexus/server/fastapi_server.py
Due: check-file-size, check-type-ignore

fix: address Codex review — bloom encoding, DT_STREAM wiring, PathTrie hot path
  src/nexus/bricks/rebac/cache/tiger/bitmap_cache.py
  src/nexus/bricks/rebac/cache/visibility.py
  src/nexus/bricks/rebac/deferred_permission_buffer.py
  src/nexus/bricks/rebac/filter_chain.py
  src/nexus/bricks/rebac/manager.py
  tests/unit/core/test_tiger_cache_fallback.py
Due: check-file-size, check-type-ignore

fix: address Codex review round 2 — PubSub wiring, ring buffer read, test coverage
  src/nexus/bricks/rebac/cache/result_cache.py
  src/nexus/bricks/rebac/manager.py
  tests/unit/core/test_cache_coordinator.py
  tests/unit/core/test_tiger_cache_fallback.py
Due: check-file-size, check-type-ignore

fix: complete Pub/Sub + SharedRingBuffer end-to-end wiring
  src/nexus/bricks/rebac/cache/enforcer_cache.py
  src/nexus/bricks/rebac/manager.py
  src/nexus/bricks/rebac/permission_cache.py
  src/nexus/factory/_system.py
Due: check-file-size, check-type-ignore

fix: separate ring buffers per message type + per-process SPSC safety
  src/nexus/bricks/rebac/manager.py
Due: check-file-size, check-type-ignore

fix: write revision to SharedRingBuffer on zone revision increment
  src/nexus/bricks/rebac/manager.py
Due: check-file-size, check-type-ignore

fix: add NEXUS_GRPC_TLS=false to worktree nexus-stack.yml
  nexus-stack.yml
Due: none

fix: ruff lint — remove unused os import, fix forward ref type hints
  src/nexus/bricks/rebac/filter_chain.py
  src/nexus/bricks/rebac/manager.py
  src/nexus/system_services/namespace/descendant_access.py
Due: check-file-size, check-type-ignore

fix: resolve mypy type errors for CI
  src/nexus/bricks/rebac/cache/boundary.py
  src/nexus/bricks/rebac/cache/coordinator.py
  src/nexus/bricks/rebac/cache/iterator.py
  src/nexus/bricks/rebac/cache/leopard.py
  src/nexus/bricks/rebac/cache/result_cache.py
  src/nexus/bricks/rebac/cache/visibility.py
  src/nexus/bricks/rebac/deferred_permission_buffer.py
Due: check-file-size, check-type-ignore

fix: mypy errors — correct type: ignore codes, rename shadowed vars
  src/nexus/bricks/rebac/cache/boundary.py
  src/nexus/bricks/rebac/cache/coordinator.py
  src/nexus/bricks/rebac/cache/iterator.py
  src/nexus/bricks/rebac/cache/result_cache.py
  src/nexus/bricks/rebac/cache/tiger/bitmap_cache.py
  src/nexus/bricks/rebac/cache/visibility.py
  src/nexus/bricks/rebac/deferred_permission_buffer.py
Due: check-file-size, check-type-ignore

fix: remove duplicate gkey type annotation (mypy no-redef)
  src/nexus/bricks/rebac/deferred_permission_buffer.py
Due: check-file-size, check-type-ignore

perf(#3193): replace polling with asyncio.Event notification in event delivery pipeline
  src/nexus/factory/_background.py
  src/nexus/factory/_boot_context.py
  src/nexus/factory/_system.py
  src/nexus/server/api/v2/routers/events_replay.py
  src/nexus/server/lifespan/services.py
  src/nexus/server/lifespan/services_container.py
  src/nexus/storage/piped_record_store_write_observer.py
  src/nexus/system_services/event_log/delivery.py
  src/nexus/system_services/event_log/replay.py
  tests/e2e/self_contained/test_event_signal_e2e.py
  tests/e2e/self_contained/test_transactional_event_log.py
  tests/integration/services/event_log/test_delivery_worker_integration.py
  tests/unit/services/event_log/test_delivery_worker.py
  tests/unit/services/event_log/test_replay_service.py
  tests/unit/services/test_event_delivery_worker.py
Due: check-file-size, check-type-ignore

fix(ci): reduce stress/bench test sizes to fit CI timeout + mark slow
  tests/e2e/self_contained/test_event_signal_latency_bench.py
  tests/e2e/self_contained/test_event_signal_stress.py
Due: check-type-ignore

fix: SyncAuditWriteInterceptor positional arg bug + flush in tests + zone perms
  src/nexus/factory/orchestrator.py
  src/nexus/storage/piped_record_store_write_observer.py
  src/nexus/storage/write_observer_hooks.py
  tests/e2e/self_contained/mcp/test_mcp_server_integration.py
  tests/unit/core/test_zone_boundary_security.py
  tests/unit/factory/test_retroactive_hook_specs.py
  tests/unit/storage/test_operation_log.py
  tests/unit/storage/test_time_travel.py
  tests/unit/storage/test_version_gc.py
Due: check-file-size, check-type-ignore

fix: make test_is_frozen robust for Python 3.13+ (cpython#118033)
  tests/unit/core/test_agent_record.py
Due: check-type-ignore

fix(ci): add 60s per-test timeout to MCP and Redis workflow tests
  tests/e2e/redis/test_multi_instance_workflows.py
  tests/e2e/self_contained/mcp/test_mcp_server_integration.py
Due: check-type-ignore

fix: proper async teardown in MCP and Redis test fixtures
  src/nexus/factory/_lifecycle.py
  tests/e2e/redis/test_multi_instance_workflows.py
  tests/e2e/self_contained/mcp/test_mcp_server_integration.py
Due: check-file-size, check-type-ignore

fix(#3193): cancel delivery worker task on sync NexusFS.close() (prevents fixture teardown hang)
  src/nexus/factory/_lifecycle.py
Due: check-file-size, check-type-ignore

bench(#3193): add latency benchmarks (1.49ms p50 delivery, 0.43ms p50 stream)
  tests/e2e/self_contained/test_event_signal_latency_bench.py
Due: check-type-ignore

fix: grant system user /nexus namespace ownership in permission tests (pipe access)
  tests/unit/core/test_share_permission_security.py
Due: check-type-ignore

fix(#3193): eliminate double-start bug + add load/stress tests
  nexus-stack.yml
  src/nexus/factory/_background.py
  src/nexus/server/lifespan/services.py
  tests/e2e/self_contained/test_event_signal_stress.py
  tests/unit/services/event_log/test_delivery_worker.py
Due: check-file-size, check-type-ignore

chore: restore test_openai_compat.py formatting (remove stray blank line)
  tests/unit/backends/test_openai_compat.py
Due: check-type-ignore

fix(ci): quarantine Redis multi-instance tests (fixture overhead exceeds CI budget, pre-existing on develop)
  tests/e2e/redis/test_multi_instance_workflows.py
Due: check-type-ignore

fix(#3193): update tests for async delivery worker + event_signal in system dict
  tests/unit/core/test_factory_boot.py
  tests/unit/services/event_bus/test_event_ordering.py
  tests/unit/test_factory.py
Due: check-type-ignore

style: apply ruff format to test_openai_compat.py
  tests/unit/backends/test_openai_compat.py
Due: check-type-ignore

fix(ci): quarantine flaky Redis multi-instance tests (pre-existing, fails on develop)
  tests/e2e/redis/test_multi_instance_workflows.py
Due: check-type-ignore

fix: pipe consumer tests — add _pipe_manager to mock, replace fixed sleep with poll loop
  tests/unit/core/test_pipe_consumers.py
Due: check-type-ignore

fix: mypy type annotation for audit interceptor union type
  src/nexus/factory/orchestrator.py
Due: check-file-size, check-type-ignore
