Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix(#4132): E2E used prebuilt image instead of forcing slow --build
  tests/integration/conftest.py
Due: check-type-ignore

feat(#4132): add deployment_profile + auth_mode to nexus status --json (Gap 2)
  src/nexus/cli/commands/status.py
  tests/unit/cli/test_status.py
Due: check-file-size, check-type-ignore

docs(#4132): correct spec E2E risk note (prebuilt path, env-skip reality)
  docs/superpowers/specs/2026-05-18-issue-4132-full-profile-design.md
Due: none

docs(#4132): draft missing-surface gap issue bodies (unfiled)
  docs/superpowers/gaps/4132-gap-1-profile-contract.md
  docs/superpowers/gaps/4132-gap-2-status-detail.md
  docs/superpowers/gaps/4132-gap-3-remote-preflight.md
Due: none

docs(#4132): record 3 missing-surface gaps (profile-contract, status-detail, remote-preflight)
  docs/architecture/api-rpc-surface-gaps.yaml
Due: none

docs(#4132): fix spec brick-count slip (drop incorrect '18')
  docs/superpowers/specs/2026-05-18-issue-4132-full-profile-design.md
Due: none

refactor(#4132): extract _boot_full_stack helper for sibling reuse
  tests/integration/conftest.py
Due: check-type-ignore

fix(#4132): adversarial-review round 6 — 2 findings
  docs/deployment/full-profile.md
  docs/guides/user-guide.md
  src/nexus/cli/commands/status.py
  tests/integration/conftest.py
  tests/unit/cli/test_status.py
Due: check-file-size, check-type-ignore

docs(#4132): mark Non-goals/Q4 superseded — gaps implemented, not filed
  docs/superpowers/specs/2026-05-18-issue-4132-full-profile-design.md
Due: none

fix(#4132): adversarial-review round 4 — 2 findings
  src/nexus/cli/commands/profile.py
  src/nexus/cli/commands/status.py
  tests/unit/cli/test_profile_contract.py
  tests/unit/cli/test_status.py
Due: check-file-size, check-type-ignore

docs(#4132): reconcile docs with shipped gap features (drop http_surface claim, auth_mode note, supersede plan T10, cite profile contract)
  docs/deployment/full-profile.md
  docs/superpowers/gaps/4132-gap-1-profile-contract.md
  docs/superpowers/gaps/4132-gap-2-status-detail.md
  docs/superpowers/plans/2026-05-18-issue-4132-full-profile.md
  docs/superpowers/specs/2026-05-18-issue-4132-full-profile-design.md
Due: none

fix(#4132): adversarial-review round 3 — 6 findings
  docs/deployment/full-profile.md
  src/nexus/cli/commands/doctor.py
  src/nexus/cli/commands/profile.py
  src/nexus/cli/commands/status.py
  src/nexus/remote/grpc_target.py
  tests/integration/conftest.py
  tests/unit/cli/test_doctor.py
  tests/unit/cli/test_profile_contract.py
  tests/unit/cli/test_status.py
  tests/unit/remote/test_grpc_target.py
Due: check-file-size, check-type-ignore

docs(#4132): mark 3 missing-surface gaps RESOLVED BY IMPLEMENTATION
  docs/architecture/api-rpc-surface-gaps.yaml
  docs/superpowers/gaps/4132-gap-1-profile-contract.md
  docs/superpowers/gaps/4132-gap-2-status-detail.md
  docs/superpowers/gaps/4132-gap-3-remote-preflight.md
  docs/superpowers/specs/2026-05-18-issue-4132-full-profile-design.md
Due: none

fix(#4132): adversarial-review round 2 — 4 findings
  src/nexus/__init__.py
  src/nexus/cli/commands/doctor.py
  src/nexus/cli/commands/profile.py
  src/nexus/cli/commands/status.py
  src/nexus/remote/grpc_target.py
  tests/integration/conftest.py
  tests/unit/cli/test_profile_contract.py
  tests/unit/cli/test_status.py
  tests/unit/remote/test_grpc_target.py
Due: check-file-size, check-type-ignore

feat(#4132): nexus doctor remote — HTTP+gRPC preflight with actionable errors (Gap 3)
  src/nexus/cli/commands/doctor.py
  tests/unit/cli/test_doctor.py
Due: check-file-size, check-type-ignore

fix(#4132): G3 review — top-level imports, guard bad NEXUS_GRPC_PORT, test hardening
  src/nexus/cli/commands/doctor.py
  tests/unit/cli/test_doctor.py
Due: check-file-size, check-type-ignore

fix(#4132): E2E fixture only skips on the real credential signature
  tests/integration/conftest.py
Due: check-type-ignore

docs(#4132): record empirical live-hub verification + Bug A (fixed) + Bug B (separate, tracked)
  docs/superpowers/specs/2026-05-18-issue-4132-full-profile-design.md
Due: none

fix(#4132): nexus profile contract can target a remote hub (--url/--api-key/NEXUS_URL); real-hub verified
  src/nexus/cli/commands/profile.py
  tests/unit/cli/test_profile_contract.py
Due: check-file-size, check-type-ignore

fix(#4132): adversarial-review round 5 — 2 findings
  src/nexus/cli/commands/profile.py
  tests/integration/conftest.py
  tests/unit/cli/test_profile_contract.py
Due: check-file-size, check-type-ignore

fix(#4132): adversarial-review round 1 — 5 findings
  src/nexus/cli/commands/doctor.py
  src/nexus/cli/commands/profile.py
  src/nexus/cli/commands/status.py
  tests/integration/test_full_profile_boot.py
  tests/unit/cli/test_doctor.py
  tests/unit/cli/test_profile_contract.py
  tests/unit/cli/test_status.py
Due: check-file-size, check-type-ignore

fix(#4132): CI — Click 8.2 removed CliRunner(mix_stderr=)
  tests/unit/daemon/test_full_profile_daemon.py
Due: check-type-ignore

fix(#4132): adversarial-review round 7 — 3 findings
  docs/paths/daemon-and-remote.md
  src/nexus/cli/commands/status.py
  tests/integration/test_full_profile_boot.py
  tests/unit/cli/test_status.py
Due: check-file-size, check-type-ignore

fix(#4132): adversarial-review round 8 — 3 findings
  docs/architecture/api-rpc-surface-coverage.yaml
  docs/deployment/full-profile.md
  tests/integration/conftest.py
  tests/integration/test_full_profile_boot.py
Due: check-type-ignore

refactor(cli): DRY — extract same_endpoint to nexus.cli.config
  src/nexus/cli/commands/profile.py
  src/nexus/cli/commands/status.py
  src/nexus/cli/config.py
Due: check-file-size, check-type-ignore

fix(#4132): adversarial-review round 9 — 3 findings
  docs/paths/daemon-and-remote.md
  src/nexus/cli/commands/doctor.py
  tests/integration/conftest.py
  tests/unit/cli/test_doctor.py
Due: check-file-size, check-type-ignore

fix(#4132): post-cap — final 2 review-loop highs (round 10)
  src/nexus/__init__.py
  src/nexus/cli/commands/doctor.py
  src/nexus/remote/grpc_target.py
  tests/integration/conftest.py
  tests/integration/test_full_profile_boot.py
  tests/unit/remote/test_grpc_target.py
Due: check-file-size, check-type-ignore

chore: delete dead PyO3 codegen script + nexus_runtime stubs
  .github/PULL_REQUEST_TEMPLATE.md
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/core/kernel_exports.py
  src/nexus/core/kernel_protocols.py
  src/nexus/server/_kernel_syscall_dispatch.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore

fix(test): update doctor test mocks for lazy RPCTransport import
  tests/unit/cli/test_doctor.py
Due: check-type-ignore

fix(cli): same_endpoint normalizes default ports (http→80, https→443)
  src/nexus/cli/config.py
Due: check-file-size, check-type-ignore

perf(cli): parallelize features probe in nexus status — eliminate serial HTTP call
  src/nexus/cli/commands/status.py
  tests/unit/cli/test_status.py
Due: check-file-size, check-type-ignore

fix(cli): lazy-import RPCTransport in doctor.py — avoid loading grpc on local doctor
  src/nexus/cli/commands/doctor.py
Due: check-file-size, check-type-ignore

fix(test_workflow_guards): explicit UTF-8 read of workflow YAML
  tests/unit/ci/test_workflow_guards.py
Due: check-type-ignore

refactor(scripts): resolve Tailscale IPs at runtime — drop hardcoded 100.64.0.x
  scripts/_tailscale_peers.py
  scripts/cluster_smoke_xmachine.py
  scripts/wal_smoke_singlenode.py
  tests/unit/scripts/test_tailscale_peers.py
Due: check-file-size, check-type-ignore

docs(#4126): align spec gRPC framing + test docstring with delivered story (final review)
  docs/superpowers/specs/2026-05-18-issue-4126-sandbox-boot-story-design.md
  tests/unit/cli/test_ready_cmd.py
Due: check-type-ignore

fix(#4126): profile-gate federation — sandbox no longer binds Raft gRPC :2126 (kill-switch, zero cluster/full regression)
  docs/architecture/api-rpc-surface-coverage.html
  docs/architecture/api-rpc-surface-coverage.yaml
  docs/guides/user-guide.md
  docs/superpowers/notes/4148-resolution.md
  docs/superpowers/notes/sandbox-federation-fix.md
  rust/raft/src/distributed_coordinator.rs
  src/nexus/daemon/main.py
  tests/integration/test_sandbox_boot_smoke.py
Due: check-file-size, check-type-ignore

refactor(#4167): delete NEXUS_FEDERATION_DISABLED kill-switch from daemon
  src/nexus/daemon/main.py
Due: check-file-size, check-type-ignore

test(#4167): delete test_federation_killswitch.py (908 lines)
  tests/unit/daemon/test_federation_killswitch.py
Due: check-type-ignore

test(#4126): assert exact USAGE_ERROR + tighten timeout + doc guard invariant (review)
  tests/integration/test_sandbox_boot_smoke.py
Due: check-type-ignore

docs(#4126): implementation plan for sandbox boot story + smoke tests
  docs/superpowers/plans/2026-05-18-issue-4126-sandbox-boot-story.md
Due: none
