Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

ci: remove 3-minute step timeout for unit tests
  .github/workflows/test.yml
Due: none

docs: document best practices for keeping unit tests lean
  tests/unit/README.md
Due: none

fix(#321): replace 4th create_engine call in CLI server.py init section with SQLAlchemyRecordStore
  src/nexus/cli/commands/server.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for bf98b60a30acc2910710555c7341c370a46893c1
  dev/bench/data.js
Due: none

refactor(#1601): review improvements — protocols, factory SSOT, tests (#1663)
  src/nexus/backends/__init__.py
  src/nexus/backends/factory.py
  src/nexus/backends/registry.py
  src/nexus/core/nexus_fs_events.py
  src/nexus/core/protocols/__init__.py
  src/nexus/core/protocols/connector.py
  src/nexus/services/events_service.py
  src/nexus/services/mount_core_service.py
  src/nexus/services/mount_service.py
  tests/unit/backends/test_backend_contract.py
  tests/unit/backends/test_factory_advanced.py
  tests/unit/backends/test_oauth_mixin.py
  tests/unit/backends/test_registry.py
Due: check-file-size, check-type-ignore

fix(#412): remove create_engine DB probe from _base.py uuid_pk — use gen_random_uuid() directly
  src/nexus/storage/models/_base.py
Due: check-file-size, check-type-ignore

refactor(#1585,#1586,#1587): split A2A router, extract serialization, unify messaging (#1710)
  src/nexus/a2a/handlers.py
  src/nexus/a2a/router.py
  src/nexus/a2a/stores/database.py
  src/nexus/a2a/stores/in_memory.py
  src/nexus/a2a/stores/serialization.py
  src/nexus/a2a/stream_registry.py
  src/nexus/a2a/streaming.py
  src/nexus/a2a/task_manager.py
  src/nexus/core/messaging.py
  src/nexus/core/messaging_adapters.py
  tests/integration/a2a/test_a2a_streaming.py
  tests/unit/a2a/__init__.py
  tests/unit/a2a/test_handlers.py
  tests/unit/a2a/test_serialization.py
  tests/unit/a2a/test_stream_registry.py
  tests/unit/core/test_messaging.py
  tests/unit/core/test_messaging_adapters.py
Due: check-file-size, check-type-ignore

docs(#152): split VFS Router — only route() is kernel, mount CRUD → Service
  docs/architecture/ops-scenario-matrix.md
Due: none

fix(#482): inject async_session_factory into SearchDaemon from RecordStoreABC
  src/nexus/search/daemon.py
  src/nexus/server/lifespan/search.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 8b34b62feeac614fc8ea48e340228c797e6b4ec9
  dev/bench/data.js
Due: none

docs(#152): add contributing rule — state-of-the-art, in-place edits only
  docs/architecture/ops-scenario-matrix.md
Due: none

fix: replace conftest 180s abort with warning; add CI duration step
  .github/workflows/test.yml
  tests/unit/README.md
  tests/unit/conftest.py
Due: check-type-ignore

fix(#484): replace create_async_engine_from_url with RecordStoreABC delegation
  src/nexus/search/async_search.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 8b34b62feeac614fc8ea48e340228c797e6b4ec9
  dev/bench-full/data.js
Due: none

fix(#455): replace create_async_engine_from_url in async_rebac_manager with RecordStoreABC
  src/nexus/services/permissions/async_rebac_manager.py
Due: check-file-size, check-type-ignore

chore: fix pre-existing mypy errors in async_local.py and nexus_fs_events.py
  src/nexus/backends/async_local.py
Due: check-file-size, check-type-ignore

chore: remove unused type: ignore comments after main merge
  src/nexus/backends/async_local.py
Due: check-file-size, check-type-ignore

fix: sort imports in agent_registry.py after path relocation
  src/nexus/services/agents/agent_registry.py
Due: check-file-size, check-type-ignore

refactor(#1589): extract HeartbeatBuffer from AgentRegistry (SRP)
  src/nexus/services/agents/agent_registry.py
Due: check-file-size, check-type-ignore

fix(#454): replace create_async_engine in memory_api with SQLAlchemyRecordStore
  src/nexus/services/memory/memory_api.py
Due: check-file-size, check-type-ignore

fix(#1385): ruff format 4 files
  src/nexus/rebac/async_manager.py
  src/nexus/rebac/manager.py
  src/nexus/services/rebac_service.py
  tests/unit/services/permissions/test_tuple_repository.py
Due: check-file-size, check-type-ignore

fix(ci): remove per-test timeouts; keep unit suite lean without flaky limits (#1712)
  .github/workflows/test.yml
  pyproject.toml
  tests/unit/README.md
  tests/unit/conftest.py
Due: check-type-ignore

fix: replace private _permission_enforcer access in fuse/mount.py with public property
  src/nexus/core/nexus_fs.py
  src/nexus/fuse/mount.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 0e1a422f9522dcda00ed63b53bc81e94d53404ee
  dev/bench/data.js
Due: none

fix: merge main and move new test files to correct directories
  tests/e2e/self_contained/test_a2a_streaming.py
Due: check-type-ignore

fix(#324): replace 8x nx.SessionLocal() in semantic.py with injected session_factory
  src/nexus/search/semantic.py
  src/nexus/services/search_semantic.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 0e1a422f9522dcda00ed63b53bc81e94d53404ee
  dev/bench-full/data.js
Due: none
