Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(raft): drop manual store_snapshot + compact on AddNode — trust raft-rs log replication
  rust/raft/src/raft/node.rs
Due: none

docs: plan issue 4244 search latency fix
  docs/superpowers/plans/2026-05-27-issue-4244-search-latency.md
Due: none

feat(search): include backend leg timings in responses
  src/nexus/server/api/v2/routers/search.py
  tests/integration/services/test_search_router.py
Due: check-file-size, check-type-ignore

feat(search): expose per-leg backend timings
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_daemon_backend_routing.py
Due: check-file-size, check-type-ignore

docs: design issue 4244 search latency fix
  docs/superpowers/specs/2026-05-27-issue-4244-search-latency-design.md
Due: none

fix(search): skip ReBAC timing for admin bypass
  src/nexus/lib/rebac_filter.py
  tests/unit/server/routers/test_search_rebac_filter.py
Due: check-file-size, check-type-ignore

fix(rebac): preserve leaf grants in bulk filter
  src/nexus/bricks/rebac/permission_filter_chain.py
  tests/unit/bricks/rebac/test_permission_filter_chain.py
Due: check-file-size, check-type-ignore

fix(search): support pg_search benchmark index ddl
  tests/benchmarks/test_pg_fts_backend_latency.py
Due: check-type-ignore

fix(search): keep permission fallback off hot path
  src/nexus/bricks/rebac/enforcer.py
  src/nexus/bricks/rebac/permission_filter_chain.py
  src/nexus/lib/rebac_filter.py
  tests/unit/bricks/rebac/test_enforcer_filter_read_with_inheritance.py
  tests/unit/server/routers/test_search_rebac_filter.py
Due: check-file-size, check-type-ignore

bench(search): add PgFts corpus latency benchmark
  tests/benchmarks/test_pg_fts_backend_latency.py
Due: check-type-ignore

fix(rebac): resolve inherited grants in filter chain
  src/nexus/bricks/rebac/permission_filter_chain.py
  tests/benchmarks/test_rebac_filter_chain_latency.py
  tests/unit/bricks/rebac/test_enforcer_filter_read_with_inheritance.py
  tests/unit/bricks/rebac/test_permission_filter_chain.py
Due: check-file-size, check-type-ignore

fix(search): keep backend timing request-local
  src/nexus/bricks/search/daemon.py
  src/nexus/server/api/v2/routers/search.py
  tests/integration/services/test_search_router.py
  tests/unit/bricks/search/test_daemon_backend_routing.py
Due: check-file-size, check-type-ignore

fix(search): batch inherited ReBAC fallback
  src/nexus/bricks/rebac/enforcer.py
  src/nexus/lib/rebac_filter.py
  tests/unit/bricks/rebac/test_enforcer_filter_read_with_inheritance.py
  tests/unit/server/routers/test_search_rebac_filter.py
Due: check-file-size, check-type-ignore

fix(rebac): align search bulk inheritance checks
  src/nexus/bricks/rebac/enforcer.py
  tests/unit/bricks/rebac/test_enforcer_filter_read_with_inheritance.py
Due: check-file-size, check-type-ignore

fix(search): keep pgfts page search on indexed path
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/pg_fts_backend.py
  tests/unit/bricks/search/test_daemon_backend_routing.py
  tests/unit/bricks/search/test_pg_fts_backend.py
Due: check-file-size, check-type-ignore

test(search): type timing test helpers
  tests/integration/services/test_search_router.py
  tests/unit/bricks/search/test_daemon_backend_routing.py
Due: check-type-ignore

chore(surface): refresh search route anchors
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

test(workflow): avoid pipe offload timing flake
  tests/unit/services/test_workflow_dispatch.py
Due: check-type-ignore

chore(services/acp): reword ACP_SVC_HANDLE doc — drop 'hand-written PyO3 surface'
  rust/services/src/acp/service.rs
Due: none

chore(services/acp): drop cdylib/PyKernel from install + handle docs
  rust/services/src/acp/service.rs
Due: none

chore(raft): drop 'cdylib boot path' from distributed_coordinator doc
  rust/raft/src/distributed_coordinator.rs
Due: none

chore(services/acp): drop 'commit 21 lands PyO3 bridge' from module doc
  rust/services/src/acp/service.rs
Due: none

chore(cluster): reword Cargo.toml comments — drop past-tense pyo3 framing
  rust/profiles/cluster/Cargo.toml
Due: none

chore(backends/ai): drop PyKernel references from LLM streaming docs
  rust/backends/src/transports/api/ai/anthropic/streaming.rs
  rust/backends/src/transports/api/ai/openai/mod.rs
  rust/backends/src/transports/api/ai/openai/streaming.rs
Due: none

chore(transport): drop 'cdylib pulls them' from kernel dep comment
  rust/transport/Cargo.toml
Due: none

chore(services/managed_agent): drop reference to deleted services::python install path
  rust/services/src/managed_agent/mod.rs
Due: none

chore(services/acp): drop 'AgentRegistry stays Python' from trait doc
  rust/services/src/acp/service.rs
Due: none

chore(services/managed_agent): reword constructor doc — no cdylib
  rust/services/src/managed_agent/mod.rs
Due: none

chore(raft): drop 'cdylib (nexus-cluster)' from allocator comment
  rust/raft/src/lib.rs
Due: none

chore: scrub PyO3/PyKernel from remaining service + raft doc comments
  rust/raft/src/transport/client.rs
  rust/services/src/acp/subprocess.rs
  rust/services/src/audit/mod.rs
Due: none

chore(lib): drop cdylib framing from NoopPeerBlobClient doc + error
  rust/lib/src/transport_primitives/peer_blob_client.rs
Due: none

chore(services): drop 'cdylib pulls them' from kernel dep comment
  rust/services/Cargo.toml
Due: none

fix(backends/remote): collapse redundant if-else branch — clippy if-same-then-else
  rust/backends/src/storage/remote.rs
Due: none

chore(services/managed_agent): drop 'no PyO3 boot' qualifiers in test docs
  rust/services/src/managed_agent/mod.rs
Due: none

chore(python): delete dead kernel_exports.py — zero importers
  src/nexus/core/kernel_exports.py
Due: check-file-size, check-type-ignore

fix(federation): stop gRPC accept-path starvation on the shared runtime
  Cargo.lock
  rust/contracts/src/constants.rs
  rust/contracts/src/lib.rs
  rust/profiles/cluster/Cargo.toml
  rust/profiles/cluster/src/main.rs
  rust/raft/src/zone_manager.rs
Due: none

fix(raft): honor the Ready contract on apply errors + reject empty-voter ConfChange
  rust/raft/src/raft/node.rs
Due: none

docs(integration): §2.2 slim /proc/{pid}/ to ephemeral runtime presence
  docs/architecture/nexus-integration-architecture.md
Due: none

docs(integration): §1 redraw system overview around sudocode-host
  docs/architecture/nexus-integration-architecture.md
Due: none

docs(integration): §2.3 spawn lifecycle — sudocode-host binary edge
  docs/architecture/nexus-integration-architecture.md
Due: none

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
