Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

test(#3944): slim wheel-content audit (bricks carve-out pin)
  tests/integration/slim/test_slim_wheel_contents.py
Due: check-type-ignore

test(slim): add wheel-build + fresh-venv pytest fixtures
  tests/integration/slim/__init__.py
  tests/integration/slim/conftest.py
Due: check-type-ignore

docs(specs): nexus-fs slim Rust-kernel contract + bricks decoupling
  docs/superpowers/specs/2026-04-29-issues-3942-3943-3944-slim-fs-rust-contract-design.md
Due: none

ci: slim-wheel-smoke — build slim wheel + install smoke + content audit (ubuntu + macos)
  .github/workflows/slim-wheel-smoke.yml
Due: none

fix(review-r2): cross-mount PAS, cachetools base dep, is_cas guard, base-import test
  packages/nexus-fs/pyproject.toml
  rust/kernel/src/core/meta_store/mod.rs
  rust/kernel/src/kernel/io.rs
  tests/integration/slim/test_slim_install_smoke.py
Due: check-type-ignore

fix(review-r3): PAS rename ordering, copy failure path, base-venv split
  rust/kernel/src/core/vfs_router.rs
  rust/kernel/src/kernel/io.rs
  tests/integration/slim/conftest.py
  tests/integration/slim/test_slim_install_smoke.py
Due: check-type-ignore

fix(tests): tighten delete error handler + forbid oauth/tests in slim wheel audit
  tests/integration/slim/test_slim_install_smoke.py
  tests/integration/slim/test_slim_wheel_contents.py
Due: check-type-ignore

fix(slim): wire build+CI for nexus-runtime not on PyPI
  .github/workflows/slim-wheel-smoke.yml
  packages/nexus-fs/pyproject.toml
  tests/integration/slim/conftest.py
Due: check-type-ignore

fix(slim): all 75 integration tests pass locally
  packages/nexus-fs/pyproject.toml
  packages/nexus-fs/slim_stubs/bricks_search_init.py
  tests/integration/slim/conftest.py
  tests/integration/slim/test_slim_install_smoke.py
Due: check-file-size, check-type-ignore

fix(slim): 75/75 integration tests pass — rename/copy/bricks/dcache all fixed
  packages/nexus-fs/pyproject.toml
  rust/backends/src/storage/path_local.rs
  rust/kernel/src/core/meta_store/mod.rs
  rust/kernel/src/kernel/io.rs
  tests/integration/slim/test_slim_install_smoke.py
  tests/integration/slim/test_slim_wheel_contents.py
Due: check-type-ignore

fix(review): CAS guard + user_auth exclusion + Rust CI trigger
  .github/workflows/slim-wheel-smoke.yml
  packages/nexus-fs/pyproject.toml
  rust/kernel/src/core/meta_store/mod.rs
  rust/kernel/src/kernel/io.rs
  tests/integration/slim/test_slim_wheel_contents.py
Due: check-type-ignore

fix(review-r4): reject cross-mount PAS rename, rollback on metastore fail, CAS-safe is_pas flag, copy error propagation, token_manager in slim
  packages/nexus-fs/pyproject.toml
  rust/kernel/src/abc/meta_store.rs
  rust/kernel/src/core/meta_store/mod.rs
  rust/kernel/src/core/vfs_router.rs
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/mod.rs
  src/nexus/core/kernel_protocols.py
  tests/integration/slim/test_slim_wheel_contents.py
Due: check-file-size, check-type-ignore

fix(review-r10): revert unlink to metadata-first, PAS copy backend existence guard, version sync
  rust/backends/src/storage/path_local.rs
  rust/kernel/src/core/vfs_router.rs
  rust/kernel/src/kernel/io.rs
  src/nexus/fs/__init__.py
Due: check-file-size, check-type-ignore

fix(test): cold-cache stat check — fs.stat() returns None for missing files, not FileNotFoundError
  tests/integration/slim/test_slim_install_smoke.py
Due: check-type-ignore

fix(review-r7): PAS copy rollback on metastore failure, stat-based cold-cache test, PyPI gate + pip find-links
  .github/workflows/release.yml
  rust/kernel/src/kernel/io.rs
  tests/integration/slim/test_slim_install_smoke.py
Due: check-type-ignore

fix(review-r5): reject all cross-mount renames, default MetaStore PAS update, cold-cache test, release ordering
  .github/workflows/release-nexus-fs.yml
  .github/workflows/release.yml
  rust/kernel/src/abc/meta_store.rs
  rust/kernel/src/core/meta_store/mod.rs
  rust/kernel/src/kernel/io.rs
  src/nexus/core/kernel_protocols.py
  tests/integration/slim/test_slim_install_smoke.py
Due: check-file-size, check-type-ignore

fix(ci): xdist addopts override in slim smoke, remove stale _kernel_api_groups from EXCLUDED_MODULES
  .github/workflows/slim-wheel-smoke.yml
  tests/unit/fs/test_boundary.py
Due: check-type-ignore

fix(review-r9): PAS unlink backend-first ordering, copy rollback guard, cold-cache test API fix, version gate
  .github/workflows/release.yml
  rust/kernel/src/kernel/io.rs
  tests/integration/slim/test_slim_install_smoke.py
Due: check-type-ignore

fix(review-r8): propagate copy rollback failure, exact PyPI gate, two-process cold-cache test
  .github/workflows/release.yml
  rust/kernel/src/core/vfs_router.rs
  rust/kernel/src/kernel/io.rs
  tests/integration/slim/test_slim_install_smoke.py
Due: check-type-ignore

fix(review-r6): full-path metastore keys in rename/copy, cross-mount test contract, smoke uses runtime artifact
  .github/workflows/release.yml
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/mod.rs
Due: none

fix(raft): retry ReplaceVoter on zone-not-initialized to fix boot race in federation E2E
  rust/raft/src/distributed_coordinator.rs
Due: none

fix(test): raise wrap() overhead threshold to 10ms to avoid CI flakiness
  tests/unit/backends/test_wrapper_chain.py
Due: check-type-ignore

refactor(backends): extract slim-safe CLI backend
  src/nexus/backends/base/cli_backend.py
  src/nexus/backends/connectors/calendar/transport.py
  src/nexus/backends/connectors/cli/__init__.py
  src/nexus/backends/connectors/cli/base.py
  src/nexus/backends/connectors/cli/display_path.py
  src/nexus/backends/connectors/cli/loader.py
  src/nexus/backends/connectors/github/connector.py
  src/nexus/backends/connectors/gmail/transport.py
  src/nexus/backends/connectors/gws/connector.py
  src/nexus/server/api/v2/routers/async_files.py
  tests/unit/backends/test_cli_backend_slim.py
Due: check-file-size, check-type-ignore

fix(raft): stabilize dynamic zone federation
  proto/nexus/raft/transport.proto
  rust/raft/src/raft/node.rs
  rust/raft/src/raft/zone_registry.rs
  rust/raft/src/transport/client.rs
  rust/raft/src/transport/mod.rs
  rust/raft/src/transport/server.rs
  rust/raft/src/zone_manager.rs
Due: none

fix(kernel): resolve DT_LINK after VFSRouter routing, not before
  rust/kernel/src/core/dcache.rs
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/mod.rs
Due: none

chore: remove NostrBackend stub + embedded Nostr relay
  Cargo.lock
  rust/backends/Cargo.toml
  rust/backends/src/lib.rs
  rust/backends/src/transports/api/social/mod.rs
  rust/backends/src/transports/api/social/nostr.rs
  rust/kernel/Cargo.toml
  rust/kernel/src/lib.rs
  rust/kernel/src/nostr_backend.rs
  rust/nexus-cdylib/Cargo.toml
Due: none

Fix witness quorum for federation failover
  rust/raft/src/raft/mod.rs
  rust/raft/src/raft/node.rs
  rust/raft/src/raft/zone_registry.rs
  rust/raft/src/transport/server.rs
  rust/raft/src/transport/transport_loop.rs
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

Route keyword search through BM25 before txtai
  scripts/test_build_perf_e2e.py
  src/nexus/bricks/search/daemon.py
  tests/integration/bricks/search/test_txtai_reranker.py
Due: check-file-size, check-type-ignore

docs(#3791): activity event foundation design spec
  docs/superpowers/specs/2026-04-30-3791-activity-event-foundation-design.md
Due: none

docs(#3791): activity event foundation implementation plan
  docs/superpowers/plans/2026-04-30-3791-activity-event-foundation.md
Due: none

feat(#3791): activity retention task
  src/nexus/services/activity/retention.py
  tests/unit/services/activity/test_retention.py
Due: check-file-size, check-type-ignore

fix(#3791): correct QueueEmitter threading contract docstring
  src/nexus/services/activity/emitter.py
Due: check-file-size, check-type-ignore

feat(#3791): sink protocol + NoopSink + RecordingSink
  src/nexus/services/activity/sinks/__init__.py
  src/nexus/services/activity/sinks/noop.py
  src/nexus/services/activity/sinks/protocol.py
  src/nexus/services/activity/sinks/recording.py
  tests/unit/services/activity/test_recording_sink.py
Due: check-file-size, check-type-ignore

feat(#3791): activity emitter singleton + NoopEmitter
  src/nexus/services/activity/__init__.py
  src/nexus/services/activity/emitter.py
  tests/unit/services/activity/test_emitter.py
Due: check-file-size, check-type-ignore

fix(#3791): NoopEmitter typed signature + runtime_checkable Emitter
  pyproject.toml
  src/nexus/services/activity/emitter.py
Due: check-file-size, check-type-ignore

feat(#3791): activity event schema + enums
  src/nexus/services/activity/__init__.py
  src/nexus/services/activity/events.py
  tests/unit/services/activity/__init__.py
  tests/unit/services/activity/test_events.py
Due: check-file-size, check-type-ignore

feat(#3791): ActivityWorker drain loop with batching
  src/nexus/services/activity/__init__.py
  src/nexus/services/activity/worker.py
  tests/unit/services/activity/test_worker.py
Due: check-file-size, check-type-ignore

fix(#3791): activity metrics dispatch tests + APPROVALS contract docstring
  src/nexus/services/activity/metrics.py
  tests/unit/services/activity/test_metrics.py
Due: check-file-size, check-type-ignore

feat(#3791): activity metrics catalog + emitter wiring
  src/nexus/services/activity/emitter.py
  src/nexus/services/activity/metrics.py
  tests/unit/services/activity/test_metrics.py
Due: check-file-size, check-type-ignore

fix(#3791): StrEnum + docstrings in activity schema
  src/nexus/services/activity/__init__.py
  src/nexus/services/activity/events.py
Due: check-file-size, check-type-ignore
