Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

docs(#4126): design spec for sandbox boot story and smoke tests
  docs/superpowers/specs/2026-05-18-issue-4126-sandbox-boot-story-design.md
Due: none

fix(#4126): review r5 — scoped PID file (concurrent same-HOME sandboxes), ancestor-config no-clobber, rollback on launch exceptions
  src/nexus/cli/commands/stack.py
  src/nexus/daemon/main.py
  tests/unit/cli/test_stack_sandbox.py
  tests/unit/daemon/test_main.py
Due: check-file-size, check-type-ignore

docs(#4126): clarify counterintuitive warm>cold boot framing (review)
  docs/guides/user-guide.md
Due: none

fix(#4126): add __main__ guard so python -m nexus.daemon.main runs the daemon
  src/nexus/daemon/main.py
Due: check-file-size, check-type-ignore

refactor(#4167): DRY — merge _read_config_file_{profile,data_dir} into _read_config_file_key
  src/nexus/daemon/main.py
Due: check-file-size, check-type-ignore

test(#4126): probe + classify gRPC Ping availability under sandbox
  tests/integration/test_sandbox_boot_smoke.py
Due: check-type-ignore

fix(#4126): restore sandbox data-dir collision fix + invariant guard (re-applied after force-push rebase reverted it; PR remote was 10/11 smoke-broken; now 11/0)
  src/nexus/config.py
  tests/unit/test_config_sandbox.py
Due: check-file-size, check-type-ignore

fix(#4126): review r3 — strict profile/config conflict, isolated sandbox state (no project-state clobber), env-source-aware flag validation
  docs/guides/user-guide.md
  docs/superpowers/specs/2026-05-18-issue-4126-sandbox-boot-story-design.md
  src/nexus/cli/commands/stack.py
  src/nexus/daemon/main.py
  tests/integration/test_sandbox_boot_smoke.py
  tests/unit/cli/test_stack_sandbox.py
  tests/unit/daemon/test_federation_killswitch.py
Due: check-file-size, check-type-ignore

docs(#4126): update API/RPC surface coverage matrix (sandbox boot, nexus ready, gRPC intentionally-absent)
  docs/architecture/api-rpc-surface-coverage.html
  docs/architecture/api-rpc-surface-coverage.yaml
Due: none

refactor(#4167): DRY — extract scoped_readiness_path to cli.state
  src/nexus/cli/commands/ready.py
  src/nexus/cli/state.py
  src/nexus/daemon/main.py
Due: check-file-size, check-type-ignore

test(#4126): record stronger gRPC-absence fact + revival guidance (review)
  tests/integration/test_sandbox_boot_smoke.py
Due: check-type-ignore

test(#4126): strengthen sandbox external-service log assertion (review)
  tests/integration/test_sandbox_boot_smoke.py
Due: check-type-ignore

fix(#4126): review r6 — ownership-aware rollback + per-data-dir up lock, config-file data_dir scoping, ready interrupt exit code
  src/nexus/cli/commands/ready.py
  src/nexus/cli/commands/stack.py
  src/nexus/cli/exit_codes.py
  src/nexus/daemon/main.py
  tests/integration/test_sandbox_boot_smoke.py
  tests/unit/cli/test_ready_cmd.py
  tests/unit/cli/test_stack_sandbox.py
  tests/unit/daemon/test_main.py
Due: check-file-size, check-type-ignore

fix(#4126): review r7 — reject explicit --data-dir combined with --config (no silent-ignore; consistent with --profile/--config)
  src/nexus/daemon/main.py
  tests/unit/daemon/test_federation_killswitch.py
Due: check-file-size, check-type-ignore

test(#4126): sandbox daemon subprocess boot + readiness smoke test
  tests/integration/test_sandbox_boot_smoke.py
Due: check-type-ignore

test(#4126): integration — nexus ready against real sandbox daemon
  tests/integration/test_sandbox_boot_smoke.py
Due: check-type-ignore

test(#4126): leak-safe _timed_daemon ctx mgr + boot-metric docstring note (review)
  tests/integration/test_sandbox_boot_smoke.py
Due: check-type-ignore

fix(#4126): review r10 — sandbox federation forced-disabled unless explicit NEXUS_FEDERATION_DISABLED=0 (no stale-value bypass)
  src/nexus/daemon/main.py
  tests/unit/daemon/test_federation_killswitch.py
Due: check-file-size, check-type-ignore

test(#4126): record sandbox cold/warm boot time + RSS with loose bounds
  tests/integration/test_sandbox_boot_smoke.py
Due: check-type-ignore

fix(#4126): review r1 — effective-profile kill-switch, ready wildcard-host normalize, real #4144 discovery test
  src/nexus/cli/commands/ready.py
  src/nexus/cli/commands/stack.py
  src/nexus/cli/state.py
  src/nexus/daemon/main.py
  tests/integration/test_sandbox_boot_smoke.py
  tests/unit/cli/test_ready_cmd.py
  tests/unit/daemon/test_federation_killswitch.py
Due: check-file-size, check-type-ignore

fix(#4126): clamp ready timeouts to budget, widen httpx catch, validate timeout, test features-fail (review)
  src/nexus/cli/commands/ready.py
  tests/unit/cli/test_ready_cmd.py
Due: check-file-size, check-type-ignore

test(#4126): correct dormant gRPC stub class name to NexusVFSServiceStub
  tests/integration/test_sandbox_boot_smoke.py
Due: check-type-ignore

feat(#4126): nexus ready — sandbox/daemon readiness probe CLI
  src/nexus/cli/commands/__init__.py
  src/nexus/cli/commands/ready.py
  tests/unit/cli/test_ready_cmd.py
Due: check-file-size, check-type-ignore

fix(#4126): review r4 — atomic+owned readiness (no cross-sandbox clobber), file-existence-based no-clobber, snapshot/restore state rollback
  src/nexus/cli/commands/ready.py
  src/nexus/cli/commands/stack.py
  src/nexus/daemon/main.py
  tests/integration/test_sandbox_boot_smoke.py
  tests/unit/cli/test_ready_cmd.py
  tests/unit/cli/test_stack_sandbox.py
  tests/unit/daemon/test_main.py
Due: check-file-size, check-type-ignore

docs+test(#4126): correct gRPC overclaim — track via #4148; #4146 nexus_runtime skip
  docs/architecture/api-rpc-surface-coverage.html
  docs/architecture/api-rpc-surface-coverage.yaml
  docs/guides/user-guide.md
  docs/superpowers/specs/2026-05-18-issue-4126-sandbox-boot-story-design.md
  tests/integration/test_sandbox_boot_smoke.py
Due: check-type-ignore

fix(#4167): fix two CI test failures — exit code assertion + sandbox test timeout
  tests/unit/cli/test_exit_codes.py
  tests/unit/cli/test_stack_sandbox.py
Due: check-type-ignore

perf(#4167): reuse httpx.Client in ready.py polling loop
  src/nexus/cli/commands/ready.py
Due: check-file-size, check-type-ignore

fix(#4126): address #4144 review — data_dir source of truth, no profile leak, rollback-on-fail, shared grpc-port helper
  src/nexus/cli/commands/stack.py
  src/nexus/cli/state.py
  src/nexus/daemon/main.py
  tests/integration/test_sandbox_boot_smoke.py
  tests/unit/cli/test_stack_sandbox.py
Due: check-file-size, check-type-ignore

test(#4126): lock federation kill-switch invariant — non-sandbox profiles never gated (zero-regression guard)
  tests/unit/daemon/test_federation_killswitch.py
Due: check-type-ignore

docs(#4126): close readiness gap via nexus ready (remove build-issue placeholder)
  docs/guides/user-guide.md
Due: none

test(#4126): end-to-end denied-flow parity for sandbox flag gating
  tests/integration/test_sandbox_boot_smoke.py
Due: check-type-ignore

feat(#4126): persist sandbox up connection state for env/status/run (Closes #4144)
  docs/architecture/api-rpc-surface-coverage.html
  docs/architecture/api-rpc-surface-coverage.yaml
  docs/guides/user-guide.md
  docs/superpowers/specs/2026-05-18-issue-4126-sandbox-boot-story-design.md
  src/nexus/cli/commands/stack.py
  src/nexus/cli/state.py
  tests/integration/test_sandbox_boot_smoke.py
  tests/unit/cli/test_stack_sandbox.py
Due: check-file-size, check-type-ignore

fix(#4126): review r8 — source-aware sandbox-flag validation in nexusd (env NEXUS_WORKSPACE no longer poisons non-sandbox boots)
  src/nexus/daemon/main.py
  tests/unit/daemon/test_sandbox_flags.py
Due: check-file-size, check-type-ignore

test(#4126): assert sandbox HTTP /health + /api/v2/features over real socket
  tests/integration/test_sandbox_boot_smoke.py
Due: check-type-ignore

docs(#4126): revise spec — close readiness gap via nexus ready (user direction)
  docs/superpowers/specs/2026-05-18-issue-4126-sandbox-boot-story-design.md
Due: none

fix(#4126): review r9 — sandbox federation disabled-by-default (no ambient-env bypass), sandbox hub-token pairing source-independent
  src/nexus/daemon/main.py
  tests/unit/daemon/test_federation_killswitch.py
  tests/unit/daemon/test_sandbox_flags.py
Due: check-file-size, check-type-ignore

refactor(#4167): delete dead install() from distributed_coordinator.rs
  rust/raft/src/distributed_coordinator.rs
Due: none

docs(#4126): user-guide sandbox profile boot story + coverage table
  docs/guides/user-guide.md
Due: none

fix(#4126): review r2 — centralize effective-profile across daemon gates; #4144 discovery with pre-existing nexus.yaml
  src/nexus/cli/commands/stack.py
  src/nexus/daemon/main.py
  tests/integration/test_sandbox_boot_smoke.py
  tests/unit/cli/test_stack_sandbox.py
  tests/unit/daemon/test_federation_killswitch.py
Due: check-file-size, check-type-ignore

test+docs(#4126): lock sandbox VFS-gRPC-absent root cause; formal no-ext-svc proof; #4148 evidence
  docs/architecture/api-rpc-surface-coverage.html
  docs/architecture/api-rpc-surface-coverage.yaml
  docs/guides/user-guide.md
  docs/superpowers/notes/4148-resolution.md
  docs/superpowers/specs/2026-05-18-issue-4126-sandbox-boot-story-design.md
  tests/integration/test_sandbox_boot_smoke.py
Due: check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
