Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

docs: batch search hardening design spec
  docs/superpowers/specs/2026-08-04-batch-search-hardening-design.md
Due: none

docs: batch search hardening implementation plan
  docs/superpowers/plans/2026-08-04-batch-search-hardening.md
Due: none

feat(search): thread optional pre-computed query_vector through SearchRequest
  src/nexus/bricks/search/daemon.py
  src/nexus/contracts/search_types.py
  tests/unit/bricks/search/test_daemon_batch_search.py
Due: check-file-size, check-type-ignore

feat(search): concurrent batch_search with one shared embed call and per-query failure markers
  src/nexus/bricks/search/daemon.py
  src/nexus/contracts/search_types.py
  src/nexus/server/lifespan/search.py
  tests/unit/bricks/search/test_daemon_batch_search.py
Due: check-file-size, check-type-ignore

feat(search): batch query spec parser with single-/query param parity
  src/nexus/server/api/v2/routers/_search_batch.py
  tests/integration/services/test_search_query_batch.py
Due: check-file-size, check-type-ignore

fix(search): complete preamble imports & reject NaN in exclusive_lo bounds
  src/nexus/server/api/v2/routers/_search_batch.py
  tests/integration/services/test_search_query_batch.py
Due: check-file-size, check-type-ignore

feat(search): /query/batch param+serializer parity with /query and per-query errors
  src/nexus/server/api/v2/routers/search.py
  tests/integration/services/test_search_query_batch.py
Due: check-file-size, check-type-ignore

test(search): live e2e parity + error-isolation coverage for hardened /query/batch
  tests/e2e/self_contained/test_search_surface_live_e2e.py
Due: check-type-ignore

test(search): accept query_vector kwarg in zone-runner owner-loop stub
  tests/unit/bricks/search/test_daemon_zone_runner.py
Due: check-type-ignore

fix(search): 400 non-list batch queries payload
  src/nexus/server/api/v2/routers/search.py
  tests/integration/services/test_search_query_batch.py
Due: check-file-size, check-type-ignore

fix(search): validate enum params in batch specs like the single route
  src/nexus/server/api/v2/routers/_search_batch.py
  tests/integration/services/test_search_query_batch.py
Due: check-file-size, check-type-ignore

fix(search): batch failure fidelity, embed-once on fallbacks, sanitized errors, stricter parsing
  src/nexus/bricks/search/daemon.py
  src/nexus/contracts/search_types.py
  src/nexus/server/api/v2/routers/_search_batch.py
  tests/integration/services/test_search_query_batch.py
  tests/unit/bricks/search/test_daemon_batch_search.py
  tests/unit/bricks/search/test_daemon_fusion_params.py
  tests/unit/bricks/search/test_daemon_zone_runner.py
Due: check-file-size, check-type-ignore

fix(search): bound batch execution with query timeout; 400 non-object bodies; strict enum presence
  src/nexus/bricks/search/daemon.py
  src/nexus/server/api/v2/routers/_search_batch.py
  src/nexus/server/api/v2/routers/search.py
  tests/integration/services/test_search_query_batch.py
  tests/unit/bricks/search/test_daemon_batch_search.py
Due: check-file-size, check-type-ignore

fix(search): absolute batch deadline, hybrid dense-failure propagation, 400 malformed JSON
  src/nexus/bricks/search/daemon.py
  src/nexus/server/api/v2/routers/search.py
  src/nexus/server/lifespan/search.py
  tests/integration/services/test_search_query_batch.py
  tests/unit/bricks/search/test_daemon_batch_search.py
  tests/unit/bricks/search/test_daemon_fusion_params.py
Due: check-file-size, check-type-ignore

fix(search): one entry-time batch deadline, authoritative timeout settlement, distinct vector-backend failure
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_daemon_batch_search.py
  tests/unit/bricks/search/test_final_list_page_pooling.py
Due: check-file-size, check-type-ignore

fix(search): propagate caller cancellation, isolate bad embed inputs, cap batch cardinality
  src/nexus/bricks/search/daemon.py
  src/nexus/server/api/v2/routers/search.py
  src/nexus/server/lifespan/search.py
  tests/integration/services/test_search_query_batch.py
  tests/unit/bricks/search/test_daemon_batch_search.py
Due: check-file-size, check-type-ignore

fix(search): classify embed outages explicitly, charge abandoned batch work
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_daemon_batch_search.py
Due: check-file-size, check-type-ignore

fix(search): isolate multiple bad embed inputs; bound and charge pre-embed
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_daemon_batch_search.py
Due: check-file-size, check-type-ignore

fix(search): bound permit acquisition; settle outage-vs-bad-input with a control probe
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_daemon_batch_search.py
Due: check-file-size, check-type-ignore

fix(search): give admitted queries a full budget, stop probing after timeouts, hard-bound refresh
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_daemon_batch_search.py
Due: check-file-size, check-type-ignore

fix(search): separate permit pools for search, embedding, and refresh work
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_daemon_batch_search.py
Due: check-file-size, check-type-ignore

fix(search): scale embed isolation budget to batch cardinality
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_daemon_batch_search.py
Due: check-file-size, check-type-ignore

fix(search): update daemon.search() call sites to the SearchRequest contract
  src/nexus/bricks/search/graph_search_service.py
  src/nexus/bricks/search/search_service.py
Due: check-file-size, check-type-ignore

test(search): mirror the SearchRequest contract in the sandbox hybrid double
  tests/unit/bricks/search/test_sandbox_hybrid_rrf.py
Due: check-type-ignore

chore(search): fix CI lint + surface-matrix drift
  docs/superpowers/plans/2026-08-04-batch-search-hardening.md
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

chore(nexusd): bump nexus-vfs pin to the founder api-key-secret self-generate fix
  Cargo.lock
  Cargo.toml
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

docs(runbook): agent mint takes no --zone (agent certs are pure identity)
  docs/architecture/federation-cross-machine-runbook.html
Due: none

add Benchmark (pytest) benchmark result for b2e47ccf04206102649dbec951328d92837525cf
  dev/bench-full/data.js
Due: none

chore(deps): bump nexus-vfs pin to 27f076d6 (remote agent-cert mint)
  Cargo.lock
  Cargo.toml
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

fix(search): keyword-only deployments must degrade, not fail, on the batch path
  src/nexus/bricks/search/daemon.py
  tests/e2e/self_contained/test_search_surface_live_e2e.py
  tests/unit/bricks/search/test_daemon_batch_search.py
Due: check-file-size, check-type-ignore

refactor(fusion): DRY accumulate_rrf + accumulate_score → generic accumulate
  rust/services/search-plugin/src/fusion.rs
Due: none

feat(ann): (path, chunk_index) key + sidecar v2 + delete_all_chunks
  rust/services/proto/nexus/search/v1/search.proto
  rust/services/search-plugin/src/ann_index.rs
  rust/services/search-plugin/src/index_manager.rs
  rust/services/search-plugin/src/service.rs
Due: none

perf(hybrid): parallel keyword + semantic legs (P3 audit finding #3)
  rust/services/search-plugin/src/service.rs
Due: none

feat(fts): split delete-on-add into explicit delete_all_chunks
  rust/services/search-plugin/src/fts_index.rs
  rust/services/search-plugin/src/service.rs
Due: none

style(ann): clippy field-reassign-with-default
  rust/services/search-plugin/src/ann_index.rs
Due: none

feat(chunker): heading + code-fence + budget-aware chunker (P4)
  rust/services/search-plugin/src/chunker.rs
  rust/services/search-plugin/src/lib.rs
Due: none

feat(index): use chunker in do_index — multi-chunk-per-file lands (P4)
  rust/services/search-plugin/src/service.rs
Due: none

feat(query): expand=macro returns prev+current+next chunk context (P4 #4398)
  rust/services/proto/nexus/search/v1/search.proto
  rust/services/search-plugin/src/fts_index.rs
  rust/services/search-plugin/src/service.rs
Due: none

test(search-plugin): docker E2E for multi-chunk + pooling + expand=macro (P4)
  tests/e2e/docker/search_helpers.py
  tests/e2e/docker/test_search_plugin.py
Due: check-type-ignore

fix(service): initialise expanded_context: String::new() on QueryResult constructors
  rust/services/search-plugin/src/service.rs
Due: none
