Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

refactor(server/lifespan): call adispose_async_engines helper instead of nx attr
  src/nexus/server/lifespan/__init__.py
Due: check-file-size, check-type-ignore

chore(scripts): delete migrate_async_syscalls.py — contradicts kernel SSOT
  scripts/migrate_async_syscalls.py
Due: check-file-size, check-type-ignore

docs(core): stream_destroy — sys_unlink is sync, not awaitable
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

fix(scripts): drop wrong await nexus_fs.is_directory in cleanup-os-metadata
  scripts/cleanup_os_metadata.py
Due: check-file-size, check-type-ignore

fix(raft): store_snapshot atomically advances HardState — close sender-side panic window
  rust/raft/src/raft/storage.rs
Due: none

test(raft): pin HardState atomicity in store_snapshot — sender-side companion to apply_snapshot test
  rust/raft/src/raft/storage.rs
Due: none

revert(kernel): restore sys_read timeout_ms=5000 default — Issue #3699 contract
  src/nexus/core/nexus_fs_content.py
Due: check-file-size, check-type-ignore

fix(zoekt): pass explicit timeout_ms=0 to sys_read — Issue #3699
  src/nexus/factory/zoekt_pipe_consumer.py
Due: check-file-size, check-type-ignore

test(kernel): assert sys_read default-None passes 5000ms long-poll budget
  tests/unit/core/test_nexus_fs_content_metrics.py
Due: check-type-ignore

revert(cli): drop status.py timeout→unauth-fallback (masks real signal)
  src/nexus/cli/commands/status.py
Due: check-file-size, check-type-ignore

fix(cli): raise _server_health default timeout 1.5s→5s for /health/detailed legitimate cost
  src/nexus/cli/commands/status.py
Due: check-file-size, check-type-ignore

test(cli): rework _server_health tests for degraded-on-timeout + 401/403 fallback only
  tests/unit/cli/test_status.py
Due: check-type-ignore

chore(surface-coverage): regenerate api-rpc-surface-coverage.yaml after kernel-tier line shifts
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

feat(scripts): add resolve_local_endpoint() — bypass Tailscale hairpin quirk on Windows
  scripts/_tailscale_peers.py
  tests/unit/scripts/test_tailscale_peers.py
Due: check-file-size, check-type-ignore

fix macos subscription test dns dependency
  tests/unit/server/api/v2/test_remaining_zone_runner_surfaces.py
Due: check-type-ignore

fix docker e2e status and edit latency
  src/nexus/cli/commands/status.py
  src/nexus/core/nexus_fs_content.py
  tests/unit/cli/test_status.py
  tests/unit/core/test_nexus_fs_content_metrics.py
Due: check-file-size, check-type-ignore

update surface coverage anchors
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  tests/unit/cli/test_status.py
Due: check-type-ignore

feat(raft): add report_unreachable / report_snapshot pass-throughs on driver
  rust/raft/src/raft/node.rs
Due: none

fix(raft): pipe transport send failures back to driver via mpsc
  rust/raft/src/transport/transport_loop.rs
Due: none

test(raft): pin driver report_* pass-through API surface
  rust/raft/src/raft/node.rs
Due: none

refactor(kernel): collapse edit() OCC bifurcation into single sys_read + conditional sys_stat
  src/nexus/core/nexus_fs_content.py
Due: check-file-size, check-type-ignore

refactor(cli): rename _is_loopback_url → is_loopback_url for cross-module reuse
  src/nexus/cli/api_client.py
Due: check-file-size, check-type-ignore

refactor(cli): status.py uses public is_loopback_url helper
  src/nexus/cli/commands/status.py
Due: check-file-size, check-type-ignore

chore(surface-coverage): regenerate api-rpc-surface-coverage.yaml after edit() bifurcation collapse
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

refactor(kernel): fix wrong §-numbers in core/mod.rs module comments
  rust/kernel/src/core/mod.rs
Due: none

docs(kernel): remove deleted write_buffer.rs from §6.1 submodule table
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

docs(kernel): merge §4.4 Advisory Lock into §4.1, renumber DT_LINK + Caches
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

docs(kernel): add AgentRegistry entry to §4 primitive table
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

docs(kernel): fix §4 primitive table paths to match actual core/ layout
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

refactor(kernel/router): rebind_missing_backends takes caller predicate
  rust/kernel/src/core/vfs_router.rs
  rust/kernel/src/kernel/mount.rs
Due: none

perf(kernel/lock): ancestors() lazy iterator, drop Vec alloc per I/O acquire
  rust/kernel/src/core/lock/mod.rs
Due: none

docs(kernel): §4.1 LockManager facts + lock/mod.rs header — sync with code
  docs/architecture/KERNEL-ARCHITECTURE.md
  rust/kernel/src/core/lock/mod.rs
Due: none

refactor(kernel/lock): drop always-Ok Result wrapper on get_lock_info/list_locks
  rust/kernel/src/core/lock/mod.rs
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/locks.rs
Due: none

fix(kernel/lock): debug_assert io_readers > 0 in do_release Read arm
  rust/kernel/src/core/lock/mod.rs
Due: none

refactor(kernel/router): route() returns Option, delete single-variant RouteError
  rust/kernel/src/core/dlc.rs
  rust/kernel/src/core/vfs_router.rs
  rust/kernel/src/kernel/convenience.rs
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/mod.rs
  rust/kernel/src/kernel/mount.rs
  rust/raft/src/blob_fetcher_handler.rs
  rust/raft/src/distributed_coordinator.rs
Due: none

docs(kernel): reference KERNEL-ARCHITECTURE sections by title not number
  rust/kernel/src/abc/meta_store.rs
  rust/kernel/src/core/lock/mod.rs
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/locks.rs
  rust/kernel/src/kernel/mod.rs
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor(kernel/lock): delete single-variant LockError, return Result<_, String>
  rust/kernel/src/core/lock/mod.rs
Due: none

refactor(backends/s3): delete orphan Python presigned-URL surface (matches Rust delete)
  src/nexus/backends/storage/path_s3.py
  src/nexus/backends/transports/s3_transport.py
  src/nexus/core/kernel_protocols.py
  src/nexus/core/protocols/__init__.py
  src/nexus/core/protocols/connector.py
Due: check-file-size, check-type-ignore

refactor(kernel/router): orthogonal backend/metastore slots — explicit contract
  rust/kernel/src/core/vfs_router.rs
Due: none

perf(kernel/router): stack-buffer canonical key in route_in_zone hot path
  Cargo.lock
  rust/kernel/Cargo.toml
  rust/kernel/src/core/vfs_router.rs
Due: none

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
