Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix(codegen): drop unused params arg from _apply_result_adapter
  scripts/codegen_kernel_abi.py
  src/nexus/server/_kernel_syscall_dispatch.py
Due: check-file-size, check-type-ignore

fix(codegen): wire bare 'mkdir' / 'rmdir' wire names for thin syscall dispatch
  scripts/codegen_kernel_abi.py
  src/nexus/server/_kernel_syscall_dispatch.py
Due: check-file-size, check-type-ignore

fix(nexus_fs): allow zone-only sys_setattr DT_MOUNT (federation auto-create)
  src/nexus/core/nexus_fs_metadata.py
Due: check-file-size, check-type-ignore

fix(federation): auto-create target zone replica on wire_mount
  rust/raft/src/distributed_coordinator.rs
Due: none

test(federation E2E): use DT_REG not DT_STREAM for joiner contribution smoke
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix(raft): cold-start sentinel for PeersReachableRotationFailed (3-voter cold-start liveness)
  rust/raft/src/distributed_coordinator.rs
Due: none

fix(kernel): use contracts::ROOT_ZONE_ID instead of literal "root" in wire_mount guard
  rust/kernel/src/kernel/mod.rs
Due: none

fix(raft): blocking_read for advisory state — no runtime reentry from apply_cb
  rust/raft/src/federation/distributed_locks.rs
  rust/raft/src/raft/node.rs
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix(kernel): skip wire_mount for same-zone DT_MOUNT (typed connector backends)
  rust/kernel/src/kernel/mod.rs
Due: none

fix(kernel): wire_mount parent-dir zone + mkdir parents
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/mod.rs
Due: none

test(federation E2E): wrap Rust-flat responses in {result: ...} envelope
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix(kernel): mkdir on a mount point itself is a no-op
  rust/kernel/src/kernel/io.rs
Due: none

fix(kernel): wire_mount parent_zone via route(parent_dir), not sys_stat
  rust/kernel/src/kernel/mod.rs
Due: none

fix(kernel): sys_unlink mount-point parent-zone metastore fallback
  rust/kernel/src/kernel/io.rs
Due: none

test(federation E2E): accept flat sys_stat shape from Rust dispatch
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

test(federation E2E): migrate to current sys_lock + sys_setattr contracts
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

style(test): ruff format the lock_acquire→sys_lock migration
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

chore(federation): drop dead system_ctx + unused OperationContext import
  rust/services/src/federation/mod.rs
Due: none

Revert "fix(kernel): sys_unlink mount-point parent-zone metastore fallback"
  rust/kernel/src/kernel/io.rs
Due: none

Revert "fix(federation): unmount via Kernel::unmount_federation (Tier 3) — skip sys_unlink dispatch"
  rust/kernel/src/kernel/federation.rs
  rust/services/src/federation/mod.rs
Due: none

Revert "chore(federation): drop dead system_ctx + unused OperationContext import"
  rust/services/src/federation/mod.rs
Due: none

fix(federation): unmount via Kernel::unmount_federation (Tier 3) — skip sys_unlink dispatch
  rust/kernel/src/kernel/federation.rs
  rust/services/src/federation/mod.rs
Due: none

fix(raft): serialize witness auto_join_zone to fix redb-open race
  rust/raft/src/transport/server.rs
Due: none

test(federation E2E): pass io_profile=wal for cross-node DT_STREAM intent
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix(raft): cache advisory_handle in ZoneConsensus to fix tokio panic
  rust/raft/src/raft/node.rs
  rust/raft/src/raft/state_machine.rs
Due: none

fix(raft): retry on TCP connect failure during boot-race rotation
  rust/raft/src/distributed_coordinator.rs
Due: none

fix(raft): witness child zones inherit current peer_map from root
  rust/raft/src/transport/server.rs
Due: none

Revert "refactor(remote): drop METHOD_PARAMS fallback in RPCProxyBase"
  src/nexus/remote/rpc_proxy.py
Due: check-file-size, check-type-ignore

Revert "refactor(server): delete production-dead dispatch_method + parse_method_params"
  src/nexus/server/protocol.py
  src/nexus/server/rpc/dispatch.py
  tests/e2e/self_contained/test_auth_enforcement_e2e.py
  tests/unit/server/test_protocol.py
  tests/unit/server/test_rpc_admin_only.py
  tests/unit/server/test_rpc_method_security.py
Due: check-file-size, check-type-ignore

Revert "docs: remove temporary rust-service port audit (migration complete)"
  docs/architecture/rust-service-port-audit.md
Due: none

fix(kernel): sys_setattr DT_MOUNT skips federation metastore for same-zone mounts
  rust/kernel/src/kernel/mod.rs
Due: none

Revert "fix(kernel): sys_setattr DT_MOUNT skips federation metastore for same-zone mounts"
  rust/kernel/src/kernel/mod.rs
Due: none

Revert "docs(grpc): mark sys_readdir adapter as pending Tier 2 → Rust migration"
  scripts/codegen_kernel_abi.py
  src/nexus/server/_kernel_syscall_dispatch.py
Due: check-file-size, check-type-ignore

Revert "refactor(grpc): drop access {exists:bool} adapter + lock_acquire wire-name (no prod use)"
  scripts/codegen_kernel_abi.py
  src/nexus/fuse/rust_client.py
  src/nexus/server/_kernel_syscall_dispatch.py
Due: check-file-size, check-type-ignore

Revert "refactor(grpc): drop redundant wire-shape adapters with no production consumers"
  scripts/codegen_kernel_abi.py
  src/nexus/server/_kernel_syscall_dispatch.py
Due: check-file-size, check-type-ignore

Revert "feat(server): sweep all @rpc_expose methods onto Rust python_ffi router at boot"
  src/nexus/server/fastapi_server.py
Due: check-file-size, check-type-ignore

Revert "refactor(services): extract auth-ctx + signature-check helpers in python_ffi"
  rust/services/src/python_ffi/mod.rs
  src/nexus/server/_legacy_handlers_adapter.py
  src/nexus/server/fastapi_server.py
Due: check-file-size, check-type-ignore

Revert "refactor(rpc): slim servicer.py to syscall-only + migrate HTTP /api/nfs to dispatch_rust_call"
  src/nexus/grpc/servicer.py
  src/nexus/server/api/core/rpc.py
Due: check-file-size, check-type-ignore

Revert "feat(services): plumb auth context through python_ffi router via contextvar"
  rust/services/src/python_ffi/mod.rs
  rust/transport/src/grpc.rs
  src/nexus/server/_auth_ctx_local.py
Due: check-file-size, check-type-ignore

Revert "feat(services): redesign python_ffi as singleton wire-name router"
  rust/services/src/python/mod.rs
  rust/services/src/python_ffi/mod.rs
  rust/transport/src/grpc.rs
Due: none
