Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix(#3818): close 1 finding from adversarial review round 7
  src/nexus/bricks/auth/consumer.py
  src/nexus/bricks/auth/tests/test_consumer.py
Due: check-file-size, check-type-ignore

feat(#3818): multi-account support — profile_id selector in resource URI
  src/nexus/bricks/auth/consumer.py
  src/nexus/bricks/auth/consumer_cache.py
  src/nexus/bricks/auth/postgres_profile_store.py
  src/nexus/bricks/auth/tests/test_consumer.py
  src/nexus/bricks/auth/tests/test_consumer_cache.py
  src/nexus/server/api/v1/routers/token_exchange.py
  src/nexus/server/api/v1/tests/test_token_exchange_router.py
Due: check-file-size, check-type-ignore

fix(#3818): close 2 findings from adversarial review round 10
  src/nexus/bricks/auth/consumer.py
  src/nexus/bricks/auth/tests/test_consumer.py
Due: check-file-size, check-type-ignore

fix(#3894): per-loop asyncio locks in TxtaiBackend
  src/nexus/bricks/search/txtai_backend.py
  tests/integration/bricks/search/test_txtai_backend.py
Due: check-file-size, check-type-ignore

fix(#3894): add cross-loop native lock + loop-safe startup
  src/nexus/bricks/search/txtai_backend.py
  tests/integration/bricks/search/test_txtai_backend.py
Due: check-file-size, check-type-ignore

fix(#3894): cancellation-safe native lock, propagate startup errors
  src/nexus/bricks/search/txtai_backend.py
  tests/integration/bricks/search/test_txtai_backend.py
Due: check-file-size, check-type-ignore

fix(#3894): hold native lock inside worker, isolate startup generations
  src/nexus/bricks/search/txtai_backend.py
  tests/integration/bricks/search/test_txtai_backend.py
Due: check-file-size, check-type-ignore

fix(kernel,grpc): codegen + unsendable fixes for VFS gRPC stub coverage
  rust/kernel/src/grpc_server.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/kernel_exports.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

fix(kernel,grpc): pub(crate) PyKernel.inner — drop codegen-fragile arc_kernel accessor
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/grpc_server.rs
  scripts/codegen_kernel_abi.py
Due: check-file-size, check-type-ignore

fix(kernel): make FileEvent/FileEventType/MutationObserver/CachedEntry pub — kill private_interfaces lint
  rust/kernel/src/dcache.rs
  rust/kernel/src/dispatch.rs
Due: none

feat(kernel,grpc): VFS gRPC server in Rust — close client/server asymmetry on :2028
  rust/kernel/build.rs
  rust/kernel/src/grpc_server.rs
  rust/kernel/src/lib.rs
  src/nexus/core/kernel_exports.py
  src/nexus/grpc/__init__.py
  src/nexus/grpc/server.py
  src/nexus/grpc/servicer.py
  stubs/nexus_kernel/__init__.pyi
  tests/unit/grpc/test_server.py
  tests/unit/grpc/test_servicer.py
Due: check-file-size, check-type-ignore

fix(kernel,grpc): drop static SERVER_CLAIMED guard — multi-app tests fail on it
  rust/kernel/src/grpc_server.rs
Due: none

fix(auth): harden credential state races and OAuth cache fencing
  src/nexus/bricks/auth/credential_pool.py
  src/nexus/bricks/auth/migrate.py
  src/nexus/bricks/auth/oauth/credential_service.py
  src/nexus/bricks/auth/oauth/token_manager.py
  src/nexus/bricks/auth/postgres_profile_store.py
  src/nexus/bricks/auth/profile.py
  src/nexus/bricks/auth/profile_store.py
  src/nexus/bricks/auth/tests/test_credential_pool.py
  src/nexus/bricks/auth/tests/test_migrate.py
  src/nexus/bricks/auth/tests/test_oauth_credential_service.py
  src/nexus/bricks/auth/tests/test_postgres_profile_store.py
  src/nexus/bricks/auth/tests/test_profile_store.py
  src/nexus/bricks/auth/tests/test_token_manager_cache.py
  src/nexus/bricks/auth/tests/test_token_manager_list_credentials.py
  src/nexus/bricks/auth/tests/test_unified_service_oauth_selection.py
  src/nexus/bricks/auth/unified_service.py
Due: check-file-size, check-type-ignore

fix: remove silently auto-merged overlay + _skill_backends code from develop
  src/nexus/bricks/mount/mount_service.py
  src/nexus/bricks/search/search_service.py
  src/nexus/core/driver_lifecycle_coordinator.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_content.py
  src/nexus/core/nexus_fs_internal.py
  src/nexus/core/nexus_fs_metadata.py
  src/nexus/fs/_facade.py
  src/nexus/server/api/v2/routers/connectors.py
  src/nexus/server/rpc/handlers/filesystem.py
  tests/e2e/self_contained/test_gcalendar_connector.py
  tests/e2e/self_contained/test_gmail_connector.py
  tests/integration/backends/connectors/cli/test_lifecycle_e2e.py
  tests/integration/connectors/test_schema_generator.py
  tests/unit/bricks/conftest.py
  tests/unit/core/test_driver_lifecycle_coordinator.py
  tests/unit/core/test_kernel_vfs_invariants.py
  tests/unit/services/conftest.py
Due: check-file-size, check-type-ignore

fix: test_nexus_fs_delegation — mock route.is_external=False for readdir tests
  tests/unit/core/test_nexus_fs_delegation.py
Due: check-type-ignore

refactor(§12c): delete _PyMountInfo + PyObjectStoreAdapter + virtual readme overlay
  rust/kernel/src/backend.rs
  rust/kernel/src/s3_backend.rs
  rust/kernel/src/vfs_router.rs
  src/nexus/__init__.py
  src/nexus/backends/connectors/base.py
  src/nexus/backends/connectors/gdrive/connector.py
  src/nexus/backends/connectors/schema_generator.py
  src/nexus/backends/storage/remote.py
  src/nexus/bricks/search/indexing_service.py
  src/nexus/bricks/versioning/time_travel_service.py
  src/nexus/core/kernel_protocols.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/orchestrator.py
  src/nexus/server/_rpc_params_generated.py
  tests/unit/core/test_nexus_fs_core.py
Due: check-file-size, check-type-ignore

fix: remove stale PyObjectStoreAdapter comments after rebase
  src/nexus/core/nexus_fs_metadata.py
Due: check-file-size, check-type-ignore

docs(#3785): implementation plan for per-agent zone scoping (P3-2)
  docs/superpowers/plans/2026-04-24-issue-3785-per-agent-zone-scoping.md
Due: none

feat(#3785): create_api_key accepts zones list, writes junction rows
  src/nexus/storage/api_key_ops.py
  tests/unit/storage/test_api_key_ops_zones.py
Due: check-file-size, check-type-ignore

docs(#3785): plan conventions — uv run pytest, _base import, ZoneModel.name
  docs/superpowers/plans/2026-04-24-issue-3785-per-agent-zone-scoping.md
Due: none

docs(#3785): per-agent zone scoping design (P3-2)
  docs/superpowers/specs/2026-04-24-issue-3785-per-agent-zone-scoping-design.md
Due: none

feat(#3785): OperationContext.zone_set + assert_zone_allowed helper
  src/nexus/contracts/types.py
  tests/unit/contracts/test_assert_zone_allowed.py
  tests/unit/contracts/test_operation_context_zone_set.py
Due: check-file-size, check-type-ignore

feat(#3785): add APIKeyZoneModel junction table
  src/nexus/storage/models/__init__.py
  src/nexus/storage/models/auth.py
  tests/unit/storage/models/__init__.py
  tests/unit/storage/models/test_api_key_zone_model.py
Due: check-file-size, check-type-ignore

feat(#3785): alembic migration for api_key_zones junction
  alembic/versions/eba93656daab_add_api_key_zones_junction_table_for_.py
  tests/migrations/__init__.py
  tests/migrations/test_api_key_zones_backfill.py
Due: check-file-size, check-type-ignore

docs(#3785): document zone_set + is_system non-bypass in OperationContext
  src/nexus/contracts/types.py
Due: check-file-size, check-type-ignore

test(#3785): expired multi-zone token rejected (AC #5 regression)
  tests/unit/auth/test_database_key.py
Due: check-type-ignore

feat(#3785): hub token list shows zones column
  src/nexus/cli/commands/hub.py
  tests/unit/cli/test_hub.py
Due: check-file-size, check-type-ignore

feat(#3785): nexus hub token zones {add,remove,show} group
  src/nexus/cli/commands/hub.py
  tests/unit/cli/test_hub.py
Due: check-file-size, check-type-ignore

feat(#3785): DatabaseAPIKeyAuth loads zone_set; AuthResult/ResolvedIdentity carry it
  pyproject.toml
  src/nexus/bricks/auth/providers/database_key.py
  src/nexus/bricks/auth/types.py
  src/nexus/bricks/mcp/auth_bridge.py
  src/nexus/bricks/mcp/auth_cache.py
  tests/unit/auth/test_database_key.py
Due: check-file-size, check-type-ignore

feat(#3785): api_key_ops zone CRUD helpers
  src/nexus/storage/api_key_ops.py
  tests/unit/storage/test_api_key_ops_zone_crud.py
Due: check-file-size, check-type-ignore

feat(#3785): nexus hub token create --zones (CSV); --zone hidden alias
  src/nexus/cli/commands/hub.py
  tests/unit/cli/test_hub.py
Due: check-file-size, check-type-ignore

feat(#3785): search auto-fans-out across token zone_set
  src/nexus/bricks/search/federated_search.py
  src/nexus/server/api/v2/routers/search.py
  tests/integration/services/test_search_zone_set.py
Due: check-file-size, check-type-ignore

feat(#3785): _gate_zone helper for file-op handlers (no current explicit-zone callers)
  src/nexus/server/api/v2/routers/async_files.py
  tests/unit/server/api/__init__.py
  tests/unit/server/api/v2/__init__.py
  tests/unit/server/api/v2/routers/__init__.py
  tests/unit/server/api/v2/routers/conftest.py
  tests/unit/server/api/v2/routers/test_async_files_zone_gate.py
Due: check-file-size, check-type-ignore

test(#3785): create_api_key — zones=[] raises, zones precedence over zone_id
  tests/unit/storage/test_api_key_ops_zones.py
Due: check-type-ignore

feat(#3785): auth_bridge propagates zone_set into OperationContext
  src/nexus/bricks/mcp/auth_bridge.py
  tests/unit/bricks/mcp/test_auth_bridge_cache.py
  tests/unit/bricks/mcp/test_auth_bridge_zone_set.py
Due: check-file-size, check-type-ignore

feat(#3785): file-op ?zone= override (write/delete/list/exists/metadata/mkdir/batch-read)
  src/nexus/server/api/v2/routers/async_files.py
  tests/unit/server/api/v2/routers/test_async_files_zone_param.py
Due: check-file-size, check-type-ignore

test(#3785): e2e smoke for nexus hub token multi-zone CLI flow
  tests/e2e/self_contained/cli/test_hub_flow.py
Due: check-type-ignore

fix(#3785): hub token_list handles nullable zone_id (mypy)
  src/nexus/cli/commands/hub.py
Due: check-file-size, check-type-ignore

fix(#3785): propagate zone_set/zone_perms through resolve_auth dict
  src/nexus/server/dependencies.py
  tests/unit/server/test_dependencies.py
Due: check-file-size, check-type-ignore

feat(#3785): nexus hub token create --zones-glob
  src/nexus/cli/commands/hub.py
  tests/unit/cli/test_hub.py
Due: check-file-size, check-type-ignore
