Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

feat(#2061): zone finalizer protocol for ordered cleanup
  alembic/versions/add_zone_phase_finalizers.py
  alembic/versions/baseline_pre_alembic_tables.py
  scripts/test_provision_user.py
  src/nexus/auth/zone_helpers.py
  src/nexus/contracts/exceptions.py
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/factory/_background.py
  src/nexus/factory/_system.py
  src/nexus/factory/orchestrator.py
  src/nexus/server/auth/zone_routes.py
  src/nexus/services/protocols/zone_lifecycle.py
  src/nexus/services/zone_finalizers/__init__.py
  src/nexus/services/zone_finalizers/cache_finalizer.py
  src/nexus/services/zone_finalizers/mount_finalizer.py
  src/nexus/services/zone_finalizers/rebac_finalizer.py
  src/nexus/services/zone_finalizers/search_finalizer.py
  src/nexus/services/zone_lifecycle.py
  src/nexus/storage/models/auth.py
  tests/e2e/server/test_zone_deprovision_e2e.py
  tests/e2e/server/test_zone_deprovision_permissions_e2e.py
  tests/unit/services/test_zone_finalizer_compliance.py
  tests/unit/services/test_zone_finalizers.py
  tests/unit/services/test_zone_lifecycle.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

fix(#2061): resolve merge conflicts with develop
  src/nexus/core/service_wiring.py
  src/nexus/factory/_system.py
  src/nexus/services/user_provisioning.py
  tests/e2e/self_contained/test_zone_model.py
Due: check-file-size, check-type-ignore

style(#2061): ruff format 8 files
  alembic/versions/add_zone_phase_finalizers.py
  src/nexus/services/zone_finalizers/cache_finalizer.py
  src/nexus/services/zone_finalizers/mount_finalizer.py
  src/nexus/services/zone_finalizers/rebac_finalizer.py
  src/nexus/services/zone_finalizers/search_finalizer.py
  src/nexus/services/zone_lifecycle.py
  tests/e2e/server/test_zone_deprovision_e2e.py
  tests/unit/services/test_zone_lifecycle.py
Due: check-file-size, check-type-ignore

fix(#2061): add zone_lifecycle to expected system service key sets
  tests/unit/core/test_factory_boot.py
  tests/unit/core/test_kernel_config.py
Due: check-type-ignore

chore(#2285): upgrade nexus_raft PyO3 from 0.22 to 0.27.2
  Cargo.lock
  Cargo.toml
  rust/nexus_raft/Cargo.toml
Due: none

fix(#2285): replace deprecated allow_threads with detach (PyO3 0.27)
  rust/nexus_raft/src/pyo3_bindings.rs
Due: rust-fmt-raft, rust-clippy-raft

refactor: break circular runtime imports between services/ and core/ (#2133)
  src/nexus/contracts/agent_utils.py
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/protocols/__init__.py
  src/nexus/core/protocols/entity_registry.py
  src/nexus/core/protocols/permission_enforcer.py
  src/nexus/core/protocols/rebac_manager.py
  src/nexus/core/protocols/wirable_fs.py
  src/nexus/core/protocols/workspace_manager.py
  src/nexus/core/service_wiring.py
  src/nexus/factory/_system.py
  src/nexus/factory/_wired.py
  src/nexus/factory/orchestrator.py
  src/nexus/services/agents/agent_rpc_service.py
  tests/integration/core/test_cold_start.py
  tests/unit/core/test_factory_boot.py
  tests/unit/core/test_import_smoke.py
  tests/unit/core/test_kernel_config.py
  tests/unit/core/test_kernel_protocol_compliance.py
  tests/unit/core/test_nexus_fs_provision_user.py
  tests/unit/factory/test_wired_services.py
  tests/unit/services/test_protocol_compliance.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

feat(#2194): add kernel-only boot mode deployment profile
  src/nexus/cli/commands/server.py
  src/nexus/config.py
  src/nexus/contracts/deployment_profile.py
  src/nexus/core/device_capabilities.py
  src/nexus/core/performance_tuning.py
  src/nexus/factory/orchestrator.py
  tests/unit/core/test_kernel_boot_mode.py
Due: check-file-size, check-type-ignore

fix(#2123): update benchmark imports to use new search primitives path
  tests/benchmarks/test_search_benchmarks.py
Due: check-type-ignore

feat(#2061): zone finalizer protocol for ordered cleanup (#2334)
  alembic/versions/add_zone_phase_finalizers.py
  alembic/versions/baseline_pre_alembic_tables.py
  scripts/test_provision_user.py
  src/nexus/auth/zone_helpers.py
  src/nexus/contracts/exceptions.py
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/service_wiring.py
  src/nexus/factory/_background.py
  src/nexus/factory/_system.py
  src/nexus/factory/orchestrator.py
  src/nexus/server/auth/zone_routes.py
  src/nexus/services/protocols/zone_lifecycle.py
  src/nexus/services/user_provisioning.py
  src/nexus/services/zone_finalizers/__init__.py
  src/nexus/services/zone_finalizers/cache_finalizer.py
  src/nexus/services/zone_finalizers/mount_finalizer.py
  src/nexus/services/zone_finalizers/rebac_finalizer.py
  src/nexus/services/zone_finalizers/search_finalizer.py
  src/nexus/services/zone_lifecycle.py
  src/nexus/storage/models/auth.py
  tests/e2e/self_contained/test_zone_model.py
  tests/e2e/server/test_zone_deprovision_e2e.py
  tests/e2e/server/test_zone_deprovision_permissions_e2e.py
  tests/unit/core/test_factory_boot.py
  tests/unit/core/test_kernel_config.py
  tests/unit/services/test_zone_finalizer_compliance.py
  tests/unit/services/test_zone_finalizers.py
  tests/unit/services/test_zone_lifecycle.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

fix(#2123): update remaining test and docs imports to new search primitives path
  rust/nexus_pyo3/README.md
  tests/e2e/self_contained/test_trigram_search_integration.py
Due: check-type-ignore

feat(#2194): add kernel-only boot mode deployment profile (#2341)
  src/nexus/cli/commands/server.py
  src/nexus/config.py
  src/nexus/contracts/deployment_profile.py
  src/nexus/core/device_capabilities.py
  src/nexus/core/performance_tuning.py
  src/nexus/factory/orchestrator.py
  tests/unit/core/test_kernel_boot_mode.py
Due: check-file-size, check-type-ignore

feat(#2286): add brick import boundary lint to CI
  .github/workflows/code-quality.yml
  .pre-commit-hooks/check_brick_imports.py
  pyproject.toml
  src/nexus/bricks/governance/governance_wrapper.py
  src/nexus/bricks/pay/protocol.py
  src/nexus/services/protocols/payment.py
  tests/unit/scripts/test_check_brick_imports.py
Due: check-file-size, check-type-ignore

fix(#2123): update glob_fast and trigram_fast imports in benchmarks
  tests/benchmarks/test_search_benchmarks.py
Due: check-type-ignore

fix(#2194): always create SearchService for kernel-level list/glob/grep
  src/nexus/factory/_wired.py
Due: check-file-size, check-type-ignore

feat(#2286): add brick import boundary lint to CI (#2342)
  .github/workflows/code-quality.yml
  .pre-commit-hooks/check_brick_imports.py
  pyproject.toml
  src/nexus/bricks/governance/governance_wrapper.py
  src/nexus/bricks/pay/protocol.py
  src/nexus/services/protocols/payment.py
  tests/unit/scripts/test_check_brick_imports.py
Due: check-file-size, check-type-ignore

fix(#2194): always create SearchService for kernel-level list/glob/grep (#2344)
  src/nexus/factory/_wired.py
Due: check-file-size, check-type-ignore

fix(#2049): resolve mypy errors from develop merge
  src/nexus/server/fastapi_server.py
Due: check-file-size, check-type-ignore

fix(#2049): use dict literal in search.py to satisfy ruff C408
  src/nexus/server/lifespan/search.py
Due: check-file-size, check-type-ignore

style(#2049): apply ruff format to fastapi_server.py and search.py
  src/nexus/server/lifespan/search.py
Due: check-file-size, check-type-ignore

refactor(#2049): decompose fastapi_server.py — 3,725 → 858 LOC (−77%)
  src/nexus/server/api/core/rpc.py
  src/nexus/server/api/v2/dependencies.py
  src/nexus/server/api/v2/routers/async_files.py
  src/nexus/server/api/v2/routers/batch.py
  src/nexus/server/api/v2/routers/delegation.py
  src/nexus/server/api/v2/routers/ipc.py
  src/nexus/server/api/v2/routers/pay.py
  src/nexus/server/api/v2/routers/scheduler.py
  src/nexus/server/api/v2/routers/workflows.py
  src/nexus/server/auth/oauth_init.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/lifespan/permissions.py
  src/nexus/server/lifespan/search.py
  src/nexus/server/lifespan/uploads.py
  src/nexus/server/rpc/discovery.py
  tests/e2e/server/test_nexuspay_server_e2e.py
  tests/unit/server/test_rpc_admin_only.py
  tests/unit/server/test_rpc_method_security.py
Due: check-file-size, check-type-ignore

refactor(#2134): move 5 factory flat params into BrickServices container
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/orchestrator.py
  tests/unit/core/test_factory_boot.py
  tests/unit/core/test_kernel_config.py
Due: check-file-size, check-type-ignore

fix(#2171): fix 3 pre-existing E2E failures found during QoS validation
  src/nexus/auth/oauth/credential_service.py
  src/nexus/auth/oauth/factory.py
  src/nexus/server/api/v2/routers/feedback.py
  tests/e2e/server/test_a2a_auth_e2e.py
Due: check-file-size, check-type-ignore

feat(#2171): add agent QoS classes (premium/standard/spot) with K8s-style eviction
  src/nexus/contracts/agent_types.py
  src/nexus/contracts/qos.py
  src/nexus/core/performance_tuning.py
  src/nexus/factory/_system.py
  src/nexus/server/background_tasks.py
  src/nexus/services/agents/agent_registry.py
  src/nexus/services/agents/eviction_manager.py
  src/nexus/services/agents/eviction_policy.py
  src/nexus/services/agents/resource_monitor.py
  src/nexus/storage/models/agents.py
  tests/unit/contracts/test_qos.py
  tests/unit/services/test_eviction_manager.py
  tests/unit/services/test_eviction_policy.py
Due: check-file-size, check-type-ignore

perf(#2171): fix thread-safety docstring and remove unnecessary list copy
  src/nexus/core/performance_tuning.py
  src/nexus/services/agents/eviction_manager.py
  src/nexus/services/agents/eviction_policy.py
Due: check-file-size, check-type-ignore

refactor(#2049): decompose fastapi_server.py — 3,725 → 858 LOC (#2314)
  src/nexus/server/api/core/rpc.py
  src/nexus/server/api/v2/dependencies.py
  src/nexus/server/api/v2/routers/async_files.py
  src/nexus/server/api/v2/routers/batch.py
  src/nexus/server/api/v2/routers/delegation.py
  src/nexus/server/api/v2/routers/ipc.py
  src/nexus/server/api/v2/routers/pay.py
  src/nexus/server/api/v2/routers/scheduler.py
  src/nexus/server/api/v2/routers/workflows.py
  src/nexus/server/auth/oauth_init.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/lifespan/permissions.py
  src/nexus/server/lifespan/search.py
  src/nexus/server/lifespan/uploads.py
  src/nexus/server/rpc/discovery.py
  tests/e2e/server/test_nexuspay_server_e2e.py
  tests/unit/server/test_rpc_admin_only.py
  tests/unit/server/test_rpc_method_security.py
Due: check-file-size, check-type-ignore

refactor(#2134): move 5 factory flat params into BrickServices container (#2345)
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/orchestrator.py
  tests/unit/core/test_factory_boot.py
  tests/unit/core/test_kernel_config.py
Due: check-file-size, check-type-ignore

fix(#2171): fix CI test failures from QoS event-driven eviction loop
  tests/unit/server/test_background_tasks.py
  tests/unit/services/test_oauth_service.py
Due: check-type-ignore

ci: fix required checks not triggering on non-Python PRs
  .github/workflows/code-quality.yml
Due: none

fix(#2129): wire governance services into production server + add zone_id scoping
  src/nexus/bricks/governance/anomaly_service.py
  src/nexus/bricks/governance/governance_graph_service.py
  src/nexus/bricks/governance/protocols.py
  src/nexus/bricks/governance/response_service.py
  src/nexus/server/api/v2/routers/governance.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/lifespan/services.py
  tests/e2e/server/test_governance_e2e.py
Due: check-file-size, check-type-ignore

fix(#2129): update stale governance protocol path in compliance test
  tests/unit/services/test_protocol_compliance.py
Due: check-type-ignore
