Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

feat(#806): Rust-accelerated SPSC ring buffer for DT_PIPE Phase 2
  rust/nexus_pyo3/src/lib.rs
  rust/nexus_pyo3/src/pipe.rs
  src/nexus/core/pipe_fast.py
  src/nexus/core/pipe_manager.py
  tests/unit/core/test_pipe.py
Due: check-file-size, check-type-ignore

feat(#690): move vfs_hook_impls from core/ to services/
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_wired.py
  src/nexus/factory/orchestrator.py
  src/nexus/services/vfs_hook_impls.py
  tests/unit/core/test_vfs_hook_impls.py
Due: check-file-size, check-type-ignore

fix(#660): update tests to use ROOT_ZONE_ID constant instead of "default"
  tests/unit/rlm/test_types.py
  tests/unit/services/test_delegation_feedback.py
Due: check-type-ignore

refactor(#2055): decouple cache/ brick from nexus.core — zero import violations
  pyproject.toml
  src/nexus/bricks/cache/__init__.py
  src/nexus/bricks/cache/brick.py
  src/nexus/bricks/cache/cache_store.py
  src/nexus/bricks/cache/domain.py
  src/nexus/bricks/cache/dragonfly.py
  src/nexus/bricks/cache/factory.py
  src/nexus/bricks/cache/inmemory.py
  src/nexus/bricks/cache/persistent_view_postgres.py
  src/nexus/cache/persistent_view_postgres.py
  src/nexus/core/cache_store.py
  src/nexus/storage/persistent_view_postgres.py
  tests/unit/cache/test_cache_import_identity.py
Due: check-file-size, check-type-ignore

feat(#2168): add StartupTracker and health probe endpoints
  src/nexus/server/fastapi_server.py
Due: check-file-size, check-type-ignore

perf(ci): speed up CI pipeline with Rust caching, test parallelization, and workflow consolidation
  .github/workflows/code-quality.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  scripts/ci-lint.sh
  tests/unit/core/test_import_cycles.py
  tests/unit/services/event_log/test_replay_hypothesis.py
  tests/unit/services/test_eviction_manager.py
Due: check-type-ignore

fix(ci): fix brick import checker path resolution and import-linter PYTHONPATH
  .pre-commit-hooks/check_brick_imports.py
Due: check-file-size

fix(ci): rename matrix.main-only to main_only (hyphen breaks expression parser)
  .github/workflows/test.yml
Due: none

fix(ci): remove job-level matrix.if (matrix context unavailable at job level)
  .github/workflows/test.yml
Due: none

chore: gitignore entire .claude/ directory
  .gitignore
Due: none

refactor(#2049): decompose fastapi_server.py — 3,725 → 858 LOC (−77%)
  src/nexus/server/lifespan/search.py
Due: check-file-size, check-type-ignore

refactor(#2049): decompose fastapi_server.py — 3,725 → 858 LOC (−77%)
  src/nexus/server/auth/oauth_init.py
Due: check-file-size, check-type-ignore

style(#2049): apply ruff format to fastapi_server.py and search.py
  src/nexus/server/lifespan/search.py
Due: check-file-size, check-type-ignore

fix(#2072,#2135): remove global state, fix async safety, add shutdown timeout
  src/nexus/server/lifespan/__init__.py
  src/nexus/server/lifespan/observability.py
  src/nexus/server/observability/components.py
  src/nexus/server/observability/registry.py
Due: check-file-size, check-type-ignore

refactor(#2072,#2135): consolidate observability registry + typed app.state
  pyproject.toml
  src/nexus/server/app_state.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/lifespan/__init__.py
  src/nexus/server/lifespan/a2a_grpc.py
  src/nexus/server/lifespan/bricks.py
  src/nexus/server/lifespan/ipc.py
  src/nexus/server/lifespan/observability.py
  src/nexus/server/lifespan/permissions.py
  src/nexus/server/lifespan/realtime.py
  src/nexus/server/lifespan/search.py
  src/nexus/server/lifespan/services.py
  src/nexus/server/lifespan/uploads.py
  src/nexus/server/observability/components.py
  src/nexus/server/observability/registry.py
  tests/unit/server/lifespan/test_bricks_lifespan.py
  tests/unit/server/test_app_state.py
  tests/unit/server/test_observability_registry.py
Due: check-file-size, check-type-ignore

fix(#2148): IPC abstraction cleanup — remove layer violations and hardening
  FINAL_VALIDATION_REPORT.md
  src/nexus/core/config.py
  src/nexus/ipc/delivery.py
  src/nexus/ipc/exceptions.py
Due: check-file-size, check-type-ignore

refactor(#1631): migrate WriteObserver from getattr() to formal Protocol dispatch
  src/nexus/contracts/write_observer.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/factory/_system.py
  tests/unit/core/test_write_observer_calls.py
Due: check-file-size, check-type-ignore

fix(#2126): accept CREATED event type in e2e rename test (macOS FSEvents)
  tests/e2e/self_contained/test_wait_for_changes.py
Due: check-type-ignore

refactor(#2126): replace custom file watcher with watchfiles (Rust-backed)
  pyproject.toml
  src/nexus/services/watch/__init__.py
  src/nexus/services/watch/file_watcher.py
  tests/e2e/self_contained/test_wait_for_changes.py
  tests/unit/services/test_file_watcher.py
  uv.lock
Due: check-file-size, check-type-ignore

refactor(#2188): eliminate global mutable state in search brick
  .pre-commit-hooks/check_file_size.py
  src/nexus/backends/sync_pipeline.py
  src/nexus/bricks/search/__init__.py
  src/nexus/bricks/search/bm25s_search.py
  src/nexus/bricks/search/config.py
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/mobile_providers.py
  src/nexus/bricks/search/vector_db.py
  src/nexus/bricks/search/zoekt_client.py
  src/nexus/factory/_bricks.py
  src/nexus/server/lifespan/search.py
  src/nexus/services/search/search_service.py
  tests/unit/bricks/search/test_async_lifecycle.py
  tests/unit/bricks/search/test_vector_db_split.py
Due: check-file-size, check-type-ignore

fix(#2188): fix VectorDatabase runtime import in test_vector_db_split
  tests/unit/bricks/search/test_vector_db_split.py
Due: check-type-ignore
