Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(raft): drop python from `full` feature post-PR-3995 decoupling
  rust/raft/Cargo.toml
Due: none

fix(raft): drop i_links_count bump from JoinZone — conflated semantics
  rust/raft/src/transport/server.rs
Due: none

fix(raft): root-leader-gated federation zone create-or-join
  rust/raft/src/distributed_coordinator.rs
Due: none

fix(rpc): sys_lock dispatch returns bare lock_id, not dict wrapper
  src/nexus/server/_kernel_syscall_dispatch.py
Due: check-file-size, check-type-ignore

refactor(kernel): eliminate Python-only cfg gates from ServiceRegistry + pending_remote_meta_store
  rust/kernel/src/core/service_registry.rs
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/kernel/src/kernel/dispatch.rs
  rust/kernel/src/kernel/mod.rs
  rust/profiles/cluster/src/main.rs
  rust/services/src/managed_agent/mod.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore

Fix Docker Publish edge smoke timeout
  .github/workflows/docker-publish.yml
  src/nexus/cli/commands/demo.py
  tests/unit/cli/test_demo_seeds.py
Due: check-file-size, check-type-ignore

refactor(kernel): delete DLC::mounts shadow of VFSRouter::entries
  rust/kernel/src/core/dlc.rs
Due: none

refactor(kernel): downgrade pub agent_registry to pub(crate) + accessor
  rust/kernel/src/kernel/mod.rs
  rust/services/src/managed_agent/mod.rs
Due: none

refactor(kernel): drop chunk_fetcher shadow — derive from peer_client at point of use
  rust/backends/src/python/factory.rs
  rust/kernel/src/cas_remote.rs
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/kernel/src/hal/object_store_provider.rs
  rust/kernel/src/kernel/mod.rs
  scripts/codegen_kernel_abi.py
Due: check-file-size, check-type-ignore

fix(nexusd-cluster): migrate to PR #3996 opaque-ID + JoinZone bootstrap
  rust/profiles/cluster/src/main.rs
Due: none

chore(scripts): delete wal_smoke_xmachine.py — wrong stack for PR #3996
  scripts/wal_smoke_xmachine.py
Due: check-file-size, check-type-ignore

test(scripts): add cluster_smoke_xmachine.py — static-mode L1 against nexusd-cluster
  scripts/cluster_smoke_xmachine.py
Due: check-file-size, check-type-ignore

fix(connect): handle :memory: sentinel in _open_local_metastore — Windows path bug
  src/nexus/__init__.py
  tests/unit/test_open_local_metastore.py
Due: check-file-size, check-type-ignore

refactor(raft): expose read_or_mint_node_id + bootstrap_or_join_root
  rust/raft/src/distributed_coordinator.rs
Due: none

feat(kernel,services): AgentDescriptor.repos + procfs entry helpers
  rust/kernel/src/agent_registry_py.rs
  rust/kernel/src/core/agents/registry.rs
  rust/services/src/managed_agent/mod.rs
  rust/services/src/managed_agent/proc_entry.rs
  stubs/nexus_runtime/__init__.pyi
Due: none

fix(services): managed_agent tests use kernel.agent_registry() accessor
  rust/services/src/managed_agent/mod.rs
Due: none

feat(services): ProcWorkspaceResolver — procfs view over /proc/{pid}/workspace/
  rust/services/src/managed_agent/mod.rs
  rust/services/src/managed_agent/proc_workspace_resolver.rs
Due: none

refactor(services): collapse Session — session_id == pid, descriptor is the SSOT
  rust/services/src/managed_agent/mod.rs
  rust/services/src/managed_agent/session.rs
Due: none

refactor(services): drop materialize_workspace, lean on ProcWorkspaceResolver
  rust/services/src/managed_agent/mod.rs
  rust/services/src/managed_agent/session.rs
Due: none

refactor(services): managed_agent settles on agent_id for the static profile
  rust/services/src/managed_agent/mod.rs
Due: none

refactor(protocols): delete dead VFSRouterProtocol stub
  src/nexus/bricks/mount/mount_service.py
  src/nexus/core/protocols/__init__.py
  src/nexus/core/protocols/connector.py
  src/nexus/core/protocols/vfs_router.py
  tests/integration/core/test_cold_start.py
  tests/unit/core/protocols/test_vfs_router.py
  tests/unit/core/test_import_smoke.py
  tests/unit/scripts/test_check_brick_imports.py
  tests/unit/services/test_protocol_compliance.py
Due: check-file-size, check-type-ignore

docs(dlc): correct Python DriverLifecycleCoordinator docstring
  src/nexus/core/driver_lifecycle_coordinator.py
Due: check-file-size, check-type-ignore

refactor(dlc): drop dead backend_key + _self_address + _transport_pool
  src/nexus/core/driver_lifecycle_coordinator.py
  src/nexus/core/nexus_fs.py
  tests/unit/core/test_driver_lifecycle_coordinator.py
Due: check-file-size, check-type-ignore

fix(nexusd-cluster): spawn_blocking around bootstrap_or_join_root — nested-tokio panic
  rust/profiles/cluster/src/main.rs
Due: none

fix(raft): NEXUS_PEERS lists OTHER peers only — fail-loud on self
  docs/architecture/federation-memo.md
  rust/profiles/cluster/src/main.rs
  rust/raft/src/distributed_coordinator.rs
  scripts/cluster_smoke_xmachine.py
Due: check-file-size, check-type-ignore

feat(services): Matrix C-S adapter D1 — skeleton + auth surface
  Cargo.lock
  rust/services/Cargo.toml
  rust/services/src/lib.rs
  rust/services/src/matrix_adapter/auth.rs
  rust/services/src/matrix_adapter/error.rs
  rust/services/src/matrix_adapter/middleware.rs
  rust/services/src/matrix_adapter/mod.rs
  rust/services/src/matrix_adapter/router.rs
  rust/services/src/matrix_adapter/types.rs
Due: none

chore(docker): align dynamic-federation-test with NEXUS_PEERS=other-peers contract
  dockerfiles/docker-compose.dynamic-federation-test.yml
Due: none

fix(nexusd): respect explicit NEXUS_GRPC_PORT env var
  src/nexus/daemon/main.py
Due: check-file-size, check-type-ignore

fix(#3980): page-level aggregation + matryoshka dim default
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/txtai_backend.py
  src/nexus/server/lifespan/search.py
  tests/unit/bricks/search/test_page_aggregation.py
  tests/unit/server/lifespan/test_search_lifespan.py
Due: check-file-size, check-type-ignore

fix(search): drop bm25s rebuild on query path
  scripts/bench_gbrain_evals.py
  src/nexus/bricks/search/bm25s_search.py
Due: check-file-size, check-type-ignore

fix(#3980): page-level BM25 leg + RRF fusion for rare-phrase recovery
  nexus-stack.yml
  scripts/bench_gbrain_evals.py
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/txtai_backend.py
  src/nexus/server/lifespan/search.py
Due: check-file-size, check-type-ignore

test(search): align openai default test with 3-large
  tests/unit/server/lifespan/test_search_lifespan.py
Due: check-type-ignore

fix(rpc/cli): semantic_search query kwarg + codegen for sys_readdir/close
  scripts/codegen_kernel_abi.py
  src/nexus/cli/commands/search.py
  src/nexus/server/_kernel_syscall_dispatch.py
Due: check-file-size, check-type-ignore

fix search review findings
  src/nexus/bricks/search/txtai_backend.py
  src/nexus/server/lifespan/search.py
  tests/unit/bricks/search/test_page_aggregation.py
  tests/unit/server/lifespan/test_search_lifespan.py
Due: check-file-size, check-type-ignore

fix(rpc): accept sys_readdir wire name and no-op close at server
  src/nexus/server/_kernel_syscall_dispatch.py
Due: check-file-size, check-type-ignore

fix(search): default to OpenAI embeddings when key is set
  nexus-stack.yml
  src/nexus/server/lifespan/search.py
Due: check-file-size, check-type-ignore

test: add auth and service testkit helpers
  tests/testkit/auth.py
  tests/testkit/containers.py
  tests/unit/testkit/test_auth.py
  tests/unit/testkit/test_containers.py
Due: check-type-ignore

docs: design nexus testkit
  docs/superpowers/specs/2026-05-02-issue-3968-nexus-testkit-design.md
Due: none

test: add profile matrix testkit
  tests/testkit/__init__.py
  tests/testkit/profiles.py
  tests/unit/backends/test_profile_matrix.py
  tests/unit/testkit/test_profiles.py
Due: check-type-ignore

docs: plan nexus testkit implementation
  docs/superpowers/plans/2026-05-02-issue-3968-nexus-testkit.md
Due: none

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
