Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

add Benchmark (pytest) benchmark result for ad13ef8d2a94e8603ca240ca43ad8c6a889ac198
  dev/bench-full/data.js
Due: none

fix(#1717): fix import path + remove remaining type:ignore comments
  src/nexus/factory.py
  src/nexus/server/auth/user_helpers.py
  src/nexus/server/lifespan/services.py
Due: check-file-size, check-type-ignore

fix(#1734): fix 5 mypy errors — public get_zone_revision, add list_tuples, fix NamespaceManager import
  src/nexus/rebac/manager.py
  src/nexus/rebac/namespace_manager.py
  src/nexus/sandbox/auth_service.py
Due: check-file-size, check-type-ignore

chore(#1443): clean up commented-out code in 4 files
  src/nexus/cli/commands/workflows.py
  src/nexus/migrations/config_migrator.py
  src/nexus/migrations/registry.py
  src/nexus/services/skill_service.py
Due: check-file-size, check-type-ignore

fix(#1717): fix mypy errors in factory.py and services.py
  src/nexus/server/lifespan/services.py
  src/nexus/services/permissions/enforcer.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for cfb4461d484c9de7a964acf101cbd05cb9d460fe
  dev/bench/data.js
Due: none

fix(#1717): sort imports in enforcer.py for ruff I001
  src/nexus/services/permissions/enforcer.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for a756897ec1f93ace8224655702c595ab964f6069
  dev/bench/data.js
Due: none

fix(#1717): change rebac brick DEFAULT_ZONE from "default" to "root"
  src/nexus/rebac/async_manager.py
  src/nexus/rebac/batch/bulk_checker.py
  src/nexus/rebac/cache/boundary.py
  src/nexus/rebac/cache/coordinator.py
  src/nexus/rebac/cache/iterator.py
  src/nexus/rebac/cache/result_cache.py
  src/nexus/rebac/cache/tiger/bitmap_cache.py
  src/nexus/rebac/consistency/revision.py
  src/nexus/rebac/consistency/zone_manager.py
  src/nexus/rebac/hotspot_detector.py
  src/nexus/rebac/manager.py
  src/nexus/rebac/tuples/repository.py
  src/nexus/rebac/utils/zone.py
Due: check-file-size, check-type-ignore

fix(#1602): add PermissionEnforcer re-export to core.permissions
  src/nexus/core/permissions.py
Due: check-file-size, check-type-ignore

fix(#1602): fix PermissionEnforcer import cycle
  src/nexus/core/permissions.py
Due: check-file-size, check-type-ignore

fix(#1717): apply ruff format to manager.py and services.py
  src/nexus/rebac/manager.py
  src/nexus/server/lifespan/services.py
Due: check-file-size, check-type-ignore

refactor(#1703): Bridge Backend ABC with ConnectorProtocol — layered protocols, validation, type migration (#1751)
  src/nexus/backends/registry.py
  src/nexus/connectors/mount_hooks.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/protocols/__init__.py
  src/nexus/core/protocols/connector.py
  src/nexus/core/protocols/vfs_router.py
  src/nexus/core/router.py
  src/nexus/services/chunked_upload_service.py
  src/nexus/services/events_service.py
  src/nexus/services/overlay_resolver.py
  src/nexus/services/workspace_manager.py
  tests/unit/backends/test_protocol_conformance.py
Due: check-file-size, check-type-ignore

feat(#1522): extract workflows into zero-dependency Lego Brick with REST API
  src/nexus/cli/commands/workflows.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/factory.py
  src/nexus/server/api/v2/routers/__init__.py
  src/nexus/server/api/v2/routers/workflows.py
  src/nexus/server/api/v2/versioning.py
  src/nexus/server/lifespan/services.py
  src/nexus/workflows/__init__.py
  src/nexus/workflows/actions.py
  src/nexus/workflows/api.py
  src/nexus/workflows/engine.py
  src/nexus/workflows/protocol.py
  src/nexus/workflows/storage.py
  src/nexus/workflows/triggers.py
  src/nexus/workflows/types.py
  tests/unit/server/api/v2/routers/test_workflows_router.py
  tests/unit/server/test_rpc_parity.py
  tests/unit/workflows/test_actions.py
  tests/unit/workflows/test_api.py
  tests/unit/workflows/test_engine.py
  tests/unit/workflows/test_protocol.py
  tests/unit/workflows/test_storage.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for f8c38e8bacabfd668c23a376bff72d08c8cdcb5e
  dev/bench/data.js
Due: none

fix(#1717): use ReBACManager base type in PermissionCacheCoordinator and FilterContext
  src/nexus/services/permissions/permission_cache.py
  src/nexus/services/permissions/permission_filter_chain.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for f8c38e8bacabfd668c23a376bff72d08c8cdcb5e
  dev/bench-full/data.js
Due: none

fix(#1717): fix test_tuple_repository — None zone_id maps to "root" not "default"
  tests/unit/services/permissions/test_tuple_repository.py
Due: check-type-ignore

fix(#1734): replace deprecated prefix= with path= in list test
  tests/e2e/self_contained/test_list_with_permissions.py
Due: check-type-ignore

chore(#1443): clean up commented-out code in 4 files (#1761)
  src/nexus/cli/commands/workflows.py
  src/nexus/migrations/config_migrator.py
  src/nexus/migrations/registry.py
  src/nexus/services/skill_service.py
Due: check-file-size, check-type-ignore

fix(#1717): fix CI failures — mypy type mismatch + silent swallower regression
  src/nexus/server/auth/user_helpers.py
Due: check-file-size, check-type-ignore

feat(#1522): extract workflows into zero-dependency Lego Brick with REST API (#1745)
  src/nexus/cli/commands/workflows.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/factory.py
  src/nexus/server/api/v2/routers/__init__.py
  src/nexus/server/api/v2/routers/workflows.py
  src/nexus/server/api/v2/versioning.py
  src/nexus/server/lifespan/services.py
  src/nexus/workflows/__init__.py
  src/nexus/workflows/actions.py
  src/nexus/workflows/api.py
  src/nexus/workflows/engine.py
  src/nexus/workflows/protocol.py
  src/nexus/workflows/storage.py
  src/nexus/workflows/triggers.py
  src/nexus/workflows/types.py
  tests/unit/server/api/v2/routers/test_workflows_router.py
  tests/unit/server/test_rpc_parity.py
  tests/unit/workflows/test_actions.py
  tests/unit/workflows/test_api.py
  tests/unit/workflows/test_engine.py
  tests/unit/workflows/test_protocol.py
  tests/unit/workflows/test_storage.py
Due: check-file-size, check-type-ignore

refactor(#1385): extract ReBAC to nexus/rebac/ brick (Steps 1-3)
  src/nexus/rebac/async_permissions.py
  src/nexus/rebac/batch/bulk_checker.py
  src/nexus/rebac/cache/coordinator.py
  src/nexus/rebac/consistency/zone_manager.py
  src/nexus/rebac/hierarchy_manager.py
  src/nexus/rebac/memory_permission_enforcer.py
  src/nexus/rebac/namespace_manager.py
  src/nexus/rebac/rebac_tracing.py
Due: check-file-size, check-type-ignore

refactor(#1385): flatten ReBACManager + EnhancedReBACManager into single class (Step 4)
  src/nexus/rebac/manager.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
