Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

docs: the daemon and every dylib in --plugin-dir move as one set
  docs/architecture/service-driver-deployment-matrix.md
Due: none

fix(ci): stamp the assembly tag into the binary it releases
  .github/workflows/release-nexusd-cluster.yml
Due: none

add Benchmark (pytest) benchmark result for dd707c0cc453514b88b53afc2b6e0edb64ab2345
  dev/bench-full/data.js
Due: none

chore(deps): bump nexus-vfs to v0.7.4 and sudocode to the matching merge
  Cargo.lock
  Cargo.toml
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
  rust/nexusd/Cargo.toml
  rust/services/http-api/Cargo.toml
Due: none

fix(ci): grant auto-plugin-release the permission to dispatch releases
  .github/workflows/auto-plugin-release.yml
Due: none

ci: mirror the search-plugin embedder model to COS
  .github/workflows/mirror-embedder-assets.yml
Due: none

fix(ci): upload plugin release artifacts through COS acceleration, chunked
  scripts/upload_cos.py
Due: check-file-size, check-type-ignore

test(search): regression guard — handle_semantic_search_index fails loud without daemon
  tests/unit/server/rpc/handlers/test_semantic_search_index.py
Due: check-type-ignore

test(rebac): count the memo instead of timing it
  tests/unit/services/permissions/test_rebac_fast_fallback.py
Due: check-type-ignore

fix(ci): give the search plugin a size budget it can actually meet
  .github/workflows/release-search-plugin.yml
Due: none

fix(ci): read the embedder model from the COS mirror, with checksums
  .github/workflows/docker-publish.yml
Due: none

fix(ci): build plugin dylibs on the daemon's glibc floor
  .github/workflows/release-plugin-reusable.yml
Due: none

fix(ci): stamp the assembly's version, not its tag, into --version
  .github/workflows/release-nexusd-cluster.yml
Due: none

fix(server): keep blocking kernel/DB calls off the event loop; cap in-flight search/index (#4777)
  src/nexus/server/api/v2/routers/_index_on_write.py
  src/nexus/server/api/v2/routers/_search_indexed_dirs.py
  src/nexus/server/api/v2/routers/async_files.py
  src/nexus/server/api/v2/routers/auth_keys.py
  src/nexus/server/api/v2/routers/rebac.py
  src/nexus/server/api/v2/routers/search.py
  src/nexus/server/app_state.py
  src/nexus/server/lifespan/__init__.py
  src/nexus/server/middleware/correlation.py
  tests/unit/server/api/v2/routers/test_files_off_loop.py
  tests/unit/server/api/v2/test_search_index_admission.py
  tests/unit/server/lifespan/test_wire_auth_cache.py
  tests/unit/server/test_correlation_slow_request.py
Due: check-file-size, check-type-ignore

perf(search-plugin): embed outside the zone lock, coalesce FTS commits, defer HNSW dumps across a burst (#4777)
  docs/deployment/search-plugin.md
  rust/services/search-plugin/src/ann_flush.rs
  rust/services/search-plugin/src/lib.rs
  rust/services/search-plugin/src/service.rs
Due: none

fix(remote): reap the spawned kernel at interpreter exit
  src/nexus/remote/kernel_client.py
  tests/unit/remote/test_kernel_client_exit_cleanup.py
Due: check-file-size, check-type-ignore

chore(surface): regenerate api-rpc-surface-coverage source line numbers
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

test(e2e): gate test_live_batch_search_contract on plugin availability (follow-up to #4764)
  tests/e2e/self_contained/test_search_surface_live_e2e.py
Due: check-type-ignore

perf(search-plugin): defer the HNSW dump for large zones even without sibling batches (#4777)
  docs/deployment/search-plugin.md
  rust/services/search-plugin/src/ann_flush.rs
  rust/services/search-plugin/src/service.rs
Due: none

fix(server): auth-result cache is fail-open and debuggable
  src/nexus/server/dependencies.py
  tests/unit/server/test_auth_cache_fail_open.py
Due: check-file-size, check-type-ignore

fix(server): compare the static API key before asking the auth provider
  src/nexus/server/dependencies.py
  tests/unit/server/test_auth_static_key_first.py
Due: check-file-size, check-type-ignore

docs(search): refresh nexus-search-architecture.html to reflect landed R10 work
  docs/architecture/nexus-search-architecture.html
Due: none

docs(search): scope the federated dispatcher Rust port (5-PR arc)
  docs/architecture/federated-search-rust-port.md
Due: none

perf(core): list direct children without scanning the subtree in sys_readdir(details=True)
  src/nexus/core/nexus_fs_metadata.py
  tests/unit/core/test_readdir_no_recursive_scan.py
Due: check-file-size, check-type-ignore

fix(search-plugin): widen the ANN fetch for path-scoped semantic queries
  docs/deployment/search-plugin.md
  rust/services/search-plugin/src/service.rs
Due: none

fix(http-api): cargo fmt
  rust/services/http-api/src/middleware/revision.rs
  rust/services/http-api/src/revision.rs
Due: none

feat(http-api): read-your-writes revision fence for /v2/search/query (#4737)
  rust/services/http-api/src/handlers/search.rs
  rust/services/http-api/src/lib.rs
  rust/services/http-api/src/middleware/mod.rs
  rust/services/http-api/src/middleware/revision.rs
  rust/services/http-api/src/revision.rs
  rust/services/http-api/tests/auth_middleware_e2e.rs
  rust/services/http-api/tests/serve_e2e.rs
Due: none

feat(http-api): extend revision fence to /v2/search/{glob,grep} + hygiene pass
  rust/services/http-api/src/handlers/search.rs
  rust/services/http-api/src/middleware/revision.rs
  rust/services/http-api/src/revision.rs
  rust/services/http-api/tests/revision_fence_e2e.rs
  src/nexus/server/api/v2/_revision_fence.py
Due: check-file-size, check-type-ignore

fix(http-api): honour multi-zone tokens in zone.rs effective_zone (#4747 audit)
  rust/services/http-api/src/zone.rs
Due: none

fix(http-api): cargo fmt zone.rs
  rust/services/http-api/src/zone.rs
Due: none

chore(deps): bump nexus-vfs pin to 62bc2f5b — mTLS arms identity
  Cargo.lock
  Cargo.toml
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
  rust/services/http-api/Cargo.toml
Due: none

perf(search-plugin): exact scoring for small path-scoped semantic queries
  docs/deployment/search-plugin.md
  rust/services/search-plugin/src/ann_index.rs
  rust/services/search-plugin/src/service.rs
Due: none

perf(search-plugin): bound path-scoped semantic widening by the subtree's live chunks
  docs/deployment/search-plugin.md
  rust/services/search-plugin/src/ann_index.rs
  rust/services/search-plugin/src/service.rs
Due: none

chore(deps): bump sudocode pin to 2b9dd8a9 — the other half of the kernel move
  Cargo.lock
  rust/nexusd/Cargo.toml
Due: none

test(search-plugin): do not require approximate widening to reach a far target
  rust/services/search-plugin/src/service.rs
Due: none

fix(search-common): audit follow-up — Python parity fusion tests + Hit-vs-QueryHit layering note
  rust/services/search-common/src/fusion.rs
  rust/services/search-common/src/lib.rs
Due: none

feat(search-common): new crate — Hit + RRF fusion + federated envelope (PR 1/5 of federated axum port)
  Cargo.lock
  Cargo.toml
  rust/services/search-common/Cargo.toml
  rust/services/search-common/src/federated.rs
  rust/services/search-common/src/fusion.rs
  rust/services/search-common/src/lib.rs
  rust/services/search-common/src/results.rs
Due: none

fix(search-common): cargo fmt tests
  rust/services/search-common/src/fusion.rs
Due: none

add Benchmark (pytest) benchmark result for 1cb80205fef378601e5190459984fcd8443f73da
  dev/bench-full/data.js
Due: none
