Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix: inline ROOT_ZONE_ID in contracts/types.py to maintain leaf module
  src/nexus/contracts/types.py
  src/nexus/system_services/lifecycle/events_service.py
Due: check-file-size, check-type-ignore

fix(tests): update bulk methods test to match current migration state
  tests/unit/core/test_nexus_fs_core.py
Due: check-type-ignore

fix(tests): remove stale _create_agent_config_data tests from NexusFS
  tests/unit/core/test_nexus_fs_agent_management.py
Due: check-type-ignore

fix: align RevisionNotifier imports and parameter names
  src/nexus/lib/revision_notifier.py
  tests/unit/core/test_revision_notifier.py
Due: check-file-size, check-type-ignore

fix: pass context in NexusFS.add_mount and fix mount test patch target
  src/nexus/core/nexus_fs.py
  tests/unit/core/test_nexus_fs_mounts.py
Due: check-file-size, check-type-ignore

fix: import TokenManager from server.auth to fix architecture boundary violation
  src/nexus/services/oauth_service.py
Due: check-file-size, check-type-ignore

fix: add oauth_service->token_manager to import-linter ratchet baseline
  pyproject.toml
  src/nexus/services/oauth_service.py
Due: check-file-size, check-type-ignore

fix: resolve macOS CI test failures (pre-existing)
  tests/unit/a2a/test_grpc_error_mapping.py
  tests/unit/core/test_nexus_fs_bulk.py
  tests/unit/mcp/conftest.py
  tests/unit/mcp/test_discovery_namespace.py
  tests/unit/mcp/test_formatters.py
  tests/unit/mcp/test_mcp_init.py
  tests/unit/mcp/test_mcp_provider_registry.py
  tests/unit/mcp/test_mcp_server.py
  tests/unit/mcp/test_mcp_server_tools.py
  tests/unit/mcp/test_mcp_skills.py
  tests/unit/mcp/test_oauth_mappings.py
  tests/unit/mcp/test_tool_namespace_middleware.py
  tests/unit/mcp/test_tool_profiles.py
  tests/unit/mcp/test_tool_utils.py
Due: check-type-ignore

fix(tests): remove stale tests and fix pre-existing failures on develop
  tests/unit/core/test_factory_boot.py
  tests/unit/core/test_nexus_fs_agent_management.py
  tests/unit/core/test_nexus_fs_bulk.py
  tests/unit/core/test_nexus_fs_mounts.py
Due: check-type-ignore

fix: update stale test imports for deleted A2A exceptions and moved PipeManager
  tests/unit/a2a/test_grpc_error_mapping.py
  tests/unit/services/test_workflow_dispatch.py
Due: check-type-ignore

fix: resolve pre-existing test failures across 5 test files
  src/nexus/system_services/lifecycle/workflow_dispatch_service.py
  tests/e2e/self_contained/test_overlay_nexusfs.py
  tests/e2e/self_contained/test_transactional_event_log.py
  tests/unit/services/event_subsystem/test_event_bus_error_paths.py
  tests/unit/services/test_workflow_dispatch.py
Due: check-file-size, check-type-ignore

fix(#958): remove 6 stale ruff per-file-ignores for deleted files
  pyproject.toml
Due: none

refactor(#922): wire OBSERVE observers + remove broken cache_observer callers
  src/nexus/core/nexus_fs_core.py
  src/nexus/factory/orchestrator.py
Due: check-file-size, check-type-ignore

refactor(#625): extract VFS hook impls from core to service directories
  src/nexus/bricks/rebac/cache/tiger/rename_hook.py
  src/nexus/core/vfs_hook_impls.py
  src/nexus/factory/orchestrator.py
  src/nexus/parsers/auto_parse_hook.py
  src/nexus/services/rebac/dynamic_viewer_hook.py
  tests/unit/services/test_vfs_hook_impls.py
Due: check-file-size, check-type-ignore

fix(ci): update orchestrator imports to correct hook locations
  src/nexus/factory/orchestrator.py
Due: check-file-size, check-type-ignore

fix(#961): replace hardcoded "root" with ROOT_ZONE_ID in isolated modules
  src/nexus/lib/db_base.py
Due: check-file-size, check-type-ignore

feat(#970): delete duplicate core/cache_store.py, move imports to contracts
  pyproject.toml
  src/nexus/cache/backend_wrapper.py
  src/nexus/cache/brick.py
  src/nexus/cache/domain.py
  src/nexus/cache/dragonfly.py
  src/nexus/cache/factory.py
  src/nexus/cache/inmemory.py
  src/nexus/core/cache_store.py
  src/nexus/ipc/delivery.py
  src/nexus/ipc/discovery.py
  src/nexus/services/oauth_service.py
Due: check-file-size, check-type-ignore

feat(#826): delete core/types.py and core/operation_result.py shims — move callers to contracts
  src/nexus/core/kernel_dispatch.py
  src/nexus/core/operation_result.py
  src/nexus/core/types.py
  tests/unit/core/test_operation_result.py
Due: check-file-size, check-type-ignore

fix(#953): delete search/strategies.py backward-compat shim
  src/nexus/bricks/search/__init__.py
  src/nexus/bricks/search/query_router.py
  src/nexus/bricks/search/strategies.py
  tests/e2e/self_contained/test_performance_tuning_e2e.py
  tests/e2e/self_contained/test_trigram_search_integration.py
  tests/unit/contracts/test_type_identity.py
Due: check-file-size, check-type-ignore

feat(#963): rename kernel _zone_revision to _vfs_revision
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_bulk.py
  src/nexus/core/nexus_fs_core.py
  tests/unit/storage/test_read_set_cache.py
Due: check-file-size, check-type-ignore

feat(#826): migrate 27 service-layer files from core.permissions to contracts.types
  src/nexus/auth/oauth/user_auth.py
  src/nexus/isolation/backend.py
  src/nexus/mcp/mount.py
  src/nexus/portability/import_service.py
  src/nexus/server/api/v1/routers/share.py
  src/nexus/services/events_service.py
  src/nexus/services/mcp_service.py
  src/nexus/services/memory/memory_api.py
  src/nexus/services/memory/state.py
  src/nexus/services/memory/versioning.py
  src/nexus/services/mount_core_service.py
  src/nexus/services/mount_persist_service.py
  src/nexus/services/mount_service.py
  src/nexus/services/oauth_service.py
  src/nexus/services/permissions/permission_filter_chain.py
  src/nexus/services/rebac_service.py
  src/nexus/services/search_listing_mixin.py
  src/nexus/services/search_service.py
  src/nexus/services/share_link_service.py
  src/nexus/services/skill_service.py
  src/nexus/services/sync_service.py
  src/nexus/services/version_service.py
  src/nexus/services/workspace/workspace_registry.py
  src/nexus/services/write_back_service.py
  src/nexus/skills/importer.py
  src/nexus/skills/manager.py
  src/nexus/skills/registry.py
Due: check-file-size, check-type-ignore
