Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix(#1588): move agent_registry.py + agent_record.py from core/ to services/agents/
  docs/concepts/agent-permissions.md
  scripts/create-agent-key.py
  src/nexus/core/nexus_fs.py
  src/nexus/sandbox/auth_service.py
  src/nexus/server/fastapi_server.py
  src/nexus/services/agents/agent_record.py
  src/nexus/services/agents/agent_registry.py
  src/nexus/services/agents/async_agent_registry.py
  src/nexus/services/delegation/service.py
  tests/e2e/test_agent_registry_e2e.py
  tests/e2e/test_async_wrappers_e2e.py
  tests/e2e/test_monty_sandbox_service_e2e.py
  tests/integration/core/test_agent_registry_e2e.py
  tests/integration/core/test_agent_registry_server.py
  tests/integration/core/test_nexus_agent_registry.py
  tests/integration/delegation/test_delegation_full_e2e.py
  tests/integration/delegation/test_delegation_lifecycle.py
  tests/integration/sandbox/test_sandbox_auth_integration.py
  tests/integration/services/test_context_manifest_integration.py
  tests/unit/core/test_agent_record.py
  tests/unit/core/test_agent_registry.py
  tests/unit/core/test_agent_wallet_registration.py
  tests/unit/sandbox/test_auth_service.py
  tests/unit/sandbox/test_sandbox_auth_service.py
  tests/unit/server/api/v2/test_manifest_api.py
  tests/unit/services/protocols/test_agent_registry.py
  tests/unit/services/test_async_agent_registry.py
  tests/unit/storage/test_agent_manifest_migration.py
Due: check-file-size, check-type-ignore

feat(#954): Memory-mapped trigram index for sub-20ms grep (#1605)
  .pre-commit-hooks/check_file_size.py
  Cargo.lock
  Cargo.toml
  rust/nexus_core/Cargo.toml
  rust/nexus_core/src/lib.rs
  rust/nexus_core/src/trigram/builder.rs
  rust/nexus_core/src/trigram/error.rs
  rust/nexus_core/src/trigram/extract.rs
  rust/nexus_core/src/trigram/format.rs
  rust/nexus_core/src/trigram/mod.rs
  rust/nexus_core/src/trigram/posting.rs
  rust/nexus_core/src/trigram/query.rs
  rust/nexus_core/src/trigram/writer.rs
  rust/nexus_pyo3/Cargo.toml
  rust/nexus_pyo3/src/lib.rs
  rust/nexus_pyo3/src/search.rs
  rust/nexus_pyo3/src/trigram.rs
  src/nexus/core/trigram_fast.py
  src/nexus/search/manifest.py
  src/nexus/search/strategies.py
  src/nexus/services/search_service.py
  tests/benchmarks/test_search_benchmarks.py
  tests/e2e/test_trigram_grep_e2e.py
  tests/fixtures/trigram_corpus/app.js
  tests/fixtures/trigram_corpus/config.json
  tests/fixtures/trigram_corpus/duplicate_content.py
  tests/fixtures/trigram_corpus/empty.txt
  tests/fixtures/trigram_corpus/hello.py
  tests/fixtures/trigram_corpus/readme.txt
  tests/fixtures/trigram_corpus/search.rs
  tests/fixtures/trigram_corpus/unicode.txt
  tests/integration/test_trigram_search_integration.py
  tests/unit/core/test_trigram_fast.py
  tests/unit/core/test_trigram_regression.py
  tests/unit/services/permissions/test_rebac_manager_snapshot.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 04e4940a9583b8d3b481dc706ea676b7f49a91a1
  dev/bench/data.js
Due: none

fix(#1588): fix missed PermissionEnforcer import in memory_permission_enforcer.py
  src/nexus/services/permissions/memory_permission_enforcer.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 6528279ed87ef8523e3f12b24518f76bc5dfacc7
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 04e4940a9583b8d3b481dc706ea676b7f49a91a1
  dev/bench-full/data.js
Due: none

add Benchmark (pytest) benchmark result for 6528279ed87ef8523e3f12b24518f76bc5dfacc7
  dev/bench-full/data.js
Due: none

refactor(#1519): move memory_router + relationship_extractor from core/ to services/memory/
  src/nexus/core/memory_paging/archival_store.py
  src/nexus/core/memory_paging/recall_store.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/services/memory/memory_api.py
  src/nexus/services/memory/memory_router.py
  src/nexus/services/memory/relationship_extractor.py
  src/nexus/services/permissions/memory_permission_enforcer.py
  src/nexus/services/search_service.py
  tests/integration/test_temporal_queries.py
  tests/unit/core/test_identity_memory.py
  tests/unit/core/test_memory_api.py
  tests/unit/core/test_relationship_extractor.py
Due: check-file-size, check-type-ignore

refactor(#1519): extract cache invalidation from kernel into observer pattern
  src/nexus/core/cache_invalidation.py
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_events.py
Due: check-file-size, check-type-ignore

style(#1291): apply ruff format to test files
  tests/unit/core/test_import_cycles.py
  tests/unit/core/test_types_reexport.py
  tests/unit/services/test_protocol_compliance.py
  tests/unit/test_factory.py
Due: check-type-ignore

feat(#1601): ConnectorProtocol + BackendFactory + OAuthMixin (#1615)
  src/nexus/backends/__init__.py
  src/nexus/backends/factory.py
  src/nexus/backends/gcalendar_connector.py
  src/nexus/backends/gmail_connector.py
  src/nexus/backends/oauth_mixin.py
  src/nexus/backends/service_map.py
  src/nexus/backends/slack_connector.py
  src/nexus/backends/x_connector.py
  src/nexus/cli/utils.py
  src/nexus/core/nexus_fs_events.py
  src/nexus/core/protocols/__init__.py
  src/nexus/core/protocols/connector.py
  src/nexus/server/fastapi_server.py
  src/nexus/services/events_service.py
  src/nexus/services/mount_core_service.py
  src/nexus/services/mount_service.py
  tests/unit/backends/test_backend_contract.py
  tests/unit/backends/test_factory.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 40061de3e4889fe3e7076f8a4befdafefaa558c5
  dev/bench/data.js
Due: none

fix(#1602): ruff format test_rpc_admin_only.py
  tests/unit/server/test_rpc_admin_only.py
Due: check-type-ignore

add Benchmark (pytest) benchmark result for 79e30a9b5911951bc58d71261339a5f6b4fa2355
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 40061de3e4889fe3e7076f8a4befdafefaa558c5
  dev/bench-full/data.js
Due: none

add Benchmark (pytest) benchmark result for a7e401a4566c7add00fee24a5aa163b628bf7149
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 79e30a9b5911951bc58d71261339a5f6b4fa2355
  dev/bench-full/data.js
Due: none

add Benchmark (pytest) benchmark result for a7e401a4566c7add00fee24a5aa163b628bf7149
  dev/bench-full/data.js
Due: none

fix(#1588): fix PermissionEnforcer import in memory_permission_enforcer.py
  src/nexus/services/permissions/memory_permission_enforcer.py
Due: check-file-size, check-type-ignore

fix(#1588): fix PermissionEnforcer import missed by PR #1630
  src/nexus/services/permissions/memory_permission_enforcer.py
Due: check-file-size, check-type-ignore

fix(#1385): AsyncReBACManager wraps sync manager + E2E namespace cache fix
  src/nexus/core/async_bridge.py
  src/nexus/server/fastapi_server.py
  tests/e2e/test_write_back_permissions_e2e.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for ef5c69284f85ade8f3befee783f7791e20059de7
  dev/bench-full/data.js
Due: none

add Benchmark (pytest) benchmark result for ef5c69284f85ade8f3befee783f7791e20059de7
  dev/bench/data.js
Due: none

refactor(#1597): fix architectural leaks — orphan files, global PKCE cache, sessionmaker bypasses
  src/nexus/cli/commands/skills.py
  src/nexus/raft/commands_pb2_grpc.py
  src/nexus/search/async_search.py
  src/nexus/search/daemon.py
  src/nexus/server/auth/oauth_crypto.py
  src/nexus/server/auth/token_manager.py
  src/nexus/services/oauth_service.py
  src/nexus/services/permissions/rebac_manager.py
  src/nexus/services/search_semantic.py
  tests/unit/core/test_nexus_fs_oauth_mixin.py
  tests/unit/search/test_async_search.py
  tests/unit/search/test_search_daemon.py
  tests/unit/server/test_oauth_crypto.py
  tests/unit/server/test_token_manager.py
  tests/unit/services/test_oauth_service.py
Due: check-file-size, check-type-ignore

chore(#1502): apply ruff format
  tests/e2e/test_namespace_permissions_e2e.py
Due: check-type-ignore

fix(#1502): fix pre-existing e2e test failures in quarantined tests
  src/nexus/server/dependencies.py
  tests/e2e/test_namespace_permissions_e2e.py
  tests/e2e/test_raft_auth_permissions_e2e.py
Due: check-file-size, check-type-ignore

feat(#1502): wire kernel protocol services through factory
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory.py
  src/nexus/server/fastapi_server.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 5218b9d46626d8000754e63f35a3b15120221cee
  dev/bench/data.js
Due: none

fix(#1602): mypy errors — unused type:ignore, broken import from #1519
  src/nexus/server/lifespan/services.py
  src/nexus/services/permissions/memory_permission_enforcer.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 5218b9d46626d8000754e63f35a3b15120221cee
  dev/bench-full/data.js
Due: none

chore(#1385): add nexus/rebac/manager.py to file size exceptions
  .pre-commit-hooks/check_file_size.py
Due: check-file-size

merge: resolve conflicts with origin/main, add PermissionEnforcer re-export
  src/nexus/core/permissions.py
Due: check-file-size, check-type-ignore

fix(#1519): replace skills.protocols import with core.filesystem in scoped_filesystem
  src/nexus/core/scoped_filesystem.py
Due: check-file-size, check-type-ignore
