Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: rpc-parity, version-consistency

rpc-parity:
  name: RPC Parity Check
  entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
  language: system
  pass_filenames: false

version-consistency:
  name: Version Consistency Check
  entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
  language: system
  pass_filenames: false

perf: Auth caching + sparse index fixes + timing logs (#993)
  Dockerfile
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_search.py
  src/nexus/core/permissions.py
  src/nexus/remote/client.py
  src/nexus/server/fastapi_server.py
  src/nexus/storage/metadata_store.py
  tests/unit/server/test_fastapi_server.py
Due: rpc-parity

Phase 1: Stabilization & Foundation (#992)
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
  .pre-commit-hooks/check_file_size.py
  .pre-commit-hooks/check_type_ignore.py
  CONTRIBUTING.md
  DEPRECATION.md
  PHASE_1_PROGRESS.md
  docs/architecture/circular-dependencies.md
  docs/architecture/current-architecture.md
  pyproject.toml
Due: version-consistency

get rid of thread leak
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_mounts.py
  src/nexus/server/fastapi_server.py
Due: rpc-parity

get rid of thread leak (#994)
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_mounts.py
  src/nexus/server/fastapi_server.py
Due: rpc-parity

fix(#773): Make tenant_id non-nullable for multi-tenant security
  alembic/versions/make_tenant_id_non_nullable.py
  src/nexus/core/async_rebac_manager.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/rebac_manager.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/core/rebac_manager_tenant_aware.py
  src/nexus/storage/models.py
Due: rpc-parity

fix(#773): Fix CI failures - batch tenant_id defaulting and validation
  src/nexus/core/rebac_manager.py
  src/nexus/storage/models.py
Due: none

fix(#773): Add tenant_id defaulting to rebac_check
  src/nexus/core/rebac_manager.py
Due: none

fix(#773): Make tenant_id non-nullable for multi-tenant security (#1006)
  alembic/versions/make_tenant_id_non_nullable.py
  src/nexus/core/async_rebac_manager.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/rebac_manager.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/core/rebac_manager_tenant_aware.py
  src/nexus/storage/models.py
Due: rpc-parity

feat(#780): Add rate limiting to prevent DoS attacks
  pyproject.toml
  src/nexus/server/fastapi_server.py
  src/nexus/server/rate_limiter.py
  tests/unit/server/test_rate_limiter.py
Due: version-consistency

fix(#780): Fix rate limiter type errors and dynamic limit
  src/nexus/server/fastapi_server.py
Due: none

feat(#780): Add rate limiting to prevent DoS attacks (#1007)
  pyproject.toml
  src/nexus/server/fastapi_server.py
  src/nexus/server/rate_limiter.py
  tests/unit/server/test_rate_limiter.py
Due: version-consistency

Phase 2 Task 2.1: Create SearchService skeleton (0/2361 lines extracted)
  PHASE_2_PROGRESS.md
  src/nexus/services/__init__.py
  src/nexus/services/search_service.py
Due: none

Phase 2 Task 2.2: Create ReBACService skeleton (0/2554 lines extracted)
  src/nexus/services/__init__.py
  src/nexus/services/rebac_service.py
Due: none

Phase 2 Task 2.3: ReBAC consolidation analysis - Choose EnhancedReBACManager as canonical
  REBAC_CONSOLIDATION_ANALYSIS.md
Due: none

Phase 2 Task 2.3: Add deprecation warnings to ReBACManager
  DEPRECATION.md
  src/nexus/core/rebac_manager.py
Due: none

Phase 2 Task 2.3: Migrate legacy code to EnhancedReBACManager
  src/nexus/cli/commands/server.py
  src/nexus/core/memory_api.py
  src/nexus/core/memory_router.py
Due: none

Phase 2: Update progress tracker - Task 2.3 complete
  PHASE_2_PROGRESS.md
Due: none

Phase 2 Task 2.4: Create MountService skeleton (0/2065 lines extracted)
  src/nexus/services/__init__.py
  src/nexus/services/mount_service.py
Due: none

Phase 2 Task 2.5: Create VersionService skeleton (0/300 lines extracted)
  src/nexus/services/__init__.py
  src/nexus/services/version_service.py
Due: none

feat(services): Create MCPService and LLMService skeletons (Tasks 2.8-2.9)
  src/nexus/services/__init__.py
  src/nexus/services/llm_service.py
  src/nexus/services/mcp_service.py
Due: none

docs: Update Phase 2 progress - 7 of 9 service skeletons complete
  PHASE_2_PROGRESS.md
Due: none

feat(services): Create OAuthService and SkillService skeletons (Tasks 2.6-2.7)
  src/nexus/services/__init__.py
  src/nexus/services/oauth_service.py
  src/nexus/services/skill_service.py
Due: none

docs: Update Phase 2 progress - ALL 9 service skeletons complete! 🎉
  PHASE_2_PROGRESS.md
Due: none

refactor(services): Convert all service methods to async
  src/nexus/services/mcp_service.py
  src/nexus/services/mount_service.py
  src/nexus/services/oauth_service.py
  src/nexus/services/rebac_service.py
  src/nexus/services/skill_service.py
  src/nexus/services/version_service.py
Due: none

docs: Document async architecture decision in Phase 2 progress
  PHASE_2_PROGRESS.md
Due: none

test: Add comprehensive testing infrastructure for Phase 2 services
  TESTING_SERVICES.md
  tests/unit/services/__init__.py
  tests/unit/services/conftest.py
  tests/unit/services/test_version_service.py
Due: none

feat(services): Implement VersionService with full async support
  src/nexus/services/version_service.py
Due: none

feat(phase2): Implement MCPService (Task 2.8 complete)
  src/nexus/services/mcp_service.py
Due: none

feat(phase2): Implement LLMService (Task 2.9 complete)
  src/nexus/services/llm_service.py
Due: none

feat(services): implement OAuthService (7 methods) and SearchService semantic methods (4 methods)
  src/nexus/services/oauth_service.py
  src/nexus/services/search_service.py
Due: none

test(services): add smoke tests for 5 implemented services
  TESTING_PHASE_2_SERVICES.md
  tests/unit/services/test_smoke.py
Due: none

Path conditions:
  rpc-parity: any of: ^src/nexus/core/nexus_fs.*\.py$
  version-consistency: any of: ^(pyproject\.toml|src/nexus/__init__\.py)$
