Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix(ci): give the docs build the git history its plugin needs
  .github/workflows/docs.yml
Due: none

feat(zones): P0 drills & inventory — §11.3 matrix, §11.5 fault injection, §10.5 shadow compare
  src/nexus/server/auth/zone_routes.py
  src/nexus/storage/zone_migration.py
  tests/e2e/server/test_zone_shadow_compare_e2e.py
  tests/e2e/server/test_zone_v2_fault_injection_e2e.py
  tests/e2e/server/test_zone_v2_p0_matrix_e2e.py
  tests/migrations/test_zone_inventory.py
Due: check-file-size, check-type-ignore

feat(sessions): P1a runtime zone — SessionStore home zone, record routing, execution zone deps
  contracts/manifests/runtime-v2-p1a-amendment.json
  contracts/runtime/v2/runtime-run.schema.json
  contracts/runtime/v2/session-metadata.schema.json
  src/nexus/server/api/v2/routers/sessions.py
  src/nexus/server/api/v2/versioning.py
  src/nexus/server/lifespan/zone_control.py
  src/nexus/services/zones/session_runtime.py
  src/nexus/storage/models/__init__.py
  src/nexus/storage/models/session_v1.py
  src/nexus/storage/zone_migration.py
  tests/e2e/server/test_session_runtime_p1a_e2e.py
  tests/e2e/server/test_zone_shadow_compare_e2e.py
  tests/e2e/server/test_zone_v2_fault_injection_e2e.py
  tests/e2e/server/test_zone_v2_p0_matrix_e2e.py
  tests/migrations/test_zone_inventory.py
Due: check-file-size, check-type-ignore

docs(bricks): say what is true now, not what the text used to say
  .pre-commit-hooks/check_brick_imports.py
  src/nexus/bricks/__init__.py
Due: check-file-size, check-type-ignore

ci(docs): build the site on PRs, so a break is caught before it lands
  .github/workflows/docs.yml
Due: none

build(docs): bound the docs toolchain at the next major
  pyproject.toml
Due: none

feat(zones): close P1a runtime authorization and cohost pin
  Cargo.lock
  rust/nexusd/Cargo.toml
  src/nexus/server/api/v2/models/zones.py
  src/nexus/server/api/v2/routers/sessions.py
  src/nexus/server/api/v2/routers/zone_grants.py
  src/nexus/server/api/v2/zone_security.py
  src/nexus/server/lifespan/zone_control.py
  src/nexus/services/zones/service.py
  src/nexus/services/zones/session_runtime.py
  src/nexus/services/zones/worker.py
  tests/e2e/server/test_session_runtime_p1a_e2e.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 3d3b822dbe00a6bf18f03beadd1c3f3e322f6cc0
  dev/bench-full/data.js
Due: none

test(zones): harden fault-injection harness against leaked kernels
  tests/e2e/server/test_zone_v2_fault_injection_e2e.py
Due: check-type-ignore

feat: PR 4/5 federated axum port — routing backend + delegation mint
  Cargo.lock
  rust/services/federated-search/Cargo.toml
  rust/services/federated-search/src/backend.rs
  rust/services/federated-search/src/lib.rs
  rust/services/federated-search/src/routing.rs
Due: none

feat(sessions): add implicit task attempt lifecycle
  contracts/manifests/task-v1-p1b-amendment.json
  contracts/task/v1/task-attempt.schema.json
  contracts/task/v1/task-execution-resolution.schema.json
  contracts/task/v1/task-spec.schema.json
  src/nexus/server/api/v2/routers/sessions.py
  src/nexus/server/api/v2/versioning.py
  src/nexus/server/lifespan/zone_control.py
  src/nexus/services/zones/session_runtime.py
  src/nexus/services/zones/session_tasks.py
  src/nexus/services/zones/worker.py
  src/nexus/storage/models/__init__.py
  src/nexus/storage/models/session_v1.py
  src/nexus/storage/models/task_v1.py
  tests/e2e/conftest.py
  tests/e2e/server/test_session_runtime_p1b_e2e.py
  tests/e2e/server/test_zone_v2_fault_injection_e2e.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 0732b60915d4d397c66aec2bde5ac11ce4c9b53f
  dev/bench-full/data.js
Due: none

feat: PR 5/5 federated axum port — /v2/search/query fanout + bridge
  Cargo.lock
  rust/services/http-api/Cargo.toml
  rust/services/http-api/src/backends/mod.rs
  rust/services/http-api/src/backends/plugin_local.rs
  rust/services/http-api/src/handlers/mod.rs
  rust/services/http-api/src/handlers/search.rs
  rust/services/http-api/src/handlers/search_bridge.rs
  rust/services/http-api/src/lib.rs
  rust/services/http-api/tests/auth_middleware_e2e.rs
  rust/services/http-api/tests/federated_query_e2e.rs
Due: none

fix(federated-search): cargo fmt on the federated E2E test
  rust/services/http-api/tests/federated_query_e2e.rs
Due: none

chore(deps): update Cargo.lock for the pin bump
  Cargo.lock
Due: none

feat(matrix): bind rooms to conversations, not per-agent inboxes
  Cargo.toml
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
  rust/nexusd/Cargo.toml
  rust/services/http-api/Cargo.toml
  rust/services/src/matrix_adapter/media.rs
  rust/services/src/matrix_adapter/mod.rs
  rust/services/src/matrix_adapter/pdu.rs
  rust/services/src/matrix_adapter/rooms.rs
  rust/services/src/matrix_adapter/router.rs
  rust/services/src/matrix_adapter/sync.rs
Due: none

chore(deps): nexus-vfs 191fa0efa (wire a mount at every path its zone is mounted at)
  Cargo.lock
  Cargo.toml
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
  rust/services/http-api/Cargo.toml
Due: none

docs(architecture): address messages by conversation, not by inbox
  docs/architecture/nexus-integration-architecture.html
Due: none

refactor(services): drop the Matrix adapter built on per-agent mailboxes
  Cargo.lock
  rust/services/Cargo.toml
  rust/services/http-api/Cargo.toml
  rust/services/src/lib.rs
  rust/services/src/matrix_adapter/auth.rs
  rust/services/src/matrix_adapter/error.rs
  rust/services/src/matrix_adapter/media.rs
  rust/services/src/matrix_adapter/middleware.rs
  rust/services/src/matrix_adapter/mod.rs
  rust/services/src/matrix_adapter/pdu.rs
  rust/services/src/matrix_adapter/push.rs
  rust/services/src/matrix_adapter/room_id.rs
  rust/services/src/matrix_adapter/rooms.rs
  rust/services/src/matrix_adapter/router.rs
  rust/services/src/matrix_adapter/sync.rs
  rust/services/src/matrix_adapter/types.rs
Due: none

ci: track the nexus-vfs cluster size budget instead of a stale copy of it
  .github/workflows/test.yml
Due: none

chore(deps): sudocode 901701c0 (conversation client on nexus-vfs 191fa0efa)
  Cargo.lock
  rust/nexusd/Cargo.toml
Due: none

refactor(search): DRY the tonic Channel cache into nexus-search-common
  Cargo.lock
  rust/services/search-common/Cargo.toml
  rust/services/search-common/src/lib.rs
  rust/services/search-common/src/transport.rs
  rust/services/search-plugin/Cargo.toml
  rust/services/search-plugin/src/peer_fanout.rs
Due: none

docs(architecture): one way to address an agent, and it is its name
  docs/architecture/nexus-integration-architecture.html
Due: none

feat: PR 2/4 task #57 — TonicRemoteSearchBackend + delegation on tonic metadata
  rust/services/http-api/Cargo.toml
  rust/services/http-api/src/backends/mod.rs
  rust/services/http-api/src/backends/plugin_local.rs
  rust/services/http-api/src/backends/proto_bridge.rs
  rust/services/http-api/src/backends/tonic_remote.rs
Due: none

feat: PR 3/4 task #57 — servicer-side delegation extract + validate
  rust/services/http-api/src/backends/tonic_remote.rs
  rust/services/search-common/src/delegation.rs
  rust/services/search-common/src/lib.rs
  rust/services/search-plugin/src/delegation_gate.rs
  rust/services/search-plugin/src/lib.rs
  rust/services/search-plugin/src/service.rs
Due: none

feat: PR 4/4 task #57 — wire TonicRemoteSearchBackend + delete Python cross-daemon path
  rust/services/http-api/src/lib.rs
  rust/services/http-api/tests/federated_query_e2e.rs
  src/nexus/bricks/search/federated_search.py
  tests/integration/bricks/search/test_federated_search.py
Due: check-file-size, check-type-ignore

test(e2e): move the co-host duet onto the conversation contract
  dockerfiles/docker-compose.cohost-duet.yml
  docs/architecture/federation-cross-machine-runbook.html
  docs/architecture/service-driver-deployment-matrix.md
  rust/services/src/agents/mod.rs
  src/nexus/contracts/deployment_profile.py
  tests/e2e/docker/test_cohost_duet_e2e.py
  tests/e2e/docker/test_search_plugin.py
Due: check-file-size, check-type-ignore

feat(search): env-driven ZoneSearchRegistry — NEXUS_SEARCH_REMOTE_ZONE_TARGETS
  rust/services/http-api/src/backends/mod.rs
  rust/services/http-api/src/backends/registry_config.rs
  rust/services/http-api/src/lib.rs
Due: none

add Benchmark (pytest) benchmark result for 7abbf5eb169a5e43acd89a2683a752460af7eca6
  dev/bench-full/data.js
Due: none

fix(search): per-chunk semantic text, multi-prefix scope, recall fixes (#4817)
  docs/deployment/search-plugin.md
  docs/guides/user-guide.md
  rust/services/http-api/src/backends/plugin_local.rs
  rust/services/http-api/src/backends/tonic_remote.rs
  rust/services/http-api/src/handlers/search.rs
  rust/services/proto/nexus/search/v1/search.proto
  rust/services/search-plugin/src/ann_index.rs
  rust/services/search-plugin/src/chunker.rs
  rust/services/search-plugin/src/embed_cache.rs
  rust/services/search-plugin/src/embedder.rs
  rust/services/search-plugin/src/fts_index.rs
  rust/services/search-plugin/src/lib.rs
  rust/services/search-plugin/src/path_scope.rs
  rust/services/search-plugin/src/query_cache.rs
  rust/services/search-plugin/src/service.rs
  rust/services/search-plugin/src/title_index.rs
  rust/services/search-plugin/tests/query_e2e.rs
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/path_context.py
  src/nexus/contracts/search_types.py
  src/nexus/grpc/search/v1/search_pb2.py
  src/nexus/grpc/search/v1/search_pb2.pyi
  src/nexus/server/api/v2/routers/_search_batch.py
  src/nexus/server/api/v2/routers/path_contexts.py
  src/nexus/server/api/v2/routers/search.py
  tests/unit/server/api/v2/test_search_path_scope.py
  tests/unit/server/api/v2/test_search_prefix_boosts_wiring.py
Due: check-file-size, check-type-ignore

perf(server): drop the production dependency override; memoise metrics routes
  src/nexus/server/api/v2/routers/secrets_audit.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/metrics.py
  tests/unit/server/api/v2/test_secrets_audit_dependency.py
  tests/unit/server/test_metrics_route_template.py
Due: check-file-size, check-type-ignore

perf(rebac): revision-validated cache for zone-aware single checks
  src/nexus/bricks/rebac/cache/coordinator.py
  src/nexus/bricks/rebac/cache/zone_check_cache.py
  src/nexus/bricks/rebac/manager.py
  src/nexus/cli/commands/demo.py
  src/nexus/server/auth/zone_routes.py
  tests/unit/bricks/rebac/test_zone_check_cache.py
Due: check-file-size, check-type-ignore

fix(cli): spawned kernel dies with its parent (Linux)
  src/nexus/remote/kernel_client.py
  tests/unit/remote/test_kernel_client_exit_cleanup.py
Due: check-file-size, check-type-ignore

fix(search): tolerate request shapes without path_filters; refresh surface matrix
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  src/nexus/bricks/search/daemon.py
Due: check-file-size, check-type-ignore

test(search): de-flake the shadow-widening ANN test
  rust/services/search-plugin/src/ann_index.rs
Due: none

test(cli): a child reaped mid-/proc-read counts as dead
  tests/unit/remote/test_kernel_client_exit_cleanup.py
Due: check-type-ignore

chore(cohost): link engine-host, where the agent runtime now lives
  .github/workflows/http-api-e2e.yml
  Cargo.lock
  dockerfiles/Dockerfile.nexusd-cluster-httpapi
  dockerfiles/Dockerfile.nexusd-cohost
  docs/architecture/nexus-integration-architecture.html
  rust/nexusd/Cargo.toml
  rust/nexusd/src/main.rs
Due: none

chore(cohost): pin the sudocode rev where both hosts run on a kernel
  Cargo.lock
  docs/architecture/nexus-integration-architecture.html
  rust/nexusd/Cargo.toml
Due: none

fix(fs): fast recursive readdir; empty implicit dirs are deletable
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  src/nexus/core/nexus_fs_metadata.py
  src/nexus/core/readdir_expansion.py
  tests/unit/core/test_readdir_recursive_expansion.py
  tests/unit/core/test_unlink_implicit_directory.py
Due: check-file-size, check-type-ignore

perf(rebac): one multi-row INSERT per Tiger resource-map chunk
  src/nexus/bricks/rebac/cache/tiger/resource_map.py
  tests/unit/bricks/rebac/cache/tiger/test_resource_map.py
Due: check-file-size, check-type-ignore
