Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(#396): remove hardcoded bind-addr from raft_metadata_store docstrings
  src/nexus/raft/__init__.py
  src/nexus/raft/federation.py
  src/nexus/raft/zone_manager.py
  src/nexus/storage/raft_metadata_store.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 1e146b41b9e3ed6984e447787420cb37a75d8d4c
  dev/bench-full/data.js
Due: none

fix(#315): extract DEFAULT_GRPC_BIND_ADDR constant as SSOT for bind address
  src/nexus/__init__.py
  src/nexus/cli/commands/server.py
  src/nexus/cli/commands/zone.py
  src/nexus/constants.py
  src/nexus/raft/zone_manager.py
Due: check-file-size, check-type-ignore

fix(#508): update test_default_zone_id to match new root zone default
  tests/unit/server/test_streaming.py
Due: check-type-ignore

add Benchmark (pytest) benchmark result for dadfb6f1b6e8db8b10a040dcaf7b76575e129a8b
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for dadfb6f1b6e8db8b10a040dcaf7b76575e129a8b
  dev/bench-full/data.js
Due: none

add Benchmark (pytest) benchmark result for f4be816c7677dcfed6de7b2a2919470c4ae0da5d
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for f4be816c7677dcfed6de7b2a2919470c4ae0da5d
  dev/bench-full/data.js
Due: none

fix(#323): replace f-string SQL with SQLAlchemy delete() construct
  src/nexus/cli/commands/server.py
Due: check-file-size, check-type-ignore

fix(#509): update test to expect root zone_id default
  tests/unit/server/test_dependencies.py
Due: check-type-ignore

fix(#311): extract DEFAULT_NATS_URL constant as SSOT for NATS address
  src/nexus/constants.py
  src/nexus/core/config.py
  src/nexus/core/event_bus_nats.py
Due: check-file-size, check-type-ignore

fix(#328): replace f-string SQL DELETE with SQLAlchemy delete()/where()
  src/nexus/cache/postgres.py
Due: check-file-size, check-type-ignore

fix(#326): replace f-string SQL with pre-built text() queries in pg_monitor
  src/nexus/storage/pg_monitor.py
Due: check-file-size, check-type-ignore

refactor(#1597): fix architectural leaks — orphan files, PKCE cache, sessionmaker bypasses (#1622)
  src/nexus/cli/commands/skills.py
  src/nexus/raft/commands_pb2_grpc.py
  src/nexus/search/async_search.py
  src/nexus/search/daemon.py
  src/nexus/server/auth/oauth_crypto.py
  src/nexus/server/auth/token_manager.py
  src/nexus/services/oauth_service.py
  src/nexus/services/permissions/rebac_manager.py
  src/nexus/services/search_semantic.py
  tests/unit/core/test_nexus_fs_oauth_mixin.py
  tests/unit/search/test_async_search.py
  tests/unit/search/test_search_daemon.py
  tests/unit/server/test_oauth_crypto.py
  tests/unit/server/test_token_manager.py
  tests/unit/services/test_oauth_service.py
Due: check-file-size, check-type-ignore

fix(#325): replace f-string SQL with parameterized queries and identifier validation in hnsw_config
  src/nexus/search/hnsw_config.py
Due: check-file-size, check-type-ignore

fix(#394): replace raw cursor.execute() with SQLAlchemy text() in user_helpers
  src/nexus/server/auth/user_helpers.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for bf831eab0c0aeedc43bb526bccfc1dc05b97b4df
  dev/bench-full/data.js
Due: none

feat(#1502): wire kernel protocol services through factory + fix e2e tests (#1635)
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory.py
  src/nexus/server/dependencies.py
  src/nexus/server/fastapi_server.py
  tests/e2e/test_namespace_permissions_e2e.py
  tests/e2e/test_raft_auth_permissions_e2e.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

fix(#359): replace raw SQL text UPSERT with ORM pg_insert in spending_policy_service
  src/nexus/pay/spending_policy_service.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for bf831eab0c0aeedc43bb526bccfc1dc05b97b4df
  dev/bench/data.js
Due: none

feat(#86): structured log redaction — secret masking (#1641)
  src/nexus/cli/commands/server.py
  src/nexus/config.py
  src/nexus/core/logging_utils.py
  src/nexus/sandbox/sandbox_e2b_provider.py
  tests/benchmarks/bench_log_redaction.py
  tests/e2e/test_log_redaction_e2e.py
  tests/unit/core/test_log_redaction.py
Due: check-file-size, check-type-ignore

fix(#472): replace raw SQL text() with ORM select() in directory expander
  src/nexus/services/permissions/directory/expander.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 65e29c8c4458389455059772a0cb3122d1a9f625
  dev/bench/data.js
Due: none

fix(#516): update test_token_rotation zone_id from "default" to "root"
  tests/unit/server/test_token_rotation.py
Due: check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
