Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

Revert "feat(services): generic Rust→Python FFI service bridge (ServiceBridge)"
  rust/services/src/lib.rs
  rust/services/src/python/mod.rs
  rust/services/src/python_ffi/mod.rs
Due: none

Revert "feat(services): port federation control plane to Rust FederationService"
  rust/services/src/federation/mod.rs
  rust/services/src/lib.rs
  rust/services/src/python/mod.rs
  rust/transport/src/grpc.rs
  src/nexus/factory/_wired.py
  src/nexus/server/rpc/services/federation_rpc.py
Due: check-file-size, check-type-ignore

fix(codegen): restore params arg to _apply_result_adapter
  scripts/codegen_kernel_abi.py
  src/nexus/server/_kernel_syscall_dispatch.py
Due: check-file-size, check-type-ignore

fix(kernel): post-rebase sys_setattr DT_LINK chain tests pad source=None
  rust/kernel/src/kernel/mod.rs
Due: none

test(protocol): drop dead-path tests for migrated RPC chain
  tests/unit/server/test_protocol.py
Due: check-type-ignore

test(protocol): drop unused typing.cast import after test cleanup
  tests/unit/server/test_protocol.py
Due: check-type-ignore

fix(raft): unblock nexusd-cluster #[tokio::main] under sync ZoneManager API
  rust/raft/src/bin/federation_server.rs
  rust/raft/src/raft/zone_registry.rs
  rust/raft/src/transport/server.rs
  rust/raft/src/zone_manager.rs
  rust/raft/tests/test_grpc_cluster.rs
  rust/raft/tests/test_zone_manager_under_tokio_main.rs
Due: none

fix(daemon): catch OSError in _is_nexusd_process for Windows stale PID
  src/nexus/daemon/main.py
Due: check-file-size, check-type-ignore

ci(cluster-binary): extract reusable workflow + per-PR/develop trigger + tri-platform size gate
  .github/workflows/cluster-binary-build.yml
  .github/workflows/cluster-binary.yml
  .github/workflows/release.yml
  docs/integration/sudowork.md
Due: none

refactor(profile): explicit driver lists per deployment profile — no implicit local defaults
  src/nexus/contracts/deployment_profile.py
  src/nexus/factory/orchestrator.py
  tests/unit/core/test_deployment_profile.py
Due: check-file-size, check-type-ignore

style(kernel): apply cargo fmt to mod.rs
  rust/kernel/src/kernel/mod.rs
Due: none

feat(backends): per-driver Cargo features for compile-time driver selection
  rust/backends/Cargo.toml
  rust/backends/src/python/factory.rs
  rust/backends/src/storage/mod.rs
  rust/backends/src/transports/api/ai/mod.rs
  rust/backends/src/transports/api/google/mod.rs
  rust/backends/src/transports/api/mod.rs
  rust/backends/src/transports/api/social/mod.rs
  rust/backends/src/transports/blob/mod.rs
  rust/backends/src/transports/mod.rs
Due: none

refactor(rust): drop "cas" alias + Python-debt from kernel ABI default
  rust/backends/src/python/factory.rs
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/nexus_fs_metadata.py
Due: check-file-size, check-type-ignore

refactor(driver-gate): SSOT — every driver gated, remove kernel local-default skip
  rust/backends/src/python/factory.rs
  rust/kernel/src/hal/object_store_provider.rs
Due: none

feat(cluster): dynamic mount / unmount subcommands via DLC
  rust/profiles/cluster/src/main.rs
Due: none

feat(cluster): wire Kernel + PathLocalBackend at boot via DLC
  Cargo.lock
  Cargo.toml
  rust/kernel/src/core/dcache.rs
  rust/nexus-cdylib/Cargo.toml
  rust/profiles/cluster/Cargo.toml
  rust/profiles/cluster/src/main.rs
Due: none

docs(architecture): document compile-time features + DLC dynamic mount
  docs/architecture/KERNEL-ARCHITECTURE.md
  docs/integration/sudowork.md
Due: none

docs: drop docs/integration/sudowork.md — SSOT moves to sudowork repo
  docs/integration/sudowork.md
Due: none

feat(services): per-service Cargo features matching backends pattern
  rust/services/Cargo.toml
  rust/services/src/lib.rs
Due: none

ci(cluster-binary): bump Linux + macOS size budgets to match measured reality
  .github/workflows/cluster-binary-build.yml
Due: none

ci(cluster-binary): install protoc on macOS runners
  .github/workflows/cluster-binary-build.yml
Due: none

feat(rust): AgentRegistry full surface + PyAgentRegistry sub-pyclass
  rust/kernel/src/agent_registry_py.rs
  rust/kernel/src/core/agents/registry.rs
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/kernel/src/lib.rs
  rust/kernel/src/python.rs
  rust/services/src/agents/status_resolver.rs
  rust/services/src/managed_agent/mod.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/kernel_exports.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore

refactor(rust): rename AgentTable -> AgentRegistry, drop dead duplicate
  docs/architecture/KERNEL-ARCHITECTURE.md
  rust/kernel/Cargo.toml
  rust/kernel/src/core/agents/mod.rs
  rust/kernel/src/core/agents/registry.rs
  rust/kernel/src/core/agents/table.rs
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/kernel/src/kernel/mod.rs
  rust/services/src/acp/mod.rs
  rust/services/src/agents/mod.rs
  rust/services/src/agents/status_resolver.rs
  rust/services/src/managed_agent/mod.rs
  rust/services/src/managed_agent/session.rs
  scripts/codegen_kernel_abi.py
  src/nexus/factory/_wired.py
  src/nexus/services/agents/agent_registry.py
Due: check-file-size, check-type-ignore

feat(rust): provisioner Py callback hook on AgentRegistry
  rust/kernel/src/agent_registry_py.rs
  rust/kernel/src/core/agents/registry.rs
  stubs/nexus_runtime/__init__.pyi
Due: none

refactor(python): switch in-process callers to kernel.agent_registry
  src/nexus/bricks/task_manager/task_agent_resolver.py
  src/nexus/factory/_system.py
  src/nexus/factory/_wired.py
  src/nexus/factory/orchestrator.py
  src/nexus/server/api/v2/routers/agent_status.py
  src/nexus/server/lifespan/services_container.py
  src/nexus/services/agents/agent_registration.py
  src/nexus/services/agents/agent_rpc_service.py
  src/nexus/services/agents/agent_status_resolver.py
  src/nexus/services/agents/agent_warmup.py
  src/nexus/services/agents/eviction_manager.py
Due: check-file-size, check-type-ignore

feat(rust): PyAgentDescriptor pyclass with attribute-style getters
  rust/kernel/src/agent_registry_py.rs
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/kernel/src/python.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/kernel_exports.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore

refactor(python): delete AgentRegistry shim — kernel SSOT is the only home
  docs/architecture/KERNEL-ARCHITECTURE.md
  rust/kernel/src/agent_registry_py.rs
  src/nexus/services/agents/agent_registry.py
  stubs/nexus_runtime/__init__.pyi
  tests/e2e/server/test_delegation_auto_warmup_e2e.py
  tests/unit/core/test_agent_registry_pyo3.py
  tests/unit/core/test_process_table.py
  tests/unit/services/test_agent_rpc_service.py
  tests/unit/services/test_agent_status_resolver.py
  tests/unit/services/test_agent_warmup.py
Due: check-file-size, check-type-ignore

feat(rust): on_terminate observer hook on AgentRegistry
  rust/kernel/src/core/agents/registry.rs
Due: none

test(managed-agent): integration tests for on_terminate workspace reap
  rust/services/src/managed_agent/mod.rs
Due: none

feat(managed-agent): reap workspace on out-of-band termination
  rust/services/src/managed_agent/mod.rs
Due: none

fix(rust): drop unsendable on PyAgentRegistry so asyncio.to_thread works
  rust/kernel/src/agent_registry_py.rs
Due: none

chore(python): mypy baseline to zero + drop replication scanner wiring
  scripts/codegen_kernel_abi.py
  src/nexus/__init__.py
  src/nexus/backends/storage/remote.py
  src/nexus/backends/wrappers/encrypted.py
  src/nexus/bricks/auth/daemon/installer.py
  src/nexus/bricks/auth/daemon/jwt_cache.py
  src/nexus/bricks/auth/daemon/keystore.py
  src/nexus/bricks/auth/envelope.py
  src/nexus/bricks/auth/envelope_providers/in_memory.py
  src/nexus/bricks/auth/tests/test_consumer.py
  src/nexus/bricks/auth/tests/test_postgres_decrypt_integration.py
  src/nexus/bricks/auth/tests/test_read_audit.py
  src/nexus/bricks/mcp/middleware.py
  src/nexus/bricks/mount/metastore_mount_store.py
  src/nexus/bricks/mount/mount_manager.py
  src/nexus/bricks/mount/mount_persist_service.py
  src/nexus/bricks/rebac/cache/boundary.py
  src/nexus/bricks/rebac/cache/iterator.py
  src/nexus/bricks/rebac/cache/leopard.py
  src/nexus/bricks/rebac/cache/visibility.py
  src/nexus/cli/commands/admin.py
  src/nexus/cli/compose.py
  src/nexus/cli/dry_run.py
  src/nexus/cli/output.py
  src/nexus/fs/_auth_cli.py
  src/nexus/fs/_cli.py
  src/nexus/fs/_output.py
  src/nexus/fuse/ops/_shared.py
  src/nexus/fuse/ops/attr_handler.py
  src/nexus/fuse/rust_client.py
  src/nexus/lib/oauth/crypto.py
  src/nexus/server/api/v1/jwt_signer.py
  src/nexus/server/api/v1/tests/test_auth_profiles_router.py
  src/nexus/server/api/v1/tests/test_daemon_router.py
  src/nexus/server/api/v1/tests/test_jwks_router.py
  src/nexus/server/api/v1/tests/test_jwt_signer.py
  src/nexus/server/api/v1/tests/test_token_exchange_router.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore

chore(rust): delete dead replication_scanner crate
  rust/kernel/Cargo.toml
  rust/kernel/src/lib.rs
  rust/raft/Cargo.toml
  rust/raft/src/lib.rs
  rust/raft/src/pyo3_bindings.rs
  rust/raft/src/replication_scanner.rs
Due: none

test(agent-registry): drift guard between Python + Rust transition tables
  tests/unit/core/test_agent_registry_pyo3.py
Due: check-type-ignore

fix(mypy): drop redundant casts CI Linux flagged + adapt agent tests
  src/nexus/backends/storage/remote.py
  src/nexus/bricks/auth/daemon/jwt_cache.py
  src/nexus/bricks/auth/daemon/keystore.py
  src/nexus/bricks/auth/envelope.py
  src/nexus/bricks/auth/envelope_providers/in_memory.py
  src/nexus/bricks/mcp/middleware.py
  src/nexus/fs/_auth_cli.py
  src/nexus/fs/_cli.py
  src/nexus/lib/oauth/crypto.py
  src/nexus/server/api/v1/jwt_signer.py
  src/nexus/server/api/v1/tests/test_auth_profiles_router.py
  src/nexus/server/api/v1/tests/test_daemon_router.py
  src/nexus/server/api/v1/tests/test_jwks_router.py
  src/nexus/server/api/v1/tests/test_jwt_signer.py
  src/nexus/server/api/v2/routers/agent_status.py
  tests/unit/server/lifespan/test_lifespan_services.py
  tests/unit/services/test_agent_registration.py
Due: check-file-size, check-type-ignore

test(agent-registration): IPC failure simulates raise (matches provisioner contract)
  tests/unit/services/test_agent_registration.py
Due: check-type-ignore

docs(semaphore): fix misleading comment — Rust VFSSemaphore is still the kernel primitive
  src/nexus/lib/semaphore.py
Due: check-file-size, check-type-ignore

fix(tests): delete/update tests referencing deleted Python semaphore
  tests/unit/lib/test_vfs_semaphore.py
  tests/unit/services/snapshot/test_concurrent.py
Due: check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
