Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix(raft): single-node default creates own root + dynamic mode is truly rootless
  rust/profiles/cluster/src/main.rs
  rust/raft/src/distributed_coordinator.rs
Due: none

ci(cluster-binary): install protoc on Windows runner + override PROTOC env
  .github/workflows/cluster-binary-build.yml
Due: none

ci(cluster-binary): rewrite Windows protoc step in PowerShell — native paths
  .github/workflows/cluster-binary-build.yml
Due: none

ci: pass --bootstrap-mode static to nexusd-cluster smoke test
  .github/workflows/test.yml
Due: none

fix(raft): preserve bootstrap_new founder branch alongside empty-peers default
  rust/raft/src/distributed_coordinator.rs
Due: none

Avoid root metadata probe in demo init
  src/nexus/cli/commands/demo.py
  tests/unit/cli/test_demo_preflight.py
Due: check-file-size, check-type-ignore

fix(kernel): audit cleanup — VFS Router + MetaStore primitive fixes
  rust/kernel/src/abc/meta_store.rs
  rust/kernel/src/core/meta_store/mod.rs
  rust/kernel/src/core/meta_store/remote.rs
  rust/kernel/src/core/vfs_router.rs
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/mod.rs
  rust/kernel/src/kernel/mount.rs
Due: none

feat(#1510): VFSPaths SSOT + migrate ManagedAgentLoop + AcpService
  src/nexus/contracts/vfs_paths.py
  src/nexus/services/agent_runtime/__init__.py
  src/nexus/services/agent_runtime/managed_loop.py
  src/nexus/services/agent_runtime/observer.py
  tests/unit/services/agent_runtime/test_managed_loop.py
Due: check-file-size, check-type-ignore

refactor(hooks): gate parsers, rename rebac hook, delete duplicates
  src/nexus/bricks/parsers/readme_resolver.py
  src/nexus/bricks/rebac/cache/permission_lease.py
  src/nexus/bricks/rebac/permission_hook.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_metadata.py
  src/nexus/core/permission.py
  src/nexus/factory/orchestrator.py
  src/nexus/services/lifecycle/zone_writability_hook.py
  tests/unit/factory/test_retroactive_hook_specs.py
  tests/unit/rebac/bench_permission_lease.py
  tests/unit/rebac/test_permission_lease_integration.py
  tests/unit/services/test_zone_writability_hook.py
Due: check-file-size, check-type-ignore

fix: keep only vfs_paths.py, drop managed_loop (replaced by sudo-code Rust)
  src/nexus/services/agent_runtime/__init__.py
  src/nexus/services/agent_runtime/managed_loop.py
  src/nexus/services/agent_runtime/observer.py
  tests/unit/services/agent_runtime/test_managed_loop.py
Due: check-file-size, check-type-ignore

fix(scripts): cluster_smoke_xmachine regex post-PR-#4023 log rename
  scripts/cluster_smoke_xmachine.py
Due: check-file-size, check-type-ignore

Fix Docker Publish admin key extraction
  .github/workflows/docker-publish.yml
  tests/e2e/self_contained/conftest.py
  tests/unit/test_self_contained_running_nexus_fixture.py
Due: check-type-ignore

fix(search): per-consumer reconciliation marker for #4016 (codex r1)
  src/nexus/bricks/search/daemon.py
  tests/integration/bricks/search/test_search_mutation_flow.py
Due: check-file-size, check-type-ignore

fix(search): startup reconciliation for unindexed files (#4016)
  src/nexus/bricks/search/daemon.py
  tests/integration/bricks/search/test_search_mutation_flow.py
Due: check-file-size, check-type-ignore

fix(search): gate reconciliation marker on backend ready (#4016 codex r2)
  src/nexus/bricks/search/daemon.py
  tests/integration/bricks/search/test_search_mutation_flow.py
Due: check-file-size, check-type-ignore

fix(storage): preserve async engine refs on dispose failure (#3775)
  src/nexus/core/nexus_fs.py
  src/nexus/storage/record_store.py
  tests/unit/core/test_nexus_fs_adispose.py
  tests/unit/storage/test_record_store.py
Due: check-file-size, check-type-ignore

fix(storage): guard pool recreation after aclose + daemon try/finally (#3775)
  src/nexus/bricks/search/daemon.py
  src/nexus/storage/record_store.py
  tests/unit/bricks/search/test_daemon_shutdown_aclose_failure.py
  tests/unit/storage/test_record_store.py
Due: check-file-size, check-type-ignore

fix(storage): dispose async DB engines on origin loop (#3775)
  src/nexus/bricks/search/daemon.py
  src/nexus/core/nexus_fs.py
  src/nexus/server/lifespan/__init__.py
  src/nexus/storage/record_store.py
  tests/unit/storage/test_record_store.py
Due: check-file-size, check-type-ignore

fix(storage): close sentinel bypass + RPC parity for adispose_async_engines (#3775)
  src/nexus/storage/record_store.py
  tests/unit/server/test_rpc_parity.py
  tests/unit/storage/test_record_store.py
Due: check-file-size, check-type-ignore

fix(storage): aclose disposes only async engines; preserve close-callback ordering (#3775)
  src/nexus/bricks/search/daemon.py
  src/nexus/core/nexus_fs.py
  src/nexus/storage/record_store.py
  tests/unit/core/test_nexus_fs_adispose.py
  tests/unit/storage/test_record_store.py
Due: check-file-size, check-type-ignore

Fix Docker Publish demo preflight
  src/nexus/cli/commands/demo.py
  tests/unit/cli/test_demo_preflight.py
Due: check-file-size, check-type-ignore

Fix loopback CLI HTTP client for Docker smoke
  src/nexus/cli/api_client.py
  tests/unit/cli/test_api_client.py
Due: check-file-size, check-type-ignore

fix(#3947): drop ServiceDep token_manager from OAuth connectors
  src/nexus/backends/_manifest.py
  src/nexus/backends/base/runtime_deps.py
  tests/integration/slim/test_slim_install_smoke.py
  tests/unit/backends/test_runtime_deps.py
Due: check-file-size, check-type-ignore

fix(#3947): harden token_manager service probe (review-loop r1-r6)
  src/nexus/backends/base/runtime_deps.py
  tests/integration/slim/test_slim_install_smoke.py
  tests/unit/backends/test_runtime_deps.py
Due: check-file-size, check-type-ignore

Fix Docker Publish loopback smoke URL
  .github/workflows/docker-publish.yml
  src/nexus/cli/commands/demo.py
  tests/unit/cli/test_demo_preflight.py
Due: check-file-size, check-type-ignore

fix(#3874): bound rate-limit metric writes
  src/nexus/bricks/mcp/middleware_ratelimit.py
  tests/unit/bricks/mcp/test_middleware_ratelimit.py
Due: check-file-size, check-type-ignore

feat(#3874): read hub status detail counters from redis
  src/nexus/cli/commands/hub.py
  tests/unit/cli/test_hub.py
Due: check-file-size, check-type-ignore

fix(#3874): keep rate-limit hit metrics fail-soft
  src/nexus/bricks/mcp/middleware_ratelimit.py
  tests/unit/bricks/mcp/test_middleware_ratelimit.py
Due: check-file-size, check-type-ignore

feat(#3874): include local search metadata in hub status detail
  src/nexus/cli/commands/hub.py
  tests/unit/cli/test_hub.py
Due: check-file-size, check-type-ignore

fix(#3874): align rate-limit detail counter metrics
  src/nexus/bricks/mcp/middleware_ratelimit.py
  src/nexus/cli/commands/hub.py
  tests/unit/bricks/mcp/test_middleware_ratelimit.py
  tests/unit/cli/test_hub.py
Due: check-file-size, check-type-ignore

fix(#3874): stabilize hub status token detail ordering
  src/nexus/cli/commands/hub.py
  tests/unit/cli/test_hub.py
Due: check-file-size, check-type-ignore

docs(#3874): plan hub status detail implementation
  docs/superpowers/plans/2026-05-05-issue-3874-hub-status-detail.md
Due: none

feat(#3874): add hub status detail flag scaffold
  src/nexus/cli/commands/hub.py
  tests/unit/cli/test_hub.py
Due: check-file-size, check-type-ignore

fix(#3874): close hub status redis detail client
  src/nexus/cli/commands/hub.py
  tests/unit/cli/test_hub.py
Due: check-file-size, check-type-ignore

docs(#3874): design hub status detail output
  docs/superpowers/specs/2026-05-05-issue-3874-hub-status-detail-design.md
Due: none

feat(#3874): include token and zone detail in hub status
  src/nexus/cli/commands/hub.py
  tests/unit/cli/test_hub.py
Due: check-file-size, check-type-ignore

feat(#3874): record hub rate-limit hits by tier
  src/nexus/bricks/mcp/middleware_ratelimit.py
  tests/unit/bricks/mcp/test_middleware_ratelimit.py
Due: check-file-size, check-type-ignore

test(#3874): tighten hub audit zone counter assertions
  tests/unit/bricks/mcp/test_middleware_audit_metrics.py
Due: check-type-ignore

test(#3874): cover allowed rate-limit detail path
  tests/unit/bricks/mcp/test_middleware_ratelimit.py
Due: check-type-ignore
