Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: rpc-parity, version-consistency

rpc-parity:
  name: RPC Parity Check
  entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
  language: system
  pass_filenames: false

version-consistency:
  name: Version Consistency Check
  entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
  language: system
  pass_filenames: false

feat: Add delete_bulk and rename_bulk operations (#653)
  .gitignore
  examples/cli/test_bulk_operations.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/remote/async_client.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
Due: rpc-parity

chore: Bump version to 0.6.3
  pyproject.toml
Due: version-consistency

Fix additional import paths in test files
  tests/unit/core/test_cross_tenant_sharing.py
  tests/unit/core/test_docker_image_builder.py
  tests/unit/core/test_nexus_fs_mounts.py
  tests/unit/core/test_nexus_fs_oauth.py
  tests/unit/core/test_rebac.py
Due: none

update README
  README.md
  src/nexus/__init__.py
  src/nexus/storage/models.py
  uv.lock
Due: version-consistency

update README
  README.md
  examples/langgraph/pyproject.toml
Due: none

fix: Handle implicit directories in delete_bulk, rename_bulk, and rename
  examples/cli/test_bulk_operations.py
  src/nexus/core/nexus_fs_core.py
Due: rpc-parity

fix: Handle implicit directories in delete_bulk, rename_bulk, and rename (#654)
  examples/cli/test_bulk_operations.py
  src/nexus/core/nexus_fs_core.py
Due: rpc-parity

perf: Optimize sandbox_get_or_create and sandbox_connect (~3x faster)
  src/nexus/__init__.py
  src/nexus/core/__init__.py
  src/nexus/core/sandbox_docker_provider.py
  src/nexus/core/sandbox_e2b_provider.py
  src/nexus/core/sandbox_manager.py
  src/nexus/core/sandbox_provider.py
  src/nexus/storage/models.py
Due: version-consistency

perf: Optimize sandbox_get_or_create and sandbox_connect (~3x faster) (#655)
  src/nexus/__init__.py
  src/nexus/core/__init__.py
  src/nexus/core/sandbox_docker_provider.py
  src/nexus/core/sandbox_e2b_provider.py
  src/nexus/core/sandbox_manager.py
  src/nexus/core/sandbox_provider.py
  src/nexus/storage/models.py
Due: version-consistency

feat: Add Rust FUSE client with SQLite caching and ETag support
  examples/python/gcs_connector_demo.py
  nexus-fuse/Cargo.lock
  nexus-fuse/Cargo.toml
  nexus-fuse/e2b.Dockerfile
  nexus-fuse/e2b.toml
  nexus-fuse/src/cache.rs
  nexus-fuse/src/client.rs
  nexus-fuse/src/fs.rs
  nexus-fuse/src/main.rs
  nexus-fuse/test_rust_fuse.py
  src/nexus/backends/cache_mixin.py
  src/nexus/backends/gcs_connector.py
  src/nexus/backends/s3_connector.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/permissions.py
  src/nexus/core/rebac.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/protocol.py
  src/nexus/server/subscriptions/manager.py
  src/nexus/storage/metadata_store.py
Due: rpc-parity

test: Add ETag/304 integration test script
  scripts/test_etag_304.py
Due: none

fix: Add @rpc_expose to get_etag method for RPC parity
  src/nexus/core/nexus_fs.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
Due: rpc-parity

fix: Add get_etag to INTERNAL_ONLY_METHODS for RPC parity test
  tests/unit/server/test_rpc_parity.py
Due: none

additainoal fix
  nexus-fuse/src/fs.rs
Due: none

Fix12 (#656)
  examples/python/gcs_connector_demo.py
  nexus-fuse/Cargo.lock
  nexus-fuse/Cargo.toml
  nexus-fuse/e2b.Dockerfile
  nexus-fuse/e2b.toml
  nexus-fuse/src/cache.rs
  nexus-fuse/src/client.rs
  nexus-fuse/src/fs.rs
  nexus-fuse/src/main.rs
  nexus-fuse/test_rust_fuse.py
  scripts/test_etag_304.py
  src/nexus/backends/cache_mixin.py
  src/nexus/backends/gcs_connector.py
  src/nexus/backends/s3_connector.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/permissions.py
  src/nexus/core/rebac.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/remote/client.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/protocol.py
  src/nexus/server/subscriptions/manager.py
  src/nexus/storage/metadata_store.py
  tests/unit/server/test_rpc_parity.py
Due: rpc-parity

chore: Bump version to 0.6.4
  examples/langgraph/pyproject.toml
  pyproject.toml
  src/nexus/__init__.py
  uv.lock
Due: version-consistency

fix(#sandbox): Detect Rust FUSE binary and Python module properly
  src/nexus/core/sandbox_e2b_provider.py
Due: none

Add reproduction scripts and documentation for SQLite crash issue (#658)
  CRASH_REPRODUCTION_GUIDE.md
  CRASH_REPRODUCTION_RESULTS.md
  GITHUB_ISSUE_DATABASE_CRASH.md
  QUICKFIX_DATABASE_CRASH.md
  local-demo.sh
  scripts/reproduce_crash.sh
  scripts/reproduce_crash_api_calls.py
Due: none

Add PostgreSQL vs SQLite comparison test results (#658)
  POSTGRES_VS_SQLITE_TEST_RESULTS.md
Due: none

fix(#sandbox): Detect Rust FUSE binary and Python module properly (#657)
  src/nexus/core/sandbox_e2b_provider.py
Due: none

Fix sandbox Docker provider error with improved diagnostics
  pyproject.toml
  src/nexus/core/sandbox_manager.py
Due: version-consistency

Fix docker package namespace conflict with ./docker directory
  src/nexus/core/sandbox_docker_provider.py
Due: none

Path conditions:
  rpc-parity: any of: ^src/nexus/core/nexus_fs.*\.py$
  version-consistency: any of: ^(pyproject\.toml|src/nexus/__init__\.py)$
