Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

refactor(kernel): C12 — migrate metastore_get_batch → stat_batch (3 callers)
  src/nexus/core/nexus_fs_content.py
  src/nexus/core/nexus_fs_metadata.py
Due: check-file-size, check-type-ignore

refactor(kernel): C11 — migrate metastore_list → metastore_list_paginated (14 callers)
  src/nexus/backends/engines/cas_gc.py
  src/nexus/bricks/mount/mount_service.py
  src/nexus/bricks/portability/export_service.py
  src/nexus/bricks/rebac/cache/tiger/expander.py
  src/nexus/bricks/rebac/directory/expander.py
  src/nexus/bricks/search/search_service.py
  src/nexus/core/nexus_fs_metadata.py
  src/nexus/kernel_helpers.py
  src/nexus/services/namespace/descendant_access.py
  src/nexus/services/ttl_volume_sweeper.py
  src/nexus/services/workspace/workspace_manager.py
Due: check-file-size, check-type-ignore

feat(kernel): C18a — sys_setattr DT_REG upsert semantics
  rust/kernel/src/kernel/mod.rs
Due: none

refactor(kernel): C14 — delete 6 zero-caller metastore_* methods from codegen
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore

refactor(kernel): C20 — admin metastore_delete → sys_unlink
  src/nexus/bricks/snapshot/service.py
  src/nexus/services/ttl_volume_sweeper.py
  src/nexus/services/workspace/workspace_manager.py
Due: check-file-size, check-type-ignore

refactor(kernel): C23 — sys_write no implicit create + fix 4 callers
  rust/kernel/src/kernel/io.rs
  src/nexus/bricks/mount/metastore_mount_store.py
  src/nexus/bricks/rebac/consistency/metastore_namespace_store.py
  src/nexus/bricks/rebac/consistency/metastore_version_store.py
  src/nexus/proxy/brick.py
  src/nexus/services/audit_node/service.py
Due: check-file-size, check-type-ignore

refactor(kernel): C10b — migrate metastore_delete → sys_unlink (1 caller)
  src/nexus/bricks/mount/mount_service.py
Due: check-file-size, check-type-ignore

refactor(kernel): C9 — migrate metastore_put → sys_setattr (7 callers)
  src/nexus/bricks/mount/mount_service.py
  src/nexus/bricks/snapshot/service.py
  src/nexus/bricks/versioning/version_service.py
  src/nexus/core/nexus_fs_metadata.py
  src/nexus/fs/__init__.py
  src/nexus/services/metadata_export.py
Due: check-file-size, check-type-ignore

feat(kernel): extend sys_setattr with content_id, size, version, created_at_ms
  rust/kernel/src/abi.rs
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/kernel/src/kernel/mod.rs
  scripts/codegen_kernel_abi.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore

refactor(kernel): C8 — migrate metastore_get → sys_stat (12 callers)
  src/nexus/bricks/mount/mount_service.py
  src/nexus/bricks/parsers/virtual_view_resolver.py
  src/nexus/bricks/portability/import_service.py
  src/nexus/bricks/search/search_service.py
  src/nexus/bricks/share_link/share_link_service.py
  src/nexus/bricks/snapshot/service.py
  src/nexus/cli/commands/file_ops.py
  src/nexus/core/nexus_fs_content.py
  src/nexus/core/nexus_fs_metadata.py
  src/nexus/storage/auth_stores/metastore_settings_store.py
Due: check-file-size, check-type-ignore

refactor(kernel): C15 — update tests for metastore_* → syscall migration
  tests/e2e/self_contained/test_dual_write_consistency.py
  tests/e2e/self_contained/test_timestamp_behavior.py
  tests/unit/backends/test_volume_gc_compaction.py
  tests/unit/bricks/mount/test_mount_core_service.py
  tests/unit/bricks/parsers/test_virtual_view_resolver.py
  tests/unit/core/test_embedded.py
  tests/unit/core/test_embedded_cas.py
  tests/unit/core/test_mount_directory_creation.py
  tests/unit/core/test_nexus_fs_delegation.py
  tests/unit/core/test_sys_readdir_internal_filter.py
  tests/unit/services/test_mount_service.py
Due: check-type-ignore

fix(kernel): add sys_readdir_backend compat shim to KernelAbi trait
  rust/kernel/src/abi.rs
Due: none

docs(kernel): C25 — update syscall-design.md + KERNEL-ARCHITECTURE.md
  docs/architecture/KERNEL-ARCHITECTURE.md
  docs/architecture/syscall-design.md
Due: none

fix(kernel): bump sudocode rev — sys_readdir_backend → readdir
  Cargo.lock
  rust/kernel/src/abi.rs
  rust/nexus-cdylib/Cargo.toml
Due: none

docs(kernel): C25 fix — version history: positive statements only
  docs/architecture/syscall-design.md
Due: none

fix(slim): delete redundant mount metadata loop that wiped backend
  src/nexus/fs/__init__.py
Due: check-file-size, check-type-ignore

fix(kernel): sys_write auto-creates DT_REG + fix cluster binary params
  rust/kernel/src/kernel/io.rs
  rust/profiles/cluster/src/main.rs
  src/nexus/bricks/mount/metastore_mount_store.py
  src/nexus/bricks/rebac/consistency/metastore_namespace_store.py
  src/nexus/bricks/rebac/consistency/metastore_version_store.py
  src/nexus/services/audit_node/service.py
Due: check-file-size, check-type-ignore

fix(kernel): setattr_update route-scoped SSOT + Tier 2 write() pure composition
  rust/kernel/src/kernel/convenience.rs
  rust/kernel/src/kernel/mod.rs
Due: none

refactor(kernel): C28+C29 — migrate 4 Tier 2 wrappers to Rust + slim Python
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/kernel/src/kernel/convenience.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/core/nexus_fs_metadata.py
  src/nexus/server/_kernel_syscall_dispatch.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore

fix(tests): migrate test_put_and_get to sys_setattr + sys_stat
  tests/unit/fs/test_integration.py
Due: check-type-ignore

feat(kernel): C26+C27 — Rust Tier 2 write() + fix sys_write contract
  rust/kernel/src/abi.rs
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/kernel/src/kernel/convenience.rs
  rust/kernel/src/kernel/io.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/bricks/mount/metastore_mount_store.py
  src/nexus/bricks/rebac/consistency/metastore_namespace_store.py
  src/nexus/bricks/rebac/consistency/metastore_version_store.py
  src/nexus/core/nexus_fs_content.py
  src/nexus/services/audit_node/service.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore

fix(kernel): write() uses route-scoped create — same route as sys_write
  rust/kernel/src/kernel/convenience.rs
  rust/kernel/src/kernel/io.rs
Due: none

fix(kernel): restore Tier 1/2 contract — sys_write returns miss, write() creates
  rust/kernel/src/kernel/convenience.rs
  rust/kernel/src/kernel/io.rs
Due: none

fix(tests): delete redundant metastore_put from fs integration tests
  tests/unit/fs/test_integration.py
Due: check-type-ignore

fix(tests): add sys_setattr to InMemoryNexusFS test double
  tests/testkit/metadata.py
Due: check-type-ignore

chore(cdylib): bump sudocode rev to 7f48278 — readdir migration v2 + tools
  Cargo.lock
  rust/nexus-cdylib/Cargo.toml
Due: none

fix(kernel): sys_write auto-create uses route-scoped metastore (SSOT fix)
  rust/kernel/src/kernel/convenience.rs
  rust/kernel/src/kernel/io.rs
Due: none

refactor: rename SQLiteMetastore → create_kernel + _sqlite_meta → _kernel_factory
  src/nexus/bricks/auth/profile_store.py
  src/nexus/core/nexus_fs.py
  src/nexus/fs/__init__.py
  src/nexus/fs/_kernel_factory.py
  tests/e2e/self_contained/test_batch_write_read_e2e.py
  tests/e2e/self_contained/test_files_binary_roundtrip_e2e.py
  tests/unit/backends/connectors/test_connector_list_dir_order.py
  tests/unit/fs/test_fsspec.py
  tests/unit/fs/test_fsspec_conformance.py
  tests/unit/fs/test_fsspec_upstream.py
  tests/unit/fs/test_gcs_integration.py
  tests/unit/fs/test_integration.py
  tests/unit/fs/test_parity.py
  tests/unit/fs/test_release_integrity.py
  tests/unit/fs/test_s3_integration.py
  tests/unit/fs/test_slim_batch.py
  tests/unit/fs/test_streaming_copy.py
Due: check-file-size, check-type-ignore

ci: increase unit test timeout from 30 to 45 minutes
  .github/workflows/test.yml
Due: none

fix(tests): fix release_integrity DT_REG + NexusWriteFile API
  tests/unit/fs/test_release_integrity.py
Due: check-type-ignore

fix(tests): remove redundant metastore.sys_setattr that overwrites mount entries
  tests/e2e/self_contained/test_batch_write_read_e2e.py
  tests/e2e/self_contained/test_files_binary_roundtrip_e2e.py
  tests/e2e/self_contained/test_list_with_permissions.py
  tests/unit/backends/connectors/test_connector_list_dir_order.py
  tests/unit/fs/test_fsspec.py
  tests/unit/fs/test_fsspec_conformance.py
  tests/unit/fs/test_fsspec_upstream.py
  tests/unit/fs/test_gcs_integration.py
  tests/unit/fs/test_parity.py
  tests/unit/fs/test_release_integrity.py
  tests/unit/fs/test_s3_integration.py
  tests/unit/fs/test_slim_batch.py
  tests/unit/fs/test_streaming_copy.py
Due: check-type-ignore

fix(rebase): resolve gen+owner_id merge conflicts after rebase onto develop
  rust/kernel/src/core/meta_store/mod.rs
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/kernel/src/kernel/convenience.rs
  rust/kernel/src/kernel/mod.rs
  scripts/codegen_kernel_abi.py
Due: check-file-size, check-type-ignore

fix(tests): mark 2 fsspec copy conformance tests as xfail
  tests/unit/fs/test_fsspec_conformance.py
Due: check-type-ignore

fix(tests): guard fsspec teardown + skip sqlite_vec when fastembed missing
  tests/unit/bricks/search/test_sqlite_vec_backend.py
  tests/unit/fs/test_fsspec_conformance.py
Due: check-type-ignore

fix(tests): align test stubs with Rust kernel API contracts
  tests/unit/bricks/snapshot/test_service.py
  tests/unit/core/test_nexus_fs_content_metrics.py
  tests/unit/core/test_nexus_fs_delete_batch.py
Due: check-type-ignore

fix(kernel): resolve silent reverts in io.rs + write_buffer.rs after rebase
  rust/kernel/benches/read_batch.rs
  rust/kernel/benches/write_coalescing.rs
  rust/kernel/src/kernel/federation.rs
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/write_buffer.rs
  rust/kernel/tests/read_batch_speedup.rs
Due: none

fix(write_batch): use Tier 2 write() for new-file fallback (C23 contract)
  src/nexus/core/nexus_fs_content.py
  tests/e2e/self_contained/test_list_with_permissions.py
Due: check-file-size, check-type-ignore

perf(kernel): revert C23 sys_write contract — restore implicit create
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/mod.rs
  tests/e2e/self_contained/test_dual_write_consistency.py
Due: check-type-ignore

perf(kernel): fix macOS CI timeout — lazy write-buffer flusher + sys_write path
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  scripts/codegen_kernel_abi.py
  src/nexus/__init__.py
  src/nexus/_kernel_api_groups.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_content.py
  src/nexus/storage/auth_stores/metastore_settings_store.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore
