Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix(tests): use DT_REG=0 (not DT_DIR=1) for regular file entries
  tests/e2e/self_contained/test_list_with_permissions.py
Due: check-type-ignore

perf(kernel): skip federation wiring in nexus.connect() during pytest
  src/nexus/__init__.py
Due: check-file-size, check-type-ignore

fix(tests): align remaining test stubs with new kernel ABI (5 files)
  tests/unit/bricks/mount/test_mount_manager_toctou.py
  tests/unit/bricks/snapshot/test_snapshot_hook.py
  tests/unit/core/test_nexus_fs_delegation.py
  tests/unit/services/test_audit_node.py
  tests/unit/storage/test_operation_log.py
Due: check-type-ignore

fix(codegen): re-sync generated files after rebase onto develop
  src/nexus/_kernel_api_groups.py
  src/nexus/server/_kernel_syscall_dispatch.py
Due: check-file-size, check-type-ignore

perf(kernel): skip federation wiring in NexusFS during pytest
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

fix(tests): migrate 31 test files from deleted metastore_* to new kernel ABI
  tests/benchmarks/bench_pipe_syscall_overhead.py
  tests/benchmarks/test_core_operations.py
  tests/e2e/self_contained/test_batch_write_read_e2e.py
  tests/e2e/self_contained/test_context_branch_lifecycle.py
  tests/e2e/self_contained/test_files_binary_roundtrip_e2e.py
  tests/e2e/self_contained/test_list_with_permissions.py
  tests/integration/archive/test_round_trip.py
  tests/testkit/metadata.py
  tests/unit/backends/connectors/test_connector_list_dir_order.py
  tests/unit/backends/test_cas_gc.py
  tests/unit/bricks/mount/test_mount_core_service.py
  tests/unit/bricks/parsers/test_virtual_view_resolver.py
  tests/unit/bricks/snapshot/test_service.py
  tests/unit/core/test_import_boundaries.py
  tests/unit/core/test_nexus_fs_content_metrics.py
  tests/unit/core/test_nexus_fs_delete_batch.py
  tests/unit/core/test_nexus_fs_stream_range.py
  tests/unit/fs/test_fsspec.py
  tests/unit/fs/test_fsspec_conformance.py
  tests/unit/fs/test_fsspec_upstream.py
  tests/unit/fs/test_gcs_integration.py
  tests/unit/fs/test_parity.py
  tests/unit/fs/test_release_integrity.py
  tests/unit/fs/test_s3_integration.py
  tests/unit/fs/test_slim_batch.py
  tests/unit/fs/test_streaming_copy.py
  tests/unit/services/snapshot/test_service.py
  tests/unit/services/test_mount_service.py
  tests/unit/services/test_ttl_volume_sweeper.py
  tests/unit/storage/test_legacy_oauth_key_migration.py
  tests/unit/test_testkit_imports.py
Due: check-type-ignore

fix(tests): restore DT_REG (1) entry type in test_list_with_permissions
  tests/e2e/self_contained/test_list_with_permissions.py
Due: check-type-ignore

perf(tests): remove federation wiring from unit test fixture
  tests/testkit/nexus_factory.py
Due: check-type-ignore

docs(tests): clarify why factory omits federation wiring
  tests/testkit/nexus_factory.py
Due: check-type-ignore

fix(kernel): restore C23 sys_write contract + migrate develop's tests
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/mod.rs
Due: none

fix(write): convert old_metadata to dict for WriteHookContext
  src/nexus/core/nexus_fs_content.py
  tests/e2e/self_contained/test_dual_write_consistency.py
Due: check-file-size, check-type-ignore

fix(kernel): use sys.modules pytest detection instead of PYTEST_CURRENT_TEST
  src/nexus/__init__.py
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

Revert "ci: increase unit test timeout from 30 to 45 minutes"
  .github/workflows/test.yml
Due: none

feat(kernel): /__sys__/cfg/ virtual path for settings store + cfg setattr
  rust/contracts/src/constants.rs
  rust/contracts/src/lib.rs
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/mod.rs
  src/nexus/storage/auth_stores/metastore_settings_store.py
Due: check-file-size, check-type-ignore

ci(test): add process-level timeout to kill xdist worker hang
  .github/workflows/test.yml
Due: none

refactor(settings): revert kernel cfg intercept, use /settings/ VFS path
  rust/contracts/src/constants.rs
  rust/contracts/src/lib.rs
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/mod.rs
  src/nexus/storage/auth_stores/metastore_settings_store.py
Due: check-file-size, check-type-ignore

fix(kernel): sys_stat mount-root synthesis for all mounts
  rust/kernel/src/kernel/io.rs
Due: none

fix(test): use getattr for FileMetadata in release integrity filter
  tests/unit/fs/test_release_integrity.py
Due: check-type-ignore

fix(kernel): impl Drop for Kernel — shutdown tokio runtime on drop
  rust/kernel/src/kernel/mod.rs
  tests/conftest.py
Due: check-type-ignore

fix(kernel): sys_stat global metastore fallback for unrouted paths
  rust/kernel/src/kernel/io.rs
Due: none

fix(test): mock metastore_list_paginated in workspace permission tests
  tests/unit/core/test_workspace_manager_permissions.py
Due: check-type-ignore

fix(settings+tests): fix settings store API + update test expectations
  src/nexus/storage/auth_stores/metastore_settings_store.py
  tests/unit/fs/test_release_integrity.py
  tests/unit/storage/test_legacy_oauth_key_migration.py
  tests/unit/storage/test_operation_log.py
Due: check-file-size, check-type-ignore

fix(kernel): resolve silent reverts in io.rs + mod.rs after rebase
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/mod.rs
Due: none

refactor(kernel): DRY — From<FileMetadata> for StatResult
  rust/kernel/src/kernel/convenience.rs
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/mod.rs
Due: none

fix(test): atexit force-exit for xdist worker hang (import fix)
  tests/conftest.py
Due: check-type-ignore

ci(test): increase unit test step timeout from 30 to 45 minutes
  .github/workflows/test.yml
Due: none

fix(test): force-exit pytest session to prevent xdist worker hang
  tests/conftest.py
Due: check-type-ignore

fix: ruff format connectors.py + cluster sys_setattr arg count
  rust/profiles/cluster/src/main.rs
  src/nexus/server/api/v2/routers/connectors.py
Due: check-file-size, check-type-ignore

fix(transport): delete legacy Python gRPC bridge + fix BatchRead error message
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/nexus-cdylib/src/lib.rs
  rust/transport/Cargo.toml
  rust/transport/src/grpc.rs
  rust/transport/src/lib.rs
  rust/transport/src/python/grpc_bridge.rs
  rust/transport/src/python/mod.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/kernel_exports.py
  src/nexus/grpc/__init__.py
  src/nexus/grpc/server.py
  src/nexus/grpc/servicer.py
  src/nexus/server/lifespan/__init__.py
  stubs/nexus_runtime/__init__.pyi
  tests/unit/grpc/test_servicer_error_mapping.py
  tests/unit/grpc/test_vfs_call_zone_runner.py
  tests/unit/grpc/test_vfs_initialize_dispatcher.py
Due: check-file-size, check-type-ignore

refactor(tests): delete 21 mock-heavy unit test files (Batches 1-3)
  tests/unit/core/test_cache_concurrency.py
  tests/unit/core/test_cache_coordinator.py
  tests/unit/core/test_invalidation_degradation.py
  tests/unit/core/test_invalidation_stream.py
  tests/unit/core/test_kernel_protocol_compliance.py
  tests/unit/core/test_permission_boundary_cache.py
  tests/unit/core/test_permission_enforcer.py
  tests/unit/core/test_permission_enforcer_admin_capabilities.py
  tests/unit/core/test_permission_enforcer_audit.py
  tests/unit/core/test_permission_enforcer_system_bypass.py
  tests/unit/core/test_permission_enforcer_virtual_paths.py
  tests/unit/core/test_permission_filter_chain.py
  tests/unit/core/test_permissions_security.py
  tests/unit/core/test_rebac_cache.py
  tests/unit/core/test_rebac_iterator_cache.py
  tests/unit/core/test_rebac_revision_cache.py
  tests/unit/core/test_tiger_cache_fallback.py
  tests/unit/core/test_write_observer_calls.py
  tests/unit/rebac/bench_permission_lease.py
  tests/unit/rebac/test_permission_lease.py
  tests/unit/rebac/test_permission_lease_integration.py
Due: check-type-ignore

refactor(tests): Batch 4 — delete 15 core NexusFS mock-only tests (~5.3K lines)
  tests/unit/core/test_device_capabilities.py
  tests/unit/core/test_nexus_fs_core.py
  tests/unit/core/test_nexus_fs_delegation.py
  tests/unit/core/test_nexus_fs_delete_batch.py
  tests/unit/core/test_nexus_fs_dt_stream_read.py
  tests/unit/core/test_nexus_fs_mounts.py
  tests/unit/core/test_nexus_fs_provision_user.py
  tests/unit/core/test_nexus_fs_rename.py
  tests/unit/core/test_nexus_fs_stream_range.py
  tests/unit/core/test_nexus_fs_write_batch.py
  tests/unit/core/test_pipe_consumers.py
  tests/unit/core/test_pubsub_invalidation.py
  tests/unit/core/test_scoped_filesystem.py
  tests/unit/core/test_sys_readdir_internal_filter.py
  tests/unit/core/test_workspace_registry.py
Due: check-type-ignore

refactor(tests): Batch 5 — delete entire FUSE mock suite (14 files, ~2.2K lines)
  tests/unit/fuse/__init__.py
  tests/unit/fuse/conftest.py
  tests/unit/fuse/test_attr_handler.py
  tests/unit/fuse/test_fuse_decorator.py
  tests/unit/fuse/test_fuse_lease_coherence.py
  tests/unit/fuse/test_fuse_lease_coordinator.py
  tests/unit/fuse/test_io_handler.py
  tests/unit/fuse/test_metadata_handler.py
  tests/unit/fuse/test_mutation_handler.py
  tests/unit/fuse/test_readahead.py
  tests/unit/fuse/test_rust_available_guard.py
  tests/unit/fuse/test_rust_client.py
  tests/unit/fuse/test_rust_fallback.py
  tests/unit/fuse/test_thread_safety.py
Due: check-type-ignore

refactor(tests): Batch 6 — delete 9 factory/boot/dispatch mock tests (~1.8K lines)
  tests/unit/core/test_factory_boot.py
  tests/unit/factory/test_adapters.py
  tests/unit/factory/test_brick_discovery.py
  tests/unit/factory/test_extraction_hook.py
  tests/unit/factory/test_lifecycle_enabled_bricks.py
  tests/unit/factory/test_remote_overrides.py
  tests/unit/factory/test_retroactive_hook_specs.py
  tests/unit/factory/test_wallet_provisioner.py
  tests/unit/factory/test_wired_services.py
Due: check-type-ignore

refactor(tests): Batch 7 — delete 13 server mock-only handler tests (~4.8K lines)
  tests/unit/server/api/v2/routers/test_async_files_zone_param.py
  tests/unit/server/test_agent_status_endpoint.py
  tests/unit/server/test_auth_provider_fallback.py
  tests/unit/server/test_batch_executor.py
  tests/unit/server/test_dependencies.py
  tests/unit/server/test_error_handlers.py
  tests/unit/server/test_oauth_state_csrf_routes.py
  tests/unit/server/test_rpc_method_security.py
  tests/unit/server/test_rpc_parity.py
  tests/unit/server/test_sentry_component.py
  tests/unit/server/test_token_manager_edge_cases.py
  tests/unit/server/test_token_rotation.py
  tests/unit/server/test_zone_helpers.py
Due: check-type-ignore

refactor(tests): Batch 8 — delete 7 remaining core mock-heavy tests (~2K lines)
  tests/unit/core/test_cross_zone_invalidation.py
  tests/unit/core/test_kernel_dispatch_parallel.py
  tests/unit/core/test_kernel_dispatch_trie.py
  tests/unit/core/test_kernel_dispatch_unregister.py
  tests/unit/core/test_lock_ordering.py
  tests/unit/core/test_object_store.py
  tests/unit/core/test_workspace_manager_permissions.py
Due: check-type-ignore

refactor(tests): Batch 9 — move 3 embedded tests → integration/core/
  tests/integration/core/__init__.py
  tests/integration/core/test_embedded.py
  tests/integration/core/test_embedded_cas.py
  tests/integration/core/test_embedded_namespaces_rebac.py
  tests/integration/storage/__init__.py
Due: check-type-ignore
