Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: rpc-parity, version-consistency

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/)

  - repo: local
    hooks:
      - id: rpc-parity
        name: RPC Parity Check
        entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
        language: system
        pass_filenames: false
        files: ^src/nexus/core/nexus_fs.*\.py$

      - id: version-consistency
        name: Version Consistency Check
        entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|src/nexus/__init__\.py)$

fix: Resolve mypy type errors and formatting issues
  src/nexus/core/nexus_fs_search.py
  src/nexus/server/rpc_server.py
Due: rpc-parity

fix: Add context parameter to RemoteNexusFS methods
  src/nexus/remote/client.py
Due: none

fix: Add noqa comment for unused search_mode parameter
  src/nexus/remote/client.py
Due: none

fix: Update NexusFilesystem Protocol to match ABC signatures
  src/nexus/skills/protocols.py
Due: none

Add LangGraph react agent example and fix ReBAC security bugs (#343)
  examples/langgraph/.gitignore
  examples/langgraph/check_backend.py
  examples/langgraph/langgraph.json
  examples/langgraph/langgraph_react_demo.py
  examples/langgraph/pyproject.toml
  examples/langgraph/react_agent.py
  examples/langgraph/requirements.txt
  examples/langgraph/setup_test_data.py
  src/nexus/core/filesystem.py
  src/nexus/core/nexus_fs_search.py
  src/nexus/remote/client.py
  src/nexus/server/rpc_server.py
  src/nexus/skills/protocols.py
Due: rpc-parity

Add list_registered_memories RPC endpoint and memory context support
  src/nexus/core/memory_api.py
  src/nexus/core/nexus_fs.py
  src/nexus/server/protocol.py
  src/nexus/server/rpc_server.py
Due: rpc-parity

Add list_registered_memories method to RemoteNexusFS client
  src/nexus/remote/client.py
Due: none

fixes
  .nexus-admin-env
  README.md
  examples/cli/agent_permissions_demo.sh
  examples/cli/rename_permissions_demo.sh
  examples/google_adk/comparison_with_langgraph.md
  examples/langgraph_integration/CHANGES.md
  examples/langgraph_integration/COMPARISON.md
  examples/langgraph_integration/QUICKSTART.md
  examples/langgraph_integration/README.md
  examples/langgraph_integration/SETUP.md
  examples/langgraph_integration/multi_agent_nexus.py
  examples/langgraph_integration/multi_agent_standard.py
  examples/langgraph_integration/requirements.txt
  examples/langgraph_integration/run_nexus_demo.sh
  scripts/create-api-key.py
  scripts/init-nexus-with-auth.sh
  src/nexus/__init__.py
  src/nexus/cli/commands/admin.py
  src/nexus/cli/commands/rebac.py
  src/nexus/core/entity_registry.py
  src/nexus/core/filesystem.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_versions.py
  src/nexus/core/permissions_enhanced.py
  src/nexus/core/rebac_manager.py
  src/nexus/remote/client.py
  src/nexus/sdk/__init__.py
  src/nexus/server/rpc_server.py
  src/nexus/skills/protocols.py
  src/nexus/storage/metadata_store.py
  src/nexus/storage/models.py
  src/nexus/sync.py
Due: rpc-parity, version-consistency

fixes
  docs/examples/index.md
  docs/examples/langgraph-migration.md
  examples/langgraph_integration/run_nexus_demo.sh
  mkdocs.yml
  scripts/init-nexus-with-auth.sh
  src/nexus/__init__.py
  src/nexus/core/filesystem.py
  tests/unit/storage/test_operation_log.py
  tests/unit/storage/test_time_travel.py
Due: version-consistency

fixes (#352)
  .nexus-admin-env
  README.md
  docs/examples/index.md
  docs/examples/langgraph-migration.md
  examples/cli/agent_permissions_demo.sh
  examples/cli/rename_permissions_demo.sh
  examples/google_adk/comparison_with_langgraph.md
  examples/langgraph_integration/CHANGES.md
  examples/langgraph_integration/COMPARISON.md
  examples/langgraph_integration/QUICKSTART.md
  examples/langgraph_integration/README.md
  examples/langgraph_integration/SETUP.md
  examples/langgraph_integration/multi_agent_nexus.py
  examples/langgraph_integration/multi_agent_standard.py
  examples/langgraph_integration/requirements.txt
  examples/langgraph_integration/run_nexus_demo.sh
  mkdocs.yml
  scripts/create-api-key.py
  scripts/init-nexus-with-auth.sh
  src/nexus/__init__.py
  src/nexus/cli/commands/admin.py
  src/nexus/cli/commands/rebac.py
  src/nexus/core/entity_registry.py
  src/nexus/core/filesystem.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_versions.py
  src/nexus/core/permissions_enhanced.py
  src/nexus/core/rebac_manager.py
  src/nexus/remote/client.py
  src/nexus/sdk/__init__.py
  src/nexus/server/rpc_server.py
  src/nexus/skills/protocols.py
  src/nexus/storage/metadata_store.py
  src/nexus/storage/models.py
  src/nexus/sync.py
  tests/unit/storage/test_operation_log.py
  tests/unit/storage/test_time_travel.py
Due: rpc-parity, version-consistency

memeory
  .nexus-admin-env
  examples/cli/namespace_memory_demo.sh
  examples/cli/permissions_demo_enhanced.sh
  src/nexus/cli/commands/memory.py
  src/nexus/cli/commands/server.py
  src/nexus/core/ace/consolidation.py
  src/nexus/core/hierarchy_manager.py
  src/nexus/core/memory_api.py
  src/nexus/core/memory_router.py
  src/nexus/core/nexus_fs_rebac.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  src/nexus/server/rpc_server.py
  src/nexus/storage/models.py
Due: rpc-parity

memeory (#353)
  .nexus-admin-env
  examples/cli/namespace_memory_demo.sh
  examples/cli/permissions_demo_enhanced.sh
  src/nexus/cli/commands/memory.py
  src/nexus/cli/commands/server.py
  src/nexus/core/ace/consolidation.py
  src/nexus/core/hierarchy_manager.py
  src/nexus/core/memory_api.py
  src/nexus/core/memory_router.py
  src/nexus/core/nexus_fs_rebac.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  src/nexus/server/rpc_server.py
  src/nexus/storage/models.py
Due: rpc-parity

memeory
  .nexus-admin-env
  examples/cli/namespace_memory_demo.sh
Due: none

memeory
  .nexus-admin-env
  examples/cli/agent_permissions_inheritance_demo.sh
  src/nexus/core/nexus_fs.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
Due: rpc-parity

Memeory (#354)
  .nexus-admin-env
  examples/cli/agent_permissions_inheritance_demo.sh
  examples/cli/namespace_memory_demo.sh
  src/nexus/core/nexus_fs.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
Due: rpc-parity

fix tests, refactor
  .nexus-admin-env
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_versions.py
  tests/unit/core/ace/test_ace_components.py
  tests/unit/core/ace/test_ace_init.py
  tests/unit/core/ace/test_consolidation.py
  tests/unit/core/test_agents.py
  tests/unit/core/test_nexus_fs_versions.py
  tests/unit/core/test_sessions.py
  tests/unit/mcp/test_mcp_init.py
  tests/unit/mcp/test_mcp_server.py
Due: rpc-parity

Memeory (#355)
  .nexus-admin-env
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_versions.py
  tests/unit/core/ace/test_ace_components.py
  tests/unit/core/ace/test_ace_init.py
  tests/unit/core/ace/test_consolidation.py
  tests/unit/core/test_agents.py
  tests/unit/core/test_nexus_fs_versions.py
  tests/unit/core/test_sessions.py
  tests/unit/mcp/test_mcp_init.py
  tests/unit/mcp/test_mcp_server.py
Due: rpc-parity

Optimize readdir performance and fix context propagation in is_directory
  examples/e2b/.gitignore
  examples/e2b/e2b.Dockerfile
  examples/langgraph/nexus_tools.py
  examples/langgraph/pyproject.toml
  src/nexus/core/filesystem.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_search.py
  src/nexus/core/permissions.py
  src/nexus/fuse/operations.py
  src/nexus/server/rpc_server.py
  tests/unit/core/test_hierarchical_list.py
Due: rpc-parity

Remove example files from readdir optimization PR
  examples/e2b/.gitignore
  examples/e2b/e2b.Dockerfile
  examples/langgraph/nexus_tools.py
  examples/langgraph/pyproject.toml
Due: none

Fix RemoteNexusFS.is_directory signature to match protocol
  src/nexus/remote/client.py
Due: none

Fix tests for is_directory context parameter changes
  src/nexus/fuse/operations.py
  src/nexus/skills/protocols.py
  tests/unit/fuse/test_fuse_operations.py
  tests/unit/server/test_rpc_server.py
Due: none

Add E2B sandbox template documentation and setup script
  examples/e2b/.gitignore
  examples/e2b/README.md
  examples/e2b/e2b.Dockerfile
  examples/e2b/setup.sh
Due: none

Optimize readdir performance and fix context propagation (#356)
  src/nexus/core/filesystem.py
  src/nexus/core/memory_api.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_search.py
  src/nexus/core/permissions.py
  src/nexus/fuse/operations.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  src/nexus/server/rpc_server.py
  src/nexus/skills/protocols.py
  tests/unit/core/test_hierarchical_list.py
  tests/unit/fuse/test_fuse_operations.py
  tests/unit/server/test_rpc_server.py
Due: rpc-parity

Add LangGraph authentication via metadata and demo script improvements
  .gitignore
  .nexus-admin-env
  demo.sh
  examples/langgraph/nexus_tools.py
  examples/langgraph/react_agent.py
  scripts/init-nexus-with-auth.sh
  stop-demo.sh
Due: none

Fix test authentication to use metadata instead of configurable
  examples/langgraph/react_agent.py
Due: none

Add E2B sandbox template documentation and setup (#357)
  examples/e2b/.gitignore
  examples/e2b/README.md
  examples/e2b/e2b.Dockerfile
  examples/e2b/setup.sh
Due: none
