Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

build(kernel): align runtime dependency revisions
  Cargo.lock
  Cargo.toml
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

fix(zones): fail closed on stale membership
  charts/nexus-hub/README.md
  charts/nexus-hub/templates/nexus-deployment.yaml
  charts/nexus-hub/values.yaml
  contracts/auth/v1/error-codes.json
  contracts/source-lock.gen.json
  docker-compose.yml
  dockerfiles/compose.yaml
  dockerfiles/docker-compose.evaluation.yml
  src/nexus/cli/data/nexus-stack.yml
  src/nexus/contracts/zone_v1.py
  src/nexus/server/api/v2/routers/zone_grants.py
  src/nexus/server/api/v2/zone_security.py
  src/nexus/server/lifespan/zone_control.py
  src/nexus/services/zones/authz.py
  src/nexus/services/zones/membership.py
  src/nexus/services/zones/service.py
  src/nexus/services/zones/session_runtime.py
  src/nexus/services/zones/worker.py
  tests/e2e/conftest.py
  tests/e2e/server/test_session_runtime_p1a_e2e.py
  tests/e2e/server/test_zone_routes_e2e.py
  tests/e2e/server/test_zone_v2_fault_injection_e2e.py
  tests/e2e/server/test_zone_v2_p0_matrix_e2e.py
  tests/unit/server/test_zone_v2_api.py
  tests/unit/services/test_zone_membership.py
  tests/unit/services/test_zone_service.py
Due: check-file-size, check-type-ignore

feat(auth): bind delegations to scoped grants
  alembic/versions/add_zone_delegation_scope.py
  contracts/auth/v1/error-codes.json
  contracts/auth/v1/zone-delegation-issue-request.schema.json
  contracts/auth/v1/zone-delegation-scope-rule.schema.json
  contracts/auth/v1/zone-delegation.schema.json
  contracts/fixtures/compatibility/previous-minor.json
  contracts/fixtures/invalid/cases.json
  contracts/fixtures/openapi/zone-v2.openapi.json
  contracts/fixtures/roundtrip/cases.json
  contracts/fixtures/valid/cases.json
  contracts/manifests/zone-v1.manifest.gen.json
  contracts/manifests/zone-v1.meta.json
  contracts/runtime/v2/runtime-resource-scope.schema.json
  contracts/tools/sync_vendor.py
  packages/nexus-api-client/src/index.ts
  packages/nexus-api-client/src/zones.ts
  packages/nexus-api-client/tests/zones.test.ts
  src/nexus/contracts/zone_v1.py
  src/nexus/server/api/v2/models/zones.py
  src/nexus/server/api/v2/routers/sessions.py
  src/nexus/server/api/v2/routers/zone_grants.py
  src/nexus/server/api/v2/zone_security.py
  src/nexus/server/lifespan/zone_control.py
  src/nexus/services/zones/authz.py
  src/nexus/services/zones/session_runtime.py
  src/nexus/services/zones/worker.py
  src/nexus/storage/models/zone_v1.py
  tests/contracts/conftest.py
  tests/contracts/test_adapter_conformance.py
  tests/e2e/server/test_session_runtime_p1a_e2e.py
  tests/e2e/server/test_session_runtime_p1b_e2e.py
  tests/e2e/server/test_zone_v2_p0_matrix_e2e.py
  tests/migrations/test_zone_v1_storage.py
  tests/unit/services/test_zone_service.py
Due: check-file-size, check-type-ignore

fix(contracts): use portable delegation timestamp
  contracts/auth/v1/zone-delegation.schema.json
  contracts/manifests/zone-v1.manifest.gen.json
Due: none

build(kernel): pin cohost sudocode-tools to scoped runtime revision
  Cargo.lock
Due: none

test(zones): cover the two missing §11.2 truth-table supplements
  tests/e2e/server/test_zone_v2_p0_matrix_e2e.py
  tests/unit/services/test_zone_service.py
Due: check-type-ignore

fix(zones): deprovision 清除 zone 业务数据与物化树 + blocker 详情 + 读端点 lifecycle 拒绝
  src/nexus/server/api/v2/routers/sessions.py
  src/nexus/server/api/v2/routers/zones.py
  src/nexus/server/lifespan/zone_control.py
  src/nexus/services/zones/service.py
  tests/e2e/server/test_zone_v2_p0_matrix_e2e.py
Due: check-file-size, check-type-ignore

build(zone): pin nexus-vfs to 62a9bcd4 and inline the zone-path contract
  Cargo.lock
  Cargo.toml
  contracts/auth/v1/zone-delegation-scope-rule.schema.json
  contracts/auth/v1/zone-grant-create-request.schema.json
  contracts/auth/v1/zone-grant.schema.json
  contracts/common/v1/resource-ref.schema.json
  contracts/common/v1/zone-path.schema.json
  contracts/fixtures/path-traversal/cases.json
  contracts/manifests/zone-v1.manifest.gen.json
  contracts/manifests/zone-v1.meta.json
  contracts/source-lock.gen.json
  contracts/tools/sync_vendor.py
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
  src/nexus/contracts/zone_v1.py
  tests/contracts/conftest.py
Due: check-file-size, check-type-ignore

fix(zones): flush ReBAC permission cache after v2 deprovision purges
  src/nexus/server/lifespan/zone_control.py
  src/nexus/services/zones/service.py
Due: check-file-size, check-type-ignore

ci(zone): align workflow Python with requires-python >=3.14
  .github/workflows/contracts.yml
  .github/workflows/zone-v1.yml
Due: none

ci(zone): fix the 3.14 sync path and the contracts venv
  .github/workflows/contracts.yml
  .github/workflows/zone-v1.yml
Due: none

ci(zone): drop the explicit uv venv (setup-uv pre-creates .venv) + add venv diagnostics
  .github/workflows/contracts.yml
  .github/workflows/zone-v1.yml
Due: none

ci(contracts): repair the install step damaged by the previous sed edit
  .github/workflows/contracts.yml
Due: none

ci(zone): run the contract lint through uvx (CI venv resolved without ruff)
  .github/workflows/zone-v1.yml
Due: none

ci(zone): settle the develop-governance gaps surfaced by the first full CI pass
  Dockerfile
  dockerfiles/Dockerfile.federation-test
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  tests/e2e/server/test_zone_v2_fault_injection_e2e.py
  tests/e2e/server/test_zone_v2_p0_matrix_e2e.py
  tests/migrations/test_zone_inventory.py
  tests/unit/storage/test_model_imports.py
Due: check-type-ignore

ci(zone): ruff-format the zone files and fill the surface-matrix governance metadata
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  src/nexus/cli/commands/zone.py
  src/nexus/cli/utils.py
  src/nexus/server/api/v2/routers/sessions.py
  src/nexus/server/api/v2/routers/zones.py
  src/nexus/server/api/v2/zone_security.py
  src/nexus/server/fastapi_server.py
  src/nexus/services/zones/service.py
  src/nexus/services/zones/session_runtime.py
  src/nexus/services/zones/session_tasks.py
  tests/e2e/conftest.py
  tests/e2e/server/test_zone_v2_fault_injection_e2e.py
  tests/e2e/server/test_zone_v2_p0_matrix_e2e.py
  tests/unit/remote/test_zone_runtime_client.py
Due: check-file-size, check-type-ignore

ci(zone): track the vfs size-budget raise and fix the sessions mypy rebind
  .github/workflows/test.yml
  src/nexus/server/api/v2/routers/sessions.py
Due: check-file-size, check-type-ignore

build(zone): refresh source-lock for the unified companion-line pin
  contracts/source-lock.gen.json
Due: none

build(zone): refresh source-lock for the 8c59f01a1 companion pin
  contracts/source-lock.gen.json
Due: none

fix(vault): pass the caller ctx to sys_setattr in the grpc e2e fixture
  rust/services/vault/tests/grpc_e2e.rs
Due: none

fix(zone): commit the relocked Cargo.lock and finish the sessions payload rename
  Cargo.lock
  src/nexus/server/api/v2/routers/sessions.py
Due: check-file-size, check-type-ignore

ci(zone): put the cloned kernel on PATH for the ServerHarness suites
  .github/workflows/zone-v1.yml
Due: none

test(sdk): cover the full ZoneClient surface
  packages/nexus-api-client/tests/zones.test.ts
Due: none

build(zone): refresh source-lock and relock for the 32712554f companion pin
  Cargo.lock
  contracts/source-lock.gen.json
Due: none

build(zone): pin nexus-vfs to f7ff51c8 (one-zone-one-mount + CI fallout fixes)
  Cargo.lock
  Cargo.toml
  Dockerfile
  contracts/source-lock.gen.json
  dockerfiles/Dockerfile.federation-test
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

ci(zone): track the vfs cluster size budget at 17.75 MiB
  .github/workflows/test.yml
Due: none

fix(zones): gate the not-armed hard failure on explicit opt-in only
  src/nexus/server/lifespan/zone_control.py
Due: check-file-size, check-type-ignore

fix(zones): reconcile instead of failing on the runtime's PENDING refusal
  src/nexus/remote/zone_runtime_client.py
Due: check-file-size, check-type-ignore

build(zone): pin nexus-vfs to 93187cc1 (orphaned-PENDING takeover)
  Cargo.lock
  Cargo.toml
  Dockerfile
  contracts/source-lock.gen.json
  dockerfiles/Dockerfile.federation-test
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

fix(zone): close the legacy create door's gaps against the v2 admission model
  src/nexus/server/auth/zone_routes.py
  src/nexus/services/zones/service.py
  tests/unit/server/test_zone_v2_api.py
  tests/unit/services/test_zone_service.py
Due: check-file-size, check-type-ignore

fix(zone): remove the orphaned PolicyGate zone-access bypass
  src/nexus/server/auth/zone_routes.py
Due: check-file-size, check-type-ignore

fix(zone): advance the authorization epoch with an atomic UPDATE
  src/nexus/services/zones/service.py
  tests/unit/services/test_zone_service.py
Due: check-file-size, check-type-ignore

fix(zone): make the create saga's recovery, fencing and failure states honest
  src/nexus/remote/rpc_transport.py
  src/nexus/remote/zone_runtime_client.py
  src/nexus/services/zones/service.py
  src/nexus/services/zones/worker.py
  tests/unit/services/test_zone_service.py
Due: check-file-size, check-type-ignore

fix(zone): close the projection lifecycle's race and cross-zone leaks
  alembic/versions/add_zone_v1_canonical_storage.py
  src/nexus/services/zones/service.py
  src/nexus/storage/models/zone_v1.py
  tests/migrations/test_zone_v1_storage.py
  tests/unit/services/test_zone_service.py
Due: check-file-size, check-type-ignore

fix(zone): idempotency races surface as 409, grant sources are per-zone
  alembic/versions/add_zone_v1_canonical_storage.py
  src/nexus/services/zones/service.py
  src/nexus/storage/models/zone_v1.py
  tests/unit/services/test_zone_service.py
Due: check-file-size, check-type-ignore

fix(zone): revive an unmounted row when the same mount triple remounts
  src/nexus/services/zones/service.py
  tests/unit/services/test_zone_service.py
Due: check-file-size, check-type-ignore

fix(zone): authorization semantics — token scope, suspend gate, delegation honesty
  src/nexus/contracts/zone_v1.py
  src/nexus/server/api/v2/routers/sessions.py
  src/nexus/server/api/v2/routers/zone_grants.py
  src/nexus/server/api/v2/routers/zone_runtime.py
  src/nexus/server/api/v2/routers/zones.py
  src/nexus/server/api/v2/zone_security.py
  src/nexus/server/auth/zone_routes.py
  src/nexus/services/zones/authz.py
  src/nexus/services/zones/service.py
  tests/unit/services/test_zone_service.py
Due: check-file-size, check-type-ignore

fix(zone): session runtime state machine — terminal guards, convergence, per-name paths
  alembic/versions/add_zone_v1_canonical_storage.py
  src/nexus/services/zones/session_runtime.py
  src/nexus/services/zones/session_tasks.py
  src/nexus/storage/models/zone_v1.py
  tests/unit/services/test_session_runtime.py
Due: check-file-size, check-type-ignore

fix(zone): one deletion contract across both doors, one 422 shape owner
  src/nexus/server/api/v2/routers/zones.py
  src/nexus/server/auth/zone_routes.py
  src/nexus/server/fastapi_server.py
  tests/e2e/server/test_zone_deprovision_e2e.py
  tests/e2e/server/test_zone_deprovision_permissions_wiring.py
  tests/e2e/server/test_zone_routes_e2e.py
  tests/unit/server/test_zone_v2_api.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
