Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

docs: delete moved-to-nexus-vfs redirect stubs
  docs/architecture/KERNEL-ARCHITECTURE.md
  docs/architecture/federation-memo.md
  docs/architecture/llm-cas-kv-cache.md
  docs/architecture/lock-architecture.md
  docs/architecture/syscall-design.md
Due: none

docs: update cross-references to point at nexus-vfs
  .github/PULL_REQUEST_TEMPLATE.md
  .pre-commit-hooks/check_syscall_boundary.py
  dockerfiles/docker-compose.dynamic-federation-test.yml
  mkdocs.yml
  rust/services/src/lib.rs
  src/nexus/bricks/context_manifest/__init__.py
  src/nexus/contracts/protocols/chunked_upload.py
  src/nexus/contracts/protocols/entity_registry.py
  src/nexus/contracts/protocols/mcp.py
  src/nexus/contracts/protocols/mount_persist.py
  src/nexus/contracts/protocols/parse.py
  src/nexus/contracts/protocols/payment.py
  src/nexus/contracts/protocols/permission.py
  src/nexus/contracts/protocols/permission_enforcer.py
  src/nexus/contracts/protocols/scheduler.py
  src/nexus/contracts/protocols/service_lifecycle.py
  src/nexus/contracts/wirable_fs.py
  src/nexus/server/lifespan/_async_engines.py
  src/nexus/services/audit_node/__init__.py
Due: check-file-size, check-type-ignore

docs: add service-driver deployment matrix
  docs/architecture/service-driver-deployment-matrix.md
Due: none

ci(#4314): collapse e2e-redis to single-job pattern
  .github/workflows/test.yml
Due: none

ci(#4314): collapse rpc-parity to single-job pattern
  .github/workflows/test.yml
Due: none

ci(#4314): collapse code-quality.yml dup-name pairs to single-job pattern
  .github/workflows/code-quality.yml
Due: none

ci(#4314): delete dup-name skip-pass jobs from test.yml (checkpoint)
  .github/workflows/test.yml
Due: none

ci(#4314): collapse test (Python matrix) to single-job pattern
  .github/workflows/test.yml
Due: none

ci(#4314): collapse e2e-nats to single-job pattern
  .github/workflows/test.yml
Due: none

ci(#4314): collapse e2e-self-contained to single-job pattern
  .github/workflows/test.yml
Due: none

ci(#4314): collapse e2e-docker to single-job pattern
  .github/workflows/test.yml
Due: none

ci(#4314): collapse e2e-postgres to single-job pattern
  .github/workflows/test.yml
Due: none

ci(#4314): collapse nexusd-cluster-smoke to single-job pattern
  .github/workflows/test.yml
Due: none

ci(#4314): collapse migration-test (SQLite) to single-job pattern
  .github/workflows/test.yml
Due: none

ci(#4314): collapse migration-test-pg to single-job pattern
  .github/workflows/test.yml
Due: none

chore: retarget justfile setup/doctor at nexus-vfs install path
  justfile
Due: none

docs(cli): rewrite nexusd section for nexusd-cluster Rust binary
  docs/architecture/cli-design.md
Due: none

docs(architecture): cross-machine federation runbook (replaces discussion #2596)
  docs/architecture/federation-cross-machine-runbook.md
Due: none

feat(#733): convert vault from standalone binary to cdylib plugin
  .github/workflows/vault-binary.yml
  .github/workflows/vault-plugin-build.yml
  .github/workflows/vault-plugin.yml
  Cargo.lock
  Cargo.toml
  docs/architecture/federation-cross-machine-runbook.md
  docs/architecture/password-vault-integration.md
  docs/architecture/service-driver-deployment-matrix.md
  rust/profiles/vault/Cargo.toml
  rust/profiles/vault/src/lib.rs
  rust/profiles/vault/src/main.rs
  rust/services/Cargo.toml
  rust/services/src/password_vault/mod.rs
Due: none

test(#733): add plugin dispatch E2E tests for vault cdylib
  rust/profiles/vault/Cargo.toml
  rust/profiles/vault/src/lib.rs
Due: none

style: cargo fmt vault dispatch tests
  rust/profiles/vault/src/lib.rs
Due: none

fix: resolve clippy redundant_closure warnings in vault dispatch
  rust/profiles/vault/src/lib.rs
Due: none

fix(docker): pin nexusd-cluster rev so edge E2E gets a bridge-2 cluster
  Dockerfile
Due: none

test(e2e): runbook E2E suite scaffold + module fixtures
  tests/e2e/docker/test_federation_runbook.py
Due: check-type-ignore

test(e2e): runbook_helpers — gRPC + raft catch-up gates, no silent skips
  tests/e2e/docker/runbook_helpers.py
Due: check-type-ignore

test(e2e): TestFounderBootstrap convergence + zero leader-forward warnings
  tests/e2e/docker/test_federation_runbook.py
Due: check-type-ignore

feat(dockerfiles): Dockerfile.federation-test runbook test runner
  dockerfiles/Dockerfile.federation-test
Due: none

feat(dockerfiles): docker-compose.federation-runbook.yml — 3-voter HA
  dockerfiles/docker-compose.federation-runbook.yml
Due: none

test(e2e): TestFounderBootstrap — switch to typed vfs_write/vfs_read/vfs_stat
  tests/e2e/docker/test_federation_runbook.py
Due: check-type-ignore

test(e2e): TestFounderBootstrap — write self_address + read byte-exact
  tests/e2e/docker/test_federation_runbook.py
Due: check-type-ignore

test(e2e): TestJoinerCrossNodeReadRunbook — text payload byte-exact via CLI join
  tests/e2e/docker/test_federation_runbook.py
Due: check-type-ignore

chore(dockerfiles): delete docker-compose.dynamic-federation-test.yml
  dockerfiles/docker-compose.dynamic-federation-test.yml
Due: none

ci(federation-e2e): SSOT runtime config — drop runner knobs from compose
  dockerfiles/docker-compose.federation-runbook.yml
Due: none

test(e2e): strip ANSI escapes before validator-bypass signature match
  tests/e2e/docker/test_federation_runbook.py
Due: check-type-ignore

test(e2e): run offline join in a transient sidecar container
  tests/e2e/docker/runbook_helpers.py
  tests/e2e/docker/test_federation_runbook.py
Due: check-type-ignore

test(e2e): TestWitnessQuorumHA — founder recovery resyncs via AppendEntries
  tests/e2e/docker/test_federation_runbook.py
Due: check-type-ignore

test(e2e): TestRestartReplay — zero data loss on SIGTERM during pending writes
  tests/e2e/docker/test_federation_runbook.py
Due: check-type-ignore

ci(federation-e2e): force compose build onto docker-daemon builder for inter-image deps
  .github/workflows/federation-e2e.yml
Due: none

test(e2e): fetch_node_id via boot-log scrape instead of binary file read
  tests/e2e/docker/runbook_helpers.py
Due: check-type-ignore

test(e2e): TestWitnessQuorumHA — kill founder, joiner + witness keep quorum
  tests/e2e/docker/test_federation_runbook.py
Due: check-type-ignore
