Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(#516): update test_token_rotation zone_id from "default" to "root"
  tests/unit/server/test_token_rotation.py
Due: check-type-ignore

feat(#1428): context manifest review fixes — DRY, typed protocols, thread pool (#1644)
  src/nexus/server/api/v2/routers/manifest.py
  src/nexus/services/context_manifest/executors/__init__.py
  src/nexus/services/context_manifest/executors/executor_utils.py
  src/nexus/services/context_manifest/executors/file_glob.py
  src/nexus/services/context_manifest/executors/memory_query.py
  src/nexus/services/context_manifest/executors/workspace_snapshot.py
  src/nexus/services/context_manifest/resolver.py
  src/nexus/services/protocols/context_manifest.py
  src/nexus/storage/models/filesystem.py
  tests/unit/server/api/v2/test_manifest_api.py
  tests/unit/services/test_context_manifest/test_concurrent_resolver.py
  tests/unit/services/test_context_manifest/test_executor_utils.py
  tests/unit/services/test_context_manifest/test_factory_wiring.py
  tests/unit/services/test_context_manifest/test_manifest_router.py
  tests/unit/services/test_context_manifest/test_thread_pool_delegation.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for a6624f4d32209505b734ea7737eb7da2ec3ad189
  dev/bench/data.js
Due: none

fix(#462): replace raw SQL text() with ORM update() in tiger expander
  src/nexus/services/permissions/cache/tiger/expander.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 65e29c8c4458389455059772a0cb3122d1a9f625
  dev/bench-full/data.js
Due: none

add Benchmark (pytest) benchmark result for 97e0cef0f1a89e91b7dc1dae2993a42e2f13fbaa
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for a6624f4d32209505b734ea7737eb7da2ec3ad189
  dev/bench-full/data.js
Due: none

fix(#1601): update test to expect RuntimeError from factory delegation
  tests/unit/backends/test_registry.py
Due: check-type-ignore

fix(#464): replace raw SQL cursor.execute/text() with ORM in revision.py
  src/nexus/services/permissions/consistency/revision.py
  src/nexus/services/permissions/rebac_manager_enhanced.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 8ce02c72d2e42989f364fa51b114bb8600a332a3
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 97e0cef0f1a89e91b7dc1dae2993a42e2f13fbaa
  dev/bench-full/data.js
Due: none

add Benchmark (pytest) benchmark result for 8ce02c72d2e42989f364fa51b114bb8600a332a3
  dev/bench-full/data.js
Due: none

add Benchmark (pytest) benchmark result for 3a55c0c2ae998696802771a3de2799a7b8eda4b1
  dev/bench/data.js
Due: none

fix(#365): remove concrete driver exports from SDK __init__ (#1678)
  src/nexus/sdk/__init__.py
  tests/unit/sdk/test_sdk.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 3a55c0c2ae998696802771a3de2799a7b8eda4b1
  dev/bench-full/data.js
Due: none

add Benchmark (pytest) benchmark result for 36c56dae2e17d335e54ae1c741388713e4c26854
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 9a81442146b752efe55aa676b7fe2b3bd97e96a1
  dev/bench/data.js
Due: none

fix(#347): replace raw SQL cursor.execute with ORM in rebac_service.py
  src/nexus/services/rebac_service.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 36c56dae2e17d335e54ae1c741388713e4c26854
  dev/bench-full/data.js
Due: none

add Benchmark (pytest) benchmark result for 04acb55e6820f73c5992af6856c340ca70f56c0f
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 0de5cc4a00055eeb670d6688c1b285c35fb3b24c
  dev/bench/data.js
Due: none

fix: update MCP resource tests for fastmcp 2.x compatibility
  pyproject.toml
  tests/unit/mcp/test_mcp_server_tools.py
Due: check-type-ignore

add Benchmark (pytest) benchmark result for 04acb55e6820f73c5992af6856c340ca70f56c0f
  dev/bench-full/data.js
Due: none

add Benchmark (pytest) benchmark result for 9a81442146b752efe55aa676b7fe2b3bd97e96a1
  dev/bench-full/data.js
Due: none

fix(#1357): update tests to expect CreditsError propagation, not ProtocolError wrapping
  tests/unit/pay/test_nexuspay_sdk.py
  tests/unit/pay/test_payment_protocol.py
Due: check-type-ignore

fix(#398): remove direct sqlite3 imports from services layer
  src/nexus/services/permissions/cache/tiger/updater.py
  src/nexus/services/permissions/permissions_enhanced.py
  src/nexus/services/permissions/tuples/repository.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 0de5cc4a00055eeb670d6688c1b285c35fb3b24c
  dev/bench-full/data.js
Due: none

chore: move misplaced root-level tests to integration/, delete dead files
  tests/integration/test_auth_integration.py
  tests/integration/test_oauth_api_key_simple.py
  tests/integration/test_oauth_provision_integration.py
  tests/integration/test_user_auth.py
  tests/test_share_link_e2e.py
  tests/test_skills_segfault.sh
Due: check-type-ignore

fix(#463): replace 13 raw text() SQL queries with ORM in async_rebac_manager
  src/nexus/services/permissions/async_rebac_manager.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 8a1eebd0d7070ee855de4adf485b3092b409041e
  dev/bench/data.js
Due: none

add Benchmark (pytest) benchmark result for 6c9af215b6f096d106ccb828682628ca6663fcd1
  dev/bench/data.js
Due: none

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
