Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix(#2179): update import-linter config for bricks.rebac + restore EnhancedReBACManager alias
  pyproject.toml
  src/nexus/bricks/rebac/manager.py
  tests/unit/rebac/consistency/__init__.py
  tests/unit/rebac/consistency/test_shim_reexport.py
Due: check-file-size, check-type-ignore

fix(#2179): resolve mypy errors from protocol type changes
  pyproject.toml
  src/nexus/bricks/delegation/service.py
Due: check-file-size, check-type-ignore

fix(#2179): update factory test mock target from EnhancedReBACManager to ReBACManager
  tests/unit/test_factory.py
Due: check-type-ignore

feat(#2195): wire EventLog + Scheduler into system services boot tier
  src/nexus/core/config.py
  src/nexus/core/db_utils.py
  src/nexus/factory/_boot_context.py
  src/nexus/factory/_system.py
  src/nexus/factory/orchestrator.py
  src/nexus/server/lifespan/realtime.py
  src/nexus/server/lifespan/services.py
  src/nexus/services/scheduler/service.py
  tests/integration/core/test_factory_lifespan_wiring.py
  tests/unit/core/test_db_utils.py
  tests/unit/scheduler/test_astraea_service.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

fix(#2195): update expected SystemServices fields in test_kernel_config
  tests/unit/core/test_kernel_config.py
Due: check-type-ignore

fix(#2070): review-driven hardening — skip-warnings, dead key cleanup
  src/nexus/factory/orchestrator.py
  src/nexus/services/zone_finalizers/mount_finalizer.py
Due: check-file-size, check-type-ignore

feat(#2070): ordered zone cleanup — phase-aware finalizers, BrickDrain bridge, quality fixes
  src/nexus/factory/_system.py
  src/nexus/factory/orchestrator.py
  src/nexus/server/auth/zone_routes.py
  src/nexus/services/zone_finalizers/__init__.py
  src/nexus/services/zone_finalizers/brick_drain_finalizer.py
  src/nexus/services/zone_finalizers/cache_finalizer.py
  src/nexus/services/zone_finalizers/mount_finalizer.py
  src/nexus/services/zone_finalizers/search_finalizer.py
  src/nexus/services/zone_lifecycle.py
  tests/e2e/server/test_zone_deprovision_e2e.py
  tests/unit/services/test_zone_finalizer_compliance.py
  tests/unit/services/test_zone_finalizers.py
  tests/unit/services/test_zone_lifecycle.py
Due: check-file-size, check-type-ignore

feat(#2367): extract SearchableConnector and repurpose CachingConnectorContract
  src/nexus/core/protocols/__init__.py
  src/nexus/core/protocols/caching.py
  src/nexus/core/protocols/connector.py
Due: check-file-size, check-type-ignore

refactor(#2362): DRY CachingBackendWrapper metrics, add wrapper headers registry
  src/nexus/backends/caching_backend_wrapper.py
  src/nexus/backends/compressed_wrapper.py
  src/nexus/backends/delegating.py
  src/nexus/backends/encrypted_wrapper.py
  src/nexus/backends/wrapper_headers.py
Due: check-file-size, check-type-ignore

feat(#2362): add BackendFactory.wrap() and fix WrapperMetrics locking
  src/nexus/backends/factory.py
  src/nexus/backends/wrapper_metrics.py
Due: check-file-size, check-type-ignore

fix(#2362): address code review findings — remove misleading lock, document GIL assumption
  src/nexus/backends/caching_backend_wrapper.py
  src/nexus/backends/wrapper_headers.py
  src/nexus/backends/wrapper_metrics.py
Due: check-file-size, check-type-ignore

test(#2362,#2367): add chain, conformance, and perf tests
  tests/unit/backends/test_factory.py
  tests/unit/backends/test_protocol_conformance.py
  tests/unit/backends/test_searchable_connector.py
  tests/unit/backends/test_wrapper_chain.py
  tests/unit/cache/test_caching_backend_wrapper.py
Due: check-type-ignore

test(#2066): add CAS mock support to FakeLocalRaft and overlay InMemoryMetastore
  tests/e2e/self_contained/test_overlay_nexusfs.py
  tests/e2e/self_contained/test_raft_metadata_store.py
Due: check-type-ignore

feat(#2066): add version-based CAS to MetastoreABC for atomic OCC
  rust/nexus_raft/src/pyo3_bindings.rs
  rust/nexus_raft/src/raft/state_machine.rs
  src/nexus/core/metastore.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/raft/federated_metadata_proxy.py
  src/nexus/storage/raft_metadata_store.py
  tests/helpers/failing_metastore.py
  tests/helpers/in_memory_metadata_store.py
  tests/unit/core/test_metastore_cas.py
Due: check-file-size, check-type-ignore, rust-fmt-raft, rust-clippy-raft

fix(#2195): correct event_log import path to event_subsystem.log
  src/nexus/factory/_system.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

fix(#2195): guard against None database_url in scheduler init
  src/nexus/server/lifespan/services.py
Due: check-file-size, check-type-ignore

fix(#2070): remove CacheStoreABC import from bricks tier — architecture boundary
  src/nexus/services/zone_finalizers/cache_finalizer.py
Due: check-file-size, check-type-ignore

refactor(#2360): promote Scheduler from brick to always-started system service
  src/nexus/core/config.py
  src/nexus/factory/_system.py
  src/nexus/server/lifespan/services.py
  src/nexus/server/lifespan/services_container.py
  src/nexus/services/protocols/scheduler.py
  src/nexus/services/scheduler/service.py
  tests/unit/core/test_architectural_tier_placement.py
  tests/unit/core/test_kernel_config.py
  tests/unit/services/protocols/test_scheduler.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

fix(#2368): resolve skills brick TYPE_CHECKING import violations
  src/nexus/bricks/skills/importer.py
  src/nexus/bricks/skills/manager.py
  src/nexus/bricks/skills/models.py
  src/nexus/bricks/skills/registry.py
  src/nexus/bricks/skills/skill_generator.py
  src/nexus/bricks/skills/types.py
  tests/unit/parsers/test_provider_implementations.py
  tests/unit/parsers/test_validation_parsers.py
  tests/unit/skills/test_skills_zone_resolution.py
Due: check-file-size, check-type-ignore

refactor(#2368): delete skills backward-compat shim and update all consumers
  pyproject.toml
  src/nexus/__init__.py
  src/nexus/bricks/skills/__init__.py
  src/nexus/bricks/skills/analytics.py
  src/nexus/bricks/skills/audit.py
  src/nexus/bricks/skills/governance.py
  src/nexus/bricks/skills/importer.py
  src/nexus/bricks/skills/manager.py
  src/nexus/cli/commands/skills.py
  src/nexus/connectors/base.py
  src/nexus/factory/_wired.py
  src/nexus/mcp/__init__.py
  src/nexus/sdk/__init__.py
  src/nexus/services/protocols/filesystem.py
  src/nexus/services/protocols/skill_doc.py
  src/nexus/services/skills/skill_service.py
  src/nexus/skills/__init__.py
  tests/unit/contracts/test_contracts.py
  tests/unit/mcp/test_mcp_skills.py
  tests/unit/server/test_rpc_parity.py
  tests/unit/skills/test_protocol_compatibility.py
  tests/unit/skills/test_skill_analytics.py
  tests/unit/skills/test_skill_audit.py
  tests/unit/skills/test_skill_generator.py
  tests/unit/skills/test_skill_governance.py
  tests/unit/skills/test_skill_importer.py
  tests/unit/skills/test_skill_models.py
  tests/unit/skills/test_skills_brick_contract.py
  tests/unit/skills/test_skills_brick_integration.py
  tests/unit/skills/test_skills_concurrency.py
  tests/unit/skills/test_skills_zone_resolution.py
Due: check-file-size, check-type-ignore

fix(#2287): extract parsers utils, add thread safety, fix asyncio pattern
  src/nexus/parsers/brick.py
  src/nexus/parsers/markitdown_parser.py
  src/nexus/parsers/providers/llamaparse_provider.py
  src/nexus/parsers/providers/markitdown_provider.py
  src/nexus/parsers/utils.py
  tests/unit/parsers/test_parser_utils.py
Due: check-file-size, check-type-ignore
