Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

refactor(#1385): async facade + PermissionEnforcer protocol update (Steps 5-6)
  src/nexus/core/permissions.py
  src/nexus/rebac/async_manager.py
Due: check-file-size, check-type-ignore

refactor(#1385): complete 18 ReBACService stubs (Step 7)
  src/nexus/services/rebac_service.py
Due: check-file-size, check-type-ignore

refactor(#1385): WriteResult return type everywhere (Step 9)
  src/nexus/core/nexus_fs.py
  src/nexus/server/auth/user_helpers.py
Due: check-file-size, check-type-ignore

refactor(#1385): dead code audit + complete backward-compat shims (Step 11)
  src/nexus/rebac/async_manager.py
  src/nexus/rebac/async_permissions.py
  src/nexus/services/permissions/rebac_tracing.py
  tests/unit/core/test_async_rebac_manager_operations.py
Due: check-file-size, check-type-ignore

fix(#1385): fix pre-existing dcache revision bucket test (revision_window=2→5)
  tests/unit/core/test_namespace_dcache.py
Due: check-type-ignore

fix(#1385): increment zone revision in _write_tuple_zone_aware (cache invalidation bug)
  src/nexus/rebac/manager.py
  tests/e2e/server/test_write_back_permissions_e2e.py
Due: check-file-size, check-type-ignore

fix(#1385): AsyncReBACManager wraps sync manager + E2E namespace cache fix
  src/nexus/core/async_bridge.py
  src/nexus/server/fastapi_server.py
  tests/e2e/server/test_write_back_permissions_e2e.py
Due: check-file-size, check-type-ignore

fix(#1385): shimify services/permissions/cache/ to prevent dual-identity issues
  src/nexus/rebac/cache/coordinator.py
Due: check-file-size, check-type-ignore

fix(#1385): update zone_admin_helpers test mocks for WriteResult return type
  tests/unit/server/auth/test_zone_admin_helpers.py
Due: check-type-ignore

fix(#1385): resolve 24 mypy type errors across rebac extraction
  src/nexus/core/async_bridge.py
  src/nexus/rebac/async_manager.py
  src/nexus/rebac/async_permissions.py
  src/nexus/rebac/hierarchy_manager.py
  src/nexus/rebac/manager.py
  src/nexus/rebac/memory_permission_enforcer.py
  src/nexus/rebac/namespace_manager.py
  src/nexus/server/auth/user_helpers.py
  src/nexus/services/permissions/rebac_tracing.py
Due: check-file-size, check-type-ignore

fix(#1385): ruff format 4 files
  src/nexus/rebac/async_manager.py
  src/nexus/rebac/manager.py
  src/nexus/services/rebac_service.py
Due: check-file-size, check-type-ignore

fix(#1385): fix CROSS_ZONE_ALLOWED_RELATIONS import + ruff lint
  src/nexus/cli/commands/server.py
  src/nexus/core/async_bridge.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/rebac/batch/bulk_checker.py
  src/nexus/rebac/consistency/zone_manager.py
  src/nexus/rebac/manager.py
  src/nexus/rebac/memory_permission_enforcer.py
  src/nexus/server/rpc_server.py
  src/nexus/services/rebac_service.py
  tests/e2e/self_contained/test_persistent_view_factory_wiring.py
  tests/e2e/self_contained/test_persistent_view_store.py
  tests/e2e/server/test_agent_registry_pg_e2e.py
  tests/e2e/server/test_async_wrappers_e2e.py
  tests/e2e/server/test_nexuspay_server_e2e.py
  tests/unit/core/test_rebac_consistency_modes.py
  tests/unit/core/test_zone_boundary_security.py
Due: check-file-size, check-type-ignore

fix(#1385): fix bulk check dict return + namespace L3 invalidation
  src/nexus/rebac/async_manager.py
  src/nexus/rebac/async_permissions.py
  src/nexus/rebac/namespace_manager.py
Due: check-file-size, check-type-ignore

fix(#1717): fix E2E self-contained failures — kwarg name + timing threshold
  tests/e2e/self_contained/test_namespace_integration.py
  tests/e2e/self_contained/test_registration_flow.py
Due: check-type-ignore

add Benchmark (pytest) benchmark result for 84249b797236e0834e52933163651e839b4a677f
  dev/bench/data.js
Due: none

fix(#1717): fix self-contained E2E failures — IdentityCrypto kwarg + flaky perf test
  tests/e2e/self_contained/test_namespace_integration.py
Due: check-type-ignore

add Benchmark (pytest) benchmark result for 84249b797236e0834e52933163651e839b4a677f
  dev/bench-full/data.js
Due: none

test(#1520): add characterization tests + new abstractions for search brick
  src/nexus/search/config.py
  src/nexus/search/models.py
  src/nexus/search/protocols.py
  src/nexus/services/protocols/search.py
  tests/benchmarks/test_search_protocol_benchmark.py
  tests/unit/search/test_async_lifecycle.py
  tests/unit/search/test_brick_protocol.py
  tests/unit/search/test_error_paths.py
  tests/unit/search/test_file_reader_protocol.py
  tests/unit/search/test_search_config.py
  tests/unit/search/test_vector_db_split.py
Due: check-file-size, check-type-ignore

feat(#1626): add native batch_read_content to GCS and S3 backends
  src/nexus/backends/async_local.py
  src/nexus/backends/backend.py
  src/nexus/backends/gcs.py
  src/nexus/backends/local.py
  src/nexus/backends/s3_connector.py
  src/nexus/cache/backend_wrapper.py
  src/nexus/core/object_store.py
  tests/e2e/test_batch_optimization_e2e.py
  tests/unit/backends/test_batch_operations.py
  tests/unit/core/test_object_store.py
Due: check-file-size, check-type-ignore

refactor(#1520): inject FileReaderProtocol into SemanticSearch and Daemon
  src/nexus/factory.py
  src/nexus/search/daemon.py
  src/nexus/search/graph_retrieval.py
  src/nexus/search/graph_store.py
  src/nexus/search/semantic.py
  src/nexus/server/lifespan/search.py
  src/nexus/services/search_semantic.py
Due: check-file-size, check-type-ignore

docs: add agent OS kernel architecture review for external discussion
  docs/architecture/agent-os-kernel-review.md
Due: none

fix(#1717): add public get_zone_revision and list_tuples to ReBACManager
  src/nexus/rebac/manager.py
Due: check-file-size, check-type-ignore

fix(#579): replace hardcoded zone_id 'default' with 'root' in search router GraphStore
  src/nexus/server/api/v1/routers/search.py
Due: check-file-size, check-type-ignore

docs(#1767): add Service Lifecycle Model — Phase 1 (DI) + Phase 2 (LKM hot-swap)
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

fix(#574): replace raw Session with session_factory in MemoryVersioning
  src/nexus/services/memory/memory_api.py
  src/nexus/services/memory/versioning.py
Due: check-file-size, check-type-ignore

fix(#434): extract graph-enhanced search business logic from router to service
  src/nexus/server/api/v1/routers/search.py
  src/nexus/services/graph_search_service.py
Due: check-file-size, check-type-ignore

fix(#598): delete 8 deprecated POSIX permission stubs from method registry
  src/nexus/remote/async_client.py
  src/nexus/remote/method_registry.py
  src/nexus/remote/rpc_proxy.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
