Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

refactor(services): migrate test helpers from metastore_get to sys_stat
  rust/services/src/managed_agent/mod.rs
  rust/services/src/managed_agent/proc_entry.rs
Due: none

refactor(kernel): delete 10 dead metastore_* methods
  rust/kernel/src/kernel/locks.rs
  rust/kernel/src/kernel/mod.rs
Due: none

feat(s3): add endpoint_url, signature_version, get_mtime to S3Transport (#4266)
  src/nexus/backends/transports/s3_transport.py
  tests/unit/backends/test_s3_transport_endpoint_url.py
  tests/unit/backends/test_s3_transport_get_mtime.py
Due: check-file-size, check-type-ignore

feat(path_s3): thread endpoint_url/signature_version + expose metadata attrs (#4266)
  src/nexus/backends/storage/path_s3.py
  tests/unit/backends/test_path_s3_endpoint_url.py
  tests/unit/core/test_nexus_fs_metadata_s3.py
Due: check-file-size, check-type-ignore

fix(cas-gc): skip blobs with unknown mtime in legacy fallback (#4266)
  src/nexus/backends/engines/cas_gc.py
  src/nexus/backends/transports/s3_transport.py
  tests/unit/backends/test_cas_gc.py
Due: check-file-size, check-type-ignore

feat(path_s3): surface endpoint_url/signature_version in connector discovery metadata (#4266)
  src/nexus/backends/connectors/s3/_manifest.py
  src/nexus/extensions/_index/extensions.json
  tests/extensions/test_path_s3_manifest.py
Due: check-file-size, check-type-ignore

fix(s3): honor env region for custom endpoints; make CAS GC unsupported-mtime visible (#4266)
  src/nexus/backends/engines/cas_gc.py
  src/nexus/backends/storage/path_s3.py
  src/nexus/backends/transports/s3_transport.py
  tests/unit/backends/test_cas_gc.py
  tests/unit/backends/test_s3_transport_endpoint_url.py
Due: check-file-size, check-type-ignore

fix(s3): resolve region via full boto3 chain; warn on skipped CAS GC blobs (#4266)
  src/nexus/backends/engines/cas_gc.py
  src/nexus/backends/transports/s3_transport.py
  tests/unit/backends/test_cas_gc.py
  tests/unit/backends/test_s3_transport_endpoint_url.py
Due: check-file-size, check-type-ignore

fix(s3): recognize AWS_ENDPOINT_URL env for the auto-region fallback (#4266)
  src/nexus/backends/transports/s3_transport.py
  tests/unit/backends/test_path_s3_endpoint_url.py
  tests/unit/backends/test_s3_transport_endpoint_url.py
Due: check-file-size, check-type-ignore

fix(s3): honor AWS_REGION env in custom-endpoint region resolution (#4266)
  src/nexus/backends/transports/s3_transport.py
  tests/unit/backends/test_s3_transport_endpoint_url.py
Due: check-file-size, check-type-ignore

fix(s3): keep new endpoint_url/signature_version keyword-only to preserve constructor ABI (#4266)
  src/nexus/backends/storage/path_s3.py
  src/nexus/backends/transports/s3_transport.py
  tests/unit/backends/test_path_s3_endpoint_url.py
  tests/unit/backends/test_s3_transport_endpoint_url.py
Due: check-file-size, check-type-ignore

fix(path_s3): mirror the transport's effective endpoint_url (#4266)
  src/nexus/backends/storage/path_s3.py
  tests/unit/backends/test_path_s3_endpoint_url.py
Due: check-file-size, check-type-ignore

test(s3): skip boto3-dependent unit tests when botocore absent; cover resolution logic boto3-free (#4266)
  src/nexus/backends/transports/s3_transport.py
  tests/unit/backends/test_path_s3_endpoint_url.py
  tests/unit/backends/test_s3_region_resolution.py
  tests/unit/backends/test_s3_transport_endpoint_url.py
  tests/unit/core/test_nexus_fs_metadata_s3.py
Due: check-file-size, check-type-ignore

docs(#4259): replace migrated docs with nexus-vfs stubs
  docs/architecture/KERNEL-ARCHITECTURE.md
  docs/architecture/federation-memo.md
  docs/architecture/llm-cas-kv-cache.md
  docs/architecture/lock-architecture.md
  docs/architecture/syscall-design.md
Due: none

ci(#4259): remove stale RPC surfaces from api-rpc-surface-coverage.yaml
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

refactor(#4259): rewrite Cargo.toml — kernel deps from nexus-vfs git
  Cargo.lock
  Cargo.toml
  rust/services/build.rs
  rust/services/proto/nexus/password_vault/v1/password_vault.proto
Due: none

fix(#4259): cargo fmt --all for service-tier Rust crates
  rust/profiles/vault/src/main.rs
  rust/services/src/audit/mod.rs
  rust/services/src/audit_node/mod.rs
  rust/services/src/managed_agent/mod.rs
  rust/services/src/managed_agent/proc_entry.rs
  rust/services/src/managed_agent/workspace_boundary_hook.rs
  rust/services/src/matrix_adapter/media.rs
  rust/services/src/matrix_adapter/middleware.rs
  rust/services/src/matrix_adapter/pdu.rs
  rust/services/src/matrix_adapter/push.rs
  rust/services/src/matrix_adapter/room_id.rs
  rust/services/src/matrix_adapter/rooms.rs
  rust/services/src/matrix_adapter/router.rs
  rust/services/src/matrix_adapter/sync.rs
  rust/services/src/password_vault/crypto.rs
  rust/services/src/password_vault/mod.rs
  rust/services/src/password_vault/storage.rs
Due: none

ci(#4259): delete cluster binary CI workflows + update test.yml
  .github/workflows/cluster-binary-build.yml
  .github/workflows/cluster-binary.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

docs(#4259): update cross-references to nexus-vfs URLs
  docs/architecture/data-storage-matrix.md
  docs/architecture/nexus-integration-architecture.md
  docs/architecture/ops-scenario-matrix.md
  docs/architecture/password-vault-integration.md
Due: none

ci(#4259): fix all CI workflows for kernel Rust deletion
  .github/workflows/api-surface.yml
  .github/workflows/code-quality.yml
  .github/workflows/docker-build.yml
  .github/workflows/federation-e2e.yml
  .github/workflows/lint.yml
  .github/workflows/nexus-bench.yml
  .github/workflows/proto.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/vault-binary.yml
  Dockerfile
  buf.yaml
  tests/unit/ci/test_workflow_guards.py
Due: check-type-ignore

ci(#4259): update federation Dockerfiles to install from nexus-vfs
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.nexusd-cluster
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

feat(#4259): vault storage redb → kernel syscalls + new_with_kernel
  rust/services/src/password_vault/mod.rs
  rust/services/src/password_vault/storage.rs
Due: none

test(#4259): cross-repo E2E integration tests for vault → kernel
  rust/services/src/password_vault/mod.rs
Due: none

refactor(#4259): vault binary uses kernel + remove redb dep from services
  rust/profiles/vault/Cargo.toml
  rust/profiles/vault/src/main.rs
  rust/services/Cargo.toml
  rust/services/src/password_vault/mod.rs
  rust/services/src/password_vault/types.rs
Due: none

test(#4259): rewrite E2E tests per integration-test-generator standard
  rust/services/src/password_vault/mod.rs
Due: none

chore(#4259): update Cargo.lock — add kernel to vault, remove redb from services
  Cargo.lock
Due: none

style(#4259): cargo fmt — fix formatting in storage.rs and mod.rs
  rust/services/src/password_vault/mod.rs
  rust/services/src/password_vault/storage.rs
Due: none

fix(#4259): remove unused Storage::kernel() — clippy dead_code error
  rust/services/src/password_vault/storage.rs
Due: none

feat(search): add index_load_ms phase timing + opt-in index preload (#4269)
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  nexus-stack.yml
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/federated_search.py
  src/nexus/bricks/search/pg_fts_backend.py
  src/nexus/bricks/search/pg_vector_backend.py
  src/nexus/bricks/search/protocols.py
  src/nexus/bricks/search/sqlite_fts_backend.py
  src/nexus/bricks/search/sqlite_vec_backend.py
  src/nexus/server/api/v2/routers/search.py
  src/nexus/server/lifespan/search.py
  tests/unit/bricks/search/test_daemon_backend_routing.py
  tests/unit/bricks/search/test_daemon_index_preload.py
  tests/unit/server/routers/test_search_phase_timing.py
Due: check-file-size, check-type-ignore

refactor(#4271): DRY — single SSOT for _BACKEND_LEG_TIMING_KEYS
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/federated_search.py
  src/nexus/server/api/v2/routers/search.py
Due: check-file-size, check-type-ignore

chore(#4271): regenerate api-rpc-surface-coverage.yaml
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

fix(#4259): inject backend into Storage — fix production persistence
  Cargo.lock
  rust/profiles/vault/Cargo.toml
  rust/profiles/vault/src/main.rs
  rust/services/src/password_vault/mod.rs
  rust/services/src/password_vault/storage.rs
Due: none

ci: add repo-boundary gate forbidding kernel-tier paths
  .github/workflows/repo-boundary.yml
Due: none

test(#4267): pivot S3 parity harness moto->MinIO (Rust serves S3 I/O)
  docs/superpowers/specs/2026-06-02-issue-4267-s3-local-parity-design.md
  tests/integration/s3_parity/conftest.py
Due: check-type-ignore

test(#4267): link rename divergence follow-up #4306
  tests/integration/s3_parity/test_vfs_parity.py
Due: check-type-ignore

test(#4267): VFS ops parity (write/read/stat/delete/mkdir/rmdir/list/copy)
  tests/integration/s3_parity/test_vfs_parity.py
Due: check-type-ignore

test(#4267): parity harness + smoke (in-process S3-vs-local)
  tests/integration/s3_parity/__init__.py
  tests/integration/s3_parity/conftest.py
  tests/integration/s3_parity/test_vfs_parity.py
Due: check-type-ignore

test(#4267): range-read correctness parity (S3 vs local)
  tests/integration/s3_parity/test_range_parity.py
Due: check-type-ignore

docs(#4267): PR1 implementation plan (in-process S3-vs-local parity matrix)
  docs/superpowers/plans/2026-06-02-issue-4267-s3-parity-pr1.md
Due: none
