Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: rpc-parity, version-consistency

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/)

  - repo: local
    hooks:
      - id: rpc-parity
        name: RPC Parity Check
        entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
        language: system
        pass_filenames: false
        files: ^src/nexus/core/nexus_fs.*\.py$

      - id: version-consistency
        name: Version Consistency Check
        entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|src/nexus/__init__\.py)$

Fix custom API key registration in docker-entrypoint.sh
  docker-entrypoint.sh
Due: none

update
  examples/langgraph/react_agent.py
Due: none

Fix sandbox Docker network isolation in Docker Compose
  docker-start.sh
  examples/langgraph/react_agent.py
  src/nexus/core/sandbox_docker_provider.py
Due: none

Update QUICKSTART.md to include frontend repository cloning
  QUICKSTART.md
Due: none

Fix Docker sandbox provider tests by providing network_name
  tests/unit/core/test_sandbox_docker_provider.py
Due: none

Add dynamic_viewer permission with column-level access control for CSV files
  COLUMN_ORDER_PRESERVATION_UPDATE.md
  docs/reference/rebac-features.md
  src/nexus/__init__.py
  src/nexus/cli/commands/rebac.py
  src/nexus/cli/commands/server.py
  src/nexus/cli/utils.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_rebac.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  test_column_order.py
  test_dynamic_viewer_integration.py
  tests/unit/core/test_rebac.py
Due: rpc-parity, version-consistency

add memory api
  src/nexus/core/memory_api.py
Due: none

Fix memory user_id context parsing bug
  src/nexus/core/nexus_fs.py
Due: rpc-parity

add sandbox list with filter
  .gitignore
  LICENSE
  alembic/versions/1181bd287cc1_remove_sandbox_name_uniqueness_.py
  docs/api/cli/sandbox.md
  pyproject.toml
  src/nexus/cli/commands/sandbox.py
  src/nexus/core/filesystem.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/sandbox_docker_provider.py
  src/nexus/core/sandbox_manager.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  src/nexus/storage/models.py
Due: rpc-parity, version-consistency

add sandbox list with filter
  src/nexus/skills/protocols.py
  tests/unit/core/test_sandbox_docker_provider.py
  tests/unit/skills/test_protocol_compatibility.py
Due: none

add sandbox list with filter (#408)
  .gitignore
  LICENSE
  alembic/versions/1181bd287cc1_remove_sandbox_name_uniqueness_.py
  docs/api/cli/sandbox.md
  pyproject.toml
  src/nexus/cli/commands/sandbox.py
  src/nexus/core/filesystem.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/sandbox_docker_provider.py
  src/nexus/core/sandbox_manager.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  src/nexus/skills/protocols.py
  src/nexus/storage/models.py
  tests/unit/core/test_sandbox_docker_provider.py
  tests/unit/skills/test_protocol_compatibility.py
Due: rpc-parity, version-consistency

docs: Update AI development guidelines with modern session startup protocol
  .claude/CLAUDE.md
Due: none

update the langgraph agents
  examples/langgraph/nexus_tools.py
  examples/langgraph/react_agent.py
Due: none

docs: Add comprehensive Windows support to Docker quickstart guides
  DOCKER.md
  QUICKSTART.md
Due: none

fix(#410): Allow zero execution time for fast tests on Windows
  tests/unit/core/test_sandbox_docker_provider.py
Due: none
