Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

refactor(#1519): extract token rotation DB ops from server/auth to storage/
  src/nexus/server/auth/token_manager.py
  src/nexus/storage/token_rotation_store.py
Due: check-file-size, check-type-ignore

refactor(#1519): use context manager for session lifecycle in secrets_audit_logger
  src/nexus/storage/secrets_audit_logger.py
Due: check-file-size, check-type-ignore

refactor(#1588): Consolidate duplicate agent registries — AgentRegistry as single source of truth
  docs/concepts/agent-permissions.md
  scripts/create-agent-key.py
  src/nexus/core/agent_record.py
  src/nexus/core/agent_registry.py
  src/nexus/core/agents.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/workspace_registry.py
  src/nexus/server/api/v2/routers/delegation.py
  src/nexus/server/rpc_server.py
  src/nexus/services/delegation/service.py
  tests/integration/core/test_agent_registry_e2e.py
  tests/integration/core/test_agent_registry_server.py
  tests/integration/core/test_nexus_agent_registry.py
  tests/integration/delegation/test_delegation_full_e2e.py
  tests/integration/delegation/test_delegation_lifecycle.py
  tests/unit/core/test_agent_registry.py
  tests/unit/core/test_agents.py
  tests/unit/delegation/test_service.py
Due: check-file-size, check-type-ignore

refactor(#1519): add public accessors for metadata_cache, read_set_cache, read_set_registry
  src/nexus/cli/commands/cache.py
  src/nexus/core/nexus_fs.py
  src/nexus/server/api/v1/routers/cache.py
  src/nexus/services/gateway.py
Due: check-file-size, check-type-ignore

chore: fix pre-existing ruff format violations across codebase
  src/nexus/backends/sync_pipeline.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_events.py
  src/nexus/server/fastapi_server.py
  tests/integration/test_list_pagination.py
  tests/integration/test_nexusfs_distributed_lock.py
  tests/integration/test_timestamp_behavior.py
  tests/unit/backends/test_cache_mixin_sync_steps.py
  tests/unit/backends/test_service_map.py
  tests/unit/core/test_mount_directory_creation.py
  tests/unit/skills/test_skill_generator.py
Due: check-file-size, check-type-ignore

refactor(#1519): lazy-import zoekt_client in sync_pipeline (driver → service layer fix)
  src/nexus/backends/sync_pipeline.py
Due: check-file-size, check-type-ignore

refactor(#1519): extract server-layer fields from KernelServices to server_extras dict
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory.py
  src/nexus/server/api/v2/routers/manifest.py
  src/nexus/server/fastapi_server.py
Due: check-file-size, check-type-ignore

chore: fix pre-existing mypy errors in async_local.py and nexus_fs_events.py
  src/nexus/backends/async_local.py
  src/nexus/core/nexus_fs_events.py
Due: check-file-size, check-type-ignore

refactor(#1385): WriteResult return type everywhere (Step 9)
  src/nexus/core/nexus_fs.py
  src/nexus/server/auth/user_helpers.py
  src/nexus/services/protocols/permission.py
  tests/unit/core/test_rebac_revision_cache.py
Due: check-file-size, check-type-ignore

refactor(#1519): convert EntityRegistry top-level import to lazy in core/memory_router.py
  src/nexus/core/memory_router.py
Due: check-file-size, check-type-ignore

refactor(#1519): move 6 service top-level imports to lazy in core/nexus_fs.py
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor(#1385): dead code audit + complete backward-compat shims (Step 11)
  src/nexus/rebac/async_manager.py
  src/nexus/rebac/async_permissions.py
  src/nexus/services/permissions/async_namespace_manager.py
  src/nexus/services/permissions/async_permissions.py
  src/nexus/services/permissions/async_rebac_manager.py
  src/nexus/services/permissions/circuit_breaker.py
  src/nexus/services/permissions/deferred_permission_buffer.py
  src/nexus/services/permissions/entity_extractor.py
  src/nexus/services/permissions/entity_registry.py
  src/nexus/services/permissions/hierarchy_manager.py
  src/nexus/services/permissions/hotspot_detector.py
  src/nexus/services/permissions/memory_permission_enforcer.py
  src/nexus/services/permissions/namespace_factory.py
  src/nexus/services/permissions/namespace_manager.py
  src/nexus/services/permissions/permissions_enhanced.py
  src/nexus/services/permissions/rebac_manager_zone_aware.py
  src/nexus/services/permissions/rebac_tracing.py
  tests/unit/core/test_async_rebac_manager_operations.py
  tests/unit/services/permissions/test_rebac_tracing.py
Due: check-file-size, check-type-ignore

style(#1519): fix ruff format for 9 files + mypy attr-defined in events mixin
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_events.py
  tests/integration/test_list_pagination.py
  tests/integration/test_nexusfs_distributed_lock.py
  tests/integration/test_timestamp_behavior.py
  tests/unit/backends/test_cache_mixin_sync_steps.py
  tests/unit/backends/test_service_map.py
  tests/unit/core/test_mount_directory_creation.py
  tests/unit/skills/test_skill_generator.py
Due: check-file-size, check-type-ignore

fix(#1519): remove Backend inheritance from AsyncLocalBackend (mypy override errors)
  src/nexus/backends/async_local.py
Due: check-file-size, check-type-ignore

fix(#1385): fix pre-existing dcache revision bucket test (revision_window=2→5)
  tests/unit/core/test_namespace_dcache.py
Due: check-type-ignore

chore: reference issue #1588 in agent_registry docstring
  src/nexus/core/agent_registry.py
Due: check-file-size, check-type-ignore

fix(#1519): update tests for server_extras refactor (KernelServices)
  tests/unit/core/test_kernel_config.py
  tests/unit/server/api/v2/test_manifest_api.py
  tests/unit/test_factory.py
Due: check-type-ignore

chore: remove unused type: ignore comments after main merge
  src/nexus/backends/async_local.py
  src/nexus/core/nexus_fs_events.py
Due: check-file-size, check-type-ignore

fix(#1588): lazy-init _agent_registry in NexusFS
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

fix(#1385): update zone_admin_helpers test mocks for WriteResult return type
  tests/unit/server/auth/test_zone_admin_helpers.py
Due: check-type-ignore

feat(#1244): namespace dcache event-driven invalidation — L1/L2/L3 cache coherence
  src/nexus/cache/persistent_view_postgres.py
  src/nexus/core/persistent_view_store.py
  src/nexus/server/fastapi_server.py
  src/nexus/services/permissions/cache/coordinator.py
  src/nexus/services/permissions/namespace_manager.py
  src/nexus/services/permissions/rebac_manager_enhanced.py
  tests/e2e/test_namespace_dcache_e2e.py
  tests/integration/test_namespace_event_invalidation.py
  tests/unit/core/test_namespace_dcache.py
Due: check-file-size, check-type-ignore

fix(#1519): fix benchmark CI — skip missing base_url fixture + auto-create gh-pages
  .github/workflows/benchmark.yml
  tests/benchmarks/test_thread_pool_exhaustion.py
Due: check-type-ignore

refactor(#1588): Consolidate duplicate agent registries — single source of truth (#1611)
  docs/concepts/agent-permissions.md
  scripts/create-agent-key.py
  src/nexus/core/agent_record.py
  src/nexus/core/agent_registry.py
  src/nexus/core/agents.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/workspace_registry.py
  src/nexus/server/api/v2/routers/delegation.py
  src/nexus/server/rpc_server.py
  src/nexus/services/delegation/service.py
  tests/integration/core/test_agent_registry_e2e.py
  tests/integration/core/test_agent_registry_server.py
  tests/integration/core/test_nexus_agent_registry.py
  tests/integration/delegation/test_delegation_full_e2e.py
  tests/integration/delegation/test_delegation_lifecycle.py
  tests/unit/core/test_agent_registry.py
  tests/unit/core/test_agents.py
  tests/unit/delegation/test_service.py
Due: check-file-size, check-type-ignore

fix(#1519): set git identity in benchmark workflow for gh-pages creation
  .github/workflows/benchmark.yml
Due: none

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
