Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

refactor(rust): rename library/ → lib/ + add python feature gate
  Cargo.lock
  Cargo.toml
  rust/kernel/Cargo.toml
  rust/kernel/benches/prefix_bench.rs
  rust/kernel/src/backend.rs
  rust/kernel/src/cas_chunking.rs
  rust/kernel/src/cas_engine.rs
  rust/kernel/src/cas_remote.rs
  rust/kernel/src/cas_transport.rs
  rust/kernel/src/hash.rs
  rust/kernel/src/rebac.rs
  rust/kernel/src/search.rs
  rust/kernel/src/trigram.rs
  rust/library/Cargo.toml
  rust/library/src/bitmap.rs
  rust/library/src/bloom.rs
  rust/library/src/glob.rs
  rust/library/src/hash.rs
  rust/library/src/lib.rs
  rust/library/src/rebac/config.rs
  rust/library/src/rebac/graph.rs
  rust/library/src/rebac/mod.rs
  rust/library/src/rebac/tests.rs
  rust/library/src/search/grep.rs
  rust/library/src/search/literal.rs
  rust/library/src/search/mod.rs
  rust/library/src/trigram/builder.rs
  rust/library/src/trigram/error.rs
  rust/library/src/trigram/extract.rs
  rust/library/src/trigram/format.rs
  rust/library/src/trigram/mod.rs
  rust/library/src/trigram/posting.rs
  rust/library/src/trigram/query.rs
  rust/library/src/trigram/writer.rs
  rust/library/src/types.rs
Due: none

fix(kernel): drop stale backend_name + 5th arg from sys_unlink mount test
  rust/kernel/src/kernel.rs
Due: none

fix(cluster): pass learner=false in CLI join_zone call
  rust/cluster/src/main.rs
Due: none

refactor(kernel): Phase B — split Backend/Stream/Pipe traits to core/traits/
  rust/kernel/src/_backend_impls.rs
  rust/kernel/src/backend.rs
  rust/kernel/src/core/mod.rs
  rust/kernel/src/core/traits/mod.rs
  rust/kernel/src/core/traits/object_store.rs
  rust/kernel/src/core/traits/pipe_backend.rs
  rust/kernel/src/core/traits/stream_backend.rs
  rust/kernel/src/lib.rs
  rust/kernel/src/pipe.rs
  rust/kernel/src/stream.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/kernel_protocols.py
Due: check-file-size, check-type-ignore

refactor(kernel,backends): Phase D start — lift LlmStreamingBackend trait + add backends crate skeleton
  Cargo.lock
  Cargo.toml
  rust/backends/Cargo.toml
  rust/backends/src/lib.rs
  rust/kernel/src/core/traits/llm_streaming.rs
  rust/kernel/src/core/traits/mod.rs
  rust/kernel/src/openai_streaming.rs
  src/nexus/core/kernel_protocols.py
Due: check-file-size, check-type-ignore

refactor(kernel): Phase C — nest kernel-internal modules under core/
  rust/kernel/src/core/dcache.rs
  rust/kernel/src/core/dispatch/hook_registry.rs
  rust/kernel/src/core/dispatch/mod.rs
  rust/kernel/src/core/dlc.rs
  rust/kernel/src/core/file_watch.rs
  rust/kernel/src/core/lock/locks.rs
  rust/kernel/src/core/lock/mod.rs
  rust/kernel/src/core/lock/semaphore.rs
  rust/kernel/src/core/metastore/mod.rs
  rust/kernel/src/core/metastore/remote.rs
  rust/kernel/src/core/mod.rs
  rust/kernel/src/core/pipe/manager.rs
  rust/kernel/src/core/pipe/mod.rs
  rust/kernel/src/core/pipe/remote.rs
  rust/kernel/src/core/pipe/shm.rs
  rust/kernel/src/core/pipe/stdio.rs
  rust/kernel/src/core/service_registry.rs
  rust/kernel/src/core/stream/manager.rs
  rust/kernel/src/core/stream/mod.rs
  rust/kernel/src/core/stream/observer.rs
  rust/kernel/src/core/stream/remote.rs
  rust/kernel/src/core/stream/shm.rs
  rust/kernel/src/core/stream/stdio.rs
  rust/kernel/src/core/stream/wal.rs
  rust/kernel/src/core/vfs_router.rs
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/kernel/src/lib.rs
  scripts/codegen_kernel_abi.py
Due: check-file-size, check-type-ignore

fix(cli): drop dangling IPCClient re-export + delete test_ipc_cli.py
  src/nexus/cli/clients/__init__.py
  tests/unit/cli/test_ipc_cli.py
Due: check-file-size, check-type-ignore

fix(docker): update raft-witness stub member list — library→lib + add backends
  dockerfiles/Dockerfile.raft-witness
Due: none

refactor(rust): Phase H+I — move PyO3 algorithm wrappers from kernel to lib
  Cargo.lock
  rust/kernel/src/lib.rs
  rust/lib/src/python/bitmap.rs
  rust/lib/src/python/bloom.rs
  rust/lib/src/python/glob.rs
  rust/lib/src/python/hash.rs
  rust/lib/src/python/io.rs
  rust/lib/src/python/path_utils.rs
  rust/lib/src/python/prefix.rs
  rust/lib/src/python/rebac.rs
  rust/lib/src/python/search.rs
  rust/lib/src/python/simd.rs
  rust/lib/src/python/trigram.rs
  scripts/codegen_kernel_abi.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

fix(kernel,ci): two cross-platform misses caught by Linux CI
  .github/workflows/lint.yml
  rust/kernel/src/lib.rs
Due: none

fix(gitignore): un-ignore rust/lib/ — un-blocks workspace load
  .gitignore
  rust/lib/Cargo.toml
  rust/lib/src/bitmap.rs
  rust/lib/src/bloom.rs
  rust/lib/src/glob.rs
  rust/lib/src/hash.rs
  rust/lib/src/lib.rs
  rust/lib/src/python/mod.rs
  rust/lib/src/rebac/config.rs
  rust/lib/src/rebac/graph.rs
  rust/lib/src/rebac/mod.rs
  rust/lib/src/rebac/tests.rs
  rust/lib/src/search/grep.rs
  rust/lib/src/search/literal.rs
  rust/lib/src/search/mod.rs
  rust/lib/src/trigram/builder.rs
  rust/lib/src/trigram/error.rs
  rust/lib/src/trigram/extract.rs
  rust/lib/src/trigram/format.rs
  rust/lib/src/trigram/mod.rs
  rust/lib/src/trigram/posting.rs
  rust/lib/src/trigram/query.rs
  rust/lib/src/trigram/writer.rs
  rust/lib/src/types.rs
Due: none

docs(architecture): Phase N — add Python ↔ Rust crate mapping in §6
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

refactor(§12e): eliminate hit=false Python fallbacks in sys_unlink + sys_copy
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/kernel/src/grpc_server.rs
  rust/kernel/src/kernel.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/nexus_fs_metadata.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

fix(parsers): harden registry caches and virtual views
  src/nexus/bricks/parsers/md_structure.py
  src/nexus/bricks/parsers/providers/registry.py
  src/nexus/bricks/parsers/registry.py
  src/nexus/bricks/parsers/validation/config.py
  src/nexus/lib/virtual_views.py
  tests/unit/bricks/parsers/providers/test_provider_registry.py
  tests/unit/bricks/parsers/test_registry.py
  tests/unit/bricks/parsers/test_virtual_view_resolver.py
  tests/unit/bricks/parsers/test_virtual_views.py
  tests/unit/bricks/parsers/validation/test_config_loader.py
Due: check-file-size, check-type-ignore

chore(release): bump nexus-fs slim package to v0.10.0
  packages/nexus-fs/pyproject.toml
Due: none

chore(release): v0.10.0 — fix CI smoke-test failures + version bump
  Cargo.lock
  packages/nexus-api-client/package.json
  packages/nexus-tui/package.json
  permissions_demo_enhanced.sh
  pyproject.toml
  rust/kernel/Cargo.toml
  rust/kernel/pyproject.toml
  src/nexus/__init__.py
Due: check-file-size, check-type-ignore

chore(release): nexus-fs 0.4.9 (follows its own minor versioning)
  packages/nexus-fs/pyproject.toml
Due: none

fix(e2e): robust search seeding — psql diagnostics + mutation-consumer wait + retry
  .github/workflows/docker-publish.yml
Due: none

fix(e2e): seed semantic search index after demo init + extend readiness polls
  .github/workflows/docker-publish.yml
  scripts/test_build_perf_e2e.py
Due: check-file-size, check-type-ignore

feat(e2e): step-by-step logging for permissions demo + build perf scripts
  permissions_demo_enhanced.sh
  scripts/test_build_perf_e2e.py
Due: check-file-size, check-type-ignore

ci(e2e): run smoke tests on tag pushes + enable full semantic search
  .github/workflows/docker-publish.yml
Due: none

fix(ci): relax p95 latency threshold, skip_existing PyPI, group grant via SDK
  .github/workflows/release.yml
  permissions_demo_enhanced.sh
  tests/e2e/self_contained/test_event_signal_latency_bench.py
Due: check-type-ignore

feat(remote,demo,search): REST seeding + remote read correctness + search shutdown
  src/nexus/cli/commands/demo.py
  src/nexus/factory/_remote.py
  src/nexus/server/lifespan/__init__.py
  src/nexus/server/lifespan/search.py
Due: check-file-size, check-type-ignore

test(factory): remove caplog from boot log tests
  tests/unit/test_factory.py
Due: check-type-ignore

test(factory): assert brick degradation logger calls
  tests/unit/test_factory.py
Due: check-type-ignore

test(factory): target kernel logger timing assertion
  tests/unit/test_factory.py
Due: check-type-ignore

fix(docker): seed root zone during DB init
  scripts/init_database.py
  tests/unit/storage/test_zone_bootstrap.py
Due: check-file-size, check-type-ignore

test(factory): capture factory child loggers
  tests/unit/test_factory.py
Due: check-type-ignore

test(factory): avoid caplog for degradation assertions
  tests/unit/test_factory.py
Due: check-type-ignore

chore(lock): sync package version
  uv.lock
Due: none

ci: always report federation required check
  .github/workflows/federation-e2e.yml
Due: none

proto+docs: PasswordVaultService gRPC contract + integration plan
  docs/architecture/password-vault-integration.md
  proto/nexus/password_vault/v1/password_vault.proto
Due: none

refactor(vfs-router): delete dead get_mount_for_path + fix TUI mount listing
  src/nexus/fs/_tui/__init__.py
  src/nexus/services/gateway.py
  tests/unit/services/test_gateway.py
Due: check-file-size, check-type-ignore

perf(syscall): eliminate redundant Rust↔Python boundary crossings
  src/nexus/core/nexus_fs_content.py
  src/nexus/core/nexus_fs_metadata.py
Due: check-file-size, check-type-ignore

refactor(rust): Phase 0 — thin cdylib redesign + kernel as rlib-only
  Cargo.lock
  Cargo.toml
  rust/kernel/Cargo.toml
  rust/kernel/src/lib.rs
  rust/kernel/src/python.rs
  rust/nexus-cdylib/Cargo.toml
  rust/nexus-cdylib/pyproject.toml
  rust/nexus-cdylib/src/lib.rs
  scripts/codegen_kernel_abi.py
Due: check-file-size, check-type-ignore

build(phase0): point maturin / CI / Dockerfile / justfile at nexus-cdylib
  .github/workflows/code-quality.yml
  .github/workflows/conda-pack.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  Dockerfile
  dockerfiles/Dockerfile.raft-witness
  justfile
  src/nexus/raft/__init__.py
  tests/unit/test_packaging_metadata.py
Due: check-file-size, check-type-ignore

refactor(rust): Phase 0.5 — rename Metastore → MetaStore for §3 pillar symmetry
  rust/contracts/Cargo.toml
  rust/contracts/src/constants.rs
  rust/kernel/Cargo.toml
  rust/kernel/src/core/dcache.rs
  rust/kernel/src/core/dlc.rs
  rust/kernel/src/core/meta_store/mod.rs
  rust/kernel/src/core/meta_store/remote.rs
  rust/kernel/src/core/mod.rs
  rust/kernel/src/core/vfs_router.rs
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/lib.rs
  rust/kernel/src/raft_meta_store.rs
  rust/nexus-cdylib/src/lib.rs
  rust/raft/Cargo.toml
  rust/raft/src/pyo3_bindings.rs
  rust/raft/src/raft/node.rs
  rust/raft/src/storage/redb_store.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/kernel_protocols.py
Due: check-file-size, check-type-ignore

fix(cluster): rustfmt drift on main.rs
  rust/cluster/src/main.rs
Due: none

fix(ci): retarget reusable build-rust-extensions action at nexus-cdylib
  .github/actions/build-rust-extensions/action.yml
Due: none

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
