Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

feat(scripts): dogfood_keystore_fetch.py — CI-side ephemeral vault + key extraction
  scripts/dogfood_keystore_fetch.py
Due: check-file-size, check-type-ignore

feat(ci): release-plugin-reusable vault path = sealed keystore
  .github/workflows/release-fuse-plugin.yml
  .github/workflows/release-local-connector-plugin.yml
  .github/workflows/release-plugin-reusable.yml
Due: none

feat(vault-signing): data/vault-signing/ skeleton + README
  .gitignore
  data/vault-signing/README.md
  data/vault-signing/keys.json
  data/vault-signing/pubkeys/.gitkeep
Due: none

feat(codeowners): kernel-team gates the plugin signing trust chain
  .github/CODEOWNERS
Due: none

docs(superpowers): sealed-keystore dogfood signing design doc
  docs/superpowers/specs/2026-06-12-encrypted-in-git-vault-dogfood-design-SUPERSEDED.md
  docs/superpowers/specs/2026-06-13-sealed-keystore-dogfood-design.md
Due: none

test(integration): dogfood_keystore_e2e covers init → provision → fetch → sign
  tests/integration/test_dogfood_keystore.py
Due: check-type-ignore

fix(scripts): nexusd-cluster flag corrections in _dogfood_vault
  scripts/_dogfood_vault.py
Due: check-file-size, check-type-ignore

feat(vault-signing): provision kernel-dogfood-v1
  data/vault-signing/keys.json
  data/vault-signing/pubkeys/kernel-dogfood-v1.pub
Due: none

chore: bump nexus-vfs pin to 69fae7239 + local-connector to 0.1.1
  Cargo.lock
  Cargo.toml
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
  rust/backends/local-connector/Cargo.toml
Due: none

fix(ci+scripts): handle linux-only plugins + harden master-key parse
  .github/workflows/release-plugin-reusable.yml
  scripts/_dogfood_vault.py
Due: check-file-size, check-type-ignore

feat(compliance): cross-repo trust-root mirror check
  scripts/check_plugin_signing_compliance.py
Due: check-file-size, check-type-ignore

feat(fuse-plugin): extend cfg gates to support macOS via macFUSE
  rust/services/fuse-plugin/Cargo.toml
  rust/services/fuse-plugin/src/lib.rs
Due: none

ci(release-fuse-plugin): add macOS arm64+x86_64 to release matrix
  .github/workflows/release-fuse-plugin.yml
Due: none

ci(dockerfile): Dockerfile.fuse-plugin — multi-stage signed plugin image
  dockerfiles/Dockerfile.fuse-plugin
Due: none

ci(compose): docker-compose.fuse-plugin.yml — single privileged cluster + FUSE mount
  dockerfiles/docker-compose.fuse-plugin.yml
Due: none

test(e2e): FUSE plugin Docker E2E — mkdir/readdir/create/write/rename/unlink round-trips
  tests/e2e/docker/fuse_plugin_helpers.py
  tests/e2e/docker/test_fuse_plugin_e2e.py
Due: check-type-ignore

ci(workflows): fuse-plugin-e2e.yml — paths-filtered Linux E2E gate
  .github/workflows/fuse-plugin-e2e.yml
Due: none

docs(fuse-plugin): platform matrix + operator install + admin RPCs
  rust/services/fuse-plugin/README.md
Due: none

ci(fuse-e2e): ruff fmt test + sign with bootstrap key (match cc-tasks pattern)
  .github/workflows/fuse-plugin-e2e.yml
  tests/e2e/docker/test_fuse_plugin_e2e.py
Due: check-type-ignore

fix(dockerfile/fuse-plugin): drop usermod -G fuse — privileged mode covers it
  dockerfiles/Dockerfile.fuse-plugin
Due: none

diag(fuse-plugin): mirror tracing to stderr so dlopen'd dispatcher silence doesn't hide mount status
  rust/services/fuse-plugin/src/lib.rs
Due: none

fix(fuse-plugin): synthesize root FileAttr — kernel sys_stat returns None for DT_MOUNT roots
  rust/services/fuse-plugin/src/fs.rs
Due: none

Revert "fix(fuse-plugin): synthesize root FileAttr — kernel sys_stat returns None for DT_MOUNT roots"
  rust/services/fuse-plugin/src/fs.rs
Due: none

fix(fuse-plugin): treat DT_MOUNT as Directory — single SSOT rule in kind_from_entry_type
  rust/services/fuse-plugin/src/fs.rs
Due: none

chore(deps): bump nexus-vfs pin to 1beefb060 — sys_readdir callback emits leaf names
  Cargo.lock
  Cargo.toml
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

fix(fuse-plugin): invalidate dcache on rename via fuser::Notifier — mv + cat race
  rust/services/fuse-plugin/src/fs.rs
  rust/services/fuse-plugin/src/lib.rs
Due: none

Revert "fix(fuse-plugin): invalidate dcache on rename via fuser::Notifier — mv + cat race"
  rust/services/fuse-plugin/src/fs.rs
  rust/services/fuse-plugin/src/lib.rs
Due: none

fix(fuse-plugin): zero-TTL negative lookup entry — no dcache, no rename race
  rust/services/fuse-plugin/src/fs.rs
Due: none

fix(fuse-plugin): stable inode-per-path + rename moves the mapping
  rust/services/fuse-plugin/src/fs.rs
Due: none

docs(federation-runbook): add §3g FUSE-mount step + prereq matrix
  docs/architecture/federation-cross-machine-runbook.md
Due: none

ci(release-plugin-reusable): install macFUSE on macOS for nexus-fuse-plugin
  .github/workflows/release-plugin-reusable.yml
Due: none

fix(ci): drop deprecated --no-quarantine flag from brew cask install
  .github/workflows/release-plugin-reusable.yml
Due: none

fix(ci): PKG_CONFIG_ALLOW_CROSS=1 unblocks macos-x86_64 fuser build
  .github/workflows/release-plugin-reusable.yml
Due: none

feat(services/vault): idle module — IdleTracker + wait_for_shutdown
  rust/services/vault/src/idle.rs
  rust/services/vault/src/lib.rs
Due: none

feat(profiles/vault): --idle-shutdown-seconds flag + interceptor wire-up
  rust/services/vault/src/bin/nexusd_vault.rs
Due: none

docs(vault): document --idle-shutdown-seconds for cloud-sync hosts (interim)
  docs/architecture/password-vault-integration.md
Due: none

style(profiles/vault): cargo fmt — wrap multi-arg tracing::info!
  rust/services/vault/src/bin/nexusd_vault.rs
Due: none

test(fs): inject fake oauth provider via sys.modules — fix Python 3.14
  tests/unit/fs/test_auth_cli.py
Due: check-type-ignore

feat(release-plugin-reusable): support shipping a standalone binary alongside cdylib
  .github/workflows/release-plugin-reusable.yml
Due: none

feat(release-vault-plugin): publish standalone nexusd-vault binary
  .github/workflows/release-vault-plugin.yml
Due: none
