Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix: convert ~130 f-string logger calls to lazy % in sync/server/backends
  src/nexus/backends/backend_io.py
  src/nexus/backends/chunked_storage.py
  src/nexus/backends/gcalendar_connector.py
  src/nexus/backends/gcs.py
  src/nexus/backends/gcs_connector.py
  src/nexus/backends/gmail_connector.py
  src/nexus/backends/gmail_connector_utils.py
  src/nexus/backends/hn_connector.py
  src/nexus/backends/local.py
  src/nexus/backends/local_connector.py
  src/nexus/backends/passthrough.py
  src/nexus/backends/slack_connector.py
  src/nexus/backends/slack_connector_utils.py
  src/nexus/backends/sync_pipeline.py
  src/nexus/server/cache_warmer.py
  src/nexus/server/dependencies.py
  src/nexus/server/rpc/dispatch.py
  src/nexus/server/rpc/handlers/filesystem.py
  src/nexus/server/telemetry.py
  src/nexus/system_services/sync/sync_backlog_store.py
  src/nexus/system_services/sync/sync_job_manager.py
  src/nexus/system_services/sync/sync_job_service.py
  src/nexus/system_services/sync/sync_service.py
  src/nexus/system_services/sync/write_back_service.py
Due: check-file-size, check-type-ignore

fix: convert ~137 f-string logger calls to lazy % in bricks/rebac/
  src/nexus/bricks/rebac/async_permissions.py
  src/nexus/bricks/rebac/batch/bulk_checker.py
  src/nexus/bricks/rebac/cache/enforcer_cache.py
  src/nexus/bricks/rebac/cache/iterator.py
  src/nexus/bricks/rebac/cache/leopard.py
  src/nexus/bricks/rebac/cache/result_cache.py
  src/nexus/bricks/rebac/cache/tiger/expander.py
  src/nexus/bricks/rebac/cache/tiger/rename_hook.py
  src/nexus/bricks/rebac/cache/tiger/updater.py
  src/nexus/bricks/rebac/cache/visibility.py
  src/nexus/bricks/rebac/checker.py
  src/nexus/bricks/rebac/deferred_permission_buffer.py
  src/nexus/bricks/rebac/dynamic_viewer_hook.py
  src/nexus/bricks/rebac/enforcer.py
  src/nexus/bricks/rebac/entity_registry.py
  src/nexus/bricks/rebac/filter_chain.py
  src/nexus/bricks/rebac/graph/zone_traversal.py
  src/nexus/bricks/rebac/hotspot_detector.py
  src/nexus/bricks/rebac/manager.py
  src/nexus/bricks/rebac/namespace_manager.py
  src/nexus/bricks/rebac/permission_cache.py
  src/nexus/bricks/rebac/permission_filter_chain.py
  src/nexus/bricks/rebac/tiger_cache_manager.py
  src/nexus/bricks/rebac/utils/fast.py
Due: check-file-size, check-type-ignore

fix: convert ~200 f-string logger calls to lazy % in remaining bricks/
  src/nexus/bricks/auth/oauth/credential_service.py
  src/nexus/bricks/auth/oauth/token_manager.py
  src/nexus/bricks/mcp/connection_manager.py
  src/nexus/bricks/mcp/exporter.py
  src/nexus/bricks/mcp/klavis_client.py
  src/nexus/bricks/mcp/oauth_mappings.py
  src/nexus/bricks/mcp/server.py
  src/nexus/bricks/memory/memory_paging/archival_store.py
  src/nexus/bricks/memory/memory_paging/context_manager.py
  src/nexus/bricks/memory/memory_paging/pager.py
  src/nexus/bricks/memory/memory_paging/recall_store.py
  src/nexus/bricks/memory/memory_with_paging.py
  src/nexus/bricks/mount/mount_core_service.py
  src/nexus/bricks/mount/mount_persist_service.py
  src/nexus/bricks/mount/mount_service.py
  src/nexus/bricks/parsers/auto_parse_hook.py
  src/nexus/bricks/parsers/engine.py
  src/nexus/bricks/pay/x402.py
  src/nexus/bricks/sandbox/sandbox_e2b_provider.py
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/query_expansion.py
  src/nexus/bricks/search/search_service.py
  src/nexus/bricks/search/splade_search.py
  src/nexus/bricks/versioning/version_service.py
  src/nexus/bricks/workflows/loader.py
  src/nexus/bricks/workflows/triggers.py
  src/nexus/bricks/workspace/workspace_registry.py
Due: check-file-size, check-type-ignore

fix: add import-linter ratchet for process_manager protocol TYPE_CHECKING import
  pyproject.toml
Due: none

fix: replace print() with logger in prompts, sandbox_audit, mount_manager
  src/nexus/bricks/mount/mount_manager.py
  src/nexus/bricks/sandbox/sandbox_audit.py
  src/nexus/bricks/tools/prompts.py
Due: check-file-size, check-type-ignore

fix: replace deprecated datetime.utcnow() with datetime.now(UTC)
  src/nexus/bricks/auth/oauth/user_auth.py
  src/nexus/bricks/auth/providers/database_local.py
  src/nexus/bricks/search/daemon.py
  src/nexus/server/auth/auth_routes.py
Due: check-file-size, check-type-ignore

feat(#2748): multi-cursor dispatch — per-executor dequeue isolation
  src/nexus/system_services/scheduler/dispatcher.py
  src/nexus/system_services/scheduler/migration_v3.sql
  src/nexus/system_services/scheduler/queue.py
  src/nexus/system_services/scheduler/service.py
  tests/unit/scheduler/test_dispatcher.py
Due: check-file-size, check-type-ignore

fix(test): relax flaky benchmark assertion for CI runner variance
  tests/unit/core/test_namespace_dcache_benchmark.py
Due: check-type-ignore

fix: add OpenRouter fallback to agent engine E2E tests
  tests/e2e/test_agent_engine_e2e.py
Due: check-type-ignore

fix: add event_log to SystemServices + RedisEventBus WAL support
  src/nexus/core/config.py
  src/nexus/factory/_system.py
  src/nexus/system_services/event_subsystem/bus/redis.py
Due: check-file-size, check-type-ignore

refactor(#1410): Phase 1 SearchService DI — migrate server-side callers to search_service.glob/grep()
  src/nexus/bricks/filesystem/scoped_filesystem.py
  src/nexus/bricks/llm/llm_document_reader.py
  src/nexus/bricks/mcp/server.py
  src/nexus/factory/service_routing.py
  src/nexus/server/cache_warmer.py
  src/nexus/server/rpc/handlers/filesystem.py
  tests/unit/bricks/mcp/test_mcp_server_tools.py
  tests/unit/core/test_embedded.py
  tests/unit/core/test_nexus_fs_delegation.py
  tests/unit/core/test_scoped_filesystem.py
  tests/unit/factory/test_service_routing.py
Due: check-file-size, check-type-ignore

refactor(#1410): Phase 2-5 — retire 20 __getattr__ routing entries, migrate 12 callers
  src/nexus/__init__.py
  src/nexus/bricks/auth/stores/nexusfs_provisioner.py
  src/nexus/bricks/mcp/server.py
  src/nexus/cli/commands/server.py
  src/nexus/factory/service_routing.py
  src/nexus/server/auth/auth_routes.py
  src/nexus/system_services/agents/agent_provisioning.py
  tests/unit/auth/test_protocols.py
  tests/unit/bricks/mcp/test_mcp_server_tools.py
  tests/unit/core/test_nexus_fs_mounts.py
  tests/unit/core/test_nexus_fs_provision_user.py
  tests/unit/factory/test_service_routing.py
Due: check-file-size, check-type-ignore

docs(#1323): update backend architecture doc to reflect completed migration
  docs/architecture/backend-architecture.md
Due: none

fix: make develop HEAD CI green — 5 categories of test failures
  src/nexus/backends/storage/cas_local.py
  src/nexus/core/config.py
  src/nexus/factory/_system.py
  src/nexus/factory/service_routing.py
  src/nexus/system_services/event_subsystem/bus/redis.py
  tests/e2e/self_contained/test_chunked_storage_e2e.py
  tests/unit/core/test_nexus_fs_rebac_mixin.py
Due: check-file-size, check-type-ignore

fix: remove event methods from SERVICE_METHODS — callers use events_service directly
  src/nexus/factory/service_routing.py
Due: check-file-size, check-type-ignore

fix: update benchmarks and read_bulk for retired APIs
  src/nexus/core/nexus_fs.py
  tests/benchmarks/test_core_operations.py
  tests/benchmarks/test_service_delegation.py
Due: check-file-size, check-type-ignore

docs(#1323): update backend architecture doc to reflect completed migration (#2780)
  docs/architecture/backend-architecture.md
Due: none

fix: make develop HEAD CI green — 5 categories of test failures (#2781)
  src/nexus/backends/storage/cas_local.py
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_system.py
  src/nexus/system_services/event_subsystem/bus/redis.py
  tests/benchmarks/test_core_operations.py
  tests/benchmarks/test_service_delegation.py
  tests/e2e/self_contained/test_chunked_storage_e2e.py
  tests/unit/core/test_nexus_fs_rebac_mixin.py
Due: check-file-size, check-type-ignore

refactor(#1410): Final phase — delete __getattr__ routing, migrate all callers to direct service access
  scripts/_core/agent_manager.py
  scripts/provision_namespace.py
  src/nexus/bricks/mcp/server.py
  src/nexus/cli/commands/agent.py
  src/nexus/cli/commands/connectors.py
  src/nexus/cli/commands/memory.py
  src/nexus/cli/commands/metadata.py
  src/nexus/cli/commands/mounts.py
  src/nexus/cli/commands/sandbox.py
  src/nexus/cli/commands/search.py
  src/nexus/cli/commands/workspace.py
  src/nexus/cli/commands/zone.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/service_routing.py
  src/nexus/system_services/agent_runtime/tool_dispatcher.py
  src/nexus/system_services/agents/agent_provisioning.py
  tests/e2e/self_contained/test_validation_rpc_dispatch.py
  tests/unit/core/test_nexus_fs_delegation.py
  tests/unit/factory/test_service_routing.py
  tests/unit/remote/test_service_proxy.py
Due: check-file-size, check-type-ignore

refactor(#1410): Final phase — delete __getattr__ routing, migrate all callers to direct service access (#2782)
  scripts/_core/agent_manager.py
  scripts/provision_namespace.py
  src/nexus/bricks/mcp/server.py
  src/nexus/cli/commands/agent.py
  src/nexus/cli/commands/connectors.py
  src/nexus/cli/commands/memory.py
  src/nexus/cli/commands/metadata.py
  src/nexus/cli/commands/mounts.py
  src/nexus/cli/commands/sandbox.py
  src/nexus/cli/commands/search.py
  src/nexus/cli/commands/workspace.py
  src/nexus/cli/commands/zone.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/service_routing.py
  src/nexus/system_services/agent_runtime/tool_dispatcher.py
  src/nexus/system_services/agents/agent_provisioning.py
  tests/e2e/self_contained/test_validation_rpc_dispatch.py
  tests/unit/core/test_nexus_fs_delegation.py
  tests/unit/factory/test_service_routing.py
  tests/unit/remote/test_service_proxy.py
Due: check-file-size, check-type-ignore

fix: update service proxy test — event methods retired from SERVICE_METHODS
  tests/unit/remote/test_service_proxy.py
Due: check-type-ignore

fix(#1410): fix develop CI — mypy _memory_provider + benchmark rebac delegation
  src/nexus/server/rpc/handlers/memory.py
  tests/benchmarks/test_service_delegation.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
