Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

docs: update nexus-agent-plan — mark completed items, add deferred cross-refs
  docs/architecture/nexus-agent-plan.md
Due: none

refactor(#3646): EventBusObserver + WorkflowDispatchService → sync on_mutation
  src/nexus/services/event_bus/observer.py
  src/nexus/services/lifecycle/workflow_dispatch_service.py
  tests/unit/services/test_workflow_dispatch.py
Due: check-file-size, check-type-ignore

fix(occ): add missing await on fs.write() in occ_write and delta handler
  src/nexus/lib/occ.py
  src/nexus/server/rpc/handlers/delta.py
Due: check-file-size, check-type-ignore

fix(ci): use single-line JSON for GITHUB_OUTPUT matrix value
  .github/workflows/pyinstaller-cluster.yml
Due: none

feat(ci): add PyInstaller workflow for standalone cluster binary
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix(ci): install protoc before nexus_raft build on macOS and Linux
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix(ci): use setup job for dynamic matrix instead of job-level matrix if
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: skip uvloop on Windows (Unix-only package)
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: use macOS-compatible sed syntax
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: cp spec to .spec ext + inject NEXUS_PROFILE=cluster runtime hook
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: robust SO discovery + PyInstaller output diagnostics
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: remove Linux from build matrix
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: pip install --no-deps to bypass fastbloom-rs>=0.5.0 (PyPI missing)
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: add shell: bash to patch spec step for Windows PowerShell compat
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: add shell: bash to PyInstaller build step for Windows
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix(ci): make fastbloom patch cross-platform
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: patch entry point to nexusd daemon in CI spec
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: relax fastbloom-rs constraint; use pip install . instead of requirements-minimal.txt
  .github/workflows/pyinstaller-cluster.yml
Due: none

feat(ci): add PyInstaller spec for cluster binary
  pyinstaller_spec_cluster.py
Due: check-file-size, check-type-ignore

fix: add shell: bash to maturin build steps (Windows PowerShell compat)
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: use glob pattern for artifact upload path
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: pre-install cryptography/bcrypt from binary wheels on Windows (no OpenSSL)
  .github/workflows/pyinstaller-cluster.yml
Due: none

feat: add pyinstaller spec for cluster binary
  pyinstaller_spec_cluster.spec
Due: none

fix: temporarily exclude Windows ARM64 from build matrix
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: cp spec to .spec ext so PyInstaller reads it as spec not script
  .github/workflows/pyinstaller-cluster.yml
Due: none

feat: add windows to pyinstaller-cluster workflow
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: robust .so discovery — try flat/nested importlib then glob fallback
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: allow partial build failures for release
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: generate nexusd entrypoint wrapper that actually calls main()
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: replace Unicode arrows with ASCII in Python heredoc
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix(lint): silence ruff in pyinstaller spec
  pyinstaller_spec_cluster.py
Due: check-file-size, check-type-ignore

style: format pyinstaller cluster spec
  pyinstaller_spec_cluster.py
Due: check-file-size, check-type-ignore

fix(ci): update pyinstaller cluster build for nexus_kernel
  .github/workflows/pyinstaller-cluster.yml
  pyinstaller_spec_cluster.py
Due: check-file-size, check-type-ignore

fix(ci): keep pyinstaller cluster entrypoint on nexusd
  .github/workflows/pyinstaller-cluster.yml
Due: none

fix: update BackendFeature member count test (18 → 16)
  tests/unit/backends/test_capabilities.py
Due: check-type-ignore

cleanup: remove stale cache/sync references after kernel refactor
  src/nexus/backends/base/path_addressing_engine.py
  src/nexus/backends/connectors/slack/connector.py
  src/nexus/bricks/search/search_service.py
  src/nexus/contracts/backend_features.py
Due: check-file-size, check-type-ignore

fix(tui): reactive store reads in agents/zones/payments panels
  packages/nexus-tui/src/panels/agents/agents-panel.tsx
  packages/nexus-tui/src/panels/payments/payments-panel.tsx
  packages/nexus-tui/src/panels/zones/zones-panel.tsx
Due: none

fix(tui): agents panel tab content switching + loading fix
  packages/nexus-tui/src/panels/agents/agents-panel.tsx
Due: none

fix(tui+server): agents tab switching, diff view, has_capability typo
  packages/nexus-tui/src/panels/agents/agent-status-view.tsx
  packages/nexus-tui/src/panels/agents/agents-panel.tsx
  src/nexus/server/api/v2/routers/async_files.py
Due: check-file-size, check-type-ignore

fix(tui): use SubTabBar for mouse-clickable tabs in agents/access panels
  packages/nexus-tui/src/panels/access/access-panel.tsx
  packages/nexus-tui/src/panels/agents/agents-panel.tsx
Due: none

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
