Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix: update dict context tests to use user_id instead of deprecated user key
  tests/unit/core/test_nexus_fs_agent_management.py
  tests/unit/core/test_nexus_fs_rebac_mixin.py
  tests/unit/services/permissions/test_nexus_fs_rebac_behavior.py
  tests/unit/services/test_rebac_service.py
Due: check-type-ignore

refactor(#301, #308): move EventBus from core/ to services/event_bus/
  pyproject.toml
  src/nexus/core/event_bus.py
  src/nexus/core/nexus_fs_events.py
  src/nexus/factory.py
  src/nexus/server/websocket/manager.py
  src/nexus/services/event_bus/__init__.py
  src/nexus/services/event_bus/base.py
  src/nexus/services/event_bus/factory.py
  src/nexus/services/event_bus/nats.py
  src/nexus/services/event_bus/protocol.py
  src/nexus/services/event_bus/redis.py
  src/nexus/services/events_service.py
  src/nexus/services/write_back_service.py
  tests/e2e/nats/test_event_bus_nats_integration.py
  tests/e2e/nats/test_nats_event_bus_e2e.py
  tests/e2e/redis/test_event_bus_lock_manager.py
  tests/e2e/redis/test_multi_instance_workflows.py
  tests/e2e/redis/test_startup_sync.py
  tests/e2e/server/test_fuse_events_e2e.py
  tests/unit/services/event_bus/__init__.py
  tests/unit/services/event_bus/test_event_bus.py
  tests/unit/services/event_bus/test_event_bus_contract.py
  tests/unit/services/event_bus/test_event_bus_nats.py
Due: check-file-size, check-type-ignore

refactor(#301, #308): move EventBus from core/ to services/event_bus/
  pyproject.toml
  src/nexus/core/event_bus.py
  src/nexus/factory.py
  src/nexus/server/websocket/manager.py
  src/nexus/services/event_bus/__init__.py
  src/nexus/services/event_bus/base.py
  src/nexus/services/event_bus/factory.py
  src/nexus/services/event_bus/nats.py
  src/nexus/services/event_bus/protocol.py
  src/nexus/services/event_bus/redis.py
  src/nexus/services/events_service.py
  src/nexus/services/write_back_service.py
  tests/e2e/nats/test_event_bus_nats_integration.py
  tests/e2e/nats/test_nats_event_bus_e2e.py
  tests/e2e/redis/test_event_bus_lock_manager.py
  tests/e2e/redis/test_multi_instance_workflows.py
  tests/e2e/redis/test_startup_sync.py
  tests/e2e/server/test_fuse_events_e2e.py
  tests/unit/services/event_bus/__init__.py
  tests/unit/services/event_bus/test_event_bus.py
  tests/unit/services/event_bus/test_event_bus_contract.py
  tests/unit/services/event_bus/test_event_bus_nats.py
Due: check-file-size, check-type-ignore

chore: remove CLAUDE.md from repo + add to .gitignore
  .gitignore
  CLAUDE.md
Due: none

docs(#788,#790,#791): restore §6 Communication 3-tier messaging model
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

docs(#1759): fix reverted content and slim §6 granularity in kernel doc
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

docs(#1759): add gRPC + EventBus detail tables to ops-scenario-matrix appendix
  docs/architecture/ops-scenario-matrix.md
Due: none

fix(e2e): resolve 18 pre-existing Self-Contained E2E test failures
  src/nexus/server/fastapi_server.py
  src/nexus/server/wb_metrics_collector.py
  tests/e2e/self_contained/test_astraea_e2e.py
  tests/e2e/self_contained/test_delegation_lifecycle.py
  tests/e2e/self_contained/test_namespace_integration.py
  tests/e2e/self_contained/test_parallel_list_permissions.py
  tests/e2e/self_contained/test_persistent_view_store.py
  tests/e2e/self_contained/test_wb_metrics_integration.py
Due: check-file-size, check-type-ignore

fix(e2e): drain stale mkdir event before wait_timeout_no_write assertion
  tests/e2e/redis/test_multi_instance_workflows.py
Due: check-type-ignore

add Benchmark (pytest) benchmark result for 7a5501408cd29910584e357303695cdf5992a136
  dev/bench/data.js
Due: none

chore: remove CLAUDE.md re-introduced by main merge
  CLAUDE.md
Due: none

ci: touch py file to trigger quality checks
  src/nexus/__init__.py
Due: check-file-size, check-type-ignore

fix: replace PL/pgSQL functions with inline SQL expressions
  src/nexus/scheduler/migration_v2.sql
  src/nexus/scheduler/queue.py
Due: check-file-size, check-type-ignore

fix: move mount restoration I/O from factory to application layer
  src/nexus/__init__.py
  src/nexus/factory.py
Due: check-file-size, check-type-ignore

feat(#2050, #1572): delete legacy rpc_server.py and decouple glob prefix logic
  src/nexus/cli/commands/server.py
  src/nexus/server/__init__.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/rpc_server.py
  src/nexus/services/search_service.py
  tests/e2e/self_contained/test_client_integration.py
  tests/e2e/self_contained/test_rpc_auth_e2e.py
  tests/unit/server/test_rpc_async_safe.py
  tests/unit/server/test_rpc_path_unscoping.py
  tests/unit/server/test_rpc_server.py
  tests/unit/services/test_search_glob_prefix.py
Due: check-file-size, check-type-ignore

fix(#628): migrate test_operation_log.py to config objects
  tests/unit/storage/test_operation_log.py
Due: check-type-ignore

Make RecordStore optional and fix cache warmer import path
  src/nexus/__init__.py
  src/nexus/server/fastapi_server.py
Due: check-file-size, check-type-ignore

Make RecordStore optional and fix cache warmer import path (#2113)
  src/nexus/__init__.py
  src/nexus/server/fastapi_server.py
Due: check-file-size, check-type-ignore

Consolidate mutable state under ~/.nexus and separate store configs
  src/nexus/__init__.py
  src/nexus/cli/utils.py
  src/nexus/config.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
