Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

refactor(kernel): decouple PyO3 from Rust kernel — make nexus-cluster Python-free
  Cargo.toml
  rust/backends/src/storage/blob_pack/mod.rs
  rust/backends/src/transports/api/ai/openai/inference.rs
  rust/kernel/Cargo.toml
  rust/kernel/src/core/agents/registry.rs
  rust/kernel/src/core/dispatch/mod.rs
  rust/kernel/src/core/dlc.rs
  rust/kernel/src/core/lock/semaphore.rs
  rust/kernel/src/core/service_registry.rs
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/kernel/src/lib.rs
  rust/kernel/src/python.rs
  rust/nexus-cdylib/Cargo.toml
  rust/transport/src/federation.rs
  rust/transport/src/lib.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/_rust_compat.py
  src/nexus/core/kernel_exports.py
  stubs/nexus_runtime/__init__.pyi
Due: check-file-size, check-type-ignore

fix(kernel): cfg-gate python-only fields/methods instead of allow(dead_code)
  rust/kernel/src/core/service_registry.rs
  rust/kernel/src/kernel/mod.rs
Due: none

fix(kernel): suppress dead-code warnings for nexus-cluster release build
  rust/kernel/src/core/service_registry.rs
  rust/kernel/src/kernel/mod.rs
Due: none

fix(semaphore): delete RustVFSSemaphore wrapper — pyclass removed
  src/nexus/lib/semaphore.py
Due: check-file-size, check-type-ignore

refactor(semaphore): delete dead Python semaphore — zero callers
  src/nexus/contracts/protocols/semaphore.py
  src/nexus/lib/semaphore.py
Due: check-file-size, check-type-ignore

fix(tests): update tests for gateway deletion + sys_read IPC changes
  tests/unit/bricks/mount/test_mount_core_service.py
  tests/unit/core/test_embedded.py
  tests/unit/core/test_nexus_fs_dt_stream_read.py
  tests/unit/core/test_nexus_fs_mounts.py
  tests/unit/services/test_mount_service.py
  tests/unit/services/test_share_link_service.py
Due: check-type-ignore

refactor(§12f): complete IPC syscall + delete gateway + dedup validate_path
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/kernel/src/kernel/io.rs
  rust/kernel/src/kernel/mod.rs
  rust/services/src/acp/service.rs
  rust/transport/src/grpc.rs
  rust/transport/src/ipc.rs
  scripts/codegen_kernel_abi.py
  src/nexus/bricks/mount/mount_service.py
  src/nexus/bricks/search/search_service.py
  src/nexus/bricks/share_link/share_link_service.py
  src/nexus/core/nexus_fs_content.py
  src/nexus/core/nexus_fs_metadata.py
  src/nexus/factory/_wired.py
  src/nexus/factory/service_routing.py
  src/nexus/lib/permission_utils.py
  src/nexus/services/gateway.py
  stubs/nexus_runtime/__init__.pyi
  tests/benchmarks/test_service_delegation.py
  tests/integration/services/test_search_service.py
  tests/unit/core/test_mount_permissions.py
  tests/unit/services/test_gateway.py
Due: check-file-size, check-type-ignore

fix(tests): replace remaining _gw references across all test files
  tests/e2e/self_contained/test_trigram_search_integration.py
  tests/integration/services/test_search_semantic.py
  tests/integration/services/test_search_service.py
  tests/unit/core/test_nexus_fs_services.py
Due: check-type-ignore

ci: add nexusd-cluster boot smoke test
  .github/workflows/test.yml
Due: none

fix(cluster): drop Kernel on blocking thread to prevent shutdown panic
  .github/workflows/test.yml
  rust/profiles/cluster/src/main.rs
Due: none

feat: scaffold @nexus-ai-fs/grpc-client TypeScript package
  buf.gen.yaml
  packages/nexus-grpc-ts/.gitignore
  packages/nexus-grpc-ts/README.md
  packages/nexus-grpc-ts/package.json
  packages/nexus-grpc-ts/src/index.ts
  packages/nexus-grpc-ts/src/transport.ts
  packages/nexus-grpc-ts/tsconfig.json
  packages/nexus-grpc-ts/tsup.config.ts
  packages/nexus-grpc-ts/vitest.config.ts
Due: none

fix(#3989): codex r7 — prefer recorded original-writer for original_hash reads
  src/nexus/server/api/v2/routers/async_files.py
  tests/e2e/self_contained/test_files_binary_roundtrip_e2e.py
Due: check-file-size, check-type-ignore

fix(#3989): close codex review gaps — refresh path scrub + version verify
  src/nexus/bricks/search/daemon.py
  src/nexus/server/api/v2/routers/async_files.py
  tests/e2e/self_contained/test_files_binary_roundtrip_e2e.py
  tests/integration/bricks/search/test_search_mutation_flow.py
Due: check-file-size, check-type-ignore

fix(#3989): codex r6 — plumb federation origins into historical CAS reads
  src/nexus/server/api/v2/routers/async_files.py
  tests/e2e/self_contained/test_files_binary_roundtrip_e2e.py
Due: check-file-size, check-type-ignore

fix(#3989): codex r4 — root mount, restat fence, dict-key scrub
  src/nexus/bricks/search/daemon.py
  src/nexus/server/api/v2/routers/async_files.py
  tests/integration/bricks/search/test_error_paths.py
Due: check-file-size, check-type-ignore

fix(#3989): codex r3 — versioned read zone+CDC correctness
  src/nexus/server/api/v2/routers/async_files.py
Due: check-file-size, check-type-ignore

fix(#3989): codex r2 — CAS-by-hash read + recursive NUL scrub
  src/nexus/bricks/search/daemon.py
  src/nexus/server/api/v2/routers/async_files.py
  tests/integration/bricks/search/test_error_paths.py
Due: check-file-size, check-type-ignore

fix(#3989): codex r5 — historical reads CAS-only
  src/nexus/server/api/v2/routers/async_files.py
Due: check-file-size, check-type-ignore

fix(#3989): binary roundtrip via /api/v2/files
  src/nexus/bricks/search/chunk_store.py
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/mutation_resolver.py
  src/nexus/bricks/search/pipeline_indexer.py
  src/nexus/server/api/v2/routers/async_files.py
  tests/e2e/self_contained/test_files_binary_roundtrip_e2e.py
  tests/integration/bricks/search/test_chunk_store.py
  tests/integration/bricks/search/test_mutation_resolver.py
Due: check-file-size, check-type-ignore

fix(#3989): codex r9 — allow historical reads of deleted-path snapshots
  src/nexus/server/api/v2/routers/async_files.py
  tests/e2e/self_contained/test_files_binary_roundtrip_e2e.py
Due: check-file-size, check-type-ignore

fix(#3989): codex r8 — capture pre-mutation last_writer_address in snapshot hook
  src/nexus/bricks/snapshot/snapshot_hook.py
  tests/unit/bricks/snapshot/test_snapshot_hook.py
Due: check-file-size, check-type-ignore

fix(#3989): codex r10 — gate deleted-path historical reads on admin only
  src/nexus/server/api/v2/routers/async_files.py
  tests/e2e/self_contained/test_files_binary_roundtrip_e2e.py
Due: check-file-size, check-type-ignore

fix(readme): type frontmatter normalization
  src/nexus/backends/connectors/schema_generator.py
Due: check-file-size, check-type-ignore

fix(readme): preserve connector frontmatter
  src/nexus/backends/connectors/base.py
  src/nexus/backends/connectors/gmail/connector.py
  src/nexus/backends/connectors/hn/connector.py
  src/nexus/backends/connectors/schema_generator.py
  src/nexus/bricks/parsers/readme_resolver.py
  src/nexus/server/api/v2/routers/connectors.py
  tests/e2e/self_contained/test_gmail_connector.py
  tests/integration/connectors/test_schema_generator.py
  tests/unit/bricks/parsers/test_readme_resolver.py
Due: check-file-size, check-type-ignore

ci: stabilize federation test dependency install
  dockerfiles/docker-compose.dynamic-federation-test.yml
Due: none

docs(raft): refresh stale RaftFederationProvider doc comment in zone_manager
  rust/raft/src/zone_manager.rs
Due: none

feat(raft): opaque random node_id + JoinZone bootstrap
  proto/nexus/raft/transport.proto
  rust/lib/src/transport_primitives/mod.rs
  rust/lib/src/transport_primitives/peer.rs
  rust/raft/src/distributed_coordinator.rs
  rust/raft/src/raft/node.rs
  rust/raft/src/raft/storage.rs
  rust/raft/src/transport/client.rs
  rust/raft/src/transport/mod.rs
  rust/raft/src/transport/server.rs
  rust/raft/src/zone_manager.rs
  rust/transport/src/lib.rs
Due: none

chore(docker): set NEXUS_BOOTSTRAP_NEW=1 on nexus-1 founder
  dockerfiles/docker-compose.dynamic-federation-test.yml
Due: none

test(raft): pin JoinZone retry contract for unreachable peers
  rust/raft/tests/test_bootstrap_blocks_on_empty_unreachable_peers.rs
Due: none

test(raft): async bootstrap integration test + e2e cleanup
  rust/raft/src/distributed_coordinator.rs
  rust/raft/tests/test_async_bootstrap.rs
  rust/raft/tests/test_grpc_cluster.rs
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

feat(raft): peer address book SSOT via inbound StepMessage
  proto/nexus/raft/transport.proto
  rust/raft/src/distributed_coordinator.rs
  rust/raft/src/raft/zone_registry.rs
  rust/raft/src/transport/client.rs
  rust/raft/src/transport/server.rs
  rust/raft/src/transport/transport_loop.rs
  rust/raft/src/zone_manager.rs
  rust/raft/tests/test_async_bootstrap.rs
  rust/raft/tests/test_bootstrap_blocks_on_empty_unreachable_peers.rs
Due: none

feat(raft): create_zone idempotency + membership-conflict detection
  rust/raft/src/raft/error.rs
  rust/raft/src/zone_manager.rs
Due: none

feat(raft): witness JoinZone bootstrap (opaque-ID parity)
  rust/raft/src/bin/witness.rs
  rust/raft/src/transport/server.rs
Due: none

docs(federation): rewrite §6.3.1 bootstrap for opaque-ID contract
  docs/architecture/federation-memo.md
  rust/lib/src/transport_primitives/peer.rs
  rust/raft/src/distributed_coordinator.rs
Due: none

fix(raft): drop check_zone_membership — peer-map is the runtime SSOT
  rust/raft/src/transport/server.rs
Due: none

fix(raft): leader auto-invites witness as voter on new federation zones
  rust/raft/src/distributed_coordinator.rs
Due: none

fix(raft): campaign 1-voter zone before propose_conf_change
  rust/raft/src/distributed_coordinator.rs
Due: none

fix(rpc): sys_stat dispatch returns bare metadata, not dict wrapper
  src/nexus/server/_kernel_syscall_dispatch.py
Due: check-file-size, check-type-ignore

fix(codegen): update sys_lock + sys_stat dispatch source
  scripts/codegen_kernel_abi.py
Due: check-file-size, check-type-ignore

fix(raft): empty peers + flag unset = no-cluster-intent (skip JoinZone loop)
  rust/raft/Cargo.toml
  rust/raft/src/distributed_coordinator.rs
Due: none

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
