Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix: update delivery_worker import to delivery in transactional event log test
  tests/e2e/self_contained/test_transactional_event_log.py
Due: check-type-ignore

feat(#163): federation content read path + MetastoreABC cleanup
  src/nexus/storage/_metadata_mapper_generated.py
Due: check-file-size, check-type-ignore

fix: add rmdir and rename short aliases to RPC dispatch + param overrides
  src/nexus/server/_rpc_param_overrides.py
  src/nexus/server/rpc/dispatch.py
Due: check-file-size, check-type-ignore

fix: fix 5 CI test failures (zone_id default + replay cursor ValueError)
  src/nexus/storage/_metadata_mapper_generated.py
  tests/unit/services/event_log/test_replay_service.py
Due: check-file-size, check-type-ignore

fix: pass record_store (not session_factory) to EventDeliveryWorker in e2e tests
  tests/e2e/self_contained/test_transactional_event_log.py
Due: check-type-ignore

fix: enforce mandatory auth + zone scoping on all event endpoints
  src/nexus/server/api/v2/routers/events_replay.py
Due: check-file-size, check-type-ignore

fix: use ROOT_ZONE_ID instead of hardcoded "default" in metadata mapper
  src/nexus/storage/_metadata_mapper_generated.py
Due: check-file-size, check-type-ignore

fix: correct wal_backend → wal import in event log factory
  src/nexus/system_services/event_subsystem/log/factory.py
Due: check-file-size, check-type-ignore

refactor: eliminate services/oauth/ wrapper — absorb into bricks
  pyproject.toml
  src/nexus/bricks/auth/oauth/credential_service.py
  src/nexus/bricks/mcp/mcp_service.py
  src/nexus/bricks/mount/mount_service.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_wired.py
  src/nexus/services/__init__.py
  src/nexus/services/oauth/__init__.py
  src/nexus/services/oauth/oauth_service.py
  src/nexus/services/protocols/oauth.py
  tests/unit/server/test_silent_swallower_regression.py
  tests/unit/services/test_oauth_service.py
  tests/unit/services/test_protocol_compliance.py
  tests/unit/services/test_smoke.py
Due: check-file-size, check-type-ignore

refactor: move AsyncVFSRouter from services/routing/ to core/
  src/nexus/core/async_router.py
  src/nexus/factory/_system.py
  src/nexus/services/routing/__init__.py
  tests/e2e/server/test_async_wrappers_e2e.py
  tests/unit/core/test_factory_boot.py
  tests/unit/services/test_async_router.py
Due: check-file-size, check-type-ignore

docs: compress federation memo + fix CAS orphan analysis (Caveat 4)
  docs/architecture/federation-memo.md
Due: none

fix: replace dead skill_doc import with inline SKILL.md generation
  src/nexus/bricks/mcp/mcp_service.py
Due: check-file-size, check-type-ignore

refactor: move SearchService from services/search/ to bricks/search/
  .pre-commit-hooks/check_brick_imports.py
  .pre-commit-hooks/check_file_size.py
  pyproject.toml
  scripts/generate_rpc_params.py
  src/nexus/bricks/search/__init__.py
  src/nexus/bricks/search/graph_search_service.py
  src/nexus/bricks/search/search_service.py
  src/nexus/factory/_wired.py
  src/nexus/server/api/v2/routers/search.py
  src/nexus/services/__init__.py
  src/nexus/services/protocols/search.py
  src/nexus/services/search/__init__.py
  src/nexus/services/search/search_semantic.py
  tests/e2e/self_contained/test_cross_zone_sharing_query.py
  tests/e2e/self_contained/test_list_with_permissions.py
  tests/e2e/self_contained/test_parallel_list_permissions.py
  tests/e2e/self_contained/test_performance_tuning_e2e.py
  tests/e2e/self_contained/test_trigram_search_integration.py
  tests/integration/core/test_tuning_wiring.py
  tests/unit/services/test_protocol_compliance.py
  tests/unit/services/test_search_glob_prefix.py
  tests/unit/services/test_search_semantic.py
  tests/unit/services/test_search_service.py
  tests/unit/services/test_smoke.py
Due: check-file-size, check-type-ignore

feat: add short RPC method aliases for nexus-test compatibility
  src/nexus/server/_rpc_param_overrides.py
  src/nexus/server/rpc/dispatch.py
Due: check-file-size, check-type-ignore

docs: align CAS orphan analysis with HDFS/GFS pattern + fix code comment
  docs/architecture/federation-memo.md
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

fix: enforce owner-scoped task access in scheduler REST API
  src/nexus/server/api/v2/routers/scheduler.py
  src/nexus/system_services/scheduler/queue.py
  src/nexus/system_services/scheduler/service.py
  tests/unit/scheduler/test_owner_scoped.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 8cca2430d8a84218c52e9d63205f7343d7172d79
  dev/bench/data.js
Due: none

refactor: move services/share_link/ to bricks/share_link/
  pyproject.toml
  scripts/generate_rpc_params.py
  src/nexus/bricks/share_link/__init__.py
  src/nexus/bricks/share_link/share_link_service.py
  src/nexus/factory/_wired.py
  tests/benchmarks/test_service_delegation.py
  tests/unit/services/test_protocol_compliance.py
  tests/unit/services/test_share_link_service.py
Due: check-file-size, check-type-ignore

fix: update tests for scheduler move + TaskQueueService removal
  tests/unit/core/test_architectural_tier_placement.py
  tests/unit/factory/test_wired_services.py
Due: check-type-ignore

fix: wire embedding provider + fix pgvector compatibility for semantic search
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/indexing.py
  src/nexus/bricks/search/vector_db_postgres.py
  src/nexus/server/lifespan/search.py
Due: check-file-size, check-type-ignore

fix: wire embedding provider + fix pgvector compatibility for semantic search
  src/nexus/bricks/search/indexing.py
  src/nexus/server/lifespan/search.py
Due: check-file-size, check-type-ignore
