Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: rpc-parity, version-consistency

rpc-parity:
  name: RPC Parity Check
  entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
  language: system
  pass_filenames: false

version-consistency:
  name: Version Consistency Check
  entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
  language: system
  pass_filenames: false

feat(#1073): Add FUSE intelligent readahead with parallel prefetch (#1103)
  src/nexus/core/sandbox_docker_provider.py
  src/nexus/fuse/operations.py
  src/nexus/fuse/readahead.py
  tests/unit/core/test_sandbox_docker_provider.py
  tests/unit/fuse/__init__.py
  tests/unit/fuse/test_readahead.py
Due: none

feat(#1081): Add per-request consistency modes for Tiger Cache
  src/nexus/core/rebac_cache.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  src/nexus/services/rebac_service.py
  tests/unit/core/test_rebac_cache.py
  tests/unit/core/test_rebac_consistency_modes.py
Due: none

style(#1081): Apply ruff formatting
  src/nexus/server/protocol.py
  tests/unit/core/test_rebac_consistency_modes.py
Due: none

fix(#1081): Update return types for WriteResult compatibility
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_rebac.py
Due: rpc-parity

fix(#1081): Update WriteResult types in gateway and skill_service
  src/nexus/services/gateway.py
  src/nexus/services/skill_service.py
Due: none

fix(#1081): Update tests to handle WriteResult return type
  tests/unit/core/test_leopard.py
  tests/unit/core/test_rebac_manager_operations.py
Due: none

fix(#1081): Update test_nexus_fs_rebac_mixin for WriteResult
  tests/unit/core/test_nexus_fs_rebac_mixin.py
Due: none

feat(#1081): Add per-request consistency modes for Tiger Cache (#1104)
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_rebac.py
  src/nexus/core/rebac_cache.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  src/nexus/services/gateway.py
  src/nexus/services/rebac_service.py
  src/nexus/services/skill_service.py
  tests/unit/core/test_leopard.py
  tests/unit/core/test_nexus_fs_rebac_mixin.py
  tests/unit/core/test_rebac_cache.py
  tests/unit/core/test_rebac_consistency_modes.py
  tests/unit/core/test_rebac_manager_operations.py
Due: rpc-parity

feat(#1092): Add attribute-based ranking for search results
  src/nexus/search/__init__.py
  src/nexus/search/bm25s_search.py
  src/nexus/search/ranking.py
  src/nexus/search/semantic.py
  tests/unit/search/test_ranking.py
Due: none

fix(#1092): Disable exactness boost in test_boost_with_config test
  tests/unit/search/test_ranking.py
Due: none

fix: Respect enforce_permissions=False in stat() for implicit directories
  src/nexus/core/nexus_fs_core.py
Due: rpc-parity

fix: Add type ignore comment for _enforce_permissions in stat()
  src/nexus/core/nexus_fs_core.py
Due: rpc-parity

feat(#1092): Add attribute-based ranking for search results (#1105)
  src/nexus/core/nexus_fs_core.py
  src/nexus/search/__init__.py
  src/nexus/search/bm25s_search.py
  src/nexus/search/ranking.py
  src/nexus/search/semantic.py
  tests/unit/search/test_ranking.py
Due: rpc-parity

feat: Add bulk operations and FUSE performance optimizations
  benchmarks/performance/performance_comparison_report.html
  benchmarks/performance/test_flat_comparison.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/sandbox_docker_provider.py
  src/nexus/fuse/cache.py
  src/nexus/fuse/mount.py
  src/nexus/fuse/operations.py
  src/nexus/remote/client.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/protocol.py
  src/nexus/server/rate_limiter.py
  src/nexus/storage/metadata_store.py
Due: rpc-parity

feat: Add bulk operations and FUSE performance optimizations (#1107)
  benchmarks/performance/performance_comparison_report.html
  benchmarks/performance/test_flat_comparison.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/sandbox_docker_provider.py
  src/nexus/fuse/cache.py
  src/nexus/fuse/mount.py
  src/nexus/fuse/operations.py
  src/nexus/remote/client.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/protocol.py
  src/nexus/server/rate_limiter.py
  src/nexus/storage/metadata_store.py
Due: rpc-parity

feat: Add Postgres best practices optimizations
  src/nexus/storage/metadata_store.py
  src/nexus/storage/models.py
  src/nexus/storage/operation_logger.py
  src/nexus/storage/pg_monitor.py
Due: none

feat: Add Postgres best practices optimizations (#1108)
  src/nexus/storage/metadata_store.py
  src/nexus/storage/models.py
  src/nexus/storage/operation_logger.py
  src/nexus/storage/pg_monitor.py
Due: none

chore: add .cargo/ to gitignore for Windows-specific MSVC linker config
  .gitignore
Due: none

feat(#1106): Implement PassthroughBackend and event APIs for same-box scenarios
  docker-compose.demo.yml
  pyproject.toml
  src/nexus/backends/__init__.py
  src/nexus/backends/passthrough.py
  src/nexus/backends/registry.py
  src/nexus/core/file_watcher.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_events.py
  tests/integration/test_wait_for_changes.py
  tests/unit/backends/test_passthrough.py
  uv.lock
Due: rpc-parity, version-consistency

fix: Address lint violations and remove type: ignore
  src/nexus/backends/passthrough.py
  src/nexus/core/file_watcher.py
Due: none

fix: Address lint violations in nexus_fs_events.py
  src/nexus/core/nexus_fs_events.py
Due: rpc-parity

fix: Address remaining lint violations in tests
  src/nexus/core/file_watcher.py
  tests/integration/test_wait_for_changes.py
  tests/unit/backends/test_passthrough.py
Due: none

Path conditions:
  rpc-parity: any of: ^src/nexus/core/nexus_fs.*\.py$
  version-consistency: any of: ^(pyproject\.toml|src/nexus/__init__\.py)$
