Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: rpc-parity, version-consistency

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/)

  - repo: local
    hooks:
      - id: rpc-parity
        name: RPC Parity Check
        entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
        language: system
        pass_filenames: false
        files: ^src/nexus/core/nexus_fs.*\.py$

      - id: version-consistency
        name: Version Consistency Check
        entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|src/nexus/__init__\.py)$

update skill seeker
  nexus-plugin-skill-seekers/pyproject.toml
  nexus-plugin-skill-seekers/src/nexus_skill_seekers/plugin.py
  uv.lock
Due: none

refactor(#476): Add BaseBlobStorageConnector and improve S3/GCS reliability
  docs/base-blob-connector.md
  docs/s3-connector-backend.md
  src/nexus/backends/__init__.py
  src/nexus/backends/base_blob_connector.py
  src/nexus/backends/gcs_connector.py
  src/nexus/backends/s3_connector.py
  src/nexus/core/nexus_fs_core.py
  tests/unit/backends/test_gcs_connector.py
  tests/unit/backends/test_s3_connector.py
Due: rpc-parity

test(#476): Fix GCS connector mock assertions for retry parameter
  tests/unit/backends/test_gcs_connector.py
Due: none

update skills seeker
  src/nexus/cli/commands/skills.py
  src/nexus/core/nexus_fs_skills.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
Due: rpc-parity

update skill seeker (#477)
  nexus-plugin-skill-seekers/pyproject.toml
  nexus-plugin-skill-seekers/src/nexus_skill_seekers/plugin.py
  src/nexus/cli/commands/skills.py
  src/nexus/core/nexus_fs_skills.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  uv.lock
Due: rpc-parity

Fix Google Drive FUSE bugs: mkdir creates nested folders correctly, is_directory uses MIME type
  src/nexus/backends/backend.py
  src/nexus/backends/gcs.py
  src/nexus/backends/gcs_connector.py
  src/nexus/backends/gdrive_connector.py
  src/nexus/backends/local.py
  src/nexus/core/nexus_fs_mounts.py
  tests/unit/backend/test_gdrive_connector.py
  uv.lock
Due: rpc-parity

Add Google Drive OAuth integration infrastructure
  configs/config.demo.yaml
  docker-compose.demo.yml
  docker-start.sh
  docs/api/rpc-api.md
  src/nexus/__init__.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_oauth.py
  src/nexus/server/auth/token_manager.py
  src/nexus/server/protocol.py
  src/nexus/server/rpc_server.py
Due: rpc-parity, version-consistency

Add comprehensive unit tests for OAuth functionality
  tests/unit/core/test_nexus_fs_oauth.py
Due: none

Add OAuth RPC methods to RemoteNexusFS client
  src/nexus/remote/client.py
Due: none

Fix TokenManager tenant_id handling for test compatibility
  src/nexus/server/auth/token_manager.py
Due: none

Update GCS authentication to use service accounts instead of gcloud auth
  .dockerignore
  DOCKER.md
  README.md
  src/nexus/backends/gcs.py
  src/nexus/backends/gcs_connector.py
Due: none

Fix Google Drive OAuth provider registration and add config-based mount support
  .dockerignore
  configs/config.demo.yaml
  docker-compose.yml
  docker-start.sh
  src/nexus/backends/gdrive_connector.py
  src/nexus/core/nexus_fs_oauth.py
Due: rpc-parity

Add Docker integration test workflow for CI/CD
  .github/workflows/docker-integration.yml
Due: none

Add --yes flag to docker-start.sh for CI automation
  .github/workflows/docker-integration.yml
  docker-start.sh
Due: none

Fix OAuth test: update tenant_id expectation to match implementation
  tests/unit/core/test_nexus_fs_oauth.py
Due: none

Add comprehensive unit tests for OAuth provider registration
  tests/unit/backend/test_gdrive_connector.py
Due: none

Fix Google Drive FUSE bugs and add OAuth integration (#479)
  .dockerignore
  .github/workflows/docker-integration.yml
  DOCKER.md
  README.md
  configs/config.demo.yaml
  docker-compose.demo.yml
  docker-compose.yml
  docker-start.sh
  docs/api/rpc-api.md
  src/nexus/__init__.py
  src/nexus/backends/backend.py
  src/nexus/backends/gcs.py
  src/nexus/backends/gcs_connector.py
  src/nexus/backends/gdrive_connector.py
  src/nexus/backends/local.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_mounts.py
  src/nexus/core/nexus_fs_oauth.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  src/nexus/server/rpc_server.py
  tests/unit/backend/test_gdrive_connector.py
  tests/unit/core/test_nexus_fs_oauth.py
Due: rpc-parity, version-consistency

Add context parameter to rmdir, is_directory, and rename_file methods
  src/nexus/backends/backend.py
  src/nexus/backends/base_blob_connector.py
  src/nexus/backends/gcs.py
  src/nexus/backends/gdrive_connector.py
  src/nexus/backends/local.py
Due: none

Fix TokenManager tenant_id defaults for consistency
  src/nexus/server/auth/token_manager.py
Due: none

Refactor: Use default parameter values for tenant_id instead of runtime checks
  src/nexus/cli/commands/oauth.py
  src/nexus/core/nexus_fs_oauth.py
  src/nexus/server/auth/token_manager.py
Due: rpc-parity

Merge main: Resolve conflicts and integrate OAuth + Docker improvements (#481)
  docker-start.sh
  src/nexus/cli/commands/oauth.py
  src/nexus/core/nexus_fs_oauth.py
  src/nexus/server/auth/token_manager.py
Due: rpc-parity

Enhance docker integration test with comprehensive E2E workflow
  .github/workflows/docker-integration.yml
Due: none

Fix API key authentication in docker integration test
  .github/workflows/docker-integration.yml
Due: none

Feature/s3 connector 476 (#478)
  configs/config.demo.yaml
  docker-compose.demo.yml
  docker-start.sh
  docs/base-blob-connector.md
  docs/s3-connector-backend.md
  examples/python/s3_connector_demo.py
  pyproject.toml
  src/nexus/backends/__init__.py
  src/nexus/backends/backend.py
  src/nexus/backends/base_blob_connector.py
  src/nexus/backends/gcs.py
  src/nexus/backends/gcs_connector.py
  src/nexus/backends/gdrive_connector.py
  src/nexus/backends/local.py
  src/nexus/backends/s3_connector.py
  src/nexus/cli/utils.py
  src/nexus/config.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_mounts.py
  tests/unit/backends/test_gcs_connector.py
  tests/unit/backends/test_s3_connector.py
  uv.lock
Due: rpc-parity, version-consistency

Fix: Check for correct server startup message in API key test
  .github/workflows/docker-integration.yml
Due: none

update .env.example nexus api key
  .env.example
Due: none
