Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

feat(#1510): ManagedAgentLoop — kernel-managed LLM reasoning loop
  src/nexus/system_services/acp/connection.py
  src/nexus/system_services/agent_runtime/managed_loop.py
  src/nexus/system_services/agent_runtime/observer.py
  tests/unit/agent_runtime/test_managed_loop.py
Due: check-file-size, check-type-ignore

fix(#1788): inject distributed lock_manager directly — kernel knows pattern
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_lifecycle.py
Due: check-file-size, check-type-ignore

fix: remove stale tests referencing deleted AcpConnection internals
  tests/unit/services/test_acp_connection.py
Due: check-type-ignore

feat(#1589): LLM streaming via DT_STREAM + CAS flush
  src/nexus/backends/compute/openai_compatible.py
  src/nexus/core/stream_manager.py
  src/nexus/system_services/llm_streaming_service.py
  tests/unit/backends/test_openai_compat.py
Due: check-file-size, check-type-ignore

fix: resolve pre-existing CI failures (lint + rebac_namespaces table)
  tests/helpers/in_memory_record_store.py
Due: check-type-ignore

fix: shared TLS config in ClientConfig for live plaintext→mTLS upgrade
  rust/nexus_raft/src/raft/zone_registry.rs
  rust/nexus_raft/src/transport/client.rs
  rust/nexus_raft/src/transport/server.rs
Due: rust-fmt-raft, rust-clippy-raft

fix: pre-existing test_openai_compat F811 + NameError
  tests/unit/backends/test_openai_compat.py
Due: check-type-ignore

fix: set TLS domain_name to localhost for Raft client connections
  rust/nexus_raft/src/transport/client.rs
Due: rust-fmt-raft, rust-clippy-raft

fix: include node hostname in cert SAN for TLS peer verification
  rust/nexus_raft/src/transport/certgen.rs
  rust/nexus_raft/src/transport/server.rs
  src/nexus/raft/zone_manager.py
Due: check-file-size, check-type-ignore, rust-fmt-raft, rust-clippy-raft

perf(#3193): replace polling with asyncio.Event notification in event delivery pipeline
  src/nexus/factory/_background.py
  src/nexus/factory/_boot_context.py
  src/nexus/factory/_system.py
  src/nexus/server/api/v2/routers/events_replay.py
  src/nexus/server/lifespan/services.py
  src/nexus/server/lifespan/services_container.py
  src/nexus/services/event_log/delivery_worker.py
  src/nexus/services/event_log/replay_service.py
  src/nexus/services/event_subsystem/log/delivery.py
  src/nexus/services/event_subsystem/log/replay.py
  src/nexus/storage/piped_record_store_write_observer.py
  tests/e2e/self_contained/test_transactional_event_log.py
  tests/integration/services/event_log/test_delivery_worker_integration.py
  tests/unit/services/event_log/test_delivery_worker.py
  tests/unit/services/event_log/test_replay_service.py
  tests/unit/services/test_event_delivery_worker.py
Due: check-file-size, check-type-ignore

fix(#1797,#1624): remove zone_id from NexusFS _default_context
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

fix: use hostname from NEXUS_PEERS for cert SAN, not bind addr
  rust/nexus_raft/src/bin/witness.rs
  src/nexus/raft/zone_manager.py
Due: check-file-size, check-type-ignore, rust-fmt-raft, rust-clippy-raft

test(#3193): add comprehensive e2e tests for event signal notification pipeline
  tests/e2e/self_contained/test_event_signal_e2e.py
Due: check-type-ignore

feat(#1744): CDC-aware federation read — ReadBlob RPC + PeerBlobClient + chunk assembly
  proto/nexus/grpc/vfs/vfs.proto
  src/nexus/grpc/servicer.py
  src/nexus/grpc/vfs/vfs_pb2.py
  src/nexus/grpc/vfs/vfs_pb2_grpc.py
  src/nexus/raft/content_replication_service.py
  src/nexus/raft/federation_content_resolver.py
  src/nexus/remote/peer_blob_client.py
  tests/unit/raft/test_federation_content_resolver.py
Due: check-file-size, check-type-ignore

feat(#1510): VFSPaths SSOT + migrate ManagedAgentLoop + AcpService
  src/nexus/contracts/vfs_paths.py
  src/nexus/system_services/acp/service.py
  src/nexus/system_services/agent_runtime/managed_loop.py
  tests/unit/agent_runtime/test_managed_loop.py
Due: check-file-size, check-type-ignore

refactor: K3s-style TLS bootstrap — delete 2-phase in-place upgrade
  Cargo.lock
  rust/nexus_raft/Cargo.toml
  rust/nexus_raft/src/pyo3_bindings.rs
  rust/nexus_raft/src/raft/zone_registry.rs
  rust/nexus_raft/src/transport/certgen.rs
  src/nexus/__init__.py
  src/nexus/raft/zone_manager.py
Due: check-file-size, check-type-ignore, rust-fmt-raft, rust-clippy-raft

perf(#1772): complete IPC fast-paths — all syscalls × both DT_PIPE/DT_STREAM
  src/nexus/core/nexus_fs.py
  tests/benchmarks/bench_pipe_syscall_overhead.py
  tests/unit/core/test_nexus_fs_stream_range.py
Due: check-file-size, check-type-ignore

refactor(#1799): delete AgentRecordModel — legacy of deleted AgentRegistry
  src/nexus/storage/models/__init__.py
  src/nexus/storage/models/agents.py
  src/nexus/system_services/agents/agent_record.py
  tests/unit/storage/test_model_imports.py
Due: check-file-size, check-type-ignore

fix(#1799): clean up AgentRecordModel docstring references
  src/nexus/contracts/agent_types.py
  src/nexus/storage/models/identity.py
Due: check-file-size, check-type-ignore

feat(#1310): clean up local replica blob on federation delete
  src/nexus/raft/federation_content_resolver.py
  tests/unit/raft/test_federation_content_resolver.py
Due: check-file-size, check-type-ignore

fix(#1682): migrate rebac + hierarchy kernel reads to KernelDispatch hooks
  src/nexus/bricks/rebac/deferred_permission_hook.py
  src/nexus/bricks/rebac/sync_permission_hook.py
  src/nexus/contracts/vfs_hooks.py
  src/nexus/core/kernel_dispatch.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/orchestrator.py
  tests/unit/backends/test_openai_compat.py
Due: check-file-size, check-type-ignore

refactor(#1798,#1800): unified agent lifecycle + Process* → Agent* rename
  src/nexus/contracts/agent_types.py
  src/nexus/contracts/process_types.py
  src/nexus/contracts/protocols/acp.py
  src/nexus/contracts/protocols/process_table.py
  src/nexus/core/process_table.py
  src/nexus/system_services/acp/service.py
  src/nexus/system_services/agents/agent_registration.py
  src/nexus/system_services/agents/agent_rpc_service.py
  src/nexus/system_services/agents/agent_warmup.py
  src/nexus/system_services/agents/eviction_manager.py
  src/nexus/system_services/agents/eviction_policy.py
  src/nexus/system_services/agents/warmup_steps.py
  src/nexus/system_services/proc/__init__.py
  src/nexus/system_services/proc/proc_resolver.py
  tests/e2e/server/test_agent_registration_e2e.py
  tests/e2e/server/test_delegation_auto_warmup_e2e.py
  tests/e2e/server/test_register_delegate_full_e2e.py
  tests/unit/contracts/test_agent_phase_compat.py
  tests/unit/contracts/test_agent_spec_types.py
  tests/unit/core/test_agent_record.py
  tests/unit/core/test_proc_resolver.py
  tests/unit/core/test_process_table.py
  tests/unit/server/test_agent_status_endpoint.py
  tests/unit/services/test_agent_warmup.py
  tests/unit/services/test_eviction_manager.py
  tests/unit/services/test_eviction_policy.py
Due: check-file-size, check-type-ignore

feat(#1801): deprecate NexusFS embedded mode — kernel never fabricates identity
  src/nexus/__init__.py
  src/nexus/bricks/filesystem/scoped_filesystem.py
  src/nexus/contracts/filesystem/filesystem_abc.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/orchestrator.py
  tests/benchmarks/bench_pipe_syscall_overhead.py
  tests/benchmarks/benchmark_write_performance.py
  tests/conftest.py
  tests/e2e/self_contained/test_dual_write_consistency.py
  tests/e2e/server/test_credentials_e2e.py
  tests/e2e/server/test_identity_e2e.py
  tests/e2e/server/test_path_unscoping_e2e.py
  tests/helpers/test_context.py
  tests/integration/core/test_cold_start.py
  tests/unit/conftest.py
  tests/unit/contracts/test_protocol_conformance.py
  tests/unit/core/test_write_observer_calls.py
  tests/unit/factory/test_wired_services.py
Due: check-file-size, check-type-ignore

feat: add contracts/vfs_paths.py SSOT + migrate all VFS path consumers
  src/nexus/bricks/task_manager/service.py
  src/nexus/contracts/vfs_paths.py
  src/nexus/system_services/acp/service.py
Due: check-file-size, check-type-ignore

docs: add nexus-fs DX launch design doc
  docs/designs/nexus-fs-dx-launch.md
Due: none

fix: ruff format test_openai_compat.py (pre-existing CI failure)
  tests/unit/backends/test_openai_compat.py
Due: check-type-ignore

fix: resolve pre-existing CI failure (ruff format test_openai_compat.py)
  tests/unit/backends/test_openai_compat.py
Due: check-type-ignore

refactor: remove all 2-phase TLS bootstrap residue
  proto/nexus/raft/transport.proto
  rust/nexus_raft/src/bin/witness.rs
  rust/nexus_raft/src/pyo3_bindings.rs
  rust/nexus_raft/src/raft/zone_registry.rs
  rust/nexus_raft/src/transport/client.rs
  rust/nexus_raft/src/transport/mod.rs
  rust/nexus_raft/src/transport/server.rs
  src/nexus/raft/transport_pb2.py
Due: check-file-size, check-type-ignore, rust-fmt-raft, rust-clippy-raft

docs: add eng review and design review specs for nexus-fs
  docs/designs/nexus-fs-design-review.md
  docs/designs/nexus-fs-eng-review.md
Due: none

fix(#1771): eliminate _system_services from kernel — factory-internal only
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/orchestrator.py
Due: check-file-size, check-type-ignore

fix: resolve pre-existing CI failures (ruff format + frozen dataclass test)
  tests/unit/core/test_agent_record.py
Due: check-type-ignore

refactor(#1396): rename cas_backend.py → cas_addressing_engine.py, path_backend.py → path_addressing_engine.py
  src/nexus/backends/__init__.py
  src/nexus/backends/base/cas_addressing_engine.py
  src/nexus/backends/base/path_addressing_engine.py
  src/nexus/backends/compute/openai_compatible.py
  src/nexus/backends/engines/cdc.py
  src/nexus/backends/storage/cas_gcs.py
  src/nexus/backends/storage/cas_local.py
  src/nexus/backends/storage/path_gcs.py
  src/nexus/backends/storage/path_local.py
  src/nexus/backends/storage/path_s3.py
  src/nexus/core/object_store.py
  tests/unit/backends/test_batch_operations.py
  tests/unit/backends/test_cas_backend.py
  tests/unit/backends/test_cas_local_crud.py
  tests/unit/backends/test_cas_metadata_cache.py
  tests/unit/backends/test_path_backend.py
  tests/unit/backends/test_streaming.py
Due: check-file-size, check-type-ignore

fix(#1396): PAS batch_read_content param rename + protocol compliance
  src/nexus/backends/base/path_addressing_engine.py
Due: check-file-size, check-type-ignore

fix: frozen dataclass test — use direct assignment, not object.__setattr__
  tests/unit/core/test_agent_record.py
Due: check-type-ignore

fix(#1396): fix CI failures — context_branch mock + frozen dataclass test
  tests/unit/core/test_agent_record.py
  tests/unit/services/test_context_branch_merge.py
Due: check-type-ignore

fix: make test_is_frozen compatible with Python 3.13
  tests/unit/core/test_agent_record.py
Due: check-type-ignore
