Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: rpc-parity, version-consistency

rpc-parity:
  name: RPC Parity Check
  entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
  language: system
  pass_filenames: false

version-consistency:
  name: Version Consistency Check
  entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
  language: system
  pass_filenames: false

fix: Set SQLite busy_timeout on every connection
  src/nexus/storage/metadata_store.py
Due: none

fix: Add enable_tiger_cache parameter to NexusFS
  src/nexus/core/nexus_fs.py
  tests/unit/core/test_nexus_fs_agent_management.py
Due: rpc-parity

fix: Wrap tiger_invalidate_cache in suppress to prevent deadlocks
  src/nexus/core/nexus_fs_rebac.py
  tests/unit/core/test_nexus_fs_agent_management.py
Due: rpc-parity

fix: Make Tiger Cache operations fail fast with short SQLite timeout
  src/nexus/core/tiger_cache.py
Due: none

fix: Remove O(N²) rebac_list_tuples call in rebac_delete
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_rebac.py
Due: rpc-parity

fix: Add Tiger Cache invalidation to enhanced rebac_delete
  src/nexus/core/rebac_manager_enhanced.py
Due: none

fix: Disable Tiger Cache on SQLite to avoid lock contention
  src/nexus/core/rebac_manager_enhanced.py
Due: none

test: Skip Tiger Cache integration tests on SQLite
  tests/unit/core/test_tiger_cache.py
Due: none

perf: Implement write-through for Tiger Cache grants/revokes
  alembic/versions/drop_ix_duplicate_indexes.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_rebac.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/core/tiger_cache.py
  src/nexus/server/background_tasks.py
  src/nexus/server/fastapi_server.py
  src/nexus/storage/metadata_store.py
  src/nexus/storage/models.py
Due: rpc-parity

style: Apply ruff format
  alembic/versions/drop_ix_duplicate_indexes.py
  src/nexus/core/nexus_fs_rebac.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/core/tiger_cache.py
  src/nexus/server/background_tasks.py
  src/nexus/server/fastapi_server.py
  src/nexus/storage/metadata_store.py
  src/nexus/storage/models.py
Due: rpc-parity

fix: Update test for removed idx_content_chunks_hash index
  tests/unit/storage/test_models.py
Due: none

fix: Merge alembic migration heads
  alembic/versions/77274f750d1f_merge_directory_entries_and_drop_indexes.py
Due: none

fix: Clean up alembic merge migration for ruff
  alembic/versions/77274f750d1f_merge_directory_entries_and_drop_indexes.py
Due: none

perf: Add Tiger Cache write-through and directory index optimizations (#969)
  .github/workflows/docker-integration.yml
  ARCHITECTURE.md
  alembic/versions/77274f750d1f_merge_directory_entries_and_drop_indexes.py
  alembic/versions/add_directory_entries_table.py
  alembic/versions/add_pg_trgm_index_for_substring_search.py
  alembic/versions/drop_ix_duplicate_indexes.py
  alembic/versions/tune_hnsw_index_for_100k_vectors.py
  scripts/test-tiger-write-through.sh
  src/nexus/core/entity_registry.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_rebac.py
  src/nexus/core/rebac_manager.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/core/tiger_cache.py
  src/nexus/search/vector_db.py
  src/nexus/server/background_tasks.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/protocol.py
  src/nexus/storage/metadata_store.py
  src/nexus/storage/models.py
  tests/unit/core/test_tiger_cache.py
  tests/unit/storage/test_directory_index.py
  tests/unit/storage/test_models.py
Due: rpc-parity

perf(#919): Add DirectoryVisibilityCache for O(1) directory visibility checks
  alembic/versions/add_pg_textsearch_bm25_index.py
  alembic/versions/convert_vector_to_halfvec.py
  examples/cli/dir_visibility_cache_demo.sh
  rust/nexus_fast/Cargo.lock
  rust/nexus_fast/Cargo.toml
  rust/nexus_fast/src/lib.rs
  src/nexus/core/dir_visibility_cache.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/permission_boundary_cache.py
  src/nexus/core/permissions.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/core/tiger_cache.py
  src/nexus/search/async_search.py
  src/nexus/search/semantic.py
  src/nexus/search/vector_db.py
  tests/integration/test_halfvec_storage.py
  tests/unit/core/test_permission_boundary_cache.py
Due: rpc-parity

fix(#919): Add dir visibility cache methods to INTERNAL_ONLY_METHODS
  tests/unit/server/test_rpc_parity.py
Due: none

debug: Add logging to agent permission test
  scripts/test_agent_permissions.sh
Due: none

fix: Invalidate L1 permission cache on rebac_write/delete
  scripts/test_agent_permissions.sh
  src/nexus/core/rebac_manager_enhanced.py
Due: none

debug: Add back permission state logging
  scripts/test_agent_permissions.sh
Due: none

fix: Add retry logic to agent permission test for cache propagation
  scripts/test_agent_permissions.sh
Due: none

fix: Handle inherited permissions in Tiger Cache filter_list
  scripts/test_agent_permissions.sh
  src/nexus/core/permissions.py
Due: none

perf(#919): Optimize Tiger Cache fallback for inherited permissions
  src/nexus/core/permissions.py
Due: none

perf(#919): Add DirectoryVisibilityCache for O(1) directory visibility checks (#970)
  alembic/versions/add_pg_textsearch_bm25_index.py
  alembic/versions/convert_vector_to_halfvec.py
  examples/cli/dir_visibility_cache_demo.sh
  rust/nexus_fast/Cargo.lock
  rust/nexus_fast/Cargo.toml
  rust/nexus_fast/src/lib.rs
  src/nexus/core/dir_visibility_cache.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/permission_boundary_cache.py
  src/nexus/core/permissions.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/core/tiger_cache.py
  src/nexus/search/async_search.py
  src/nexus/search/semantic.py
  src/nexus/search/vector_db.py
  tests/integration/test_halfvec_storage.py
  tests/unit/core/test_permission_boundary_cache.py
  tests/unit/server/test_rpc_parity.py
Due: rpc-parity

perf: Add CompactFileMetadata, BM25S search, and Rust-based optimizations
  Cargo.lock
  Cargo.toml
  examples/cli/agent_permissions_demo.sh
  pyproject.toml
  rust/nexus_fast/Cargo.lock
  rust/nexus_fast/Cargo.toml
  rust/nexus_fast/src/lib.rs
  src/nexus/core/__init__.py
  src/nexus/core/compact_metadata.py
  src/nexus/core/grep_fast.py
  src/nexus/core/metadata.py
  src/nexus/core/nexus_fs_search.py
  src/nexus/core/path_interner.py
  src/nexus/search/__init__.py
  src/nexus/search/async_search.py
  src/nexus/search/bm25s_search.py
  src/nexus/search/vector_db.py
  src/nexus/storage/cache.py
  src/nexus/storage/file_cache.py
  src/rust/lib.rs
  tests/benchmarks/test_search_benchmarks.py
  tests/unit/core/test_compact_metadata.py
  tests/unit/core/test_path_interner.py
  tests/unit/search/test_bm25s.py
  uv.lock
Due: rpc-parity, version-consistency

fix: Address Clippy warnings in Rust code
  rust/nexus_fast/src/lib.rs
Due: none

fix: Split alphanumeric tokens at letter-number boundaries
  src/nexus/search/bm25s_search.py
  uv.lock
Due: none

perf: Add CompactFileMetadata, BM25S search, and Rust-based optimizations (#971)
  Cargo.lock
  Cargo.toml
  examples/cli/agent_permissions_demo.sh
  pyproject.toml
  rust/nexus_fast/Cargo.lock
  rust/nexus_fast/Cargo.toml
  rust/nexus_fast/src/lib.rs
  src/nexus/core/__init__.py
  src/nexus/core/compact_metadata.py
  src/nexus/core/grep_fast.py
  src/nexus/core/metadata.py
  src/nexus/core/nexus_fs_search.py
  src/nexus/core/path_interner.py
  src/nexus/search/__init__.py
  src/nexus/search/async_search.py
  src/nexus/search/bm25s_search.py
  src/nexus/search/vector_db.py
  src/nexus/storage/cache.py
  src/nexus/storage/file_cache.py
  src/rust/lib.rs
  tests/benchmarks/test_search_benchmarks.py
  tests/unit/core/test_compact_metadata.py
  tests/unit/core/test_path_interner.py
  tests/unit/search/test_bm25s.py
  uv.lock
Due: rpc-parity, version-consistency

perf: Add Dragonfly cache, adaptive TTL, and hybrid search fusion
  docker-compose.demo.yml
  docker-compose.yml
  pyproject.toml
  src/nexus/core/adaptive_ttl.py
  src/nexus/core/async_rebac_manager.py
  src/nexus/core/cache/__init__.py
  src/nexus/core/cache/dragonfly.py
  src/nexus/core/cache/factory.py
  src/nexus/core/cache/settings.py
  src/nexus/core/rebac_cache.py
  src/nexus/core/rebac_manager.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/search/__init__.py
  src/nexus/search/async_search.py
  src/nexus/search/embeddings.py
  src/nexus/search/fusion.py
  src/nexus/search/semantic.py
  src/nexus/search/vector_db.py
  src/nexus/storage/cache.py
  src/nexus/storage/content_cache.py
  tests/benchmarks/test_search_benchmarks.py
  tests/unit/core/test_adaptive_ttl.py
  tests/unit/core/test_rebac_cache.py
  tests/unit/search/test_hybrid_search.py
  tests/unit/storage/test_content_cache.py
  uv.lock
Due: version-consistency

perf: Add Dragonfly cache, adaptive TTL, and hybrid search fusion (#977)
  docker-compose.demo.yml
  docker-compose.yml
  pyproject.toml
  src/nexus/core/adaptive_ttl.py
  src/nexus/core/async_rebac_manager.py
  src/nexus/core/cache/__init__.py
  src/nexus/core/cache/dragonfly.py
  src/nexus/core/cache/factory.py
  src/nexus/core/cache/settings.py
  src/nexus/core/rebac_cache.py
  src/nexus/core/rebac_manager.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/search/__init__.py
  src/nexus/search/async_search.py
  src/nexus/search/embeddings.py
  src/nexus/search/fusion.py
  src/nexus/search/semantic.py
  src/nexus/search/vector_db.py
  src/nexus/storage/cache.py
  src/nexus/storage/content_cache.py
  tests/benchmarks/test_search_benchmarks.py
  tests/unit/core/test_adaptive_ttl.py
  tests/unit/core/test_rebac_cache.py
  tests/unit/search/test_hybrid_search.py
  tests/unit/storage/test_content_cache.py
  uv.lock
Due: version-consistency

perf: Add search daemon, hotspot detection, version GC, and batch endpoints
  src/nexus/cli/commands/admin.py
  src/nexus/core/glob_fast.py
  src/nexus/core/hotspot_detector.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_search.py
  src/nexus/core/permissions.py
  src/nexus/core/tiger_cache.py
  src/nexus/remote/client.py
  src/nexus/search/__init__.py
  src/nexus/search/daemon.py
  src/nexus/server/background_tasks.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/protocol.py
  src/nexus/server/rpc_server.py
  src/nexus/storage/version_gc.py
  tests/unit/core/test_batch_endpoints.py
  tests/unit/core/test_hotspot_detector.py
  tests/unit/search/test_search_daemon.py
  tests/unit/storage/test_version_gc.py
Due: rpc-parity

fix: Resolve ruff linting issues for CI
  src/nexus/core/nexus_fs_search.py
  src/nexus/search/daemon.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/rpc_server.py
Due: rpc-parity

fix: Resolve ruff linting issues in test files
  tests/unit/core/test_hotspot_detector.py
  tests/unit/search/test_search_daemon.py
  tests/unit/storage/test_version_gc.py
Due: none

Path conditions:
  rpc-parity: any of: ^src/nexus/core/nexus_fs.*\.py$
  version-consistency: any of: ^(pyproject\.toml|src/nexus/__init__\.py)$
