Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(fusion): initialise expanded_context on test-fixture QueryResults
  rust/services/search-plugin/src/fusion.rs
Due: none

fix(chunker): headings always seal current chunk (match Python)
  rust/services/search-plugin/src/chunker.rs
Due: none

fix(query): apply chunks_per_page pooling uniformly across all query types
  rust/services/search-plugin/src/service.rs
Due: none

feat(search-plugin): IndexState — per-zone mtime cache for incremental refresh (P5 step 1)
  rust/services/search-plugin/src/index_manager.rs
  rust/services/search-plugin/src/index_state.rs
  rust/services/search-plugin/src/lib.rs
Due: none

feat(search-plugin): Refresh RPC wired end-to-end (P5 step 2)
  rust/services/proto/nexus/search/v1/search.proto
  rust/services/search-plugin/src/lib.rs
  rust/services/search-plugin/src/service.rs
Due: none

test(search-plugin): Refresh docker E2E — edit + new-file + no-op paths (P5 step 3)
  tests/e2e/docker/search_helpers.py
  tests/e2e/docker/test_search_plugin.py
Due: check-type-ignore

fix(refresh): stale-sweep must respect root_path scope
  rust/services/search-plugin/src/service.rs
Due: none

feat(search-plugin): recency decay + path-prefix boost (P6)
  rust/services/proto/nexus/search/v1/search.proto
  rust/services/search-plugin/src/lib.rs
  rust/services/search-plugin/src/service.rs
Due: none

test(search-plugin): P6 recency + prefix-boost docker E2E
  tests/e2e/docker/search_helpers.py
  tests/e2e/docker/test_search_plugin.py
Due: check-type-ignore

feat(search-plugin): scoring.rs (untracked-file catch-up)
  rust/services/search-plugin/src/scoring.rs
Due: none

style: cargo fmt — lib.rs mod ordering
  rust/services/search-plugin/src/lib.rs
Due: none

fix(scoring): rename RecencyMode::from_str → parse_wire (clippy should-implement-trait)
  rust/services/search-plugin/src/scoring.rs
  rust/services/search-plugin/src/service.rs
Due: none

feat(search-plugin): zone-scoped query result cache (P7)
  rust/services/search-plugin/src/lib.rs
  rust/services/search-plugin/src/query_cache.rs
  rust/services/search-plugin/src/service.rs
Due: none

add Benchmark (pytest) benchmark result for a12edbcb1e7075dd289bc226a27a38d063d05eab
  dev/bench-full/data.js
Due: none

test(search-plugin): audit-driven E2E retrofits — cache + delete-through-Refresh
  tests/e2e/docker/runbook_helpers.py
  tests/e2e/docker/test_search_plugin.py
Due: check-type-ignore

refactor(service): consolidate SearchServiceImpl constructors via builder
  rust/services/search-plugin/src/service.rs
  rust/services/search-plugin/tests/index_e2e.rs
  rust/services/search-plugin/tests/query_e2e.rs
  rust/services/search-plugin/tests/semantic_query_e2e.rs
Due: none

fix(query cache): canonicalise zone_id before caching so invalidation matches
  rust/services/search-plugin/src/service.rs
Due: none

docs(search-plugin): create PARITY_ROADMAP.md with revised P8-P12 scope
  rust/services/search-plugin/PARITY_ROADMAP.md
Due: none

chore(deps): bump nexus-vfs pin to c9ecc9da (auth CLI = live-daemon client + control zone)
  Cargo.lock
  Cargo.toml
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

feat(scripts/wedge_probe): add --readonly mode + first unit coverage
  scripts/wedge_probe.py
  tests/unit/scripts/test_wedge_probe.py
Due: check-file-size, check-type-ignore

fix(ci/macos-nfs-e2e): bound the readiness mount probe; deadline-based wait
  .github/workflows/fuse-plugin-macos-nfs-e2e.yml
Due: none

ci(macos-nfs-e2e): trigger the suite when its harness or probe changes
  .github/workflows/fuse-plugin-macos-nfs-e2e.yml
Due: none

feat(search-plugin proto): P8 Python-parity RPCs — proto only
  rust/services/proto/nexus/search/v1/search.proto
Due: none

feat(search-plugin): P8 RPC dispatch stubs + Health real impl
  rust/services/search-plugin/src/lib.rs
  rust/services/search-plugin/src/service.rs
Due: none

feat(search-plugin): P8 IndexDocuments / NotifyFileChange / Locate / BatchQuery
  rust/services/search-plugin/src/service.rs
Due: none

feat(search-plugin): parked_state.rs + ParkedList/Retry/Discard RPCs (P8 step 4)
  rust/services/search-plugin/src/lib.rs
  rust/services/search-plugin/src/parked_state.rs
  rust/services/search-plugin/src/service.rs
Due: none

feat(search-plugin): indexed_dirs_state.rs + AddIndexedDirectory/Remove/List (P8 step 5)
  rust/services/search-plugin/src/indexed_dirs_state.rs
  rust/services/search-plugin/src/lib.rs
  rust/services/search-plugin/src/service.rs
Due: none

feat(search-plugin): zone_modes_state.rs + SetZoneIndexingMode/List + Stats (P8 step 6)
  rust/services/search-plugin/src/lib.rs
  rust/services/search-plugin/src/service.rs
  rust/services/search-plugin/src/zone_modes_state.rs
Due: none

feat(search Python): RustSearchDaemon + generated proto stubs (P8 step 7)
  src/nexus/bricks/search/rust_daemon.py
  src/nexus/grpc/search/__init__.py
  src/nexus/grpc/search/v1/__init__.py
Due: check-file-size, check-type-ignore

feat(server): boot-time swap SEARCH_BACKEND=rust ⇒ RustSearchDaemon (P8 step 8)
  src/nexus/server/lifespan/search.py
Due: check-file-size, check-type-ignore

test(search-plugin): RustSearchDaemon docker E2E — P8 step 9
  dockerfiles/docker-compose.search-plugin-e2e.yml
  tests/e2e/docker/test_rust_search_daemon.py
Due: check-type-ignore

fix(P8): parked/indexed_dirs/zone_modes RwLock + search v1 __init__
  rust/services/search-plugin/src/indexed_dirs_state.rs
  rust/services/search-plugin/src/parked_state.rs
  rust/services/search-plugin/src/zone_modes_state.rs
  src/nexus/grpc/search/v1/__init__.py
Due: check-file-size, check-type-ignore

fix(P8): rustfmt tests + generate .pyi + move E2E out of slim runner
  dockerfiles/docker-compose.search-plugin-e2e.yml
  rust/services/search-plugin/src/indexed_dirs_state.rs
  rust/services/search-plugin/src/parked_state.rs
  src/nexus/grpc/search/v1/__init__.py
  tests/integration/bricks/search/test_rust_search_daemon.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for f27bd2e60ac83e94dbf52bb705cf2bdc9fdee9dc
  dev/bench-full/data.js
Due: none

fix(rust_daemon): mypy attr-defined ignore on generated stub import
  src/nexus/bricks/search/rust_daemon.py
Due: check-file-size, check-type-ignore

docs(search-plugin): P8 landed — flip roadmap SSOT
  rust/services/search-plugin/PARITY_ROADMAP.md
Due: none

refactor(search-router): delete Python-only admin endpoints
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  src/nexus/server/api/v2/routers/_search_indexed_dirs.py
  src/nexus/server/api/v2/routers/search.py
  tests/e2e/self_contained/test_search_surface_live_e2e.py
  tests/unit/server/routers/test_search_parked_admin.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
