Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix: add debug logging to 3 remaining silent except-pass blocks
  src/nexus/bricks/rebac/rebac_service.py
  src/nexus/server/services/zone_membership.py
  src/nexus/services/search/search_service.py
Due: check-file-size, check-type-ignore

fix: replace print() with logger.warning() in prompts.py
  src/nexus/bricks/tools/prompts.py
Due: check-file-size, check-type-ignore

perf: convert 30 f-string logger calls to lazy % formatting in mcp/mount.py
  pyproject.toml
  src/nexus/bricks/mcp/mount.py
Due: check-file-size, check-type-ignore

perf: convert f-string logger calls to lazy % formatting in sandbox_docker_provider.py
  src/nexus/bricks/sandbox/sandbox_docker_provider.py
Due: check-file-size, check-type-ignore

fix: convert f-string logger calls to lazy % formatting in 10 hot-path files
  src/nexus/bricks/mcp/mount.py
  src/nexus/bricks/mount/mount_service.py
  src/nexus/bricks/rebac/cache/tiger/bitmap_cache.py
  src/nexus/bricks/rebac/manager.py
  src/nexus/bricks/sandbox/sandbox_docker_provider.py
  src/nexus/bricks/sandbox/sandbox_e2b_provider.py
  src/nexus/core/nexus_fs.py
  src/nexus/server/cache_warmer.py
  src/nexus/storage/local_disk_cache.py
  src/nexus/system_services/lifecycle/events_service.py
Due: check-file-size, check-type-ignore

fix: search daemon health reports DB FTS fallback correctly
  src/nexus/bricks/search/daemon.py
Due: check-file-size, check-type-ignore

fix: add import-linter ratchet entries for SearchService move to bricks/
  pyproject.toml
Due: none

ci: add develop→main enforcement check
  .github/workflows/restrict-main-target.yml
Due: none

feat(#1318): align sys_read/sys_write to POSIX pread/pwrite signatures
  src/nexus/bricks/filesystem/scoped_filesystem.py
  src/nexus/bricks/ipc/kernel_adapter.py
  src/nexus/bricks/portability/import_service.py
  src/nexus/cli/commands/file_ops.py
  src/nexus/contracts/filesystem/filesystem_abc.py
  src/nexus/contracts/types.py
  src/nexus/core/nexus_fs.py
  src/nexus/server/rpc/handlers/delta.py
  src/nexus/server/rpc/handlers/filesystem.py
  src/nexus/services/gateway.py
  tests/unit/services/test_gateway.py
Due: check-file-size, check-type-ignore

fix(#1318): fix RPC parity — expose read()/write() Tier 2 + regenerate params
  src/nexus/core/nexus_fs.py
  src/nexus/server/_rpc_param_overrides.py
  src/nexus/server/_rpc_params_generated.py
Due: check-file-size, check-type-ignore

fix(#1318): fix remaining mypy errors — migrate stale callers + protocols
  src/nexus/bricks/mcp/server.py
  src/nexus/cli/commands/search.py
  src/nexus/contracts/portability_types.py
  src/nexus/contracts/protocols/filesystem.py
Due: check-file-size, check-type-ignore

fix(#1318): update tests for POSIX-aligned sys_read/sys_write signatures
  tests/unit/core/test_nexus_fs_core.py
  tests/unit/core/test_scoped_filesystem.py
  tests/unit/core/test_write_observer_calls.py
  tests/unit/server/test_protocol.py
  tests/unit/services/test_gateway.py
  tests/unit/storage/test_operation_log.py
Due: check-type-ignore

fix(#1318): fix E2E test — sys_write → write() where dict return is needed
  tests/e2e/self_contained/test_dual_write_consistency.py
Due: check-type-ignore

fix(#1318): migrate remaining sys_write → write() in E2E tests + demo
  examples/py_demo/workflow_auto_fire_demo.py
  tests/e2e/redis/test_nexusfs_distributed_lock.py
Due: check-file-size, check-type-ignore

fix: move workspace from services/ to bricks/ + fix boot wiring
  src/nexus/factory/_system.py
  src/nexus/server/fastapi_server.py
  src/nexus/services/workspace/__init__.py
  src/nexus/services/workspace/workspace_registry.py
Due: check-file-size, check-type-ignore

refactor: move zone_lifecycle + zone_finalizers from services/ to system_services/lifecycle/
  src/nexus/factory/_system.py
  src/nexus/services/zone_finalizers/__init__.py
  src/nexus/system_services/lifecycle/__init__.py
  src/nexus/system_services/lifecycle/zone_finalizers/__init__.py
  src/nexus/system_services/lifecycle/zone_finalizers/brick_drain_finalizer.py
  src/nexus/system_services/lifecycle/zone_finalizers/cache_finalizer.py
  src/nexus/system_services/lifecycle/zone_finalizers/mount_finalizer.py
  src/nexus/system_services/lifecycle/zone_finalizers/rebac_finalizer.py
  src/nexus/system_services/lifecycle/zone_finalizers/search_finalizer.py
  src/nexus/system_services/lifecycle/zone_lifecycle.py
  tests/unit/services/test_zone_finalizer_compliance.py
  tests/unit/services/test_zone_finalizers.py
  tests/unit/services/test_zone_lifecycle.py
Due: check-file-size, check-type-ignore

refactor: move services/ remnants to proper kernel tier locations
  pyproject.toml
  scripts/generate_rpc_params.py
  src/nexus/bricks/llm/llm_context_builder.py
  src/nexus/bricks/memory/memory_service.py
  src/nexus/contracts/protocols/adaptive_k.py
  src/nexus/factory/_memory.py
  src/nexus/factory/_metadata_export.py
  src/nexus/factory/_wired.py
  src/nexus/lib/permission_utils.py
  src/nexus/server/lifespan/realtime.py
  src/nexus/services/llm_context_builder.py
  src/nexus/system_services/gateway.py
  src/nexus/system_services/lifecycle/__init__.py
  src/nexus/system_services/lifecycle/user_provisioning.py
  src/nexus/system_services/metadata_export.py
  src/nexus/system_services/namespace/__init__.py
  src/nexus/system_services/namespace/descendant_access.py
  src/nexus/system_services/sync/sync_job_service.py
  src/nexus/system_services/sync/sync_service.py
  src/nexus/system_services/sync/write_back_service.py
  src/nexus/system_services/workspace/__init__.py
  src/nexus/system_services/workspace/workspace_rpc_service.py
  tests/benchmarks/test_service_delegation.py
  tests/unit/core/test_nexus_fs_list_workspaces.py
  tests/unit/core/test_nexus_fs_provision_user.py
  tests/unit/services/test_gateway.py
Due: check-file-size, check-type-ignore

refactor: delete services/ package entirely + fix remaining stale imports
  pyproject.toml
  src/nexus/bricks/search/search_service.py
  src/nexus/services/__init__.py
  tests/e2e/self_contained/test_overlay_nexusfs.py
  tests/e2e/server/test_async_wrappers_e2e.py
Due: check-file-size, check-type-ignore

fix: update import-linter layer from nexus.services to nexus.system_services
  pyproject.toml
Due: none

fix: update import-linter ratchet — add system_services violations, prune stale entries
  pyproject.toml
Due: none

fix: relax fork read benchmark threshold from 20x to 50x for CI stability
  tests/unit/services/test_namespace_fork_benchmark.py
Due: check-type-ignore

fix: replace fixed sleeps with polling loops in file watcher tests
  tests/unit/services/test_file_watcher.py
Due: check-type-ignore
