Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

refactor(#1801): delete _system_services — the final cut
  src/nexus/factory/orchestrator.py
  src/nexus/server/api/v2/routers/bricks.py
  src/nexus/server/app_state.py
  src/nexus/server/lifespan/services_container.py
  tests/unit/core/test_minimal_boot_mode.py
  tests/unit/core/test_mount_permissions.py
  tests/unit/core/test_nexus_fs_mounts.py
  tests/unit/core/test_nexus_fs_mounts_optimization.py
  tests/unit/core/test_nexus_fs_provision_user.py
  tests/unit/core/test_zone_boundary_security.py
  tests/unit/server/lifespan/test_lifespan_services.py
  tests/unit/server/test_app_state.py
Due: check-file-size, check-type-ignore

chore: prune test suite — remove duplicates, parametrize, fix collection errors
  .github/workflows/test-health.yml
  TEST_PRUNING_REPORT.md
  scripts/find_redundant_tests.py
  tests/e2e/postgres/migrations/test_harness.py
  tests/unit/bricks/mcp/test_mcp_server_tools.py
  tests/unit/core/test_nexus_fs_rebac_mixin.py
  tests/unit/core/test_rebac.py
  tests/unit/core/test_rebac_manager_operations.py
  tests/unit/core/test_shm_pipe.py
  tests/unit/core/test_shm_stream.py
  tests/unit/services/test_brick_lifecycle.py
  tests/unit/services/test_brick_lifecycle_cascade.py
  tests/unit/services/test_brick_reconciler.py
  tests/unit/services/test_service_lifecycle_coordinator.py
Due: check-file-size, check-type-ignore

fix: adjust sweep test TTL to match reduced sleep timing
  tests/unit/bricks/ipc/test_sweep.py
Due: check-type-ignore

chore: reduce test latency — cut sleeps, move router tests to integration
  tests/integration/server/__init__.py
  tests/integration/server/api/__init__.py
  tests/integration/server/api/v2/routers/__init__.py
  tests/integration/server/api/v2/routers/test_agent_list_endpoint.py
  tests/integration/server/api/v2/routers/test_aspects_router.py
  tests/integration/server/api/v2/routers/test_async_files_pagination.py
  tests/integration/server/api/v2/routers/test_async_files_write_mode.py
  tests/integration/server/api/v2/routers/test_auth_keys_grants.py
  tests/integration/server/api/v2/routers/test_batch_router.py
  tests/integration/server/api/v2/routers/test_bricks_router.py
  tests/integration/server/api/v2/routers/test_delegation_router.py
  tests/integration/server/api/v2/routers/test_files_ops.py
  tests/integration/server/api/v2/routers/test_workspace_router.py
  tests/unit/backends/test_openai_compat.py
  tests/unit/bricks/ipc/test_sweep.py
  tests/unit/core/test_deferred_buffer_deadletter.py
  tests/unit/core/test_namespace_dcache.py
  tests/unit/core/test_pipe_consumers.py
  tests/unit/core/test_rebac_cache.py
  tests/unit/core/test_rebac_iterator_cache.py
  tests/unit/core/test_stdio_stream.py
  tests/unit/core/test_sync_bridge.py
  tests/unit/lib/test_advisory_lock_manager.py
  tests/unit/proxy/test_edge_sync.py
  tests/unit/proxy/test_replay_engine.py
  tests/unit/server/api/v2/__init__.py
  tests/unit/server/api/v2/routers/__init__.py
  tests/unit/services/event_bus/test_event_bus_nats.py
  tests/unit/services/event_log/test_replay_service.py
  tests/unit/services/permissions/test_deferred_permission_buffer.py
  tests/unit/services/permissions/test_dir_visibility_cache.py
  tests/unit/services/snapshot/test_cleanup.py
  tests/unit/services/test_acp_connection.py
  tests/unit/services/test_agent_loop.py
  tests/unit/services/test_brick_reconciler.py
  tests/unit/services/test_dedup_work_queue.py
  tests/unit/storage/test_version_gc.py
Due: check-type-ignore

fix: widen TTL margins in dir_visibility_cache test for CI stability
  tests/unit/services/permissions/test_dir_visibility_cache.py
Due: check-type-ignore

fix: revert sweep test timing to original values
  tests/unit/bricks/ipc/test_sweep.py
Due: check-type-ignore

fix(ci): scope artifact downloads in release pipeline to reduce flaky failures
  .github/workflows/release.yml
Due: none

feat(nexus-fs): playground uses direct adapters — S3 and local work out of the box
  src/nexus/fs/_tui/__init__.py
  src/nexus/fs/_tui/direct_fs.py
  src/nexus/fs/_tui/local_fs.py
Due: check-file-size, check-type-ignore

fix(nexus-fs): fix auto-discover and executor shutdown (Codex round 2)
  src/nexus/fs/__init__.py
  src/nexus/fs/_cli.py
  src/nexus/fs/_tui/__init__.py
Due: check-file-size, check-type-ignore

fix(nexus-fs): tmux-tested fixes — doctor exit hang, q-quit in empty state, client timeouts
  src/nexus/fs/_cli.py
  src/nexus/fs/_credentials.py
  src/nexus/fs/_doctor.py
  src/nexus/fs/_tui/__init__.py
Due: check-file-size, check-type-ignore

fix(nexus-fs): resolve 12 mypy errors across 4 files
  src/nexus/fs/_credentials.py
  src/nexus/fs/_tui/direct_fs.py
  src/nexus/fs/_tui/mount_panel.py
Due: check-file-size, check-type-ignore

fix(nexus-fs): add loading indicator overlay to file browser
  src/nexus/fs/_tui/file_browser.py
Due: check-file-size, check-type-ignore

feat(nexus-fs): add CRUD operations to playground TUI
  src/nexus/fs/_tui/__init__.py
Due: check-file-size, check-type-ignore

fix(nexus-fs): close 4 spec gaps — screen reader, search highlight, partial backends, 2s timeout
  src/nexus/fs/_doctor.py
  src/nexus/fs/_tui/__init__.py
  tests/unit/fs/test_doctor.py
  tests/unit/fs/test_tui.py
Due: check-file-size, check-type-ignore

fix(nexus-fs): resolve remaining 5 mypy no-any-return errors
  src/nexus/fs/_tui/direct_fs.py
  src/nexus/fs/_tui/file_browser.py
Due: check-file-size, check-type-ignore

fix(nexus-fs): fix 2 ruff lint errors (SIM105, I001) from CI
  src/nexus/fs/_tui/__init__.py
  src/nexus/fs/_tui/direct_fs.py
Due: check-file-size, check-type-ignore

feat(nexus-fs): implement Phase 2 CLI commands — doctor + playground TUI
  packages/nexus-fs/pyproject.toml
  src/nexus/fs/_cli.py
  src/nexus/fs/_credentials.py
  src/nexus/fs/_doctor.py
  src/nexus/fs/_tui/__init__.py
  src/nexus/fs/_tui/file_browser.py
  src/nexus/fs/_tui/file_preview.py
  src/nexus/fs/_tui/mount_panel.py
  tests/unit/fs/test_doctor.py
  tests/unit/fs/test_tui.py
Due: check-file-size, check-type-ignore

fix(nexus-fs): address Codex review — 4 issues
  src/nexus/fs/_cli.py
  src/nexus/fs/_doctor.py
  src/nexus/fs/_tui/__init__.py
  tests/unit/fs/test_doctor.py
Due: check-file-size, check-type-ignore

feat(nexus-fs): local:// playground uses direct filesystem passthrough
  src/nexus/fs/_tui/__init__.py
  src/nexus/fs/_tui/local_fs.py
Due: check-file-size, check-type-ignore

fix(nexus-fs): add missing too-small widget + real clipboard copy (Codex round 3)
  src/nexus/fs/_tui/__init__.py
Due: check-file-size, check-type-ignore

style: ruff format 3 files
  src/nexus/fs/_cli.py
  src/nexus/fs/_tui/__init__.py
  src/nexus/fs/_tui/direct_fs.py
Due: check-file-size, check-type-ignore

feat(connectors): human-readable file naming + category subfolders (#3256)
  src/nexus/backends/connectors/cli/base.py
  src/nexus/backends/connectors/cli/display_path.py
  src/nexus/backends/connectors/cli/sync_provider.py
  src/nexus/backends/connectors/gdrive/connector.py
  src/nexus/backends/connectors/github/connector.py
  src/nexus/backends/connectors/gws/connector.py
  src/nexus/backends/connectors/slack/connector.py
  src/nexus/backends/connectors/x/connector.py
  src/nexus/backends/misc/sync_pipeline.py
  src/nexus/bricks/search/search_service.py
  src/nexus/system_services/sync/sync_service.py
  tests/integration/backends/connectors/cli/test_cli_connector.py
  tests/integration/backends/connectors/cli/test_display_path.py
  tests/integration/backends/connectors/cli/test_lifecycle_e2e.py
  tests/integration/backends/connectors/cli/test_sync_provider.py
  tests/integration/backends/connectors/github/test_github_schemas.py
  tests/integration/backends/connectors/gws/test_gws_schemas.py
Due: check-file-size, check-type-ignore

fix(ci): update macOS runners and simplify build config
  .github/workflows/conda-pack.yml
Due: none

chore: bump version to 0.9.13
  pyproject.toml
  rust/nexus_pyo3/Cargo.toml
Due: none

fix(ci): restore --no-default-features for nexus_raft build
  .github/workflows/conda-pack.yml
Due: none

fix(ci): update macOS runners and remove protoc in conda-pack
  .github/workflows/conda-pack.yml
  pyproject.toml
  rust/nexus_pyo3/Cargo.toml
Due: none

fix: sync nexus_pyo3 version to 0.9.12
  rust/nexus_pyo3/Cargo.toml
Due: none

test: add runtime import isolation tests for slim nexus-fs boundary
  tests/unit/fs/test_boundary.py
Due: check-type-ignore

fix: remove nexus.factory dependency from slim nexus-fs boot path (#3326)
  src/nexus/fs/__init__.py
  tests/unit/fs/test_boundary.py
  tests/unit/fs/test_integration.py
Due: check-file-size, check-type-ignore

fix: sync nexus_pyo3 version to 0.9.13
  rust/nexus_pyo3/Cargo.toml
  rust/nexus_pyo3/pyproject.toml
Due: none

refactor(#1801): delete _system_services — the final cut
  src/nexus/factory/orchestrator.py
  src/nexus/server/api/v2/routers/bricks.py
  src/nexus/server/app_state.py
  src/nexus/server/lifespan/services_container.py
  tests/e2e/self_contained/test_overlay_nexusfs.py
  tests/e2e/self_contained/test_zone_admin_sharing.py
  tests/e2e/server/test_directory_grants_e2e.py
  tests/integration/server/api/v2/test_bricks_live_server.py
  tests/unit/core/test_minimal_boot_mode.py
  tests/unit/core/test_mount_permissions.py
  tests/unit/core/test_nexus_fs_mounts.py
  tests/unit/core/test_nexus_fs_mounts_optimization.py
  tests/unit/core/test_nexus_fs_provision_user.py
  tests/unit/core/test_nexus_fs_services.py
  tests/unit/core/test_zone_boundary_security.py
  tests/unit/server/lifespan/test_lifespan_services.py
  tests/unit/server/test_app_state.py
  uv.lock
Due: check-file-size, check-type-ignore

fix: simplify dynamic federation compose for TLS=false
  dockerfiles/docker-compose.dynamic-federation-test.yml
Due: none

refactor: eliminate NEXUS_NODE_ID — hostname-derived node identity
  Cargo.lock
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
  dockerfiles/docker-compose.cross-platform-test.yml
  dockerfiles/docker-compose.dynamic-federation-test.yml
  rust/nexus_raft/Cargo.toml
  rust/nexus_raft/src/bin/witness.rs
  rust/nexus_raft/src/pyo3_bindings.rs
  rust/nexus_raft/src/transport/certgen.rs
  rust/nexus_raft/src/transport/mod.rs
  rust/nexus_raft/src/transport/server.rs
  rust/nexus_raft/src/transport/transport_loop.rs
  rust/nexus_raft/tests/test_grpc_cluster.rs
  src/nexus/__init__.py
  src/nexus/cli/commands/zone.py
  src/nexus/cli/utils.py
  src/nexus/raft/__init__.py
  src/nexus/raft/federation.py
  src/nexus/raft/peer_address.py
  src/nexus/raft/zone_manager.py
  src/nexus/security/tls/certgen.py
  src/nexus/server/rpc/services/federation_rpc.py
  src/nexus/storage/raft_metadata_store.py
  tests/unit/raft/test_peer_address.py
Due: check-file-size, check-type-ignore, rust-fmt-raft, rust-clippy-raft

fix: mypy error — cast node_id to int in zone_manager property
  src/nexus/raft/zone_manager.py
Due: check-file-size, check-type-ignore

feat: federation as Q3 PersistentService + cluster profile
  src/nexus/contracts/deployment_profile.py
  src/nexus/core/config.py
  src/nexus/daemon/main.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_system.py
  src/nexus/factory/service_routing.py
  src/nexus/raft/federation.py
  src/nexus/server/fastapi_server.py
  tests/unit/core/test_deployment_profile.py
Due: check-file-size, check-type-ignore

feat: drop PostgreSQL from federation E2E — cluster profile + startup retry
  dockerfiles/docker-compose.cross-platform-test.yml
  dockerfiles/docker-compose.dynamic-federation-test.yml
  src/nexus/__init__.py
Due: check-file-size, check-type-ignore

refactor(#1801): decouple ServiceRegistry from BrickLifecycleManager
  src/nexus/core/service_registry.py
  src/nexus/factory/__init__.py
  src/nexus/factory/_helpers.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/orchestrator.py
  tests/unit/services/test_service_lifecycle_coordinator.py
Due: check-file-size, check-type-ignore
