Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

feat(#1625): add DT_STREAM federation — gRPC remote proxy for stream read/write/destroy
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor(#1625): extract DT_PIPE/DT_STREAM federation proxy from kernel to service layer
  src/nexus/__init__.py
  src/nexus/bricks/parsers/virtual_view_resolver.py
  src/nexus/contracts/vfs_hooks.py
  src/nexus/core/kernel_dispatch.py
  src/nexus/core/nexus_fs.py
  src/nexus/raft/federation_content_resolver.py
  src/nexus/raft/federation_ipc_resolver.py
  tests/unit/raft/test_federation_content_resolver.py
  tests/unit/raft/test_federation_ipc_resolver.py
Due: check-file-size, check-type-ignore

fix(#1625): fix daemon test — use AsyncMock for async nexus.connect + fake fastapi module
  tests/unit/daemon/test_main.py
Due: check-type-ignore

fix: mypy union-attr errors — use property for None-safe MountService access
  src/nexus/bricks/mount/mount_persist_service.py
  src/nexus/factory/_wired.py
Due: check-file-size, check-type-ignore

feat(#3066): TUI cross-cutting UX polish (Layer 2)
  packages/nexus-tui/src/app.tsx
  packages/nexus-tui/src/panels/access/access-panel.tsx
  packages/nexus-tui/src/panels/agents/agents-panel.tsx
  packages/nexus-tui/src/panels/api-console/api-console-panel.tsx
  packages/nexus-tui/src/panels/events/events-panel.tsx
  packages/nexus-tui/src/panels/files/file-explorer-panel.tsx
  packages/nexus-tui/src/panels/payments/payments-panel.tsx
  packages/nexus-tui/src/panels/search/search-results.tsx
  packages/nexus-tui/src/panels/versions/transaction-list.tsx
  packages/nexus-tui/src/panels/versions/versions-panel.tsx
  packages/nexus-tui/src/panels/workflows/workflow-list.tsx
  packages/nexus-tui/src/panels/zones/brick-list.tsx
  packages/nexus-tui/src/panels/zones/zones-panel.tsx
  packages/nexus-tui/src/shared/brick-states.ts
  packages/nexus-tui/src/shared/components/empty-state.tsx
  packages/nexus-tui/src/shared/components/status-bar.tsx
  packages/nexus-tui/src/shared/components/tab-bar.tsx
Due: none

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
