Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

feat(kernel): expose new metastore trait methods through PyKernel (F3 C2)
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/metastore.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/core/kernel_protocols.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

fix(storage): RaftMetadataStore.embedded returns RustMetastoreProxy
  src/nexus/storage/raft_metadata_store.py
Due: check-file-size, check-type-ignore

fix(tests): make_test_nexus defaults to RustMetastoreProxy
  tests/conftest.py
Due: check-type-ignore

fix(kernel): short-circuit Python sys_rename/sys_unlink on kernel hit
  rust/kernel/src/kernel.rs
  rust/kernel/src/metastore.rs
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

feat(kernel): port DictMetastore surface to Rust MemoryMetastore (F3 C1)
  rust/kernel/src/kernel.rs
  rust/kernel/src/metastore.rs
  src/nexus/core/kernel_protocols.py
Due: check-file-size, check-type-ignore

refactor(storage): route DictMetastore + SQLiteMetastore import names to RustMetastoreProxy (F3 C4)
  src/nexus/__init__.py
  src/nexus/core/metastore.py
  src/nexus/fs/_sqlite_meta.py
  stubs/nexus_kernel/__init__.pyi
  tests/helpers/dict_metastore.py
  tests/unit/fs/test_integration.py
Due: check-file-size, check-type-ignore

fix(codegen): honor #[pyclass(name = \"X\")] rename in .pyi stubs (F3 C4 follow-up)
  scripts/codegen_kernel_abi.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

refactor(storage): replace src DictMetastore class with compat factory + deprecate close-reopen test (F3 C5)
  src/nexus/core/metastore.py
  src/nexus/storage/dict_metastore.py
  tests/helpers/dict_metastore.py
  tests/unit/storage/test_dict_metastore.py
Due: check-file-size, check-type-ignore

fix(kernel): unify sys_stat around Rust fast path (F3 C6)
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor(kernel): use Metastore::rename_path in sys_rename + drop redundant Python fast-fail (F3 C3)
  rust/kernel/src/kernel.rs
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

feat(raft): native RW locks, fence tokens, versioned snapshots (F4 C1)
  rust/raft/src/lib.rs
  rust/raft/src/pyo3_bindings.rs
  rust/raft/src/raft/mod.rs
  rust/raft/src/raft/state_machine.rs
  rust/raft/src/transport/mod.rs
  rust/raft/src/transport/server.rs
Due: none

fix(kernel): route read-side metadata lookups through the kernel (F3 C6b)
  src/nexus/core/nexus_fs.py
  src/nexus/core/router.py
  tests/unit/core/test_nexus_fs_stream_range.py
Due: check-file-size, check-type-ignore

feat(kernel): sys_lock / sys_unlock / sys_lock_extend / sys_lock_list (F4 C4)
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

refactor: drop fence_token, force_release_lock, snapshot migration (F4 C3.5)
  rust/kernel/src/metastore.rs
  rust/kernel/src/raft_metastore.rs
  rust/raft/src/pyo3_bindings.rs
  rust/raft/src/raft/state_machine.rs
  rust/raft/src/transport/mod.rs
  src/nexus/core/kernel_protocols.py
Due: check-file-size, check-type-ignore

feat(kernel): native advisory locks on the Metastore trait (F4 C3)
  rust/kernel/src/metastore.rs
  rust/kernel/src/raft_metastore.rs
  src/nexus/core/kernel_protocols.py
Due: check-file-size, check-type-ignore

feat(pyo3): surface LockMode + fence_token on PyLockInfo (F4 C2)
  rust/raft/src/pyo3_bindings.rs
Due: none

feat(raft): ReadIndex + linearizable ZoneMetastore lock reads (F4 C3.6)
  rust/kernel/src/raft_metastore.rs
  rust/raft/src/raft/node.rs
Due: none

refactor(kernel): delete Python lock infra — LockMixin, distributed_lock, raft/lock_manager (R2)
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_lock.py
  src/nexus/factory/_distributed.py
  src/nexus/factory/_lifecycle.py
  src/nexus/lib/distributed_lock.py
  src/nexus/lib/lease.py
  src/nexus/lib/lock_order.py
  src/nexus/lib/semaphore.py
  src/nexus/raft/lock_manager.py
  src/nexus/server/api/v2/routers/locks.py
Due: check-file-size, check-type-ignore

feat(kernel): unified LockManager + sys_copy + delete VFSLockManager (R1.5)
  rust/kernel/src/backend.rs
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/lib.rs
  rust/kernel/src/lock.rs
  rust/kernel/src/lock_manager.rs
  rust/kernel/src/metastore.rs
  rust/kernel/src/mount_table.rs
  rust/kernel/src/pipe.rs
  rust/kernel/src/pipe_manager.rs
  rust/kernel/src/raft_metastore.rs
  rust/kernel/src/simd.rs
  rust/kernel/src/stream_manager.rs
  rust/kernel/src/volume_engine.rs
  rust/raft/src/raft/state_machine.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/_rust_compat.py
  src/nexus/cli/commands/locks.py
  src/nexus/core/kernel_exports.py
  src/nexus/core/kernel_protocols.py
  src/nexus/core/lock_fast.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_lock.py
  src/nexus/server/rpc/dispatch.py
  src/nexus/server/rpc/handlers/filesystem.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

refactor(kernel): sys_lock_list -> metastore_list_locks + drop per-holder mode from wire shape (F4 C4.1)
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

refactor: RPC handlers + test migration for lock rustification (R3+R4)
  src/nexus/server/rpc/handlers/filesystem.py
  tests/benchmarks/bench_readdir_scale.py
  tests/benchmarks/bench_vfs_lock_manager.py
  tests/e2e/redis/test_multi_instance_workflows.py
  tests/e2e/self_contained/test_vfs_lock_manager_integration.py
  tests/e2e/server/test_lock_rest_api.py
  tests/e2e/server/test_namespace_permissions_e2e.py
  tests/unit/core/test_lock_ordering.py
  tests/unit/core/test_syscall_phase_g.py
  tests/unit/core/test_syscall_phase_h.py
  tests/unit/core/test_vfs_lock_manager.py
  tests/unit/core/test_vfs_lock_wiring.py
  tests/unit/lib/test_advisory_lock_manager.py
Due: check-file-size, check-type-ignore

fix(codegen): use Python-visible class names in kernel_exports.py
  scripts/codegen_kernel_abi.py
  src/nexus/core/kernel_exports.py
  src/nexus/services/lifecycle/dedup_work_queue.py
Due: check-file-size, check-type-ignore

test(kernel): sys_setattr unit tests + fix pyclass impl block split
  rust/kernel/src/kernel.rs
  rust/kernel/src/shm_pipe.rs
  rust/kernel/src/shm_stream.rs
  stubs/nexus_kernel/__init__.pyi
Due: none

feat(kernel): full sys_setattr Rust-ification — eliminate hit pattern (R5)
  rust/contracts/src/lib.rs
  rust/kernel/src/dlc.rs
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/lib.rs
  rust/kernel/src/raft_bindings.rs
  rust/kernel/src/shm_pipe.rs
  rust/kernel/src/shm_stream.rs
  scripts/codegen_kernel_abi.py
  src/nexus/__init__.py
  src/nexus/_kernel_api_groups.py
  src/nexus/bricks/mount/mount_service.py
  src/nexus/core/driver_lifecycle_coordinator.py
  src/nexus/core/kernel_exports.py
  src/nexus/core/metastore.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/router.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_wired.py
  src/nexus/factory/orchestrator.py
  src/nexus/fs/__init__.py
  src/nexus/raft/federation.py
  src/nexus/services/acp/service.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

feat(kernel): StdioPipeBackend + io_profile dispatch + docs update
  dockerfiles/Dockerfile.raft-witness
  docs/architecture/KERNEL-ARCHITECTURE.md
  docs/architecture/lock-architecture.md
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/lib.rs
  rust/kernel/src/stdio_pipe.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/nexus_fs.py
  src/nexus/services/acp/service.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

fix(e2e): sys_stat lock data nested under metadata key
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix(kernel): allow root path "/" in sys_setattr(DT_MOUNT)
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor(dlc,zone): delete Python mount shim, route via sys_setattr(DT_MOUNT) (R7b)
  rust/kernel/src/dlc.rs
  src/nexus/raft/zone_manager.py
Due: check-file-size, check-type-ignore

fix(kernel): delete include_lock param + fix E2E lock test path
  src/nexus/core/nexus_fs.py
  tests/e2e/docker/test_federation_e2e.py
Due: check-file-size, check-type-ignore

refactor(factory): align lifecycle with kernel-owned mount path (R7d)
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/orchestrator.py
Due: check-file-size, check-type-ignore

refactor(dlc): trim coordinator to kernel-backed mount bookkeeping (R7c)
  src/nexus/core/driver_lifecycle_coordinator.py
  tests/unit/core/test_driver_lifecycle_coordinator.py
Due: check-file-size, check-type-ignore

refactor(kernel): zone_to_global mount-table primitive (R7a)
  rust/kernel/src/mount_table.rs
Due: none

fix(kernel): subtract overflow in ensure_parent_directories + decode ReadBlob error payload
  rust/kernel/src/kernel.rs
Due: none

fix(kernel): cache remote-fetched blob to local CAS (R8a durability)
  rust/kernel/src/kernel.rs
Due: none

feat(kernel): native remote content fetch + delete ObjectStoreService gRPC plumbing (R8+R9)
  proto/nexus/storage/object_store.proto
  rust/kernel/build.rs
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/grpc_backend.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/lib.rs
  rust/kernel/src/replication.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/connectors/grpc/__init__.py
  src/nexus/connectors/grpc/nexus/__init__.py
  src/nexus/connectors/grpc/nexus/storage/__init__.py
  src/nexus/connectors/grpc/server.py
  src/nexus/core/nexus_fs.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

test(federation): use /corp/eng zone + drop root zone for Raft tests (R7e)
  src/nexus/raft/federation.py
  tests/e2e/docker/test_federation_e2e.py
Due: check-file-size, check-type-ignore

fix(grpc): source ReadBlob object_store from list_mounts after F2 migration
  src/nexus/grpc/server.py
Due: check-file-size, check-type-ignore

test(unit): delete stale API tests (add_mount, _custom_stream_backends) + migrate DLC.mount callers
  tests/unit/core/test_pipe_dispatch.py
  tests/unit/core/test_shm_stream_vfs.py
  tests/unit/core/test_syscall_backend_callback.py
  tests/unit/core/test_syscall_execute.py
  tests/unit/core/test_syscall_phase_g.py
  tests/unit/core/test_syscall_phase_h.py
  tests/unit/fs/test_release_integrity.py
Due: check-type-ignore

fix(kernel): wire release_metastores + BackendError variant + fsspec test cleanup
  rust/kernel/src/dcache.rs
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/mount_table.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/core/nexus_fs.py
  src/nexus/fs/_cli.py
  src/nexus/fs/_sqlite_meta.py
  src/nexus/fs/testing.py
  stubs/nexus_kernel/__init__.pyi
  tests/unit/bricks/mount/test_mount_core_service.py
  tests/unit/fs/test_release_integrity.py
Due: check-file-size, check-type-ignore

test(unit): migrate DLC.mount + drop stream_backend_factory + delete stale Kernel.add_mount tests
  tests/unit/bricks/mount/test_mount_core_service.py
  tests/unit/core/test_kernel.py
  tests/unit/core/test_kernel_vfs_invariants.py
  tests/unit/core/test_mount_directory_creation.py
Due: check-type-ignore
