Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: rpc-parity, version-consistency

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/)

  - repo: local
    hooks:
      - id: rpc-parity
        name: RPC Parity Check
        entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
        language: system
        pass_filenames: false
        files: ^src/nexus/core/nexus_fs.*\.py$

      - id: version-consistency
        name: Version Consistency Check
        entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|src/nexus/__init__\.py)$

Fix agent permission test: Use API endpoint instead of Python script
  scripts/test_agent_permissions.sh
Due: none

Fix agent permission test: Update path checks for new namespace
  scripts/test_agent_permission_management.py
Due: none

refactor: move _get_nexus_client to shared module and reorganize prompts
  examples/langgraph/pyproject.toml
  examples/langgraph/react_agent.py
  src/nexus/tools/__init__.py
  src/nexus/tools/_client.py
  src/nexus/tools/langgraph/__init__.py
  src/nexus/tools/langgraph/nexus_tools.py
  src/nexus/tools/langgraph/prompts.py
  src/nexus/tools/prompts.py
Due: none

update
  configs/local-dev.env
  local-nexus.sh
  src/nexus/__init__.py
  src/nexus/cli/commands/skills.py
  src/nexus/core/hash_fast.py
  src/nexus/core/nexus_fs_skills.py
  src/nexus/sdk/__init__.py
  src/nexus/server/fastapi_server.py
  src/nexus/skills/__init__.py
  src/nexus/skills/exporter.py
  src/nexus/skills/models.py
Due: rpc-parity, version-consistency

update
  examples/langgraph/pyproject.toml
Due: none

feat: Add cross-tenant sharing APIs
  src/nexus/core/nexus_fs_rebac.py
  src/nexus/core/rebac.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/core/rebac_manager_tenant_aware.py
  src/nexus/remote/async_client.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  tests/unit/core/test_cross_tenant_sharing.py
Due: rpc-parity

fix test
  .gitignore
  scripts/_core/agent_manager.py
  scripts/provision_namespace.py
  src/nexus/server/fastapi_server.py
  tests/unit/sdk/test_sdk.py
  tests/unit/skills/test_skill_models.py
Due: none

feat: Add cross-tenant sharing APIs (#645)
  src/nexus/core/nexus_fs_rebac.py
  src/nexus/core/rebac.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/core/rebac_manager_tenant_aware.py
  src/nexus/remote/async_client.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  tests/unit/core/test_cross_tenant_sharing.py
Due: rpc-parity

feat: Add cross-tenant sharing APIs and fix make_public/make_private RPC
  src/nexus/core/nexus_fs_rebac.py
  src/nexus/core/rebac.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/core/rebac_manager_tenant_aware.py
  src/nexus/remote/async_client.py
  src/nexus/remote/client.py
  src/nexus/server/protocol.py
  tests/unit/core/test_cross_tenant_sharing.py
Due: rpc-parity

feat: Add cross-tenant sharing APIs and fix make_public/make_private RPC (#646)
  src/nexus/server/protocol.py
Due: none

fix: resolve pre-existing mypy errors in hash_fast.py and fastapi_server.py
  src/nexus/core/hash_fast.py
  src/nexus/core/rebac.py
  src/nexus/server/fastapi_server.py
Due: none

fix: resolve mypy arg-type error in nexus_fs_rebac.py
  src/nexus/core/nexus_fs_rebac.py
  src/nexus/core/rebac.py
Due: rpc-parity

revert: restore hash_fast.py and fastapi_server.py to main (pre-existing mypy issues)
  src/nexus/core/hash_fast.py
  src/nexus/server/fastapi_server.py
Due: none

Clean up README and add Control Panel documentation
  .gitignore
  README.md
  docs/images/nexus-architecture.png
  docs/portal/overview.md
Due: none

Update Cache Layer description to clarify L1/L2 architecture
  README.md
Due: none

fix: update cross-tenant sharing tests to use shared-viewer/editor/owner relations
  tests/unit/core/test_cross_tenant_sharing.py
Due: none

Cross (#647)
  src/nexus/core/nexus_fs_rebac.py
  src/nexus/core/rebac.py
  tests/unit/core/test_cross_tenant_sharing.py
Due: rpc-parity

feat: update rebac_manager
  src/nexus/core/rebac_manager.py
Due: none

feat: Add webhook subscriptions, parse providers, and cross-tenant performance fixes
  alembic/versions/add_subscriptions_table.py
  pyproject.toml
  src/nexus/__init__.py
  src/nexus/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_rebac.py
  src/nexus/core/rebac_manager.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/core/rebac_manager_tenant_aware.py
  src/nexus/parsers/providers/__init__.py
  src/nexus/parsers/providers/base.py
  src/nexus/parsers/providers/llamaparse_provider.py
  src/nexus/parsers/providers/markitdown_provider.py
  src/nexus/parsers/providers/registry.py
  src/nexus/parsers/providers/unstructured_provider.py
  src/nexus/remote/async_client.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/protocol.py
  src/nexus/server/subscriptions/__init__.py
  src/nexus/server/subscriptions/manager.py
  src/nexus/server/subscriptions/models.py
  src/nexus/storage/models.py
  tests/unit/core/test_cross_tenant_sharing.py
  uv.lock
Due: rpc-parity, version-consistency

fix: Address ruff linting issues
  alembic/versions/add_subscriptions_table.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/parsers/providers/llamaparse_provider.py
  src/nexus/parsers/providers/registry.py
  src/nexus/parsers/providers/unstructured_provider.py
  src/nexus/server/fastapi_server.py
Due: rpc-parity

style: Apply ruff formatting
  benchmarks/benchmark_grep_memory.py
  sample-pdf.pdf
  src/nexus/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/rebac_manager.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/core/rebac_manager_tenant_aware.py
  src/nexus/parsers/providers/unstructured_provider.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/subscriptions/manager.py
  tests/unit/core/test_cross_tenant_sharing.py
Due: rpc-parity

style: Fix linting in benchmark file
  benchmarks/benchmark_grep_memory.py
Due: none

fix: Resolve mypy type errors in parse providers
  src/nexus/parsers/providers/llamaparse_provider.py
  src/nexus/parsers/providers/markitdown_provider.py
  src/nexus/parsers/providers/registry.py
  src/nexus/parsers/providers/unstructured_provider.py
Due: none

ci: Lower coverage threshold to 50% for v0.8 release
  .github/workflows/test.yml
Due: none

feat: update rebac_manager (#649)
  .github/workflows/test.yml
  alembic/versions/add_subscriptions_table.py
  benchmarks/benchmark_grep_memory.py
  pyproject.toml
  sample-pdf.pdf
  src/nexus/__init__.py
  src/nexus/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_rebac.py
  src/nexus/core/rebac_manager.py
  src/nexus/core/rebac_manager_enhanced.py
  src/nexus/core/rebac_manager_tenant_aware.py
  src/nexus/parsers/providers/__init__.py
  src/nexus/parsers/providers/base.py
  src/nexus/parsers/providers/llamaparse_provider.py
  src/nexus/parsers/providers/markitdown_provider.py
  src/nexus/parsers/providers/registry.py
  src/nexus/parsers/providers/unstructured_provider.py
  src/nexus/remote/async_client.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/protocol.py
  src/nexus/server/subscriptions/__init__.py
  src/nexus/server/subscriptions/manager.py
  src/nexus/server/subscriptions/models.py
  src/nexus/storage/models.py
  tests/unit/core/test_cross_tenant_sharing.py
  uv.lock
Due: rpc-parity, version-consistency

Revise setup instructions and add demo link
  README.md
Due: none

Rename local/docker scripts and sandbox images
  .dockerignore
  .env.example
  .github/workflows/docker-integration.yml
  .gitignore
  DOCKER.md
  Dockerfile
  LICENSE
  QUICKSTART.md
  README.md
  configs/config.demo.yaml
  configs/local-dev.env
  docker-compose.demo.yml
  docker-compose.evaluation.yml
  docker-demo.sh
  docker/build.sh
  docker/nexus-runtime.Dockerfile
  docs/s3-connector-backend.md
  local-demo.sh
  scripts/setup_admin_api_key.py
  scripts/test_agent_permissions.sh
  scripts/zip_default_skills.py
  src/nexus/config.py
  src/nexus/core/sandbox_docker_provider.py
  tests/evaluation/run_evaluation.py
  tests/unit/test_config.py
  tests/unit/test_docker_config.py
Due: none

Fix skill export tests and re-export RemoteNexusFS
  docker-demo.sh
  src/nexus/core/nexus_fs_skills.py
  src/nexus/skills/exporter.py
  src/nexus/tools/langgraph/nexus_tools.py
  tests/unit/core/test_nexus_fs_skills.py
  tests/unit/skills/test_skill_exporter.py
Due: rpc-parity

fix
  docker-demo.sh
Due: none
