Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix(cli): nexus up resume uses docker compose up -d with health polling
  src/nexus/cli/commands/stack.py
Due: check-file-size, check-type-ignore

fix(cli): full config drift detection and parent-dir nexus.yaml guard
  src/nexus/cli/commands/stack.py
Due: check-file-size, check-type-ignore

fix(ipc): add reconnection to sweeper pub/sub + skip_recent for event-driven sweeps
  src/nexus/bricks/ipc/sweep.py
Due: check-file-size, check-type-ignore

perf(ipc): use DT_PIPE for agent wakeup and CacheStore pub/sub for TTL sweeper
  src/nexus/bricks/ipc/__init__.py
  src/nexus/bricks/ipc/conventions.py
  src/nexus/bricks/ipc/delivery.py
  src/nexus/bricks/ipc/lifecycle.py
  src/nexus/bricks/ipc/protocols.py
  src/nexus/bricks/ipc/provisioning.py
  src/nexus/bricks/ipc/sweep.py
  src/nexus/bricks/ipc/wakeup.py
  tests/unit/bricks/ipc/fakes.py
  tests/unit/bricks/ipc/test_delivery.py
  tests/unit/bricks/ipc/test_provisioning.py
  tests/unit/bricks/ipc/test_sweep.py
Due: check-file-size, check-type-ignore

feat(ipc): wire DT_PIPE + CacheStore into server lifespan and REST router
  src/nexus/server/api/v2/routers/ipc.py
  src/nexus/server/lifespan/ipc.py
  tests/e2e/self_contained/test_ipc_integration.py
Due: check-file-size, check-type-ignore

fix(perf): write audit events directly to pipe buffer, bypass VFS pipeline
  src/nexus/storage/write_observer_hooks.py
Due: check-file-size, check-type-ignore

fix(ipc): remove leaked nexus.yaml + wire receiver-side DT_PIPE via registry
  .gitignore
  nexus.yaml
  src/nexus/bricks/ipc/registry.py
  src/nexus/server/lifespan/ipc.py
Due: check-file-size, check-type-ignore

fix(ipc): sweeper uses expires_at for timed wakeup + wire receiver-side PipeWakeupListener
  nexus.yaml
  src/nexus/bricks/ipc/sweep.py
  src/nexus/server/lifespan/ipc.py
  tests/unit/bricks/ipc/test_sweep.py
Due: check-file-size, check-type-ignore

fix(ipc): wire EventPublisher into MessageSender via CacheStore pub/sub
  src/nexus/bricks/ipc/__init__.py
  src/nexus/bricks/ipc/wakeup.py
  src/nexus/server/api/v2/routers/ipc.py
  src/nexus/server/lifespan/ipc.py
Due: check-file-size, check-type-ignore

feat(ipc): add SSE stream endpoint for real-time inbox notifications
  src/nexus/server/api/v2/routers/ipc.py
  tests/e2e/self_contained/test_ipc_integration.py
Due: check-file-size, check-type-ignore

fix: mypy errors — use protocol method name + add return type annotation
  src/nexus/bricks/ipc/lifecycle.py
  src/nexus/server/api/v2/routers/ipc.py
Due: check-file-size, check-type-ignore

fix(ci): run e2e tests inside the Docker container
  .github/workflows/docker-publish.yml
Due: none

fix(ci): copy e2e scripts into container before running
  .github/workflows/docker-publish.yml
Due: none

fix(ci): set NEXUS_PROFILE=remote so CLI connects via HTTP not local redb
  .github/workflows/docker-publish.yml
Due: none

fix(cli): honor explicit remote profile over local workspace
  src/nexus/cli/utils.py
  tests/unit/cli/test_utils.py
  tests/unit/test_version.py
Due: check-file-size, check-type-ignore

fix(ipc): don't start pub/sub listener for NullCacheStore
  src/nexus/bricks/ipc/sweep.py
  tests/e2e/self_contained/test_ipc_integration.py
  tests/e2e/self_contained/test_ipc_signing_e2e.py
Due: check-file-size, check-type-ignore

fix(cli): honor explicit remote profile over local workspace
  src/nexus/cli/utils.py
  tests/unit/cli/test_utils.py
Due: check-file-size, check-type-ignore

Fix CLI version reporting
  src/nexus/__init__.py
  tests/unit/test_version.py
Due: check-file-size, check-type-ignore

refactor: move VFSSemaphore from core/ to lib/ — kernel-authored standard
  docs/architecture/lock-architecture.md
  src/nexus/backends/storage/cas_local.py
  src/nexus/contracts/protocols/semaphore.py
  src/nexus/factory/_bricks.py
  src/nexus/lib/semaphore.py
  tests/unit/backends/test_cas_local_crud.py
  tests/unit/lib/test_advisory_lock_manager.py
  tests/unit/lib/test_vfs_semaphore.py
  tests/unit/services/snapshot/test_concurrent.py
  uv.lock
Due: check-file-size, check-type-ignore

refactor: merge ServiceLifecycleCoordinator into ServiceRegistry
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/contracts/protocols/service_hooks.py
  src/nexus/contracts/protocols/service_lifecycle.py
  src/nexus/core/driver_lifecycle_coordinator.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/service_registry.py
  src/nexus/factory/_background.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_remote.py
  src/nexus/server/lifespan/services.py
  src/nexus/server/lifespan/services_container.py
  src/nexus/system_services/lifecycle/service_lifecycle_coordinator.py
  tests/integration/core/test_cold_start.py
  tests/unit/core/test_service_registry.py
  tests/unit/factory/test_wired_services.py
  tests/unit/server/test_rpc_parity.py
  tests/unit/services/test_service_lifecycle_coordinator.py
Due: check-file-size, check-type-ignore

refactor: permission enforcer — kernel-construct AllowAllEnforcer + dispatch migration
  src/nexus/bricks/rebac/permission_hook.py
  src/nexus/contracts/protocols/service_hooks.py
  src/nexus/contracts/vfs_hooks.py
  src/nexus/core/kernel_dispatch.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/permission.py
  uv.lock
Due: check-file-size, check-type-ignore

fix: update remaining _service_coordinator refs to use property/registry
  src/nexus/__init__.py
  src/nexus/factory/orchestrator.py
  src/nexus/server/lifespan/services_container.py
  tests/unit/remote/test_service_proxy.py
Due: check-file-size, check-type-ignore

fix: update permission hook spec test for 8 channels (stat + access added)
  tests/unit/factory/test_retroactive_hook_specs.py
Due: check-type-ignore

docs(#1816): update KERNEL-ARCHITECTURE.md — kernel primitive cleanup
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

docs(#1811): document mount/unmount KernelDispatch hooks in KERNEL-ARCHITECTURE.md
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

feat(#1801): unify boot path — mount() + make_test_nexus() via create_nexus_fs()
  src/nexus/factory/orchestrator.py
  src/nexus/fs/__init__.py
  tests/conftest.py
  tests/unit/core/test_minimal_boot_mode.py
  tests/unit/core/test_nexus_fs_provision_user.py
  tests/unit/core/test_nexus_fs_rename.py
  tests/unit/core/test_nexus_fs_write_batch.py
Due: check-file-size, check-type-ignore

fix(#1811): remove BrickLifecycleManager import from core/service_registry.py
  src/nexus/core/service_registry.py
Due: check-file-size, check-type-ignore

fix: CI failures — stale import-linter ignores + test fixes
  pyproject.toml
  tests/unit/core/test_nexus_fs_provision_user.py
  tests/unit/server/lifespan/test_lifespan_services.py
Due: check-type-ignore

fix(#1811): fix lifespan services_container service_coordinator access
  src/nexus/server/lifespan/services_container.py
  tests/unit/server/lifespan/test_lifespan_services.py
Due: check-file-size, check-type-ignore

fix: add import-linter ignore for core.service_registry -> system_services.brick_lifecycle
  pyproject.toml
Due: none

fix(ci): add pre-existing import-linter violation to ratchet baseline
  pyproject.toml
Due: none

feat(#1744): wire CASRemoteContentFetcher in production factory
  src/nexus/__init__.py
Due: check-file-size, check-type-ignore

fix(ci): fix test_no_session_local_raises — allow service overwrite
  tests/unit/core/test_nexus_fs_provision_user.py
Due: check-type-ignore

feat(#1812,#1748): Rust ObserverRegistry + async OBSERVE dispatch
  Cargo.lock
  docs/architecture/KERNEL-ARCHITECTURE.md
  rust/nexus_pyo3/src/dispatch.rs
  rust/nexus_pyo3/src/lib.rs
  src/nexus/backends/observers/cas_ref_count_observer.py
  src/nexus/contracts/vfs_hooks.py
  src/nexus/core/file_events.py
  src/nexus/core/kernel_dispatch.py
  src/nexus/core/nexus_fs.py
  src/nexus/server/lifespan/services_container.py
  src/nexus/system_services/event_bus/observer.py
  src/nexus/system_services/lifecycle/events_service.py
  src/nexus/system_services/lifecycle/revision_tracking_observer.py
  src/nexus/system_services/lifecycle/workflow_dispatch_service.py
  tests/unit/backends/test_cas_ref_count_observer.py
  tests/unit/core/test_kernel_dispatch_parallel.py
  tests/unit/core/test_kernel_dispatch_unregister.py
  tests/unit/core/test_write_observer_calls.py
  tests/unit/services/test_events_service.py
  tests/unit/services/test_revision_tracking_observer.py
  tests/unit/services/test_workflow_dispatch.py
Due: check-file-size, check-type-ignore

refactor: federation API redesign — explicit create_zone/join_zone + implicit mount
  Cargo.lock
  dockerfiles/docker-compose.dynamic-federation-test.yml
  rust/nexus_raft/src/bin/witness.rs
  rust/nexus_raft/src/pyo3_bindings.rs
  rust/nexus_raft/src/transport/client.rs
  rust/nexus_raft/src/transport/server.rs
  src/nexus/__init__.py
  src/nexus/cli/client.py
  src/nexus/daemon/main.py
  src/nexus/raft/zone_manager.py
  src/nexus/server/rpc/services/federation_rpc.py
Due: check-file-size, check-type-ignore, rust-fmt-raft, rust-clippy-raft

test: update dynamic federation E2E for new API
  tests/e2e/docker/test_federation_dynamic_e2e.py
Due: check-type-ignore

fix: test fixture waits for cluster instead of skipping
  tests/e2e/docker/test_federation_dynamic_e2e.py
Due: check-type-ignore

refactor(#1772): migrate pipe services from PipeManager to VFS syscalls
  src/nexus/factory/_wired.py
  src/nexus/server/lifespan/services.py
  src/nexus/system_services/acp/service.py
  src/nexus/system_services/lifecycle/workflow_dispatch_service.py
  src/nexus/task_manager/dispatch_consumer.py
  tests/unit/services/test_acp_service.py
  tests/unit/services/test_workflow_dispatch.py
Due: check-file-size, check-type-ignore

fix(#1771): migrate _system_services direct reads to nx.service() via ServiceRegistry
  src/nexus/bricks/mcp/server.py
  src/nexus/cli/commands/cache.py
  src/nexus/cli/commands/context.py
  src/nexus/cli/commands/demo.py
  src/nexus/factory/_lifecycle.py
  src/nexus/fuse/mount.py
  src/nexus/server/api/core/health.py
  src/nexus/server/api/v2/routers/bricks.py
  src/nexus/server/app_state.py
  src/nexus/server/auth/zone_routes.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/lifespan/services_container.py
Due: check-file-size, check-type-ignore

docs(#1062): fix PipeManager/StreamManager package path in KERNEL-ARCHITECTURE.md
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none
