Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

feat(#3785): per-zone token permissions (eng:rw,ops:r syntax)
  src/nexus/cli/commands/hub.py
  src/nexus/storage/api_key_ops.py
  tests/unit/cli/test_hub.py
  tests/unit/storage/test_api_key_ops_zone_perms.py
  tests/unit/storage/test_model_imports.py
Due: check-file-size, check-type-ignore

feat(#3785): file-op ?zone= override (read_file)
  src/nexus/server/api/v2/routers/async_files.py
  tests/unit/server/api/v2/routers/test_async_files_zone_param.py
Due: check-file-size, check-type-ignore

docs(#3785): follow-up plan — zones-glob, file-op ?zone=, per-zone perms, deprecate zone_id
  docs/superpowers/plans/2026-04-25-issue-3785-followups.md
Due: none

feat(#3785): per-zone permissions enforced at router boundary
  src/nexus/bricks/auth/providers/database_key.py
  src/nexus/bricks/auth/types.py
  src/nexus/bricks/mcp/auth_bridge.py
  src/nexus/bricks/mcp/auth_cache.py
  src/nexus/contracts/types.py
  src/nexus/server/api/v2/routers/async_files.py
  tests/unit/bricks/auth/__init__.py
  tests/unit/bricks/auth/test_database_key_zone_perms.py
  tests/unit/contracts/test_assert_zone_allowed.py
  tests/unit/server/api/v2/routers/test_async_files_zone_param.py
Due: check-file-size, check-type-ignore

docs(#3785): F4a audit — categorize APIKeyModel.zone_id callers
  docs/superpowers/plans/2026-04-25-issue-3785-followups.md
Due: none

feat(#3785): deprecate APIKeyModel.zone_id (junction is source of truth)
  alembic/versions/d41d600929c4_make_api_keys_zone_id_nullable_for_3785.py
  src/nexus/storage/api_key_ops.py
  src/nexus/storage/models/auth.py
  tests/unit/storage/models/test_api_key_zone_id_nullable.py
Due: check-file-size, check-type-ignore

feat(#3785): api_key_zones.permissions column
  alembic/versions/713294ffadf4_add_permissions_to_api_key_zones_for_.py
  src/nexus/storage/models/auth.py
  tests/migrations/test_api_key_zones_permissions.py
Due: check-file-size, check-type-ignore

fix(#3785): auth_bridge ignores non-sequence zone_set/zone_perms
  src/nexus/bricks/mcp/auth_bridge.py
Due: check-file-size, check-type-ignore

fix(#3897): seed root zone in migration; fail-closed at startup
  alembic/versions/eba93656daab_add_api_key_zones_junction_table_for_.py
  src/nexus/server/lifespan/permissions.py
  tests/migrations/test_api_key_zones_root_seed.py
  tests/unit/server/lifespan/test_seed_root_zone.py
Due: check-file-size, check-type-ignore

fix(#3897): seed default root zone at startup
  src/nexus/server/lifespan/permissions.py
  tests/unit/server/lifespan/test_seed_root_zone.py
Due: check-file-size, check-type-ignore

fix(demo): drop asyncio.run wrapper around sync nexus.connect()
  permissions_demo_enhanced.sh
Due: none

fix(auth): restore cache and target fallback behavior
  src/nexus/bricks/auth/oauth/token_manager.py
  src/nexus/bricks/auth/tests/test_registry.py
  src/nexus/bricks/auth/tests/test_token_manager_cache.py
  src/nexus/bricks/auth/unified_service.py
Due: check-file-size, check-type-ignore

fix(#3897): refuse orphan zones; reject inactive root at startup
  alembic/versions/eba93656daab_add_api_key_zones_junction_table_for_.py
  src/nexus/server/lifespan/permissions.py
  tests/migrations/test_api_key_zones_root_seed.py
  tests/unit/server/lifespan/test_seed_root_zone.py
Due: check-file-size, check-type-ignore

fix(#3897): preflight before DDL so SQLite reruns cleanly
  alembic/versions/eba93656daab_add_api_key_zones_junction_table_for_.py
  tests/migrations/test_api_key_zones_root_seed.py
Due: check-file-size, check-type-ignore

fix(#3897): share root-zone seed across non-FastAPI bootstrap paths
  src/nexus/server/lifespan/permissions.py
  src/nexus/storage/record_store.py
  src/nexus/storage/zone_bootstrap.py
  tests/unit/storage/test_record_store.py
  tests/unit/storage/test_zone_bootstrap.py
Due: check-file-size, check-type-ignore

fix(#3897): refuse to deprovision the reserved root zone
  src/nexus/server/auth/zone_routes.py
  src/nexus/services/lifecycle/zone_lifecycle.py
  tests/unit/server/test_zone_routes_root_guard.py
  tests/unit/services/test_zone_lifecycle.py
Due: check-file-size, check-type-ignore

fix(#3897): skip root-zone seed when zones table absent
  src/nexus/storage/zone_bootstrap.py
  tests/unit/server/lifespan/test_seed_root_zone.py
  tests/unit/storage/test_zone_bootstrap.py
Due: check-file-size, check-type-ignore

docs(#3886): add §6.1 Rust/Python Boundary Status to syscall-design.md
  docs/architecture/syscall-design.md
Due: none

refactor(#3886): delete Python bridge in service_registry — use stdlib asyncio
  rust/kernel/src/service_registry.rs
Due: none

docs(#3886): update KERNEL-ARCHITECTURE.md — boundary crossing budget
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

fix(#3886): route lock listing through syscall in server-tier router
  src/nexus/server/api/v2/routers/locks.py
Due: check-file-size, check-type-ignore

refactor(#3886): delete sys_write IPC pre-check — let Rust handle DT_PIPE/DT_STREAM inline
  src/nexus/core/nexus_fs_content.py
Due: check-file-size, check-type-ignore

refactor(#3886): replace py.import("datetime") with chrono in sys_stat ISO formatting
  rust/kernel/src/generated_pyo3.rs
  scripts/codegen_kernel_abi.py
Due: check-file-size, check-type-ignore

docs(#3886): update §6.1 boundary status — eliminated sys_write pre-check + sys_stat py.import
  docs/architecture/KERNEL-ARCHITECTURE.md
  docs/architecture/syscall-design.md
Due: none

refactor(§12d): eliminate all Python route()/resolve_path() calls
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/lib.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/bricks/mount/mount_service.py
  src/nexus/bricks/parsers/virtual_view_resolver.py
  src/nexus/bricks/rebac/enforcer.py
  src/nexus/bricks/rebac/filter_chain.py
  src/nexus/bricks/rebac/permission_filter_chain.py
  src/nexus/bricks/search/search_service.py
  src/nexus/bricks/versioning/operation_undo_service.py
  src/nexus/bricks/versioning/version_service.py
  src/nexus/core/driver_lifecycle_coordinator.py
  src/nexus/core/kernel_exports.py
  src/nexus/core/nexus_fs_metadata.py
  src/nexus/fs/_facade.py
  src/nexus/fs/_tui/__init__.py
  src/nexus/server/api/v2/routers/async_files.py
  src/nexus/server/api/v2/routers/connectors.py
  src/nexus/server/rpc/handlers/filesystem.py
  src/nexus/server/rpc/services/federation_rpc.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

fix(§12d): update tests for resolve_path deletion
  tests/unit/core/test_driver_lifecycle_coordinator.py
  tests/unit/core/test_permissions_security.py
  tests/unit/rebac/test_check_rebac_pipe_route.py
  tests/unit/services/test_operation_undo_service.py
Due: check-type-ignore

refactor(#3886): delete dead generate_download_url body in filesystem.py
  src/nexus/server/rpc/handlers/filesystem.py
Due: check-file-size, check-type-ignore

refactor(#1817): delete dead slim-mode write/delete/lock infrastructure from SlimNexusFS
  src/nexus/fs/_facade.py
Due: check-file-size, check-type-ignore

refactor(#1817): delete read fallback cascade from SlimNexusFS
  src/nexus/fs/_facade.py
Due: check-file-size, check-type-ignore

refactor(#1817): clean up stale references and dead code in SlimNexusFS
  src/nexus/core/nexus_fs_content.py
  src/nexus/fs/_facade.py
Due: check-file-size, check-type-ignore

fix(#3900): over-fetch hybrid candidates so dedupe never underfills
  src/nexus/bricks/search/txtai_backend.py
  tests/integration/bricks/search/test_txtai_backend.py
Due: check-file-size, check-type-ignore

fix(#3900): dedupe hybrid search rows by id in txtai backend
  src/nexus/bricks/search/txtai_backend.py
  tests/integration/bricks/search/test_txtai_backend.py
Due: check-file-size, check-type-ignore

perf(kernel): eliminate content clone in pre-hook WriteHookCtx
  rust/kernel/src/dispatch.rs
  rust/kernel/src/kernel.rs
Due: none

feat(kernel): AuditHook — native Rust NativeInterceptHook + dispatch_native_post
  rust/kernel/src/audit_hook.rs
  rust/kernel/src/dispatch.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/lib.rs
Due: none

feat(wal-stream): non-blocking write_nowait via inflight map + flush thread
  rust/kernel/src/wal_stream.rs
Due: none

feat(kernel): nexus-ipc — IPC-over-VFS agent messaging + fix private_interfaces lints
  rust/kernel/src/ipc.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/lib.rs
Due: none

feat(kernel): BRICK_NOSTR_RELAY — NIP-01 Nostr relay backed by nexus VFS
  Cargo.lock
  rust/kernel/Cargo.toml
  rust/kernel/src/lib.rs
  rust/kernel/src/nostr_relay.rs
Due: none

chore(kernel): drop redundant #[allow(private_interfaces)] — types now pub
  rust/kernel/src/kernel.rs
Due: none

feat(kernel): policy-first ReplicationScanner + PeerBlobClient::fetch_path
  Cargo.lock
  rust/kernel/Cargo.toml
  rust/kernel/src/peer_blob_client.rs
  rust/kernel/src/remote_stream.rs
  rust/kernel/src/replication.rs
Due: none

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
