Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: rpc-parity, version-consistency

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/)

  - repo: local
    hooks:
      - id: rpc-parity
        name: RPC Parity Check
        entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
        language: system
        pass_filenames: false
        files: ^src/nexus/core/nexus_fs.*\.py$

      - id: version-consistency
        name: Version Consistency Check
        entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|src/nexus/__init__\.py)$

feat(#1140): Add get_many/set_many batch ops to CacheStoreABC
  src/nexus/core/cache_store.py
Due: none

feat(#1140): Abstract EmbeddingCache + ResourceMapCache to CacheStoreABC
  benchmarks/performance/bench_cache_warmup.py
  src/nexus/cache/__init__.py
  src/nexus/cache/base.py
  src/nexus/cache/domain.py
  src/nexus/cache/dragonfly.py
  src/nexus/cache/factory.py
  src/nexus/cache/inmemory.py
  src/nexus/cache/postgres.py
  src/nexus/cache/settings.py
  src/nexus/cache/warmer.py
  src/nexus/cli/commands/cache.py
  src/nexus/core/cache/__init__.py
  src/nexus/core/cache/domain.py
  src/nexus/core/cache/dragonfly.py
  src/nexus/core/cache/factory.py
  src/nexus/core/event_bus.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/tiger_cache.py
  src/nexus/fuse/mount.py
  src/nexus/search/daemon.py
  src/nexus/search/embeddings.py
  src/nexus/server/fastapi_server.py
  tests/e2e/test_fuse_events_e2e.py
  tests/integration/test_cache_store.py
  tests/integration/test_distributed_lock_cross_platform.py
  tests/integration/test_event_bus_lock_manager.py
  tests/integration/test_multi_instance_workflows.py
  tests/integration/test_nexusfs_distributed_lock.py
  tests/integration/test_semaphore.py
  tests/integration/test_startup_sync.py
  tests/unit/core/test_cache_warmer.py
Due: rpc-parity

fix(#1140): Format cache_store.py for CI lint
  src/nexus/core/cache_store.py
Due: none

fix(#1140): Update mypy override path for moved cache module
  pyproject.toml
Due: version-consistency

fix(#1140): Add type annotation to fix mypy no-any-return in EmbeddingCache
  src/nexus/cache/domain.py
Due: none

docs(#1159): Clean up federation-memo and add task dependency graph
  docs/architecture/federation-memo.md
Due: none

fix(#1258): Fix lint errors after merge with main
  scripts/gen_metadata.py
  src/nexus/core/cache/dragonfly.py
  tests/benchmarks/conftest.py
  tests/benchmarks/test_thread_pool_exhaustion.py
  tests/e2e/conftest.py
  tests/e2e/test_directory_grants_e2e.py
  tests/e2e/test_zone_export_e2e.py
  tests/e2e/test_zone_import_e2e.py
  tests/e2e/test_zone_portability_permissions_e2e.py
  tests/integration/mcp/test_mcp_server_integration.py
  tests/integration/test_gcalendar_connector.py
  tests/integration/test_gmail_connector.py
  tests/integration/test_multi_instance_workflows.py
  tests/integration/test_skills_lifecycle.py
  tests/manual/test_deprovision_user.py
  tests/test_auth_integration.py
  tests/test_oauth_provision_integration.py
  tests/unit/backends/test_streaming.py
  tests/unit/core/test_batch_ops.py
  tests/unit/core/test_embedded_namespaces_rebac.py
  tests/unit/core/test_export_import.py
  tests/unit/core/test_gmail_directory_listing.py
  tests/unit/core/test_hierarchical_list.py
  tests/unit/core/test_list_connector_sizes.py
  tests/unit/core/test_remote_fs.py
  tests/unit/storage/test_time_travel.py
  tests/unit/storage/test_version_gc.py
Due: none

refactor(#1295): Move sandbox, sessions, telemetry, sync_job_manager out of core/
  benchmarks/performance/__init__.py
  src/nexus/core/nexus_fs.py
  src/nexus/sandbox/__init__.py
  src/nexus/sandbox/docker_image_builder.py
  src/nexus/sandbox/sandbox_docker_provider.py
  src/nexus/sandbox/sandbox_e2b_provider.py
  src/nexus/sandbox/sandbox_manager.py
  src/nexus/sandbox/sandbox_provider.py
  src/nexus/server/background_tasks.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/telemetry.py
  src/nexus/services/sessions.py
  src/nexus/services/sync_job_manager.py
  src/nexus/services/sync_job_service.py
  src/nexus/services/sync_service.py
  tests/benchmarks/test_scale_benchmarks.py
  tests/integration/test_namespace_integration.py
  tests/test_auth_manual.py
  tests/unit/core/test_docker_image_builder.py
  tests/unit/core/test_sandbox_docker_provider.py
  tests/unit/core/test_sessions.py
Due: rpc-parity

fix(#1258): Fix import sorting after merge
  tests/integration/test_namespace_integration.py
Due: none

feat(#1258): Add MemGPT 3-tier memory paging system (#1284)
  docs/memory_paging_implementation.md
  docs/memory_paging_server_integration.md
  examples/memory_paging_demo.py
  src/nexus/cli/commands/server.py
  src/nexus/cli/utils.py
  src/nexus/core/memory_paging/__init__.py
  src/nexus/core/memory_paging/archival_store.py
  src/nexus/core/memory_paging/context_manager.py
  src/nexus/core/memory_paging/pager.py
  src/nexus/core/memory_paging/recall_store.py
  src/nexus/core/memory_with_paging.py
  src/nexus/core/nexus_fs.py
  src/nexus/server/api/v2/routers/memories.py
  tests/e2e/test_memory_paging_e2e.py
  tests/integration/test_memory_paging_http.py
  tests/integration/test_namespace_integration.py
  tests/unit/core/memory_paging/test_pager.py
Due: rpc-parity

fix(#1295): Fix ruff lint errors from rebase (F811, F841)
  src/nexus/core/nexus_fs.py
  tests/unit/core/test_deprovision_user.py
Due: rpc-parity

test(#1295): xfail 18 tests that depend on SQLAlchemy-specific side-effects
  tests/unit/core/test_batch_ops.py
  tests/unit/core/test_gmail_directory_listing.py
  tests/unit/core/test_list_connector_sizes.py
  tests/unit/core/test_nexus_fs_search_mixin.py
  tests/unit/search/test_semantic.py
  tests/unit/storage/test_time_travel.py
  tests/unit/storage/test_version_gc.py
Due: none

fix(#1110): Re-add missing lock API Pydantic models
  src/nexus/server/fastapi_server.py
Due: none

feat(#1212): Add hybrid priority scheduler with full production stack
  src/nexus/pay/constants.py
  src/nexus/pay/credits.py
  src/nexus/pay/sdk.py
  src/nexus/scheduler/__init__.py
  src/nexus/scheduler/constants.py
  src/nexus/scheduler/dispatcher.py
  src/nexus/scheduler/migration.sql
  src/nexus/scheduler/models.py
  src/nexus/scheduler/priority.py
  src/nexus/scheduler/queue.py
  src/nexus/scheduler/service.py
  src/nexus/server/api/v2/routers/pay.py
  src/nexus/server/api/v2/routers/scheduler.py
  src/nexus/server/fastapi_server.py
  tests/e2e/test_scheduler_server_e2e.py
  tests/integration/scheduler/__init__.py
  tests/integration/scheduler/test_scheduler_integration.py
  tests/unit/pay/conftest.py
  tests/unit/pay/test_credits_service.py
  tests/unit/pay/test_nexuspay_sdk.py
  tests/unit/pay/test_pay_router.py
  tests/unit/scheduler/__init__.py
  tests/unit/scheduler/test_priority.py
  tests/unit/scheduler/test_queue.py
  tests/unit/scheduler/test_scheduler_router.py
  tests/unit/scheduler/test_service.py
Due: none

fix(#1110): Fix lock API endpoints to work with LockInfo dataclass
  src/nexus/server/fastapi_server.py
Due: none

feat(#1251): Implement PostgreSQL cache backend for Permission, Tiger, and ResourceMap caches
  src/nexus/cache/factory.py
  src/nexus/cache/postgres.py
  src/nexus/server/fastapi_server.py
  tests/integration/test_postgres_cache.py
Due: none

refactor(#1295): Replace AsyncSQLAlchemyMetadataStore with SSOT-generated async wrapper
  scripts/gen_metadata.py
  src/nexus/core/_metadata_generated.py
  src/nexus/core/async_nexus_fs.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/factory.py
  src/nexus/server/fastapi_server.py
  src/nexus/services/version_service.py
  src/nexus/storage/async_metadata_store.py
  src/nexus/storage/record_store_syncer.py
  src/nexus/storage/version_recorder.py
  tests/benchmarks/test_async_permission_performance.py
  tests/e2e/test_nexuspay_server_e2e.py
  tests/integration/test_async_files_integration.py
  tests/unit/core/test_async_nexus_fs.py
  tests/unit/core/test_async_nexus_fs_permissions.py
  tests/unit/core/test_batch_ops.py
  tests/unit/core/test_gmail_directory_listing.py
  tests/unit/core/test_list_connector_sizes.py
  tests/unit/core/test_nexus_fs_search_mixin.py
  tests/unit/search/test_semantic.py
  tests/unit/server/test_async_api_router.py
  tests/unit/storage/test_time_travel.py
  tests/unit/storage/test_version_gc.py
Due: rpc-parity
