Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix(#3790): approvals gRPC servicer — handle Denied/Timeout in Submit, validate metadata, harden Watch
  src/nexus/bricks/approvals/grpc_server.py
Due: check-file-size, check-type-ignore

feat(#3790): hub — route zone-scope miss through PolicyGate
  src/nexus/server/auth/zone_routes.py
  tests/integration/approvals/test_hub_zone_access_hook.py
Due: check-file-size, check-type-ignore

feat(#3790): approvals — bootstrap module (build_approvals_stack)
  src/nexus/bricks/approvals/bootstrap.py
  tests/unit/bricks/approvals/test_bootstrap.py
Due: check-file-size, check-type-ignore

feat(#3790): approvals — daemon/lifespan wiring + feature flag
  src/nexus/server/app_state.py
  src/nexus/server/lifespan/__init__.py
  src/nexus/server/lifespan/approvals.py
  tests/unit/server/lifespan/test_approvals_lifespan.py
Due: check-file-size, check-type-ignore

feat(#3790): mcp — route unlisted egress through PolicyGate
  .pre-commit-hooks/check_brick_imports.py
  src/nexus/bricks/mcp/mount.py
  tests/integration/approvals/test_mcp_egress_hook.py
Due: check-file-size, check-type-ignore

test(#3790): smoke — coalesce burst 100 callers
  tests/integration/approvals/bench_coalesce_burst.py
Due: check-type-ignore

test(#3790): e2e — hub zone access approve unblocks request
  tests/e2e/self_contained/approvals/test_hub_zone_access_e2e.py
Due: check-type-ignore

feat(#3790): docker-compose — forward approvals env + expose gRPC :2029
  docker-compose.yml
  nexus-stack.yml
Due: none

feat(#3790): approvals — Python gRPC server + running_nexus fixture
  src/nexus/bricks/approvals/grpc_auth.py
  src/nexus/bricks/approvals/grpc_server_lifespan.py
  src/nexus/server/lifespan/approvals.py
  tests/e2e/self_contained/conftest.py
  tests/integration/approvals/test_grpc_lifecycle.py
  tests/unit/bricks/approvals/test_grpc_auth.py
Due: check-file-size, check-type-ignore

test(#3790): e2e — Watch stream cross-channel + diag dump
  tests/e2e/self_contained/approvals/test_watch_and_dump_e2e.py
Due: check-type-ignore

test(#3790): e2e — MCP unlisted egress approve unblocks gRPC Submit
  tests/e2e/self_contained/approvals/__init__.py
  tests/e2e/self_contained/approvals/test_mcp_egress_e2e.py
  tests/e2e/self_contained/conftest.py
Due: check-type-ignore

fix(#3790): approvals — dialect-conditional JSONB so SQLite tests can compile schema
  src/nexus/bricks/approvals/db_models.py
Due: check-file-size, check-type-ignore

feat(#3790): mcp — thread policy_gate through MCPConnectionManager → MCPMountManager
  .pre-commit-hooks/check_brick_imports.py
  src/nexus/bricks/approvals/events.py
  src/nexus/bricks/mcp/connection_manager.py
  src/nexus/bricks/mcp/mcp_service.py
  tests/integration/approvals/bench_coalesce_burst.py
  tests/unit/bricks/approvals/test_events_dispatcher.py
  tests/unit/bricks/mcp/test_policy_gate_threading.py
Due: check-file-size, check-type-ignore

feat(#3790): approvals — ReBAC-backed CapabilityAuth with admin-token fallback
  src/nexus/bricks/approvals/grpc_auth.py
  src/nexus/server/lifespan/approvals.py
  tests/unit/bricks/approvals/test_grpc_auth_rebac.py
Due: check-file-size, check-type-ignore

test(#3790): e2e — full MCP mount gate round-trip via real /api/v2/mcp/mounts
  tests/e2e/self_contained/approvals/test_followup_e2e.py
Due: check-type-ignore

test(#3790): e2e — follow-ups A/B/C against nexus up --build
  tests/e2e/self_contained/approvals/test_followup_e2e.py
Due: check-type-ignore

feat(#3790): server — POST /api/v2/mcp/mounts admin endpoint for MCP mount management
  src/nexus/server/api/v2/routers/mcp.py
  src/nexus/server/api/v2/versioning.py
  tests/unit/server/api/v2/test_mcp_router.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — fix late-insert orphan race via session_allow + recent-decision inherit
  src/nexus/bricks/approvals/models.py
  src/nexus/bricks/approvals/repository.py
  src/nexus/bricks/approvals/service.py
  tests/unit/bricks/approvals/test_models.py
Due: check-file-size, check-type-ignore

feat(#3790): server — POST/GET/DELETE /api/v2/rebac/tuples admin endpoints
  src/nexus/server/api/v2/_admin_auth.py
  src/nexus/server/api/v2/routers/mcp.py
  src/nexus/server/api/v2/routers/rebac.py
  src/nexus/server/api/v2/versioning.py
  tests/unit/server/api/v2/test_rebac_router.py
Due: check-file-size, check-type-ignore

fix(#3790): rebac — register approvals namespace + align subject/zone resolution
  src/nexus/bricks/rebac/default_namespaces.py
  src/nexus/bricks/rebac/manager.py
Due: check-file-size, check-type-ignore

fix(#3790): e2e — running_nexus seeds NEXUS_API_KEY and skips zoekt; Test B drives full ReBAC happy-path
  tests/e2e/self_contained/approvals/test_followup_e2e.py
  tests/e2e/self_contained/conftest.py
Due: check-type-ignore

fix(rebac): rename rebac_group_closure.tenant_id -> zone_id to match application code
  alembic/versions/rename_rebac_group_closure_tenant_to_zone.py
Due: check-file-size, check-type-ignore

test(#3790): e2e — drive /api/v2/rebac/tuples in Test B follow-up
  tests/e2e/self_contained/approvals/test_followup_e2e.py
Due: check-type-ignore

fix(#3790): approvals — reject empty zone_id in ListPending and Watch
  src/nexus/bricks/approvals/grpc_auth.py
  src/nexus/bricks/approvals/grpc_server.py
Due: check-file-size, check-type-ignore

fix(#3790): security — require standard admin auth for /api/v2/mcp + /api/v2/rebac
  src/nexus/server/api/v2/_admin_auth.py
  src/nexus/server/api/v2/routers/mcp.py
  src/nexus/server/api/v2/routers/rebac.py
  tests/unit/server/api/v2/test_mcp_router.py
  tests/unit/server/api/v2/test_rebac_router.py
Due: check-file-size, check-type-ignore

fix(#3790): mcp — preserve extra_deny_cidrs when re-validating after approval
  src/nexus/bricks/mcp/mount.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — propagate session_allow to all coalesced session_ids
  src/nexus/bricks/approvals/events.py
  src/nexus/bricks/approvals/service.py
  tests/integration/approvals/test_service_request_and_wait.py
  tests/unit/bricks/approvals/test_events_dispatcher.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — gate diag dump on explicit NEXUS_APPROVALS_DIAG_TOKEN
  src/nexus/bricks/approvals/http_diag.py
  src/nexus/server/lifespan/approvals.py
  tests/integration/approvals/test_http_diag.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — decide() resolves futures before best-effort session/notify
  src/nexus/bricks/approvals/events.py
  src/nexus/bricks/approvals/service.py
  tests/integration/approvals/test_decide_resilience.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — bind Submit session_id to authenticated token_id (cache-poison)
  proto/nexus/grpc/approvals/approvals.proto
  src/nexus/bricks/approvals/grpc_server.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — per-zone ReBAC capability checks (gRPC RPCs)
  src/nexus/bricks/approvals/grpc_auth.py
  src/nexus/bricks/approvals/grpc_server.py
  src/nexus/bricks/approvals/grpc_server_lifespan.py
  src/nexus/bricks/rebac/default_namespaces.py
  src/nexus/bricks/rebac/manager.py
  tests/e2e/self_contained/approvals/test_followup_e2e.py
  tests/integration/approvals/test_grpc_lifecycle.py
  tests/integration/approvals/test_grpc_server.py
  tests/unit/bricks/approvals/test_grpc_auth.py
  tests/unit/bricks/approvals/test_grpc_auth_rebac.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — every worker writes session_allow on decided NOTIFY (cross-worker)
  src/nexus/bricks/approvals/service.py
  tests/integration/approvals/test_xworker_session_fanout.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — round-4 F1 reject decide on expired pending rows
  src/nexus/bricks/approvals/repository.py
  src/nexus/bricks/approvals/service.py
  tests/integration/approvals/test_repository.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — round-3 codex findings F2+F3+F4 + tests
  src/nexus/bricks/approvals/config.py
  src/nexus/bricks/approvals/policy_gate.py
  src/nexus/bricks/approvals/service.py
  src/nexus/bricks/mcp/connection_manager.py
  src/nexus/bricks/mcp/mcp_service.py
  src/nexus/bricks/mcp/mount.py
  src/nexus/server/auth/zone_routes.py
  src/nexus/server/lifespan/approvals.py
  tests/integration/approvals/test_grpc_server.py
  tests/integration/approvals/test_hub_zone_access_hook.py
  tests/integration/approvals/test_reconcile_watchdog.py
  tests/unit/bricks/mcp/test_mount_gate_zone.py
  tests/unit/bricks/mcp/test_policy_gate_threading.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — round-4 F1 reject decide on expired pending rows
  src/nexus/bricks/approvals/service.py
  tests/integration/approvals/test_service_request_and_wait.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — round-4 F2 authenticate before row lookup in Get/Decide/Cancel
  src/nexus/bricks/approvals/grpc_auth.py
  src/nexus/bricks/approvals/grpc_server.py
  tests/integration/approvals/test_grpc_server.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — round-4 F3 watchdog SESSION fan-out on missed NOTIFY
  src/nexus/bricks/approvals/service.py
  tests/integration/approvals/test_reconcile_watchdog.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — round-5 race-fixes F1/F2/F3 correctness
  src/nexus/bricks/approvals/repository.py
  src/nexus/bricks/approvals/service.py
  src/nexus/bricks/approvals/sweeper.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals round-5 conflict-race + EXPIRED fan-out
  src/nexus/bricks/approvals/repository.py
  src/nexus/bricks/approvals/service.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — round-6 SESSION inherit requires real session_id
  src/nexus/bricks/approvals/service.py
Due: check-file-size, check-type-ignore
