Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(ci): remove PyO3/maturin references from CI + suppress dead_code warnings
  .github/workflows/api-surface.yml
  .github/workflows/benchmark.yml
  .github/workflows/code-quality.yml
  .github/workflows/demo-memory.yml
  .github/workflows/docs-nexus-fs.yml
  .github/workflows/docs.yml
  .github/workflows/lint.yml
  .github/workflows/release-nexus-fs.yml
  .github/workflows/slim-wheel-smoke.yml
  .github/workflows/test-health.yml
  .github/workflows/test.yml
  rust/backends/src/lib.rs
  rust/transport/src/federation.rs
Due: none

fix: resolve remaining CI failures after PyO3 removal
  .github/workflows/api-surface.yml
  packages/nexus-fs/pyproject.toml
  src/nexus/bricks/mount/mount_service.py
  src/nexus/bricks/portability/import_service.py
  src/nexus/bricks/snapshot/service.py
  src/nexus/bricks/versioning/version_service.py
  src/nexus/core/nexus_fs_metadata.py
  src/nexus/server/rpc/services/federation_rpc.py
  src/nexus/services/metadata_export.py
  src/nexus/services/workspace/workspace_manager.py
  src/nexus/storage/auth_stores/metastore_settings_store.py
  tests/testkit/metadata.py
Due: check-file-size, check-type-ignore

refactor(python): remove nexus_runtime imports from __init__.py
  src/nexus/__init__.py
Due: check-file-size, check-type-ignore

chore: update stale maturin/nexus_runtime error messages
  src/nexus/bricks/rebac/utils/fast.py
  src/nexus/factory/orchestrator.py
  src/nexus/raft/__init__.py
Due: check-file-size, check-type-ignore

feat(python): add KernelClient gRPC proxy + rewrite boot path
  src/nexus/__init__.py
  src/nexus/core/nexus_fs.py
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

chore: remove maturin build infrastructure
  .github/actions/build-rust-extensions/action.yml
  justfile
  tests/unit/test_packaging_metadata.py
Due: check-type-ignore

refactor(python): replace PyOperationContext with plain dict
  src/nexus/core/nexus_fs_internal.py
Due: check-file-size, check-type-ignore

fix(cargo): remove stale prefix_bench entry from kernel Cargo.toml
  rust/kernel/Cargo.toml
Due: none

test(delete): remove PyO3-binding unit tests (dead after cdylib deletion)
  tests/unit/core/test_agent_registry_pyo3.py
  tests/unit/core/test_architectural_tier_placement.py
  tests/unit/core/test_path_utils_rust.py
  tests/unit/core/test_pipe.py
  tests/unit/core/test_pipe_dispatch.py
  tests/unit/core/test_stream.py
Due: check-type-ignore

fix(mypy): resolve type errors from _rust_compat module changes
  src/nexus/_rust_compat.py
  src/nexus/server/api/v2/routers/async_files.py
Due: check-file-size, check-type-ignore

refactor(python): route federation + ACP calls through gRPC
  src/nexus/server/rpc/services/federation_rpc.py
  src/nexus/services/audit_node/service.py
  src/nexus/task_manager/acp_adapter.py
Due: check-file-size, check-type-ignore

refactor(python): remove nexus_runtime from 8 files (type hints, no-ops, dead code)
  src/nexus/factory/orchestrator.py
  src/nexus/fs/_doctor.py
  src/nexus/fuse/filters.py
  src/nexus/server/api/core/health.py
  src/nexus/server/health/probes.py
  src/nexus/services/lifecycle/dedup_work_queue.py
  src/nexus/storage/file_cache.py
  src/nexus/storage/local_disk_cache.py
Due: check-file-size, check-type-ignore

test(delete): remove BlobPackEngine volume tests (PyO3 class deleted)
  tests/unit/backends/test_ttl_integration.py
  tests/unit/backends/test_volume_batch_concurrency.py
  tests/unit/backends/test_volume_batch_spanning.py
  tests/unit/backends/test_volume_crash_recovery.py
  tests/unit/backends/test_volume_gc_compaction.py
  tests/unit/backends/test_volume_integration.py
  tests/unit/backends/test_volume_mem_index.py
  tests/unit/backends/test_volume_ttl_expiry.py
Due: check-type-ignore

test(delete): remove PyO3-boundary benchmarks + smoke test script
  scripts/smoke_test_kernel_emit.py
  tests/benchmarks/bench_batch_preallocation.py
  tests/benchmarks/bench_cas_volume_overhead.py
  tests/benchmarks/bench_dispatch_rust_vs_python.py
  tests/benchmarks/bench_mem_index.py
  tests/benchmarks/bench_ttl_expiry.py
  tests/benchmarks/bench_write_observer.py
  tests/benchmarks/test_prefix_performance.py
Due: check-file-size, check-type-ignore

chore: sweep remaining nexus_runtime/maturin/cdylib references
  dockerfiles/Dockerfile.minimal
  justfile
  rust/contracts/src/lock_state.rs
  rust/kernel/test_lock.py
  rust/lib/src/trigram/mod.rs
  rust/raft/pyproject.toml
  rust/raft/src/bin/federation_server.rs
  rust/raft/src/blob_fetcher_handler.rs
  rust/raft/src/lib.rs
  rust/services/src/managed_agent/mod.rs
  rust/transport/src/ipc.rs
  rust/transport/src/peer_blob.rs
  tests/e2e/docker/test_federation_e2e.py
Due: check-file-size, check-type-ignore

test(delete): remove test_core_operations benchmark (needs in-process kernel)
  tests/benchmarks/test_core_operations.py
Due: check-type-ignore

test(delete): remove E2E/integration tests importing nexus_runtime
  tests/e2e/server/test_delegation_auto_warmup_e2e.py
  tests/e2e/test_batch_e2e.py
  tests/integration/backends/test_batch_prealloc_s3_e2e.py
  tests/integration/services/test_agent_rpc_service.py
Due: check-type-ignore

docs: update KERNEL-ARCHITECTURE.md — gRPC boundary replaces PyO3
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

chore(ci): remove maturin wheel build from Docker + CI workflows
  .github/workflows/code-quality.yml
  .github/workflows/conda-pack.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-witness
Due: none

fix(tests): convert remaining positional sys_setattr args to kwargs
  tests/e2e/self_contained/test_list_with_permissions.py
  tests/unit/fs/test_integration.py
  tests/unit/fs/test_release_integrity.py
Due: check-type-ignore

test(fix): update testkit helpers — PyKernel → KernelClient
  rust/kernel/benches/prefix_bench.rs
  tests/benchmarks/conftest.py
  tests/conftest.py
  tests/integration/archive/helpers.py
  tests/testkit/metadata.py
  tests/testkit/nexus_factory.py
Due: check-type-ignore

test(delete): remove unit tests requiring nexus-cluster binary
  tests/unit/test_connect_env_propagation.py
  tests/unit/test_open_local_metastore.py
  tests/unit/test_testkit_imports.py
Due: check-type-ignore

test(delete): remove 25 unit tests requiring nexus-cluster binary
  tests/unit/backends/connectors/test_connector_list_dir_order.py
  tests/unit/backends/test_openai_compat_rust.py
  tests/unit/backends/test_path_local_rename.py
  tests/unit/backends/test_streaming.py
  tests/unit/ci/test_build_rust_extensions_action.py
  tests/unit/contracts/test_protocol_conformance.py
  tests/unit/core/test_rust_compat.py
  tests/unit/core/test_share_permission_security.py
  tests/unit/fs/test_boundary.py
  tests/unit/fs/test_doctor.py
  tests/unit/fs/test_ephemeral_mount.py
  tests/unit/fs/test_integration.py
  tests/unit/fs/test_mount_cli.py
  tests/unit/fs/test_mount_p2.py
  tests/unit/fs/test_release_integrity.py
  tests/unit/integration/test_lease_aware_cache.py
  tests/unit/lib/test_lease_cache_races.py
  tests/unit/rebac/test_get_accessible_paths_cold_cache.py
  tests/unit/server/health/test_basic_health.py
  tests/unit/server/health/test_probes.py
  tests/unit/server/test_protocol.py
  tests/unit/server/test_rpc_zone_runner.py
  tests/unit/services/test_audit_node.py
  tests/unit/storage/test_file_cache.py
  tests/unit/storage/test_version_gc.py
Due: check-type-ignore

test(delete): remove 10 more unit tests requiring nexus-cluster binary
  tests/unit/bricks/filesystem/test_scoped_filesystem_read_batch.py
  tests/unit/core/test_mount_directory_creation.py
  tests/unit/core/test_mount_permissions.py
  tests/unit/core/test_nexus_fs_mounts_refactoring.py
  tests/unit/core/test_nexus_fs_read_batch.py
  tests/unit/core/test_nexus_fs_rebac_mixin.py
  tests/unit/core/test_zone_boundary_security.py
  tests/unit/fs/test_parity.py
  tests/unit/fs/test_slim_batch.py
  tests/unit/fs/test_streaming_copy.py
Due: check-type-ignore

fix(test): upgrade self-contained E2E fixtures to module scope
  tests/e2e/self_contained/conftest.py
  tests/e2e/self_contained/mcp/test_mcp_server_integration.py
  tests/e2e/self_contained/mcp/test_md_structure_e2e.py
  tests/e2e/self_contained/test_dual_write_consistency.py
  tests/e2e/self_contained/test_list_pagination.py
  tests/e2e/self_contained/test_observability_pipeline.py
  tests/e2e/self_contained/test_readdir_scale_e2e.py
  tests/e2e/self_contained/test_timestamp_behavior.py
Due: check-type-ignore

fix(kernel_client): fix sys_lock signature to match NexusFS caller
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

docs(federation): update node composition to reflect pure Rust binary
  docs/architecture/federation-memo.md
Due: none

fix(kernel_client): set NEXUS_BOOTSTRAP_MODE for subprocess spawn
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

refactor(docker): switch federation nodes to pure nexusd-cluster
  dockerfiles/docker-compose.dynamic-federation-test.yml
Due: none

refactor(e2e): migrate federation tests to pure nexusd-cluster
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix(kernel_client): fix subprocess pipe deadlock + env var + health check
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

fix(ci): add service_enlist stub + bump binary size budgets
  .github/workflows/cluster-binary-build.yml
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

feat(transport): implement Call RPC dispatcher for generic syscall dispatch
  Cargo.lock
  rust/transport/Cargo.toml
  rust/transport/src/call_dispatch.rs
  rust/transport/src/grpc.rs
  rust/transport/src/lib.rs
Due: none

fix(kernel_client): close_all_streams stub + trie no-ops
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

fix(glob): add brace alternation to Python glob_match_bulk fallback
  src/nexus/_rust_compat.py
Due: check-file-size, check-type-ignore

fix(kernel_client): correct env var name NEXUS_BIND_ADDR (not ADDRESS)
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

fix(kernel_client): add hit field to _SysWriteResult
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

fix(kernel_client): remove bogus 'run' subcommand from spawn cmd
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

fix(ci): increase e2e-self-contained timeout to 45 min
  .github/workflows/test.yml
Due: none

fix(ci): build nexus-cluster binary for self-contained E2E tests
  .github/workflows/test.yml
Due: none

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
