Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix: update raft metastore E2E test — rename_path removed
  tests/e2e/self_contained/test_raft_metadata_store.py
Due: check-type-ignore

ci: always run full test matrix in merge queue
  .github/workflows/test.yml
Due: none

Revert "fix: wire distributed_lock_manager to LocksRPC + remove snapshot test"
  src/nexus/server/fastapi_server.py
  tests/e2e/docker/test_federation_e2e.py
Due: check-file-size, check-type-ignore

fix: wire distributed_lock_manager to LocksRPC + remove snapshot test
  src/nexus/server/fastapi_server.py
  tests/e2e/docker/test_federation_e2e.py
Due: check-file-size, check-type-ignore

test: remove TestSnapshotAtomicOperations (deferred)
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix: update stale four-quadrant comments from #3363 cleanup
  src/nexus/core/service_registry.py
  src/nexus/factory/_lifecycle.py
  tests/unit/services/test_service_lifecycle_coordinator.py
Due: check-file-size, check-type-ignore

docs: audit KERNEL-ARCHITECTURE.md — fix stale facts, reduce granularity
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

ci: force full test matrix in merge queue
  .github/workflows/test.yml
Due: none

docs: fix stale "matrix" reference in §4 after §2.2 was simplified
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

docs: KERNEL-ARCHITECTURE.md — reduce matrix granularity, fix profiles
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

feat(#1576): RemotePipeBackend — driver-layer remote pipe routing
  src/nexus/__init__.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/pipe_manager.py
  src/nexus/core/remote_pipe.py
  src/nexus/core/remote_stream.py
  src/nexus/core/stream_manager.py
  src/nexus/grpc/channel_pool.py
  src/nexus/raft/federation_ipc_resolver.py
  tests/unit/core/test_pipe.py
  tests/unit/core/test_remote_pipe.py
  tests/unit/core/test_remote_stream.py
  tests/unit/grpc/test_channel_pool.py
Due: check-file-size, check-type-ignore

feat(#1576): RemotePipeBackend — driver-layer remote pipe routing (#3378)
  src/nexus/__init__.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/pipe_manager.py
  src/nexus/core/remote_pipe.py
  src/nexus/core/remote_stream.py
  src/nexus/core/stream_manager.py
  src/nexus/grpc/channel_pool.py
  src/nexus/raft/federation_ipc_resolver.py
  tests/unit/core/test_pipe.py
  tests/unit/core/test_remote_pipe.py
  tests/unit/core/test_remote_stream.py
  tests/unit/grpc/test_channel_pool.py
Due: check-file-size, check-type-ignore

ci: force full test matrix in merge queue (#3377)
  .github/workflows/test.yml
Due: none

fix: update stale four-quadrant comments from #3363 (#3373)
  src/nexus/core/service_registry.py
  src/nexus/factory/_lifecycle.py
  tests/unit/services/test_service_lifecycle_coordinator.py
Due: check-file-size, check-type-ignore

feat(federation): add NexusFederation.bootstrap() classmethod + properties
  src/nexus/raft/federation.py
Due: check-file-size, check-type-ignore

refactor(factory): unify construction, fix sentinels, lazy registry
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/service_registry.py
  src/nexus/factory/__init__.py
  src/nexus/factory/_bricks.py
  src/nexus/factory/_distributed.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_system.py
  src/nexus/factory/orchestrator.py
  src/nexus/services/lifecycle/events_service.py
  tests/conftest.py
  tests/e2e/redis/test_multi_instance_workflows.py
  tests/e2e/test_lego_decomp_e2e.py
  tests/integration/core/test_factory_lifespan_wiring.py
  tests/unit/core/test_factory_boot.py
  tests/unit/core/test_kernel_config.py
  tests/unit/core/test_service_registry_lazy.py
  tests/unit/services/test_events_service.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

refactor(factory): rename boot functions for clarity
  src/nexus/factory/__init__.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_system.py
  src/nexus/factory/_wired.py
  src/nexus/factory/orchestrator.py
Due: check-file-size, check-type-ignore

feat(profiles): add BRICK_FEDERATION to deployment profiles
  src/nexus/contracts/deployment_profile.py
Due: check-file-size, check-type-ignore

refactor(factory): linearize create_nexus_fs — eliminate partial injection
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/orchestrator.py
Due: check-file-size, check-type-ignore

fix(federation): profile-gated bootstrap + fix dead lock manager upgrade
  src/nexus/__init__.py
  src/nexus/server/api/core/health.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/health/probes.py
  src/nexus/server/rpc/services/federation_rpc.py
Due: check-file-size, check-type-ignore

cleanup: delete LockStoreProtocol — only one implementer
  src/nexus/lib/distributed_lock.py
  src/nexus/raft/lock_manager.py
Due: check-file-size, check-type-ignore

refactor(lock): EventsService owns lock manager, delete _create_distributed_infra
  docs/architecture/KERNEL-ARCHITECTURE.md
  docs/architecture/lock-architecture.md
  src/nexus/factory/_distributed.py
  src/nexus/services/lifecycle/events_service.py
  tests/unit/core/test_factory_boot.py
  tests/unit/lib/test_advisory_lock_manager.py
  tests/unit/services/test_events_service.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

ci: fix merge queue — force code_changed=true for merge_group event
  .github/workflows/test.yml
Due: none

fix: use _zone_mgr local var for channel_pool TLS config
  src/nexus/__init__.py
Due: check-file-size, check-type-ignore

fix(tests): update health probe tests to mock federation service
  tests/unit/server/health/test_probes.py
Due: check-type-ignore

fix(search): query directory_entries table directly for connector listings
  src/nexus/bricks/search/search_service.py
  tests/unit/backends/connectors/cli/test_metastore_listing.py
Due: check-file-size, check-type-ignore

test(connectors): add e2e integration tests for metastore-first sync pipeline
  tests/integration/backends/connectors/cli/test_metastore_first_e2e.py
Due: check-type-ignore

fix(connectors): populate file_paths + fix OAuth provider class path for TUI
  configs/oauth.yaml
  src/nexus/backends/connectors/cli/sync_loop.py
Due: check-file-size, check-type-ignore

fix(auth): resolve OAuth provider name mismatch and encryption key propagation
  src/nexus/backends/connectors/gmail/connector.py
  src/nexus/backends/connectors/oauth_base.py
  src/nexus/bricks/auth/oauth/crypto.py
Due: check-file-size, check-type-ignore

feat(sync): batch metadata via gws +triage for fast display_path + TUI read fix
  src/nexus/backends/connectors/gws/connector.py
  src/nexus/core/nexus_fs.py
  src/nexus/services/sync/sync_service.py
Due: check-file-size, check-type-ignore

fix(sync): proper display_path integration — write file_paths from sync_service
  src/nexus/backends/connectors/cli/sync_loop.py
  src/nexus/services/sync/sync_service.py
  tests/unit/backends/connectors/cli/test_sync_loop.py
Due: check-file-size, check-type-ignore

feat(connectors): populate directory_entries during sync for metastore-first listing
  src/nexus/backends/connectors/cli/sync_loop.py
Due: check-file-size, check-type-ignore

fix(connectors): zone_id in auth context, display_path integration, longer timeout
  src/nexus/backends/connectors/cli/sync_loop.py
Due: check-file-size, check-type-ignore

feat(connectors): metastore-first sync model for all CLI connectors (#3266)
  src/nexus/backends/connectors/calendar/connector.py
  src/nexus/backends/connectors/cli/sync_loop.py
  src/nexus/backends/connectors/cli/sync_types.py
  src/nexus/backends/connectors/gmail/connector.py
  src/nexus/backends/connectors/oauth_base.py
  src/nexus/bricks/search/search_service.py
  src/nexus/contracts/capabilities.py
  tests/unit/backends/connectors/__init__.py
  tests/unit/backends/connectors/cli/__init__.py
  tests/unit/backends/connectors/cli/test_metastore_listing.py
  tests/unit/backends/connectors/cli/test_sync_loop.py
  tests/unit/backends/connectors/cli/test_sync_loop_failures.py
  tests/unit/backends/connectors/cli/test_sync_types.py
Due: check-file-size, check-type-ignore

feat(sync): generalize batch metadata into list_dir_metadata protocol
  src/nexus/backends/connectors/cli/base.py
  src/nexus/backends/connectors/gws/connector.py
  src/nexus/services/sync/sync_service.py
  tests/integration/backends/connectors/cli/test_display_path.py
  tests/unit/services/test_sync_service.py
Due: check-file-size, check-type-ignore

feat(sync): metastore-first listing + display path read for TUI (#3266)
  src/nexus/backends/connectors/gws/connector.py
  src/nexus/bricks/search/search_service.py
  src/nexus/core/nexus_fs.py
  src/nexus/raft/federated_metadata_proxy.py
  src/nexus/server/fastapi_server.py
  src/nexus/services/sync/sync_service.py
Due: check-file-size, check-type-ignore

fix(sync): strict layer isolation — move listing/read logic to service layer (#3266)
  src/nexus/backends/connectors/cli/sync_loop.py
  src/nexus/bricks/search/search_service.py
  src/nexus/core/nexus_fs.py
  src/nexus/raft/federated_metadata_proxy.py
  src/nexus/server/api/v2/routers/async_files.py
  src/nexus/server/fastapi_server.py
  src/nexus/services/sync/sync_service.py
Due: check-file-size, check-type-ignore

fix(sync): use sys_readdir with search fallback for /api/v2/files/list (#3266)
  src/nexus/server/api/v2/routers/async_files.py
Due: check-file-size, check-type-ignore

fix(sync): preserve metadata on connector display-path reads (#3266)
  src/nexus/server/api/v2/routers/async_files.py
  tests/integration/backends/connectors/cli/test_display_path.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
