Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(ci): remove governance router import from auth enforcement e2e test
  tests/e2e/self_contained/test_auth_enforcement_e2e.py
Due: check-type-ignore

chore: delete orphaned lock model re-exports + audit models after HTTP router removal
  src/nexus/server/api/v2/models/__init__.py
  src/nexus/server/api/v2/models/audit.py
  src/nexus/server/fastapi_server.py
Due: check-file-size, check-type-ignore

refactor(#1801): decouple ServiceRegistry from BrickLifecycleManager
  src/nexus/core/service_registry.py
Due: check-file-size, check-type-ignore

refactor(#1801): delete BLM server integration + factory boot
  src/nexus/factory/_system.py
Due: check-file-size, check-type-ignore

fix(#1801): update slim nexus-fs boot to use router= instead of KernelServices
  src/nexus/fs/__init__.py
Due: check-file-size, check-type-ignore

style(#1801): remove all tier/category labels from comments
  src/nexus/bricks/auth/service.py
  src/nexus/bricks/ipc/registry.py
  src/nexus/config.py
  src/nexus/contracts/deployment_profile.py
  src/nexus/contracts/process_types.py
  src/nexus/contracts/protocols/acp.py
  src/nexus/contracts/protocols/scheduler.py
  src/nexus/contracts/protocols/search.py
  src/nexus/contracts/protocols/transactional_snapshot.py
  src/nexus/core/agent_status_resolver.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_background.py
  src/nexus/factory/_boot_context.py
  src/nexus/factory/_bricks.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_remote.py
  src/nexus/factory/orchestrator.py
  src/nexus/lib/tracing.py
  src/nexus/remote/service_proxy.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/rpc/discovery.py
  src/nexus/system_services/__init__.py
  src/nexus/system_services/acp/__init__.py
  src/nexus/system_services/acp/service.py
  src/nexus/system_services/lifecycle/dedup_work_queue.py
  src/nexus/system_services/lifecycle/expectations.py
  src/nexus/system_services/metadata_export.py
Due: check-file-size, check-type-ignore

style: ruff format _system.py
  src/nexus/factory/_system.py
Due: check-file-size, check-type-ignore

refactor(#1801): kernel injection cleanup + AgentRegistry hookup
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/factory/_system.py
Due: check-file-size, check-type-ignore

refactor(#1801): unify SystemServices + BrickServices into ServiceRegistry
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/__init__.py
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_remote.py
  src/nexus/factory/_wired.py
  src/nexus/factory/orchestrator.py
  src/nexus/server/api/v2/routers/async_files.py
  src/nexus/server/app_state.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/lifespan/permissions.py
  src/nexus/server/lifespan/services.py
  src/nexus/server/lifespan/services_container.py
  tests/benchmarks/bench_factory_boot.py
  tests/e2e/self_contained/test_cli_lifecycle.py
  tests/integration/core/test_factory_lifespan_wiring.py
  tests/unit/bricks/ipc/test_factory_wiring.py
  tests/unit/core/test_factory_boot.py
  tests/unit/core/test_kernel_config.py
  tests/unit/core/test_nexus_fs_provision_user.py
  tests/unit/fs/test_integration.py
  tests/unit/server/lifespan/test_lifespan_services.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

fix(#1801): fix test failures from ServiceRegistry + rename changes
  src/nexus/core/service_registry.py
  tests/unit/remote/test_service_proxy.py
Due: check-file-size, check-type-ignore

refactor(#1801): clean up remaining brick_services consumers in lifespan
  src/nexus/server/api/v2/routers/access_manifests.py
  src/nexus/server/app_state.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/lifespan/ipc.py
  src/nexus/server/lifespan/permissions.py
  src/nexus/server/lifespan/services.py
  src/nexus/server/lifespan/services_container.py
  src/nexus/server/lifespan/uploads.py
  tests/unit/core/test_nexus_fs_services.py
  tests/unit/server/lifespan/test_lifespan_services.py
  tests/unit/server/test_app_state.py
Due: check-file-size, check-type-ignore

refactor(#1801): delete KernelServices, unify services into single dict
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/__init__.py
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/__init__.py
  src/nexus/factory/_bricks.py
  src/nexus/factory/_helpers.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_system.py
  src/nexus/factory/_wired.py
  src/nexus/factory/orchestrator.py
  tests/benchmarks/bench_factory_boot.py
  tests/unit/core/test_factory_boot.py
  tests/unit/core/test_kernel_config.py
  tests/unit/core/test_rebac_noop_boot.py
  tests/unit/fs/test_integration.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

style(#1801): clean stale SystemServices/BrickServices references from comments
  src/nexus/bricks/rebac/deferred_permission_hook.py
  src/nexus/bricks/snapshot/snapshot_hook.py
  src/nexus/cli/commands/cache.py
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/orchestrator.py
  src/nexus/server/app_state.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/lifespan/services_container.py
  src/nexus/system_services/event_bus/observer.py
  src/nexus/system_services/lifecycle/zone_write_guard_hook.py
Due: check-file-size, check-type-ignore

fix: remove merge conflict markers from test_retroactive_hook_specs.py
  tests/unit/factory/test_retroactive_hook_specs.py
Due: check-type-ignore

fix: restore service_registry.py from develop (HotSwappable/ServiceQuadrant deleted)
  src/nexus/core/service_registry.py
Due: check-file-size, check-type-ignore

fix: force test_write_back files into merge ref
  tests/unit/services/test_write_back_observer.py
  tests/unit/services/test_write_back_pipe_wakeup.py
Due: check-type-ignore

fix(#1801): fix CI failures — mypy, duplicate enlist, port assertion
  packages/nexus-fs/pyproject.toml
  pyproject.toml
  src/nexus/raft/federated_metadata_proxy.py
  src/nexus/server/lifespan/ipc.py
  src/nexus/server/lifespan/permissions.py
  src/nexus/server/lifespan/realtime.py
  src/nexus/server/lifespan/uploads.py
  tests/unit/fs/test_boundary.py
  tests/unit/raft/test_federated_metadata_proxy.py
  tests/unit/services/test_write_back_observer.py
  tests/unit/services/test_write_back_pipe_wakeup.py
Due: check-file-size, check-type-ignore

fix: update _WRITE_BACK_EVENT_MASK → _WRITE_BACK_EVENT_TYPES in tests
  tests/unit/services/test_write_back_observer.py
Due: check-type-ignore

fix: delete stale WriteBackService tests (API rewritten on develop)
  tests/unit/services/test_write_back_observer.py
  tests/unit/services/test_write_back_pipe_wakeup.py
Due: check-type-ignore

fix: resolve remaining conflict marker in federated_metadata_proxy.py
  src/nexus/raft/federated_metadata_proxy.py
Due: check-file-size, check-type-ignore

refactor(#1780): delete CASBackend/CAS_BACKEND_CAPABILITIES backward-compat aliases
  src/nexus/backends/__init__.py
  src/nexus/backends/base/cas_addressing_engine.py
  src/nexus/backends/compute/message_chunking.py
  src/nexus/backends/compute/openai_compatible.py
  src/nexus/core/object_store.py
  tests/unit/backends/test_openai_compat.py
Due: check-file-size, check-type-ignore

ci: auto-dequeue unmergeable PRs from merge queue
  .github/workflows/merge-queue-cleanup.yml
Due: none

fix: skip auth for ReadBlob (driver-to-driver) + auth token for peer RPCs
  src/nexus/__init__.py
  src/nexus/grpc/servicer.py
  src/nexus/raft/federation_content_resolver.py
  tests/e2e/docker/test_federation_e2e.py
Due: check-file-size, check-type-ignore

fix: wire object_store to gRPC servicer + skip failover test without Docker CLI
  src/nexus/grpc/server.py
  tests/e2e/docker/test_federation_e2e.py
Due: check-file-size, check-type-ignore

fix: cleanup HotSwappable remnants missed in #3363
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

ci: trigger required checks for doc PR
  src/nexus/contracts/protocols/service_lifecycle.py
Due: check-file-size, check-type-ignore

refactor: clean ObjectStoreABC — remove CAS-specific leaks
  src/nexus/core/object_store.py
  tests/unit/core/test_object_store.py
Due: check-file-size, check-type-ignore

refactor: internalize Rust mmap into CASLocalBackend.batch_read_content
  src/nexus/backends/base/backend.py
  src/nexus/backends/storage/cas_local.py
  src/nexus/backends/storage/delegating.py
  src/nexus/bricks/sandbox/isolation/backend.py
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor: delete supports_rename flag from Backend and all overrides
  src/nexus/backends/base/backend.py
  src/nexus/backends/base/path_addressing_engine.py
  src/nexus/backends/storage/delegating.py
  src/nexus/bricks/sandbox/isolation/backend.py
Due: check-file-size, check-type-ignore

refactor: remove backend.rename_file() from NexusFS.rename
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor: move 4 capability flags from ObjectStoreABC to Backend
  src/nexus/backends/base/backend.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/object_store.py
Due: check-file-size, check-type-ignore

refactor: delete rename_path from all metastore implementations
  src/nexus/core/nexus_fs.py
  src/nexus/fs/_sqlite_meta.py
  src/nexus/raft/federated_metadata_proxy.py
  src/nexus/storage/dict_metastore.py
  src/nexus/storage/raft_metadata_store.py
  src/nexus/storage/remote_metastore.py
Due: check-file-size, check-type-ignore

fix: use hasattr instead of NotImplementedError for backend rename
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

fix: update tests and NexusFS for metadata-only rename
  src/nexus/core/nexus_fs.py
  tests/unit/backends/test_local_cas_backend.py
  tests/unit/backends/test_path_backend.py
  tests/unit/backends/test_path_local_rename.py
  tests/unit/core/test_nexus_fs_rename.py
Due: check-file-size, check-type-ignore

refactor(factory): unify construction, fix sentinels, lazy registry
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/service_registry.py
  src/nexus/factory/__init__.py
  src/nexus/factory/_bricks.py
  src/nexus/factory/_distributed.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_system.py
  src/nexus/factory/orchestrator.py
  src/nexus/services/lifecycle/events_service.py
  tests/conftest.py
  tests/e2e/redis/test_multi_instance_workflows.py
  tests/e2e/test_lego_decomp_e2e.py
  tests/integration/core/test_factory_lifespan_wiring.py
  tests/unit/core/test_factory_boot.py
  tests/unit/core/test_kernel_config.py
  tests/unit/core/test_service_registry_lazy.py
  tests/unit/services/test_events_service.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
