Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(#430): replace private NexusFS attribute access and SessionLocal in server API
  src/nexus/server/api/v1/dependencies.py
  src/nexus/server/api/v1/routers/cache.py
  src/nexus/server/api/v2/dependencies.py
Due: check-file-size, check-type-ignore

fix(#371): remove FUSE→server layer inversion and private metadata access
  src/nexus/fuse/mount.py
  src/nexus/fuse/operations.py
Due: check-file-size, check-type-ignore

add Benchmark (pytest) benchmark result for 085239364632c49d894bb9908e06190001585b9c
  dev/bench/data.js
Due: none

fix(#433): replace deep private attribute chains with DI in background_tasks
  src/nexus/server/background_tasks.py
  src/nexus/server/lifespan/permissions.py
Due: check-file-size, check-type-ignore

fix(#589): replace hardcoded "default" zone_id with ROOT_ZONE_ID in FUSE ops
  src/nexus/fuse/operations.py
Due: check-file-size, check-type-ignore

fix(#587): replace hardcoded "default" with ROOT_ZONE_ID in raft zone resolver
  src/nexus/raft/zone_aware_metadata.py
  src/nexus/raft/zone_path_resolver.py
Due: check-file-size, check-type-ignore

ci: temporarily disable Docker integration workflow
  .github/workflows/docker-integration.yml
Due: none

fix(#560): change _extract_zone_id fallback from "default" to "root" in a2a/router.py
  src/nexus/a2a/router.py
Due: check-file-size, check-type-ignore

fix(#588): replace hardcoded "default" zone_id with ROOT_ZONE_ID in workflows
  src/nexus/workflows/engine.py
  src/nexus/workflows/storage.py
Due: check-file-size, check-type-ignore

ci: temporarily disable Docker integration workflow (#1722)
  .github/workflows/docker-integration.yml
Due: none

fix(#580): change 3 hardcoded zone ID defaults from "default" to "root" in pay modules
  src/nexus/pay/policy_wrapper.py
  src/nexus/pay/protocol.py
  src/nexus/pay/sdk.py
Due: check-file-size, check-type-ignore

fix(#581): replace hardcoded "default" zone_id with ROOT_ZONE_ID in scheduler
  src/nexus/scheduler/models.py
  src/nexus/scheduler/queue.py
Due: check-file-size, check-type-ignore

fix(#1717): align zone_id server_default to 'root' in namespace views migration
  alembic/versions/add_persistent_namespace_views.py
  tests/integration/migrations/test_data_migrations.py
Due: check-file-size, check-type-ignore

fix(#575): change 5 hardcoded zone ID fallbacks from "default" to "root" in backends/cache_mixin.py
  src/nexus/backends/cache_mixin.py
Due: check-file-size, check-type-ignore

fix: skip test_symlink_escape_blocked (backend refactor changed behavior)
  tests/e2e/self_contained/test_local_connector.py
Due: check-type-ignore

fix(#565): replace hardcoded "default" zone_id with ROOT_ZONE_ID in CLI skills
  src/nexus/cli/commands/skills.py
Due: check-file-size, check-type-ignore

ci: add E2E self-contained test job to CI
  .github/workflows/test.yml
Due: none

fix(#576): change hardcoded zone ID fallbacks from "default" to "root" in backend connectors
  src/nexus/backends/gcalendar_connector.py
  src/nexus/backends/gdrive_connector.py
  src/nexus/backends/slack_connector.py
  src/nexus/backends/x_connector.py
Due: check-file-size, check-type-ignore

fix(#571): replace hardcoded "default" zone_id with ROOT_ZONE_ID in auth_routes
  src/nexus/server/auth/auth_routes.py
Due: check-file-size, check-type-ignore

fix(#578): change hardcoded zone ID from "default" to "root" in async_files.py
  src/nexus/server/api/v2/routers/async_files.py
Due: check-file-size, check-type-ignore

fix(#563): replace hardcoded "default" zone_id with ROOT_ZONE_ID in streaming endpoint
  src/nexus/server/api/core/streaming.py
Due: check-file-size, check-type-ignore

chore: reorganize docs/ directory — enforce architecture/design/development tiers
  docs/CORE_TENETS.md
  docs/DOCUMENTATION_INDEX.md
  docs/README.md
  docs/architecture/ARCHITECTURE.md
  docs/architecture/KERNEL-ARCHITECTURE.md
  docs/architecture/federation-memo.md
  docs/design/tenant-isolation.md
  docs/development/circular-dependencies.md
  docs/development/current-architecture.md
  docs/development/default-context.md
  mkdocs.yml
  src/nexus/core/protocols/vfs_router.py
  src/nexus/services/context_manifest/__init__.py
  src/nexus/services/protocols/agent_registry.py
  src/nexus/services/protocols/event_log.py
  src/nexus/services/protocols/hook_engine.py
  src/nexus/services/protocols/namespace_manager.py
  src/nexus/services/protocols/permission.py
  src/nexus/services/protocols/scheduler.py
Due: check-file-size, check-type-ignore

fix(#564): change hardcoded zone ID fallbacks from "default" to "root" in rpc/handlers/filesystem.py
  src/nexus/server/rpc/handlers/filesystem.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
