Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

docs(#3778): fix deployment_profile hierarchy docstring
  src/nexus/contracts/deployment_profile.py
Due: check-file-size, check-type-ignore

fix(#3778): drop BRICK_FEDERATION from SANDBOX (not brick-gated)
  docs/superpowers/plans/2026-04-17-3778-sandbox-profile.md
  docs/superpowers/specs/2026-04-17-3778-sandbox-profile-design.md
  src/nexus/contracts/deployment_profile.py
  tests/unit/core/test_sandbox_profile.py
Due: check-file-size, check-type-ignore

docs(#3778): design spec for SANDBOX deployment profile
  docs/superpowers/specs/2026-04-17-3778-sandbox-profile-design.md
Due: none

feat(#3778): add DeploymentProfile.SANDBOX enum + brick set
  src/nexus/config.py
  src/nexus/contracts/deployment_profile.py
  tests/unit/core/test_deployment_profile.py
  tests/unit/core/test_sandbox_profile.py
Due: check-file-size, check-type-ignore

feat(#3778): CLI --deployment-profile accepts 'sandbox'
  src/nexus/cli/commands/chat.py
Due: check-file-size, check-type-ignore

fix(#3778): use model_fields_set for explicit-user-value detection
  src/nexus/config.py
  tests/unit/test_config_sandbox.py
Due: check-file-size, check-type-ignore

feat(#3778): _apply_sandbox_defaults for profile-gated config
  src/nexus/config.py
  tests/unit/test_config_sandbox.py
Due: check-file-size, check-type-ignore

feat(#3778): add SANDBOX performance tuning (small pools, no asyncpg)
  src/nexus/lib/performance_tuning.py
  tests/unit/core/test_sandbox_profile.py
Due: check-file-size, check-type-ignore

feat(#3778): add semantic_degraded flag to BaseSearchResult
  src/nexus/bricks/search/results.py
Due: check-file-size, check-type-ignore

feat(#3778): add 'inmem' cache backend for SANDBOX profile
  src/nexus/cache/factory.py
  src/nexus/cache/settings.py
  tests/unit/cache/test_cache_factory_inmem.py
Due: check-file-size, check-type-ignore

feat(#3778): add 'sandbox' pip extra (bm25s, cachetools, pdf-inspector, tokenizers)
  pyproject.toml
Due: none

feat(#3778): Dockerfile ARG NEXUS_PROFILE_EXTRAS for dual image tags
  Dockerfile
Due: none

feat(#3778): FederationUnreachableError + is_all_peers_failed helper
  src/nexus/bricks/search/federated_search.py
  tests/unit/bricks/search/test_federated_degraded.py
Due: check-file-size, check-type-ignore

feat(#3778): route-level allowlist filter for SANDBOX profile
  src/nexus/server/fastapi_server.py
  tests/unit/server/test_sandbox_route_allowlist.py
Due: check-file-size, check-type-ignore

test(#3778): SANDBOX memory benchmark (marker-gated)
  pyproject.toml
  tests/conftest.py
  tests/integration/test_sandbox_memory.py
Due: check-type-ignore

feat(#3778): SANDBOX semantic fallback to BM25S with degraded flag
  src/nexus/bricks/search/search_service.py
  tests/unit/bricks/search/test_federated_degraded.py
Due: check-file-size, check-type-ignore

fix(#3778): SANDBOX boot wiring gaps from Task 14
  src/nexus/__init__.py
  src/nexus/config.py
  tests/integration/test_sandbox_boot.py
  tests/unit/core/test_sandbox_profile.py
  tests/unit/test_config_sandbox.py
Due: check-file-size, check-type-ignore

test(#3778): integration — SANDBOX boot, HTTP allowlist, features endpoint
  tests/integration/test_sandbox_boot.py
Due: check-type-ignore

chore(#3778): drop stale pdf-inspector placeholder from sandbox extra
  pyproject.toml
Due: none

docs(#3778): user docs for SANDBOX deployment profile
  docs/deployment/sandbox-profile.md
  mkdocs.yml
Due: none

feat(#3778): wire SANDBOX semantic fallback into MCP + HTTP search paths
  src/nexus/bricks/mcp/server.py
  src/nexus/bricks/search/search_service.py
  src/nexus/factory/_wired.py
  src/nexus/server/api/v2/routers/search.py
  tests/e2e/self_contained/mcp/test_mcp_server_integration.py
  tests/e2e/self_contained/test_sandbox_mcp.py
  tests/unit/bricks/mcp/test_mcp_server_tools.py
Due: check-file-size, check-type-ignore

test(#3778): MCP e2e — SANDBOX search returns semantic_degraded flag
  tests/e2e/self_contained/test_sandbox_mcp.py
Due: check-type-ignore

ci(#3778): Docker matrix builds nexus:latest and nexus:sandbox
  .github/workflows/docker-build.yml
Due: none

fix(#3778): move psutil into all-extras-gated smoke test group
  Dockerfile
Due: none

fix(#3778): Dockerfile smoke test + LD_PRELOAD for SANDBOX builds
  Dockerfile
  dockerfiles/docker-entrypoint.sh
Due: none

feat(#3778): local sqlite-vec + litellm remote embeddings for SANDBOX
  docs/deployment/sandbox-profile.md
  pyproject.toml
  src/nexus/__init__.py
  src/nexus/bricks/search/search_service.py
  src/nexus/bricks/search/sqlite_vec_backend.py
  src/nexus/factory/_wired.py
  tests/integration/test_sandbox_boot.py
  tests/unit/bricks/search/test_sqlite_vec_backend.py
Due: check-file-size, check-type-ignore

fix(#3778): skip torch + gws/gh CLIs on non-'all' Docker builds
  Dockerfile
Due: none

ci(#3778): relax sandbox image-size gate to 1500 MB
  .github/workflows/docker-build.yml
Due: none

fix(#3778): R3 review — fail-closed on semantic_degraded + visible parsed_text gap
  scripts/test_sandbox_perf_e2e.py
  src/nexus/core/metastore.py
Due: check-file-size, check-type-ignore

fix(#3778): SANDBOX E2E — question-driven retrieval + indexed freshness
  scripts/test_sandbox_perf_e2e.py
Due: check-file-size, check-type-ignore

fix(#3778): SANDBOX E2E — route through public semantic_search, fail-closed, stronger invariants
  scripts/test_sandbox_perf_e2e.py
Due: check-file-size, check-type-ignore

chore(#3778): bump version to 0.9.31
  Cargo.lock
  packages/nexus-api-client/package.json
  packages/nexus-tui/package.json
  pyproject.toml
  rust/kernel/Cargo.toml
  rust/kernel/pyproject.toml
  uv.lock
Due: none

fix(#3778): R4 review — vector-path counter + OCC conflict-specific + post-state invariant
  scripts/test_sandbox_perf_e2e.py
Due: check-file-size, check-type-ignore

fix(#3778): R5-Round-2 review — env-leak scope, MCP degraded signal, dispatcher wiring
  src/nexus/__init__.py
  src/nexus/bricks/mcp/server.py
  src/nexus/bricks/search/search_service.py
  src/nexus/contracts/search_types.py
  src/nexus/factory/_wired.py
  src/nexus/server/api/v2/routers/search.py
Due: check-file-size, check-type-ignore

fix(#3778): R5-Round-1 review — provenance, env restore, real federation, concurrency
  src/nexus/__init__.py
  src/nexus/bricks/search/search_service.py
  src/nexus/bricks/search/sqlite_vec_backend.py
  src/nexus/config.py
Due: check-file-size, check-type-ignore

feat(#3778): SANDBOX E2E script + grep fix + benchmark report
  docs/benchmarks/2026-04-18-sandbox-vs-gbrain.md
  scripts/test_sandbox_perf_e2e.py
  src/nexus/core/metastore.py
Due: check-file-size, check-type-ignore

ci(#3778): drop sandbox Docker variant — SANDBOX ships via pip
  .github/workflows/docker-build.yml
Due: none

fix(#3778): CI — keep sandbox asyncpg pool at 0 and thread context into MCP tests
  src/nexus/lib/performance_tuning.py
  tests/unit/bricks/mcp/test_mcp_server_tools.py
  tests/unit/core/test_performance_tuning.py
Due: check-file-size, check-type-ignore

fix(#3778): R5-Round-4 review — MCP semantic_search now passes auth context
  src/nexus/bricks/mcp/server.py
Due: check-file-size, check-type-ignore

fix(#3778): CI test breakage after rebase onto develop
  Dockerfile
  src/nexus/lib/performance_tuning.py
  tests/unit/bricks/mcp/test_mcp_server_tools.py
  tests/unit/test_config_sandbox.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
