Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(service-map): drop non-canonical gws aliases
  src/nexus/backends/connectors/gws/connector.py
Due: check-file-size, check-type-ignore

fix(rebac): avoid stale rust bulk-check graph cache
  src/nexus/bricks/rebac/batch/bulk_checker.py
Due: check-file-size, check-type-ignore

chore: bump version to 0.9.9
  pyproject.toml
  rust/nexus_pyo3/Cargo.toml
  rust/nexus_pyo3/pyproject.toml
Due: none

fix(ci): install protoc for nexus_raft full-feature conda-pack build
  .github/workflows/conda-pack.yml
Due: none

fix(test): stabilize flaky bulk_check snapshot test
  tests/unit/services/permissions/test_rebac_manager_snapshot.py
Due: check-type-ignore

fix(#1772): sys_setattr idempotent open for DT_PIPE/DT_STREAM restart recovery
  src/nexus/contracts/filesystem/filesystem_abc.py
  src/nexus/core/nexus_fs.py
  tests/unit/core/test_pipe.py
Due: check-file-size, check-type-ignore

refactor: token file-only + sys_setattr idempotent open + test fixes
  Cargo.lock
  dockerfiles/docker-compose.dynamic-federation-test.yml
  dockerfiles/docker-entrypoint.sh
  rust/nexus_raft/src/bin/witness.rs
  src/nexus/__init__.py
  src/nexus/contracts/filesystem/filesystem_abc.py
  src/nexus/core/nexus_fs.py
  tests/unit/core/test_embedded.py
  tests/unit/core/test_pipe.py
Due: check-file-size, check-type-ignore, rust-fmt-raft, rust-clippy-raft

feat(#1395): implement sys_write offset support (POSIX pwrite semantics)
  src/nexus/backends/base/backend.py
  src/nexus/backends/base/cas_addressing_engine.py
  src/nexus/backends/base/path_addressing_engine.py
  src/nexus/backends/connectors/calendar/connector.py
  src/nexus/backends/connectors/gdrive/connector.py
  src/nexus/backends/connectors/gmail/connector.py
  src/nexus/backends/connectors/hn/connector.py
  src/nexus/backends/connectors/slack/connector.py
  src/nexus/backends/connectors/x/connector.py
  src/nexus/backends/engines/cdc.py
  src/nexus/backends/storage/delegating.py
  src/nexus/backends/storage/local_connector.py
  src/nexus/backends/storage/path_gcs.py
  src/nexus/backends/storage/path_s3.py
  src/nexus/backends/storage/remote.py
  src/nexus/backends/wrappers/caching.py
  src/nexus/backends/wrappers/logging.py
  src/nexus/bricks/sandbox/isolation/backend.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/object_store.py
  src/nexus/core/protocols/connector.py
  src/nexus/raft/content_replication_service.py
  tests/unit/backends/test_delegating.py
  tests/unit/backends/test_delegating_backend.py
  tests/unit/backends/test_local_cas_backend.py
  tests/unit/backends/test_path_backend.py
  tests/unit/backends/wrapper_test_helpers.py
Due: check-file-size, check-type-ignore

fix(#1395): add offset param to cli/base.py and gws/connector.py write_content
  src/nexus/backends/connectors/cli/base.py
  src/nexus/backends/connectors/gws/connector.py
Due: check-file-size, check-type-ignore

fix: migrate remaining sys_write → write() in benchmarks/e2e/integration tests
  tests/benchmarks/benchmark_write_performance.py
  tests/benchmarks/conftest.py
  tests/benchmarks/test_core_operations.py
  tests/benchmarks/test_service_delegation.py
  tests/benchmarks/test_thread_pool_exhaustion.py
  tests/e2e/redis/test_multi_instance_workflows.py
  tests/e2e/self_contained/mcp/test_mcp_server_integration.py
  tests/e2e/self_contained/test_chunked_storage_e2e.py
  tests/e2e/self_contained/test_cli_output_e2e.py
  tests/e2e/self_contained/test_dual_write_consistency.py
  tests/e2e/self_contained/test_list_pagination.py
  tests/e2e/self_contained/test_overlay_nexusfs.py
  tests/e2e/self_contained/test_proxy_integration.py
  tests/e2e/self_contained/test_timestamp_behavior.py
  tests/e2e/self_contained/test_watch_api_e2e.py
  tests/e2e/self_contained/test_zone_admin_sharing.py
  tests/e2e/server/test_auth_security_e2e.py
  tests/e2e/server/test_caching_wrapper_e2e.py
  tests/e2e/server/test_directory_grants_e2e.py
  tests/e2e/server/test_path_unscoping_e2e.py
  tests/e2e/server/test_permission_portability_server_e2e.py
  tests/e2e/server/test_proxy_e2e.py
  tests/e2e/server/test_rpc_proxy_e2e.py
  tests/e2e/server/test_zone_export_e2e.py
  tests/e2e/server/test_zone_import_e2e.py
  tests/e2e/server/test_zone_portability_permissions_e2e.py
  tests/e2e/test_lego_decomp_e2e.py
  tests/helpers/edge_cases.py
  tests/integration/test_fuse_comprehensive.py
Due: check-type-ignore

fix: add write AsyncMock to gateway benchmark fixture
  tests/benchmarks/test_service_delegation.py
Due: check-type-ignore

fix(docker): preload libgomp to prevent TLS block exhaustion
  Dockerfile
Due: none

fix(docker): preload libgomp to prevent TLS block exhaustion
  .github/workflows/release.yml
  Dockerfile
  dockerfiles/docker-entrypoint.sh
Due: none

fix: add write() to ProxyVFSBrick + fix write_back test mock
  src/nexus/proxy/brick.py
  tests/e2e/self_contained/test_write_back_integration.py
Due: check-file-size, check-type-ignore

fix(#1395): add offset param to all test mock/helper write_content signatures
  tests/benchmarks/bench_isolation.py
  tests/benchmarks/test_adapter_overhead.py
  tests/e2e/self_contained/isolation_helpers.py
  tests/e2e/self_contained/test_context_branch_lifecycle.py
  tests/e2e/self_contained/test_isolation_boundary.py
  tests/e2e/test_context_branch_e2e.py
  tests/helpers/failing_backend.py
  tests/unit/backends/test_backend_contract.py
  tests/unit/backends/test_batch_operations.py
  tests/unit/backends/test_protocol_conformance.py
  tests/unit/backends/test_registry.py
  tests/unit/backends/test_streaming.py
  tests/unit/core/test_object_store.py
  tests/unit/services/test_context_branch_merge.py
Due: check-type-ignore

fix(ci): pass --no-default-features to nexus_raft conda-pack build
  .github/workflows/conda-pack.yml
Due: none

feat(nexus-fs): implement slim package extraction with full test suite
  packages/nexus-fs/pyproject.toml
  src/nexus/contracts/exceptions.py
  src/nexus/core/nexus_fs.py
  src/nexus/fs/__init__.py
  src/nexus/fs/_credentials.py
  src/nexus/fs/_facade.py
  src/nexus/fs/_fsspec.py
  src/nexus/fs/_sqlite_meta.py
  src/nexus/fs/_sync.py
  src/nexus/fs/_uri.py
  tests/unit/fs/__init__.py
  tests/unit/fs/test_fsspec.py
  tests/unit/fs/test_integration.py
  tests/unit/fs/test_sync.py
  tests/unit/fs/test_uri.py
Due: check-file-size, check-type-ignore

fix(docker): skip libgomp preload on CUDA images
  .github/workflows/release.yml
  dockerfiles/docker-entrypoint.sh
Due: none

fix(nexus-fs): create DT_MOUNT entries directly instead of calling sys_mkdir
  src/nexus/fs/__init__.py
Due: check-file-size, check-type-ignore

fix(docker): apply libgomp preload to all image variants
  .github/workflows/release.yml
  dockerfiles/docker-entrypoint.sh
Due: none

feat(nexus-fs): wire connector registry into mount() for any scheme
  src/nexus/fs/__init__.py
  src/nexus/fs/_credentials.py
  src/nexus/fs/_sync.py
  src/nexus/fs/_uri.py
  tests/unit/fs/test_uri.py
Due: check-file-size, check-type-ignore

fix(docker): use GLIBC_TUNABLES for CUDA, LD_PRELOAD for CPU
  .github/workflows/release.yml
  dockerfiles/docker-entrypoint.sh
Due: none

fix(ci): skip Docker smoke tests for CUDA variant
  .github/workflows/release.yml
Due: none

fix(nexus-fs): address Codex review — 3 high/medium issues
  packages/nexus-fs/README.md
  packages/nexus-fs/pyproject.toml
  src/nexus/fs/_cli.py
  src/nexus/fs/_facade.py
  src/nexus/fs/_fsspec.py
  src/nexus/fs/_sync.py
  tests/unit/fs/test_fsspec.py
Due: check-file-size, check-type-ignore

feat(ci): add profile-based conda-pack builds (full/minimal/remote)
  .github/workflows/conda-pack.yml
Due: none

chore: bump version to 0.9.10
  pyproject.toml
  rust/nexus_pyo3/Cargo.toml
Due: none

feat(nexus-fs): add top-level nexus.mount() and nexus.mount_sync() re-exports
  src/nexus/__init__.py
Due: check-file-size, check-type-ignore

fix: bump nexus_pyo3 pyproject.toml version to 0.9.10
  rust/nexus_pyo3/pyproject.toml
Due: none

fix(nexus-fs): resolve all 16 mypy errors in fs module
  src/nexus/fs/_facade.py
  src/nexus/fs/_fsspec.py
  src/nexus/fs/_sync.py
Due: check-file-size, check-type-ignore

fix(nexus-fs): use super().__init__ instead of direct AbstractFileSystem.__init__
  src/nexus/fs/_fsspec.py
Due: check-file-size, check-type-ignore

fix(ci): install project package for CLI entrypoints in lightweight profiles
  .github/workflows/conda-pack.yml
Due: none

chore: bump version to 0.9.11
  pyproject.toml
  rust/nexus_pyo3/Cargo.toml
  rust/nexus_pyo3/pyproject.toml
Due: none

fix(ci): use valid GitHub runner labels for conda-pack
  .github/workflows/conda-pack.yml
Due: none

fix(ci): generate correct matrix for all platforms × profiles
  .github/workflows/conda-pack.yml
Due: none

docs(#1579): update KERNEL-ARCHITECTURE.md for recent kernel boundary work
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

refactor(#1792): AgentRegistry → kernel-owned primitive
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/core/config.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_system.py
  src/nexus/factory/_wired.py
  src/nexus/factory/orchestrator.py
  src/nexus/server/lifespan/services_container.py
  tests/unit/core/test_factory_boot.py
  tests/unit/core/test_kernel_config.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

fix(ci): exclude uvloop on Windows in requirements-minimal.txt
  requirements-minimal.txt
Due: none

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
