Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

feat(#4337): metrics, park store, resolver failure classification
  docs/operations/search-mutation-parking.md
  docs/superpowers/plans/2026-06-09-issue-4337-search-mutation-parking.md
  docs/superpowers/specs/2026-06-09-issue-4337-search-mutation-parking-design.md
  src/nexus/bricks/search/consumer_metrics.py
  src/nexus/bricks/search/mutation_parking.py
  src/nexus/bricks/search/mutation_resolver.py
  tests/unit/bricks/search/test_mutation_parking_store.py
  tests/unit/bricks/search/test_mutation_resolver_classification.py
  tests/unit/server/routers/test_search_parked_admin.py
Due: check-file-size, check-type-ignore

fix(#4337): register parked admin surfaces in api-rpc coverage matrix
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

feat(#4337): bounded-retry parking gate and admin methods in search daemon
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_daemon_parking_gate.py
  tests/unit/bricks/search/test_daemon_sqlite_vec_wiring.py
Due: check-file-size, check-type-ignore

feat(#4337): admin REST surface for parked events and skip-to
  docs/superpowers/specs/2026-06-09-issue-4337-search-mutation-parking-design.md
  src/nexus/server/api/v2/routers/search.py
  src/nexus/server/api/v2/versioning.py
Due: check-file-size, check-type-ignore

fix(#4352): validate zone before entity registration
  src/nexus/bricks/auth/providers/database_key.py
  src/nexus/server/rpc/handlers/admin.py
  tests/unit/server/api/v2/routers/test_auth_keys_create_zone_guard.py
Due: check-file-size, check-type-ignore

chore(#4352): regenerate api-rpc surface matrix (line drift)
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

fix(#4352): precheck subject_type + compensate entity row on race
  src/nexus/bricks/auth/providers/database_key.py
  src/nexus/server/rpc/handlers/admin.py
  tests/unit/server/api/v2/routers/test_auth_keys_create_zone_guard.py
Due: check-file-size, check-type-ignore

refactor(#4352): register entity only after key commit
  src/nexus/server/rpc/handlers/admin.py
  tests/unit/server/api/v2/routers/test_auth_keys_create_zone_guard.py
Due: check-file-size, check-type-ignore

fix(#4352): surface create-key zone-guard ValueError as 400
  src/nexus/server/api/v2/routers/auth_keys.py
  tests/integration/server/api/v2/routers/test_auth_keys_grants.py
  tests/unit/server/api/v2/routers/test_auth_keys_create_zone_guard.py
Due: check-file-size, check-type-ignore

fix(#4352): registry registers create_key's effective subject
  src/nexus/server/rpc/handlers/admin.py
  tests/unit/server/api/v2/routers/test_auth_keys_create_zone_guard.py
Due: check-file-size, check-type-ignore

fix(#4352): insert-provenance compensation + zone row lock
  src/nexus/bricks/auth/providers/database_key.py
  src/nexus/bricks/rebac/entity_registry.py
  src/nexus/server/rpc/handlers/admin.py
  tests/unit/core/test_entity_registry.py
  tests/unit/server/api/v2/routers/test_auth_keys_create_zone_guard.py
Due: check-file-size, check-type-ignore

fix(#4352): compensate entity row on any pre-commit key failure
  src/nexus/server/rpc/handlers/admin.py
  tests/unit/server/api/v2/routers/test_auth_keys_create_zone_guard.py
Due: check-file-size, check-type-ignore

fix(vault): skip dylib_e2e gracefully when cdylib not built
  .github/workflows/vault-plugin-build.yml
  rust/services/vault/src/lib.rs
Due: none

test(vault): add dylib E2E tests — verify C ABI boundary via dlopen
  .github/workflows/vault-plugin-build.yml
  rust/services/vault/src/lib.rs
Due: none

style(vault): rustfmt — expand let-else to multiline
  rust/services/vault/src/lib.rs
Due: none

chore(deps): bump nexus-vfs to d78e4ae — durable kernel metastore (#4343)
  Cargo.lock
  Cargo.toml
  Dockerfile
Due: none

chore(deps): advance nexus-vfs pin to 67ac07f — empty-router bootstrap compat (nexus-vfs#54)
  Cargo.lock
  Cargo.toml
  Dockerfile
Due: none

test(vault): add migration verification test — VAULT_VERIFY_DIR env gate
  rust/services/vault/src/lib.rs
Due: none

feat(vault): add nexusd-vault standalone gRPC binary
  rust/services/vault/Cargo.toml
  rust/services/vault/src/bin/nexusd_vault.rs
Due: none

fix(ci): add --locked to cargo install nexusd-cluster
  .github/workflows/api-surface.yml
  .github/workflows/test.yml
Due: none

fix(ci): add --locked to all cargo install --git nexus-vfs in Dockerfiles
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.nexusd-cluster
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

ci(dockerfiles)+build: bump NEXUS_VFS_REV to post-#46 lazy observe substrate
  Cargo.lock
  Cargo.toml
  dockerfiles/Dockerfile.nexusd-cluster
Due: none

ci(dockerfiles): add --locked to remaining cargo install callsites
  Dockerfile
  dockerfiles/Dockerfile.raft-witness
Due: none

ci(cc-tasks-share): bump NEXUS_VFS_REV to nexus-vfs#50 + enable kernel=debug
  Cargo.lock
  Cargo.toml
  dockerfiles/Dockerfile.nexusd-cluster
  dockerfiles/docker-compose.cc-tasks-share.yml
Due: none

ci(dockerfiles)+build: rebump NEXUS_VFS_REV to post-#49 topology-drain
  Cargo.lock
  Cargo.toml
  dockerfiles/Dockerfile.nexusd-cluster
Due: none

style(cc-tasks-share): ruff format test_cc_tasks_share_e2e.py
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

ci: unify nexusd-cluster Dockerfile to local-source build context + bump pin to nexus-vfs#51
  .github/workflows/cc-tasks-share-e2e.yml
  .github/workflows/federation-e2e.yml
  Cargo.lock
  Cargo.toml
  dockerfiles/Dockerfile.nexusd-cluster
  dockerfiles/docker-compose.cc-tasks-share.yml
Due: none

ci(dockerfile): cargo install --locked to respect nexus-vfs Cargo.lock
  dockerfiles/Dockerfile.nexusd-cluster
Due: none

ci: bump nexus-vfs pin to post-trace-cleanup head (e68353c4b)
  Cargo.lock
  Cargo.toml
Due: none

test(cc-tasks-share): cross-node lazy materialization E2E
  .github/workflows/cc-tasks-share-e2e.yml
  dockerfiles/docker-compose.cc-tasks-share.yml
  tests/e2e/docker/cc_tasks_share_helpers.py
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

ci(dockerfiles)+build+test: rebump NEXUS_VFS_REV to post-#48 + fixture decode
  Cargo.lock
  Cargo.toml
  dockerfiles/Dockerfile.nexusd-cluster
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

docs(runbook): add section 3f cross-node host-fs sharing
  docs/architecture/federation-cross-machine-runbook.md
Due: none

ci(dockerfiles)+build: rebump NEXUS_VFS_REV to post-#47 same-zone-skip
  Cargo.lock
  Cargo.toml
  dockerfiles/Dockerfile.nexusd-cluster
Due: none

test(cc-tasks-share): wait for joiner to catch up sharedzone before cross-node tests
  tests/e2e/docker/test_cc_tasks_share_e2e.py
Due: check-type-ignore

feat(fuse-plugin): scaffolding for in-process FUSE service plugin
  Cargo.toml
  rust/services/fuse-plugin/Cargo.toml
  rust/services/fuse-plugin/src/fs.rs
  rust/services/fuse-plugin/src/lib.rs
Due: none

style: cargo fmt fuse-plugin (rustfmt CI)
  rust/services/fuse-plugin/src/fs.rs
Due: none

fix(fuse-plugin): parse entry_type instead of is_directory in stat JSON
  Cargo.lock
  rust/services/fuse-plugin/src/fs.rs
Due: none

fix(fuse-plugin): align with fuser 0.17 trait shape (INodeNo, Errno, Generation)
  rust/services/fuse-plugin/src/fs.rs
Due: none

fix(fuse-plugin): keep raw i32 ERRNO_IO_RAW for internal C-ABI wrappers
  rust/services/fuse-plugin/src/fs.rs
Due: none

fix(fuse-plugin): align Filesystem trait signatures with fuser 0.17
  rust/services/fuse-plugin/src/fs.rs
  rust/services/fuse-plugin/src/lib.rs
Due: none
