Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

ci: resolve the watchdog instead of assuming GNU timeout exists
  .github/workflows/test.yml
Due: none

test(zones): cover the two missing §11.2 truth-table supplements
  tests/e2e/server/test_zone_v2_p0_matrix_e2e.py
  tests/unit/services/test_zone_service.py
Due: check-type-ignore

test: name what refuses to die at session end (#4667 diagnosis)
  tests/conftest.py
Due: check-type-ignore

add Benchmark (pytest) benchmark result for 5126e79b52231667fdd2471a44abd7040bc3e259
  dev/bench-full/data.js
Due: none

fix(zones): deprovision 清除 zone 业务数据与物化树 + blocker 详情 + 读端点 lifecycle 拒绝
  src/nexus/server/api/v2/routers/sessions.py
  src/nexus/server/api/v2/routers/zones.py
  src/nexus/server/lifespan/zone_control.py
  src/nexus/services/zones/service.py
  tests/e2e/server/test_zone_v2_p0_matrix_e2e.py
Due: check-file-size, check-type-ignore

build(zone): pin nexus-vfs to 62a9bcd4 and inline the zone-path contract
  Cargo.lock
  Cargo.toml
  contracts/auth/v1/zone-delegation-scope-rule.schema.json
  contracts/auth/v1/zone-grant-create-request.schema.json
  contracts/auth/v1/zone-grant.schema.json
  contracts/common/v1/resource-ref.schema.json
  contracts/common/v1/zone-path.schema.json
  contracts/fixtures/path-traversal/cases.json
  contracts/manifests/zone-v1.manifest.gen.json
  contracts/manifests/zone-v1.meta.json
  contracts/source-lock.gen.json
  contracts/tools/sync_vendor.py
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
  rust/backends/local-connector/src/lib.rs
  rust/services/http-api/Cargo.toml
  rust/services/vault/src/lib.rs
  src/nexus/contracts/zone_v1.py
  tests/contracts/conftest.py
Due: check-file-size, check-type-ignore

fix(zones): flush ReBAC permission cache after v2 deprovision purges
  src/nexus/server/lifespan/zone_control.py
  src/nexus/services/zones/service.py
Due: check-file-size, check-type-ignore

ci(zone): align workflow Python with requires-python >=3.14
  .github/workflows/contracts.yml
  .github/workflows/zone-v1.yml
Due: none

ci(zone): fix the 3.14 sync path and the contracts venv
  .github/workflows/contracts.yml
  .github/workflows/zone-v1.yml
Due: none

ci(zone): drop the explicit uv venv (setup-uv pre-creates .venv) + add venv diagnostics
  .github/workflows/contracts.yml
  .github/workflows/zone-v1.yml
Due: none

ci(contracts): repair the install step damaged by the previous sed edit
  .github/workflows/contracts.yml
Due: none

ci(zone): run the contract lint through uvx (CI venv resolved without ruff)
  .github/workflows/zone-v1.yml
Due: none

ci(zone): settle the develop-governance gaps surfaced by the first full CI pass
  Dockerfile
  dockerfiles/Dockerfile.federation-test
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  tests/e2e/server/test_zone_v2_fault_injection_e2e.py
  tests/e2e/server/test_zone_v2_p0_matrix_e2e.py
  tests/migrations/test_zone_inventory.py
  tests/unit/storage/test_model_imports.py
Due: check-type-ignore

ci(zone): ruff-format the zone files and fill the surface-matrix governance metadata
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  src/nexus/cli/commands/zone.py
  src/nexus/cli/utils.py
  src/nexus/server/api/v2/routers/sessions.py
  src/nexus/server/api/v2/routers/zones.py
  src/nexus/server/api/v2/zone_security.py
  src/nexus/server/fastapi_server.py
  src/nexus/services/zones/service.py
  src/nexus/services/zones/session_runtime.py
  src/nexus/services/zones/session_tasks.py
  tests/e2e/conftest.py
  tests/e2e/server/test_zone_v2_fault_injection_e2e.py
  tests/e2e/server/test_zone_v2_p0_matrix_e2e.py
  tests/unit/remote/test_zone_runtime_client.py
Due: check-file-size, check-type-ignore

fix: normalize PostgreSQL URLs before native driver connections
  permissions_demo_enhanced.sh
  src/nexus/core/db_utils.py
  src/nexus/server/lifespan/approvals.py
  src/nexus/server/lifespan/services.py
  tests/unit/core/test_db_utils.py
Due: check-file-size, check-type-ignore

fix(vault): preserve gRPC request context and status through plugins
  Cargo.lock
  Cargo.toml
  rust/services/vault/Cargo.toml
  rust/services/vault/src/lib.rs
  rust/services/vault/tests/dlopen_self.rs
Due: none

fix(build): align Docker VFS pins with the plugin host
  Dockerfile
  dockerfiles/Dockerfile.federation-test
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

test: retry transient RPC failures within the readiness budget
  tests/e2e/docker/runbook_helpers.py
  tests/unit/e2e/test_runbook_readiness.py
Due: check-type-ignore

fix(vault): encode Windows-sensitive secret path components
  rust/services/src/generic_secrets/storage.rs
Due: none

test(vault): exercise portable paths and migrations in CI
  .github/workflows/vault-plugin-build.yml
  rust/services/vault/tests/grpc_e2e.rs
Due: none

fix(vault): preserve literal Windows paths during legacy migration
  rust/services/vault/src/bin/nexusd_vault.rs
  rust/services/vault/src/lib.rs
  rust/services/vault/tests/grpc_e2e.rs
Due: none

add Benchmark (pytest) benchmark result for fa5921390b12c78ba85ce7a8926e14367aff9f9e
  dev/bench-full/data.js
Due: none

test(vault): reload owned key for migration fixture
  rust/services/vault/tests/grpc_e2e.rs
Due: none

ci(vault): enable shared crypto for storage migration tests
  .github/workflows/vault-plugin-build.yml
Due: none

ci(zone): track the vfs size-budget raise and fix the sessions mypy rebind
  .github/workflows/test.yml
  src/nexus/server/api/v2/routers/sessions.py
Due: check-file-size, check-type-ignore

build: pin VFS search authentication and result permissions
  Cargo.lock
  Cargo.toml
  Dockerfile
  dockerfiles/Dockerfile.federation-test
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

build(zone): refresh source-lock for the unified companion-line pin
  contracts/source-lock.gen.json
Due: none

fix(ci): test the built demo image and retain startup logs
  .github/workflows/demo-memory.yml
  tests/integration/test_demo_memory.py
Due: check-type-ignore

fix(db): select psycopg2 for unqualified PostgreSQL URLs
  scripts/init_database.py
  src/nexus/core/db_utils.py
  tests/unit/core/test_db_utils.py
  tests/unit/storage/test_record_store.py
Due: check-file-size, check-type-ignore

docs: clarify the configured PostgreSQL driver
  src/nexus/config.py
Due: check-file-size, check-type-ignore

build(zone): refresh source-lock for the 8c59f01a1 companion pin
  contracts/source-lock.gen.json
Due: none

fix(vault): pass the caller ctx to sys_setattr in the grpc e2e fixture
  rust/services/vault/tests/grpc_e2e.rs
Due: none

fix(zone): commit the relocked Cargo.lock and finish the sessions payload rename
  Cargo.lock
  src/nexus/server/api/v2/routers/sessions.py
Due: check-file-size, check-type-ignore

ci(zone): put the cloned kernel on PATH for the ServerHarness suites
  .github/workflows/zone-v1.yml
Due: none

feat(deploy): adopt production ReBAC and HTTP Search daemon
  Cargo.lock
  Cargo.toml
  Dockerfile
  dockerfiles/Dockerfile.federation-test
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.nexusd-cluster
  dockerfiles/Dockerfile.nexusd-cluster-plugins
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
  tests/e2e/docker/test_http_api.py
Due: check-type-ignore

docs(deploy): document HTTP and ReBAC activation
  Dockerfile
Due: none

docs(deploy): use a separate port for Rust HTTP
  Dockerfile
Due: none

test(sdk): cover the full ZoneClient surface
  packages/nexus-api-client/tests/zones.test.ts
Due: none

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
