Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix: correct PR#3727 direction conflicts — await on sync NexusFS methods
  src/nexus/cli/commands/file_ops.py
  src/nexus/fs/testing.py
  tests/unit/services/test_workflow_dispatch.py
Due: check-file-size, check-type-ignore

feat: mount/unmount dispatch via Rust kernel + delete Python adapter infrastructure
  pyproject.toml
  rust/nexus_kernel/src/generated_pyo3.rs
  rust/nexus_kernel/src/kernel.rs
  scripts/codegen_kernel_abi.py
  src/nexus/backends/base/cas_addressing_engine.py
  src/nexus/backends/storage/cas_local.py
  src/nexus/core/driver_lifecycle_coordinator.py
  src/nexus/core/nexus_fs_dispatch.py
  src/nexus/core/service_registry.py
  stubs/nexus_kernel/__init__.pyi
  tests/unit/core/test_driver_lifecycle_coordinator.py
  tests/unit/server/test_rpc_parity.py
Due: check-file-size, check-type-ignore

fix: skip drain tests that hang xdist worker in CI
  tests/unit/services/test_service_lifecycle_coordinator.py
Due: check-type-ignore

fix: enlist() post-bootstrap start() bug + restore CI config
  .github/workflows/test.yml
  src/nexus/core/service_registry.py
Due: check-file-size, check-type-ignore

ci: [DEBUG] sequential pytest + verbose for precise failure diagnosis
  .github/workflows/test.yml
Due: none

fix: observer dispatch SSOT — delegate register/unregister/count to Rust kernel
  src/nexus/core/nexus_fs_dispatch.py
Due: check-file-size, check-type-ignore

fix: AsyncMock→MagicMock for sync NexusFS methods in test mocks
  tests/unit/bricks/ipc/test_delivery.py
  tests/unit/fs/test_release_integrity.py
  tests/unit/services/test_acp_service.py
  tests/unit/services/test_gateway.py
  tests/unit/services/test_mount_service.py
Due: check-type-ignore

fix: SearchService._read await on sync Gateway.read_file + pipe consumer max retry
  src/nexus/bricks/search/search_service.py
  src/nexus/factory/zoekt_pipe_consumer.py
Due: check-file-size, check-type-ignore

fix: AsyncMock→Mock for sync NexusFS methods in MCP tools test
  tests/unit/bricks/mcp/test_mcp_server_tools.py
Due: check-type-ignore

fix: remove await on sync vfs.list_dir in sweep + IPC E2E tests
  tests/e2e/server/test_ipc_e2e.py
  tests/unit/bricks/ipc/test_sweep.py
Due: check-type-ignore

fix: observer test mock names + patch targets
  src/nexus/core/nexus_fs.py
  tests/unit/core/test_pipe_consumers.py
  uv.lock
Due: check-file-size, check-type-ignore

feat: Lazy OnceLock<ThreadPool> for OBSERVE dispatch + GIL detach
  <MagicMock name='mock._redb_path' id='5757785424'>
  <MagicMock name='mock._redb_path' id='5929811120'>
  Cargo.lock
  rust/nexus_kernel/Cargo.toml
  rust/nexus_kernel/src/generated_pyo3.rs
  rust/nexus_kernel/src/kernel.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/nexus_fs_dispatch.py
Due: check-file-size, check-type-ignore

fix: ZoektPipeConsumer.stop() hang — don't await stuck Rust I/O task
  src/nexus/factory/zoekt_pipe_consumer.py
Due: check-file-size, check-type-ignore

fix: restore develop versions of schema_generator + connector files
  src/nexus/backends/connectors/gmail/connector.py
  src/nexus/backends/connectors/schema_generator.py
  tests/e2e/self_contained/test_gcalendar_connector.py
  tests/e2e/self_contained/test_gmail_connector.py
Due: check-file-size, check-type-ignore

feat: replace PipedRecordStoreWriteObserver with RecordStoreWriteObserver (OBSERVE)
  src/nexus/cli/commands/demo.py
  src/nexus/contracts/types.py
  src/nexus/contracts/write_observer.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_background.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_system.py
  src/nexus/factory/orchestrator.py
  src/nexus/server/lifespan/services.py
  src/nexus/server/observability/components.py
  src/nexus/storage/piped_record_store_write_observer.py
  src/nexus/storage/record_store_write_observer.py
  src/nexus/storage/write_observer_hooks.py
  tests/benchmarks/bench_write_observer.py
  tests/e2e/self_contained/test_event_signal_e2e.py
  tests/unit/core/test_pipe_consumers.py
  tests/unit/core/test_share_permission_security.py
  tests/unit/core/test_zone_boundary_security.py
  tests/unit/services/event_log/test_replay_service.py
  tests/unit/storage/test_piped_write_observer_flush.py
Due: check-file-size, check-type-ignore

fix: notify() delegates to Rust dispatch_kernel_event (not no-op)
  src/nexus/core/nexus_fs_dispatch.py
Due: check-file-size, check-type-ignore

feat: remove observer ThreadPool — inline dispatch (~1μs per observer)
  .github/workflows/test.yml
  <MagicMock name='mock._redb_path' id='5757785424'>
  <MagicMock name='mock._redb_path' id='5929811120'>
  Cargo.lock
  rust/nexus_kernel/Cargo.toml
  rust/nexus_kernel/src/kernel.rs
Due: none

fix: AsyncMock→MagicMock for sync NexusFS methods in 9 test files
  tests/benchmarks/test_service_delegation.py
  tests/unit/bricks/mcp/test_mcp_server_tools.py
  tests/unit/cli/test_commands_smoke.py
  tests/unit/cli/test_demo.py
  tests/unit/cli/test_dry_run.py
  tests/unit/core/test_scoped_filesystem.py
  tests/unit/factory/test_adapters.py
  tests/unit/fuse/conftest.py
  tests/unit/services/test_workflow_dispatch.py
Due: check-type-ignore

fix: reduce pipe_read_blocking timeout 30s→5s + CI step timeout 30min
  .github/workflows/test.yml
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

feat: delete PyMutationObserverAdapter — zero Py<PyAny> in ThreadPool
  rust/nexus_kernel/src/generated_pyo3.rs
  rust/nexus_kernel/src/kernel.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/core/nexus_fs_dispatch.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

fix: 46 CI test failures — observer inline, async→sync, mock fixes
  src/nexus/factory/_remote.py
  tests/unit/core/test_kernel_dispatch_parallel.py
  tests/unit/core/test_kernel_dispatch_unregister.py
  tests/unit/core/test_nexus_fs_core.py
  tests/unit/factory/test_remote_kernel_overrides.py
  tests/unit/fs/test_doctor.py
  tests/unit/grpc/test_servicer.py
  tests/unit/remote/test_service_proxy.py
  tests/unit/server/routers/test_ipc_router.py
Due: check-file-size, check-type-ignore

fix: remove await self.write() in sync copy + mypy no-redef
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

feat: replace ZoektPipeConsumer with ZoektWriteObserver (OBSERVE phase)
  src/nexus/bricks/task_manager/dispatch_consumer.py
  src/nexus/factory/_bricks.py
  src/nexus/factory/zoekt_observer.py
  src/nexus/factory/zoekt_pipe_consumer.py
  src/nexus/server/lifespan/services.py
  src/nexus/server/lifespan/services_container.py
  src/nexus/task_manager/dispatch_consumer.py
  tests/unit/core/test_pipe_consumers.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

feat: delete notify() + 8 call sites + 4 dead test files
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_dispatch.py
  tests/unit/core/test_kernel_dispatch_parallel.py
  tests/unit/core/test_kernel_dispatch_unregister.py
  tests/unit/core/test_write_observer_calls.py
  tests/unit/server/test_agent_status_endpoint.py
Due: check-file-size, check-type-ignore

ci: disable xdist — sequential mode with signal timeout
  .github/workflows/test.yml
Due: none

ci: trigger workflow (docstring update)
  src/nexus/__init__.py
Due: check-file-size, check-type-ignore

fix: add Cargo.toml comment to retrigger CI
  rust/kernel/Cargo.toml
Due: none

feat: Rust FileWatcher + sys_watch syscall (inotify equivalent)
  docs/architecture/KERNEL-ARCHITECTURE.md
  rust/kernel/src/file_watch.rs
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/core/nexus_fs_watch.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

feat: all observers are Rust-native MutationObserver impls
  rust/kernel/src/dispatch.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/lib.rs
  rust/kernel/src/stream_observer.rs
Due: none

fix: inline observer dispatch (remove ThreadPool) + fix sys_watch mypy
  rust/kernel/src/kernel.rs
  src/nexus/contracts/filesystem/filesystem_abc.py
Due: check-file-size, check-type-ignore

feat: delete Python FileWatcher + all 7 Python observer on_mutation methods
  src/nexus/backends/base/cas_addressing_engine.py
  src/nexus/backends/storage/cas_local.py
  src/nexus/core/file_watcher.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/remote_watcher.py
  src/nexus/factory/orchestrator.py
  src/nexus/factory/zoekt_observer.py
  src/nexus/fuse/mount.py
  src/nexus/lib/lock_order.py
  src/nexus/services/event_bus/observer.py
  src/nexus/services/lifecycle/workflow_dispatch_service.py
  src/nexus/storage/piped_record_store_write_observer.py
  tests/benchmarks/bench_write_observer.py
  tests/e2e/redis/test_multi_instance_workflows.py
  tests/unit/backends/test_local_connector.py
  tests/unit/core/test_file_watcher.py
  tests/unit/core/test_lock_ordering.py
  tests/unit/core/test_minimal_boot_mode.py
  tests/unit/core/test_pipe_consumers.py
  tests/unit/factory/test_retroactive_hook_specs.py
  tests/unit/services/test_workflow_dispatch.py
Due: check-file-size, check-type-ignore

fix: CI test failures — observer_count, mock assertions, crate paths
  Cargo.lock
  rust/kernel/Cargo.toml
  src/nexus/core/nexus_fs_dispatch.py
  tests/unit/core/test_driver_lifecycle_coordinator.py
  tests/unit/core/test_minimal_boot_mode.py
  tests/unit/services/test_service_lifecycle_coordinator.py
  tests/unit/test_packaging_metadata.py
Due: check-file-size, check-type-ignore

feat: NexusFS zero async — convert last 8 async methods + fix all callers
  src/nexus/cli/commands/chat.py
  src/nexus/contracts/exceptions.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_dispatch.py
  src/nexus/core/nexus_fs_lock.py
  src/nexus/lib/distributed_lock.py
  src/nexus/raft/lock_manager.py
  src/nexus/server/api/v2/routers/events_replay.py
  src/nexus/server/lifespan/__init__.py
  src/nexus/server/rpc/handlers/filesystem.py
  src/nexus/services/agent_runtime/managed_loop.py
  tests/e2e/redis/test_multi_instance_workflows.py
  tests/e2e/server/test_lock_rest_api.py
  tests/unit/agent_runtime/test_managed_loop.py
Due: check-file-size, check-type-ignore

fix: defer observer registration + clean dead observer refs
  Cargo.lock
  rust/kernel/src/kernel.rs
  rust/kernel/src/stream_observer.rs
  src/nexus/contracts/types.py
  src/nexus/contracts/vfs_hooks.py
  src/nexus/contracts/write_observer.py
  src/nexus/core/driver_lifecycle_coordinator.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/remote_watcher.py
  src/nexus/core/service_registry.py
  src/nexus/factory/orchestrator.py
  src/nexus/factory/zoekt_observer.py
  src/nexus/fuse/mount.py
  src/nexus/services/event_bus/observer.py
  src/nexus/services/lifecycle/workflow_dispatch_service.py
  src/nexus/storage/piped_record_store_write_observer.py
Due: check-file-size, check-type-ignore

fix: sync NexusFilesystem Protocol (sys_lock/unlock/lock/unlock async→sync)
  src/nexus/contracts/filesystem/filesystem_abc.py
Due: check-file-size, check-type-ignore

fix: comprehensive CI fixes — mypy, brick imports, NexusFS NameError
  .pre-commit-hooks/check_brick_imports.py
  proto/nexus/raft/commands.proto
  src/nexus/bricks/filesystem/scoped_filesystem.py
  src/nexus/bricks/mcp/connection_manager.py
  src/nexus/bricks/mcp/exporter.py
  src/nexus/bricks/mcp/mcp_service.py
  src/nexus/bricks/mcp/mount.py
  src/nexus/cli/commands/cache.py
  src/nexus/cli/commands/file_ops.py
  src/nexus/cli/utils.py
  src/nexus/fuse/ops/metadata_handler.py
Due: check-file-size, check-type-ignore

fix: update brick import check tests for nexus_fs whitelist
  tests/unit/scripts/test_check_brick_imports.py
Due: check-type-ignore

fix: limit xdist workers to 3 on Ubuntu (OOM crash with 4 workers)
  .github/workflows/test.yml
Due: none

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
