Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(ci): update federation E2E health wait to TCP port 2126
  .github/workflows/federation-e2e.yml
Due: none

fix(kernel_client): increase gRPC readiness timeout to 30s
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

fix(kernel_client): match caller signatures + wrap Call RPC dicts in typed result objects
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

fix(kernel_client): add all SysWriteResult fields matching Rust struct
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

fix(kernel_client): add register_hook + service_lookup stubs
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

fix(ci): update benchmark smoke test after test_core_operations deletion
  .github/workflows/benchmark.yml
Due: none

fix(kernel_client): add all missing method stubs comprehensively
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

fix(docker): add nexus-cluster symlink for Python factory boot
  Dockerfile
Due: none

fix(call_dispatch): add sys_unlink handler + enrich JSON responses
  rust/transport/src/call_dispatch.rs
Due: none

fix(kernel_client): metastore_list_paginated returns FileMetadata + has_more
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

fix(kernel_client): add get_xattr/set_xattr/get_xattr_bulk stubs
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

fix(call_dispatch): skip DT_MOUNT overwrite — kernel binary owns mount table
  rust/transport/src/call_dispatch.rs
Due: none

fix(kernel_client): add entry_type to _SysReadResult + datetime enrichment in sys_stat
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

fix(call_dispatch): add sys_read_batch handler for batch read operations
  rust/transport/src/call_dispatch.rs
Due: none

fix(kernel_client): sys_read_batch loops typed Read RPCs, not Call RPC
  rust/transport/src/call_dispatch.rs
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

refactor: rename sys_read_batch → read_batch (not a Tier 1 syscall)
  src/nexus/_kernel_api_groups.py
  src/nexus/core/nexus_fs_content.py
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

fix(tests): update kernel stub read_batch method to match rename
  tests/unit/core/test_nexus_fs_content_metrics.py
Due: check-type-ignore

fix(tests): fix _Kernel.read_batch stub to return per-path data
  tests/unit/core/test_nexus_fs_content_metrics.py
Due: check-type-ignore

fix(kernel_client): _SysReadResult.content → .data to match Rust SSOT
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

fix(call_dispatch+kernel_client): wire xattr through Rust kernel via Call RPC
  rust/transport/src/call_dispatch.rs
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

test: delete 5 e2e test files testing dead Python infrastructure
  tests/e2e/self_contained/mcp/test_md_structure_e2e.py
  tests/e2e/self_contained/test_dual_write_consistency.py
  tests/e2e/self_contained/test_list_with_permissions.py
  tests/e2e/self_contained/test_observability_pipeline.py
  tests/e2e/self_contained/test_trigram_search_integration.py
Due: check-type-ignore

test: delete test_zone_admin_sharing.py (dead Python RebacManager)
  tests/e2e/self_contained/test_zone_admin_sharing.py
Due: check-type-ignore

test: delete 5 search-dependent methods from test_mcp_server_integration
  tests/e2e/self_contained/mcp/test_mcp_server_integration.py
Due: check-type-ignore

fix(rpc_types): align Python RPCErrorCode values with Rust SSOT
  src/nexus/contracts/rpc_types.py
  tests/unit/remote/test_rpc_transport.py
Due: check-file-size, check-type-ignore

fix(kernel_client): sys_stat returns ISO strings, not datetime objects
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

fix(kernel_client): read_batch surfaces error_kind for missing files
  src/nexus/remote/kernel_client.py
Due: check-file-size, check-type-ignore

test: delete tests depending on Python readdir legacy fallback path
  tests/e2e/self_contained/mcp/test_mcp_server_integration.py
  tests/e2e/self_contained/test_readdir_scale_e2e.py
Due: check-type-ignore

docs(#4132): wire FULL startup/auth/env/status into surface-coverage matrix
  docs/architecture/api-rpc-surface-coverage.html
  docs/architecture/api-rpc-surface-coverage.yaml
Due: none

docs(#4132): design spec — full hub startup, auth, remote client, profile contract
  docs/superpowers/specs/2026-05-18-issue-4132-full-profile-design.md
Due: none

docs(#4132): implementation plan — 11 tasks, TDD, gated E2E, missing-surface gate
  docs/superpowers/plans/2026-05-18-issue-4132-full-profile.md
Due: none

test(#4132): nexusd FULL banner + remote-profile rejection
  tests/unit/daemon/test_full_profile_daemon.py
Due: check-type-ignore

test(#4132): characterize FULL brick/driver contract
  tests/unit/core/test_full_profile.py
Due: check-type-ignore

docs(#4132): reconcile user-guide §4 with FULL profile + preset↔profile map
  docs/guides/user-guide.md
Due: none

docs(#4132): reconcile stale daemon-and-remote.md (minimal->full, add nexus up)
  docs/paths/daemon-and-remote.md
Due: none

docs(#4132): FULL deployment profile reference page
  docs/deployment/full-profile.md
Due: none

test(#4132): nexus env --json HTTP+gRPC parity for remote SDK
  tests/unit/cli/test_full_profile_parity.py
Due: check-type-ignore

test(#4132): gated FULL real-boot E2E (health/features/Ping + remote SDK)
  tests/integration/conftest.py
  tests/integration/test_full_profile_boot.py
Due: check-type-ignore

fix(#4132): G2 review — dedupe profile resolve, drop test wrappers, harden offline test
  src/nexus/cli/commands/status.py
  tests/unit/cli/test_status.py
Due: check-file-size, check-type-ignore

feat(#4132): nexus profile contract — print resolved deployment-profile contract (Gap 1)
  src/nexus/cli/commands/profile.py
  tests/unit/cli/test_profile_contract.py
Due: check-file-size, check-type-ignore

fix(#4132): G1 review — drop dead None-guard, rename test, top-level imports
  src/nexus/cli/commands/profile.py
  tests/unit/cli/test_profile_contract.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
