Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

docs(runbook): document the customer-side connectivity plane (per-customer overlay)
  docs/architecture/federation-cross-machine-runbook.html
Due: none

add Benchmark (pytest) benchmark result for 9be69e80f5acc219c8f37d676e604c90c7eeb61e
  dev/bench-full/data.js
Due: none

feat(search): add query_expansion module — env-driven LLM expander + FIFO cache
  rust/services/search-plugin/src/lib.rs
  rust/services/search-plugin/src/query_expansion.rs
Due: none

feat(search): wire query expansion into SearchServiceImpl::query
  rust/services/search-plugin/src/service.rs
Due: none

test(search): integration test for LLM query-expansion wrapper
  rust/services/search-plugin/tests/query_expansion_e2e.rs
Due: none

feat(search): add peer_registry module — env-driven federation topology
  rust/services/search-plugin/src/lib.rs
  rust/services/search-plugin/src/peer_registry.rs
Due: none

feat(search): add federation module — peer fan-out + merge_ranked
  rust/services/search-plugin/src/federation.rs
Due: none

feat(search): wire federation into SearchServiceImpl::query
  rust/services/search-plugin/src/service.rs
Due: none

test(search): federation E2E over a real tonic loopback peer
  Cargo.lock
  rust/services/search-plugin/Cargo.toml
  rust/services/search-plugin/tests/federation_e2e.rs
Due: none

feat(search): add contextual_chunker module — LLM prefix per chunk
  rust/services/search-plugin/src/contextual_chunker.rs
  rust/services/search-plugin/src/lib.rs
Due: none

feat(search): wire contextual chunking into all three indexing paths
  rust/services/search-plugin/src/service.rs
Due: none

test(search): E2E for contextual chunking via IndexDocuments RPC
  rust/services/search-plugin/tests/contextual_chunking_e2e.rs
Due: none

docs(search): strip Python-reference tombstones from module docstrings
  rust/services/search-plugin/src/contextual_chunker.rs
  rust/services/search-plugin/src/query_expansion.rs
Due: none

docs(runbook): up-to-date review — auth-on secret, binary past #225, fixed SAN, concrete systemd
  docs/architecture/federation-cross-machine-runbook.html
Due: none

refactor(search): rename federation → peer_fanout to disambiguate from kernel federation
  rust/services/search-plugin/src/lib.rs
  rust/services/search-plugin/src/peer_fanout.rs
  rust/services/search-plugin/src/peer_registry.rs
  rust/services/search-plugin/src/service.rs
  rust/services/search-plugin/tests/peer_fanout_e2e.rs
Due: none

refactor(search): align NEXUS_SEARCH_CONTEXTUAL_* env vars with the kill-switch name
  rust/services/search-plugin/src/contextual_chunker.rs
Due: none

refactor(search): extract llm_chat helper for OpenAI-compatible completions
  rust/services/search-plugin/src/contextual_chunker.rs
  rust/services/search-plugin/src/lib.rs
  rust/services/search-plugin/src/llm_chat.rs
  rust/services/search-plugin/src/query_expansion.rs
Due: none

tests(search): share spawn_one_shot HTTP test helper via llm_chat::test_http
  rust/services/search-plugin/src/contextual_chunker.rs
  rust/services/search-plugin/src/llm_chat.rs
  rust/services/search-plugin/src/query_expansion.rs
Due: none

refactor(search): collapse re-entry guards into a single internal_call marker
  rust/services/search-plugin/src/internal_call.rs
  rust/services/search-plugin/src/lib.rs
  rust/services/search-plugin/src/peer_fanout.rs
  rust/services/search-plugin/src/service.rs
Due: none

fix(search): ExpanderHandle owns the full QueryExpansionConfig (SSOT)
  rust/services/search-plugin/src/service.rs
  rust/services/search-plugin/tests/query_expansion_e2e.rs
Due: none

refactor(search): unify SearchServiceBuilder — all 3 lazy features use OnceLock
  rust/services/search-plugin/src/service.rs
Due: none

fix(search): bound contextual-chunking LLM concurrency globally + cap chunks per doc
  rust/services/search-plugin/src/contextual_chunker.rs
  rust/services/search-plugin/src/service.rs
Due: none

perf(search): parallel variant fan-out in LLM query expansion
  rust/services/search-plugin/src/service.rs
Due: none

test(search): cover contextual chunking on Index walker + Refresh paths
  rust/services/search-plugin/tests/contextual_chunking_e2e.rs
Due: none

chore(search): cargo fmt sweep across audit-cleanup commits
  rust/services/search-plugin/src/contextual_chunker.rs
  rust/services/search-plugin/src/peer_registry.rs
  rust/services/search-plugin/src/query_expansion.rs
  rust/services/search-plugin/src/service.rs
  rust/services/search-plugin/tests/contextual_chunking_e2e.rs
  rust/services/search-plugin/tests/query_expansion_e2e.rs
Due: none

refactor(search): extract still-needed helpers from federated_search into clean homes
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/search_auth.py
  src/nexus/bricks/search/search_degraded.py
Due: check-file-size, check-type-ignore

chore(search): retarget callers to new helper homes
  src/nexus/bricks/search/search_service.py
  src/nexus/server/api/v2/routers/search.py
  tests/unit/bricks/search/test_daemon_chunks_per_page.py
  tests/unit/bricks/search/test_federated_degraded.py
  tests/unit/bricks/search/test_readable_zone_filter.py
Due: check-file-size, check-type-ignore

chore(search): drop dead NEXUS_CONTEXTUAL_CHUNKING config + vestigial kwargs
  src/nexus/bricks/search/config.py
  src/nexus/bricks/search/search_service.py
  tests/integration/bricks/search/test_search_config.py
Due: check-file-size, check-type-ignore

chore(indexing): remove Python contextual-chunking branch — Rust plugin owns it
  src/nexus/bricks/search/indexing.py
Due: check-file-size, check-type-ignore

chore(server): delete redundant POST /search/expand endpoint
  src/nexus/server/api/v2/routers/search.py
Due: check-file-size, check-type-ignore

chore(search): drop query_expansion re-exports from bricks/search/__init__.py
  src/nexus/bricks/search/__init__.py
Due: check-file-size, check-type-ignore

chore(search): delete Python query_expansion + contextual_chunking modules + their tests
  src/nexus/bricks/search/contextual_chunking.py
  src/nexus/bricks/search/query_expansion.py
  tests/e2e/server/test_contextual_chunking_e2e.py
  tests/e2e/server/test_query_expansion_e2e.py
Due: check-file-size, check-type-ignore

chore(search): shrink federated_search.py — drop helpers that moved to new homes
  src/nexus/bricks/search/federated_search.py
Due: check-file-size, check-type-ignore

docs(search): scrub references to deleted Python modules
  docs/archive/api/semantic-search.md
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  src/nexus/contracts/search_types.py
Due: check-file-size, check-type-ignore

test(search): fix 24 pre-existing failures across search/federation tests
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  tests/integration/bricks/search/test_federated_search.py
  tests/integration/bricks/search/test_search_service.py
  tests/integration/bricks/search/test_zone_registry.py
Due: check-type-ignore

chore(search): CI cleanup — drop unused import + revert hub.status YAML add
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  src/nexus/bricks/search/federated_search.py
Due: check-file-size, check-type-ignore

chore(search): ruff isort — sort test_federated_degraded imports alphabetically
  tests/unit/bricks/search/test_federated_degraded.py
Due: check-type-ignore

chore(search): ruff format + regenerated surface-coverage YAML
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  src/nexus/bricks/search/search_degraded.py
Due: check-file-size, check-type-ignore

refactor(nexus-vfs#220): fix CI — update workflow + hook references
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
Due: none

perf(search-plugin): shard peer-fanout channel cache with DashMap
  Cargo.lock
  rust/services/search-plugin/Cargo.toml
  rust/services/search-plugin/src/peer_fanout.rs
Due: none
