Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: rpc-parity, version-consistency

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/)

  - repo: local
    hooks:
      - id: rpc-parity
        name: RPC Parity Check
        entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
        language: system
        pass_filenames: false
        files: ^src/nexus/core/nexus_fs.*\.py$

      - id: version-consistency
        name: Version Consistency Check
        entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|src/nexus/__init__\.py)$

refactor(#1383): add storage affinity docstrings + remove EventLog.subscribe() duplicate
  src/nexus/services/protocols/agent_registry.py
  src/nexus/services/protocols/event_log.py
  src/nexus/services/protocols/hook_engine.py
  src/nexus/services/protocols/namespace_manager.py
  src/nexus/services/protocols/scheduler.py
  tests/unit/services/protocols/test_event_log.py
Due: none

refactor(#1383): route PersistentViewStore through RecordStoreABC
  src/nexus/cache/persistent_view_postgres.py
  src/nexus/core/namespace_factory.py
  src/nexus/core/persistent_view_store.py
  src/nexus/server/fastapi_server.py
  tests/integration/test_persistent_view_factory_wiring.py
  tests/integration/test_persistent_view_store.py
  tests/unit/core/test_persistent_view_benchmark.py
Due: none

feat(#1397): Rust-accelerated Event Log WAL with PG fallback
  rust/nexus_wal/Cargo.lock
  rust/nexus_wal/Cargo.toml
  rust/nexus_wal/benches/wal_bench.rs
  rust/nexus_wal/src/lib.rs
  rust/nexus_wal/src/pyo3_bindings.rs
  rust/nexus_wal/src/recovery.rs
  rust/nexus_wal/src/segment.rs
  rust/nexus_wal/src/wal.rs
  src/nexus/core/event_bus.py
  src/nexus/core/event_log_factory.py
  src/nexus/core/event_log_pg.py
  src/nexus/core/event_log_wal.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/protocols/__init__.py
  src/nexus/core/protocols/event_log.py
  src/nexus/server/fastapi_server.py
  tests/benchmarks/bench_event_log_wal.py
  tests/e2e/test_event_log_wal_e2e.py
  tests/integration/test_event_log_crash_recovery.py
  tests/unit/core/test_event_log_protocol.py
  tests/unit/core/test_event_log_wal.py
Due: rpc-parity

feat(#803): Expose edit_file tool across MCP, LangGraph, and FastAPI
  src/nexus/mcp/server.py
  src/nexus/server/fastapi_server.py
  src/nexus/tools/langgraph/nexus_tools.py
  tests/e2e/test_auth_security_e2e.py
  tests/unit/mcp/test_mcp_server_tools.py
  tests/unit/tools/langgraph/test_nexus_tools.py
Due: none

fix(#1397): Rust fmt, mypy fixes, add nexus_wal to CI
  .github/workflows/lint.yml
  rust/nexus_wal/Cargo.toml
  rust/nexus_wal/benches/wal_bench.rs
  rust/nexus_wal/src/lib.rs
  rust/nexus_wal/src/pyo3_bindings.rs
  rust/nexus_wal/src/recovery.rs
  rust/nexus_wal/src/segment.rs
  rust/nexus_wal/src/wal.rs
Due: none

chore(#803): Fix pre-existing lint failures from main
  rust/nexus_raft/src/raft/replication_log.rs
  rust/nexus_raft/src/raft/state_machine.rs
  src/nexus/core/_metadata_generated.py
  src/nexus/core/protocols/__init__.py
Due: none

feat(#1356): Reputation & Trust — Bayesian Beta scoring, feedback, disputes
  pyproject.toml
  src/nexus/core/dispute_service.py
  src/nexus/core/reputation_math.py
  src/nexus/core/reputation_records.py
  src/nexus/core/reputation_service.py
  src/nexus/server/api/v2/dependencies.py
  src/nexus/server/api/v2/routers/__init__.py
  src/nexus/server/api/v2/routers/reputation.py
  src/nexus/server/api/v2/versioning.py
  src/nexus/storage/models/__init__.py
  src/nexus/storage/models/dispute.py
  src/nexus/storage/models/reputation_event.py
  src/nexus/storage/models/reputation_score.py
  tests/e2e/test_reputation_e2e.py
  tests/unit/core/test_dispute_service.py
  tests/unit/core/test_reputation_math.py
  tests/unit/core/test_reputation_service.py
Due: version-consistency

fix(#1356): sort imports for ruff I001 compliance
  src/nexus/storage/models/__init__.py
  tests/unit/core/test_dispute_service.py
  tests/unit/core/test_reputation_math.py
  tests/unit/core/test_reputation_service.py
Due: none

chore(#1397): fix pre-existing CI lint failures
  rust/nexus_raft/src/raft/replication_log.rs
  rust/nexus_raft/src/raft/state_machine.rs
  src/nexus/core/_metadata_generated.py
Due: none

chore(#1356): suppress ruff lint for generated files
  pyproject.toml
Due: version-consistency

chore(#1356): ruff format + exclude generated files from lint
  pyproject.toml
  src/nexus/core/agent_key_service.py
  src/nexus/core/dispute_service.py
  src/nexus/core/reputation_service.py
  src/nexus/server/api/v2/routers/identity.py
  src/nexus/server/api/v2/routers/reputation.py
  src/nexus/server/api/v2/versioning.py
  src/nexus/storage/models/agent_key.py
  src/nexus/storage/models/dispute.py
  src/nexus/storage/models/reputation_score.py
  tests/e2e/test_reputation_e2e.py
  tests/unit/core/test_dispute_service.py
Due: version-consistency

feat(#803): Expose edit_file tool across MCP, LangGraph, and FastAPI (#1426)
  rust/nexus_raft/src/raft/replication_log.rs
  rust/nexus_raft/src/raft/state_machine.rs
  src/nexus/core/_metadata_generated.py
  src/nexus/core/protocols/__init__.py
  src/nexus/mcp/server.py
  src/nexus/server/fastapi_server.py
  src/nexus/tools/langgraph/nexus_tools.py
  tests/e2e/test_auth_security_e2e.py
  tests/unit/mcp/test_mcp_server_tools.py
  tests/unit/tools/langgraph/test_nexus_tools.py
Due: none

fix(#1397): skip WAL protocol test when Rust extension unavailable
  tests/unit/core/test_event_log_protocol.py
Due: none

fix(#1341): Lint fixes for ruff and mypy compliance
  src/nexus/core/context_manifest/models.py
  src/nexus/core/context_manifest/resolver.py
  tests/integration/core/test_context_manifest_integration.py
  tests/unit/core/test_context_manifest/conftest.py
  tests/unit/core/test_context_manifest/test_models.py
  tests/unit/core/test_context_manifest/test_resolver.py
  tests/unit/core/test_context_manifest/test_template.py
Due: none

feat(#1341): Context manifest with deterministic pre-execution
  pyproject.toml
  src/nexus/core/agent_record.py
  src/nexus/core/context_manifest/__init__.py
  src/nexus/core/context_manifest/models.py
  src/nexus/core/context_manifest/resolver.py
  src/nexus/core/context_manifest/template.py
  tests/integration/core/test_context_manifest_integration.py
  tests/unit/core/test_context_manifest/__init__.py
  tests/unit/core/test_context_manifest/conftest.py
  tests/unit/core/test_context_manifest/test_models.py
  tests/unit/core/test_context_manifest/test_resolver.py
  tests/unit/core/test_context_manifest/test_template.py
  uv.lock
Due: version-consistency

fix(#1341): Apply ruff format to context manifest files
  src/nexus/core/context_manifest/resolver.py
  src/nexus/core/context_manifest/template.py
  tests/integration/core/test_context_manifest_integration.py
  tests/unit/core/test_context_manifest/test_models.py
  tests/unit/core/test_context_manifest/test_resolver.py
Due: none

chore(#1356): add missing files from Identity layer dependency
  src/nexus/core/agent_key_record.py
  src/nexus/storage/session_mixin.py
  tests/e2e/test_agent_identity_e2e.py
  tests/unit/core/test_agent_key_service.py
Due: none

feat(#1341): Context manifest with deterministic pre-execution (#1430)
  pyproject.toml
  src/nexus/core/agent_record.py
  src/nexus/core/context_manifest/__init__.py
  src/nexus/core/context_manifest/models.py
  src/nexus/core/context_manifest/resolver.py
  src/nexus/core/context_manifest/template.py
  tests/integration/core/test_context_manifest_integration.py
  tests/unit/core/test_context_manifest/__init__.py
  tests/unit/core/test_context_manifest/conftest.py
  tests/unit/core/test_context_manifest/test_models.py
  tests/unit/core/test_context_manifest/test_resolver.py
  tests/unit/core/test_context_manifest/test_template.py
  uv.lock
Due: version-consistency

feat(#1397): Rust-accelerated Event Log WAL with PG fallback (#1425)
  .github/workflows/lint.yml
  rust/nexus_wal/Cargo.lock
  rust/nexus_wal/Cargo.toml
  rust/nexus_wal/benches/wal_bench.rs
  rust/nexus_wal/src/lib.rs
  rust/nexus_wal/src/pyo3_bindings.rs
  rust/nexus_wal/src/recovery.rs
  rust/nexus_wal/src/segment.rs
  rust/nexus_wal/src/wal.rs
  src/nexus/core/event_bus.py
  src/nexus/core/event_log_factory.py
  src/nexus/core/event_log_pg.py
  src/nexus/core/event_log_wal.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/protocols/__init__.py
  src/nexus/core/protocols/event_log.py
  src/nexus/server/fastapi_server.py
  tests/benchmarks/bench_event_log_wal.py
  tests/e2e/test_event_log_wal_e2e.py
  tests/integration/test_event_log_crash_recovery.py
  tests/unit/core/test_event_log_protocol.py
  tests/unit/core/test_event_log_wal.py
Due: rpc-parity

fix(#1356): remove Issue #1355 identity files to fix table conflict
  src/nexus/core/agent_key_record.py
  src/nexus/core/agent_key_service.py
  src/nexus/server/api/v2/dependencies.py
  src/nexus/server/api/v2/routers/identity.py
  src/nexus/server/api/v2/versioning.py
  src/nexus/storage/models/agent_key.py
  tests/e2e/test_agent_identity_e2e.py
  tests/unit/core/test_agent_key_service.py
Due: none

feat(#1286): Split models/__init__.py monolith (4,609 LOC) into 12 domain modules
  src/nexus/core/memory_permission_enforcer.py
  src/nexus/storage/models/__init__.py
  src/nexus/storage/models/_base.py
  src/nexus/storage/models/ace.py
  src/nexus/storage/models/agents.py
  src/nexus/storage/models/auth.py
  src/nexus/storage/models/filesystem.py
  src/nexus/storage/models/infrastructure.py
  src/nexus/storage/models/memory.py
  src/nexus/storage/models/payments.py
  src/nexus/storage/models/permissions.py
  src/nexus/storage/models/sharing.py
  src/nexus/storage/models/sync.py
  src/nexus/storage/models/workflows.py
  tests/unit/storage/test_alembic_check.py
  tests/unit/storage/test_domain_models.py
  tests/unit/storage/test_model_imports.py
Due: none

docs(#1405): update federation-memo §6.5 — peer discovery not needed
  docs/architecture/federation-memo.md
Due: none

refactor(#1397): move EventLog from core/ to services/ — not a kernel pillar
  src/nexus/core/event_log_factory.py
  src/nexus/core/event_log_pg.py
  src/nexus/core/event_log_wal.py
  src/nexus/core/protocols/__init__.py
  src/nexus/core/protocols/event_log.py
  src/nexus/server/fastapi_server.py
  src/nexus/services/event_log/__init__.py
  src/nexus/services/event_log/factory.py
  src/nexus/services/event_log/pg_backend.py
  src/nexus/services/event_log/protocol.py
  src/nexus/services/event_log/wal_backend.py
  tests/benchmarks/bench_event_log_wal.py
  tests/integration/test_event_log_crash_recovery.py
  tests/unit/core/test_event_log_protocol.py
  tests/unit/core/test_event_log_wal.py
Due: none

fix(#1397): resolve 13 pre-existing mypy errors across 10 files
  pyproject.toml
  src/nexus/a2a/router.py
  src/nexus/factory.py
  src/nexus/identity/crypto.py
  src/nexus/sandbox/sandbox_docker_provider.py
  src/nexus/search/mobile_providers.py
  src/nexus/server/api/v2/error_handler.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/path_utils.py
  src/nexus/server/rpc_server.py
  uv.lock
Due: version-consistency

fix(#1286): Fix CI — ruff format, add PersistentNamespaceViewModel to manifest
  src/nexus/server/fastapi_server.py
  src/nexus/storage/models/_base.py
  src/nexus/storage/models/auth.py
  src/nexus/storage/models/infrastructure.py
  src/nexus/storage/models/memory.py
  src/nexus/storage/models/permissions.py
  src/nexus/storage/models/sync.py
  tests/unit/storage/test_alembic_check.py
  tests/unit/storage/test_domain_models.py
  tests/unit/storage/test_model_imports.py
Due: none

refactor(#1159): rename RaftNode → ZoneConsensus across nexus_raft crate
  docs/architecture/federation-memo.md
  rust/nexus_raft/src/lib.rs
  rust/nexus_raft/src/pyo3_bindings.rs
  rust/nexus_raft/src/raft/mod.rs
  rust/nexus_raft/src/raft/node.rs
  rust/nexus_raft/src/raft/replication_log.rs
  rust/nexus_raft/src/raft/zone_registry.rs
  rust/nexus_raft/src/transport/server.rs
  rust/nexus_raft/src/transport/transport_loop.rs
  src/nexus/raft/zone_manager.py
Due: none
