Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

revert: drop develop's f2be9798e hardening additions leaked via rebase
  proto/nexus/raft/transport.proto
  rust/raft/src/bin/witness.rs
  rust/raft/src/pyo3_bindings.rs
  rust/raft/src/raft/error.rs
  rust/raft/src/raft/node.rs
  rust/raft/src/raft/zone_registry.rs
  rust/raft/src/transport/certgen.rs
  rust/raft/src/transport/client.rs
  rust/raft/src/transport/mod.rs
  rust/raft/src/transport/server.rs
  rust/raft/src/transport/transport_loop.rs
Due: none

fix(cli,server): R20.17b — zone export/import routed through RPC when remote
  src/nexus/bricks/portability/export_service.py
  src/nexus/bricks/portability/import_service.py
  src/nexus/cli/commands/zone.py
  src/nexus/server/rpc/services/federation_rpc.py
Due: check-file-size, check-type-ignore

fix(raft,kernel): follower read-your-writes via predicate wait_until
  rust/kernel/src/raft_metastore.rs
  rust/raft/src/federation/distributed_locks.rs
  rust/raft/src/raft/node.rs
Due: none

fix(ci): LPM fallback to root zone + sse-mock skip + drop conflicting filter test
  rust/kernel/src/mount_table.rs
  tests/e2e/docker/test_federation_e2e.py
  tests/unit/core/test_sys_readdir_internal_filter.py
Due: check-type-ignore

refactor: rename PersistentService -> BackgroundService (symbol + method API)
  src/nexus/bricks/rebac/cache/tiger/expander.py
  src/nexus/bricks/search/daemon.py
  src/nexus/cache/brick.py
  src/nexus/contracts/protocols/__init__.py
  src/nexus/contracts/protocols/service_lifecycle.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/service_registry.py
  src/nexus/factory/_background.py
  src/nexus/factory/_lifecycle.py
  src/nexus/lib/deferred_buffer.py
  src/nexus/server/lifespan/__init__.py
  src/nexus/server/lifespan/permissions.py
  src/nexus/server/lifespan/services.py
  src/nexus/server/subscriptions/manager.py
  src/nexus/services/event_log/delivery.py
  src/nexus/services/event_log/exporter_registry.py
  src/nexus/services/lifecycle/zone_lifecycle.py
  src/nexus/services/scheduler/service.py
  src/nexus/tasks/runner.py
  tests/unit/contracts/test_service_lifecycle_protocols.py
  tests/unit/server/test_rpc_parity.py
  tests/unit/services/test_service_lifecycle_coordinator.py
Due: check-file-size, check-type-ignore

docs: rewrite BackgroundService module docstring + architecture note
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/contracts/protocols/service_lifecycle.py
Due: check-file-size, check-type-ignore

feat(password-vault): PasswordVaultService + VaultEntry schema
  src/nexus/services/password_vault/__init__.py
  src/nexus/services/password_vault/schema.py
  src/nexus/services/password_vault/service.py
  tests/unit/services/test_password_vault_service.py
Due: check-file-size, check-type-ignore

feat(password-vault): REST router + DI wiring + integration tests
  src/nexus/server/api/v2/routers/password_vault.py
  src/nexus/server/fastapi_server.py
  tests/integration/test_password_vault_api.py
Due: check-file-size, check-type-ignore

fix(password-vault): accept URL-encoded slashes in title via {title:path}
  src/nexus/server/api/v2/routers/password_vault.py
  tests/integration/test_password_vault_api.py
Due: check-file-size, check-type-ignore

fix(password-vault): respect services/ layering boundaries
  src/nexus/services/password_vault/schema.py
  src/nexus/services/password_vault/service.py
Due: check-file-size, check-type-ignore

fix(password-vault): cast list_versions return through Any boundary
  src/nexus/services/password_vault/service.py
Due: check-file-size, check-type-ignore

feat(agent): ACP mode + tool registry wiring for sudowork integration
  src/nexus/cli/commands/chat.py
  src/nexus/services/agent_runtime/acp_handler.py
  src/nexus/services/agent_runtime/acp_transport.py
  src/nexus/services/agent_runtime/observer.py
  src/nexus/services/agent_runtime/tool_registry.py
  tests/unit/agent_runtime/test_acp_e2e.py
  tests/unit/agent_runtime/test_acp_protocol.py
Due: check-file-size, check-type-ignore

fix(test): make ACP E2E tests skip on late boot crash
  tests/unit/agent_runtime/test_acp_e2e.py
Due: check-type-ignore

fix(ci): ruff format chat.py _loop_factory signature
  src/nexus/cli/commands/chat.py
Due: check-file-size, check-type-ignore

fix(ci): resolve 3 mypy no-any-return errors
  src/nexus/cli/commands/chat.py
  src/nexus/services/agent_runtime/tool_registry.py
Due: check-file-size, check-type-ignore

refactor(nexus_fs): extract InternalMixin + ContentMixin + MetadataMixin from monolithic NexusFS
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_content.py
  src/nexus/core/nexus_fs_internal.py
  src/nexus/core/nexus_fs_metadata.py
Due: check-file-size, check-type-ignore

fix(mypy): add mixin attribute stubs + mypy overrides for extracted mixin files
  pyproject.toml
  src/nexus/core/nexus_fs_content.py
  src/nexus/core/nexus_fs_internal.py
  src/nexus/core/nexus_fs_metadata.py
Due: check-file-size, check-type-ignore

fix(e2e): back-to-back cluster stability — subset zone check + partition heal timeout
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix(ci): add user_scoped/has_token_manager to FakeOAuthBackend test fixture
  tests/unit/backends/test_protocol_conformance.py
Due: check-type-ignore

refactor(#1824): move user_scoped/has_token_manager to OAuthCapableProtocol
  src/nexus/backends/base/backend.py
  src/nexus/backends/base/registry.py
  src/nexus/backends/connectors/hn/connector.py
  src/nexus/backends/storage/delegating.py
  src/nexus/backends/storage/remote.py
  src/nexus/bricks/sandbox/isolation/backend.py
  src/nexus/core/protocols/connector.py
  src/nexus/server/api/core/health.py
  tests/benchmarks/bench_isolation.py
  tests/helpers/failing_backend.py
  tests/unit/backends/test_backend_contract.py
  tests/unit/backends/test_capabilities.py
  tests/unit/backends/test_connector_protocol_compliance.py
  tests/unit/backends/test_delegating_backend.py
  tests/unit/backends/test_remote_backend.py
  tests/unit/backends/test_streaming.py
  tests/unit/backends/wrapper_test_helpers.py
  tests/unit/core/test_nexus_fs_stream_range.py
Due: check-file-size, check-type-ignore

fix(ci): ruff format test_remote_backend.py after property deletion
  tests/unit/backends/test_remote_backend.py
Due: check-type-ignore

fix(rename): restore child-walking for implicit directory fallback
  src/nexus/core/nexus_fs_metadata.py
Due: check-file-size, check-type-ignore

refactor(cas): move bloom filter ownership to Rust CASEngine
  rust/kernel/src/cas_engine.rs
  src/nexus/core/nexus_fs_content.py
Due: check-file-size, check-type-ignore

fix(readdir): add is_admin param + zone filtering in Rust kernel
  rust/kernel/src/dcache.rs
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/shm_pipe.rs
  rust/kernel/src/shm_stream.rs
  src/nexus/core/nexus_fs_metadata.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

refactor(nexus_fs): eliminate DT_DIR duplication — delegate to Rust sys_rmdir
  src/nexus/core/nexus_fs_metadata.py
Due: check-file-size, check-type-ignore

refactor(nexus_fs): DRY batch permission checking via _batch_permission_check
  src/nexus/core/nexus_fs_content.py
  src/nexus/core/nexus_fs_internal.py
  src/nexus/core/nexus_fs_metadata.py
Due: check-file-size, check-type-ignore

fix(codegen): update readdir signature in codegen source + regenerate
  scripts/codegen_kernel_abi.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

refactor(nexus_fs): trust Rust sys_rename — delete child-walking + dual-write verification
  src/nexus/core/nexus_fs_metadata.py
Due: check-file-size, check-type-ignore

chore(release): bump version to 0.9.33
  Cargo.lock
  packages/nexus-api-client/package.json
  packages/nexus-tui/package.json
  pyproject.toml
  rust/kernel/Cargo.toml
  rust/kernel/pyproject.toml
  uv.lock
Due: none

feat(llm): Anthropic prompt caching + extended thinking support
  rust/kernel/src/anthropic_streaming.rs
  src/nexus/services/agent_runtime/managed_loop.py
Due: check-file-size, check-type-ignore

feat(password_vault): add POST /{title}/totp for server-side TOTP generation
  pyproject.toml
  src/nexus/bricks/secrets/service.py
  src/nexus/server/api/v2/routers/password_vault.py
  src/nexus/services/password_vault/service.py
  src/nexus/storage/models/secrets_audit_log.py
  tests/integration/test_password_vault_api.py
  tests/unit/services/test_password_vault_service.py
Due: check-file-size, check-type-ignore

feat(password_vault): add access_context query params for audit observability
  src/nexus/bricks/secrets/service.py
  src/nexus/contracts/secrets_access.py
  src/nexus/server/api/v2/routers/password_vault.py
  src/nexus/services/password_vault/service.py
  tests/integration/test_password_vault_api.py
  tests/unit/services/test_password_vault_service.py
Due: check-file-size, check-type-ignore

feat(rust): vendor protoc via protoc-bin-vendored — kill system-protoc SSOT duplication
  .github/actions/build-rust-extensions/action.yml
  .github/workflows/conda-pack.yml
  .github/workflows/lint.yml
  .github/workflows/pyinstaller-cluster.yml
  Cargo.lock
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
  rust/kernel/Cargo.toml
  rust/kernel/build.rs
  rust/raft/Cargo.toml
  rust/raft/build.rs
Due: none

refactor(#1817): eliminate Python glue — dead code, redundant IPC dispatch, VFS bypass
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/bricks/search/skeleton_pipe_consumer.py
  src/nexus/bricks/task_manager/dispatch_consumer.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_content.py
  src/nexus/core/nexus_fs_metadata.py
  src/nexus/services/lifecycle/workflow_dispatch_service.py
  src/nexus/storage/write_observer_hooks.py
  src/nexus/task_manager/dispatch_consumer.py
  tests/unit/server/test_rpc_parity.py
  tests/unit/services/test_workflow_dispatch.py
Due: check-file-size, check-type-ignore

refactor(nexus_fs): Phase 8 deferred rustification — ctx caching, readme fast-reject, batch stat dispatch
  rust/kernel/src/generated_pyo3.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/core/nexus_fs_internal.py
  src/nexus/core/service_registry.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

refactor(server): move OAuth key persistence to record_store, delete second-Kernel dance
  src/nexus/server/fastapi_server.py
Due: check-file-size, check-type-ignore

feat(oauth): fail-loud on missing key persistence; NEXUS_ALLOW_EPHEMERAL_OAUTH_KEY opt-in
  src/nexus/lib/oauth/crypto.py
  tests/e2e/self_contained/test_oauth_api_key_simple.py
  tests/e2e/self_contained/test_user_auth.py
  tests/e2e/server/test_oauth_provision_integration.py
  tests/unit/lib/oauth/__init__.py
  tests/unit/lib/oauth/test_crypto_fail_loud.py
Due: check-file-size, check-type-ignore

fix(daemon): forward --database-url to nexus.connect so record_store wires
  src/nexus/__init__.py
  src/nexus/config.py
  src/nexus/daemon/main.py
  tests/unit/test_config_database_url.py
Due: check-file-size, check-type-ignore

feat(storage): SQLAlchemySystemSettingsStore — record-store backed app settings
  src/nexus/storage/auth_stores/__init__.py
  src/nexus/storage/auth_stores/sqlalchemy_system_settings_store.py
  tests/unit/storage/test_auth_stores.py
Due: check-file-size, check-type-ignore

feat(migration): auto-migrate legacy OAuth key from redb metastore → SQL on first boot
  src/nexus/server/fastapi_server.py
  src/nexus/storage/auth_stores/legacy_oauth_key_migration.py
  tests/unit/storage/test_legacy_oauth_key_migration.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
