Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

feat(#3962): /api/v2/extensions HTTP endpoint
  src/nexus/server/api/core/extensions.py
  src/nexus/server/fastapi_server.py
  tests/extensions/test_api.py
Due: check-file-size, check-type-ignore

test(federation-e2e): require stable leader in _wait_zone_ready
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix(extensions): tighten entry-point + index trust boundary
  src/nexus/extensions/store.py
  tests/extensions/test_store.py
Due: check-file-size, check-type-ignore

test(fs): sync boundary EXCLUDED_MODULES with extensions._index slim exclude
  tests/unit/fs/test_boundary.py
Due: check-type-ignore

test(federation-e2e): widen CI timeouts for partition + fresh-join
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix(extensions): defend against entry-point spoofing + plumb metadata_incomplete
  src/nexus/cli/commands/extensions.py
  src/nexus/extensions/_index/extensions.json
  src/nexus/extensions/manifest.py
  src/nexus/extensions/store.py
  src/nexus/server/api/core/extensions.py
  tests/extensions/test_api.py
  tests/extensions/test_store.py
Due: check-file-size, check-type-ignore

test(federation-e2e): converge all zones before tests run
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix(extensions): per-service probe + flag partial manifests as unavailable
  src/nexus/extensions/store.py
  tests/extensions/test_store.py
Due: check-file-size, check-type-ignore

fix(extensions): tolerate corrupt index + enforce path<->kind contract
  src/nexus/extensions/_index/extensions.json
  src/nexus/extensions/index.py
  src/nexus/extensions/store.py
  tests/extensions/test_store.py
Due: check-file-size, check-type-ignore

test(federation-e2e): skip flaky suite, gate on opt-in env var
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

feat(#3793): scaffold archive brick + error hierarchy
  pyproject.toml
  src/nexus/bricks/archive/__init__.py
  src/nexus/bricks/archive/errors.py
  src/nexus/bricks/archive/tests/__init__.py
  src/nexus/bricks/archive/tests/unit/__init__.py
  src/nexus/bricks/archive/tests/unit/test_errors.py
Due: check-file-size, check-type-ignore

docs(#3793): rename CLI verb to 'nexus archive' to avoid snapshot collision
  docs/superpowers/specs/2026-05-01-zone-snapshot-design.md
Due: none

docs(#3793): reframe as portability brick extension
  docs/superpowers/specs/2026-05-01-zone-snapshot-design.md
Due: none

docs(#3793): zone snapshot + safe migration design
  docs/superpowers/specs/2026-05-01-zone-snapshot-design.md
Due: none

docs(#3793): implementation plan (24 tasks, TDD-structured)
  docs/superpowers/plans/2026-05-01-zone-archive.md
Due: none

feat(#3793): bump bundle format to v2 with archive_kind/embedding/placeholders
  src/nexus/bricks/portability/__init__.py
  src/nexus/bricks/portability/models.py
  src/nexus/bricks/portability/tests/__init__.py
  src/nexus/bricks/portability/tests/test_manifest_v2.py
Due: check-file-size, check-type-ignore

feat(#3793): credential stripper helper for export pipeline
  src/nexus/bricks/portability/export_service.py
  src/nexus/bricks/portability/tests/test_export_strip.py
Due: check-file-size, check-type-ignore

feat(#3793): restore placeholder guard with --inject substitution
  src/nexus/bricks/portability/import_service.py
  src/nexus/bricks/portability/models.py
  src/nexus/bricks/portability/tests/test_import_placeholder.py
Due: check-file-size, check-type-ignore

feat(#3793): ed25519 signer with auto-generated keypair
  .pre-commit-hooks/check_brick_imports.py
  src/nexus/bricks/portability/signer.py
  src/nexus/bricks/portability/tests/test_signer.py
Due: check-file-size, check-type-ignore

fix(#3793): scope archive/ gitignore to root, drop unneeded pythonpath
  .gitignore
  pyproject.toml
Due: none

feat(#3793): sign manifest at export time, write signatures.json
  src/nexus/bricks/portability/export_service.py
  src/nexus/bricks/portability/models.py
  src/nexus/bricks/portability/tests/test_export_signing.py
Due: check-file-size, check-type-ignore

feat(#3793): schema-aware credential stripper with placeholder refs
  src/nexus/bricks/portability/strip.py
  src/nexus/bricks/portability/tests/test_strip_schema.py
Due: check-file-size, check-type-ignore

feat(#3793): TOFU trust store for archive signers
  src/nexus/bricks/portability/tests/test_trust.py
  src/nexus/bricks/portability/trust.py
Due: check-file-size, check-type-ignore

feat(#3793): regex backstop stripper with default credential patterns
  src/nexus/bricks/portability/strip.py
  src/nexus/bricks/portability/tests/test_strip_regex.py
Due: check-file-size, check-type-ignore

docs(#3793): operator guide for nexus archive + CLI.md update
  CLI.md
  docs/operations/archives.md
Due: none

feat(#3793): cron-driven archive scheduler with retention sweep
  src/nexus/bricks/archive/scheduler.py
  src/nexus/bricks/archive/tests/unit/test_scheduler.py
Due: check-file-size, check-type-ignore

feat(#3793): S3 archive storage backend
  .pre-commit-hooks/check_brick_imports.py
  src/nexus/bricks/archive/storage/__init__.py
  src/nexus/bricks/archive/storage/s3.py
  src/nexus/bricks/archive/tests/unit/test_storage_s3.py
  src/nexus/bricks/portability/import_service.py
  src/nexus/bricks/portability/tests/test_import_target_guard.py
  src/nexus/cli/commands/__init__.py
  src/nexus/cli/commands/archive.py
  tests/unit/cli/test_archive_cli.py
Due: check-file-size, check-type-ignore

feat(#3793): bundle diff via CAS blob set difference
  src/nexus/bricks/portability/differ.py
  src/nexus/bricks/portability/tests/test_differ.py
Due: check-file-size, check-type-ignore

feat(#3793): embedding model/dim compatibility check on restore
  .pre-commit-hooks/check_brick_imports.py
  src/nexus/bricks/portability/import_service.py
  src/nexus/bricks/portability/tests/test_import_embedding.py
Due: check-file-size, check-type-ignore

feat(#3793): audit-window activity event slice writer
  src/nexus/bricks/archive/audit_export.py
  src/nexus/bricks/archive/retention.py
  src/nexus/bricks/archive/storage/__init__.py
  src/nexus/bricks/archive/storage/base.py
  src/nexus/bricks/archive/storage/local.py
  src/nexus/bricks/archive/tests/unit/test_audit_export.py
  src/nexus/bricks/archive/tests/unit/test_retention.py
  src/nexus/bricks/archive/tests/unit/test_storage_local.py
Due: check-file-size, check-type-ignore

feat(#3793): multi-zone archive orchestrator
  src/nexus/bricks/archive/orchestrator.py
  src/nexus/bricks/archive/tests/unit/test_orchestrator.py
Due: check-file-size, check-type-ignore

test(#3793): integration coverage for round-trip, tamper, planted secrets, audit window
  src/nexus/bricks/archive/audit_export.py
  src/nexus/bricks/portability/export_service.py
  src/nexus/bricks/portability/import_service.py
  tests/integration/archive/__init__.py
  tests/integration/archive/conftest.py
  tests/integration/archive/helpers.py
  tests/integration/archive/test_audit_window.py
  tests/integration/archive/test_planted_secrets.py
  tests/integration/archive/test_round_trip.py
  tests/integration/archive/test_tamper.py
Due: check-file-size, check-type-ignore

feat(#3793): archive verifier + CLI glue (orchestrator/import/restore wiring)
  .pre-commit-hooks/check_brick_imports.py
  src/nexus/bricks/archive/cli_glue.py
  src/nexus/bricks/archive/tests/unit/test_verify.py
  src/nexus/bricks/archive/verify.py
Due: check-file-size, check-type-ignore

feat(#3793): archive CLI delegates to federation_export/import_zone RPC
  src/nexus/bricks/archive/cli_glue.py
  src/nexus/cli/commands/archive.py
  src/nexus/server/_rpc_params_generated.py
  src/nexus/server/rpc/services/federation_rpc.py
Due: check-file-size, check-type-ignore

feat(#3793): GCS archive storage backend
  src/nexus/bricks/archive/storage/__init__.py
  src/nexus/bricks/archive/storage/gcs.py
  src/nexus/bricks/archive/tests/unit/test_storage_gcs.py
Due: check-file-size, check-type-ignore

test(#3793): federation re-pair messaging on restore
  src/nexus/bricks/archive/tests/unit/test_federation_repair.py
Due: check-file-size, check-type-ignore

fix(#3793): orchestrator uses real ZoneExportOptions + async cli_glue
  .pre-commit-hooks/check_brick_imports.py
  src/nexus/bricks/archive/cli_glue.py
  src/nexus/bricks/archive/orchestrator.py
Due: check-file-size, check-type-ignore

test(#3793): e2e docker-stack round-trip with deterministic search compare
  tests/e2e/test_archive_round_trip.py
Due: check-type-ignore
