Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix(#1868): fix 15 CI test failures from sync/cache cleanup
  tests/unit/backends/test_capabilities.py
  tests/unit/backends/test_get_file_info.py
  tests/unit/backends/test_local_connector.py
  tests/unit/server/test_protocol.py
  tests/unit/services/test_mount_service.py
Due: check-type-ignore

fix(#1868): delete E2E test_local_connector.py (tests deleted methods)
  tests/e2e/self_contained/test_local_connector.py
Due: check-type-ignore

fix(docker): make NEXUS_ADVERTISE_ADDR a default, not a forced value
  nexus-stack.yml
  src/nexus/cli/data/nexus-stack.yml
Due: none

fix(docker): clarify NEXUS_ADVERTISE_ADDR port is fixed at 2028 inside container
  src/nexus/cli/data/nexus-stack.yml
Due: none

chore: bump nexus-ai-fs 0.9.25→0.9.26
  Cargo.lock
  packages/nexus-api-client/package.json
  packages/nexus-tui/package.json
  pyproject.toml
  rust/nexus_kernel/Cargo.toml
  rust/nexus_kernel/pyproject.toml
Due: none

fix(docker): set NEXUS_ADVERTISE_ADDR=127.0.0.1:2028 in single-node stack configs
  nexus-stack.yml
  src/nexus/cli/data/nexus-stack.yml
Due: none

feat(#1868): complete Rust kernel syscall internalization (Phases 1-8)
  rust/nexus_kernel/src/backend.rs
  rust/nexus_kernel/src/generated_pyo3.rs
  rust/nexus_kernel/src/kernel.rs
  rust/nexus_kernel/src/metastore.rs
  rust/nexus_kernel/src/router.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/kernel_protocols.py
  src/nexus/core/nexus_fs.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

fix(#1868): revert Python wrapper to always-do-Python-path for mkdir/rename/rmdir/unlink
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

chore(#1868): add comment for PyO3-only metastore_delete_batch
  rust/nexus_kernel/src/kernel.rs
Due: none

feat(#1868): Phase 10 — OBSERVE dispatch in pure Rust Kernel
  rust/nexus_kernel/src/generated_pyo3.rs
  rust/nexus_kernel/src/kernel.rs
  scripts/codegen_kernel_abi.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

feat(#1868): Phase 11 — gRPC ObjectStore adapter (Direction 3)
  Cargo.lock
  proto/nexus/storage/object_store.proto
  rust/nexus_kernel/Cargo.toml
  rust/nexus_kernel/build.rs
  rust/nexus_kernel/src/generated_pyo3.rs
  rust/nexus_kernel/src/grpc_backend.rs
  rust/nexus_kernel/src/lib.rs
  scripts/codegen_kernel_abi.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

fix(#1868): sys_rename returns miss() instead of errors for metastore checks
  rust/nexus_kernel/src/kernel.rs
Due: none

feat(#1868): Phase 9 complete — delete PyMetastoreAdapter from codegen
  rust/nexus_kernel/src/generated_pyo3.rs
  rust/nexus_kernel/src/kernel.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/nexus_fs.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

feat(#1868): Phase 11 Python ConnectorGrpcServer + benchmark CI fix
  src/nexus/connectors/grpc/__init__.py
  src/nexus/connectors/grpc/nexus/__init__.py
  src/nexus/connectors/grpc/nexus/storage/__init__.py
  src/nexus/connectors/grpc/server.py
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor: delete ZonePathResolver (dead code, 0 callers/tests)
  src/nexus/factory/_wired.py
  src/nexus/raft/__init__.py
  src/nexus/raft/zone_path_resolver.py
Due: check-file-size, check-type-ignore

refactor: unify IPC primitive naming — StreamBuffer/RingBuffer → *Backend
  docs/architecture/KERNEL-ARCHITECTURE.md
  docs/architecture/federation-memo.md
  docs/architecture/llm-cas-kv-cache.md
  rust/nexus_kernel/test_pipe.py
  src/nexus/backends/compute/openai_compatible.py
  src/nexus/bricks/ipc/wakeup.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/pipe.py
  src/nexus/core/pipe_manager.py
  src/nexus/core/remote_pipe.py
  src/nexus/core/remote_stream.py
  src/nexus/core/shm_pipe.py
  src/nexus/core/shm_stream.py
  src/nexus/core/stdio_pipe.py
  src/nexus/core/stdio_stream.py
  src/nexus/core/stream.py
  src/nexus/core/stream_manager.py
  src/nexus/factory/_wired.py
  src/nexus/services/lifecycle/dedup_work_queue.py
  src/nexus/services/lifecycle/workflow_dispatch_service.py
  src/nexus/services/llm_streaming_service.py
  tests/integration/core/test_shm_crossprocess.py
  tests/unit/backends/test_message_chunking.py
  tests/unit/backends/test_openai_compat.py
  tests/unit/core/test_architectural_tier_placement.py
  tests/unit/core/test_pipe.py
  tests/unit/core/test_shm_pipe.py
  tests/unit/core/test_shm_stream.py
  tests/unit/core/test_stream.py
Due: check-file-size, check-type-ignore

feat: io_profile-based StreamBackend/PipeBackend selection in sys_setattr
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor: remove remote detection from StreamManager.open()
  src/nexus/core/nexus_fs.py
  src/nexus/core/stream_manager.py
Due: check-file-size, check-type-ignore

refactor: eliminate LLMStreamingService — backend owns streaming lifecycle
  src/nexus/backends/compute/openai_compatible.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_wired.py
  src/nexus/services/agent_runtime/managed_loop.py
  src/nexus/services/llm_streaming_service.py
  tests/unit/agent_runtime/test_managed_loop.py
  tests/unit/backends/test_openai_compat.py
  uv.lock
Due: check-file-size, check-type-ignore

feat(#1868): §10 A2 Python wiring — delete RevisionTrackingObserver + RevisionNotifier
  src/nexus/factory/orchestrator.py
  src/nexus/lib/revision_notifier.py
  src/nexus/services/gateway.py
  src/nexus/services/lifecycle/revision_tracking_observer.py
  tests/unit/core/test_minimal_boot_mode.py
  tests/unit/core/test_revision_notifier.py
  tests/unit/factory/test_retroactive_hook_specs.py
  tests/unit/services/test_revision_notifier.py
  tests/unit/services/test_revision_tracking_observer.py
Due: check-file-size, check-type-ignore

feat(#1868): §10 D3 — OpenAI compatible Rust connector + GIL-free inference
  Cargo.lock
  rust/nexus_kernel/Cargo.toml
  rust/nexus_kernel/src/generated_pyo3.rs
  rust/nexus_kernel/src/lib.rs
  rust/nexus_kernel/src/openai_backend.rs
  rust/nexus_kernel/src/openai_inference.rs
  scripts/codegen_kernel_abi.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

feat(#1868): §10 Workstreams A-C — kernel boundary elimination + primitives
  rust/nexus_kernel/src/agent_registry.rs
  rust/nexus_kernel/src/file_watch.rs
  rust/nexus_kernel/src/generated_pyo3.rs
  rust/nexus_kernel/src/kernel.rs
  rust/nexus_kernel/src/lib.rs
  rust/nexus_kernel/src/rebac.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/kernel_exports.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

feat(#1868): §10 D1/D2/D4/D5/D6/E1 — Rust native connectors + replication
  Cargo.lock
  rust/nexus_kernel/Cargo.toml
  rust/nexus_kernel/src/gcs_backend.rs
  rust/nexus_kernel/src/gdrive_backend.rs
  rust/nexus_kernel/src/generated_pyo3.rs
  rust/nexus_kernel/src/gmail_backend.rs
  rust/nexus_kernel/src/lib.rs
  rust/nexus_kernel/src/replication.rs
  rust/nexus_kernel/src/s3_backend.rs
  rust/nexus_kernel/src/slack_backend.rs
  scripts/codegen_kernel_abi.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

refactor: delete innovation profile, BRICK_STORAGE gate, KernelVFSAdapter + VFSOperations
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/__init__.py
  src/nexus/bricks/ipc/__init__.py
  src/nexus/bricks/ipc/delivery.py
  src/nexus/bricks/ipc/discovery.py
  src/nexus/bricks/ipc/kernel_adapter.py
  src/nexus/bricks/ipc/lifecycle.py
  src/nexus/bricks/ipc/protocols.py
  src/nexus/bricks/ipc/provisioning.py
  src/nexus/bricks/ipc/registry.py
  src/nexus/bricks/ipc/sweep.py
  src/nexus/bricks/ipc/wakeup.py
  src/nexus/config.py
  src/nexus/contracts/deployment_profile.py
  src/nexus/daemon/main.py
  src/nexus/factory/_bricks.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_system.py
  src/nexus/factory/_wired.py
  src/nexus/lib/device_capabilities.py
  src/nexus/lib/performance_tuning.py
  src/nexus/server/api/v2/routers/ipc.py
  src/nexus/server/app_state.py
  src/nexus/server/lifespan/ipc.py
  tests/unit/bricks/ipc/fakes.py
  tests/unit/bricks/ipc/test_factory_wiring.py
  tests/unit/core/test_deployment_profile.py
  tests/unit/core/test_minimal_boot_mode.py
  tests/unit/daemon/test_main.py
Due: check-file-size, check-type-ignore

fix: remove remaining BRICK_STORAGE references from tests + device_capabilities
  src/nexus/lib/device_capabilities.py
  tests/benchmarks/bench_factory_boot.py
  tests/e2e/self_contained/test_device_capabilities_e2e.py
  tests/e2e/self_contained/test_features_endpoint.py
  tests/unit/core/test_device_capabilities.py
Due: check-file-size, check-type-ignore

fix: migrate IPC REST router from old VFS API to NexusFS syscalls
  src/nexus/server/api/v2/routers/ipc.py
Due: check-file-size, check-type-ignore

refactor: merge IPC provisioning into AgentRegistry as internal step
  src/nexus/bricks/ipc/auto_provision.py
  src/nexus/core/agent_registry.py
  src/nexus/factory/_wired.py
  src/nexus/server/api/v2/routers/agent_registration.py
  src/nexus/services/agents/agent_registration.py
  tests/e2e/server/test_register_delegate_full_e2e.py
  tests/unit/services/test_agent_registration.py
Due: check-file-size, check-type-ignore

fix: update remaining tests for BRICK_STORAGE removal + ipc_nexus_fs rename
  tests/e2e/self_contained/test_ipc_retention_e2e.py
  tests/unit/bricks/ipc/fakes.py
  tests/unit/core/test_minimal_boot_mode.py
  tests/unit/server/routers/test_ipc_router.py
  tests/unit/test_factory.py
Due: check-type-ignore

docs: add Nexus Agent architecture plan — Claude Code full observation & implementation roadmap
  docs/architecture/nexus-agent-plan.md
Due: none

fix: StreamRemoteWatcher.wait_for_event respects timeout via asyncio.wait_for
  src/nexus/core/remote_watcher.py
Due: check-file-size, check-type-ignore

fix: move EventBusRemoteWatcher to services tier (architecture boundary)
  src/nexus/core/remote_watcher.py
  src/nexus/factory/orchestrator.py
  src/nexus/services/event_bus/remote_watcher.py
Due: check-file-size, check-type-ignore

fix: update watch E2E test — StreamRemoteWatcher captures mkdir events
  tests/e2e/self_contained/test_watch_api_e2e.py
Due: check-type-ignore

fix: event stream uses buffer-only registration (no metastore inode)
  src/nexus/core/remote_watcher.py
  tests/unit/core/test_embedded.py
  tests/unit/core/test_embedded_cas.py
Due: check-file-size, check-type-ignore

fix: update test counts for StreamEventObserver DT_STREAM inode
  src/nexus/core/remote_watcher.py
  tests/unit/core/test_embedded.py
  tests/unit/core/test_embedded_cas.py
  tests/unit/core/test_minimal_boot_mode.py
Due: check-file-size, check-type-ignore

feat: StreamRemoteWatcher + EventBusRemoteWatcher + cleanup
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/cli/commands/llm.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/remote_watcher.py
  src/nexus/factory/orchestrator.py
Due: check-file-size, check-type-ignore

feat: add SessionManager + VFS session paths for --continue/--resume/--fork
  src/nexus/contracts/vfs_paths.py
  src/nexus/services/agent_runtime/session_manager.py
Due: check-file-size, check-type-ignore

feat: add CASAnthropicBackend — native Anthropic SDK for Claude models
  src/nexus/backends/compute/anthropic_native.py
  src/nexus/factory/_wired.py
Due: check-file-size, check-type-ignore

feat: add LLM call retry with exponential backoff in ManagedAgentLoop
  src/nexus/services/agent_runtime/managed_loop.py
Due: check-file-size, check-type-ignore

feat: add ToolRegistry + 6 built-in tools for ManagedAgentLoop
  src/nexus/services/agent_runtime/managed_loop.py
  src/nexus/services/agent_runtime/tool_registry.py
  src/nexus/services/agent_runtime/tools/__init__.py
  src/nexus/services/agent_runtime/tools/bash.py
  src/nexus/services/agent_runtime/tools/edit_file.py
  src/nexus/services/agent_runtime/tools/glob_tool.py
  src/nexus/services/agent_runtime/tools/grep_tool.py
  src/nexus/services/agent_runtime/tools/read_file.py
  src/nexus/services/agent_runtime/tools/write_file.py
Due: check-file-size, check-type-ignore

feat: implement tool_call parsing in CASOpenAIBackend streaming + ManagedAgentLoop
  src/nexus/backends/compute/openai_compatible.py
  src/nexus/services/agent_runtime/managed_loop.py
  tests/unit/backends/test_openai_compat.py
Due: check-file-size, check-type-ignore
