Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(#3398): update existing tests for widened lease callback signature
  tests/unit/core/test_cache_coordinator.py
  tests/unit/core/test_invalidation_degradation.py
Due: check-type-ignore

perf(#3398): ReBAC permission leases for FUSE and multi-agent write paths
  src/nexus/bricks/rebac/cache/coordinator.py
  src/nexus/bricks/rebac/cache/permission_lease.py
  src/nexus/bricks/rebac/permission_hook.py
  src/nexus/factory/_wired.py
  src/nexus/factory/orchestrator.py
  src/nexus/lib/path_utils.py
  src/nexus/services/acp/service.py
  tests/unit/rebac/bench_permission_lease.py
  tests/unit/rebac/test_permission_lease.py
  tests/unit/rebac/test_permission_lease_integration.py
Due: check-file-size, check-type-ignore

fix(#3398): proper permission revocation E2E test with non-admin user
  tests/e2e/test_permission_lease_e2e.sh
Due: none

fix(#3398): service registry compat + E2E test against Docker stack
  src/nexus/factory/_wired.py
  src/nexus/factory/orchestrator.py
  tests/e2e/test_permission_lease_e2e.sh
Due: check-file-size, check-type-ignore

perf(#3398): ReBAC permission leases for FUSE and multi-agent write paths (#3464)
  src/nexus/bricks/rebac/cache/coordinator.py
  src/nexus/bricks/rebac/cache/permission_lease.py
  src/nexus/bricks/rebac/permission_hook.py
  src/nexus/factory/_wired.py
  src/nexus/factory/orchestrator.py
  src/nexus/lib/path_utils.py
  src/nexus/services/acp/service.py
  tests/e2e/test_permission_lease_e2e.sh
  tests/unit/core/test_cache_coordinator.py
  tests/unit/core/test_invalidation_degradation.py
  tests/unit/rebac/bench_permission_lease.py
  tests/unit/rebac/test_permission_lease.py
  tests/unit/rebac/test_permission_lease_integration.py
Due: check-file-size, check-type-ignore

refactor: factory uses sys_setattr for service registration (Phase D)
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_remote.py
  src/nexus/factory/_wired.py
  src/nexus/factory/orchestrator.py
  src/nexus/factory/service_routing.py
Due: check-file-size, check-type-ignore

fix: update test assertion for version_service syscall path
  tests/unit/remote/test_service_proxy.py
Due: check-type-ignore

fix: enlist_services accepts NexusFS or ServiceRegistry (backward compat)
  src/nexus/factory/service_routing.py
Due: check-file-size, check-type-ignore

fix: add AsyncMock for sys_setattr in test_service_proxy
  tests/unit/remote/test_service_proxy.py
Due: check-type-ignore

refactor: factory uses sys_setattr for service registration (Phase D) (#3461)
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_remote.py
  src/nexus/factory/_wired.py
  src/nexus/factory/orchestrator.py
  src/nexus/factory/service_routing.py
  tests/unit/remote/test_service_proxy.py
Due: check-file-size, check-type-ignore

fix(#3399): shutdown data-loss window and flush() hang on empty pipe
  src/nexus/core/nexus_fs.py
  src/nexus/storage/piped_record_store_write_observer.py
Due: check-file-size, check-type-ignore

fix: bind+start piped observer in orchestrator, increase pipe capacity
  src/nexus/factory/orchestrator.py
  src/nexus/storage/piped_record_store_write_observer.py
Due: check-file-size, check-type-ignore

fix(#3399): use sync observer in tests, fix E2E consistency failures
  tests/conftest.py
  tests/e2e/self_contained/test_dual_write_consistency.py
  tests/e2e/self_contained/test_list_pagination.py
Due: check-type-ignore

perf(#3399): make PipedRecordStoreWriteObserver the default for all profiles
  src/nexus/factory/_system.py
  src/nexus/storage/piped_record_store_write_observer.py
  tests/unit/storage/test_piped_write_observer_flush.py
Due: check-file-size, check-type-ignore

perf(#3399): make PipedRecordStoreWriteObserver the default for all profiles (#3465)
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_system.py
  src/nexus/factory/orchestrator.py
  src/nexus/storage/piped_record_store_write_observer.py
  tests/conftest.py
  tests/e2e/self_contained/test_dual_write_consistency.py
  tests/e2e/self_contained/test_list_pagination.py
  tests/unit/storage/test_piped_write_observer_flush.py
Due: check-file-size, check-type-ignore

fix(#3469): add batch methods to ZoneHandle, fix list/glob losing files after write
  _nexus_raft.pyi
  rust/nexus_raft/src/pyo3_bindings.rs
  src/nexus/storage/raft_metadata_store.py
  tests/unit/storage/test_zone_handle_batch_fallback.py
Due: check-file-size, check-type-ignore, rust-fmt-raft, rust-clippy-raft

fix(#3469): add batch methods to ZoneHandle, fix list/glob losing files after write (#3470)
  _nexus_raft.pyi
  rust/nexus_raft/src/pyo3_bindings.rs
  src/nexus/storage/raft_metadata_store.py
  tests/unit/storage/test_zone_handle_batch_fallback.py
Due: check-file-size, check-type-ignore, rust-fmt-raft, rust-clippy-raft

fix(cli): migrate remaining composite tags, dict colors, and harden lint script
  scripts/check_cli_theme.sh
  src/nexus/cli/commands/acp_cli.py
  src/nexus/cli/commands/admin.py
  src/nexus/cli/commands/agent.py
  src/nexus/cli/commands/auth_cli.py
  src/nexus/cli/commands/conflicts.py
  src/nexus/cli/commands/context.py
  src/nexus/cli/commands/delegation.py
  src/nexus/cli/commands/directory.py
  src/nexus/cli/commands/federation.py
  src/nexus/cli/commands/file_ops.py
  src/nexus/cli/commands/governance_cli.py
  src/nexus/cli/commands/graph_cli.py
  src/nexus/cli/commands/identity.py
  src/nexus/cli/commands/inspect.py
  src/nexus/cli/commands/ipc.py
  src/nexus/cli/commands/locks.py
  src/nexus/cli/commands/manifest_cli.py
  src/nexus/cli/commands/mcp.py
  src/nexus/cli/commands/migrate.py
  src/nexus/cli/commands/mounts.py
  src/nexus/cli/commands/network.py
  src/nexus/cli/commands/oauth.py
  src/nexus/cli/commands/operations.py
  src/nexus/cli/commands/pay.py
  src/nexus/cli/commands/plugins.py
  src/nexus/cli/commands/reindex.py
  src/nexus/cli/commands/rlm.py
  src/nexus/cli/commands/scheduler_cli.py
  src/nexus/cli/commands/search.py
  src/nexus/cli/commands/secrets_audit.py
  src/nexus/cli/commands/share.py
  src/nexus/cli/commands/upload.py
  src/nexus/cli/commands/workspace.py
  src/nexus/cli/commands/zone.py
  src/nexus/cli/dry_run.py
Due: check-file-size, check-type-ignore

feat(cli): migrate bare color tags in fs/, daemon/, plugins/ to semantic tokens
  src/nexus/daemon/main.py
  src/nexus/fs/_auth_cli.py
  src/nexus/fs/_doctor.py
  src/nexus/fs/_oauth_support.py
  src/nexus/plugins/base.py
  src/nexus/plugins/cli.py
  src/nexus/plugins/scaffold.py
Due: check-file-size, check-type-ignore

fix(cli): migrate variable-assigned raw colors, harden lint for assignment pattern
  scripts/check_cli_theme.sh
  src/nexus/cli/commands/admin.py
  src/nexus/cli/commands/auth_cli.py
  src/nexus/cli/commands/governance_cli.py
  src/nexus/cli/commands/snapshots.py
  src/nexus/cli/commands/workflows.py
Due: check-file-size, check-type-ignore

fix(cli): replace fallback raw colors in .get() calls, add pattern to lint
  scripts/check_cli_theme.sh
  src/nexus/cli/commands/mounts.py
Due: check-file-size, check-type-ignore

Fix deferred buffer retry handling and benchmark flake
  src/nexus/bricks/rebac/deferred_permission_buffer.py
Due: check-file-size, check-type-ignore

fix(cli): add nexus.table_header token for Rich Table header_style compatibility
  scripts/check_cli_theme.sh
  src/nexus/cli/commands/auth_cli.py
  src/nexus/cli/commands/connectors.py
  src/nexus/cli/commands/oauth.py
  src/nexus/cli/theme.py
  tests/unit/cli/test_theme.py
Due: check-file-size, check-type-ignore

fix(cli): revert nexus.fs theme imports to respect package boundary
  src/nexus/bricks/rebac/deferred_permission_buffer.py
  src/nexus/cli/commands/connectors.py
  src/nexus/cli/commands/mounts.py
  src/nexus/fs/_auth_cli.py
  src/nexus/fs/_doctor.py
  src/nexus/fs/_oauth_support.py
Due: check-file-size, check-type-ignore

release: align nexus-fast version with v0.9.15
  rust/nexus_pyo3/Cargo.toml
  rust/nexus_pyo3/pyproject.toml
Due: none

release: prep nexus-ai-fs v0.9.15
  .github/workflows/release.yml
  pyproject.toml
  src/nexus/__init__.py
  uv.lock
Due: check-file-size, check-type-ignore

release: prep nexus-ai-fs v0.9.15 (#3472)
  .github/workflows/release.yml
  pyproject.toml
  rust/nexus_pyo3/Cargo.toml
  rust/nexus_pyo3/pyproject.toml
  src/nexus/__init__.py
  uv.lock
Due: check-file-size, check-type-ignore

style: add module comment to trigger full CI matrix
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

docs: add §4.5 Interface Taxonomy + revise KERNEL-ARCHITECTURE.md
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

docs: add §4.5 Interface Taxonomy + revise KERNEL-ARCHITECTURE.md (#3471)
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor: GDrive connector → DriveTransport + PathGDriveBackend composition
  src/nexus/backends/__init__.py
  src/nexus/backends/connectors/gdrive/connector.py
  src/nexus/backends/connectors/gdrive/transport.py
  tests/integration/backends/connectors/gdrive/test_gdrive_schemas.py
Due: check-file-size, check-type-ignore

refactor(#1829): split _write_internal into _write_content + _dispatch_write_events
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor(#1829): split _write_internal into _write_content + _dispatch_write_events (#3475)
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor: LockManager → kernel owned (like FileWatcher)
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_wired.py
  src/nexus/server/fastapi_server.py
  src/nexus/services/lifecycle/events_service.py
  tests/unit/services/test_events_service.py
Due: check-file-size, check-type-ignore

fix: rename upgrade_lock_manager → _upgrade_lock_manager (kernel-internal)
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_lifecycle.py
Due: check-file-size, check-type-ignore

refactor: Slack + X + HN connectors → Transport + PathAddressingEngine composition
  scripts/test_slack_connector.py
  src/nexus/backends/__init__.py
  src/nexus/backends/connectors/hn/connector.py
  src/nexus/backends/connectors/hn/sync_provider.py
  src/nexus/backends/connectors/hn/transport.py
  src/nexus/backends/connectors/slack/connector.py
  src/nexus/backends/connectors/slack/transport.py
  src/nexus/backends/connectors/x/connector.py
  src/nexus/backends/connectors/x/transport.py
  tests/integration/backends/connectors/slack/test_slack_schemas.py
  tests/integration/backends/connectors/x/test_x_schemas.py
Due: check-file-size, check-type-ignore

refactor: CLI connector → CLITransport + PathCLIBackend composition
  src/nexus/backends/__init__.py
  src/nexus/backends/connectors/cli/__init__.py
  src/nexus/backends/connectors/cli/base.py
  src/nexus/backends/connectors/cli/display_path.py
  src/nexus/backends/connectors/cli/loader.py
  src/nexus/backends/connectors/cli/sync_provider.py
  src/nexus/backends/connectors/cli/transport.py
  src/nexus/backends/connectors/github/connector.py
  src/nexus/backends/connectors/gws/connector.py
  src/nexus/backends/connectors/gws/schemas.py
  tests/integration/backends/connectors/cli/test_cli_connector.py
  tests/integration/backends/connectors/cli/test_display_path.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
