Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

refactor: merge enlist_services + enlist_wired_services into one function
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/service_routing.py
Due: check-file-size, check-type-ignore

docs: update AgentRegistry to kernel-knows (constructed by consumers)
  docs/architecture/KERNEL-ARCHITECTURE.md
Due: none

fix: move _hooks_nonempty bitmap to KernelDispatch (Rust compat)
  src/nexus/core/kernel_dispatch.py
Due: check-file-size, check-type-ignore

perf: add hook empty-list short-circuit to KernelDispatch
  src/nexus/core/kernel_dispatch.py
Due: check-file-size, check-type-ignore

feat(#162): cross-zone event propagation — zone-aware FileWatcher routing
  src/nexus/core/file_watcher.py
  src/nexus/core/nexus_fs.py
  src/nexus/services/event_bus/redis.py
  tests/unit/core/test_file_watcher.py
Due: check-file-size, check-type-ignore

feat(#162): cross-zone event propagation — zone-aware FileWatcher routing (#3433)
  src/nexus/core/file_watcher.py
  src/nexus/core/nexus_fs.py
  src/nexus/services/event_bus/redis.py
  tests/unit/core/test_file_watcher.py
Due: check-file-size, check-type-ignore

fix: use persisted mounts.json instead of lossy URI inference
  src/nexus/fs/_cli.py
  src/nexus/fs/_uri.py
Due: check-file-size, check-type-ignore

fix: register copy_hooks in HookSpec + auto-infer URIs for nexus-fs cp
  src/nexus/bricks/rebac/permission_hook.py
  src/nexus/fs/_cli.py
  src/nexus/fs/_uri.py
  src/nexus/services/lifecycle/zone_writability_hook.py
  src/nexus/services/lifecycle/zone_write_guard_hook.py
Due: check-file-size, check-type-ignore

fix: address codex review — conformance shim, version metadata, fallback write
  src/nexus/core/nexus_fs.py
  src/nexus/fs/_fsspec.py
Due: check-file-size, check-type-ignore

feat(nexus-fs): native copy/move, streaming cross-backend, fsspec compliance (#3329)
  src/nexus/backends/base/blob_transport.py
  src/nexus/backends/base/path_addressing_engine.py
  src/nexus/backends/transports/gcs_transport.py
  src/nexus/backends/transports/local_transport.py
  src/nexus/backends/transports/s3_transport.py
  src/nexus/bricks/rebac/permission_hook.py
  src/nexus/cli/commands/file_ops.py
  src/nexus/contracts/constants.py
  src/nexus/contracts/filesystem/filesystem_abc.py
  src/nexus/contracts/protocols/service_hooks.py
  src/nexus/contracts/vfs_hooks.py
  src/nexus/core/driver_lifecycle_coordinator.py
  src/nexus/core/file_events.py
  src/nexus/core/kernel_dispatch.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/service_registry.py
  src/nexus/fs/_cli.py
  src/nexus/fs/_constants.py
  src/nexus/fs/_facade.py
  src/nexus/fs/_fsspec.py
  src/nexus/fs/_tui/__init__.py
  src/nexus/fs/_tui/direct_fs.py
  src/nexus/server/lifespan/search.py
  src/nexus/services/lifecycle/zone_writability_hook.py
  src/nexus/services/lifecycle/zone_write_guard_hook.py
  tests/unit/fs/test_fsspec.py
  tests/unit/fs/test_fsspec_conformance.py
Due: check-file-size, check-type-ignore

fix: add @rpc_expose to sys_copy for RPC parity check
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

fix: CI failures — mypy types, LLMBlobTransport protocol, hook count test
  src/nexus/backends/compute/llm_blob_transport.py
  src/nexus/fs/_fsspec.py
  src/nexus/fs/_tui/__init__.py
  tests/unit/factory/test_retroactive_hook_specs.py
Due: check-file-size, check-type-ignore

feat(nexus-fs): native copy/move, streaming cross-backend, fsspec compliance (#3412)
  src/nexus/backends/base/blob_transport.py
  src/nexus/backends/base/path_addressing_engine.py
  src/nexus/backends/compute/llm_blob_transport.py
  src/nexus/backends/transports/gcs_transport.py
  src/nexus/backends/transports/local_transport.py
  src/nexus/backends/transports/s3_transport.py
  src/nexus/bricks/rebac/permission_hook.py
  src/nexus/cli/commands/file_ops.py
  src/nexus/contracts/constants.py
  src/nexus/contracts/filesystem/filesystem_abc.py
  src/nexus/contracts/protocols/service_hooks.py
  src/nexus/contracts/vfs_hooks.py
  src/nexus/core/driver_lifecycle_coordinator.py
  src/nexus/core/file_events.py
  src/nexus/core/kernel_dispatch.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/service_registry.py
  src/nexus/fs/_cli.py
  src/nexus/fs/_constants.py
  src/nexus/fs/_facade.py
  src/nexus/fs/_fsspec.py
  src/nexus/fs/_tui/__init__.py
  src/nexus/fs/_tui/direct_fs.py
  src/nexus/server/lifespan/search.py
  src/nexus/services/lifecycle/zone_writability_hook.py
  src/nexus/services/lifecycle/zone_write_guard_hook.py
  tests/unit/factory/test_retroactive_hook_specs.py
  tests/unit/fs/test_fsspec.py
  tests/unit/fs/test_fsspec_conformance.py
Due: check-file-size, check-type-ignore

fix: non-blocking acquire must not destroy existing holders + expiry callbacks
  src/nexus/lib/lease.py
  tests/unit/lib/test_lease.py
Due: check-file-size, check-type-ignore

feat: add common LeaseManager utility for DFUSE-inspired optimizations (#3407)
  src/nexus/contracts/protocols/__init__.py
  src/nexus/contracts/protocols/lease.py
  src/nexus/lib/lease.py
  src/nexus/services/lifecycle/__init__.py
  src/nexus/services/lifecycle/lease_service.py
  tests/unit/lib/test_lease.py
  tests/unit/lib/test_lease_concurrency.py
  tests/unit/lib/test_lease_stateful.py
Due: check-file-size, check-type-ignore

feat: common LeaseManager utility for DFUSE-inspired optimizations (#3422)
  src/nexus/contracts/protocols/__init__.py
  src/nexus/contracts/protocols/lease.py
  src/nexus/lib/lease.py
  src/nexus/services/lifecycle/__init__.py
  src/nexus/services/lifecycle/lease_service.py
  tests/unit/lib/test_lease.py
  tests/unit/lib/test_lease_concurrency.py
  tests/unit/lib/test_lease_stateful.py
Due: check-file-size, check-type-ignore

refactor: consolidate federation E2E into single file, gRPC-only
  dockerfiles/docker-compose.cross-platform-test.yml
  dockerfiles/docker-compose.dynamic-federation-test.yml
  tests/e2e/docker/test_federation_dynamic_e2e.py
  tests/e2e/docker/test_federation_e2e.py
  tests/e2e/docker/test_raft_cluster_smoke.py
Due: check-type-ignore

fix: guard nexus_fast imports and skip tests requiring Rust extensions
  src/nexus/core/pipe.py
  src/nexus/core/stream.py
  tests/unit/conftest.py
  tests/unit/core/test_write_observer_calls.py
  tests/unit/core/test_zone_boundary_security.py
  tests/unit/factory/test_wired_services.py
  tests/unit/services/test_agent_service.py
  tests/unit/storage/test_operation_log.py
  tests/unit/storage/test_time_travel.py
  tests/unit/storage/test_version_gc.py
Due: check-file-size, check-type-ignore

refactor: consolidate federation E2E into single file, gRPC-only (#3435)
  dockerfiles/docker-compose.cross-platform-test.yml
  dockerfiles/docker-compose.dynamic-federation-test.yml
  tests/e2e/docker/test_federation_dynamic_e2e.py
  tests/e2e/docker/test_federation_e2e.py
  tests/e2e/docker/test_raft_cluster_smoke.py
Due: check-type-ignore

perf(storage): CAS volume packing — pack blobs into append-only volume files
  Cargo.lock
  rust/nexus_pyo3/Cargo.toml
  rust/nexus_pyo3/src/lib.rs
  rust/nexus_pyo3/src/volume_engine.rs
  src/nexus/backends/engines/cas_gc.py
  src/nexus/backends/storage/cas_local.py
  src/nexus/backends/transports/local_transport.py
  src/nexus/backends/transports/volume_local_transport.py
  tests/benchmarks/bench_cas_volume_overhead.py
  tests/unit/backends/test_transport_conformance.py
  tests/unit/backends/test_volume_crash_recovery.py
  tests/unit/backends/test_volume_gc_compaction.py
  tests/unit/backends/test_volume_integration.py
Due: check-file-size, check-type-ignore

fix: default use_volume_packing=False, mypy casts, test hash lengths
  src/nexus/backends/storage/cas_local.py
  src/nexus/backends/transports/volume_local_transport.py
  tests/unit/backends/test_transport_conformance.py
  tests/unit/backends/test_volume_integration.py
Due: check-file-size, check-type-ignore

fix(volume_engine): prevent deleted blobs from resurrecting on restart
  rust/nexus_pyo3/src/volume_engine.rs
  tests/unit/backends/test_volume_crash_recovery.py
Due: check-type-ignore

fix: 64-char test hashes + redb lock release in bloom test
  tests/unit/backends/test_transport_conformance.py
  tests/unit/backends/test_volume_integration.py
Due: check-type-ignore

fix(volume_engine): read-after-write without seal + safe compaction
  rust/nexus_pyo3/src/volume_engine.rs
  tests/unit/backends/test_volume_integration.py
Due: check-type-ignore

perf(volume_engine): batched index writes + correct sparsity calculation
  rust/nexus_pyo3/src/volume_engine.rs
  tests/unit/backends/test_volume_crash_recovery.py
  tests/unit/backends/test_volume_gc_compaction.py
Due: check-type-ignore

perf(storage): CAS volume packing — append-only volume files (#3423)
  Cargo.lock
  rust/nexus_pyo3/Cargo.toml
  rust/nexus_pyo3/src/lib.rs
  rust/nexus_pyo3/src/volume_engine.rs
  src/nexus/backends/engines/cas_gc.py
  src/nexus/backends/storage/cas_local.py
  src/nexus/backends/transports/local_transport.py
  src/nexus/backends/transports/volume_local_transport.py
  tests/benchmarks/bench_cas_volume_overhead.py
  tests/unit/backends/test_transport_conformance.py
  tests/unit/backends/test_volume_crash_recovery.py
  tests/unit/backends/test_volume_gc_compaction.py
  tests/unit/backends/test_volume_integration.py
Due: check-file-size, check-type-ignore

Make deferred buffer shutdown flush resilient
  src/nexus/bricks/rebac/deferred_permission_buffer.py
Due: check-file-size, check-type-ignore

Fix nexus-fs docs Pages publishing
  .github/workflows/docs-nexus-fs.yml
  .github/workflows/docs.yml
  packages/nexus-fs/mkdocs.yml
  packages/nexus-fs/pyproject.toml
  scripts/build_docs_site.py
Due: check-file-size, check-type-ignore

Retry deferred permission flush on unexpected errors
  src/nexus/bricks/rebac/deferred_permission_buffer.py
Due: check-file-size, check-type-ignore

Fix deferred buffer retry handling and benchmark flake
  src/nexus/bricks/rebac/deferred_permission_buffer.py
  tests/unit/services/test_namespace_fork_benchmark.py
Due: check-file-size, check-type-ignore

Fix nexus-fs docs Pages publishing (#3434)
  .github/workflows/docs-nexus-fs.yml
  .github/workflows/docs.yml
  packages/nexus-fs/mkdocs.yml
  packages/nexus-fs/pyproject.toml
  scripts/build_docs_site.py
  src/nexus/bricks/rebac/deferred_permission_buffer.py
  tests/unit/services/test_namespace_fork_benchmark.py
Due: check-file-size, check-type-ignore

docs: deploy Pages from develop
  .github/workflows/docs.yml
Due: none

docs: deploy Pages from develop (#3440)
  .github/workflows/docs.yml
Due: none

fix(nexus-fs): complete remaining #3328 gaps — state contract, claim audit, docs
  packages/nexus-fs/README.md
  packages/nexus-fs/docs/cli/playground.md
  packages/nexus-fs/docs/concepts/mounting.md
  src/nexus/fs/__init__.py
  src/nexus/fs/_sqlite_meta.py
Due: check-file-size, check-type-ignore

fix(nexus-fs): enforce doctor smoke test, fix close() ordering
  .github/workflows/test.yml
  src/nexus/fs/_facade.py
Due: check-file-size, check-type-ignore

fix(nexus-fs): release integrity hardening — cleanup, lifecycle, tests (#3328)
  .github/workflows/test.yml
  src/nexus/fs/__init__.py
  src/nexus/fs/_backend_factory.py
  src/nexus/fs/_credentials.py
  src/nexus/fs/_facade.py
  src/nexus/fs/_fsspec.py
  src/nexus/fs/_paths.py
  src/nexus/fs/_sync.py
  src/nexus/fs/_uri.py
  tests/unit/fs/test_release_integrity.py
  tests/unit/fs/test_uri.py
Due: check-file-size, check-type-ignore

fix(nexus-fs): release integrity hardening — cleanup, lifecycle, tests (#3438)
  .github/workflows/test.yml
  packages/nexus-fs/README.md
  packages/nexus-fs/docs/cli/playground.md
  packages/nexus-fs/docs/concepts/mounting.md
  src/nexus/fs/__init__.py
  src/nexus/fs/_backend_factory.py
  src/nexus/fs/_credentials.py
  src/nexus/fs/_facade.py
  src/nexus/fs/_fsspec.py
  src/nexus/fs/_paths.py
  src/nexus/fs/_sqlite_meta.py
  src/nexus/fs/_sync.py
  src/nexus/fs/_uri.py
  tests/unit/fs/test_release_integrity.py
  tests/unit/fs/test_uri.py
Due: check-file-size, check-type-ignore

perf(storage): in-memory volume index — O(1) content lookup via Rust HashMap (#3404)
  rust/nexus_pyo3/src/lib.rs
  rust/nexus_pyo3/src/volume_engine.rs
  rust/nexus_pyo3/src/volume_index.rs
  src/nexus/backends/transports/volume_local_transport.py
  tests/benchmarks/bench_mem_index.py
  tests/unit/backends/test_volume_mem_index.py
Due: check-file-size, check-type-ignore

fix: revert XOR-fold keys to full 32-byte hashes, tighten benchmark
  rust/nexus_pyo3/src/volume_index.rs
  tests/benchmarks/bench_mem_index.py
Due: check-type-ignore

perf: XOR-fold hash keys to 16 bytes for <40B per entry memory target
  rust/nexus_pyo3/src/volume_index.rs
Due: none
