Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(#3790): approvals — gate diag dump on explicit NEXUS_APPROVALS_DIAG_TOKEN
  src/nexus/bricks/approvals/http_diag.py
  src/nexus/server/lifespan/approvals.py
  tests/integration/approvals/test_http_diag.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — dialect-conditional JSONB so SQLite tests can compile schema
  src/nexus/bricks/approvals/db_models.py
Due: check-file-size, check-type-ignore

fix(#3790): rebac — register approvals namespace + align subject/zone resolution
  src/nexus/bricks/rebac/default_namespaces.py
  src/nexus/bricks/rebac/manager.py
Due: check-file-size, check-type-ignore

test(#3790): e2e — follow-ups A/B/C against nexus up --build
  tests/e2e/self_contained/approvals/test_followup_e2e.py
Due: check-type-ignore

test(#3790): e2e — hub zone access approve unblocks request
  tests/e2e/self_contained/approvals/test_hub_zone_access_e2e.py
Due: check-type-ignore

test(#3790): e2e — drive /api/v2/rebac/tuples in Test B follow-up
  tests/e2e/self_contained/approvals/test_followup_e2e.py
Due: check-type-ignore

fix(#3790): e2e — running_nexus seeds NEXUS_API_KEY and skips zoekt; Test B drives full ReBAC happy-path
  tests/e2e/self_contained/approvals/test_followup_e2e.py
  tests/e2e/self_contained/conftest.py
Due: check-type-ignore

test(#3790): e2e — Watch stream cross-channel + diag dump
  tests/e2e/self_contained/approvals/test_watch_and_dump_e2e.py
Due: check-type-ignore

test(#3790): e2e — full MCP mount gate round-trip via real /api/v2/mcp/mounts
  tests/e2e/self_contained/approvals/test_followup_e2e.py
Due: check-type-ignore

fix(#3790): approvals — fix late-insert orphan race via session_allow + recent-decision inherit
  src/nexus/bricks/approvals/models.py
  src/nexus/bricks/approvals/repository.py
  src/nexus/bricks/approvals/service.py
  tests/unit/bricks/approvals/test_models.py
Due: check-file-size, check-type-ignore

test(#3790): e2e — MCP unlisted egress approve unblocks gRPC Submit
  tests/e2e/self_contained/approvals/__init__.py
  tests/e2e/self_contained/approvals/test_mcp_egress_e2e.py
  tests/e2e/self_contained/conftest.py
Due: check-type-ignore

feat(#3790): approvals — ReBAC-backed CapabilityAuth with admin-token fallback
  src/nexus/bricks/approvals/grpc_auth.py
  src/nexus/server/lifespan/approvals.py
  tests/unit/bricks/approvals/test_grpc_auth_rebac.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — decide() resolves futures before best-effort session/notify
  src/nexus/bricks/approvals/events.py
  src/nexus/bricks/approvals/service.py
  tests/integration/approvals/test_decide_resilience.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — bind Submit session_id to authenticated token_id (cache-poison)
  proto/nexus/grpc/approvals/approvals.proto
  src/nexus/bricks/approvals/grpc_server.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — _has_real_session_id helper (empty str guard)
  src/nexus/bricks/approvals/policy_gate.py
  src/nexus/bricks/approvals/service.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — dialect-conditional JSONB in migration (SQLite compat)
  alembic/versions/add_approval_decision_queue.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — round-4 F1 reject decide on expired pending rows
  src/nexus/bricks/approvals/repository.py
  src/nexus/bricks/approvals/service.py
  tests/integration/approvals/test_repository.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — round-5 F1 NOTIFY verify-from-DB + F2 no session=None grant
  proto/nexus/grpc/approvals/approvals.proto
  src/nexus/bricks/approvals/grpc_server.py
  src/nexus/bricks/approvals/service.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — round-4 F3 watchdog SESSION fan-out on missed NOTIFY
  src/nexus/bricks/approvals/service.py
  tests/integration/approvals/test_reconcile_watchdog.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — round-6 expiry/semantics + dep alignment
  requirements-minimal.txt
  requirements-remote.txt
  src/nexus/bricks/approvals/service.py
  tests/integration/approvals/test_grpc_server.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — round-4 F2 authenticate before row lookup in Get/Decide/Cancel
  src/nexus/bricks/approvals/grpc_auth.py
  src/nexus/bricks/approvals/grpc_server.py
  tests/integration/approvals/test_grpc_server.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — round-3 codex findings F2+F3+F4 + tests
  src/nexus/bricks/approvals/config.py
  src/nexus/bricks/approvals/policy_gate.py
  src/nexus/bricks/approvals/service.py
  src/nexus/bricks/mcp/connection_manager.py
  src/nexus/bricks/mcp/mcp_service.py
  src/nexus/bricks/mcp/mount.py
  src/nexus/server/auth/zone_routes.py
  src/nexus/server/lifespan/approvals.py
  tests/integration/approvals/test_grpc_server.py
  tests/integration/approvals/test_hub_zone_access_hook.py
  tests/integration/approvals/test_reconcile_watchdog.py
  tests/unit/bricks/mcp/test_mount_gate_zone.py
  tests/unit/bricks/mcp/test_policy_gate_threading.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — round-4 F1 reject decide on expired pending rows
  src/nexus/bricks/approvals/service.py
  tests/integration/approvals/test_service_request_and_wait.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals round-5 conflict-race + EXPIRED fan-out
  src/nexus/bricks/approvals/repository.py
  src/nexus/bricks/approvals/service.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — every worker writes session_allow on decided NOTIFY (cross-worker)
  src/nexus/bricks/approvals/service.py
  tests/integration/approvals/test_xworker_session_fanout.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — per-zone ReBAC capability checks (gRPC RPCs)
  src/nexus/bricks/approvals/grpc_auth.py
  src/nexus/bricks/approvals/grpc_server.py
  src/nexus/bricks/approvals/grpc_server_lifespan.py
  src/nexus/bricks/rebac/default_namespaces.py
  src/nexus/bricks/rebac/manager.py
  tests/e2e/self_contained/approvals/test_followup_e2e.py
  tests/integration/approvals/test_grpc_lifecycle.py
  tests/integration/approvals/test_grpc_server.py
  tests/unit/bricks/approvals/test_grpc_auth.py
  tests/unit/bricks/approvals/test_grpc_auth_rebac.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — round-6 SESSION inherit requires real session_id
  src/nexus/bricks/approvals/service.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals — round-5 race-fixes F1/F2/F3 correctness
  src/nexus/bricks/approvals/repository.py
  src/nexus/bricks/approvals/service.py
  src/nexus/bricks/approvals/sweeper.py
Due: check-file-size, check-type-ignore

fix(#3790): alembic — rebuild zone_id indexes after dropping tenant_id on SQLite
  alembic/versions/rename_rebac_group_closure_tenant_to_zone.py
Due: check-file-size, check-type-ignore

fix(#3790): alembic — merge approval queue + edge-schema repair heads
  alembic/versions/merge_approval_queue_and_edge_schema.py
Due: check-file-size, check-type-ignore

fix(#3790): approvals e2e — 600s timeout for docker-stack tests
  tests/e2e/self_contained/approvals/test_followup_e2e.py
  tests/e2e/self_contained/approvals/test_hub_zone_access_e2e.py
  tests/e2e/self_contained/approvals/test_mcp_egress_e2e.py
  tests/e2e/self_contained/approvals/test_watch_and_dump_e2e.py
Due: check-type-ignore

fix(#3790): approvals — round-13 SQLite partial index + E2E diag token
  alembic/versions/add_approval_decision_queue.py
  src/nexus/bricks/approvals/db_models.py
  tests/e2e/self_contained/approvals/test_watch_and_dump_e2e.py
  tests/e2e/self_contained/conftest.py
Due: check-file-size, check-type-ignore

fix(#3790): alembic — handle zone_id already present in rename migration
  alembic/versions/rename_rebac_group_closure_tenant_to_zone.py
Due: check-file-size, check-type-ignore

Stabilize Docker publish search smoke test
  scripts/test_build_perf_e2e.py
Due: check-file-size, check-type-ignore

fix(#3944): narrow bricks/auth carve-out to connector-needed sub-paths
  packages/nexus-fs/pyproject.toml
Due: none

docs(fs): drop stale no-Rust framing from _sqlite_meta module docstring
  src/nexus/fs/_sqlite_meta.py
Due: check-file-size, check-type-ignore

docs(plans): nexus-fs slim Rust-kernel + bricks carve-out implementation plan
  docs/superpowers/plans/2026-04-29-issues-3942-3943-3944-slim-fs-rust-contract.md
Due: none

test(#3942,#3943): slim install CRUD smoke + connector import tests
  tests/integration/slim/test_slim_install_smoke.py
Due: check-type-ignore

fix(#3942,#3944): nexus-runtime dep + bricks carve-out in nexus-fs slim wheel
  packages/nexus-fs/pyproject.toml
Due: none

docs(specs): switch #3944 fix to bricks carve-out (3944b)
  docs/superpowers/specs/2026-04-29-issues-3942-3943-3944-slim-fs-rust-contract-design.md
Due: none

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
