Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(#993): delete dead core/operation_types.py shim
  src/nexus/core/operation_types.py
  src/nexus/services/event_log/delivery_worker.py
Due: check-file-size, check-type-ignore

fix(#994): delete dead core/virtual_views.py shim
  src/nexus/core/virtual_views.py
  src/nexus/services/permissions/checker.py
Due: check-file-size, check-type-ignore

docs(#907): ADR for deleting ScopedHookEngine
  docs/rfcs/adr-delete-hook-engine.md
Due: none

docs(#907): move ADR from rfcs/ to new docs/adr/ directory
  docs/adr/adr-delete-hook-engine.md
Due: none

random update 6150
  random_6150.txt
Due: none

fix(#996): delete 6 dead services/ files — canonical copies in bricks/ (4,323 lines)
  src/nexus/services/llm_citation.py
  src/nexus/services/llm_document_reader.py
  src/nexus/services/llm_service.py
  src/nexus/services/mcp_service.py
  src/nexus/services/rebac_service.py
  src/nexus/services/rebac_share_mixin.py
  tests/unit/llm/test_citation.py
Due: check-file-size, check-type-ignore

fix(#344): delete dead core/filesystem.py monolithic ABC (1115 lines)
  src/nexus/core/filesystem.py
  src/nexus/mcp/server.py
Due: check-file-size, check-type-ignore

fix(#997): delete 11 dead services/ files — zero imports (6,353 lines)
  src/nexus/services/context_branch.py
  src/nexus/services/events_service.py
  src/nexus/services/mount_persist_service.py
  src/nexus/services/overlay_resolver.py
  src/nexus/services/search_grep_mixin.py
  src/nexus/services/search_listing_mixin.py
  src/nexus/services/sessions.py
  src/nexus/services/share_link_service.py
  src/nexus/services/sync_job_service.py
  src/nexus/services/utils.py
  src/nexus/services/write_back_service.py
Due: check-file-size, check-type-ignore

fix(#889): replace 5 bricks MemoryViewRouter imports with injected kernel_services.memory_router
  src/nexus/core/nexus_fs_core.py
Due: check-file-size, check-type-ignore

feat(#809,#810): replace WriteBuffer with DT_PIPE kernel IPC for write observer and Zoekt
  src/nexus/contracts/types.py
  src/nexus/contracts/write_observer.py
  src/nexus/core/config.py
  src/nexus/factory/_background.py
  src/nexus/factory/_bricks.py
  src/nexus/factory/_system.py
  src/nexus/factory/orchestrator.py
  src/nexus/search/zoekt_pipe_consumer.py
  src/nexus/server/fastapi_server.py
  src/nexus/server/lifespan/__init__.py
  src/nexus/server/lifespan/observability.py
  src/nexus/server/lifespan/services.py
  src/nexus/server/lifespan/services_container.py
  src/nexus/server/observability/components.py
  src/nexus/server/wb_metrics_collector.py
  src/nexus/storage/piped_record_store_write_observer.py
  src/nexus/storage/record_store_write_observer.py
  src/nexus/storage/write_buffer.py
  tests/benchmarks/bench_write_buffer_pg.py
  tests/benchmarks/e2e_write_buffer_pg.py
  tests/benchmarks/e2e_write_buffer_pg_compare.py
  tests/e2e/self_contained/test_wb_metrics_integration.py
  tests/unit/server/test_observability_registry.py
  tests/unit/storage/test_io_profile_cache_integration.py
  tests/unit/storage/test_write_buffer.py
  tests/unit/test_factory.py
Due: check-file-size, check-type-ignore

fix: skip write-back for reference-mode backends (LocalConnector)
  src/nexus/system_services/sync/write_back_service.py
  tests/e2e/self_contained/test_write_back_integration.py
Due: check-file-size, check-type-ignore

fix(#809,#810): add pipe_manager and zoekt_pipe_consumer to factory test expected_keys
  tests/unit/test_factory.py
Due: check-type-ignore

fix(#889): use _brick_services.memory_router instead of _kernel_services
  src/nexus/core/nexus_fs_core.py
Due: check-file-size, check-type-ignore

bench(#995): add 1000-file write observer hot-path benchmark
  tests/benchmarks/bench_write_observer.py
Due: check-type-ignore

fix(#998): delete 7 dead services/ files + filesystem/ shim (4,993 lines)
  src/nexus/services/brick_lifecycle.py
  src/nexus/services/chunked_upload_service.py
  src/nexus/services/filesystem/__init__.py
  src/nexus/services/search_service.py
  src/nexus/services/version_service.py
  src/nexus/services/workspace_manager.py
  src/nexus/services/workspace_permissions.py
Due: check-file-size, check-type-ignore

fix(#999): delete dead nexus/connectors/ package — canonical at backends/connectors/ (2,135 lines)
  src/nexus/connectors/__init__.py
  src/nexus/connectors/base.py
  src/nexus/connectors/base_errors.py
  src/nexus/connectors/calendar/SKILL.md
  src/nexus/connectors/calendar/__init__.py
  src/nexus/connectors/calendar/errors.py
  src/nexus/connectors/calendar/schemas.py
  src/nexus/connectors/error_formatter.py
  src/nexus/connectors/gmail/SKILL.md
  src/nexus/connectors/gmail/__init__.py
  src/nexus/connectors/gmail/errors.py
  src/nexus/connectors/gmail/schemas.py
  src/nexus/connectors/hn/SKILL.md
  src/nexus/connectors/hn/__init__.py
  src/nexus/connectors/mount_hooks.py
  src/nexus/connectors/schema_generator.py
Due: check-file-size, check-type-ignore

feat(#1010): extract tiger cache from kernel to bricks via VFSWriteHook
  src/nexus/bricks/rebac/cache/tiger/write_hook.py
  src/nexus/core/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/factory/_system.py
  src/nexus/factory/orchestrator.py
Due: check-file-size, check-type-ignore

fix(#998): add pipe_manager and zoekt_pipe_consumer to test expected_keys
  tests/unit/core/test_factory_boot.py
  tests/unit/core/test_kernel_config.py
Due: check-type-ignore

test(#1010): remove tiger_cache_manager from test expected keys
  tests/unit/core/test_factory_boot.py
  tests/unit/core/test_kernel_config.py
  tests/unit/server/test_rpc_parity.py
  tests/unit/test_factory.py
Due: check-type-ignore

fix(#999): add pipe_manager and zoekt_pipe_consumer to test expected_keys
  tests/unit/core/test_factory_boot.py
  tests/unit/core/test_kernel_config.py
Due: check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
