Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix(#3707): harden BM25S index against zone leak and corrupt snapshots
  src/nexus/bricks/search/bm25s_search.py
  src/nexus/bricks/search/daemon.py
Due: check-file-size, check-type-ignore

bench(#3707): add BM25S mutation cost benchmark
  benchmarks/bm25s_mutation.py
  src/nexus/bricks/search/bm25s_search.py
Due: check-file-size, check-type-ignore

fix(#3707): gate top-level Zoekt shortcut in search() on zone safety
  src/nexus/bricks/search/daemon.py
Due: check-file-size, check-type-ignore

fix(#3707): fix 4 correctness issues in restored bm25s_search.py
  src/nexus/bricks/search/bm25s_search.py
Due: check-file-size, check-type-ignore

fix(ci): drop --skip-semantic from demo init — E2E tests need search indexing
  .github/workflows/docker-publish.yml
Due: none

fix(agent): §4A Anthropic driver + stream_read adapter + CI resilience
  src/nexus/backends/compute/anthropic_native.py
  src/nexus/cli/commands/chat.py
  tests/unit/agent_runtime/test_acp_e2e.py
Due: check-file-size, check-type-ignore

fix(agent): §4A ACP E2E — stdout isolation + create-on-write + subprocess tests
  src/nexus/cli/commands/chat.py
  src/nexus/services/agent_runtime/acp_transport.py
  tests/unit/agent_runtime/test_acp_e2e.py
Due: check-file-size, check-type-ignore

fix(agent): use kernel.stream_read_at_blocking directly (fix offset bug)
  src/nexus/cli/commands/chat.py
Due: check-file-size, check-type-ignore

refactor(agent): convert agent_runtime SysReadFn/SysWriteFn to sync
  src/nexus/cli/commands/chat.py
  src/nexus/services/agent_runtime/compaction.py
  src/nexus/services/agent_runtime/managed_loop.py
  src/nexus/services/agent_runtime/system_prompt.py
  tests/unit/agent_runtime/test_compaction.py
  tests/unit/agent_runtime/test_managed_loop.py
  tests/unit/agent_runtime/test_system_prompt.py
  uv.lock
Due: check-file-size, check-type-ignore

feat(agent): §4A Sudowork ACP integration — transport + handler + --acp flag
  docs/architecture/nexus-agent-plan.md
  src/nexus/cli/commands/chat.py
  src/nexus/services/agent_runtime/acp_handler.py
  src/nexus/services/agent_runtime/acp_transport.py
  src/nexus/services/agent_runtime/observer.py
Due: check-file-size, check-type-ignore

test(agent): §4A ACP protocol smoke tests — initialize + session + prompt
  tests/unit/agent_runtime/test_acp_protocol.py
Due: check-type-ignore

feat(kernel): expose stream_read_at_blocking via PyO3 codegen
  rust/kernel/src/generated_pyo3.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/cli/commands/chat.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

feat(agent): §4A.4 tool call lifecycle — emit complete/failed status for ACP UI
  src/nexus/services/agent_runtime/managed_loop.py
Due: check-file-size, check-type-ignore

docs(agent): §4A Sudowork ACP integration plan + update scope §2/§3 DONE
  docs/architecture/nexus-agent-plan.md
Due: none

refactor(agent): remove DT_STREAM from LLM pipeline — direct generator iteration
  docs/architecture/nexus-agent-plan.md
  src/nexus/backends/compute/anthropic_native.py
  src/nexus/backends/compute/openai_compatible.py
  src/nexus/cli/commands/chat.py
  src/nexus/cli/commands/llm.py
  src/nexus/services/agent_runtime/acp_handler.py
  src/nexus/services/agent_runtime/managed_loop.py
  src/nexus/services/agent_runtime/observer.py
  src/nexus/services/agent_runtime/system_prompt.py
  tests/unit/agent_runtime/test_acp_protocol.py
  tests/unit/agent_runtime/test_managed_loop.py
  tests/unit/agent_runtime/test_system_prompt.py
  tests/unit/backends/test_openai_compat.py
Due: check-file-size, check-type-ignore

fix(agent): return stopReason='end_turn' in ACP prompt response
  src/nexus/services/agent_runtime/acp_handler.py
Due: check-file-size, check-type-ignore

feat(agent): sync Tool.call() + wire ToolRegistry into chat.py
  src/nexus/cli/commands/chat.py
  src/nexus/services/agent_runtime/managed_loop.py
  src/nexus/services/agent_runtime/tool_registry.py
  src/nexus/services/agent_runtime/tools/bash.py
  src/nexus/services/agent_runtime/tools/edit_file.py
  src/nexus/services/agent_runtime/tools/glob_tool.py
  src/nexus/services/agent_runtime/tools/grep_tool.py
  src/nexus/services/agent_runtime/tools/read_file.py
  src/nexus/services/agent_runtime/tools/write_file.py
  tests/unit/agent_runtime/test_acp_e2e.py
Due: check-file-size, check-type-ignore

fix(agent): wrap _call_llm_with_retry in asyncio.to_thread to unblock event loop
  src/nexus/services/agent_runtime/managed_loop.py
Due: check-file-size, check-type-ignore

feat(kernel): implement sys_readdir in Rust + PyO3 codegen
  rust/kernel/src/generated_pyo3.rs
  rust/kernel/src/kernel.rs
  scripts/codegen_kernel_abi.py
  src/nexus/_kernel_api_groups.py
  src/nexus/core/nexus_fs.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

fix(agent): mount /workspace from session/new cwd, not os.getcwd()
  src/nexus/cli/commands/chat.py
Due: check-file-size, check-type-ignore

refactor: delete NexusFSGateway — services call NexusFS syscalls directly
  pyproject.toml
  src/nexus/bricks/mount/mount_service.py
  src/nexus/bricks/search/search_service.py
  src/nexus/bricks/share_link/share_link_service.py
  src/nexus/cli/commands/chat.py
  src/nexus/factory/_wired.py
  src/nexus/factory/service_routing.py
  src/nexus/lib/permission_utils.py
  src/nexus/services/gateway.py
Due: check-file-size, check-type-ignore

feat(agent): BashTool resolves VFS paths via sys_stat before execution
  src/nexus/cli/commands/chat.py
  src/nexus/services/agent_runtime/tools/bash.py
Due: check-file-size, check-type-ignore

fix(local_connector): WriteResult.content_id = physical path (PAS, not hash)
  src/nexus/backends/storage/local_connector.py
Due: check-file-size, check-type-ignore

fix(agent): BashTool mount-root fallback for glob/directory paths
  src/nexus/services/agent_runtime/tools/bash.py
Due: check-file-size, check-type-ignore

fix(agent): use nx.metadata (not nx._metadata) for SearchService construction
  src/nexus/cli/commands/chat.py
Due: check-file-size, check-type-ignore

feat(kernel): LocalConnectorMetastore passthrough + add_mount dcache
  rust/kernel/src/kernel.rs
  rust/kernel/src/metastore.rs
Due: none

fix: encode physical root in backend_name for PAS mount points
  src/nexus/backends/storage/local_connector.py
  src/nexus/core/mount_table.py
  src/nexus/core/nexus_fs.py
  src/nexus/services/agent_runtime/tools/bash.py
Due: check-file-size, check-type-ignore

feat(agent): mount cwd via LocalConnector at /workspace
  src/nexus/cli/commands/chat.py
Due: check-file-size, check-type-ignore

fix(core): narrow PAS read path to LocalConnectorBackend only
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

fix(ci): update MountService test — gateway → nexus_fs
  tests/unit/bricks/mount/test_mount_core_service.py
Due: check-type-ignore

fix(core): sys_read + grep for PAS mounts (LocalConnector)
  src/nexus/bricks/search/search_service.py
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

fix(ci): add _kernel mock to benchmark test for sys_readdir
  tests/benchmarks/test_service_delegation.py
Due: check-type-ignore

fix(ci): delete NexusFSGateway test + fix ACP E2E profile
  tests/benchmarks/test_service_delegation.py
  tests/unit/agent_runtime/test_acp_e2e.py
  tests/unit/services/test_gateway.py
Due: check-type-ignore

fix(ci): remove stale await from grep conflict resolution
  src/nexus/bricks/search/search_service.py
Due: check-file-size, check-type-ignore

fix(ci): add --skip-semantic to demo init in E2E workflow
  .github/workflows/docker-publish.yml
Due: none

fix(ci): remove stale await in test_embedded grep + fix mount test mocks
  tests/unit/bricks/mount/test_mount_core_service.py
  tests/unit/core/test_embedded.py
Due: check-type-ignore

fix(ci): use_raft=True for read_batch tests (shared Rust metastore)
  tests/unit/bricks/filesystem/test_scoped_filesystem_read_batch.py
Due: check-type-ignore

fix(ci): update gateway→nexus_fs in share_link/mount tests + sync SearchProtocol
  src/nexus/contracts/protocols/search.py
  tests/unit/services/test_mount_service.py
  tests/unit/services/test_share_link_service.py
Due: check-file-size, check-type-ignore
