Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(ci): mypy + surface-coverage drift after Phase B + Read extension
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  scripts/gen_api_surface_coverage.py
  scripts/render_api_surface_coverage.py
  scripts/surface_coverage/schema.py
  src/nexus/remote/rpc_transport.py
Due: check-file-size, check-type-ignore

feat(proto): extend Read with timeout_ms + offset + pipe/stream fields
  proto/nexus/grpc/vfs/vfs.proto
  rust/kernel/src/rpc_transport.rs
  rust/transport/src/grpc.rs
  src/nexus/grpc/vfs/vfs_pb2.py
  src/nexus/remote/kernel_client.py
  src/nexus/remote/rpc_transport.py
  tests/unit/remote/test_kernel_client_hooks.py
Due: check-file-size, check-type-ignore

refactor(transport): retire sys_* Call arms from the dispatcher
  rust/transport/src/call_dispatch.rs
Due: none

refactor(backends): RemoteBackend::delete_file via typed Delete RPC
  rust/backends/src/storage/remote.rs
Due: none

refactor(transport): drop vestigial write_batch Call-arm tests
  rust/transport/src/call_dispatch.rs
Due: none

refactor(kernel): RemoteStreamBackend via typed Stream RPCs
  rust/kernel/src/core/stream/remote.rs
  rust/kernel/src/rpc_transport.rs
Due: none

refactor(transport): retire generic Call for syscalls
  rust/transport/src/call_dispatch.rs
Due: none

fix(ci): fill surface-matrix metadata for the 22 typed VFS RPCs
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

refactor(backends): RemoteBackend::read_content via typed Read RPC
  rust/backends/src/storage/remote.rs
Due: none

docs(proto): vfs.proto header lists get_mount_points among Call survivors
  proto/nexus/grpc/vfs/vfs.proto
Due: none

fix(transport): restore dispatch fn param names after B10 rebase
  rust/transport/src/call_dispatch.rs
Due: none

test(remote): even out transport unit-test coverage for B8-B10
  tests/unit/remote/test_rpc_transport.py
Due: check-type-ignore

fix(transport): unblock agent_* dispatch arms after rebase
  rust/transport/src/call_dispatch.rs
Due: none

refactor(transport): drop sys_mkdir Call arm (no live caller)
  rust/transport/src/call_dispatch.rs
Due: none

feat(transport): add stream_read_at to RpcTransport
  rust/kernel/src/rpc_transport.rs
Due: none

refactor(transport): drop dead ApiKeyAuth — keep auth surface to trait + NoAuth
  rust/transport/src/auth.rs
  rust/transport/src/grpc.rs
  rust/transport/src/lib.rs
Due: none

refactor(transport): move auth module from services to transport
  Cargo.lock
  rust/profiles/cluster/src/main.rs
  rust/services/Cargo.toml
  rust/services/src/lib.rs
  rust/transport/Cargo.toml
  rust/transport/src/auth.rs
  rust/transport/src/grpc.rs
  rust/transport/src/lib.rs
Due: none

refactor(cluster): drop services crate dependency
  Cargo.lock
  rust/profiles/cluster/Cargo.toml
Due: none

feat(kernel): Tier 2 mount() helper + MountOptions builder
  rust/kernel/src/kernel/convenience.rs
Due: none

fix(cluster): delete broken run_mount / run_unmount subcommands
  rust/profiles/cluster/src/main.rs
Due: none

feat(raft): node TLS cert validity 365d -> 90d
  rust/raft/src/transport/certgen.rs
Due: none

refactor: adopt Kernel::mount() at all in-tree DT_MOUNT sites
  rust/profiles/cluster/src/main.rs
  rust/transport/src/grpc.rs
Due: none

feat(cluster): size tokio runtime by available_parallelism
  rust/profiles/cluster/src/main.rs
Due: none

chore(kernel): drop dead 'encoding_rs' workspace dep
  Cargo.lock
  rust/kernel/Cargo.toml
Due: none

feat(contracts+lib): gRPC server hardening constants + apply helper
  Cargo.lock
  rust/contracts/src/constants.rs
  rust/lib/Cargo.toml
  rust/lib/src/transport_primitives/mod.rs
  rust/lib/src/transport_primitives/server_limits.rs
Due: none

chore(kernel): drop dead 'simdutf8' and 'simsimd' workspace deps
  Cargo.lock
  rust/kernel/Cargo.toml
Due: none

feat(cluster): graceful drain on SIGTERM via ZoneManager::shutdown()
  rust/profiles/cluster/src/main.rs
Due: none

fix(transport+services): restore develop API evolution lost in rebase
  Cargo.lock
  rust/services/Cargo.toml
  rust/services/src/lib.rs
  rust/transport/src/lib.rs
Due: none

feat(transport+raft): apply gRPC server hardening at every builder site
  rust/raft/src/transport/server.rs
  rust/transport/src/grpc.rs
Due: none

fix docker e2e health and read latency
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  src/nexus/cli/commands/status.py
  src/nexus/core/nexus_fs_content.py
  tests/unit/cli/test_status.py
  tests/unit/core/test_nexus_fs_content_metrics.py
Due: check-file-size, check-type-ignore

fix(scripts): drop wrong await nexus.connect in sandbox-perf e2e
  scripts/test_sandbox_perf_e2e.py
Due: check-file-size, check-type-ignore

fix(contract): sys_watch is sync — drop async from NexusFilesystem
  src/nexus/contracts/filesystem/filesystem_abc.py
Due: check-file-size, check-type-ignore

test(e2e): drop wrong awaits on sys_watch in multi-instance-workflows
  tests/e2e/redis/test_multi_instance_workflows.py
Due: check-type-ignore

refactor(bench): drop async on _bench_sys_{write,read} — bodies are sync
  tests/benchmarks/bench_pipe_syscall_overhead.py
Due: check-type-ignore

test(server/lifespan): move adispose tests next to the helper module
  tests/unit/server/lifespan/test_async_engines.py
Due: check-type-ignore

test(e2e): use _async_engines helper in issue_4129 sandbox-search e2e
  tests/e2e/self_contained/test_issue_4129_sandbox_search_e2e.py
Due: check-type-ignore

fix(scripts): drop wrong await fs._kernel.sys_* in grep-glob demo
  scripts/nexus-fs-demo/test_nexus_fs_6_grep_glob.sh
Due: none

feat(server/lifespan): add _async_engines helper for record-store dispose
  src/nexus/server/lifespan/_async_engines.py
Due: check-file-size, check-type-ignore

refactor(core): drop NexusFS.adispose_async_engines — moved to lifespan helper
  src/nexus/core/nexus_fs.py
  src/nexus/storage/record_store.py
Due: check-file-size, check-type-ignore

refactor(bench): drop async on _setup/_run + asyncio.run in main
  tests/benchmarks/bench_pipe_syscall_overhead.py
Due: check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
