Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

refactor(#1824): rename Transport methods — store/fetch/remove API
  src/nexus/backends/base/cas_addressing_engine.py
  src/nexus/backends/base/path_addressing_engine.py
  src/nexus/backends/base/transport.py
  src/nexus/backends/compute/llm_transport.py
  src/nexus/backends/compute/message_chunking.py
  src/nexus/backends/engines/cas_gc.py
  src/nexus/backends/engines/cdc.py
  src/nexus/backends/misc/backend_io.py
  src/nexus/backends/storage/cas_local.py
  src/nexus/backends/storage/path_gcs.py
  src/nexus/backends/storage/path_s3.py
  src/nexus/backends/transports/gcs_transport.py
  src/nexus/backends/transports/local_transport.py
  src/nexus/backends/transports/s3_transport.py
  src/nexus/backends/transports/volume_local_transport.py
  src/nexus/core/nexus_fs.py
  src/nexus/migrations/data_migrator.py
  tests/unit/backends/test_backend_io.py
  tests/unit/backends/test_batch_operations.py
  tests/unit/backends/test_cas_backend.py
  tests/unit/backends/test_chunked_storage.py
  tests/unit/backends/test_local_backend.py
  tests/unit/backends/test_local_cas_backend.py
  tests/unit/backends/test_local_transport.py
  tests/unit/backends/test_message_chunking.py
  tests/unit/backends/test_openai_compat.py
  tests/unit/backends/test_path_backend.py
  tests/unit/backends/test_streaming.py
  tests/unit/backends/test_transport_conformance.py
  tests/unit/backends/test_ttl_integration.py
  tests/unit/backends/test_volume_gc_compaction.py
  tests/unit/backends/test_volume_integration.py
  tests/unit/backends/test_volume_ttl_expiry.py
  tests/unit/fs/test_gcs_integration.py
Due: check-file-size, check-type-ignore

feat: witness auto-join dynamic zones + Docker SDK failover test
  rust/nexus_raft/src/transport/server.rs
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore, rust-fmt-raft, rust-clippy-raft

fix: SearchService enforce_permissions read via _perm_config not getattr
  src/nexus/factory/_wired.py
Due: check-file-size, check-type-ignore

refactor: delete _enforce_permissions flag from kernel
  src/nexus/contracts/wirable_fs.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/_lifecycle.py
  src/nexus/factory/_wired.py
  src/nexus/factory/orchestrator.py
  src/nexus/server/api/core/health.py
Due: check-file-size, check-type-ignore

fix(#38): use id@host:port format for Raft peer addresses in federation bootstrap
  src/nexus/raft/federation.py
Due: check-file-size, check-type-ignore

refactor: support DT_MOUNT via sys_setattr + unmount via sys_rmdir
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor: support DT_MOUNT via sys_setattr + unmount via sys_rmdir (#3455)
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

fix: wire lock manager from EventsService + fix failover test container name
  src/nexus/server/fastapi_server.py
  src/nexus/server/rpc/services/locks_rpc.py
  tests/e2e/docker/test_federation_e2e.py
Due: check-file-size, check-type-ignore

fix: wire lock manager from EventsService + fix failover test container name (#3457)
  src/nexus/server/fastapi_server.py
  src/nexus/server/rpc/services/locks_rpc.py
  tests/e2e/docker/test_federation_e2e.py
Due: check-file-size, check-type-ignore

refactor: add /__sys__/ service registration via sys_setattr/sys_unlink
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor: add /__sys__/ service registration via sys_setattr/sys_unlink (#3458)
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/core/nexus_fs.py
Due: check-file-size, check-type-ignore

refactor: add stream_backend_factory to mount — pluggable DT_STREAM backends
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/core/nexus_fs.py
  src/nexus/core/router.py
Due: check-file-size, check-type-ignore

refactor: add stream_backend_factory to mount — pluggable DT_STREAM backends (#3459)
  docs/architecture/KERNEL-ARCHITECTURE.md
  src/nexus/core/nexus_fs.py
  src/nexus/core/router.py
Due: check-file-size, check-type-ignore

cleanup: delete backward-compat aliases, rename all references to PathGmailBackend/PathCalendarBackend
  scripts/test_gcalendar_e2e.py
  scripts/test_gmail_e2e.py
  scripts/test_gmail_real_api.py
  src/nexus/backends/__init__.py
  src/nexus/backends/connectors/calendar/connector.py
  src/nexus/backends/connectors/gmail/connector.py
  src/nexus/backends/connectors/gws/connector.py
  tests/e2e/self_contained/test_gcalendar_connector.py
Due: check-file-size, check-type-ignore

refactor: Gmail + Calendar connectors → Transport + PathAddressingEngine composition
  src/nexus/backends/__init__.py
  src/nexus/backends/connectors/calendar/connector.py
  src/nexus/backends/connectors/calendar/transport.py
  src/nexus/backends/connectors/gmail/connector.py
  src/nexus/backends/connectors/gmail/transport.py
  tests/e2e/self_contained/test_gmail_connector.py
Due: check-file-size, check-type-ignore

perf(#3393): deferred metadata buffer with batched Raft flush
  src/nexus/bricks/rebac/deferred_permission_buffer.py
  src/nexus/core/metastore.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/orchestrator.py
  src/nexus/fs/_sqlite_meta.py
  src/nexus/lib/deferred_buffer.py
  src/nexus/raft/federated_metadata_proxy.py
  src/nexus/storage/buffered_metadata_store.py
  src/nexus/storage/dict_metastore.py
  src/nexus/storage/raft_metadata_store.py
  tests/benchmarks/benchmark_write_performance.py
  tests/helpers/dict_metastore.py
  tests/helpers/failing_metastore.py
  tests/unit/storage/test_deferred_metadata_buffer_errors.py
  tests/unit/storage/test_write_back_concurrency.py
  tests/unit/storage/test_write_back_read_after_write.py
Due: check-file-size, check-type-ignore

perf(#3393): deferred metadata buffer with batched Raft flush (#3452)
  src/nexus/bricks/rebac/deferred_permission_buffer.py
  src/nexus/core/metastore.py
  src/nexus/core/nexus_fs.py
  src/nexus/factory/orchestrator.py
  src/nexus/fs/_sqlite_meta.py
  src/nexus/lib/deferred_buffer.py
  src/nexus/raft/federated_metadata_proxy.py
  src/nexus/storage/buffered_metadata_store.py
  src/nexus/storage/dict_metastore.py
  src/nexus/storage/raft_metadata_store.py
  tests/benchmarks/benchmark_write_performance.py
  tests/helpers/dict_metastore.py
  tests/helpers/failing_metastore.py
  tests/unit/storage/test_deferred_metadata_buffer_errors.py
  tests/unit/storage/test_write_back_concurrency.py
  tests/unit/storage/test_write_back_read_after_write.py
Due: check-file-size, check-type-ignore

perf(storage): volume-level cold tiering — sealed volumes to cloud with local index (#3406)
  README.md
  configs/config.demo.yaml
  src/nexus/__init__.py
  src/nexus/backends/engines/cas_gc.py
  src/nexus/backends/storage/cas_local.py
  src/nexus/backends/transports/gcs_transport.py
  src/nexus/backends/transports/s3_transport.py
  src/nexus/backends/transports/volume_local_transport.py
  src/nexus/config.py
  src/nexus/core/config.py
  src/nexus/services/volume_tiering.py
  tests/integration/backends/test_volume_tiering_s3.py
  tests/unit/backends/test_volume_tiering.py
Due: check-file-size, check-type-ignore

perf(storage): volume-level cold tiering — sealed volumes to cloud with local index (#3406) (#3456)
  README.md
  configs/config.demo.yaml
  src/nexus/__init__.py
  src/nexus/backends/engines/cas_gc.py
  src/nexus/backends/storage/cas_local.py
  src/nexus/backends/transports/gcs_transport.py
  src/nexus/backends/transports/s3_transport.py
  src/nexus/backends/transports/volume_local_transport.py
  src/nexus/config.py
  src/nexus/core/config.py
  src/nexus/services/volume_tiering.py
  tests/integration/backends/test_volume_tiering_s3.py
  tests/unit/backends/test_volume_tiering.py
Due: check-file-size, check-type-ignore

fix: make federation mount tests idempotent
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

perf: cross-zone lease-based cache invalidation (replace best-effort pub/sub) (#3396)
  src/nexus/bricks/rebac/cache/channel_codec.py
  src/nexus/bricks/rebac/cache/coordinator.py
  src/nexus/bricks/rebac/cache/coordinator_config.py
  src/nexus/bricks/rebac/cache/durable_stream.py
  src/nexus/bricks/rebac/cache/pubsub_invalidation.py
  src/nexus/bricks/rebac/cache/read_fence.py
  src/nexus/bricks/rebac/cache/result_cache.py
  src/nexus/lib/distributed_lease.py
  src/nexus/server/api/core/health.py
  src/nexus/server/lifespan/__init__.py
  src/nexus/server/lifespan/permissions.py
  tests/benchmarks/test_rebac_latency.py
  tests/e2e/docker/test_federation_e2e.py
  tests/unit/core/test_cache_coordinator.py
  tests/unit/core/test_cross_zone_invalidation.py
  tests/unit/core/test_invalidation_degradation.py
  tests/unit/core/test_invalidation_stream.py
  tests/unit/core/test_pubsub_invalidation.py
Due: check-file-size, check-type-ignore

fix: use 'content' param in e2e cross-zone write test, increase timeout
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix: pass full path to _wait_replicated in cross-zone coherence test
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix: address 3 follow-up Codex findings (hot path, ACK-on-fail, stamp leak)
  src/nexus/bricks/rebac/cache/durable_stream.py
  src/nexus/bricks/rebac/cache/result_cache.py
  tests/unit/core/test_invalidation_degradation.py
Due: check-file-size, check-type-ignore

fix: address 3 Codex review findings (ping-pong, clock mismatch, no-op lease)
  src/nexus/bricks/rebac/cache/coordinator.py
  src/nexus/bricks/rebac/cache/durable_stream.py
  src/nexus/bricks/rebac/cache/read_fence.py
  src/nexus/bricks/rebac/cache/result_cache.py
  src/nexus/server/lifespan/permissions.py
  tests/benchmarks/test_rebac_latency.py
  tests/unit/core/test_cross_zone_invalidation.py
  tests/unit/core/test_invalidation_degradation.py
Due: check-file-size, check-type-ignore

fix: retry unmount/remount on both nodes in federation e2e
  tests/e2e/docker/test_federation_e2e.py
Due: check-type-ignore

fix: resolve 4 mypy type errors in result_cache and coordinator
  src/nexus/bricks/rebac/cache/coordinator.py
  src/nexus/bricks/rebac/cache/result_cache.py
Due: check-file-size, check-type-ignore

fix: robust ReBACManager lookup + retry crosslink mount on both nodes
  src/nexus/server/lifespan/permissions.py
  tests/e2e/docker/test_federation_e2e.py
Due: check-file-size, check-type-ignore

fix: pass version_store to ReBACManager in revision cache tests
  tests/unit/core/test_rebac_revision_cache.py
Due: check-type-ignore

fix: wire reclaim_pending() into consume loop for PEL retry
  src/nexus/bricks/rebac/cache/durable_stream.py
Due: check-file-size, check-type-ignore

perf: cross-zone lease-based cache invalidation (replace best-effort pub/sub) (#3462)
  src/nexus/bricks/rebac/cache/channel_codec.py
  src/nexus/bricks/rebac/cache/coordinator.py
  src/nexus/bricks/rebac/cache/coordinator_config.py
  src/nexus/bricks/rebac/cache/durable_stream.py
  src/nexus/bricks/rebac/cache/pubsub_invalidation.py
  src/nexus/bricks/rebac/cache/read_fence.py
  src/nexus/bricks/rebac/cache/result_cache.py
  src/nexus/lib/distributed_lease.py
  src/nexus/server/api/core/health.py
  src/nexus/server/lifespan/__init__.py
  src/nexus/server/lifespan/permissions.py
  tests/benchmarks/test_rebac_latency.py
  tests/e2e/docker/test_federation_e2e.py
  tests/unit/core/test_cache_coordinator.py
  tests/unit/core/test_cross_zone_invalidation.py
  tests/unit/core/test_invalidation_degradation.py
  tests/unit/core/test_invalidation_stream.py
  tests/unit/core/test_pubsub_invalidation.py
  tests/unit/core/test_rebac_revision_cache.py
Due: check-file-size, check-type-ignore

test(fuse): add cross-mount lease coherence Docker e2e test (#3397)
  tests/e2e/self_contained/test_fuse_lease_docker_e2e.py
Due: check-type-ignore

test(fuse): add real FUSE mount e2e tests via Docker (#3397)
  tests/e2e/self_contained/Dockerfile.fuse-test
  tests/e2e/self_contained/test_fuse_docker_e2e.py
  tests/e2e/self_contained/test_fuse_real_mount_e2e.py
Due: check-type-ignore

fix(tests): repair pre-existing e2e test failures in FUSE events and MCP
  src/nexus/server/api/v2/routers/subscriptions.py
  tests/e2e/self_contained/mcp/test_mcp_server_integration.py
  tests/e2e/self_contained/mcp/test_tool_namespace_integration.py
  tests/e2e/server/test_fuse_events_e2e.py
Due: check-file-size, check-type-ignore

perf(fuse): service-level lease integration for write-back caching (#3397)
  src/nexus/fuse/lease_coordinator.py
  src/nexus/fuse/mount.py
  src/nexus/fuse/operations.py
  src/nexus/fuse/ops/_shared.py
  src/nexus/fuse/ops/io_handler.py
  src/nexus/fuse/ops/metadata_handler.py
  src/nexus/fuse/ops/mutation_handler.py
  tests/benchmarks/test_core_operations.py
  tests/unit/fuse/test_fuse_lease_coherence.py
  tests/unit/fuse/test_fuse_lease_coordinator.py
  tests/unit/fuse/test_io_handler.py
  tests/unit/fuse/test_mutation_handler.py
Due: check-file-size, check-type-ignore

fix(fuse): resolve mypy type errors in lease_coordinator (#3397)
  src/nexus/fuse/lease_coordinator.py
Due: check-file-size, check-type-ignore

fix(ci): skip FUSE lease benchmarks when fusepy not installed (#3397)
  tests/benchmarks/test_core_operations.py
Due: check-type-ignore

fix(fuse): wire lease validation into production read paths (#3397)
  src/nexus/fuse/lease_coordinator.py
  src/nexus/fuse/ops/_shared.py
  src/nexus/fuse/ops/metadata_handler.py
  src/nexus/fuse/ops/mutation_handler.py
Due: check-file-size, check-type-ignore

fix(ci): skip FUSE real-mount tests when fusepy missing, fix FastMCP compat
  tests/e2e/self_contained/mcp/test_mcp_server_integration.py
  tests/e2e/self_contained/test_fuse_real_mount_e2e.py
Due: check-type-ignore

perf(fuse): service-level lease integration for write-back caching (#3397) (#3463)
  src/nexus/fuse/lease_coordinator.py
  src/nexus/fuse/mount.py
  src/nexus/fuse/operations.py
  src/nexus/fuse/ops/_shared.py
  src/nexus/fuse/ops/io_handler.py
  src/nexus/fuse/ops/metadata_handler.py
  src/nexus/fuse/ops/mutation_handler.py
  src/nexus/server/api/v2/routers/subscriptions.py
  tests/benchmarks/test_core_operations.py
  tests/e2e/self_contained/Dockerfile.fuse-test
  tests/e2e/self_contained/mcp/test_mcp_server_integration.py
  tests/e2e/self_contained/mcp/test_tool_namespace_integration.py
  tests/e2e/self_contained/test_fuse_docker_e2e.py
  tests/e2e/self_contained/test_fuse_lease_docker_e2e.py
  tests/e2e/self_contained/test_fuse_real_mount_e2e.py
  tests/e2e/server/test_fuse_events_e2e.py
  tests/unit/fuse/test_fuse_lease_coherence.py
  tests/unit/fuse/test_fuse_lease_coordinator.py
  tests/unit/fuse/test_io_handler.py
  tests/unit/fuse/test_mutation_handler.py
Due: check-file-size, check-type-ignore
