Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

feat(#1861): add artifact auto-indexing into memory, tool-index, and graph-store
  src/nexus/bricks/a2a/task_manager.py
  src/nexus/bricks/artifact_index/__init__.py
  src/nexus/bricks/artifact_index/brick_factory.py
  src/nexus/bricks/artifact_index/config.py
  src/nexus/bricks/artifact_index/extractors.py
  src/nexus/bricks/artifact_index/graph_adapter.py
  src/nexus/bricks/artifact_index/hook_handlers.py
  src/nexus/bricks/artifact_index/memory_adapter.py
  src/nexus/bricks/artifact_index/protocol.py
  src/nexus/bricks/artifact_index/tool_adapter.py
  src/nexus/factory/__init__.py
  src/nexus/factory/_bricks.py
  src/nexus/factory/orchestrator.py
  src/nexus/services/protocols/hook_engine.py
  tests/unit/bricks/artifact_index/__init__.py
  tests/unit/bricks/artifact_index/conftest.py
  tests/unit/bricks/artifact_index/test_extractors.py
  tests/unit/bricks/artifact_index/test_graph_adapter.py
  tests/unit/bricks/artifact_index/test_hook_handlers.py
  tests/unit/bricks/artifact_index/test_integration.py
  tests/unit/bricks/artifact_index/test_memory_adapter.py
  tests/unit/bricks/artifact_index/test_protocol.py
  tests/unit/bricks/artifact_index/test_tool_adapter.py
Due: check-file-size, check-type-ignore

fix(#1861): wire hook_engine to TaskManager via create_a2a_router
  src/nexus/bricks/a2a/__init__.py
  src/nexus/factory/_bricks.py
  src/nexus/server/fastapi_server.py
Due: check-file-size, check-type-ignore

fix(#2138): add rebac_list_tuples to ReBACManager for Protocol compliance
  src/nexus/bricks/rebac/manager.py
Due: check-file-size, check-type-ignore

fix(#2138): resolve mypy errors — None guard + WirableFS signature drift
  src/nexus/server/app_state.py
  src/nexus/services/rebac/rebac_service.py
Due: check-file-size, check-type-ignore

refactor(#2072): polish observability subsystem — DRY registry, relocate thread pool
  src/nexus/server/lifespan/__init__.py
  src/nexus/server/lifespan/observability.py
  tests/unit/server/test_observability_registry.py
Due: check-file-size, check-type-ignore

fix: Restore no-merge-commits workflow
  .github/workflows/no-merge-commits.yml
  src/nexus/services/agents/agent_service.py
  src/nexus/system_services/lifecycle/events_service.py
  tests/unit/services/test_agent_service.py
Due: check-file-size, check-type-ignore

fix(#2056): delete dead v1 share router (0 test refs)
  src/nexus/server/api/v1/routers/share.py
  src/nexus/server/api/v1/versioning.py
Due: check-file-size, check-type-ignore

fix(#2056): delete v1 memory router, migrate tests to v2
  src/nexus/server/api/v1/routers/memory.py
  src/nexus/server/api/v1/versioning.py
  tests/e2e/server/test_graph_api_e2e.py
  tests/e2e/server/test_memory_evolution_e2e.py
Due: check-file-size, check-type-ignore

fix(ci): pass LifespanServices to _compute_features_info and re-register Prometheus metrics in E2E tests
  tests/e2e/self_contained/test_device_capabilities_e2e.py
  tests/e2e/self_contained/test_features_endpoint.py
  tests/e2e/self_contained/test_observability_pipeline.py
  tests/e2e/self_contained/test_performance_tuning_e2e.py
  tests/e2e/self_contained/test_wb_metrics_integration.py
Due: check-type-ignore

feat(#2056): port locks API to v2 with Pydantic models
  src/nexus/server/api/v1/versioning.py
  src/nexus/server/api/v2/models/locks.py
  src/nexus/server/api/v2/routers/locks.py
  src/nexus/server/api/v2/versioning.py
  tests/e2e/docker/test_federation_e2e.py
  tests/e2e/server/test_extracted_services_e2e.py
  tests/e2e/server/test_lock_api_e2e.py
  tests/e2e/server/test_lock_rest_api.py
  tests/e2e/server/test_raft_auth_permissions_e2e.py
Due: check-file-size, check-type-ignore

fix(#2138): remove lib → core import boundary violation
  src/nexus/lib/zone_helpers.py
Due: check-file-size, check-type-ignore

feat(#2056): port subscriptions, identity, search, graph, cache APIs to v2
  src/nexus/server/api/v1/versioning.py
  src/nexus/server/api/v2/routers/cache.py
  src/nexus/server/api/v2/routers/graph.py
  src/nexus/server/api/v2/routers/identity.py
  src/nexus/server/api/v2/routers/search.py
  src/nexus/server/api/v2/routers/subscriptions.py
  src/nexus/server/api/v2/versioning.py
  tests/e2e/self_contained/test_adaptive_retrieval.py
  tests/e2e/self_contained/test_ipc_signing_e2e.py
  tests/e2e/server/test_cache_warmup_e2e.py
  tests/e2e/server/test_fuse_events_e2e.py
  tests/e2e/server/test_graph_api_e2e.py
  tests/e2e/server/test_identity_e2e.py
  tests/e2e/server/test_read_set_cache_e2e.py
Due: check-file-size, check-type-ignore

fix: Resolve mypy errors
  src/nexus/server/lifespan/realtime.py
  src/nexus/system_services/lifecycle/events_service.py
Due: check-file-size, check-type-ignore

fix(ci): increase sleep margins in deferred permission buffer test for macOS CI
  tests/unit/services/permissions/test_deferred_permission_buffer.py
Due: check-type-ignore

feat(#2056): add hotspot endpoints to v2 governance router
  src/nexus/server/api/v1/versioning.py
  src/nexus/server/api/v2/routers/governance.py
  tests/e2e/test_security_hardening_e2e.py
  tests/unit/server/test_security_hardening.py
Due: check-file-size, check-type-ignore

fix(#2138): trigger CI with fresh commit SHA
  tests/unit/server/test_zone_helpers.py
Due: check-type-ignore

feat(#2056): port watch/events to v2, convert WS tests to SSE
  src/nexus/server/api/v1/versioning.py
  src/nexus/server/api/v2/routers/events_replay.py
  src/nexus/server/api/v2/versioning.py
  tests/e2e/self_contained/test_watch_api_e2e.py
  tests/e2e/server/test_websocket_e2e.py
Due: check-file-size, check-type-ignore

fix(#2056): delete all v1 infrastructure
  src/nexus/server/api/v1/__init__.py
  src/nexus/server/api/v1/dependencies.py
  src/nexus/server/api/v1/models/__init__.py
  src/nexus/server/api/v1/models/locks.py
  src/nexus/server/api/v1/routers/__init__.py
  src/nexus/server/api/v1/routers/admin.py
  src/nexus/server/api/v1/routers/cache.py
  src/nexus/server/api/v1/routers/events.py
  src/nexus/server/api/v1/routers/graph.py
  src/nexus/server/api/v1/routers/identity.py
  src/nexus/server/api/v1/routers/locks.py
  src/nexus/server/api/v1/routers/search.py
  src/nexus/server/api/v1/routers/subscriptions.py
  src/nexus/server/api/v1/versioning.py
  src/nexus/server/fastapi_server.py
  tests/unit/server/test_dependencies.py
Due: check-file-size, check-type-ignore

docs(#2056): update API references from v1 to v2
  docs/architecture/ops-scenario-matrix.md
Due: none

chore(#2056): ruff format v2 routers and tests
  src/nexus/server/api/v2/routers/identity.py
  src/nexus/server/api/v2/routers/locks.py
  src/nexus/server/api/v2/routers/search.py
  tests/e2e/self_contained/test_watch_api_e2e.py
Due: check-file-size, check-type-ignore

chore: trigger CI (synchronize event)
  tests/unit/server/test_zone_helpers.py
Due: check-type-ignore

refactor(#2179): remove nexus.rebac shim, canonical bricks.rebac imports
  pyproject.toml
  src/nexus/bricks/memory/router.py
Due: check-file-size, check-type-ignore

fix(#2179): update import-linter config for bricks.rebac + restore EnhancedReBACManager alias
  pyproject.toml
  src/nexus/bricks/rebac/manager.py
  tests/unit/rebac/consistency/__init__.py
  tests/unit/rebac/consistency/test_shim_reexport.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
