Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

.pre-commit-config.yaml:

# Pre-commit hooks optimized for speed (<5s)
# Slow checks (tests, mypy, clippy) are disabled but kept as comments for future reference
# These slow checks still run in CI

repos:
  # Fast file checks (< 1s)
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^mkdocs\.yml$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements

  # Fast Python lint + format (2-3s) - CRITICAL for avoiding CI format failures
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        exclude: ^benchmarks/
      - id: ruff-format
        exclude: ^benchmarks/

  # Type checking (10-30s) - enabled for local type error detection
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [pydantic, types-PyYAML, alembic, sqlalchemy, cachetools, types-cachetools, types-requests, types-redis, types-aiofiles]
        args: [--ignore-missing-imports]
        exclude: ^(tests/|alembic/|examples/|benchmarks/|\.claude/|scripts/|nexus-plugin-)

  - repo: local
    hooks:
      # Code quality standards (Phase 1)
      - id: check-file-size
        name: Check File Size Limit
        entry: python .pre-commit-hooks/check_file_size.py
        language: python
        files: \.py$
        exclude: ^tests/

      - id: check-type-ignore
        name: Block New Type Ignores
        entry: python .pre-commit-hooks/check_type_ignore.py
        language: python
        files: \.py$
        exclude: ^\.pre-commit-hooks/

      # DISABLED: RPC Parity test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: rpc-parity
      #   name: RPC Parity Check
      #   entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
      #   language: system
      #   pass_filenames: false
      #   files: ^src/nexus/core/nexus_fs.*\.py$

      # DISABLED: Version consistency test (pytest, slow) - runs in CI instead
      # Uncomment to re-enable:
      # - id: version-consistency
      #   name: Version Consistency Check
      #   entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
      #   language: system
      #   pass_filenames: false
      #   files: ^(pyproject\.toml|src/nexus/__init__\.py)$

      # Fast Rust format check (< 2s)
      - id: rust-fmt-fast
        name: Rust Format Check (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-fmt-raft
        name: Rust Format Check (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

      # Rust clippy (requires compilation, ~10-30s per crate)
      - id: rust-clippy-fast
        name: Rust Clippy (nexus_fast)
        entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_fast/.*\.rs$

      - id: rust-clippy-raft
        name: Rust Clippy (nexus_raft)
        entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
        language: system
        pass_filenames: false
        files: ^rust/nexus_raft/.*\.rs$

fix(lifespan): run nx.bootstrap() in executor to avoid asyncio.run() inside running loop
  src/nexus/server/lifespan/__init__.py
Due: check-file-size, check-type-ignore

fix(rebac-cache): prune stale secondary indexes on TTL/LRU eviction
  src/nexus/bricks/rebac/cache/result_cache.py
Due: check-file-size, check-type-ignore

fix(rebac-cache): bound prune scan and cap prefix index depth
  src/nexus/bricks/rebac/cache/result_cache.py
Due: check-file-size, check-type-ignore

fix(import-linter): remove deleted nexus.bricks.ipc from module list and ruff config
  pyproject.toml
Due: none

fix(version): restore pyproject.toml version to 0.10.0 (rolled back during rebase)
  pyproject.toml
  uv.lock
Due: none

fix(fuse): harden cache coherence and readahead
  src/nexus/fuse/filters.py
  src/nexus/fuse/ops/_shared.py
  src/nexus/fuse/ops/attr_handler.py
  tests/unit/fuse/test_attr_handler.py
  tests/unit/fuse/test_filters.py
  tests/unit/fuse/test_metadata_handler.py
  tests/unit/fuse/test_readahead.py
Due: check-file-size, check-type-ignore

Fix metadata endpoint for dict sys_stat
  src/nexus/server/api/v2/routers/async_files.py
  tests/unit/server/api/v2/routers/test_async_files_metadata.py
Due: check-file-size, check-type-ignore

Fix core path and streaming validation
  src/nexus/backends/base/backend.py
  src/nexus/core/nexus_fs_content.py
  src/nexus/core/object_store.py
  src/nexus/core/path_utils.py
  src/nexus/services/agents/agent_registry.py
  tests/unit/core/test_nexus_fs_stream_range.py
  tests/unit/core/test_object_store.py
  tests/unit/core/test_path_utils.py
  tests/unit/core/test_path_utils_rust.py
  tests/unit/core/test_process_table.py
Due: check-file-size, check-type-ignore

fix(migrations): add zone_id column to rebac_changelog
  alembic/versions/3b2a1c5d7e8f_add_zone_id_to_rebac_changelog.py
Due: check-file-size, check-type-ignore

refactor(federation): single-RPC store-and-forward content fetch
  proto/nexus/raft/transport.proto
  rust/kernel/src/cas_remote.rs
  rust/kernel/src/hal/peer.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/raft_meta_store.rs
  rust/kernel/src/replication.rs
  rust/raft/src/blob_fetcher.rs
  rust/raft/src/transport/server.rs
  rust/transport/src/blob/fetcher.rs
  rust/transport/src/blob/peer_client.rs
Due: none

fix(codegen): bridge Rust etag ↔ Python content_id at the PyO3 boundary
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  scripts/codegen_kernel_abi.py
  src/nexus/core/kernel_protocols.py
Due: check-file-size, check-type-ignore

refactor(metadata): rename Rust FileMetadata.etag → content_id
  proto/nexus/grpc/vfs/vfs.proto
  rust/backends/src/storage/remote.rs
  rust/kernel/src/abc/meta_store.rs
  rust/kernel/src/cas_engine.rs
  rust/kernel/src/core/dcache.rs
  rust/kernel/src/core/dispatch/mod.rs
  rust/kernel/src/core/dlc.rs
  rust/kernel/src/core/meta_store/mod.rs
  rust/kernel/src/core/meta_store/remote.rs
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/kernel/src/raft_meta_store.rs
  rust/kernel/src/replication.rs
  rust/kernel/src/rpc_transport.rs
  rust/raft/src/zone_manager.rs
  rust/transport/src/blob/fetcher.rs
  rust/transport/src/grpc.rs
  scripts/codegen_kernel_abi.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

chore(rebase-prep): ignore local nexus-zones/, fix FileEvent.path access
  .gitignore
  rust/backends/src/transports/api/social/nostr.rs
Due: none

refactor(object_store): drop backend_path from read_content trait method
  rust/backends/src/storage/cas_local.rs
  rust/backends/src/storage/local_connector.rs
  rust/backends/src/storage/path_local.rs
  rust/backends/src/storage/remote.rs
  rust/backends/src/transports/api/ai/anthropic/mod.rs
  rust/backends/src/transports/api/ai/openai/mod.rs
  rust/backends/src/transports/api/cli.rs
  rust/backends/src/transports/api/google/gdrive.rs
  rust/backends/src/transports/api/google/gmail.rs
  rust/backends/src/transports/api/social/hn.rs
  rust/backends/src/transports/api/social/slack.rs
  rust/backends/src/transports/api/social/x.rs
  rust/backends/src/transports/blob/gcs.rs
  rust/backends/src/transports/blob/s3.rs
  rust/kernel/src/abc/object_store.rs
  rust/kernel/src/core/vfs_router.rs
  rust/kernel/src/kernel.rs
  rust/transport/src/blob/fetcher.rs
  src/nexus/core/kernel_protocols.py
Due: check-file-size, check-type-ignore

refactor(rename): residue cleanup — connector ABC params + batch wrappers
  rust/kernel/src/core/stream/remote.rs
  src/nexus/backends/base/backend.py
  src/nexus/backends/connectors/cli/base.py
  src/nexus/backends/storage/delegating.py
  src/nexus/backends/wrappers/logging.py
Due: check-file-size, check-type-ignore

fix(kernel): rename Rust SysReadResult.content_hash → content_id
  rust/kernel/src/cas_chunking.rs
  rust/kernel/src/cas_transport.rs
  rust/kernel/src/core/dispatch/mod.rs
  rust/kernel/src/generated_kernel_abi_pyo3.rs
  rust/kernel/src/kernel.rs
  rust/services/src/audit/mod.rs
  rust/transport/src/grpc.rs
  scripts/codegen_kernel_abi.py
  stubs/nexus_kernel/__init__.pyi
Due: check-file-size, check-type-ignore

fix(proto): regenerate metadata_pb2.{py,pyi} after FileMetadata.etag → content_id
  src/nexus/core/metadata_pb2.py
  src/nexus/core/metadata_pb2.pyi
Due: check-file-size, check-type-ignore

fix(tests): update mock dict keys 'etag' → 'content_id' to match rpc_transport.write_file return shape
  tests/unit/backends/test_remote_backend.py
  tests/unit/cli/test_output.py
  tests/unit/factory/test_remote_overrides.py
Due: check-type-ignore

fix(tests): revert overshoot list_content_ids → list_content_hashes
  tests/unit/backends/test_transport_conformance.py
  tests/unit/backends/test_ttl_integration.py
  tests/unit/backends/test_volume_integration.py
Due: check-type-ignore

fix(backends): PAS write_content returns content_id=backend_path (not hash)
  rust/backends/src/storage/local_connector.rs
  rust/backends/src/storage/path_local.rs
Due: none

fix(proto,tests): regen vfs_pb2 stubs + update unit tests for new content_id contract
  src/nexus/grpc/vfs/vfs_pb2.py
  src/nexus/grpc/vfs/vfs_pb2_grpc.py
  tests/unit/core/test_nexus_fs_write_batch.py
  tests/unit/server/api/v2/routers/test_async_files_metadata.py
Due: check-file-size, check-type-ignore

fix(rpc): add LockAcquireParams override (regression from codegen regen)
  src/nexus/server/_rpc_param_overrides.py
Due: check-file-size, check-type-ignore

fix(federation): pass entry.content_id to peer.fetch + BlobFetcher fall-through to hash fan-out
  rust/kernel/src/kernel.rs
  rust/transport/src/blob/fetcher.rs
Due: none

fix(federation): cache remote-fetched blob locally for failover
  rust/kernel/src/kernel.rs
Due: none

feat(kernel): expose StreamManager::tail / PipeManager::size as kernel-internal helpers
  rust/kernel/src/core/pipe/manager.rs
  rust/kernel/src/core/stream/manager.rs
  rust/kernel/src/kernel.rs
Due: none

feat(vfs): sys_read DT_STREAM returns {data, next_offset} dict
  src/nexus/bricks/filesystem/scoped_filesystem.py
  src/nexus/bricks/task_manager/dispatch_consumer.py
  src/nexus/core/nexus_fs_content.py
  src/nexus/factory/zoekt_pipe_consumer.py
  src/nexus/fs/_fsspec.py
  src/nexus/fs/_helpers.py
  src/nexus/server/rpc/handlers/delta.py
  src/nexus/server/rpc/handlers/filesystem.py
  src/nexus/services/gateway.py
  src/nexus/services/lifecycle/workflow_dispatch_service.py
  src/nexus/task_manager/dispatch_consumer.py
  tests/unit/core/test_nexus_fs_dt_stream_read.py
Due: check-file-size, check-type-ignore

docs(stream): document log/topic semantic and sys_read dict-return contract
  rust/kernel/src/core/stream/mod.rs
Due: none

feat(pipe): add WalPipeCore + sys_setattr(io_profile=wal) for DT_PIPE
  rust/kernel/src/core/pipe/mod.rs
  rust/kernel/src/core/pipe/wal.rs
  rust/kernel/src/kernel.rs
Due: none

feat(readme): add YAML frontmatter to generated connector READMEs
  tests/integration/connectors/test_schema_generator.py
Due: check-type-ignore

fix(readme): quote description in frontmatter; expose get_schema() on generator
  src/nexus/bricks/parsers/readme_resolver.py
  tests/unit/bricks/parsers/test_readme_resolver.py
Due: check-file-size, check-type-ignore

feat(readme): add YAML frontmatter to gmail, calendar, hn connector READMEs
  src/nexus/backends/connectors/calendar/README.md
  src/nexus/backends/connectors/gmail/README.md
  src/nexus/backends/connectors/hn/README.md
Due: none

feat(readme): register ReadmePathResolver in factory orchestrator
  src/nexus/factory/orchestrator.py
Due: check-file-size, check-type-ignore

fix(readme): annotate generator returns for mypy strict
  src/nexus/bricks/parsers/readme_resolver.py
Due: check-file-size, check-type-ignore

feat(readme): add ReadmePathResolver for .readme/ virtual overlay
  src/nexus/bricks/parsers/readme_resolver.py
  tests/unit/bricks/parsers/test_readme_resolver.py
Due: check-file-size, check-type-ignore

feat(readme): register connector backends in ReadmePathResolver at mount/unmount
  src/nexus/bricks/mount/mount_service.py
Due: check-file-size, check-type-ignore

test(readme): align frontmatter tests with merged generator format
  tests/integration/connectors/test_schema_generator.py
Due: check-type-ignore
