Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

test(search): live e2e for read-gated search scope (#4557)
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  scripts/test_read_gate_e2e.py
Due: check-file-size, check-type-ignore

chore: drop search.py size-cap exception obsoleted by #4552 serializer split
  .pre-commit-hooks/check_file_size.py
Due: check-file-size

feat(search): DaemonConfig recency knobs + fail-soft stats counter (#4543)
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_recency.py
Due: check-file-size, check-type-ignore

fix(search): route recency mtime hydration through the daemon owner loop (#4543)
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_daemon_recency.py
Due: check-file-size, check-type-ignore

feat(search): recency boost core — RECENCY_WORDS + hyperbolic decay (#4543)
  src/nexus/bricks/search/recency.py
  src/nexus/bricks/search/results.py
  src/nexus/contracts/search_types.py
  tests/unit/bricks/search/test_recency.py
Due: check-file-size, check-type-ignore

feat(search): recency boost chokepoint + mtime hydration in daemon.search (#4543)
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_daemon_backend_routing.py
  tests/unit/bricks/search/test_daemon_fusion_params.py
  tests/unit/bricks/search/test_daemon_recency.py
  tests/unit/bricks/search/test_daemon_zone_runner.py
Due: check-file-size, check-type-ignore

docs(spec): recency decay design for search ranking (#4543)
  docs/superpowers/specs/2026-07-31-search-recency-decay-design.md
Due: none

docs(plan): implementation plan for search recency decay (#4543)
  docs/superpowers/plans/2026-07-31-search-recency-decay.md
Due: none

feat(search): recency request params + recency_boost response field (#4543)
  src/nexus/server/api/v2/routers/_search_serialize.py
  src/nexus/server/api/v2/routers/search.py
  tests/unit/bricks/search/test_search_result_serialize.py
  tests/unit/server/api/v2/test_search_recency_param.py
Due: check-file-size, check-type-ignore

feat(search): thread recency knobs through federated dispatcher, local-only (#4543)
  src/nexus/bricks/search/federated_search.py
  src/nexus/server/api/v2/routers/search.py
  tests/integration/bricks/search/test_federated_search.py
Due: check-file-size, check-type-ignore

feat(search): default recency_mode to auto — zero-config recency handling (#4543)
  docs/superpowers/specs/2026-07-31-search-recency-decay-design.md
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_daemon_recency.py
  tests/unit/bricks/search/test_recency.py
Due: check-file-size, check-type-ignore

fix(search): reconcile recency knobs with #4541/#4544 signature contracts (#4543)
  src/nexus/bricks/search/federated_search.py
  tests/unit/bricks/search/test_daemon_fusion_params.py
  tests/unit/bricks/search/test_daemon_recency.py
Due: check-file-size, check-type-ignore

fix(search): expose recency_attach_failures in stats + doc clarifications (#4543)
  docs/superpowers/specs/2026-07-31-search-recency-decay-design.md
  src/nexus/bricks/search/daemon.py
  src/nexus/server/api/v2/routers/search.py
  tests/unit/bricks/search/test_recency.py
Due: check-file-size, check-type-ignore

feat(search): expose recency env knobs in the stack compose template (#4543)
  nexus-stack.yml
Due: none

feat(search): declare recency knobs on SearchBrickProtocol (#4543)
  src/nexus/contracts/protocols/search.py
  tests/integration/bricks/search/test_brick_protocol.py
Due: check-file-size, check-type-ignore

chore: regen surface YAML line refs + ruff-format daemon/plan markdown (#4543)
  docs/superpowers/plans/2026-07-31-search-recency-decay.md
  src/nexus/bricks/search/daemon.py
Due: check-file-size, check-type-ignore

chore(surface): regen line refs after #4557 read-gate rebase (#4543)
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

fix(ci): nexus-fs import gate — min of 5 runs, not median of 3
  .github/workflows/test.yml
Due: none

fix(search): stop silently dropping docs whose file_paths row hasn't landed (#4566)
  docs/surface-coverage/api-rpc-surface-coverage.yaml
  nexus-stack.yml
  src/nexus/bricks/mount/mount_service.py
  src/nexus/bricks/search/daemon.py
  src/nexus/server/api/v2/routers/search.py
  tests/unit/bricks/search/test_daemon_explicit_index_path_wait.py
  tests/unit/server/api/v2/test_search_index_skipped_409.py
Due: check-file-size, check-type-ignore

chore(deps): bump nexus-vfs pin → SR branch (ServiceDecl + bring_up_services)
  Cargo.lock
  Cargo.toml
  Dockerfile
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

fix(search): close #4566 follow-up gaps — covered-version gate + stale test rewrite
  src/nexus/bricks/search/daemon.py
  tests/integration/search/test_connector_search_indexing.py
  tests/unit/bricks/search/test_daemon_consumer_covered_gate.py
  tests/unit/bricks/search/test_daemon_explicit_index_path_wait.py
Due: check-file-size, check-type-ignore

feat(nexusd): full daemon assembly — compose kernel boot + nexus services via the SR
  Cargo.lock
  Cargo.toml
  rust/nexusd/Cargo.toml
  rust/nexusd/src/main.rs
  rust/services/src/acp/mod.rs
  rust/services/src/managed_agent/mod.rs
Due: none

build(nexusd): ship nexusd-full from the nexus-local assembly crate
  .github/workflows/test.yml
  Dockerfile
Due: none

fix(search): live-e2e hardening — freshness-aware covered gate + refresh-loop gate + post-index guard (#4566)
  src/nexus/bricks/search/daemon.py
  tests/unit/bricks/search/test_daemon_consumer_covered_gate.py
  tests/unit/bricks/search/test_daemon_explicit_index_path_wait.py
Due: check-file-size, check-type-ignore

chore(deps): repoint nexus-vfs pin 520768934 -> f9613915b
  Cargo.lock
  Cargo.toml
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

chore: drop unused Literal import
  src/nexus/bricks/search/daemon.py
Due: check-file-size, check-type-ignore

refactor(search): consolidate 13-kwarg search() into SearchRequest dataclass
  src/nexus/bricks/search/daemon.py
  src/nexus/bricks/search/federated_search.py
  src/nexus/contracts/protocols/search.py
  src/nexus/contracts/search_types.py
  src/nexus/server/api/v2/routers/search.py
  tests/integration/bricks/search/test_daemon_search_pg.py
  tests/integration/bricks/search/test_error_paths.py
  tests/integration/search/test_zone_isolation.py
  tests/unit/bricks/search/test_daemon_backend_routing.py
  tests/unit/bricks/search/test_daemon_fusion_params.py
  tests/unit/bricks/search/test_daemon_recency.py
  tests/unit/bricks/search/test_daemon_zone_runner.py
  tests/unit/bricks/search/test_final_list_page_pooling.py
Due: check-file-size, check-type-ignore

fix: adjust test mocks + assertions for SearchRequest call shape
  tests/unit/bricks/search/test_final_list_page_pooling.py
  tests/unit/server/api/v2/test_search_expand_param.py
  tests/unit/server/api/v2/test_search_recency_param.py
  tests/unit/server/api/v2/test_search_zone_runner.py
Due: check-type-ignore

fix: relax _search_on_current_loop search_type to str
  src/nexus/bricks/search/daemon.py
Due: check-file-size, check-type-ignore

chore: ruff imports/format after SearchRequest migration
  src/nexus/contracts/search_types.py
  tests/integration/bricks/search/test_daemon_search_pg.py
  tests/integration/bricks/search/test_error_paths.py
  tests/unit/bricks/search/test_daemon_backend_routing.py
  tests/unit/bricks/search/test_daemon_fusion_params.py
  tests/unit/bricks/search/test_daemon_recency.py
  tests/unit/bricks/search/test_daemon_zone_runner.py
  tests/unit/bricks/search/test_final_list_page_pooling.py
Due: check-file-size, check-type-ignore

fix: migrate _capture_daemon mock to SearchRequest positional shape
  tests/unit/bricks/search/test_final_list_page_pooling.py
Due: check-type-ignore

chore(surface-matrix): regen after SearchRequest refactor line drift
  docs/surface-coverage/api-rpc-surface-coverage.yaml
Due: none

fix: relax SearchRequest.search_type to str + wrap batch_search caller
  src/nexus/bricks/search/daemon.py
  src/nexus/contracts/search_types.py
Due: check-file-size, check-type-ignore

refactor(search-router): delete _get_search_daemon re-export tombstone
  src/nexus/server/api/v2/routers/search.py
Due: check-file-size, check-type-ignore

test(managed-agent): daemon-level raw ACP tunnel E2E over gRPC (#36)
  .github/workflows/test.yml
  tests/integration/test_managed_agent_tunnel_e2e.py
Due: check-type-ignore

fix(services): service-managed-agent pulls subprocess-host
  rust/services/Cargo.toml
Due: none

docs(managed-agent): correct spawn_spec docstrings to DT_STREAM + /proc
  rust/services/src/managed_agent/mod.rs
Due: none

chore(deps): bump nexus-vfs pin -> 5f8b898e (Call readiness gate)
  Cargo.lock
  Cargo.toml
  dockerfiles/Dockerfile.minimal
  dockerfiles/Dockerfile.raft-server
  dockerfiles/Dockerfile.raft-witness
Due: none

test(managed-agent): drop client-side boot-window workaround
  tests/integration/test_managed_agent_tunnel_e2e.py
Due: check-type-ignore

add Benchmark (pytest) benchmark result for 1e92c1e5b5474f0b6dde112800f14d31327f474c
  dev/bench-full/data.js
Due: none

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
