Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: rpc-parity, version-consistency

rpc-parity:
  name: RPC Parity Check
  entry: bash -c 'uv run pytest tests/unit/server/test_rpc_parity.py::test_all_public_methods_are_exposed_or_excluded -v'
  language: system
  pass_filenames: false

version-consistency:
  name: Version Consistency Check
  entry: bash -c '.venv/bin/python -m pytest tests/unit/test_version_consistency.py::test_version_consistency -v --tb=short'
  language: system
  pass_filenames: false

chore(#484): Add trailing newlines to files
  .claude/skills/mcp-builder/LICENSE.txt
  .claude/skills/mcp-builder/reference/evaluation.md
  .claude/skills/mcp-builder/reference/node_mcp_server.md
  .claude/skills/mcp-builder/reference/python_mcp_server.md
  .claude/skills/mcp-builder/scripts/evaluation.py
  tests/evaluation/README.md
  tests/evaluation/mcp_evaluation.xml
Due: none

connector
  src/nexus/__init__.py
  src/nexus/backends/cache_mixin.py
  src/nexus/backends/gcs_connector.py
  src/nexus/backends/s3_connector.py
  src/nexus/cli/commands/skills.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_mounts.py
  src/nexus/core/nexus_fs_skills.py
  src/nexus/core/permissions.py
  src/nexus/server/auth/database_key.py
  src/nexus/server/rpc_server.py
  src/nexus/skills/manager.py
  src/nexus/skills/mcp_models.py
  src/nexus/skills/mcp_mount.py
  src/nexus/skills/registry.py
Due: rpc-parity, version-consistency

connector
  src/nexus/__init__.py
  src/nexus/cli/commands/server.py
  src/nexus/cli/utils.py
  src/nexus/config.py
  src/nexus/skills/registry.py
  tests/unit/skills/test_skill_exporter.py
  tests/unit/skills/test_skill_manager.py
  tests/unit/skills/test_skill_registry.py
  tests/unit/storage/conftest.py
  tests/unit/storage/test_time_travel.py
  tests/unit/sync/conftest.py
  tests/unit/sync/test_sync.py
Due: version-consistency

test: Add conftest fixtures to isolate MCP tests from env pollution
  tests/integration/mcp/conftest.py
  tests/unit/mcp/conftest.py
Due: none

test: Make MCP error assertions more flexible
  tests/integration/mcp/test_mcp_server_integration.py
  tests/unit/mcp/test_mcp_server_tools.py
Due: none

fix(#484): Update MCP test assertions for improved error messages
  tests/integration/mcp/test_mcp_server_integration.py
  tests/unit/mcp/test_mcp_server_tools.py
Due: none

connector (#550)
  src/nexus/__init__.py
  src/nexus/backends/cache_mixin.py
  src/nexus/backends/gcs_connector.py
  src/nexus/backends/s3_connector.py
  src/nexus/cli/commands/server.py
  src/nexus/cli/commands/skills.py
  src/nexus/cli/utils.py
  src/nexus/config.py
  src/nexus/core/nexus_fs.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_mounts.py
  src/nexus/core/nexus_fs_skills.py
  src/nexus/core/permissions.py
  src/nexus/server/auth/database_key.py
  src/nexus/server/rpc_server.py
  src/nexus/skills/manager.py
  src/nexus/skills/mcp_models.py
  src/nexus/skills/mcp_mount.py
  src/nexus/skills/registry.py
  tests/integration/mcp/conftest.py
  tests/integration/mcp/test_mcp_server_integration.py
  tests/unit/mcp/conftest.py
  tests/unit/mcp/test_mcp_server_tools.py
  tests/unit/skills/test_skill_exporter.py
  tests/unit/skills/test_skill_manager.py
  tests/unit/skills/test_skill_registry.py
  tests/unit/storage/conftest.py
  tests/unit/storage/test_time_travel.py
  tests/unit/sync/conftest.py
  tests/unit/sync/test_sync.py
Due: rpc-parity, version-consistency

feat(#484): Integrate MCP client for real tool evaluation with Opus 4.5
  tests/evaluation/run_evaluation.py
Due: none

feat(evaluation): Add HTTP and stdio transport support for MCP evaluation (#484)
  tests/evaluation/run_evaluation.py
Due: none

feat(#484): Add HTTP/stdio transport and authentication for MCP evaluation
  tests/evaluation/run_evaluation.py
Due: none

fix(#484): Fix parallel tool calls in MCP evaluation
  tests/evaluation/run_evaluation.py
Due: none

fix(#484): Fix lint errors in evaluation script
  tests/evaluation/run_evaluation.py
Due: none

fix(#484): Apply ruff formatting to evaluation script
  tests/evaluation/run_evaluation.py
Due: none

feat(#555): Add pagination to MCP server list/search tools
  src/nexus/mcp/server.py
  tests/unit/mcp/test_mcp_server_tools.py
Due: none

feat(#555): Add pagination to MCP server list/search tools (#558)
  src/nexus/mcp/server.py
  tests/unit/mcp/test_mcp_server_tools.py
Due: none

add hacker news mount
  src/nexus/backends/__init__.py
  src/nexus/backends/cache_mixin.py
  src/nexus/backends/hn_connector.py
  src/nexus/backends/registry.py
  src/nexus/core/nexus_fs_core.py
  src/nexus/core/nexus_fs_mounts.py
  src/nexus/core/nexus_fs_search.py
  tests/unit/backends/test_hn_connector.py
Due: rpc-parity

feat(mcp): Add response_format parameter for optimized token usage
  src/nexus/mcp/formatters.py
  src/nexus/mcp/server.py
Due: none

feat(mcp): Add response_format parameter for optimized token usage (#560)
  src/nexus/mcp/formatters.py
  src/nexus/mcp/server.py
Due: none

fix(#484): Update MCP integration tests for paginated responses
  tests/integration/mcp/test_mcp_server_integration.py
Due: none

fix(#559): Update MCP integration tests for paginated response format
  tests/integration/mcp/test_mcp_server_integration.py
Due: none

Path conditions:
  rpc-parity: any of: ^src/nexus/core/nexus_fs.*\.py$
  version-consistency: any of: ^(pyproject\.toml|src/nexus/__init__\.py)$
