Repository nexi-lab/nexus: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-size, check-type-ignore, rust-fmt-fast, rust-fmt-raft, rust-clippy-fast, rust-clippy-raft

check-file-size:
  name: Check File Size Limit
  entry: python .pre-commit-hooks/check_file_size.py
  language: python

check-type-ignore:
  name: Block New Type Ignores
  entry: python .pre-commit-hooks/check_type_ignore.py
  language: python

rust-fmt-fast:
  name: Rust Format Check (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo fmt --check'
  language: system
  pass_filenames: false

rust-fmt-raft:
  name: Rust Format Check (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo fmt --check'
  language: system
  pass_filenames: false

rust-clippy-fast:
  name: Rust Clippy (nexus_fast)
  entry: bash -c 'cd rust/nexus_fast && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

rust-clippy-raft:
  name: Rust Clippy (nexus_raft)
  entry: bash -c 'cd rust/nexus_raft && cargo clippy --all-features -- -D warnings'
  language: system
  pass_filenames: false

fix(auth/oauth): defer user provisioning until after outer tx commits
  src/nexus/bricks/auth/oauth/user_auth.py
Due: check-file-size, check-type-ignore

fix(docker): unblock gws CLI + supply S3 creds to the container
  dockerfiles/docker-entrypoint.sh
  nexus-stack.yml
Due: none

fix(server/auth): fall back to OAuth provider when no DatabaseLocalAuth
  src/nexus/server/auth/auth_routes.py
  tests/unit/server/test_auth_provider_fallback.py
Due: check-file-size, check-type-ignore

fix(server/auth): validate OAuth state on callbacks (CSRF — P2.5)
  src/nexus/server/auth/auth_routes.py
  src/nexus/server/auth/oauth_state_store.py
  tests/unit/server/test_oauth_state_csrf_routes.py
  tests/unit/server/test_oauth_state_store.py
Due: check-file-size, check-type-ignore

refactor(lib/oauth): Microsoft provider as UniversalOAuthProvider subclass
  src/nexus/bricks/auth/oauth/providers/microsoft.py
  src/nexus/lib/oauth/providers/microsoft.py
Due: check-file-size, check-type-ignore

feat(lib/oauth): UniversalOAuthProvider (RFC 6749 + discovery/explicit endpoints)
  src/nexus/lib/oauth/tests/test_universal.py
  src/nexus/lib/oauth/universal.py
Due: check-file-size, check-type-ignore

refactor(lib/oauth): X provider as UniversalOAuthProvider subclass (base PKCE)
  src/nexus/bricks/auth/oauth/providers/x.py
  src/nexus/lib/oauth/providers/x.py
Due: check-file-size, check-type-ignore

fix(oauth): oauth.yaml provider_class paths point to canonical lib/oauth
  configs/oauth.yaml
Due: none

refactor(fs): _oauth_support lazy-imports providers from lib/oauth
  src/nexus/fs/_oauth_support.py
Due: check-file-size, check-type-ignore

feat(lib/oauth): add Slack OAuth v2 provider (bot token)
  src/nexus/bricks/auth/oauth/providers/slack.py
  src/nexus/lib/oauth/providers/__init__.py
  src/nexus/lib/oauth/providers/slack.py
  src/nexus/lib/oauth/tests/test_slack_provider.py
Due: check-file-size, check-type-ignore

refactor(lib/oauth): Google provider as UniversalOAuthProvider subclass
  src/nexus/bricks/auth/oauth/providers/google.py
  src/nexus/lib/oauth/providers/__init__.py
  src/nexus/lib/oauth/providers/google.py
Due: check-file-size, check-type-ignore

fix(rebac): skip ObjectTypeMapper for PipeRouteResult / StreamRouteResult
  src/nexus/bricks/rebac/enforcer.py
  tests/unit/rebac/test_check_rebac_pipe_route.py
Due: check-file-size, check-type-ignore

fix(docker): retry zoekt-builder go install on transient proxy timeouts
  Dockerfile
Due: none

fix(oauth): bind state to HttpOnly cookie, split auth DI, unset stale AWS_PROFILE
  dockerfiles/docker-entrypoint.sh
  nexus-stack.yml
  src/nexus/server/auth/auth_routes.py
  src/nexus/server/auth/oauth_state_store.py
  tests/unit/server/test_auth_provider_fallback.py
  tests/unit/server/test_oauth_state_csrf_routes.py
  tests/unit/server/test_oauth_state_store.py
Due: check-file-size, check-type-ignore

fix(docker): pass AWS_*_FILE through compose, fail closed on bad AWS_PROFILE
  dockerfiles/docker-entrypoint.sh
  nexus-stack.yml
Due: none

fix(ci): satisfy strict mypy in universal.py; update test mock to lib.oauth path
  src/nexus/lib/oauth/universal.py
  tests/unit/fs/test_auth_cli.py
Due: check-file-size, check-type-ignore

fix(oauth,docker): concurrent-safe authorize URL, declared dep, exact profile match
  dockerfiles/docker-entrypoint.sh
  pyproject.toml
  src/nexus/lib/oauth/providers/google.py
  src/nexus/lib/oauth/universal.py
  src/nexus/server/fastapi_server.py
  tests/unit/lib/test_oauth_universal_concurrency.py
  tests/unit/server/test_aws_profile_matcher.py
Due: check-file-size, check-type-ignore

fix(docker): fail closed on container-unreachable AWS_*_FILE paths
  dockerfiles/docker-entrypoint.sh
Due: none

fix(oauth,docker): honor AWS_*_FILE env, defer binding cookie clear to success
  dockerfiles/docker-entrypoint.sh
  src/nexus/server/auth/auth_routes.py
  tests/unit/server/test_oauth_state_csrf_routes.py
Due: check-file-size, check-type-ignore

fix(docker): scope AWS_*_FILE fail-close to AWS_PROFILE use; normalize fail-open flag
  dockerfiles/docker-entrypoint.sh
Due: none

fix(docker): normalize AWS_*_FILE envs before AWS_PROFILE validation
  dockerfiles/docker-entrypoint.sh
Due: none

fix(docker): EOF-safe AWS profile matcher
  dockerfiles/docker-entrypoint.sh
  tests/unit/server/test_aws_profile_matcher.py
Due: check-type-ignore

fix(oauth): stateless signed state + CORS credentials + AWS_PROFILE validation
  dockerfiles/docker-entrypoint.sh
  src/nexus/bricks/auth/oauth/user_auth.py
  src/nexus/server/auth/auth_routes.py
  src/nexus/server/auth/oauth_init.py
  src/nexus/server/auth/oauth_state_store.py
  src/nexus/server/fastapi_server.py
  tests/unit/server/test_oauth_state_csrf_routes.py
  tests/unit/server/test_oauth_state_store.py
Due: check-file-size, check-type-ignore

refactor(docker): remove zoekt from all docker images and presets
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  Dockerfile
  dockerfiles/Dockerfile.zoekt
  dockerfiles/compose.yaml
  dockerfiles/docker-entrypoint.sh
  dockerfiles/entrypoint-helpers.sh
  nexus-stack.yml
  src/nexus/cli/commands/init_cmd.py
  src/nexus/cli/commands/stack.py
  src/nexus/cli/data/nexus-stack.yml
  src/nexus/cli/port_utils.py
  tests/e2e/test_first_run_ux.py
  tests/unit/cli/test_port_utils.py
  tests/unit/cli/test_stack.py
Due: check-file-size, check-type-ignore

test(cli): update shared-preset compose_profiles after zoekt removal
  tests/unit/cli/test_init_cmd.py
Due: check-type-ignore

docs(auth): nexus-bot daemon implementation plan (#3804)
  docs/superpowers/plans/2026-04-19-nexus-bot-daemon.md
Due: none

docs(auth): nexus-bot daemon + connector consumption design (#3804)
  docs/superpowers/specs/2026-04-19-nexus-bot-daemon-design.md
Due: none

feat(server): ES256 JWT signer for daemon tokens (#3804)
  src/nexus/server/api/v1/__init__.py
  src/nexus/server/api/v1/jwt_signer.py
  src/nexus/server/api/v1/tests/__init__.py
  src/nexus/server/api/v1/tests/test_jwt_signer.py
Due: check-file-size, check-type-ignore

feat(auth): daemon audit columns + daemon_machines/enroll_tokens tables (#3804)
  src/nexus/bricks/auth/postgres_profile_store.py
  src/nexus/bricks/auth/tests/test_postgres_profile_store.py
Due: check-file-size, check-type-ignore

fix(auth): atomic single-use claim for enroll tokens (#3804)
  src/nexus/server/api/v1/enroll_tokens.py
  src/nexus/server/api/v1/tests/test_enroll_tokens.py
Due: check-file-size, check-type-ignore

feat(server): /v1/auth-profiles push route with audit stamps (#3804)
  src/nexus/bricks/auth/postgres_profile_store.py
  src/nexus/bricks/auth/tests/test_postgres_profile_store.py
  src/nexus/server/api/v1/routers/auth_profiles.py
  src/nexus/server/api/v1/tests/test_auth_profiles_router.py
Due: check-file-size, check-type-ignore

feat(server): HMAC-signed single-use enroll tokens (#3804)
  src/nexus/server/api/v1/enroll_tokens.py
  src/nexus/server/api/v1/tests/conftest.py
  src/nexus/server/api/v1/tests/test_enroll_tokens.py
Due: check-file-size, check-type-ignore

feat(server): /v1/daemon enroll + refresh routes (#3804)
  src/nexus/server/api/v1/routers/__init__.py
  src/nexus/server/api/v1/routers/daemon.py
  src/nexus/server/api/v1/tests/test_daemon_router.py
Due: check-file-size, check-type-ignore

fix(auth): sign-raw refresh body + tenant-scoped machine lookup (#3804)
  src/nexus/server/api/v1/routers/daemon.py
  src/nexus/server/api/v1/tests/test_daemon_router.py
Due: check-file-size, check-type-ignore

chore(deps): add watchdog for nexus-bot source watchers (#3804)
  pyproject.toml
  uv.lock
Due: none

feat(auth): upsert_with_credential accepts audit stamps (#3804)
  src/nexus/bricks/auth/postgres_profile_store.py
  src/nexus/bricks/auth/tests/test_postgres_profile_store.py
Due: check-file-size, check-type-ignore

feat(daemon): macOS launchd installer + plist template (#3804)
  pyproject.toml
  src/nexus/bricks/auth/daemon/installer.py
  src/nexus/bricks/auth/daemon/templates/__init__.py
  src/nexus/bricks/auth/daemon/templates/com.nexus.daemon.plist.j2
  src/nexus/bricks/auth/daemon/tests/test_installer.py
Due: check-file-size, check-type-ignore

feat(daemon): push queue + Pusher with envelope + dedupe (#3804)
  src/nexus/bricks/auth/daemon/push.py
  src/nexus/bricks/auth/daemon/queue.py
  src/nexus/bricks/auth/daemon/tests/test_push.py
  src/nexus/bricks/auth/daemon/tests/test_queue.py
Due: check-file-size, check-type-ignore

fix(daemon): wrap EncryptionProvider with DEK/AESGCM adapter for Pusher (#3804)
  src/nexus/bricks/auth/daemon/cli.py
  src/nexus/bricks/auth/daemon/tests/test_cli.py
Due: check-file-size, check-type-ignore

feat(server): register /v1 daemon routers in create_app (#3804)
  src/nexus/server/fastapi_server.py
Due: check-file-size, check-type-ignore

Path conditions:
  check-file-size: any of: \.py$, but not: ^tests/
  check-type-ignore: any of: \.py$, but not: ^\.pre-commit-hooks/
  rust-fmt-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-fmt-raft: any of: ^rust/nexus_raft/.*\.rs$
  rust-clippy-fast: any of: ^rust/nexus_fast/.*\.rs$
  rust-clippy-raft: any of: ^rust/nexus_raft/.*\.rs$
